[2020-07-03 23:09] alejandrox1 commented on #774
Reopening 'cas i wanna propose this for the ci signal subproject's charter
/reopen

[2020-07-07 07:30] cpanato opened #1136 "Cut 1.19.0-rc.0 release"
## Scheduled to happen: Thu, 2020-07-09

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1594292471118400)
  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-07-09 10:59] cpanato commented on #1136
/assign

[2020-07-09 11:05] cpanato commented on #1136
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-07-09 11:04:45+0000</tt> FAILING sig-release-master-blocking#kind-ipv6-master-parallel <a href="https://testgrid.k8s.io/sig-release-maste

[2020-07-10 06:50] cpanato commented on #1136
1.19 branch is out
/close

[2020-07-10 06:50] #1136 closed

[2020-07-12 02:41] markyjackson-taulia commented on #1073
This can be closed as @ameukam is working through the final bit with dns but this investigation is completed.
/close

[2020-07-12 02:43] justaugustus commented on #1073
Let's continue to track this until Triage Party is live for SIG Release.
/reopen

[2020-07-12 02:45] markyjackson-taulia commented on #1073
My bad, should have talked to more people before just closing. Won't happen again.

[2020-07-12 02:51] justaugustus commented on #1073
Not a big deal. Just want to make sure we close the loop. :)
/assign @ameukam @Verolop @xmudrii

[2020-07-12 21:57] markyjackson-taulia commented on #1050
/remove-lifecycle stale

[2020-07-12 22:02] mrbobbytables commented on #1050
I believe the conclusion was that we are a -1 on creating a leads channel.

[2020-07-12 22:47] justaugustus commented on #1050
/shrug
/close

[2020-07-12 22:47] #1050 closed

[2020-07-13 14:05] cpanato opened #1143 "Cut 1.19.0-rc.1 release"
## Scheduled to happen: Tue, 2020-07-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1594727115191500)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] S

[2020-07-13 14:06] cpanato commented on #1143
/milestone v1.19

[2020-07-14 10:18] LappleApple commented on #966
/assign @LappleApple

[2020-07-14 11:44] cpanato commented on #1143
/assign

[2020-07-14 11:48] cpanato commented on #1143
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2020-07-14 11:48:36+0000</tt> FAILING sig-release-1.19-blocking#kind-ipv6-1.19-parallel <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#kind-

[2020-07-14 16:07] cpanato commented on #1143
rc is out
/close

[2020-07-14 16:08] #1143 closed

[2020-07-15 07:27] saschagrunert opened #1146 "Cut 1.18.6 release"
## Scheduled to happen: Wed, 2019-07-15

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1594801536207000)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-07-15 07:27] saschagrunert opened #1147 "Cut 1.17.9 release"
## Scheduled to happen: Wed, 2019-07-15

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1594800690204900)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notification [email](https://link-to-email-on-kubernetes-announce-

[2020-07-15 07:28] saschagrunert opened #1148 "Cut 1.16.13 release"
## Scheduled to happen: Wed, 2019-07-15

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1594800656204200)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notification [email](https://link-to-email-on-kubernetes-announce-

[2020-07-15 07:29] saschagrunert commented on #1146
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-07-15 09:29:01+0200</tt> FAILING sig-release-1.18-informing#aks-engine-azure-1-18-windows <a href="https://testgrid.k8s.io/sig-release-1.18-informi

[2020-07-15 07:30] saschagrunert commented on #1147
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-07-15 09:29:27+0200</tt> FAILING sig-release-1.17-informing#aks-engine-azure-1-17-windows <a href="https://testgrid.k8s.io/sig-release-1.17-informi

[2020-07-15 07:30] saschagrunert commented on #1148
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-07-15 09:30:10+0200</tt> FAILING sig-release-1.16-informing#aks-engine-azure-1-16-windows <a href="https://testgrid.k8s.io/sig-release-1.16-informi

[2020-07-15 07:31] saschagrunert commented on #1146
/priority important-soon
/kind feature

[2020-07-15 07:31] saschagrunert commented on #1147
/priority important-soon
/kind feature

[2020-07-15 07:31] saschagrunert commented on #1148
/priority important-soon
/kind feature

[2020-07-15 08:08] saschagrunert commented on #1147
/assign

[2020-07-15 08:09] saschagrunert commented on #1148
/assign

[2020-07-15 08:09] cpanato commented on #1146
/assign

[2020-07-15 14:01] LappleApple commented on #539
Hiya, circling back on my question ^^

[2020-07-15 18:32] neolit123 commented on #539
hello, i saw the previous question too, but was hoping that one of the sig-release maintainers will reply.

it doesn't seem directly related.

the idea here was to allow the release team to monitor the tracking issue progress via automation from a machine readable format.
the problem with this idea is that someone has to update the status of a tracking issue and maintainers may forget to do that,

[2020-07-15 21:22] justaugustus opened #1150 "Prune/update Google Build Admins group"
#### What would you like to be added:

- [ ] (@BenTheElder) Update Build Admins in https://github.com/kubernetes/sig-release/blob/master/release-managers.md#build-admins
- [ ] (@BenTheElder) Add new Build Admins to release-managers@: https://github.com/kubernetes/k8s.io/blob/735fc65ca907217948c9d3c8239a6c32662590bd/groups/groups.yaml#L1420-L1456
- [ ] (@justaugustus) Additional access administrivi

[2020-07-16 07:59] justaugustus commented on #850
@BenTheElder @spiffxp -- Updated the issue description with more details and a plan of record.

/kind bug cleanup
/milestone v1.19
/remove-priority important-longterm

/priority critical-urgent
(as this is impacting users who rely on the cross build markers)

[2020-07-16 09:53] LappleApple commented on #1051
Circling back on this to see if we have an answer for @cpanato yet

[2020-07-16 09:56] saschagrunert commented on #1148
/close
it's done

[2020-07-16 09:56] #1148 closed

[2020-07-16 09:56] saschagrunert commented on #1147
/close
it's done

[2020-07-16 09:56] #1147 closed

[2020-07-16 09:57] saschagrunert commented on #1146
/close
it's done

[2020-07-16 09:57] #1146 closed

[2020-07-16 14:59] cpanato commented on #1051
all the issues mentioned are closed. I will assume the responsibility and close this issue. If need to stay open we can reopen.
/close

[2020-07-16 14:59] #1051 closed

[2020-07-16 16:35] LappleApple commented on #857
Hey, during the RT prioritisation sessions it was mentioned that @johnbelamaric and @liggitt are involved in discussions about how we might establish a process around “this has been around for multiple releases, let’s either close or not” enhancements. Wondering if there is another issue filed on this topic in sig-arch/enhancements/other, or if they might be added to this one to centralise the con

[2020-07-16 17:57] spiffxp commented on #850
I'd like to make sure we unblock the cross build stuff first.  A checklist of work is a good start.  I still think we're lacking a description of the desired state.  My guess is the desired state involves no more "generic" version markers.  I'll post more detailed review when I get time later today.

[2020-07-16 20:01] cpanato opened #1154 "Branch FF failed in release-1.19"
### What happened:
While doing the branch FF for the release-1.19 on 16-Jul-2020 we got the following error:

[code]

This is because those files were removed in the release-1.19 branch, but those files got updated in a day before due the patch releases.

One solution is add back those files in the release branch and maybe later remove it again. but this solves the branch FF issue.

more context s

[2020-07-16 20:01] cpanato commented on #1154
/assign

[2020-07-16 20:14] cpanato commented on #1154
/priority important-soon

[2020-07-16 23:06] RobertKielty opened #1155 "Add triage tooltips to the CI Signal Handbook"
Add additional tool tips for the CI Signal Team when carrying out initial job fail/flake triage.

- How download all job run artifacts from **Prow** using **gsutil**
- How to search for code changes made to **Kubernetes** using Testgrid's Click and Search

[2020-07-16 23:07] hasheddan commented on #1155
/kind documentation
/sig release
/priority important-longterm

[2020-07-16 23:07] hasheddan commented on #1155
/assign @RobertKielty

[2020-07-17 09:24] cpanato commented on #1154
pr merged
/close

[2020-07-17 09:43] saschagrunert commented on #1154
We still have to fix the behavior for upcoming release: https://github.com/kubernetes/release/blob/cba1d9c10a6df1bcf06ec1047d06f9d40a72940d/cmd/krel/cmd/changelog.go#L527-L534

I suggest that we remove the files only on the final tag. Should I take care of this?

[2020-07-17 09:45] cpanato commented on #1154
@saschagrunert I can open a PR, then i can get to know a bit this piece as well :), off course if you don't mind.
We will remove that in the final ? or rc.2?

/reopen

[2020-07-17 09:47] saschagrunert commented on #1154
Sounds good, thanks! Go ahead, I think we should be safe if we remove them at the final rather than another rc. This way we're free to chose when to apply Code Thaw in the future.

[2020-07-17 09:52] justaugustus commented on #1154
How do we know when the "final" release is?
No release is guaranteed to have any set number of pre-releases, so whichever solution we choose has to work with a variable amount of pre-releases.

[2020-07-17 09:54] justaugustus commented on #1154
(Just read Sascha's comment)
Agreed that not removing until the official .0 is probably the right move.

[2020-07-17 23:18] #718 closed

[2020-07-19 12:22] RobertKielty commented on #1155
Proposed content new content, will figure out where this should go in consultation with the teams CI-Signal, Test-Infra

As I think think through this now perhaps it might be just as easy to add the relevant gsutil command at the top of the Artifacts links page and leave it at that. But for now I'll write this up here

### Download all log files generated by a run of CI Job in Prow
The logs are st

[2020-07-20 08:26] #1154 closed

[2020-07-21 06:48] cpanato opened #1156 "Cut 1.19.0-rc.2 release"
## Scheduled to happen: Tue, 2020-07-21

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1595348328271900)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-07-21 07:49] justaugustus commented on #1156
Blocked until https://github.com/kubernetes/release/pull/1230 merges.

[2020-07-21 09:29] cpanato commented on #1156
https://github.com/kubernetes/release/pull/1230 is merged

[2020-07-21 14:48] alejandrox1 commented on #966
Coming back to this and with a proposal charter (all feedback welcomed :pray: )

## Proposing Charter for CI Signal subproject

The main aim of the CI signal subproject is meant to be a continuously running team of people that will perform the role of the CI signal team within the release team, https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/ci-signal, focusing on

[2020-07-21 16:55] cpanato commented on #1156
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2020-07-21 16:55:11+0000</tt> FAILING sig-release-1.19-informing#gce-windows-1909-1.19 <a href="https://testgrid.k8s.io/sig-release-1.19-informing#gce-w

[2020-07-21 17:12] saschagrunert commented on #1156
Referencing promotion PR example after mock release: https://github.com/kubernetes/k8s.io/pull/1047

[2020-07-22 20:56] onlydole commented on #320
/remove-lifecycle rotten

[2020-07-23 07:47] LappleApple commented on #966
+1 @alejandrox1 for driving the ideas of async teams, knowledge transfer, resilience, and reliability one more step forward. Two thoughts, open for feedback:

- maybe CI Signal activities become federated, with tactical activities inside the SIGs and those reps meeting through the subproject meetings to discuss strategy, swap best practices, and align?
- along similar lines, there will be SIG-spec

[2020-07-23 17:21] BenTheElder commented on #966
This sounds like a SIG Testing subproject, including things SIG Testing has been working on currently like:

You can see this going on currently, this is consuming a lot of our members's time right now in fact.
KIND is an example of a subproject started with the tactical goal of faster, locally reproducible presubmits to this end.

This effort sounds really great, but I am unclear as to why it is

[2020-07-23 19:29] hasheddan commented on #966
@BenTheElder I think this is an accurate assertion and I feel as though it would be absolutely fine for the CI Signal subproject to live under SIG-testing and still have a per-release CI Signal team under SIG-release if so-desired. While being on the CI Signal team the last few releases I have noticed my responsibilities evolve from opening issues for failing jobs to actually working alongside SIG

[2020-07-23 20:11] #432 closed

[2020-07-23 21:02] alejandrox1 commented on #966
The biggest motivation for this would be based on the answer to this question

The main motivation is to expand the CI signal team to sustain all the Kubernetes releases that are being maintained.
Not only focus on CI signal for the current new minor release but improve the stance for all patch releases and improve the state of things for the release team in general.

Looking at presubmits from th

[2020-07-23 21:05] alejandrox1 commented on #966
I think this would be the way to go.
At the end of the day, SIG Release does not own much of the code that we end up working with so there has to be some collaboration between test owners and sig release.

[2020-07-23 21:23] BenTheElder commented on #966
I think this is a false dichotomy.

Working on the health of the presubmits requires work on all aspects and is not specific to releases in any way. The health of presubmits is an ongoing issue well outside of the release cycle impacting all development.

It is reasonably common that resolving issues with a presubmit requires changes to any or all at once of the tests, test cluster tooling, CI con

[2020-07-23 22:12] #687 closed

[2020-07-23 22:49] alejandrox1 commented on #966
The health of presubmits is indeed an ongoing issues outside of the release cycle (it does impact all development) and it is very common that resolution of issues in presubmits require many changes in many areas.
But from the perspective of the release, there isn't a lot of focus on what could be done better to catch release-impacting issues.

The current workflow treats all test failures/flakes a

[2020-07-23 23:57] BenTheElder commented on #1150
rotation is nearly setup. everyone has done the basic onboarding, filed https://github.com/kubernetes/sig-release/pull/1159 to update the doc here. still need to update the github team and the mailinglist

see also: https://github.com/kubernetes/test-infra/pull/18458

[2020-07-23 23:58] BenTheElder commented on #1150
FYI @listx @simon-gke

xref: b/161396258

[2020-07-24 00:10] BenTheElder commented on #1150
https://github.com/kubernetes/k8s.io/pull/1059 & https://github.com/kubernetes/org/pull/2060

not pruning, there are also non-googlers in these and I don't know how these are being managed, but I'm ensuring the current members are listed

[2020-07-24 00:28] alejandrox1 commented on #926
I'm sorry fejta, will actually get to it within the next couple weeks :smile:
/reopen
/unassign @mrbobbytables  @lachie83

[2020-07-24 00:29] alejandrox1 commented on #926
/remove-lifecycle rotten

[2020-07-24 12:14] LappleApple commented on #966
cc @gianarb

[2020-07-24 16:38] LappleApple opened #1178 "1.19 Action Items Umbrella Issue"
This is a rolling list of issues, topics and action items that come up through the end of the 1.19 cycle.

**WEEK OF July 20**
Bundle of items pitched by @liggitt on CI / prow policy changes
  - [ ] _to formalize in policy and enforce going forward_: require contact information / list email notifications for all jobs that are not on the informing/blocking dashboards the release team looks at. (**Q

[2020-07-24 19:59] tpepper commented on #966
The "vertical" SIGs are naturally going to focus on their areas tactically, including implementing and owning and maintaining their respective tests.  Both SIGs Release and Testing also are usually consumed with just the tactical focus on releases and test-infra respectively, and neither has implementation/ownership/maintenance of k/k's e2e's in their scope.  SIG Testing's charter focuses on frame

[2020-07-25 19:47] onlydole commented on #912
/remove-lifecycle rotten

[2020-07-27 04:28] #457 closed

[2020-07-27 15:49] alejandrox1 commented on #1002
/reopen
/remove-lifecycle rotten

[2020-07-27 16:18] alejandrox1 commented on #1002
@hasheddan do you hve the bandwidth to work on this?

[2020-07-27 16:18] hasheddan commented on #1002
@alejandrox1 yes! Apologies for not addressing sooner

[2020-07-27 16:20] alejandrox1 commented on #1002
:sweat_smile: no need to apologize, jut a friendly ping.
And thank you for filing this!

[2020-07-28 00:53] karenhchu commented on #912
Sure thing. Should I leave this open or close it since it'll be addressed in newer efforts @LappleApple?

[2020-07-28 06:39] lauriapple2 commented on #912
Hey @karenhchu: I'd say let's leave it open for a bit longer, because this week I am going to work a bit on organizing our thoughts on onboarding and driving inclusivity.

[2020-07-28 15:01] tpepper commented on #966
See also https://docs.google.com/document/d/1uuP9kS28u1LFyx83Yl-Sodu7-2N_exPRrEoiwbAe0wc/edit?ts=5f1f3819#heading=h.yvfm60z4bdiq

[2020-07-28 15:19] alejandrox1 commented on #966
Another quick comment: let's de-scope the presubmits from this subproject.

Every now an then the release team's ci signal team help identify failures/flakes from the presubmits and members of this team (as ocmmunity members) could help out as well but given the conversation from the latest proposed charter is that adding presubmits to the scope of this subproject is not completely feasible.

[2020-07-28 20:13] liggitt opened #1162 "CI signal handbook: adjust issue guidance to target specific SIGs"
#### What would you like to be added:

Adjust the CI signal handbook guidance and templates to open one issue per SIG per set-of-failing-tests, rather than one issue per failing/flaking job.

#### Why is this needed:

The CI signal handbook gives [examples of issue templates to open for failing test jobs](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/ci-signal#r

[2020-07-28 20:13] liggitt commented on #1162
cc @kubernetes/ci-signal

[2020-07-28 20:18] justaugustus commented on #1162
/assign @hasheddan @alejandrox1

[2020-07-28 20:19] hasheddan commented on #1162
Thanks for opening this @liggitt! I’ll get this updated ASAP

[2020-07-29 06:49] saschagrunert opened #1164 "Cut 1.19.0-rc.3 release"
## Scheduled to happen: Wed, 2019-07-29

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1596006315427000)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-07-29 06:50] saschagrunert commented on #1156
Let's close this for now and track the open issue directly there.
/close

[2020-07-29 06:50] #1156 closed

[2020-07-29 06:52] saschagrunert commented on #1164
/assign @cpanato
Thank you!

[2020-07-29 06:53] cpanato commented on #1164
/priority important-soon
/kind feature

[2020-07-29 07:06] cpanato commented on #1164
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2020-07-29 07:06:02+0000</tt> FAILING sig-release-1.19-blocking#verify-1.19 <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#verify-1.19&width

[2020-07-29 16:13] saschagrunert commented on #1164
/close

[2020-07-29 16:13] #1164 closed

[2020-07-29 20:03] tpepper commented on #915
Considering this has grown stale, I wonder is this sufficiently covered by https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/emeritus-adviser#evaluation

[2020-07-31 05:03] BenTheElder commented on #1150
I think I've done everything on our end, in theory we'll be publishing these now, see http://go.k8s.io/oncall as well for the new rotation details and slack handle

[2020-08-03 10:55] RobertKielty commented on #1155
@hasheddan if we get a chance this week can we find discuss finding a place for the above content?

[2020-08-03 10:57] hasheddan commented on #1155
@RobertKielty sure!

[2020-08-03 14:43] alejandrox1 commented on #774
lol life lesson: remove the lifecycle rotten label
/reopen
/remove-lifecycle rotten

[2020-08-03 15:02] #571 closed

[2020-08-03 15:10] tpepper commented on #601
Relates IMO partly to conversation in https://github.com/kubernetes/test-infra/issues/18551 and https://github.com/kubernetes/sig-release/issues/966 around establishing more clean test plan.

[2020-08-03 15:25] tpepper commented on #1040
Relates to https://github.com/kubernetes/sig-release/issues/320 and https://github.com/kubernetes/community/issues/4289

[2020-08-03 21:48] kbhawkey opened #1169 "update docs role handbook, reference docs generation"
#### What would you like to be added:
Update the docs release role handbook for generation the reference documentation.

#### Why is this needed:
The docs role handbook is not current.

[2020-08-04 08:13] saschagrunert opened #1171 "Cut 1.19.0-rc.4 release"
## Scheduled to happen: Tue, 2029-08-04

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification]https://kubernetes.slack.com/archives/CJH2GBF7Y/p1596543673491200)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Sen

[2020-08-04 08:15] saschagrunert commented on #1171
Waiting for https://github.com/kubernetes/release/pull/1457 and https://github.com/kubernetes/kubernetes/pull/93667 before starting the release cut.

[2020-08-04 08:16] saschagrunert commented on #1171
/kind feature

[2020-08-04 12:18] cpanato commented on #1171
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2020-08-04 12:12:03+0000</tt> FAILING sig-release-1.19-informing#gce-windows-1909-1.19 <a href="https://testgrid.k8s.io/sig-release-1.19-informing#gce-w

[2020-08-05 07:29] cpanato commented on #1171
release is out
/close

[2020-08-05 07:29] #1171 closed

[2020-08-05 07:29] LappleApple commented on #806
How might I get editing rights to these umbrella issues so that I can check boxes?

I've also asked in the sig-release channel today if I can consolidate these umbrella retro item issues into a new one (adding a v.17/v.18/v.19/v.etc. note to each item) and closing out these old issues. This need was expressed by several  1.19 RT members during prioritisation sessions.

[2020-08-05 10:49] LappleApple commented on #1040
From prioritisation session: Should we bring back the release-blocker tag?

[2020-08-05 10:52] LappleApple commented on #850
Heya, any updates on this since @spiffxp's last comment? Based on chats this week with key Release Team members this remains high-priority. Anything we could delegate here?

[2020-08-05 10:55] LappleApple commented on #759
Heya, are we just waiting for the referenced usage doc to close this out? If so, is there anything we could delegate here? Based on the prioritization chats this week this remains high-priority.

[2020-08-05 10:57] LappleApple commented on #320
Hey @onlydole, are you still actively working on this?

[2020-08-05 13:46] LappleApple commented on #1045
Hey, want to close this @justaugustus ?

[2020-08-05 20:16] neolit123 commented on #850
i think we should have something like:

[code]

and that's all that we need...not sure why the project would need anything else?

markers with `-fast` suffix seems fine for k8s maintainers, but for external consumption it does not make much sense.
IMO, we should remove all `k8s-` markers.

skew test jobs for e.g. kubectl could use ci/latest-x.yy explicitly instead of markers that imply N-1, N-2.
S

[2020-08-05 20:46] neolit123 commented on #759
commented here with my 2c on what markers we should keep around:
https://github.com/kubernetes/sig-release/issues/850#issuecomment-669479097

[2020-08-05 23:33] justaugustus commented on #759
Updated https://github.com/kubernetes/test-infra/blob/master/docs/kubernetes-versions.md with current usage in https://github.com/kubernetes/test-infra/pull/18290.

/close

[2020-08-05 23:34] #759 closed

[2020-08-05 23:55] justaugustus commented on #746
New @kubernetes/build-admins -- please respond to this issue stating that you agree to abide by the guidelines set forth in the [Security Release Process](https://git.k8s.io/security/security-release-process.md).

/assign @spiffxp @BenTheElder @amwat @MushuEE

[2020-08-06 00:06] justaugustus commented on #1045
/close

[2020-08-06 00:07] #1045 closed

[2020-08-06 01:18] BenTheElder commented on #850
Most of CI should be consuming quick builds.
If I wanted to support CI builds in a tool like kind I'd want the fast
builds when possible.
The slow builds are _slow_.

Oppositely, most things don't really need to slow builds. We have little to
no CI that actually depend on these.

On Wed, Aug 5, 2020 at 1:16 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-08-06 13:08] savitharaghunathan commented on #834
1 & 2 are done. 3 is tracked in a separate effort. Closing this issue.

/close

[2020-08-06 13:09] #834 closed

[2020-08-06 15:39] MushuEE commented on #746
I agree to uphold the Kubernetes security embargo.

[2020-08-06 16:48] justaugustus commented on #850
Yep. Chatted w/ Aaron and the description of the issue reflects his request now.

There's still a bit of cleanup to do here on my part around the generic version markers.

There are also the `release/latest**`, which represents pre-release versions.
https://github.com/kubernetes/test-infra/blob/master/docs/kubernetes-versions.md was updated recently to discuss the markers currently in use.

+100

[2020-08-06 18:45] spiffxp commented on #746
I agree to uphold the Kubernetes security embargo.

[2020-08-06 18:55] amwat commented on #746
I agree to uphold the Kubernetes security embargo.

[2020-08-06 18:58] BenTheElder commented on #746
I agree to uphold the Kubernetes security embargo.

On Thu, Aug 6, 2020 at 11:55 AM Amit Watve <notifications@github.com> wrote:

[2020-08-07 00:56] BenTheElder commented on #850
it's true for anyone doing CI though, which is sort of the point of CI
markers.
full blown releases are different.

On Thu, Aug 6, 2020 at 9:48 AM Stephen Augustus <notifications@github.com>
wrote:

[2020-08-07 09:29] LappleApple commented on #924
I think this can be closed now as @savitharaghunathan closed #834 yesterday

[2020-08-07 11:16] LappleApple commented on #1073
/assign

[2020-08-07 16:15] spiffxp commented on #907
I would be interested to hear what test-infra issue have cropped up during the 1.19 cycle that a test-infra freeze would have prevented

[2020-08-09 15:54] #1169 closed

[2020-08-12 18:13] cpanato opened #1179 "Cut 1.16.14 release"
## Scheduled to happen:  Wed, 2020-08-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1597312866089200)

  - [x] Collect metrics and add them to the `Release steps` table below
  - [

[2020-08-12 18:13] cpanato commented on #1179
/milestone v1.19

[2020-08-12 18:14] cpanato commented on #1179
/assign @hasheddan

[2020-08-12 18:15] cpanato opened #1180 "Cut 1.17.10 release"
## Scheduled to happen:  Wed, 2020-08-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1597256323052600)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [

[2020-08-12 18:15] cpanato commented on #1180
/milestone v1.19

[2020-08-12 18:16] cpanato opened #1181 "Cut 1.18.7 release"
## Scheduled to happen:  Wed, 2020-08-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1597256464053800)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [

[2020-08-12 18:16] cpanato commented on #1181
/milestone v1.19

[2020-08-12 18:16] cpanato commented on #1181
/assign

[2020-08-12 18:16] cpanato commented on #1180
/assign

[2020-08-12 18:22] cpanato commented on #1180
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-08-12 18:22:18+0000</tt> FAILING sig-release-1.17-informing#gce-windows-1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-window

[2020-08-12 18:23] cpanato commented on #1181
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-08-12 18:22:54+0000</tt> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-w

[2020-08-12 18:31] hasheddan commented on #1179
Waiting on https://github.com/kubernetes/kubernetes/pull/93697

[2020-08-13 10:02] cpanato commented on #1179
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-08-13 10:02:41+0000</tt> FAILING sig-release-1.16-informing#gce-cos-k8sstable3-serial <a href="https://testgrid.k8s.io/sig-release-1.16-informing#g

[2020-08-13 10:13] cpanato commented on #1179
/assign

[2020-08-13 12:42] cpanato opened #1182 "Cut 1.18.8 release"
## Scheduled to happen:  Thu, 2020-08-13

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1597321898103600)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x

[2020-08-13 12:43] cpanato commented on #1182
/milestone v1.19

[2020-08-13 12:45] cpanato opened #1183 "Cut 1.17.11 release"
## Scheduled to happen:  Thu, 2020-08-13

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1597321872103400)

  - [x] Collect metrics and add them to the `Release steps` table below
  - [

[2020-08-13 12:45] cpanato commented on #1183
/milestone v1.19

[2020-08-13 13:01] seh commented on #1182
Wednesday was 12 August 2020. Did you mean "**Thursday**, 2020-08-13"?

[2020-08-13 13:03] cpanato commented on #1182
@seh thanks fixed

[2020-08-13 13:59] cpanato commented on #1183
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-08-13 13:59:21+0000</tt> FAILING sig-release-1.17-informing#gce-windows-1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-window

[2020-08-13 14:00] cpanato commented on #1182
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-08-13 14:00:07+0000</tt> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-w

[2020-08-13 14:05] cpanato commented on #1180
new Cut release issue: https://github.com/kubernetes/sig-release/issues/1183
closing this one
/close

[2020-08-13 14:06] #1180 closed

[2020-08-13 14:06] cpanato commented on #1181
new Cut release issue: https://github.com/kubernetes/sig-release/issues/1182
closing this one
/close

[2020-08-13 14:06] #1181 closed

[2020-08-13 17:27] cpanato commented on #1179
release is out
/close

[2020-08-13 17:27] #1179 closed

[2020-08-14 01:17] BenTheElder commented on #829
- we can run way more than conformance now on kind and the gap is closing synthetic-wise
- we do block releases on other clusters

[2020-08-14 01:17] #829 closed

[2020-08-14 01:48] alejandrox1 commented on #829
to keep it from showing up in the "things that have been forgotten" list
/remove-lifecycle rotten

[2020-08-14 07:46] cpanato commented on #1183
release is out
/close

[2020-08-14 07:46] #1183 closed

[2020-08-14 07:47] cpanato commented on #1182
release is out
/close

[2020-08-14 07:47] #1182 closed

[2020-08-14 20:34] mkorbi commented on #877
/cc @LappleApple
just wanted to left my 5ct:
- Maybe we should think about a heliocentric release meeting model, means ether having a US/EU and a US/APAC meeting per week, or every second week the one and the other
-  strongly utilize the issues and project boards to document everything
-  rethink the way of doing the release: coming closer to the release we increase meetings from 1 to 5; I person

[2020-08-19 14:29] jeremyrickard opened #1185 "Assemble Kubernetes 1.20 Release Team"
It's hard to believe that the Kubernetes 1.19 release is almost here, but the time is upon us to start assembling the 1.20 release team.

Please review the [Release Team Selection Process](https://github.com/kubernetes/sig-release/tree/master/release-team#release-team-selection) docs for details on the process and criteria.

At this stage we only require nominations for Role Leads. Once role leads

[2020-08-19 14:37] justaugustus commented on #1185
/assign @jeremyrickard
(incoming 1.20 RT Lead)

/assign @alejandrox1
(TL for the Release Team subproject)

[2020-08-20 17:18] puerco commented on #1185
:tada:  I'm very happy to nominate @JamesLaverack as lead of the 1.20 Release Notes team!

[2020-08-20 17:27] mkorbi commented on #1185
For the 1.20 Comms Team I'm very happy to nominate @jrsapi to take over the lead 🚀

[2020-08-20 22:11] sftim opened #1186 "Publish download links during release process"
### What would you like to be added:

The release process as it stands is something like:
- tag source
- build binaries
- push binaries
- build and push OS packages & container images
- update marker files (e.g. https://dl.k8s.io/release/stable-1.12.txt)
- send release notification

I'd like to add a step that publishes download links:
- tag source
- build binaries
- push binaries
- build and push

[2020-08-20 23:08] savitharaghunathan commented on #1185
It was an honor to work with 1.19 release team :)

For the 1.20 Docs Team, I would like to nominate @annajung as the lead! 🎉

[2020-08-21 01:25] palnabarun commented on #1185
I am very happy to nominate @kikisdeliveryservice to take over the lead of the 1.20 Enhancements Team. :rocket: :tada:

It has been an amazing experience and an honour to work with the 1.19 release team. :smile:

[2020-08-21 07:39] saschagrunert commented on #1186
I agree, this should be automated and has been forgotten sometimes in the past.
/priority important-longterm

[2020-08-24 15:35] gianarb commented on #1185
I am happy to nominate @bai for 1.20 Bug Triage Team Lead!!

[2020-08-25 04:10] tstromberg commented on #1073
Anything I can do to help support Triage Party in Kubernetes?

We just released Triage Party v1.3.0, which is mostly a stability release.

[2020-08-25 14:22] LappleApple commented on #1073
Heya, my effort to drive a layout prototype for the RT's version got pushed back due to a few personal and K8s-related developments, but I'll be on this topic again over the next three days.

[2020-08-25 16:17] sftim commented on #1186
Related change: https://github.com/kubernetes/org/issues/2131

[2020-08-26 06:48] saschagrunert opened #1196 "Cut 1.19.0 release"
## Scheduled to happen: Wed, 2020-08-26

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1598429850023400)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-08-26 06:56] saschagrunert commented on #1196
/kind documentation

[2020-08-26 08:16] cpanato commented on #1196
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

**NO FAILING TESTS**

[2020-08-27 06:22] cpanato commented on #1196
release is out
/close

[2020-08-27 06:22] #1196 closed

[2020-08-27 14:07] jeremyrickard opened #1201 "Release Team Lead access for @jeremyrickard @hasheddan @palnabarun @savitharaghunathan"
### GitHub Username(s)

- @jeremyrickard
- @hasheddan
- @palnabarun
- @savitharaghunathan

### Release Cycle

Kubernetes 1.20

### Prerequisites

- [x] Ensure new Release Team Lead:
  - [x] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-d

[2020-08-27 14:07] jeremyrickard commented on #1201
/milestone v1.20
/priority critical-urgent

[2020-08-27 14:12] hasheddan commented on #1201
I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2020-08-27 14:18] savitharaghunathan commented on #1201
✨ I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2020-08-27 14:22] palnabarun commented on #1201
I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2020-08-29 20:28] savitharaghunathan opened #1207 "Improve docs role handbook"
### Elaborate on the following release day tasks

- [x] Clarify on the permissions needed to add `tide/merge-blocker` label

- [x] Permissions required to cut a release. Request for temporary write access.

### Overall improvements:

- [x] ~~How to request access to view Netlify builds~~ - We will circle back later if this access is required

- [x] ~~Netlify access cleanup post release~~ -We will

[2020-08-29 20:31] savitharaghunathan commented on #1207
/kind feature
/sig docs
/sig release
/priority important-longterm

[2020-08-31 15:31] saschagrunert opened #1208 "Cut 1.16.15 release"
## Scheduled to happen: Wed, 2020-09-02

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1599033884008000)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-08-31 16:52] justaugustus commented on #245
Putting this back in progress.
Hoping to close the books on this in v1.20.

[2020-08-31 21:55] jeremyrickard commented on #1201
/assign @alejandrox1 @justaugustus

[2020-08-31 21:55] jeremyrickard commented on #1201
/kind cleanup

[2020-09-01 18:59] tpepper commented on #1208
As the final release this issue should also include closing out any issues in:

 * https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+base%3Arelease-1.16+label%3Ado-not-merge%2Fcherry-pick-not-approved+is%3Aopen
 * https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+base%3Arelease-1.16+label%3Acherry-pick-approved+is%3Aopen+ (should be none)

[2020-09-01 21:13] tpepper opened #1211 "Consider enabling transparency log"
#### What would you like to be added:

Back in 2019 Brandon Philips started [a project to help add security for fetching unsecured web artifacts](https://github.com/merklecounty/rget) and even before that he'd been discussing with SIG Release some ideas to improve the threat model of the Kubernetes project releases.  His work looks like it's evolved to something a bit more specific which helps in

[2020-09-02 08:05] cpanato commented on #1208
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-09-02 08:05:26+0000</tt> FAILING sig-release-1.16-informing#gce-cos-k8sstable3-serial <a href="https://testgrid.k8s.io/sig-release-1.16-informing#g

[2020-09-02 11:44] LappleApple commented on #1178
Going to close this to reconsider a different tracking/issue approach.

[2020-09-02 11:44] #1178 closed

[2020-09-02 16:06] joshti commented on #1185
Hi there! @bowei asked I reach out through this issue to help us merge https://github.com/kubernetes/kubernetes/pull/94241 for k8s 1.20.

Presently the Tide bot isn't seeing the milestone label on the PR so we cannot land it (at-least that's how I understand it). Any thoughts would be appreciated for how we can move this forward 😄

[2020-09-03 09:07] cpanato commented on #1208
release is out
/close

[2020-09-03 09:07] #1208 closed

[2020-09-03 18:26] savitharaghunathan commented on #1207
cc: @annajung

[2020-09-03 18:34] savitharaghunathan commented on #1207
/remove-kind feature
/kind documentation

[2020-09-04 14:24] cpanato opened #1215 "☂️ CI Policies improvements"
This is an issue that will cover the work that needs to be complete in order to have some CI policies and improvements.
We have a previous [issue](https://github.com/kubernetes/sig-release/issues/1178) to describe, but now we know a little bit more so we are creating this issue and the child issues to cover some actions we will do in the following weeks

- [ ] For existing Job: add the contact inf

[2020-09-04 14:26] cpanato opened #1216 "Add the contact information in case of job issue it will send out a notification"
This is to add contact information for existing jobs.

Some jobs do not have contact information so it cannot send out notifications when the job is having issues.

/area release-eng
/area ci
/kind documentation
/priority important-soon
/milestone v1.20

[2020-09-04 14:28] cpanato opened #1217 "Describe and write down the CI policy"
Describe the CI policy for jobs, like:

- having contact information
- resources defined

We have a policy for blocking and informing jobs, https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md .
If we compare this policy with what is proposed in https://github.com/kubernetes/test-infra/issues/18599, what would we add? what would we change?
We should evaluate what changes

[2020-09-04 14:30] cpanato opened #1218 "🏃 Add a presbumit job to validate if updated jobs/new jobs follow the policy and have the necessary information"
After we define the policy, see [Issue](https://github.com/kubernetes/sig-release/issues/1217) we would like to add a presubmit job to validate the policy and check if that enforce the described policy.

Parent Issue: https://github.com/kubernetes/sig-release/issues/1215

/area release-eng
/area ci
/kind documentation
/priority important-soon
/milestone v1.20

[2020-09-04 14:40] cpanato commented on #1215
will close because it is a duplicate of https://github.com/kubernetes/test-infra/issues/18551

/close

[2020-09-04 14:40] #1215 closed

[2020-09-04 14:41] cpanato commented on #1217
will close because it is a duplicate of https://github.com/kubernetes/test-infra/issues/18551

/close

[2020-09-04 14:41] cpanato commented on #1218
will close because it is a duplicate of https://github.com/kubernetes/test-infra/issues/18551

/close

[2020-09-04 14:42] #1218 closed

[2020-09-04 14:46] cpanato commented on #1005
this is done
/close

[2020-09-04 14:46] #1005 closed

[2020-09-08 13:19] cpanato opened #1220 "Cut 1.19.1 release"
## Scheduled to happen: Wed, 2020-09-09

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1599643057034100)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-09-08 17:13] justaugustus commented on #1201
https://github.com/kubernetes/k8s.io/pull/1220 will close this out.
I've taken care of all of the other manual bits and passed off the relevant info to @jeremyrickard.

[2020-09-08 17:17] #1201 closed

[2020-09-09 09:18] cpanato commented on #1220
/assign

[2020-09-09 09:23] cpanato commented on #1220
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

**NO FAILING TESTS**

[2020-09-09 09:23] cpanato commented on #1220
### Testgrid dashboards for 1.19
Boards checked for FLAKY:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2020-09-09 09:22:41+0000</tt> FLAKY sig-release-1.19-blocking#gce-cos-1.19-scalability-100 <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#gce-

[2020-09-09 12:13] LappleApple commented on #1073
Update: I've shared [the prototype doc](https://docs.google.com/document/d/1Yen26GS7VBX5CydwT8lk2j1m6yyllZaqd-oXjyaEGYE/edit#heading=h.e87k3ltggrs8) in my regular Monday session with the Release leads and then yesterday with a broader group at the 1.19 Release Team retro. Seems like we could move forward with setting up the details of the board.

[2020-09-10 10:58] cpanato commented on #1220
release is out
/close

[2020-09-10 10:58] #1220 closed

[2020-09-10 13:29] alejandrox1 commented on #1216
re-opening: this one is useful to work along the proposed work of https://github.com/kubernetes/test-infra/issues/18599 and do what we can in the scope of sig release.
/reopen

[2020-09-10 13:38] alejandrox1 commented on #1217
Reopening this to evaluate how the current release blocking and release informing policy compares with whats proposed in https://github.com/kubernetes/test-infra/issues/18599 .

/reopen

[2020-09-10 16:00] spiffxp opened #1221 "Document policy regarding backports of dependency updates"
Prompted by https://github.com/kubernetes/kubernetes/pull/94367 getting cherry picked with no explicit documentation as to why

From [this slack thread](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1599751989067900) with @justaugustus

/sig release
/area release-eng
/kind documentation

[2020-09-10 18:47] spiffxp commented on #907
It's been about 10 months since this was opened, I haven't seen a strong evidence-based case made for test-infra freeze.  OTOH I believe our responsiveness has allowed us to overcome environmental changes beyond our control.

I remain opposed to the concept of a test-infra freeze aligned with the kubernetes/kubernetes release schedule

[2020-09-10 19:39] eddiezane opened #1222 "Remove SIG-PM references from Enhancements Lead handbook"
#### What would you like to be added:

The [Enhancements Lead handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/enhancements) has references to SIG-PM that need to be updated.

#### Why is this needed:

SIG-PM was [retired](https://github.com/kubernetes/community/pull/4722) back in April.

I didn't see this tracked in any open issues or PRs.

[2020-09-10 19:45] spiffxp commented on #1217
I would recommend we strive to make the criteria something that can be enforced via tests or automation.  I still think the final decision should come down to humans, but it's not clear to me how often people really check against adherence to these criteria.

Taking a look at release-blocking criteria

This used to be charted; `p75_duration` in http://storage.googleapis.com/k8s-metrics/job-health-

[2020-09-10 20:17] spiffxp commented on #907
/milestone clear

[2020-09-10 20:17] spiffxp commented on #907
/milestone v1.19
(forgot, this isn't kubernetes/kubernetes)

[2020-09-11 10:36] RobertKielty opened #1223 "Produce on-boarding video playlist for new CI Signal shadows"
The CI Signal team want to create a series of short videos that help onboard new CI Signal Shadows.

The Videos will provide all relevant information pertaining to Continuous Integration and how CI is implemented on the kubernetes/kubernetes project

The videos are specifically targeted at people who are considering becoming CI Signal shadows but it will also help other k8s contributors better und

[2020-09-13 21:28] #877 closed

[2020-09-14 14:21] alejandrox1 opened #1224 "Create some more CI signal documentation"
This issue may go with #1223 .
Overall, it would be good to have some video and writing on what the following tools are and how to use them

- [ ] Testgrid https://testgrid.k8s.io/
- [ ]  Triage https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce
- [ ]  Prow
- [ ] Prow monitoring https://monitoring.prow.k8s.io/?orgId=1
- [ ]  Prow status https://prow.k8

[2020-09-14 14:22] hasheddan commented on #1224
/assign @RobertKielty
/unassign @roberthbailey

Just a guess ;)

[2020-09-14 14:31] hasheddan commented on #1224
I can get started by writing up an outline for testgrid :+1:

[2020-09-14 15:27] RobertKielty commented on #1223
/cc @alejandrox1 @hasheddan

[2020-09-14 18:38] RobertKielty commented on #1224
I'd also be interested in reading about how to understand Kubernetes behaviour by reading an e2e test.

[2020-09-14 22:13] justaugustus commented on #1222
/assign @kikisdeliveryservice

[2020-09-14 22:18] justaugustus opened #1226 "Release Manager access for Marko Mudrinić (xmudrii)"
### GitHub Username

@xmudrii

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] Addition of a new Release Manager has been discu

[2020-09-14 22:20] justaugustus opened #1227 "Release Manager access for Adolfo, Gianluca, Max, and Taylor"
### GitHub Username

- Adolfo García Veytia (@puerco) (new)
- Gianluca Arbezzano (@gianarb) (new)
- Max Körbächer (@mkorbi) (new)
- Taylor Dolezal (@onlydole) (returning)

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with

[2020-09-14 22:52] kikisdeliveryservice commented on #1222
Coincidentally this PR: https://github.com/kubernetes/sig-release/pull/1228 removes Sig PM from one of the paras and @palnabarun has a PR forthcoming that removes the rest (along with a few other updates)

[2020-09-15 12:25] xmudrii commented on #1226
I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2020-09-15 12:26] xmudrii commented on #1226
@justaugustus I've already joined the required mailing lists (k-dev and sig-release) and Slack channels (sig-release and release-management).

[2020-09-15 15:07] tpepper opened #1229 "alpha.1 documentation"
Looking back through 1.19, 1.18, 1.17 releases' README.md listed schedules, the alpha.1 release is not listed as a trailing action for the release.  In 1.19 and 1.18 it is not listed, and that carried forward to 1.20.  For 1.17 it was listed as an opening action for the release.

This leaves the when/why of the alpha.1 release ambiguous and that's carried forward some confusion into the 1.20 plan.

[2020-09-15 15:08] tpepper commented on #1229
/assign @jeremyrickard @justaugustus
/cc @kubernetes/release-managers

[2020-09-15 15:08] tpepper commented on #1229
/kind documentation

[2020-09-15 15:26] justaugustus commented on #1229
FWIW, this HAS been documented in the past: https://github.com/kubernetes/sig-release/blob/667cf0d44b8fdd41894830b32e1c91415bdc763c/release-engineering/role-handbooks/branch-manager.md#cut-next-alpha / https://github.com/kubernetes/sig-release/pull/965

---

#### Cut next alpha

Recall that an alpha.0 of the next minor release was created during [branch creation](#branch-creation).

The previously

[2020-09-16 02:11] tpepper commented on #1229
Yep.  I should've been more clear that this is about "when", not "how" and have hopefully added words to that in the description now.  I expect this issue to be resolved through a decision which leads to a PR 1.20 README.md schedule to indicate the 1.20 alpha.1 happens at the beginning of the 1.20 cycle, but more generally then for later does it continue to be 1.N's 1.N.0-alpha.1 happens at the be

[2020-09-16 07:24] xmudrii opened #1238 "Cut 1.19.2 release"
## Scheduled to happen: Wed, 2019-09-16

- [ ] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Build & publish packages (debs & rpm

[2020-09-16 07:24] cpanato opened #1239 "Cut 1.19.2 release"
## Scheduled to happen:  Wed, 2020-09-16

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1600247911104100)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-09-16 07:25] cpanato opened #1240 "Cut 1.18.9 release"
## Scheduled to happen:  Wed, 2020-09-16

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1600247891103600)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-09-16 07:25] cpanato opened #1241 "Cut 1.17.12 release"
## Scheduled to happen:  Wed, 2020-09-16

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1600247853103000)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-09-16 07:27] xmudrii commented on #1238
/close
Duplicate of #1239

[2020-09-16 07:27] #1238 closed

[2020-09-16 08:20] xmudrii commented on #1239
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)

**NO FAILING TESTS**

[2020-09-16 08:22] xmudrii commented on #1240
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-09-16 10:22:33+0200</tt> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-w

[2020-09-16 08:23] xmudrii commented on #1241
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-09-16 10:23:15+0200</tt> FAILING sig-release-1.17-blocking#Conformance - GCE - 1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-blocking#Conf

[2020-09-16 08:52] xmudrii commented on #1239
After discussing with the Release Managers, we've decided that this failure should not be harmful, so we'll proceed with the release.

[2020-09-16 08:52] xmudrii commented on #1241
After discussing with the Release Managers, we've decided that this failure should not be harmful, so we'll proceed with the release.

[2020-09-16 09:34] cpanato commented on #1240
/assign

[2020-09-16 09:34] cpanato commented on #1241
/assign

[2020-09-16 09:36] cpanato commented on #1239
/assign

[2020-09-16 21:54] hasheddan commented on #1241
/assign

[2020-09-16 21:54] hasheddan commented on #1240
/assign

[2020-09-16 21:54] hasheddan commented on #1239
/assign

[2020-09-17 07:18] cpanato commented on #1239
release is out!
/close

[2020-09-17 07:18] #1239 closed

[2020-09-17 07:20] cpanato commented on #1240
release is out
/close

[2020-09-17 07:20] #1240 closed

[2020-09-17 07:22] cpanato commented on #1241
release is out!
/close

[2020-09-17 07:22] #1241 closed

[2020-09-17 11:17] #924 closed

[2020-09-17 15:00] justaugustus commented on #1227
This should be all set.
/close

[2020-09-17 15:00] #1227 closed

[2020-09-17 15:08] LappleApple commented on #806
This issue's been updated. All unresolved items previously posted here will be collected in a new issue and reviewed with other, more recent, unresolved retro items.

[2020-09-17 15:08] #806 closed

[2020-09-17 16:02] LappleApple commented on #926
I've identified what seemed like action items and collected them into a separate doc that will be turned into an issue so we can review all past retro items in one place. We can then determine if the items expressed in this particular issue were resolved or not, or if they should be reframed or combined with more recent ideas.

[2020-09-17 16:03] #926 closed

[2020-09-18 10:30] LappleApple commented on #1069
I've updated this list to reflect all items either Closed or Done, and collected the remainder/unresolved items for us to review via a new GitHub issue. There was some slight overlap of issues here and in past retro items so I'll consolidate.

[2020-09-18 10:30] #1069 closed

[2020-09-18 18:28] alejandrox1 commented on #907
Following up the thread: it has been 10 months and no good argument has been brought forward so I think time to close.

/remove-lifecycle rotten
/close

[2020-09-18 18:28] #907 closed

[2020-09-18 18:39] alejandrox1 commented on #915
Dropping a quick note on this one: along with gathering feedback on how the shadowing experience was going, part of the intent was on giving shadows a forum to chat and be heard - the usual retrospective doesn't give a lot of room for shadows to take part in with mentoring issues or to just talk about their experiences.
Also worth mentioning that I have never seen the results of the evaluation (ha

[2020-09-18 18:43] alejandrox1 commented on #908
coming back to this one (excuse the delay).
Couple thing to mention -  scalability 5k job does not need boskos as @wojtek-t mention.

I think the way forward is to work with wg-k8s-infra .
There is an open issue on identifying the infrastructure needed to run scalability jobs in cncf resources https://github.com/kubernetes/k8s.io/issues/851
So I guess we can collaborate with that, move the existin

[2020-09-18 18:46] alejandrox1 commented on #1040
@bai let's chat about this one :smile:

[2020-09-21 15:46] mm4tt commented on #908
Sounds good, let me know if there is anything I can help with

[2020-09-21 17:37] palnabarun commented on #1222
/assign

[2020-09-21 17:41] hasheddan opened #1249 "Cut 1.20.0-alpha.1 release"
## Scheduled to happen: Tue, 2020-09-22

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1600779080037400)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-09-21 17:48] lachie83 commented on #915
I would suggest that we close this issue. Here are the two actions that we are going to take:
* Monthly lead sync to bubble up and challenges and identity possible communication issues
* Encourage more conversation to happen Slack between the leads and shadows

We will also continue the mid-cycle shadow feedback survey as a touch point but this also needs to be monitored for how actionable the fee

[2020-09-21 17:48] #915 closed

[2020-09-21 17:49] lachie83 commented on #925
I've had a conversation with @tpepper and confirmed that there have been no changes to the shadow application for since 1.18.

There was a suggestion by the 1.20 leads to include a question on the applicants preferred pronoun which I add to the 1.20 shadow application and provide to the next EA.

This can be closed.

[2020-09-21 17:49] #925 closed

[2020-09-21 20:21] jeremyrickard opened #1251 "Add Unconscious Bias Training requirement for Release Team Lead Onboarding"
#### What would you like to be added:

Add [CNCF inclusive speaker training](https://training.linuxfoundation.org/training/inclusive-speaker-orientation/) to release lead on-boarding Github issue template.

Additionally, I think we should consider making this a requirement for leads for the other release team roles (enhancements, etc).

#### Why is this needed:
Ref: https://github.com/kubernetes/c

[2020-09-21 20:21] jeremyrickard commented on #1251
ooops!

/milestone v1.20

[2020-09-21 20:22] jeremyrickard commented on #1251
/hold for comments

[2020-09-21 20:24] savitharaghunathan commented on #1251
+1 to adding the training as a requirement 🎉

[2020-09-21 22:08] lachie83 commented on #1185
Docs shadows PR - https://github.com/kubernetes/sig-release/pull/1250

[2020-09-22 11:20] bai commented on #1185
Bug Triage shadows ref https://github.com/kubernetes/sig-release/pull/1252

[2020-09-22 12:55] hasheddan commented on #1249
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-09-22 07:54:25-0500</tt> FAILING sig-release-master-informing#Conformance - OpenStack <a href="https://testgrid.k8s.io/sig-release-master

[2020-09-22 16:44] lachie83 commented on #1185
Bug triage - #1252
CI Signal - #1254

[2020-09-22 17:01] justaugustus opened #1256 "Release Manager access for markyjackson-taulia"
### GitHub Username

@markyjackson-taulia

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

permanent

Marky is rejoining the Release Manager Associates group!

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Enginee

[2020-09-22 17:02] justaugustus commented on #1256
Marky / Sascha, please work together to complete the onboarding tasks. :)
/assign @markyjackson-taulia @saschagrunert

[2020-09-22 17:03] LappleApple opened #1257 "Enhance and evangelise milestone-maintainers documentation and do training/retraining"
During the Sept. 22 SIG Release meeting we noted that our docs for Milestone Maintainers (MMs)—see [here](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/release.md) and [here](https://github.com/kubernetes/sig-release/blob/master/release-team/README.md )—are not easily discoverable. The docs also need to be clearer and more consistent in their guidance to MMs. T

[2020-09-22 17:04] saschagrunert commented on #1256
@markyjackson-taulia can you propose the PRs as far as you get? I can jump in tomorrow and review + propose the missing ones :heart: :innocent: ?

[2020-09-22 17:09] LappleApple commented on #1257
/kind documentation
/priority important-soon

[2020-09-22 18:40] markyjackson-taulia commented on #1256
@saschagrunert https://github.com/kubernetes/k8s.io/pull/1271 & https://github.com/kubernetes/sig-release/pull/1258

[2020-09-23 06:55] saschagrunert commented on #1256
@markyjackson-taulia I checked the two points, which I think you're already part of them:
- Has joined the following Slack channels:
  - #sig-release
  - #release-management
- Is a Kubernetes GitHub org member

Can you please verify that you're still on the mailing lists?

[2020-09-23 13:39] annajung commented on #1185
Enhancement https://github.com/kubernetes/sig-release/pull/1259
Comms https://github.com/kubernetes/sig-release/pull/1260

[2020-09-23 13:43] savitharaghunathan commented on #1207
/assign @annajung

[2020-09-23 13:54] annajung commented on #1207
Hey @savitharaghunathan, can we add the following to the description? Looks like I don't have access to edit

- [ ] Look into improving the current process of tracking enhancement docs with help from the enhancement team. The goal is to reduce continuous pinging noise for the enhancement and to make sure enhancement owners are aware of the docs requirement earlier in the process (Based on discussi

[2020-09-23 14:00] savitharaghunathan commented on #1207
@annajung Thank you for the detailed description. I added it to the issue 🎉

[2020-09-23 14:06] markyjackson-taulia commented on #1256
@saschagrunert I am subscribed to the mailing list

[2020-09-23 16:21] lachie83 commented on #1185
Comms - #1260
Enhancements - #1259

[2020-09-23 17:25] lachie83 commented on #1185
Release notes - #1261

[2020-09-23 17:25] lachie83 commented on #1185
We have a full 1.20 release team roster. I think we can close this @jeremyrickard

[2020-09-23 17:37] jeremyrickard commented on #1185
Please see https://github.com/kubernetes/sig-release/blob/master/releases/release-1.20/release_team.md for the complete team. Thank you everyone for stepping up for 1.20

[2020-09-23 17:37] #1185 closed

[2020-09-24 07:58] RobertKielty opened #1262 "CI Signal Project Board not accepting new flakes"
#### What happened:

The 1.20 CI Signal release team are logging flakes in issues

Issues are not appearing on https://github.com/orgs/kubernetes/projects/11
Sample issue logged yesterday note present on board https://github.com/kubernetes/kubernetes/issues/95011

#### What you expected to happen:
See logged flakes appear on the board

#### How to reproduce it (as minimally and precisely as possib

[2020-09-24 08:12] hkamel commented on #1262
@RobertKielty I remember in 1.19 that the board will not show the items automatically. There always a manual step where we add the issue by the "Add card" option on the board.

[2020-09-24 08:13] justaugustus commented on #1262
AFAIK, no automation today controls the addition of issues to org-level project boards.

Issues/PRs need to be manually added to boards.
ref: https://docs.github.com/en/github/managing-your-work-on-github/adding-issues-and-pull-requests-to-a-project-board

/close

[2020-09-24 08:13] #1262 closed

[2020-09-24 08:16] justaugustus commented on #1262
ref: https://github.com/kubernetes/test-infra/issues/9925
(If anyone is interested in potentially working on this)

[2020-09-24 13:11] annajung commented on #1207
Adding another task to the list based on 1.17 retro
- [ ] Add general obligations/expectation for a lead in the docs role handbook

[2020-09-24 16:51] RobertKielty commented on #1262
@justaugustus @hkamel Thanks for the help.

Building on what @hkamel pointed out the manual way of placing cards on the board is

On top right hand corner of the board

Click **+ Add Cards**

Then enter a query to find issues you want on the board.

So for all the v1.20 flakes we can use

`is:issue is:open [FLAKE] label:kind/flake sort:updated-desc milestone:v1.20 `

The query above is the same as

[2020-09-25 11:59] LappleApple commented on #857
Closing as per @jeremyrickard: "from a “slip” perspective for 1.20 or any going forward, I don’t think we need to track long term things anymore. There aren’t that many because things either:
• finally got through
• got closed
• special cases / on hold (like sidecars)

[2020-09-25 11:59] #857 closed

[2020-09-25 19:55] markyjackson-taulia commented on #1256
@saschagrunert I think all items have been addressed. It is okay to close this?

[2020-09-25 20:10] saschagrunert commented on #1256
Yes, thank you @markyjackson-taulia! :pray:
/close

[2020-09-25 20:10] #1256 closed

[2020-09-28 15:16] hasheddan commented on #1249
/close

[2020-09-28 15:16] #1249 closed

[2020-09-28 17:49] hasheddan commented on #912
/assign

[2020-09-28 18:17] LappleApple commented on #688
/assign

[2020-10-05 15:13] alejandrox1 commented on #838
/remove-lifecycle rotten
/reopen

[2020-10-10 18:12] #1251 closed

[2020-10-10 19:39] justaugustus commented on #1226
Marko, would you mind completing the OWNERS file updates listed in the checklist?
/assign @xmudrii

[2020-10-11 19:29] xmudrii commented on #1226
@justaugustus I've created PRs in k/k and k/test-infra to update the OWNERS file. I've updated this issue with links to the PRs.

I'm already in the OWNERS file in k/sig-release and k/release in the release-engineering-reviewers group, but the description says Release Manager Associate, e.g. https://github.com/kubernetes/sig-release/blob/c89b433b7909a39d41e0856d2108b8465e8b8f2b/OWNERS_ALIASES#L28

[2020-10-11 19:48] justaugustus commented on #1226
@xmudrii -- for k/release and k/sig-release, you actually will want to:
- Add yourself into the `release-engineering-approvers` section
- Remove yourself from `release-engineering-reviewers`
- Update the role comment description to "Release Manager"

[2020-10-12 13:48] cpanato opened #1278 "Release Manager access for mkorbi / puerco / markyjackson-taulia and jimangel"
### GitHub Username
- @mkorbi
- @puerco
- @markyjackson-taulia
- @jimangel

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Max (mkorbi) is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `1.19.3` release is cut.

- temporary: Adolfo (puerco) is a Rele

[2020-10-12 13:50] cpanato opened #1279 "Release Manager access for puerco"
### GitHub Username
@puerco

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Adolfo is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `v1.20.0-alpha.2` release is cut.

cc: @kubernetes/release-engineering
/cc @saschagrunert @hasheddan @xmudrii  @justa

[2020-10-12 13:51] cpanato opened #1280 "Release Manager access for markyjackson-taulia"
### GitHub Username
@markyjackson-taulia

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Marky is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `1.17.13` release is cut.

cc: @kubernetes/release-engineering
/cc @saschagrunert @hasheddan @xmudrii  @j

[2020-10-12 13:52] cpanato opened #1281 "Release Manager access for jimangel"
### GitHub Username
@jimangel

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Jim is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `1.18.10` release is cut.

cc: @kubernetes/release-engineering
/cc @saschagrunert @hasheddan @xmudrii  @justaugustus

[2020-10-12 13:52] justaugustus commented on #1278
@cpanato -- can you merge these two issues (https://github.com/kubernetes/sig-release/issues/1279) as there are a few RMAs that will require temporary access this week?

[2020-10-12 14:07] cpanato commented on #1279
merging in this issue: https://github.com/kubernetes/sig-release/issues/1278
/close

[2020-10-12 14:08] #1279 closed

[2020-10-12 14:08] cpanato commented on #1280
merging in this issue: https://github.com/kubernetes/sig-release/issues/1278
/close

[2020-10-12 14:08] #1280 closed

[2020-10-12 14:09] cpanato commented on #1281
merging in this issue: https://github.com/kubernetes/sig-release/issues/1278
/close

[2020-10-12 14:09] #1281 closed

[2020-10-12 14:10] cpanato commented on #1278
/kind documentation
/priority important-soon

[2020-10-12 14:19] cpanato commented on #1278
/milestone v1.20

[2020-10-12 17:50] xmudrii commented on #1226
@justaugustus All required OWNERS files are now updated. Is there anything else I should take care of?

[2020-10-13 08:41] mkorbi opened #1282 "Cut 1.19.3 release"
## Scheduled to happen: Wed, 2020-10-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1602659924179000)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-10-13 08:42] saschagrunert commented on #1282
cc @gianarb

[2020-10-13 13:42] puerco opened #1283 "Cut 1.20.0-alpha.2 release"
## Scheduled to happen: Tue, 2020-10-13

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1602596655137500)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notification [email](https://link-to-email-on-kubernetes-announce-

[2020-10-13 13:46] cpanato commented on #1283
/milestone v1.20

[2020-10-13 13:46] cpanato commented on #1283
/assign @puerco

[2020-10-13 15:25] jimangel opened #1284 "Cut 1.18.10 release"
## Scheduled to happen: Wed, 2020-10-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1602696629227000)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-10-13 15:26] jimangel commented on #1284
/milestone v1.19
/assign

[2020-10-13 15:26] jimangel commented on #1284
/milestone v1.18

[2020-10-13 15:26] cpanato commented on #1284
/milestone v1.18

[2020-10-14 11:42] gianarb commented on #1278
@cpanato i think you forget about me! 😸

[2020-10-14 15:27] markyjackson-taulia opened #1287 "Cut 1.17.13 release"
## Scheduled to happen:

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1602693775210300)

  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Build & publish

[2020-10-14 15:28] markyjackson-taulia commented on #1287
/assign @markyjackson-taulia

[2020-10-14 15:28] markyjackson-taulia commented on #1287
/milestone v1.17

[2020-10-14 16:48] markyjackson-taulia commented on #1287
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-10-14 16:48:04+0000</tt> FAILING sig-release-1.17-blocking#Conformance - GCE - 1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-blocking#Conf

[2020-10-14 17:02] jimangel commented on #1284
### Testgrid dashboards

Boards checked for FAILING:

- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking#Summary&width=30)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing#Summary&width=30)

<details>
<summary><code>2020-10-14 08:41 PDT</code> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-

[2020-10-14 18:45] cpanato commented on #1283
@puerco there are any pending items? if not I think we can close this issue.

[2020-10-14 20:36] justaugustus opened #1290 "Discussing/modifying the kubernetes/kubernetes release cadence"
#### What would you like to be added:

We should formally discuss whether or not it's a good idea to modify the kubernetes/kubernetes release cadence.

#### Why is this needed:

The [extended release schedule for 1.19](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.19/README.md#timeline) will result in only three minor Kubernetes releases for 2020.

As a result, we've rec

[2020-10-14 20:41] markyjackson-taulia commented on #1290
I am a +1 for 3 releases/year. As you noted, this will allow us to work on items that can enhance things

[2020-10-14 20:46] saschagrunert commented on #1290
My personal opinion is that three releases per year are enough. This means more time can be spent on actual feature development, without narrowing them down just to fit into the release cycle. It will also reduce the management overhead for SIG Release (and the release engineering).

On the other hand it will give less people a chance to participate in the shadowing program for example. Anyways, I

[2020-10-14 20:54] mkorbi commented on #1290
I don’t have a strong preference on the one or the other. But from what I
see from our clients or even from public cloud providers, 4 release seems
to be a huge struggle.
Therefore
+1 4 3 (you get joke in it)

Sascha Grunert <notifications@github.com> schrieb am Mi. 14. Okt. 2020 um
22:46:

[2020-10-14 20:55] timothysc commented on #1290
Huge +1.  In a series of user surveys from SIG Cluster lifecycle, we've consistently found that users struggle to keep up with 4 releases a year and have data to show this.

cc @neolit123

[2020-10-14 20:55] neolit123 commented on #1290
+1

i find these results surprising. we had the same question in the latest SIG CL survey and the most picked answer was "not sure". this tells me that users possibly do not understand all the implications or it does not matter to them.

a couple of benefits that i see from the developer side:
- with the yearly support KEP we get 3 releases to maintain
- less e2e test jobs

as long as SIG Arch are

[2020-10-14 20:55] jeremyrickard commented on #1290
*puts on external consumer hat* This would be super great. We really, really struggle as is. *takes off external consumer hat*

*puts on release lead hat* This I am 100% in agreement on. When we kicked off 1.18 (because of the extra time over the new year and stuff), we had extra time to solicit shadows and as the enhancements lead for 1.18, I was really able to onboard my shadows early and hit th

[2020-10-14 21:01] yahorse commented on #1290
With everything going on three releases is fine, we should be considerate of the challenges everyone has right now.

[2020-10-14 21:08] sftim commented on #1290
I look forward to using the mechanisms already in place (notably CustomResourceDefinition, but also things like scheduling plugins) to enhance the Kubernetes experience outside of the minor release cycle.

A bit more decoupling, now that the investment is made to enable that, sounds good to me - and allows for minor releases of Kubernetes itself to become less frequent.

[2020-10-14 21:22] frapposelli commented on #1290
Big +1 on the 3 releases/year cadence. As the project matures, having less churn becomes a very desirable feature 😉

[2020-10-14 21:35] ArangoGutierrez commented on #1290
++ for 3 releases a year

[2020-10-14 21:38] Klaven commented on #1290
:+1: for 3.

[2020-10-14 21:49] hasheddan commented on #1290
+1 for 3 releases

[2020-10-14 21:51] ameukam commented on #1290
:+1: for 3 releases a year.

[2020-10-14 22:06] savitharaghunathan commented on #1290
Huge +1 for three releases a year. From an end user perspective it puts less toil on the teams to keep up with the upgrades and administrative work associated with it.

[2020-10-14 22:49] justaugustus commented on #1290
(Thanks everyone for the feedback thus far. Keep it coming! :two_hearts:)

[2020-10-14 23:39] benhemp commented on #1290
+1

3 as a consumer team. because almost guaranteed my team will have one quarter where we have to focus elsewhere. Two or one my fear is the machine of getting things to the finish line gets rusty if exercised too infrequently. 16 weeks to ship, extra 4 weeks buffer for holidays for the consuming teams also works out pretty well.

[2020-10-14 23:42] jimangel commented on #1284
New `krel` after https://github.com/kubernetes/release/pull/1642

[code]

Starting over from the top due to potential GitHub issues (see slack linked in description for more information).

[2020-10-14 23:42] wilsonehusin commented on #1290
+1 for 3 releases/year, agree with what many have stated well regarding churn

as someone who started getting involved in this project through shadowing release team, I'd like to echo what @saschagrunert & @jeremyrickard raised above regarding shadow opportunities -- I'm glad we're acknowledging the downside and hope we can keep in mind to present other opportunities for folks to get involved!

[2020-10-14 23:54] markyjackson-taulia commented on #1287
Starting over from the top due to potential GitHub issues. Slack thread is [here](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1602693775210300)
GitVersion:    v0.4.1
GitCommit:     b6814750762f43b514505c8e90ee6a719a2b413e
GitTreeState:  clean
BuildDate:     2020-10-14T22:55:00Z
GoVersion:     go1.14.2
Compiler:      gc
Platform:      linux/amd64

[2020-10-15 00:09] kcmartin commented on #1290
3 Releases/year, I am on board with this!

This option seems to open up a lot of opportunity to keep the pace more reasonable, and keep folks from burning out too quickly!

As to the potential for limiting shadow opportunities (mention by @jeremyrickard, @wilsonehusin, and others), I'm definitely tuned in to that being a downside, since I've served as a SIG-Release shadow three times, and I think

[2020-10-15 00:58] markyjackson-taulia commented on #1287
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-10-15 00:56:58+0000</tt> FAILING sig-release-1.17-informing#gce-windows-1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-window

[2020-10-15 03:48] bai commented on #1290
Big +1 on having 3 releases/year.

[2020-10-15 07:33] saschagrunert commented on #1283
I don't think that there is anything left open, since the has been announced.
/close

[2020-10-15 07:33] LappleApple commented on #1290
Absolutely +1 for three releases per year, for reasons already stated here.

[2020-10-15 07:33] #1283 closed

[2020-10-15 07:59] palnabarun commented on #1290
+3000 for 3 releases a year. :heart_eyes_cat:

[2020-10-15 08:06] mkorbi commented on #1282
### Failing testgrid jobs

#### sig-release-master-blocking
[Link](https://testgrid.k8s.io/sig-release-1.19-blocking)

#### sig-release-master-informing
[Link](https://testgrid.k8s.io/sig-release-1.19-informing)
<details><summary>`sig-release-master-informing`</summary><p>
<img width="1301" alt="sig-release-master-innforming" src="https://user-images.githubusercontent.com/16919345/96085220-c8c81e8

[2020-10-15 08:57] recollir commented on #1290
+1 for 3 releases. It will help downstream projects to be able to keep up. I mainly think on all “installers” out there, but also all other cluster add-ons.

[2020-10-15 09:29] SayakMukhopadhyay commented on #1290
+1 for 3 releases. It will also help some cloud providers playing catch-up to come to parity.

[2020-10-15 11:10] leodido commented on #1290
+1 for 3 releases.

Making users able to catch-up is more important than keeping a pace so fast that can lead nowhere (we experienced the same with https://github.com/falcosecurity/falco and we switched to 6 releases per year from 12).

[2020-10-15 13:31] mkorbi commented on #1282
@saschagrunert did I miss something?

[2020-10-15 13:34] cpanato commented on #1282
@mkorbi all looks good.

just a small comment next time you can use the `./testgridshot xxxx` to generate the testgrid comments

[2020-10-15 14:30] vincepri commented on #1290
Big +💯 for 3 releases / year cadence.

[2020-10-15 14:32] ncdc commented on #1290
+1 to fewer releases / year.

[2020-10-15 14:49] nader-ziada commented on #1290
+1 on having 3 releases/year

[2020-10-15 16:12] justaugustus commented on #1290
Email sent to k-dev: https://groups.google.com/g/kubernetes-dev/c/luW11nhLds4
This will also be briefly mentioned on the Kubernetes Community meeting later today.

[2020-10-15 16:28] cpanato commented on #1290
The bot replied for me, but this is myself
https://github.com/kubernetes/sig-release/issues/1290#issuecomment-709415432

+1 for 3 releases a year

[2020-10-15 16:35] jackfrancis commented on #1290
+1 on 3 releases per year

Thanks @justaugustus!

[2020-10-15 16:35] aojea commented on #1290
3 releases is cool for development, but not for releasing something with a minimum level of quality.
We barely keep with the tech debt we have in CI and testing, ie, how many jobs are failing for years that nobody noticed?, how many bugs are open for years? how many features are in alpha,beta for years?
Each release cycle force people to FIX things if they want to release, the more time to release

[2020-10-15 16:40] tpepper commented on #1290
Can folks comment on how they'd prefer this to look operationally?

There are operational benefits to consumers in having to do less upgrades (even with the small risk that a longer cadence means each upgrade is bigger), but that's also somewhat depending on when those are presented.  Should we maybe rotate the release points backwards or forwards to get away from having a release at a particular

[2020-10-15 17:04] neolit123 commented on #1290
Golang has a "symmetric" model, so i think k8s should do the same.
the "symmetric" choice however, would require more discipline and availability from contributors, so my vote here is to try symmetric and if it fails go asymmetric.

[2020-10-15 17:31] khenidak commented on #1290
@tpepper would be great if we add to this post typical kubecon(s) schedule, since most the community (those who are reviewing, approving, building, releasing changes) is also heavily engaged in these events.

[2020-10-15 17:52] vincepri commented on #1290
Trying to summarize general feedback I've gathered today here and there for visibility. This particular issue started with "slowing down", although it quickly became a reflection on why and what can we do about it:

- Releases are hard, they need people to commit.
- There is not enough automation (true for probably all our projects and repositories).
- With each Kubernetes release, there is a worl

[2020-10-15 17:57] akutz commented on #1290
I strongly believe a deterministic and known schedule is more important than the frequency itself. Slowing down to three releases, as @justaugustus said, will provide three additional months for triage and the addressing of existing issues. This _should_ help us to better meet planned release dates as there, in theory, should be fewer unknown-unknowns. So a big +1 from me.

[2020-10-15 18:05] pires commented on #1290
+1 on 3 releases a year.

And as noted over Twitter, given someone's concerns on expecting same amount of changes over 25% less releases, I think it's of paramount importance for SIGs to step up and limit the things they include in a release, balancing what matters short/ long-term and _kicking out_ all that can be done outside of the release cycle (we have CRDs, custom API servers, scheduling plu

[2020-10-15 18:25] mpbarrett commented on #1290
As more and more complex workloads move to Kube, having less upgrades in a single year is a good thing.  Which months (ie April, August, Dec would be every 4 months from the beginning of a year) would be important for me as a user to know.

[2020-10-15 19:36] cblecker commented on #1290
We should also talk about how this may impact things like code freeze (longer feature freeze with only bug/scale/stability fixes?).

I'm +1 to 3 releases in general, but the details obviously matter. I'd also love to see this in a KEP if we come to consensus on making a change.

[2020-10-15 20:31] jberkus commented on #1290
So, some pros/cons not previously mentioned on this thread:

Additional Pros:

- Easier to schedule releases because we can fudge dates more to avoid Kubecons and holidays
- Reduced number of E2E, conformance, skew, and upgrade test jobs
- Means that new 1+ year patch support doesn't result in additional patch releases
- We'll get to 1.99 slower so we won't run out of digits

Cons:

- Increased pr

[2020-10-15 20:34] alculquicondor commented on #1290
I think risk this can be reduced if we adjust (increase) the code freeze period.

[2020-10-15 20:36] jberkus commented on #1290
Better, how about we keep on top of flakes even if it's not Code Freeze?

[2020-10-15 20:42] alculquicondor commented on #1290
Absolutely, but it's not easy to enforce without hurting development of non-violators.

[2020-10-15 20:44] jberkus commented on #1290
Shutting down merges is the nuclear option for preventing flakes and fails.  We should be able to keep on top of them without resorting to that.  But ... we're getting off topic here, *unless* folks think the "increased time to flake" is a blocker for this (I don't).

[2020-10-15 21:08] sftim commented on #1290
If there were an unsupported-but-tested Kubernetes release cut and published once a week - what would that mean?

I'm imagining something that passes the conformance tests (little point otherwise) but comes with no guarantee. The Rust project has a model a bit like this with a [daily unstable release](https://doc.rust-lang.org/book/appendix-07-nightly-rust.html) which has nevertheless been through

[2020-10-15 21:10] jberkus commented on #1290
@sftim yeah, you've noticed that the reason, right now, we don't see a lot of community testing on alphas and betas is that we don't make them easy to consume.

I'd say that it would need to go beyond that: we'd need images, minikube, and kubeadm releases for each weekly release.

I don't know how that would affect our choice of major release cadence (isn't it orthagonal?) but it would be a great

[2020-10-15 21:13] OmerKahani commented on #1290
+1 for 3

3 is the maximum upgrades that we can do in my company. Our customers are eCommerce merchants, so from September to December (include), we are in a freeze on all of the infrastructure.

@tpepper  for your question - the best month for us will be March, July, November-December.

[2020-10-15 22:32] johnbelamaric commented on #1290
I am tentatively in favor of 3 releases per year, primarily because I believe 4 releases per year is too hard for folks to consume. Even 3 releases per year is probably too much for most, but the downsides of fewer releases make anything less than 3 too risky in my mind.

As I see it, those downsides are some things already mentioned above:
1) Build up of too much content in the release, and conse

[2020-10-15 22:59] jberkus commented on #1290
Does it really, though?  How many features actually went from alpha to GA in 9 months?

Does anyone have hard data on this?

[2020-10-15 23:04] johnbelamaric commented on #1290
Ok, that's a fair point to challenge that assumption. I agree probably most don't do it in 9 months, but data would help. I am not sure if "months" is the right measure, though. My concern is that people will still take the same number of *releases* to make it happen, which means it will take longer.

On a similar note, I am curious if there is any data on the amount of feedback alpha features act

[2020-10-15 23:19] jberkus commented on #1290
Yah, and "Is there some outstanding blocker that prevents new features from actually going from alpha to GA in 3 releases for any reason other than maturity?"

That is, if a feature can go from alpha to GA in 3 releases, that's fine.  That's  a year, and do we really want to make the case that it should take less than a year to get a new feature to GA?  BUT ... if something in our process means th

[2020-10-15 23:30] johnbelamaric commented on #1290
The two points I bring up are in tension with each other. That is, the same
features spread across fewer annual releases automatically means more per
release, or longer duration in the pipeline.

On Thu, Oct 15, 2020 at 4:19 PM Josh Berkus <notifications@github.com>
wrote:

[2020-10-16 00:10] MIhirMishra commented on #1290
What is the need to decide in advance ? Release when it is ready for its level i.e. if it is ready for beta - release as beta and when ready for GA release as GA.
More important is what is in the release than how frequently you are releasing.

[2020-10-16 01:07] johnbelamaric commented on #1290
Not sure I understand the question. No one is suggesting deciding in advance - features will be advanced in their stage when they are ready. But the thing is, "when they are ready" depends on the release cadence. In order to go to beta, a feature has to have at least one alpha. In fact, realistically there will be more than one release with it in alpha, since it's really difficult to get meaningfu

[2020-10-16 07:39] cpanato commented on #1278
All releases are out, thanks for all the work relengfam!

/close

[2020-10-16 07:39] #1278 closed

[2020-10-16 08:50] xmudrii commented on #1290
+1 for 3 releases a year.

[2020-10-16 10:23] kellycampbell commented on #1290
+1  One thing I'm wondering is how this would affect vendors and other downstream integrators. For example, we build our clusters using kops. It is normally at least one release behind the k8s releases. Would having an extra month help them sync up with the release? I imagine other integrators and cloud providers would also benefit from extra time to update.

Additional point: we really are only a

[2020-10-16 10:57] afirth commented on #1290
I guess most end users are blocked by their upstream distro's ability to keep up with the K8s release. For example, GKE rapid channel is currently on 1.18, but 1.19 released in August. Somebody previously mentioned kops has similar issues (also currently on 1.18). I'm curious whether this is because those providers routinely find issues, or because it takes some fixed time to implement the new cap

[2020-10-16 11:58] cpanato opened #1295 "Release Manager access for gianarb"
### GitHub Username
- @gianarb

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Gianluca (gianarb) is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `1.20.0-alpha.3` release is cut.

/cc @saschagrunert @hasheddan @xmudrii  @justaugustus
@kubernetes/re

[2020-10-16 11:59] cpanato commented on #1295
/milestone v1.20
/kind documentation
/priority important-soon

[2020-10-16 14:15] gianarb opened #1296 "Cut 1.20.0-alpha.3 release"
## Scheduled to happen: Tue, 2020-10-20

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x] Send notification [email](https://l

[2020-10-16 15:02] sebgoa commented on #1290
Mostly a peanut gallery comment.

* The kubernetes releases have been a strong point of the software since its inception. The quality, testing and general care has been amazing and only improved (my point of reference is releases of some apache foundation software). With the increased usage, scrutiny and complexity of the software it feels like each release is a huge effort for the release team so

[2020-10-16 15:39] johnbelamaric commented on #1290
Yes, this is a big fear of mine as well. We have worked hard to prevent vendor-based fragmentation (e.g., with conformance) and version-based fragmentation (with API round trip policies, etc). Bigger releases with riskier upgrades may undermine that work. We must avoid a Python2 -> 3 situation. This is also why we elected for a longer support cycle as opposed to an LTS. With the extensive ecosyste

[2020-10-16 16:42] LappleApple commented on #809
Closing as we have been discussing continuous stability efforts in favour of dedicated stability releases.

[2020-10-16 16:42] tpepper commented on #809
This issue represents a discussion history, but has not gone anywhere specific after the first request.  In the meantime we have more current discussion in https://github.com/kubernetes/sig-release/issues/1290 around updating the cadence.  I'm going to close this one now instead of continually kicking it forward.

[2020-10-16 16:44] #809 closed

[2020-10-16 20:32] adrianotto commented on #1290
-1

I acknowledge this proposed change will not slow the rate of change, but it does concentrate risk. It means that each release would carry more change, and more risk. It also means that adoption of those features will be slower, and that's bad for users.

Release early and release often. This philosophy is a key reason k8s matured as quickly as it did. I accept that 2020 is a strange year, and

[2020-10-16 20:53] bowei commented on #1290
Echoing Adrian's comment:

I think releases are a nice forcing function towards stabilization and having less releases will increase drift in the extra time.
Are we coupling feature(s) stabilization to release cadence too much?
One fear is that the work simply going to be pushed rather than decrease, but now there are fewer "stabilization" points in the year.

[2020-10-16 21:49] Klaven commented on #1290
I see some people attributing drift to longer release cycles (we are only talking about extending them by a month, not 3 months), but I would argue that fast release cycles have caused their own amount of drift, never mind the burden on the release team.

Look at GKE, for example. Versions 1.14 to 1.17 are supported. GKE is arguably one of the best Kubernetes providers and there is a LOT of drift

[2020-10-16 22:36] yboujallab commented on #1290
+1 for 3 releases / year

[2020-10-17 04:21] justaugustus commented on #1226
We're all set here!
/close

[2020-10-17 04:21] #1226 closed

[2020-10-17 17:11] markyjackson-taulia commented on #1287
This has been completed and no adverse effects. I will close this now.
/close

[2020-10-17 17:11] #1287 closed

[2020-10-19 17:28] jeremyrickard commented on #688
/assign @lachie83

[2020-10-19 22:40] jberkus commented on #1290
@johnbelamaric everything you've said is valid.  At the same time, though, my experience has been that the pressure goes the other way: features already linger in alpha or beta for way longer than they ought to.  The push to get most features to GA -- or deprecate them -- really seems to be lacking.  It's hard to pull stats for this, but most KEP-worthy features seem to take something like 2 years

[2020-10-20 07:34] gianarb commented on #1296
# Failing testgrid jobs

* [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
* [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary> 2020-10-20 07:03:35-500 FLAKY sig-release-master-blocking#conformance-ga-only</summary></p>

![Screenshot 2020-10-20 at 09 03 26](https://user-images.githubusercontent.com/1630267/965

[2020-10-20 07:43] RobertKielty commented on #1296
/cc @kubernetes/ci-signal

[2020-10-20 07:52] gianarb commented on #1296
The testgridshot script failed for me, so I had to take them manually. @cpanato used the script, here the result:

### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)
<details><summary><tt>2020-10-20 07:49:22+0000</tt

[2020-10-20 19:20] spiffxp commented on #1290
I'm a net -1 on 3 releases per year, but I understand I'm in the minority.  Reducing the frequency of a risky/painful process does not naturally lead to a net reduction of pain or risk, and usually incentivizes increased risk.  "Stabilize the patient" can be a good first step, but is insufficient on its own.

To @tpepper's question of implementation, if we go with 3 symmetric releases, I would sug

[2020-10-20 20:45] bowei commented on #1290
We should make sure that there are sufficient improvements/metrics/goals to meet w/ any change (or no change).
It wouldn't be great if 4 -> 3 didn't improve things and the same rationales would justify 3 -> 2.
Is there a bar where we can comfortably go back from 3 -> 4?

[2020-10-20 21:43] LappleApple commented on #688
/unassign @LappleApple

[2020-10-20 21:59] onlydole commented on #1290
+1 for three releases a year, and all of this discussion is fantastic!

I agree with there being three releases a year. However, I do think that having more regular minor version releases would be helpful, so there isn’t any rush to get things into a specific release, nor a blocker around shipping bugfixes or improvements.

I’d like to propose a strongly scoped path for Alpha, Beta, and GA feature

[2020-10-21 04:51] youngnick commented on #1290
I agree with @spiffxp that whatever we end up doing, we should acknowledge that calendar Q4 is substantially quieter than other quarters, with US Kubecon rolling into US Thanksgiving, rolling into the December festive season.

I think that any plan to change the release cadence needs to take that as a prime consideration, whether it's keeping four releases a year and marking the Q4 one as minimal

[2020-10-21 10:06] cpanato commented on #1295
release is out
/close

[2020-10-21 10:07] #1295 closed

[2020-10-21 15:46] saschagrunert commented on #1296
It's done
/close

[2020-10-21 15:46] #1296 closed

[2020-10-21 22:55] annajung commented on #1207
@savitharaghunathan We can mark "Templates for deadline communication - PR in progress" as done :)

I think we can also mark " Look into improving the current process of tracking enhancement docs with help from the enhancement team..." as done. I've been working with Kirsten during the release to make the process smoother which involved adding docs placeholder deadline for the enhancement team and

[2020-10-21 22:58] LappleApple commented on #1207
Updated/checked both boxes -- great progress, team! Only three more items to go...

[2020-10-21 23:00] annajung commented on #1207
Also, commenting on "Leverage Implemented field from enhancements tracking sheet to determine if the corresponding docs PR can be merged/not", I think we actually want to make sure k/k prs are merged in and the enhancement team is one that's responsible for making sure the enhancement is not tracked if it's not in the "implementable" state.

So, I'm not sure what the action item here is. But, duri

[2020-10-21 23:04] savitharaghunathan commented on #1207
@annajung : Anna, I marked it as done and added a note. Can you open an issue to track it, please? Thanks :)

[2020-10-21 23:06] annajung commented on #1207
Yes, I'll wait until after the sig docs planning today

[2020-10-22 00:14] jberkus commented on #1290
@spiffxp we've talked about making Q4 a "maintenance" release endlessly, but we've never actually implemented that.

[2020-10-22 06:17] jayunit100 commented on #1290
Sounds like joshs comment is middle ground on the way to three  : sure you get 4 releases but the fourth is only bug fixes, tests and stability .

[2020-10-22 10:47] chris-short commented on #1290
I'm in favor of three releases a year. I like @jberkus comment about a Q4 maintenance release too without so much hoopla and fanfare.

I hope folks aren't driven to only fix stuff in Q4, "Oh that's a gnarly one, wait until the end of the year." Is something I could foresee someone thinking at some point, if we don't word things right about a maintenance release.

One question I think has been ligh

[2020-10-22 14:01] youngnick commented on #1290
The consensus on LTS (meaning multi-year support for a single version) is, in short, there's no consensus. We in the LTS WG worked for over two years, and we were able to get everyone to agree to extend the support window to one year (from nine months), which I think speaks to the passion that everyone has about this, the diversity of the use cases Kubernetes is supporting, and the community's det

[2020-10-23 08:27] saschagrunert commented on #1284
/close

[2020-10-23 08:27] saschagrunert commented on #1282
/close

[2020-10-23 08:27] #1284 closed

[2020-10-23 08:27] #1282 closed

[2020-10-23 12:08] cpanato opened #1302 "Release Manager access for Verolop"
### GitHub Username
- @Verolop

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Verónica (Verolop) is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `1.20.0-beta.0` release is cut.

/cc @saschagrunert @hasheddan @xmudrii  @justaugustus
@kubernetes/rel

[2020-10-23 12:08] cpanato commented on #1302
/milestone v1.20
/kind documentation
/priority important-soon

[2020-10-23 18:53] jberkus commented on #1290
@youngnick you summed it up.  Having 2 years of support for a specific API snapshot is unrealistic right now for all sorts of reasons, and it wasn't even clear that it was what people actually wanted.

[2020-10-23 23:37] jberkus commented on #1290
All: I'm going to research what actual feature trajectory looks like through Kubernetes, because @johnbelamaric has identified that as a critical question.  Stats to come.

[2020-10-26 10:48] justaugustus commented on #850
Opened https://github.com/kubernetes/community/pull/5268 to move the version markers doc to k/community.

[2020-10-26 16:55] savitharaghunathan commented on #1207
/close

[2020-10-26 16:56] #1207 closed

[2020-10-26 17:01] lachie83 commented on #688
I've had a conversation regarding this with @tpepper. We discussed the history of this issue and the shadow program as a whole and drew the following conclusions regarding this issue:
* This issue was created in the early bootstrap of the shadow program and at that point there wasn't much knowledge or content for the shadows to draw upon.
* When this was created there was a lean towards templating

[2020-10-26 17:42] RobertKielty commented on #1223
@hasheddan and myself will look at this after the 1.20 Release

[2020-10-26 17:59] palnabarun commented on #912
Based on the above discussions and discussions over the Release Team meetings, I have retitled the issue to mention the latest quo.

Also, putting out a checklist for each team handbook.
- [ ] Bug Triage
- [ ] CI Signal
- [ ] Communications
- [ ] Docs
- [ ] Enhancements
- [ ] Release Notes

PS: This is a nice task to be done by the shadows of each team.

cc: @kubernetes/release-team

/assign

[2020-10-26 17:59] palnabarun commented on #912
Enhancements Handbook would be updated through https://github.com/kubernetes/sig-release/pull/1304/commits/df174e62dace7c7fbb5e64dc8647c90539c182f8#diff-c853db51181791969e437e9f720a7ef21fbcf460f1eebda80b8ae6a7e2673ba8R96 :)

[2020-10-26 18:17] annajung commented on #912
Docs handbook already has a section to do this and can be marked off as completed
https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/docs/Release-Timeline.md#meet-with-shadows

[2020-10-26 18:28] palnabarun commented on #912
Thank you @annajung for the update. 😃

[2020-10-26 18:58] justaugustus opened #1306 "Update release-team GitHub team to include all 1.20 members"
While working on SIG Release [team updates](https://github.com/kubernetes/org/pull/2285), I noticed that the @kubernetes/release-team GitHub does not include all of the 1.20 team members.

PTAL and add all of https://github.com/kubernetes/sig-release/blob/master/releases/release-1.20/release_team.md.

/assign @jeremyrickard
cc: @kubernetes/release-team-leads
/sig release
/area release-team

[2020-10-26 21:15] hasheddan commented on #1162
/remove-lifecycle stale

[2020-10-27 20:51] Verolop opened #1309 "Cut 1.20.0-beta.0 release"
## Scheduled to happen: Tue, 2020-10-26

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1603833651485000)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-10-27 21:55] ehashman commented on #1290
I was on leave for the past two weeks so chiming in a little late...

I am +1 to 3 releases per year.

While some folks in the thread note that this increases the heft/risk of each release, I actually think less releases will *reduce* risk. I'm speaking from an operations perspective as opposed to a development perspective.

The current Kubernetes release cadence is so high that most organizations

[2020-10-28 14:41] LappleApple opened #1312 "Two planned adds to Rel Eng Docs"
As discussed in recent Rel Eng meetings, we want to resolve and include these two items:

Create RACI matrix for stakeholder communications (RACI = Responsible,  Accountable, Consulted, Informed). Steps to implement:
- [ ]  identify major themes of Rel Eng work
- [ ] identify stakeholders
- [ ] produce a simple table showing who need to be involved at which level

Ensure AIs in Google Docs, HackMD

[2020-10-28 15:24] LappleApple commented on #912
/sig release
/area release-team
/kind documentation

[2020-10-28 16:37] jeremyrickard opened #1313 "Cleanup 1.20 Release Team File"
The 1.20 `release-team.md` file contains a shadow that was selected, but has not been participating. We have since onboarded a new shadow, so we need to remove the previously selected person to reflect the current state of the team.

/area release-team
/priority important-soon
/kind documentation

[2020-10-28 16:37] jeremyrickard commented on #1313
/kind cleanup

[2020-10-28 16:57] #1313 closed

[2020-10-29 05:27] Verolop commented on #1309
- FAILED sig-release-master-informing#Conformance OpenStack
![Screenshot from 2020-10-29 01-13-28](https://user-images.githubusercontent.com/2050904/97528714-bfd95180-1984-11eb-9295-71baf2840bd1.png)

- FAILED sig-release-master-informing#capg-conformance-v1alpha3-k8s-master
![Screenshot from 2020-10-29 01-16-28](https://user-images.githubusercontent.com/2050904/97528793-ee572c80-1984-11eb-919a-85

[2020-11-02 16:31] alejandrox1 commented on #1040
@bai I think last time we talked we mentioned that the aim for this issue would be to tweak the message that bug triage team sends to issues and PRs with the goal to improve (if needed) communication.
Using a message i saw on an issue as example

I think the above is the standard type of message that we see in releases.
One possible improvement I could think is a preamble talking about the current

[2020-11-03 08:44] xmudrii opened #1316 "Cut 1.20.0-beta.1 release"
## Scheduled to happen: Tue, 2020-11-03

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1604393328074700)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-11-03 09:44] xmudrii commented on #1316
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-11-03 10:44:05+0100</tt> FAILING sig-release-master-informing#Conformance - OpenStack <a href="https://testgrid.k8s.io/sig-release-master

[2020-11-03 13:33] cpanato commented on #1216
/assign

[2020-11-04 12:01] xmudrii commented on #1316
/close

[2020-11-04 12:01] #1316 closed

[2020-11-04 12:06] xmudrii commented on #1309
The release has been completed.
/close

[2020-11-04 12:06] #1309 closed

[2020-11-04 12:10] cpanato commented on #1302
/close
release is out
thanks Verónica!!

[2020-11-04 12:10] #1302 closed

[2020-11-04 20:01] justaugustus opened #1321 "SIG Chair offboarding for Tim Pepper"
### GitHub Username

@tpepper (ref: https://github.com/kubernetes/community/pull/5286)

### [Chair/Technical Lead](https://git.k8s.io/sig-release/lead/onboarding.md) role

Chair

### Community requirements

_Note that this leadership change was proposed prior to new requirements being established by Steering in https://github.com/kubernetes/community/pull/5291._

#### Discuss with SIG leadership

[2020-11-04 20:05] justaugustus opened #1322 "Chair/Technical Lead access for Sascha and Dan"
### GitHub Username

@saschagrunert @hasheddan
(follow-on to https://github.com/kubernetes/sig-release/issues/1321.)

### [Chair/Technical Lead](https://git.k8s.io/sig-release/lead/onboarding.md) role

- @saschagrunert (Chair)
- @hasheddan (Technical Lead)

### Chair and Technical Lead Onboarding

**All pull requests within these checklists should be marked with an _explicit_
hold and only release

[2020-11-04 20:06] justaugustus commented on #1322
(Most of this is already done since Dan and Sascha are Release Managers, but opening this to cross the 't's and dot the 'i's.)

[2020-11-04 20:06] justaugustus commented on #1321
Opened a separate tracking issue for @saschagrunert and @hasheddan's onboarding here: https://github.com/kubernetes/sig-release/issues/1322

[2020-11-05 00:20] onlydole commented on #320
Howdy, @LappleApple! I was on a holding pattern for this, and I don't think there's a clear way forward on this issue. I'd like to bring it up on the next release team meeting as a topic to see how we could close this out!

/remove-lifecycle stale

[2020-11-05 08:58] LappleApple commented on #320
Awesome, @onlydole! Go ahead and add to the meeting agenda as your time and schedule allow :)

[2020-11-05 14:20] #1162 closed

[2020-11-06 10:01] xmudrii opened #1324 "[Umbrella] Refactor the Release Engineering Handbooks"
This issue is an umbrella issue to track the progress of refactoring the release engineering handbooks.

- [ ] Split the [Branch Management handbook](https://github.com/kubernetes/sig-release/blob/667bf705e2fe9350fb12f3ba09bb5380f6b01a63/release-engineering/role-handbooks/branch-manager.md) into multiple handbooks
  - [ ] [Release Management handbook](https://github.com/kubernetes/sig-release/blob

[2020-11-06 10:03] xmudrii commented on #1324
cc: @kubernetes/release-engineering
If you have any feedback regarding our handbooks, please feel free to leave it here.

[2020-11-06 10:21] saschagrunert commented on #1324
Do we still have an onboarding document after those changes? Generally spoken, those two sections:

- https://github.com/kubernetes/sig-release/blob/667bf705e2fe9350fb12f3ba09bb5380f6b01a63/release-engineering/role-handbooks/branch-manager.md#overview
 - https://github.com/kubernetes/sig-release/blob/667bf705e2fe9350fb12f3ba09bb5380f6b01a63/release-engineering/role-handbooks/branch-manager.md#prer

[2020-11-06 10:28] xmudrii commented on #1324
@saschagrunert I propose that we have some general/onboarding handbook that would be common for all other handbooks. It would include most of the things from those two links, and eventually some other useful references as well.

[2020-11-09 17:40] jberkus commented on #688
So, do all handbooks now have "Shadow" sections?

The template wasn't for the shadows.  It was for the leads to update their handbooks.  If all handbooks have been updated, you can close this.

[2020-11-10 19:46] cpanato opened #1328 "Cut 1.19.4 release"
## Scheduled to happen: Wed, 2020-11-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1605084220274300)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-11-10 19:47] cpanato opened #1329 "Cut 1.18.11 release become 1.18.12"
## Scheduled to happen: Wed, 2020-11-11 -> New date due Github issue and tooling: Thu, 2020-11-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1605084082273100)
  - [x] Collect metric

[2020-11-10 19:47] cpanato opened #1330 "Cut 1.17.14 release"
## Scheduled to happen: Wed, 2020-11-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1605083900271800)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-11-11 08:23] cpanato commented on #1330
/assign

[2020-11-11 08:23] cpanato commented on #1329
/assign

[2020-11-11 08:23] cpanato commented on #1328
/assign

[2020-11-11 08:35] cpanato commented on #1330
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-11-11 08:35:20+0000</tt> FAILING sig-release-1.17-informing#gce-cos-k8sstable2-serial <a href="https://testgrid.k8s.io/sig-release-1.17-informing#g

[2020-11-11 08:36] cpanato commented on #1329
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-11-11 08:36:00+0000</tt> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-w

[2020-11-11 08:36] cpanato commented on #1328
### Testgrid dashboards for 1.19
Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

**NO FAILING TESTS**

[2020-11-12 08:16] cpanato commented on #1329
There seems to have been some partial recovery earlier which allowed us to cut the v1.19.4 and v1.17.14 release.
Unfortunately, the v1.18.11 release was caught in a state where only one of the release-1.18 branch tags was pushed, which leaves completion of the build in an unrecoverable state (our tooling checks if a tag has already been pushed remotely and bails if true).

for more context: https:

[2020-11-12 08:33] cpanato commented on #1328
this release is out
/close

[2020-11-12 08:33] #1328 closed

[2020-11-13 10:26] cpanato commented on #1329
release is out
/close

[2020-11-13 10:27] #1329 closed

[2020-11-13 10:27] cpanato commented on #1330
release is out
/close

[2020-11-13 10:27] #1330 closed

[2020-11-15 13:50] hasheddan opened #1337 "[Umbrella] Formalize supported release platforms"
We currently build and release k/k artifacts for a number of os / arch platforms (listed below). However, there is no formal process for adding a new platform, retiring an existing platform, determining level of support for an existing platform, or measuring test coverage for an existing platform. The currently supported platforms are listed below:

[code]

This umbrella issue tracks the steps to

[2020-11-15 20:00] #1039 closed

[2020-11-16 09:40] saschagrunert commented on #1337
Looks good, I'll continue with the Tiers on kubernetes/community#5300 got merged.

[2020-11-16 22:38] #1222 closed

[2020-11-16 23:34] xmudrii opened #1339 "Release Manager access for Taylor (@onlydole)"
### GitHub Username

@onlydole

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

- temporary: Taylor (@onlydole) is a Release Manager Associate being granted temporary elevated access to cut 1.20.0-beta.2 release. Access should be revoked after the 1.20.0-beta.2 release is cut.

### Release Manager

- [x] Update Google Groups/GCP IAM memb

[2020-11-16 23:34] xmudrii commented on #1339
/milestone v1.20
/kind documentation
/priority important-soon

[2020-11-17 10:38] #1009 closed

[2020-11-17 16:54] onlydole opened #1342 "Cut 1.20.0-beta.2 release"
## Scheduled to happen: Tue, 2020-11-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1605636625012900)

  - [x] Collect metrics and add them to the `Release steps` table below
- [x] S

[2020-11-17 17:15] cpanato commented on #1342
/milestone v1.20
/assign @onlydole

[2020-11-17 18:45] LappleApple opened #1343 "Iterate on Release Team Shadow onboarding and experience"
This issue combines notes from survey feedback and discussions.

### Provide more onboarding on these topics (this was requested):

- [ ] K8s fundamentals:
   - Mechanics
   - Ecosystem
   - Terminology (SIGs/what they do, acronyms/what they mean, etc.)
- [ ] Process:
   - Stakeholder Interactions: Who are you pinging/interacting with, when, and why
   - [Release phases page](https://github.com/ku

[2020-11-17 22:00] onlydole commented on #1342
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-11-17 21:59:17.74042 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master&wi

[2020-11-17 22:02] saschagrunert commented on #1342
Looks like the links to the images needs to be fixed (cc @cpanato)

[2020-11-18 00:39] onlydole commented on #1342
@saschagrunert - you were right about changing from Markdown to HTML! If we account for `alt` text and set the image as the `src` then all looks wonderful 😍

[2020-11-18 03:47] onlydole commented on #1342
Thank you all for the incredible experience, I'll be back! :smile:

/close

[2020-11-18 03:47] #1342 closed

[2020-11-18 20:46] jeremyrickard commented on #912
Bug Triage updated in https://github.com/kubernetes/sig-release/pull/1345

[2020-11-18 21:38] xmudrii commented on #1339
The release is out. Thank you, @onlydole!
/close

[2020-11-18 21:39] #1339 closed

[2020-11-19 23:08] jeremyrickard commented on #912
ANNNND comms is updated ☝️ . Going to close this issue now!

[2020-11-19 23:08] jeremyrickard commented on #912
/close

Thanks for the updates, everyone!

[2020-11-19 23:09] #912 closed

[2020-11-23 18:01] puerco commented on #1186
I think we're in a much better shape to implement this in the near term
/remove-lifecycle stale

[2020-11-25 19:29] palnabarun commented on #539
/remove-lifecycle rotten

[2020-11-30 17:47] lachie83 opened #1363 "Assemble Kubernetes 1.21 Release Team"
The time is upon us to start assembling the 1.21 release team.

Please review the [Release Team Selection Process](https://github.com/kubernetes/sig-release/tree/master/release-team#release-team-selection) docs for details on the process and criteria.

At this stage we only require nominations for Role Leads. Once role leads are nominated we will then send out a shadow application survey.

/sig re

[2020-11-30 17:49] lachie83 commented on #1363
/assign @lachie83

[2020-11-30 17:52] jeremyrickard commented on #1363
Thanks for opening this @lachie83  and thanks so much for your time as EA for the 1.20 release! You've been such an asset.

I would like to nominate @palnabarun as the 1.21 Release Lead! He has done a fantastic job as a shadow and it was a pleasure working with him during this release, and through 1.17, 1.18 and 1.19! I think he will do a great job leading 1.21!

[2020-11-30 17:54] jeremyrickard commented on #1363
/milestone v1.21

[2020-11-30 18:08] bai commented on #1363
I'd like to nominate @erismaster as Bug Triage Lead for 1.21. Have a great ride Derrik!

[2020-11-30 18:20] palnabarun commented on #1363
Thank you @lachie83 for devoting the time as an EA for this release. 🙂

@jeremyrickard -- Thank you for showing confidence in me and your guidance throughout this release. I am really stoked to be nominated for the role. 😍

[2020-11-30 18:46] annajung commented on #1363
I am excited to nominate @reylejano as the lead of the 1.21 Release Docs Team 🎉 🎉

[2020-12-01 08:28] xmudrii opened #1365 "Cut 1.20.0-rc.0 release"
## Scheduled to happen: Tue, 2020-12-01

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1606811420282800)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-12-01 08:37] xmudrii commented on #1365
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-12-01 08:35:40.171116198 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-v1alpha3-

[2020-12-01 17:32] JamesLaverack commented on #1363
I'm very happy to nominate @wilsonehusin as Release Notes Lead for 1.21. 🎉 📓

[2020-12-01 20:19] RobertKielty commented on #1363
I am delighted to nominate @thejoycekung for the role of CI Signal Team Lead for the 1.21 Release.

I would also like to take the opportunity to thank @ScrapCodes @hkamel and @eddiezane for their work on the 1.20 Release. I look forward to working with you all again in the future!

[2020-12-02 20:39] justaugustus opened #1369 "[Umbrella] Considerations around a mirror registry"
#### What would you like to be added:

Mirroring for popular non-Kubernetes community images that are used across the project.

#### Why is this needed:

Keying off of some recent discussions, specifically around Docker Hub changes, some community members have requested mirrored images or that we build our own for critical release and testing components.

Some recent discussions include:
- https:/

[2020-12-02 20:42] BenTheElder commented on #1369
I think @spiffxp filed a similar issue the other day.

Ideally I'd like to move things to *primary* hosting on a registry we're comfortable with, instead of configuring mirrors (this may be what you meant already, but I want to be clear on that point).

e.g. for e2e.test we want to get all of the images we use into k8s.gcr.io, even if that means just copying them over and updating the references.

[2020-12-02 20:49] justaugustus commented on #1369
Very likely; just wanted to tie a bunch of threads together in a SIG Release context, so RelEng can start chunking the work in the new year.

Agreed. I think there will likely be a few categories:
- images that we push, but to Google Infra and need to transfer them over to the Community (out of scope here, but in scope for --> https://github.com/kubernetes/k8s.io/issues/1458)
- images that are fur

[2020-12-02 21:23] justinsb commented on #1369
@hakman pointed out to me that containerd doesn't release ARM artifacts (https://github.com/containerd/containerd/releases/tag/v1.3.9) and AIUI points users to docker for ARM builds.  I can see a lot of things being in the 3rd category ("we build it to normalize it").

[2020-12-02 22:52] justaugustus commented on #1369
@justinsb -- absolutely! I think another great example along the arch side is distroless: https://github.com/GoogleContainerTools/distroless/issues/583.

When multi-arch images were introduced, they were only for arm64, which broke us.
@dims and @mattmoor did some great work to get us back into a good state.

Not necessarily saying that distroless is on the list of images needing to be mirrored, b

[2020-12-02 23:01] justaugustus commented on #1369
Sent a note to k-dev to get additional feedback here: https://groups.google.com/g/kubernetes-dev/c/198cwXYDtjc

[2020-12-02 23:08] sftim commented on #1369
An OCI image index seems like a nice idea: “I don't care where you get it from, but the manifest had better have exactly _this hard-to-collide-with checksum_”.
So, I'd like an approach that works for now and leaves room for more improvements.

[2020-12-02 23:14] smarterclayton commented on #1369
Great topic - I’ll add https://github.com/kubernetes/kubernetes/pull/93510 which is what openshift is now using to support offlining all images used by a test framework for disconnected users.

I am very incentivized to work with folks to make this easier for everyone.

[2020-12-02 23:16] smarterclayton commented on #1369
Another use case that isn’t mentioned here exactly - downstream distros sometimes can’t trust upstream community images (or needs a process to rebuild them years or decades later), so being able to control the source of images as part of a unified process is also desirable, which requires mirroring and an audit list of every image used.

[2020-12-02 23:22] justaugustus commented on #1369
Love this, @smarterclayton!
Artifact management is high on my priority list for 2021 and I think as we continue to build a cohesive story around it, authorization/attestation definitely comes into play.

[2020-12-02 23:32] mcluseau commented on #1369
Loosely connected to the problem of isolating from upstream issues, but I recently had to solve the problem of reducing the bandwidth usage of the pulls all around clusters, every time an image moves or a daemonset is deployed. This also allows for faster restart delays since the blobs are locally cached. Both those issues were important for my customers.

That bandwidth usage is mainly the blobs

[2020-12-03 12:28] justaugustus opened #1372 "[Epic] Artifact Management"
#### What would you like to be added:

We need a cohesive story around artifact management.

Broadly, this will cover:
- File artifacts
- Container images
- deb/rpm packages

There are several issues which describe various aspects of developing a process, as well as user feature requests, so to start, we should do some issue collection.

- [x] Create an "Epics" column in the SIG Release project bo

[2020-12-03 17:51] jrsapi commented on #1363
Excited to nominate @divya-mohan0209 for Comms lead for the 1.21 release cycle.

[2020-12-03 22:40] divya-mohan0209 commented on #1363
Thank you so much @jrsapi for showing confidence in me and leading by example throughout ! I am super stoked and look forward to serving the community with this role🙏

[2020-12-04 17:52] xmudrii commented on #1365
The release has been cut and all action items are resolved.
/close

[2020-12-04 17:53] #1365 closed

[2020-12-04 17:58] thockin commented on #1369
WRT "be able to rebuild years later" - This roughly means forking every source repo for every image we depend on transitively ad infinitum, right?  Otherwise we simply do not have that ability.  Github repos DO disappear occasionally.  I made the same argument about godeps a long time back, and the discussion swirled on how much energy it takes to maintain such a beast.

I do think that we, as a p

[2020-12-05 01:34] raghvenders commented on #1369
@justaugustus - Is this feature specific addressing e2e/test/Other specific identifiable pull and run or wherever possible but cannot avoid significant fraction for dockerHub as @thockin mentioned?

[2020-12-05 18:40] kikisdeliveryservice commented on #1363
Happy to nominate @annajung for 1.21 Enhancements Lead. ☺️

[2020-12-07 13:42] xmudrii opened #1375 "Cut 1.20.0 release"
## Scheduled to happen: Tue, 2020-12-08

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification (mock)](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1607348700420700) [see notification (nomock)](https://kubernetes.slack.com/archives/CJH2GBF

[2020-12-07 14:09] xmudrii commented on #1375
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2020-12-07 14:09:07.250078409 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-informing#gce-windows-2019-1.20&width=30">sig-re

[2020-12-07 15:58] alejandrox1 commented on #1040
/milestone v1.21

[2020-12-07 15:59] alejandrox1 commented on #1040
AI: let's add more docs like https://github.com/kubernetes/sig-release/pull/1347/files

[2020-12-07 17:23] lachie83 commented on #1363
I would like to nominate @onlydole to serve at Emeritus Advisor for 1.21

[2020-12-09 08:28] cpanato opened #1380 "Cut 1.17.15 release"
## Scheduled to happen: Wed, 2020-12-09

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1607502787026300)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-12-09 08:29] cpanato opened #1381 "Cut 1.18.13 release"
## Scheduled to happen: Wed, 2020-12-09

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1607502830027200)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-12-09 08:30] cpanato opened #1382 "Cut 1.19.5 release"
## Scheduled to happen: Wed, 2020-12-09

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1607502879028200)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-12-09 08:55] cpanato commented on #1380
### Testgrid dashboards for 1.17

Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-12-09 08:55:24.376897163 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.17-informing#kubeadm-kinder-1-17-on-1-16&width=30">

[2020-12-09 08:56] cpanato commented on #1381
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-12-09 08:56:03.142068127 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-windows-1909-1.18&width=30">sig-re

[2020-12-09 08:56] cpanato commented on #1382
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2020-12-09 08:56:23.919962019 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-informing#node-kubelet-features-1.19&width=30">s

[2020-12-09 08:56] cpanato commented on #1382
/assign

[2020-12-09 08:56] cpanato commented on #1381
/assign

[2020-12-09 08:56] cpanato commented on #1380
/assign

[2020-12-10 09:57] cpanato commented on #1380
release is out
/close

[2020-12-10 09:57] #1380 closed

[2020-12-10 10:01] cpanato commented on #1381
release is out
/close

[2020-12-10 10:02] #1381 closed

[2020-12-10 10:04] cpanato commented on #1382
release is out

/close

[2020-12-10 10:04] #1382 closed

[2020-12-10 12:44] cpanato commented on #1217
/remove-lifecycle stale

[2020-12-10 12:45] cpanato commented on #1217
added this to my next week backlog

[2020-12-10 12:45] cpanato commented on #1216
added this to my next week backlog

[2020-12-10 13:05] ameukam commented on #1073
/remove-lifecycle stale

[2020-12-10 19:29] xmudrii commented on #1375
The release has been cut.
/close

[2020-12-10 19:29] #1375 closed

[2020-12-11 09:55] saschagrunert commented on #723
I think this is done
/close

[2020-12-11 09:55] #723 closed

[2020-12-11 09:57] saschagrunert commented on #1216
Took my freedom to rename the issue to optically match with others.

[2020-12-11 09:57] saschagrunert commented on #1217
Took my freedom to rename the issue to optically match with others.

[2020-12-11 09:58] saschagrunert commented on #1229
@xmudrii is this part of the docs enhancements? Do we need this issue as separate one?

[2020-12-11 09:59] saschagrunert commented on #1322
@hasheddan do you wanna check what is left open here? I think we just have to double check that everything is in place, right?

[2020-12-11 12:55] xmudrii commented on #1229
@saschagrunert I don't think that we need a separate issue. I updated the refactor issue to mention this, so let's close this issue.
/close

[2020-12-11 12:55] #1229 closed

[2020-12-11 13:07] hasheddan commented on #1322
@saschagrunert yep I'll give this a run-through, thanks!

[2020-12-14 22:54] #1290 closed

[2020-12-17 01:35] jeremyrickard opened #1388 "Create Notional 1.21 Schedules"
Create rough outline of 1.21 schedule for both a four-release cadence and a three-release cadence for consideration as part of overall release cadence discussions

/sig release
/area release-team
/milestone v1.21
/assign @palnabarun @jeremyrickard

[2020-12-17 01:37] justaugustus commented on #1388
xref: https://github.com/kubernetes/sig-release/discussions/1290

[2020-12-17 01:47] jeremyrickard opened #1389 "Investigate Merge Blocking Plugin Enhancements To Better Enforce Release Freeze Deadlines"
During the 1.20 Release, there were a merges to kubernetes/kubernetes that occurred post code freeze and post test freeze that had not been communicated to the release team. At each of these, people with appropriate permissions (lgtm, approve, milestone maintainer) can simply bypass the process and land things post freeze. These  have also occurred in past cycles, and lead to extra churn and toil

[2020-12-17 01:48] jeremyrickard commented on #1389
/priority important-soon

[2020-12-17 01:49] jeremyrickard commented on #1388
/priority critical-urgent
/kind documentation

[2020-12-17 01:50] jeremyrickard commented on #1389
/kind feature

[2020-12-17 01:56] jeremyrickard opened #1390 "Create Visual Path To Release"
During the last SIG-Release meeting, we discussed awareness of the release outside of the Release Team (i.e. contributors/kep authors/etc) and the need to better communicate this and provide refresher training to the community, as well as the need to better highlight things with the release team. One proposal was developing a  "visual path" to a release, with all steps and things related documente

[2020-12-17 14:45] annajung commented on #1390
@savitharaghunathan and I have been working on this as it's something that we brought up during 1.19 retro. We have a draft of the flow chart but weren't able to finish it due to other priorities. We will probably need to rethink the tool used so that the visual doesn't become stale.

Happy to work on this and would welcome anyone else who wants to work on it with us.

/assign @savitharaghunathan

[2020-12-17 22:54] hasheddan opened #1393 "Cut 1.20.1 release"
## Scheduled to happen: Fri, 2020-18-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1608286676155600)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-12-17 22:56] hasheddan opened #1394 "Cut 1.19.6 release"
## Scheduled to happen: Fri, 2020-12-18

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1608286513154500)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-12-17 22:58] hasheddan opened #1395 "Cut 1.18.14 release"
## Scheduled to happen: Fri, 2020-12-18

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1608286221153100)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-12-17 22:59] hasheddan opened #1396 "Cut 1.17.16 release"
## Scheduled to happen: Fri, 2020-12-18

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1608286020152000)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-12-18 10:04] cpanato commented on #1396
/assign

[2020-12-18 10:06] cpanato commented on #1396
### Testgrid dashboards for 1.17

Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-12-18 10:06:09.566306772 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-windows-1.17&width=30">sig-release

[2020-12-18 10:09] cpanato commented on #1395
/assign

[2020-12-18 10:11] cpanato commented on #1395
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-12-18 10:11:06.884292652 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-windows-1909-1.18&width=30">sig-re

[2020-12-18 10:15] cpanato commented on #1394
/assign

[2020-12-18 10:15] cpanato commented on #1394
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2020-12-18 10:19] cpanato commented on #1393
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2020-12-18 10:19:06.417963593 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-informing#gce-windows-1909-1.20&width=30">sig-re

[2020-12-18 10:20] cpanato commented on #1393
/assign

[2020-12-20 15:13] cpanato commented on #1396
release is out
/close

[2020-12-20 15:13] cpanato commented on #1395
release is out
/close

[2020-12-20 15:13] cpanato commented on #1394
release is out
/close

[2020-12-20 15:13] #1396 closed

[2020-12-20 15:13] cpanato commented on #1393
release is out
/close

[2020-12-20 15:13] #1395 closed

[2020-12-20 15:13] #1394 closed

[2020-12-20 15:13] #1393 closed

[2020-12-22 16:57] palnabarun commented on #1388
Here is the link to a proposed schedule that we discussed on: [Proposed 2021 Release Timeline](https://docs.google.com/spreadsheets/d/19YNuEsy347tiOm3U0fyEId7ghm1XrYpqU321uqUCu1Y/edit?usp=sharing)

[2020-12-24 18:14] #1002 closed

[2020-12-25 17:37] #966 closed

[2020-12-31 12:54] #1155 closed

[2020-12-31 16:58] #774 closed

[2021-01-04 11:43] SomtochiAma opened #1400 "Automate some work for the release-docs/enhancement team"
#### What would you like to be added:
This issue is mostly to open discussions about the best way to go about automating part of the work done by the docs/enhancement teams.

[krease](https://github.com/SomtochiAma/krease) is a small CLI that filters issues based on issues and milestones, then comment on them with a template as an example of something that could be automated. We could integrate so

[2021-01-07 11:08] wojtek-t commented on #908
/remove-lifecycle stale

[2021-01-07 18:49] palnabarun opened #1404 "Release Team Lead access for @palnabarun @kikisdeliveryservice @savitharaghunathan @bai"
### GitHub Username(s)

- @palnabarun
- @kikisdeliveryservice
- @savitharaghunathan
- @bai

### Release Cycle

Kubernetes 1.21

### Prerequisites

- [x] Ensure new Release Team Lead:
  - [x] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-

[2021-01-07 18:58] palnabarun commented on #1404
/milestone 1.21

[2021-01-07 18:58] palnabarun commented on #1404
/milestone v1.21

[2021-01-07 19:17] palnabarun commented on #1404
I have completed the training. My LF training certificate ID is LF-o61x5t3r6e.

[2021-01-07 19:19] savitharaghunathan commented on #1404
I have completed the training! Here's my certificate id: `LF-a7hzkmrc4m`

[2021-01-07 19:20] savitharaghunathan commented on #1404
✨ I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications

[2021-01-07 20:16] palnabarun commented on #1404
I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-01-08 05:06] bai commented on #1404
I have completed the training. My training certificate ID is `LF-yqwnil3c9f`.

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-01-08 10:06] divya-mohan0209 commented on #1404
I have completed the training. My training certificate ID is LF-cuyg856pxb.

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-01-08 21:31] spiffxp commented on #1221
/remove-lifecycle rotten
@kubernetes/release-engineering any update on this?

[2021-01-08 21:34] justaugustus commented on #1221
Thanks for the ping. We'll prioritize this as part of the dependency work this cycle.

[2021-01-09 00:13] kikisdeliveryservice commented on #1404
I completed my training: `LF-tst9jc3b5s`

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-01-11 09:50] saschagrunert commented on #1400
We probably can integrate this into `krel`. Do you have any thoughts on that @justaugustus?

[2021-01-12 09:51] saschagrunert commented on #896
We can also cover the release engineering process and documentation within this issue.

My idea of a lightweight process:

1. PSC shares the embargoed information with the release managers (still manually and ad-hoc)
2. Release managers use krel to "publish" the information right before `krel stage` in a dedicated krel subcommand. Publishing means only that we put the CVE/YAML mapping to the publi

[2021-01-12 15:47] SomtochiAma commented on #1400
@saschagrunert that sounds great! Should I join the release team meetings on of these days so that everyone can discuss on how to move further?

[2021-01-12 16:23] palnabarun commented on #1388
For 1.21, we were working on the schedule [here](https://docs.google.com/spreadsheets/d/1q7UvVvZQKtrZaXCWejlUZCJYrAYckHPaTsnZ0lEJ9f4/edit?usp=sharing) and the final goto source of truth is in [the release directory](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.21/README.md).

[2021-01-12 16:27] LappleApple commented on #734
Research task: Would want to record any SteerCo decision regarding travel sponsorship.

/assign @palnabarun
/unassign @justaugustus

[2021-01-12 16:38] justaugustus commented on #378
/assign @saschagrunert
/unassign @tpepper @calebamiles
/milestone v1.21

[2021-01-12 16:50] saschagrunert commented on #1400
Yeah that sounds good, feel free to put the item on the agenda for the next release engineering meeting: https://docs.google.com/document/d/16GqCjnEh86w8yADcrUylNoE1y1sqjIMYNC_gdk5WPSQ/edit#

It would be good if you could outline a process to automate in the meanwhile. :)

[2021-01-12 19:04] hasheddan commented on #1337
Found this google groups thread and want to loop in @BenTheElder and @johnbelamaric to let y'all know this effort is underway. I am planning on attending SIG-Arch meeting this Thursday https://groups.google.com/g/kubernetes-sig-architecture/c/eHBFgfd6Qxg

[2021-01-12 23:51] puerco opened #1416 "Cut 1.21.0-alpha.1 release"
## Scheduled to happen: Wed, 2021-01-13

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1610567808346200
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notification [email](https://groups.google.com/u/1/g/kubernetes-dev/c/c8ia478Q0MA/

[2021-01-13 10:08] cpanato opened #1417 "Cut 1.20.2 release"
## Scheduled to happen: Wed, 2021-01-13

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1610532987301600)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2021-01-13 10:09] cpanato opened #1418 "Cut 1.19.7 release"
## Scheduled to happen: Wed, 2021-01-13

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1610532913300800)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2021-01-13 10:10] cpanato opened #1419 "Cut 1.18.15 release"
## Scheduled to happen: Wed, 2021-01-13

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1610532876299700)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2021-01-13 10:11] cpanato opened #1420 "Cut 1.17.17 release"
## Scheduled to happen: Wed, 2021-01-13

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1610532800298900)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2021-01-13 10:27] mkorbi commented on #1257
I would like to pick up this task

/remove-lifecycle stale
/assign @mkorbi

[2021-01-13 12:44] cpanato commented on #1420
### Testgrid dashboards for 1.17

Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2021-01-13 12:44:08.595153002 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-windows-1.17&width=30">sig-release

[2021-01-13 12:45] cpanato commented on #1419
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2021-01-13 12:44:59.638118172 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-windows-1909-1.18&width=30">sig-re

[2021-01-13 12:45] cpanato commented on #1418
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-01-13 12:46] cpanato commented on #1417
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-01-13 12:46:03.013505181 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-informing#gce-windows-2019-1.20&width=30">sig-re

[2021-01-13 13:48] dims commented on #223
/close

let's please open fresh issues for things we need to do.

[2021-01-13 13:48] #223 closed

[2021-01-13 16:13] puerco commented on #1416
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-01-13 16:12:44.326950252 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master&wi

[2021-01-13 20:34] justaugustus opened #1421 "Chair/Technical Lead access for @jeremyrickard"
### GitHub Username

@jeremyrickard

### [Chair/Technical Lead](https://git.k8s.io/sig-release/lead/onboarding.md) role

Technical Lead
ref: https://groups.google.com/g/kubernetes-dev/c/78E3IobBKH0

### Chair and Technical Lead Onboarding

**All pull requests within these checklists should be marked with an _explicit_
hold and only released once approved by a SIG Release (subproject) owner.**

- [

[2021-01-14 08:38] cpanato commented on #1420
release is out
/close

[2021-01-14 08:38] #1420 closed

[2021-01-14 08:40] cpanato commented on #1419
release is out
/close

[2021-01-14 08:40] #1419 closed

[2021-01-14 08:42] cpanato commented on #1418
release is out
/close

[2021-01-14 08:42] #1418 closed

[2021-01-14 08:44] cpanato commented on #1417
release is out
/close

[2021-01-14 08:45] #1417 closed

[2021-01-14 18:51] puerco commented on #1416
Release is out. Closing.
/close

[2021-01-14 18:52] #1416 closed

[2021-01-14 21:21] hasheddan commented on #1337
Slides from presentation to sig-arch: https://docs.google.com/presentation/d/1bctKOljDHwCB6115pphPO3VQ4PiLHcOqYiBA5IXorTE/edit?usp=sharing

[2021-01-16 00:07] LappleApple commented on #1312
/help

[2021-01-18 07:50] SomtochiAma commented on #1400
Hey @saschagrunert , Just to double-check, what is the date for the next release engineering meeting?

[2021-01-18 08:19] saschagrunert commented on #1400
Hey, it's tomorrow January 19 at 3:30pm UTC:
https://docs.google.com/document/d/16GqCjnEh86w8yADcrUylNoE1y1sqjIMYNC_gdk5WPSQ/edit#

[2021-01-18 13:31] saschagrunert commented on #1337
Thanks for sharing! Looks like my work assignment ends after https://github.com/kubernetes/sig-release/pull/1360 got merged. Since you're the coordinator of this effort: What are possible next steps for myself to support further? :)

[2021-01-19 15:54] LappleApple commented on #1216
/assign @puerco to check on which jobs are done

[2021-01-19 15:54] saschagrunert commented on #1216
/milestone v1.21

[2021-01-19 18:00] palnabarun commented on #1400
Just dropping the reference to something related to `krease` an Enhancements Shadow, Harsha, from the 1.19 RT was working on:
https://github.com/harshanarayana/k8s-enhancements

If we end up having some automation on our interaction with GH during the course of the release cycle, we should also have a look at the above.

[2021-01-20 07:24] SomtochiAma commented on #1400
@palnabarun Yes it looks great! We could definitely combine efforts to work on automating parts of the release cycle.

[2021-01-20 11:28] saschagrunert commented on #1400
#### Docs process automation

It looks like that we can model a state machine around the usual deadlines from a release cycle perspective. In the first iterations we probably have to still manually sync the tracking sheet with the outputs of the tool. Later on we could think about an overall representation within k/sig-release.

Let's split up the steps:

1. After enhancements freeze
    - Linking

[2021-01-20 15:42] SomtochiAma commented on #1400
Yes. Ideally, the owner of the issue should place the label. The comment should say so.

Yes, Currently through a tracking sheet. We could also create a simple frontend? But the tracking sheet should still work with the tool (if we could use the Sheets API)

Yes it is.

----
@saschagrunert This looks good! I think we can move forward.
Pinging @annajung in case she has any additions/improvements.

[2021-01-20 15:53] saschagrunert commented on #1400
Yes I think so. I thought about having a rendered markdown document within the sig-release repository some sort of read-only frontend.

If it should be more about a website, then we could think of deploying something via GitHub pages.

The most feature-rich solution would be an angular (or else) website like we have it for the release notes. But this is probably a solution with the highest efforts

[2021-01-20 16:03] SomtochiAma commented on #1400
This would probably be the best as the tracking sheets are sort of interactive but we could probably start with a read-only option. Adding the angular frontend could also be a nice project for Google Summer of Code / other mentorship programs where the efforts are defined and concentrated!

[2021-01-23 20:39] puerco opened #1435 "Release Manager access for sethmccombs"
### GitHub Username

@sethmccombs

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

* temporary: Seth (@sethmccombs) is a Release Manager Associate being granted temporary elevated access to cut the 1.21.0-alpha.2 release. Access should be revoked after the 1.21.0-alpha1.2 release is cut.

### Release Manager Onboarding

- [x] Update Goog

[2021-01-23 20:41] puerco commented on #1435
/milestone v1.21
/kind documentation
/priority important-soon

[2021-01-24 00:08] justaugustus commented on #1372
Tasks from https://github.com/kubernetes/k8s.io/issues/170:

- [ ] Design Document describing how all this will work.
- [ ] GCR Repository for official published images
- [ ] GCR Repository for projects to use (https://github.com/kubernetes/k8s.io/issues/158)
- [ ] GCS Bucket for projects to use (https://github.com/kubernetes/k8s.io/issues/153)
- [ ] Process for image promotion (https://github.com

[2021-01-24 01:26] #378 closed

[2021-01-25 20:58] justaugustus commented on #1372
More ideas from the Twitterverse: https://twitter.com/pythomit/status/1353794885099245568?s=19

cc: @tpepper

[2021-01-26 15:12] thejoycekung commented on #1223
@RobertKielty thoughts on keeping this open?

I've been using the talk that you and Dan did for the Contributors Summit as an onboarding resource so far: https://www.youtube.com/watch?v=bttEcArAjUw

[2021-01-26 15:23] jeremyrickard commented on #1363
Now that we have the 1.21 Release Team and the Shadows in place, are we good to close this issue @palnabarun @onlydole? Anything outstanding for this one?

🎊

[2021-01-26 15:24] jeremyrickard commented on #1388
Going to go ahead and close this, since we've documented notional schedules and have kicked off 1.21!

Good luck 1.21 team :)

/close

[2021-01-26 15:25] #1388 closed

[2021-01-26 15:43] RobertKielty commented on #1223
@thejoycekung I'm delighted that you are using that session for on-boarding I had this requirement in mind when I proposed the talk.

I also prepared a HackMD doc to cover the talk ...

http://bit.ly/k8s-ci

If you are happy that the session is good enough to cover the on-boarding of new CI Signalers I would be ok with closing this issue.

[2021-01-26 15:51] sethmccombs opened #1437 "Cut 1.21.0-alpha.2 release"
## Scheduled to happen: Tue, 2021-01-26

- [X] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [X] Stage & release
  - [X] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [X] Collect metrics and add them to the `Release steps` table below

- [X] Send notification [email](https://g

[2021-01-26 15:57] sethmccombs commented on #1437
/milestone v1.21
/assign @sethmccombs

[2021-01-26 16:04] thejoycekung commented on #1223
/cc @mkorbi @n3wscott @PriyankaH21 @s278gupt

If anyone has time/is interested in a quick & easy PR, we should add these two links (the CI Signal walkthrough video and the HackMD notes) to the [CI Signal role handbook](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/ci-signal/README.md) for future CI Signal members. If you want to work on it, just comment `/assign

[2021-01-26 16:10] s278gupt commented on #1223
/assign

[2021-01-26 16:49] sethmccombs commented on #1437
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-01-26 16:48:02.272606 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-master&width

[2021-01-26 22:18] sethmccombs commented on #1437
Release is out - opened issue for image-promo failure - https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/286

Closing issue
/close

[2021-01-26 22:18] #1437 closed

[2021-01-27 15:21] puerco commented on #1435
Temporary access dropped.  https://github.com/kubernetes/k8s.io/pull/1582

Thanks for your help @sethmccombs :)

/close

[2021-01-27 15:21] #1435 closed

[2021-01-27 17:48] palnabarun commented on #1363
@jeremyrickard @lachie83 -- I'm +1 on closing this. We have a full house! 🎉

[2021-01-29 23:23] #1211 closed

[2021-01-31 14:06] hasheddan opened #1442 "Release Manager offboarding for @gianarb"
### GitHub Username

@gianarb

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

Conclusion of permanent tenure (offboarding).

### Release Manager Offboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] R

[2021-01-31 15:10] hasheddan commented on #1442
/kind cleanup
/priority important-soon

[2021-02-04 18:20] #1223 closed

[2021-02-04 23:20] spiffxp commented on #1337
/wg k8s-infra
I don't think this issue is something the wg needs to drive at all, but putting it on our radar in the event that ["should be able to use our build infra"](https://github.com/kubernetes/sig-release/blob/master/release-engineering/platforms/guide.md#step-1-building) requires attention

[2021-02-07 01:01] justaugustus commented on #245
/remove-priority critical-urgent
/priority important-soon
/remove-lifecycle rotten

[2021-02-07 01:02] justaugustus commented on #850
/remove-priority critical-urgent
/priority important-soon

[2021-02-08 15:38] puerco opened #1456 "Release Manager access for @ameukam"
### GitHub Username

@ameukam

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure
temporary: Arnaud (@ameukam ) is a Release Manager Associate being granted temporary elevated access to cut the 1.21.0-alpha.3 release. Access should be revoked after the 1.21.0-alpha.3 release is cut.

### Release Manager Onboarding

### Release Manager

- [x]

[2021-02-08 16:56] puerco commented on #1456
/milestone v1.21
/kind documentation
/priority important-soon

[2021-02-08 17:24] spiffxp commented on #1337
/sig release

[2021-02-09 09:31] ameukam opened #1457 "Cut 1.21.0-alpha.3 release"
## Scheduled to happen:

- [X] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x] Send notification [email](https://link-to-email-on-

[2021-02-09 09:51] saschagrunert commented on #1457
/milestone v1.21

[2021-02-09 10:35] ameukam commented on #1457
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-02-09 10:35:53.938880262 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master&wi

[2021-02-09 15:56] saschagrunert commented on #1321
@hasheddan can we consider this as done?

[2021-02-09 15:56] saschagrunert commented on #1322
@hasheddan can we consider this as done?

[2021-02-09 15:56] saschagrunert commented on #1421
I think this is mostly done, right @justaugustus ? @jeremyrickard can you double check that you have all permissions?

[2021-02-09 15:58] hasheddan commented on #1322
@saschagrunert yep :+1:

/close

[2021-02-09 15:58] #1322 closed

[2021-02-09 15:58] hasheddan commented on #1321
@saschagrunert yep :+1:

/close

[2021-02-09 15:58] #1321 closed

[2021-02-09 16:03] saschagrunert commented on #539
I think we can solve some parts of this issue with the Receipts KEP: https://github.com/kubernetes/enhancements/pull/2167

Let's close this for now and reopen if we feel that this should be addressed.
/close

[2021-02-09 16:03] #539 closed

[2021-02-09 17:28] onlydole commented on #320
/close in favor of https://github.com/kubernetes/sig-release/issues/1257

[2021-02-09 17:28] #320 closed

[2021-02-10 06:17] palnabarun commented on #1363
Since the team has been finalized. closing this.

/close

[2021-02-10 06:17] #1363 closed

[2021-02-10 15:03] mkorbi commented on #1257
I opened two draft PRs on sig-release & community.

The idea is to move the milestone maintainer description to the community repository, also when the milestones maintainers are mainly steered through the release team, the pure process of maintaining milestones lays in the community.

Furthermore, I included a short section to the triage process in the community documentation.

sig-release PR: ht

[2021-02-11 17:38] puerco commented on #1456
Temp access has been dropped: https://github.com/kubernetes/k8s.io/pull/1630
/close

[2021-02-11 17:38] #1456 closed

[2021-02-11 17:44] puerco commented on #1457
The branch rename issue encountered during the release cut has been resolved:
https://github.com/kubernetes/release/pull/1901
And the release is out now. Closing.
/close

[2021-02-11 17:44] #1457 closed

[2021-02-15 05:57] justaugustus opened #1464 "GitHub PR reviews act as /lgtm + /approve for SIG Release repos"
#### What would you like to be added:

From https://github.com/kubernetes/test-infra/pull/20819#issuecomment-778016276:

Let's follow Aaron and SIG Testing's lead and turn this on for SIG Release repos.

Use:
- https://github.com/kubernetes/test-infra/pull/20819 as example of how to configure this
- https://github.com/kubernetes/community/tree/master/sig-release#subprojects as a reference point fo

[2021-02-16 16:29] cpanato opened #1465 "Cut 1.18.16 release"
## Scheduled to happen: Wed, 2021-02-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1613553340287500)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2021-02-16 16:29] cpanato opened #1466 "Cut 1.19.8 release"
## Scheduled to happen: Wed, 2021-02-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1613553430288400)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2021-02-16 16:30] cpanato opened #1467 "Cut 1.20.3 release"
## Scheduled to happen: Wed, 2021-02-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1613553511289200)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [ ]

[2021-02-16 19:02] supriya-premkumar commented on #1464
I can take this one up.

[2021-02-17 07:36] saschagrunert commented on #1464
@supriya-premkumar this is awesome, feel free to reach out anytime if there is anything unclear.

/assign @supriya-premkumar
/remove-help

[2021-02-17 09:19] cpanato commented on #1467
/assign @cpanato @puerco

[2021-02-17 09:19] cpanato commented on #1466
/assign @cpanato @puerco

[2021-02-17 09:19] cpanato commented on #1465
/assign @cpanato @puerco

[2021-02-17 09:37] cpanato commented on #1465
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2021-02-17 09:37:12.715069253 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-windows-1909-1.18&width=30">sig-re

[2021-02-17 09:38] cpanato commented on #1466
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-02-17 09:38:01.85807988 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#Conformance - GCE - 1.19&width=30">sig-r

[2021-02-17 09:38] cpanato commented on #1467
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-02-17 09:38:42.838860841 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-informing#gce-windows-1909-1.20&width=30">sig-re

[2021-02-17 18:31] sladyn98 commented on #1312
@LappleApple I seen you assigned this to yourself. Let me know if I can help you draft this

[2021-02-17 18:46] LappleApple commented on #1312
Hey @sladyn98, sure thing -- go ahead and claim this!

/unassign @LappleApple

[2021-02-17 19:27] spiffxp commented on #850
this hasn't happened by now, and it should have (ref: https://github.com/kubernetes/test-infra/issues/19922#issuecomment-780789250)

[2021-02-17 21:19] spiffxp commented on #850
Markers in k8s-release-dev were rolled forward, markers in kubernetes-release-dev were not.  PR to address here: https://github.com/kubernetes/test-infra/pull/20887

[2021-02-18 08:39] cpanato commented on #1465
release is out
/close

[2021-02-18 08:39] #1465 closed

[2021-02-18 08:41] cpanato commented on #1466
release is out
/close

[2021-02-18 08:41] #1466 closed

[2021-02-18 08:43] cpanato commented on #1467
Details here: https://github.com/kubernetes/kubernetes/pull/99081

Stephen's email: https://console.cloud.google.com/cloud-build/builds/f5e98f4b-7c2c-49f8-91bf-87c206346586?project=kubernetes-release-test

Slack 🧵  https://kubernetes.slack.com/archives/C78F00H99/p1613501041053200

[2021-02-18 08:45] cpanato commented on #1467
This will be close and a new issue to cut a new patch release will be created

/close

[2021-02-18 08:45] #1467 closed

[2021-02-18 08:46] cpanato opened #1470 "Cut 1.20.4 release"
## Scheduled to happen: Thu, 2021-02-18

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1613638216325200)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2021-02-18 08:46] cpanato commented on #1470
New 1.20 patch release due to https://github.com/kubernetes/sig-release/issues/1467#issuecomment-781181136

[2021-02-18 08:54] cpanato commented on #1470
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-02-18 08:54:20.225060219 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-blocking#kind-ipv6-1.20-parallel&width=30">sig-r

[2021-02-18 09:14] cpanato commented on #1470
/assign @cpanato @puerco

[2021-02-19 08:06] oldthreefeng commented on #1467
Is this version available for production  use ? or use 1.20.4 instead .  @cpanato

[2021-02-19 11:52] cpanato commented on #1467
@oldthreefeng  use 1.20.4, please see: https://groups.google.com/g/kubernetes-dev/c/oUpY9vWgzJo

[2021-02-19 11:56] cpanato commented on #1470
release 1.20.4 is out
/close

[2021-02-19 11:56] #1470 closed

[2021-02-20 22:26] dims commented on #1464
@supriya-premkumar as mentioned on slack the following
- https://github.com/kubernetes/test-infra/pull/20927/files
- https://github.com/kubernetes/test-infra/pull/20819/files

the list of repositories under sig-release management can be found here:
https://github.com/kubernetes/community/tree/master/sig-release#release-engineering

[2021-02-22 03:31] puerco opened #1474 "Release Manager access for Taylor Dolezal (onlydole)"
### GitHub Username
@onlydole

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Taylor is a Release Manager Associate being granted temporary elevated access to cut releases. Access should be revoked after the 1.21.0-beta.0 release is cut.

### Release Manager Onboarding

### Release Manager
- [x] Update Google Groups/GCP IAM m

[2021-02-23 14:55] jeremyrickard commented on #1421
I do hereby agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-02-23 14:58] jeremyrickard commented on #1421
@saschagrunert looks good, except for: I don't have posting permissions for Kubernetes-announce. If I don't need that, i think we are good.

[2021-02-23 16:09] justaugustus commented on #1400
/assign @SomtochiAma

[2021-02-23 16:14] thejoycekung commented on #1224
PR around more CI signal docs: https://github.com/kubernetes/community/pull/5449

[2021-02-23 16:27] justaugustus commented on #1224
/remove-lifecycle rotten
/area release-team
/sig release testing

[2021-02-23 16:49] onlydole opened #1475 "Cut 1.21.0-beta.0 release"
## Scheduled to happen: Tue, 2021-02-23

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [ ] Send notification [email](https://l

[2021-02-23 18:40] onlydole commented on #1475
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-02-23 18:38:32.21486 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-windows-maste

[2021-02-23 23:44] puerco commented on #1474
Release [is out](https://github.com/kubernetes/sig-release/issues/1475) and [temporary access dropped](https://github.com/kubernetes/k8s.io/pull/1707). Closing.
/close

[2021-02-23 23:44] #1474 closed

[2021-02-26 14:05] sladyn98 commented on #1312
I guess this issue would need some context like is there an example of an RCAI matrix already done, or like maybe I can attend the  next release meeting and get some  context. Let me know which one of them is reasonable : )

[2021-02-26 14:12] sladyn98 commented on #1390
@annajung I came across something that would help you convert a markdown file to a kind of flowchart. So you can maybe update that md which would generate the graph. Never tested it though. Do let me know what tools you are using and maybe I can chip in
https://support.typora.io/Draw-Diagrams-With-Markdown/

[2021-02-27 15:43] Toasterson commented on #1337
@rikatz are you interested in this for FreeBSD?

[2021-02-27 16:27] rikatz commented on #1337
@Toasterson I guess it would be good, but OTOH FreeBSD can’t be fully supported nowadays, mostly because of the lack of a kube-proxy that can deal with PF instead of IPTables :)

All the control plane components can run on FreeBSD, and also Kubelet but in the case of kubelet it does nothing as we don’t have today a cri interface to jails, as an example, so I guess the effort for this specific rele

[2021-02-27 18:15] Toasterson commented on #1337
Sure thing! Was meant more as a Heads up.

Considering kube-proxy and thae fact that both illumos and FreeBSD have a virtal switching Infrastructure, it is questionable if we want that at all. IMHO it's the CNI's Job to setup all the IP addresses of the pods and services. For Load balancing IPF/PF can be useful, but we would need to check how we want to do that exactly aswell.

[2021-03-01 08:47] saschagrunert commented on #1421
I think those permissions have to be granted manually, right @justaugustus?

[2021-03-01 08:48] saschagrunert commented on #1475
Looks like this is done and can be
/close

[2021-03-01 08:49] #1475 closed

[2021-03-01 09:40] LappleApple commented on #1312
Hi @sladyn98, you can find example RACI's online. You could draft one and then present for discussion at the next meeting.

[2021-03-01 23:30] #1464 closed

[2021-03-02 21:31] wilsonehusin opened #1483 "Release Manager access for wilsonehusin"
### GitHub Username

@wilsonehusin

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] Addition of a new Release Manager

[2021-03-03 17:05] mkorbi opened #1485 "Cut 1.21.0-beta.1 release"
## Scheduled to happen:

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x] Send notification [email](https://link-to-email-on-

[2021-03-03 17:14] saschagrunert commented on #1485
Scheduled for March 9th, maybe we should add this information to the issue template.

[2021-03-04 17:37] #838 closed

[2021-03-08 16:21] puerco opened #1486 "Release Manager access for mkorbi"
### GitHub Username

@mkorbi

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure
temporary:  Max Körbächer is a Release Manager Associate being granted temporary elevated access to cut releases. Access should be revoked after the 1.21.0-beta.1 release is cut.

### Release Manager Onboarding

### Release Manager

- [x] Update Google Groups/GC

[2021-03-08 21:33] wilsonehusin commented on #1483
/priority backlog
/kind documentation

[2021-03-09 08:01] mkorbi commented on #1485
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-03-09 08:01:23.862229 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2004-master&width

[2021-03-10 17:04] LappleApple commented on #1073
@ameukam @Verolop Hey, anything more to do here? :)

[2021-03-11 05:31] puerco commented on #1486
Temporary access has been dropped in https://github.com/kubernetes/k8s.io/pull/1775
/close

[2021-03-11 05:31] #1486 closed

[2021-03-11 15:30] ameukam commented on #1073
We now have an instance (https://release.triage.k8s.io) running on `aaa` cluster : https://github.com/kubernetes/k8s.io/tree/main/triage-party/release-team. Over time, we are facing some issues but `tstromberg` is working to address them (Thank you! ❤️).

IIRC, @Verolop is working on a configuration for TP. Maybe we should adjust it to `v1.22`.
IMHO, next step would be collect wishes from SIG-Rele

[2021-03-11 16:44] LappleApple commented on #908
Heya @alejandrox1, are you still working on this?

[2021-03-11 19:08] sladyn98 commented on #1312
Sure sounds like a plan.
* **Major themes of release engineering**

1. Support SIG PM by providing tooling and processes for the generation of release notes
2. Coordinate with SIG PM to communicate enhancement burndown progress during a release cycle
3. Set and enforce criteria for repository inclusion in a Kubernetes release
4. Set and enforce criteria for code inclusion in a Kubernetes release
5

[2021-03-11 20:01] puerco opened #1489 "Cut 1.21.0-rc.0 release"
## Scheduled to happen: Thu, 2021-03-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x] Send notification [email](https://l

[2021-03-11 20:16] puerco opened #1490 "Cut v1.18.17 release"
## Scheduled to happen: Wed, 2021-03-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify #release-management: [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1616105951064500?thread_ts=1616001975.007500&cid=CJH2GBF7Y)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notifi

[2021-03-11 20:17] puerco opened #1491 "Cut v1.19.9 release"
## Scheduled to happen: Wed, 2021-03-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify #release-management: [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1616106003064800?thread_ts=1616001981.007800&cid=CJH2GBF7Y)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notifi

[2021-03-11 20:18] puerco opened #1492 "Cut v1.20.5 release"
## Scheduled to happen: Wed, 2021-03-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify #release-management: [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1616106050065100?thread_ts=1616001984.008100&cid=CJH2GBF7Y)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notifi

[2021-03-12 13:21] LappleApple commented on #1312
Hi there—thanks for getting this started! A few things:

- SIG PM no longer exists
- For stakeholders, you'll want to also think about the different parties who need to know information about the release timetable and release progress: SIGs, users, etc. Which parties are affected by decisions and developments stemming from release engineering and the releases?

[2021-03-12 15:23] jeremyrickard commented on #1421
I think the posting permission is only relevant for patch announcements and what not, so I think this is good. I'll open an issue if I need this in the future.

/close

[2021-03-12 15:23] #1421 closed

[2021-03-15 12:34] justaugustus opened #1494 "Revisit/refine policies on the upper bound of release team shadows per role"
#### What would you like to be added:

From https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-selection.md:

This policy was intentionally written to allow for flexibility in shadow selection for role leads, but is it time that we revisit?

#### Why is this needed:

While discussing changes to the Kubernetes release cadence, it was highlighted that fewer releases a ye

[2021-03-15 12:35] justaugustus commented on #1494
/remove-kind feature
/kind documentation
/priority important-longterm

[2021-03-15 13:07] justaugustus commented on #809
Copying some comments from https://github.com/kubernetes/sig-release/discussions/1290, in order to call maintenance/stability releases out-of-scope for the [release cadence KEP](https://github.com/kubernetes/enhancements/issues/2572):

@youngnick:

@jberkus:

@jayunit100:

[2021-03-15 14:19] saschagrunert commented on #1485
/close

[2021-03-15 14:19] #1485 closed

[2021-03-15 16:32] saschagrunert opened #1496 "[Umbrella] Release cycle improvements for v1.22"
This is a placeholder issue to collect possible enhancements for the next upcoming release cycle. The outcome of the v1.21 retrospective as well general thoughts can be collected here before creating the next cycle.

_Baseline is the v1.21 schedule: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.21#timeline_

- ~~**Merge Docs deadline with Code Freeze**
  Coupling code an

[2021-03-15 16:35] palnabarun commented on #1496
/priority important-soon
/area release-team

[2021-03-15 17:27] justaugustus commented on #1496
/assign @saschagrunert @palnabarun
cc: @kubernetes/sig-release

[2021-03-16 18:01] annajung commented on #1496
Coupling code and documentation tighter to reduce the pressure on the docs team.

In discussion with Sig Docs & current Docs lead @reylejano, we agreed that we have seen better responses for a placeholder deadline when the deadline comes after the code freeze. Instead of merging the deadline with code freeze, we should schedule the placeholder docs deadline a week after the code freeze.

[2021-03-17 04:25] wilsonehusin opened #1497 "1.21 major themes contact"
With major themes submission formalizing to use GitHub Discussions, we hope that this cycle will be the last time that the release team needs to reach out to SIGs for their response.

Having that said, since the process is new, the release notes team will be using this issue to track the work on nudging SIGs for entries on major themes for 1.21 cycle.

The Slack channel for each SIG is usually `#s

[2021-03-17 06:39] ashnehete commented on #1497
I'll contact the following SIGs:
1. CLI
2. Cloud Provider
3. UI
4. Docs

[2021-03-17 08:07] saschagrunert commented on #1496
This looks like the same schedule as we have it today, right? Changed my initial comment to reflect that.

[2021-03-17 13:43] soniasingla commented on #1497
I'll contact:

1. Contributor Experience
2. Release
3. Testing
4. Multicluster

[2021-03-17 14:05] pmmalinov01 commented on #1497
I will reach out to:

1. API Machinery
2. Architecture
3. Network
4. Security

[2021-03-17 18:10] puerco commented on #1492
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-03-17 18:10:52.696811409 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-blocking#gce-cos-k8sstable1-alphafeatures&width=

[2021-03-17 18:15] puerco commented on #1491
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-03-17 18:15:29.164082978 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#gce-cos-k8sstable2-alphafeatures&width=

[2021-03-17 18:16] puerco commented on #1490
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2021-03-17 18:16:52.397246141 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-blocking#gce-cos-k8sstable3-alphafeatures&width=

[2021-03-17 18:51] savitharaghunathan commented on #1389
/remove-lifecycle stale

[2021-03-17 18:51] palnabarun commented on #1389
/remove-lifecycle stale

[2021-03-17 19:24] annajung commented on #1496
right, we actually changed it for the current release. We used to have the placeholder deadline before the code freeze but wanted to try out to see if it would work better if it came after code freeze. & looks like 1.21 proves that it does :)

So, I think we should make it permanent.

[2021-03-18 02:43] melodychn commented on #1497
I can reach out to:

1. Apps
2. Auth
3. Storage
4. Usability

[2021-03-18 15:56] wilsonehusin commented on #1497
Okay I covered the rest! Let's try to get these notifications out in the next 24 hours so it won't disappear over the weekend, especially with the deadline being less than a week.

Go team! :tada:

/close

[2021-03-18 15:56] #1497 closed

[2021-03-18 18:53] annajung commented on #1494
I think the number 3-4 probably was ideal at the moment when the doc was written, but with every release, the number of enhancements that are tracked by RT increases. We have seen a big increase in 1.20 and an even bigger number for 1.21.

The more enhancements to track, the more work required for the shadows and leads. At this point in time, 3-4 is no longer the ideal number for the number of enh

[2021-03-18 19:20] savitharaghunathan commented on #1494
+1 to what @annajung said.

I think we need to have a minimum of 4 or above based on the team needs/workload and it will give the team enough breathing room if a shadow drops out during the cycle. Starting with 3-4 and if someone drops out or not being super responsive puts a lot of stress on the rest of the team.

[2021-03-18 23:27] spiffxp commented on #1496
Right now we have 2 weeks. The idea is to reduce that time to only 1 week to save some time for development.

My interpretation of this statement as written is less about time between code and test freeze, and more about reduction of overall freeze time. Down from ~4 weeks prior to release to 3.

I am all for less time in freeze, it feels really draconian. But, is it necessary? I am curious what d

[2021-03-18 23:32] spiffxp commented on #1217
/remove-lifecycle stale

[2021-03-18 23:33] spiffxp commented on #1217
I would like to move this over to kubernetes/sig-testing with the intent of tackling this in v1.22, any objections?

[2021-03-19 09:05] saschagrunert commented on #1217
Sounds good! Thank you for catching up with this :pray:

[2021-03-22 14:15] SomtochiAma commented on #1400
Sorry for the prolonged silence, I will get started on this.
We are still integrating with krel @saschagrunert right?

[2021-03-22 14:23] saschagrunert commented on #1400
Yes I think this is still the best move forward. :blush:

[2021-03-23 15:06] justaugustus commented on #734
Assigning Jeremy as well.
/assign @jeremyrickard
/milestone v1.22

[2021-03-23 15:15] justaugustus commented on #908
/assign @jeremyrickard
/unassign @alejandrox1
/milestone v1.22

[2021-03-25 00:13] puerco commented on #1490
Release is out and issue data is now complete.
/close

[2021-03-25 00:13] #1490 closed

[2021-03-25 00:19] puerco commented on #1491
Release is out and issue data is now complete.
/close

[2021-03-25 00:19] #1491 closed

[2021-03-25 00:25] puerco commented on #1492
Release is out and issue data is now complete
/close

[2021-03-25 00:26] #1492 closed

[2021-03-25 15:22] puerco commented on #1489
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-03-25 15:22:21.151762404 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=30

[2021-03-25 19:25] ehashman commented on #1496
I initially proposed this at the Chairs and Leads meeting, seeking feedback. I also sought feedback from PRR. Consensus is that this would generally be a good idea (perhaps freezing in week 2). See also: https://kubernetes.slack.com/archives/C2C40FMNF/p1616699414092100

[2021-03-26 00:48] annajung commented on #1400
@SomtochiAma, there is work being done by the enhancement subproject group where they are going to introduce a receipt process for the enhancements, which in short, will track the enhancements and all associated PRs in git. You can read more about it in the [proposed kep](https://github.com/kubernetes/enhancements/pull/2167).

I just wanted to bring that up because I think you can leverage or remo

[2021-03-26 15:19] puerco commented on #1489
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-03-26 15:19:10.752799964 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1alpha3-

[2021-03-29 17:03] wilsonehusin commented on #1494
Context for future readers: I'm reading release cadence KEP and going down the trail of links. I'm also writing this with 1.21 release scheduled to go out in less than 2 weeks.

+1 on shadow availability as what Savitha and Anna mentioned above

I would also like to point out:

- Some work of release team is heavy at the {start, tail} end of release cycle and we should consider the team / shadow c

[2021-03-29 18:19] kikisdeliveryservice commented on #1494
While I agree 3-4 may not be the correct number I'd also say that there is probably also such a thing as too many - the lead needs to be able to have time to mentor folks and answer individual questions from each shadow, keep an eye on what the newer shadows are doing and increasing the number past a couple more means that it will probably be harder to do a good job with all of that. I'd probably