[2021-03-29 20:40] SomtochiAma commented on #1400
Hey @annajung, Thanks for linking the KEP. I took a look and mostly what is going to change is how to get the list of issues / PR (KEP, k/k, k/w) which is great. But we probably don't want to put this work on hold waiting for the KEP to be accepted and implemented.

I think we can proceed with integration with krel bearing in mind that this change is coming and make it easier to switch from gettin

[2021-03-29 21:14] annajung commented on #1400
@SomtochiAma That works! I didn't want to put this work on hold, just wanted to make sure that you were aware of changes being made to how enhancements and all enhancements related PRs will be tracked in the future which will affect the work related to this issue.

Even though KEP has not merged yet, the plan is to start moving to the new receipt process starting 1.22, maybe not fully but at least

[2021-03-30 16:16] onlydole opened #1505 "Assemble Kubernetes 1.22 Release Team 🎉"
The time is upon us to start assembling the 1.22 release team!

Please review the Release Team Selection Process docs for details on the process and criteria.

At this stage, we only require nominations for Role Leads. Once role leads are nominated we will then send out a shadow application survey.

/sig release
/area release-team
/milestone v1.22

cc @justaugustus @saschagrunert @LappleApple

[2021-03-30 16:36] palnabarun commented on #1505
Thank you @onlydole for creating the issue and getting the ball rolling for v1.22. You're awesome!

It was a pleasure working with the 1.21 Release Team and it's now time to pass on the baton.

I would like to nominate @savitharaghunathan as the Kubernetes 1.22 Release Lead. She has been doing an amazing job in the Release Cycle for the past 1 year, having started as a Docs Shadow in 1.18, leading

[2021-03-30 16:48] onlydole commented on #1505
/assign @onlydole
/kind documentation
/area release-team
/priority important-soon

[2021-03-30 17:22] savitharaghunathan commented on #1505
Thank you, @palnabarun :)  I am honored to be nominated to lead 1.22 🎉  It is going to be awesome :)

[2021-03-30 17:58] reylejano commented on #1505
I'm excited to nominate @PI-Victor to be the 1.22 Docs Lead  🎉

[2021-03-30 18:37] PI-Victor commented on #1505
Thanks for the nomination, it's awesome, and thanks for giving me the opportunity to get to know this community better!

Y'all rock! 🤘🏻

[2021-03-30 19:36] mkorbi commented on #1505
Thank you @thejoycekung for the nomination! :) Super excited and happy about it 🎉

[2021-03-30 19:42] MonzElmasry commented on #1505
Thanks @erismaster for the nomination, Im super excited  :woman_dancing:

[2021-03-30 21:48] JamesLaverack commented on #1505
![image](https://user-images.githubusercontent.com/1119526/113061429-ec9aca80-91a9-11eb-8e28-f76b25475598.png)

Thank you @annajung. I'm looking forward to working with everyone on 1.22!

[2021-03-30 23:56] wilsonehusin commented on #1505
I would like to nominate @pmmalinov01 for release notes lead in 1.22! Pavel has been proactive and empathetic in working with the release team and I'm excited to see him take on this challenge

/pony

[2021-03-31 04:12] pmmalinov01 commented on #1505
Thanks for the nomination, I am so happy that I am part of this community and eager to continue your great work!

[2021-03-31 04:51] divya-mohan0209 commented on #1505
I'm so grateful to have had the opportunity to work with all the leads and shadows and being a part of the 1.21 Release team has been an amazing experience.

That being said, I would like to pass on the baton to @Pensu for the 1.22 Release cycle. 🎉✨

[2021-03-31 06:23] Pensu commented on #1505
Thank you so much for giving me the opportunity @divya-mohan0209. Super excited and looking forward to work with you all! 🎉✨

[2021-03-31 08:42] LappleApple commented on #1073
Hey folks, given the progress made last week with configuration can we close this item now? cc @cpanato @kubernetes/sig-release-leads

[2021-03-31 11:51] cpanato commented on #1073
@LappleApple I think we can close this for now and open new ones if needed after we play a bit with it

Did a small or to adjust some config and after that, we can close this

[2021-03-31 12:09] ameukam commented on #1073
+1 for closing once https://github.com/kubernetes/k8s.io/pull/1852 is merged and deployed.

[2021-03-31 12:11] #1073 closed

[2021-03-31 12:25] ameukam commented on #1073
Oups. Bot took over when I mentioned the PR. Sorry.

[2021-04-06 20:37] KnotGud opened #1511 "Patch release team handbook documentation has slight inconsistency"
#### What happened:
The [Release Cut section](https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/patch-release-team.md#release-cut) ([code](https://github.com/kubernetes/sig-release/blame/master/release-engineering/role-handbooks/patch-release-team.md#L511)) of the patch release team handbook documentation seems inconsistent with krel [root flags](https://gith

[2021-04-07 08:27] saschagrunert commented on #1040
@alejandrox1 are you still working on this or do you think we should close out this issue?

[2021-04-07 12:27] jeremyrickard commented on #734
This is still undecided at that SteerCO/CNCF level.

This initial draft https://github.com/kubernetes/steering/pull/114 of a plan was closed in June of 2020. Per https://github.com/kubernetes/steering/issues/109, it looks like this is still pretty much on hold.

I think that we should probably close this and just track the steerco issue, as that will likely be the answer for everyone. Once that is

[2021-04-07 12:39] jeremyrickard commented on #734
/close in favor of tracking https://github.com/kubernetes/steering/issues/109

We'll open a new issue once the higher level issue is resolve 👍

[2021-04-07 12:39] #734 closed

[2021-04-07 17:12] LappleApple commented on #896
/assign @saschagrunert

[2021-04-07 17:25] LappleApple commented on #1217
/sig testing

[2021-04-07 19:01] puerco opened #1513 "Cut v1.21.0 release"
## Scheduled to happen: Thu, 2021-04-08

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- Mock Run
  - [x] Stage
  - [x] Release
- Real Run
  - [x] Stage
  - [x] Image Promotion
  - [x] Build & publish packages (debs & rpms)
  - [x] Release
- [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernete

[2021-04-07 19:07] puerco commented on #1513
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2021-04-07 19:07:16.120880823 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-windows-2004-1.21&width=30">sig-re

[2021-04-07 19:37] puerco commented on #1489
Release is done and metrics table has been added, closing
/close

[2021-04-07 19:38] #1489 closed

[2021-04-07 19:41] puerco commented on #1513
Some `gce-windows-*` jobs are failing due to timeouts. [Issue being tracked in slack](https://app.slack.com/client/T09NY5SBT/C0SJ4AFB7/thread/C0SJ4AFB7-1617134401.088100).

[2021-04-08 18:17] puerco opened #1514 "downloadkubernetes.com is stuck since v1.20.1"
#### What happened:

The downloads listed at downloadkubernetes.com are stuck at `v1.20.1`.

#### What you expected to happen:

I would expect the downloads to be current (v1.21.0 as today)

#### How to reproduce it (as minimally and precisely as possible):

Open https://www.downloadkubernetes.com/ all downloads for releases since 1.20.1 are missing.

#### Anything else we need to know?:

This had

[2021-04-08 18:20] puerco commented on #1514
/cc @jimangel @chuckha

[2021-04-10 21:19] mkorbi commented on #1257
I'm messing around with the PRs so I opened a new one to not create a chaos https://github.com/kubernetes/sig-release/pull/1518

[2021-04-12 11:57] LappleApple commented on #1257
/sig release

[2021-04-12 22:21] onlydole commented on #1505
I nominate, @guineveresaenger as the next emeritus advisor for Kubernetes 1.22! It's been a long, winding, wonderful road working with all of you, and I can think of no one better to carry that spirit forward than Guin! 😄

[2021-04-13 00:04] guineveresaenger commented on #1505
I've missed you fam! @onlydole thank you for the kind words!

[2021-04-13 14:03] hasheddan commented on #1216
@cpanato is this issue scoped to _all_ CI or just sig-release? It looks like we are currently covered for sig-release baords.

[2021-04-13 14:06] cpanato commented on #1216
just sig-release. and you are right, i forgot to close this

/close

[2021-04-13 14:06] #1216 closed

[2021-04-13 14:08] hasheddan commented on #1221
/remove-lifecycle stale
/milestone v1.22

[2021-04-13 15:06] saschagrunert commented on #1442
@cpanato mentioned that he can take over this part

[2021-04-13 15:21] LappleApple commented on #1221
Note from today's Rel Eng meeting—we'd like to draft this during the regularly scheduled community meetings using a template that enables us to structure the conversation/allows for collaboration, and bring it to "pretty good draft" status by a month from now.

[2021-04-14 05:47] puerco opened #1519 "Cut 1.18.18 release"
## Scheduled to happen: Wed, 2021-04-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- Mock `krel` runs:
  - [x] Stage
  - [x] Release
- No mock runs:
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/1932
  - [x] Release
- [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](htt

[2021-04-14 05:48] puerco opened #1520 "Cut v1.19.10 release"
## Scheduled to happen: Wed, 2021-04-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- Mock `krel` runs:
  - [x] Stage
  - [x] Release
- No mock runs:
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/1931
  - [x] Release
- [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](htt

[2021-04-14 05:49] puerco opened #1521 "Cut v1.20.6 release"
## Scheduled to happen: Wed, 2021-04-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- Mock `krel` runs:
  - [x] Stage
  - [x] Release
- No mock runs:
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/1931
  - [x] Release
- [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](htt

[2021-04-14 14:22] savitharaghunathan opened #1522 "Release Team Lead access for @savitharaghunathan @kikisdeliveryservice @divya-mohan0209 @annajung @erismaster"
### GitHub Username(s)

- @annajung
- @divya-mohan0209
- @erismaster
- @kikisdeliveryservice
- @savitharaghunathan

### Release Cycle

Kubernetes 1.22

### Prerequisites

- [ ] Ensure new Release Team Lead:
  - [ ] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/f

[2021-04-14 14:23] savitharaghunathan commented on #1522
I have completed the CNCF Inclusive Speaker Orientation training! Here's my certificate id: `LF-a7hzkmrc4m`

✨ I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-04-14 14:24] savitharaghunathan commented on #1522
/kind documentation
/kind cleanup
/priority important-soon

[2021-04-14 14:31] divya-mohan0209 commented on #1522
I have completed the CNCF Inclusive Speaker Orientation training! Here's my certificate id: LF-cuyg856pxb

✨ I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-04-14 15:56] annajung commented on #1522
I have completed the CNCF Inclusive Speaker Orientation training: `LF-j7l070r0il`

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-04-14 16:43] erismaster commented on #1522
I have completed the CNCF Inclusive Speaker Orientation training: `LF-xah4uwsvqv`

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-04-14 17:14] kikisdeliveryservice commented on #1522
I completed my training: LF-tst9jc3b5s

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-04-14 21:15] puerco commented on #1521
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-04-14 21:15:18.109081265 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-blocking#kind-ipv6-1.20-parallel&width=30">sig-r

[2021-04-14 21:16] puerco commented on #1520
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-04-14 21:16:31.69760712 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#gce-cos-k8sstable2-alphafeatures&width=3

[2021-04-14 21:20] puerco commented on #1519
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2021-04-14 21:20:41.160460733 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-blocking#gce-cos-k8sstable3-alphafeatures&width=

[2021-04-15 10:00] cpanato commented on #1442
@hasheddan @saschagrunert I was double-checking the last item and I don't see `gianarb`  email configured in k8s.io.

I checked with Gianluca his email just to be sure, so I think we are good to close this issue

[2021-04-15 10:28] saschagrunert commented on #1442
@cpanato thank you for double checking
/close

[2021-04-15 10:28] #1442 closed

[2021-04-16 01:54] puerco commented on #1519
Release is out :rocket:
/close

[2021-04-16 01:54] #1519 closed

[2021-04-16 01:58] puerco commented on #1520
Release is out :rocket:
/close

[2021-04-16 01:58] #1520 closed

[2021-04-16 02:00] puerco commented on #1521
Release is out
/close

[2021-04-16 02:00] #1521 closed

[2021-04-16 02:05] puerco commented on #1513
Release is out!  :rocket:
/close

[2021-04-16 02:05] #1513 closed

[2021-04-16 19:07] LappleApple commented on #1221
To drive open collaboration on this I've created a [sandbox doc](https://docs.google.com/document/d/1npm6aXRyXIgrgL1SRbFn16GkNGkTH7zWEYy4sO5JccU/edit#heading=h.p8o23uea3uuw) that we can use to structure discussion at the next Rel Eng community meeting.

[2021-04-17 03:08] justaugustus commented on #1404
/assign @justaugustus
/unassign @palnabarun

I'll take care of offboarding as part of some periodic access updates.
Thanks for all of your hard work this cycle team!

[2021-04-19 07:21] saschagrunert opened #1526 "Define and implement the release cadence survey"
The [release cadence KEP][0] states that there is a necessity for a feedback survey about the implemented cadence change:

The following questions have to be resolved before sending out the survey to the community:

- **When should the survey be done?**
  There are [discussions about doing it late 2021][1] if we have enough data to collect.
- **Which questions do we want to include?**
  What is th

[2021-04-19 07:38] saschagrunert opened #1527 "Define and collect metrics about Kubernetes releases"
Target is to define a set of metrics around Kubernetes releases to elaborate on the reduced [release cadence][0]. This discussion came up during the KEP implementation phase. The [planned survey outcome][1] can help us to interpret the raw data later on, too.

The following questions have to be resolved before starting to collect the metrics:

- **Which metrics do we want to collect?**
  For examp

[2021-04-19 07:58] aojea commented on #1527
We have to start defining which areas we want to measure, then define the metrics and the actions associated to each metrics, (I'm making up the examples), i.e.:

* Quality:
 - CI reliability:
    Description: This measure the CI health of the project based on some specific jobs considered blocking, this is a daily metric
    Metrics: The metrics is obtained from https://testgrid.k8s.io/sig-releas

[2021-04-20 01:53] jihoon-seo opened #1528 "Auto-generated release notes file has bugs"
- Related issue: https://github.com/kubernetes/website/issues/27606

#### What happened:
[Auto-generated release notes file](https://github.com/kubernetes/website/blob/master/content/en/docs/setup/release/notes.md) (being served in [here](https://kubernetes.io/docs/setup/release/notes/)) has bugs.

#### What you expected to happen:

[As-is]
[code]

[To-be]
[code]

[As-is]
[code]

[To-be]
[code]

[

[2021-04-20 08:08] pmmalinov01 commented on #1528
That is interesting. I know about PR https://github.com/kubernetes/kubernetes/pull/100968 that should fix the current release notes and remove duplication and not needed items. Maybe, the kubernetes.io has not picked the fixed changelog?
/cc wilsonehusin

[2021-04-21 02:48] jihoon-seo commented on #1528
CC: @wilsonehusin

[2021-04-21 04:46] wilsonehusin commented on #1528
ouch i didn't realize this is happening in k/website too. thanks for bringing this up @jihoon-seo!

the fix should be pretty close to what @pmmalinov01 mentioned. if anyone would like to take it, you're welcome to. otherwise i will get to this sometime this weekend!

[2021-04-21 04:52] wilsonehusin commented on #1528
🤔 looks like k/website part was manually done by the docs team of release team, which makes sense that they picked up the one with bug because we didn't catch the k/k bug until a day after or so.

[2021-04-21 06:59] wilsonehusin commented on #1528
so I think this bug should go to [k/release](https://github.com/kubernetes/release) because the actual tool which generates these documents are in that repository.

@jihoon-seo would you be interested to contribute code as well? let me know and we can work on it together, I'm `@wilsonehusin` on Kubernetes Slack 😃

(of course @pmmalinov01 you're invited too)

[2021-04-21 07:55] jihoon-seo commented on #1528
I opened an issue https://github.com/kubernetes/release/issues/2012,
so I am going to close this issue.
Thank you @pmmalinov01 and @wilsonehusin !

[2021-04-21 07:55] #1528 closed

[2021-04-21 17:32] LappleApple commented on #1324
@pmmalinov01 interested in helping with this--what are some break-out tasks he could get started with?

[2021-04-21 17:44] LappleApple commented on #1186
/remove-lifecycle rotten

[2021-04-21 17:44] LappleApple commented on #1186
/assign @jimangel

[2021-04-28 09:42] puerco opened #1547 "Cut v1.22.0-alpha.1 release"
## Scheduled to happen: Wed, 2021-04-28

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/1980
  - [x] Release
- [x] Notify #release-management: [link](https://kubernetes.slack.com/archives/CJH2GBF7Y/p161964267

[2021-04-28 16:21] puerco commented on #1547
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-04-28 16:21:34.828053091 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel&w

[2021-04-28 21:45] puerco commented on #1547
`v1.22.0-alpha.1` is out! :rocket:
/close

[2021-04-28 21:45] #1547 closed

[2021-04-28 23:24] puerco commented on #1547
The failed job on the captured commands is a recurring problem where copying+pasting from the Google Cloud Build console results in the build version getting trimmed. I've improved the handling of inputs in https://github.com/kubernetes/release/pull/2024 to catch this recurring problem before submitting a build job.

[2021-04-29 00:47] justaugustus opened #1549 "Domain transfer: downloadkubernetes.com"
#### What would you like to be added:

Transfer downloadkubernetes.com from @chuckha to Kubernetes Community control.

#### Why is this needed:

While we handled the repo migration for this domain in https://github.com/kubernetes/org/issues/2131, we didn't transfer the domain over.

Chuck is spinning down some personal infra and we need to [finish configuring Netlify](https://github.com/kubernetes

[2021-04-29 00:49] justaugustus commented on #1549
I've initiated a domain transfer from Chuck to myself, which should be complete by 5/2.
From there, I'll handle the transfer to CNCF service desk.

[2021-04-29 02:12] Damans227 commented on #1526
Hey @saschagrunert How are you ? I am shadowing on the K8s v1.22 release team. Can I help you with this issue ?  Since, I am a new contributor, I would need some guidance and support from a senior person.

[2021-04-29 07:22] saschagrunert commented on #1526
Hey, thank you for jumping into this discussion! :pray:

I think the first step we can do is defining a set of questions we would like to ask. We could start iterating in a Google Doc to get further feedback from the community.

@Damans227, do you wanna start with that?

[2021-04-29 20:32] Damans227 commented on #1526
Sure, does it matter where I create this google doc ? Can I create it on my shared drive ?

[2021-04-30 07:39] saschagrunert commented on #1526
No worries, yeah it's totally fine if you share a doc (publicly) directly from your account. I'm happy to contribute and add a certain point we can put it into markdown and request more feedback from a broader group.

[2021-04-30 07:43] cpanato commented on #1549
/subscribe

[2021-04-30 12:46] Damans227 commented on #1526
I have created the new doc and it is publicly available to edit on this link:

https://docs.google.com/document/d/14d4P24BrL280IXgDsKzXX89UFsI0X275HGYT4RcrASU/edit?usp=sharing

Please feel free to make any necessary changes and share your feedback.

[2021-05-03 08:45] saschagrunert commented on #1526
Added some first thoughts :+1:

[2021-05-06 05:54] onlydole commented on #1505
The team is assembled and this issue is complete!

/close

[2021-05-06 05:54] #1505 closed

[2021-05-07 08:57] #1040 closed

[2021-05-10 15:45] saschagrunert commented on #1526
@Damans227 do you think that you could use my input to create some first questions?

[2021-05-10 22:29] Damans227 commented on #1526
Yes of-course. I will create a google form with questions around those ideas which you have shared. I should be able to get this done very shortly, likely by some time tomorrow evening. Thanks for following up.

[2021-05-11 14:37] cpanato opened #1560 "Cut v1.21.1 release"
## Scheduled to happen: Wed, 2021-05-12

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2035 https://github.com/kubernetes/k8s.io/pull/2036
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] N

[2021-05-11 14:37] cpanato opened #1561 "Cut v1.20.7 release"
## Scheduled to happen: Wed, 2021-05-12

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2035 https://github.com/kubernetes/k8s.io/pull/2036
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] N

[2021-05-11 14:38] cpanato opened #1562 "Cut v1.19.11 release"
## Scheduled to happen: Wed, 2021-05-12

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2035 https://github.com/kubernetes/k8s.io/pull/2036
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] N

[2021-05-11 14:38] cpanato opened #1563 "Cut v1.18.19 release"
## Scheduled to happen: Wed, 2021-05-12

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2035 https://github.com/kubernetes/k8s.io/pull/2036
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] N

[2021-05-11 14:38] cpanato commented on #1562
/milestone v1.19

[2021-05-11 21:14] jeremyrickard opened #1565 "Propose Release Schedules for 1.23 and 1.24 ( and 1.25 maybe)"
With the adoption of the release cadence change and the [schedule framework guidance](https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/2572-release-cadence#schedule-policy), we should not have a higher degree of predictability for release schedules. In the KEP, we gave notional schedule dates:

| Year Week Number | Release Number | Release Week | Note |
| -------- | --------

[2021-05-11 21:20] jeremyrickard commented on #1565
oops, closing in favor of https://github.com/kubernetes/sig-release/discussions/1566

/close

[2021-05-11 21:20] #1565 closed

[2021-05-11 21:43] justaugustus opened #1567 "Release Manager access for @thejoycekung and @palnabarun"
### GitHub Username

@thejoycekung and @palnabarun

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] Addition of a new

[2021-05-11 23:53] Damans227 commented on #1526
@saschagrunert Please take a look, and share your feedback.

https://docs.google.com/forms/d/15nhhCYjvy8cbV9ELEer9knwiFIcNwPT8ybfEwxTLyLo/edit?usp=sharing

[2021-05-12 07:15] saschagrunert commented on #1526
Thanks, I think there is a commenting section when being able to edit the document. I requested access to do so.

[2021-05-12 09:22] cpanato commented on #1563
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2021-05-12 09:22:42.574078542 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-blocking#gce-device-plugin-gpu-1.18&width=30">si

[2021-05-12 09:26] cpanato commented on #1562
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-05-12 09:26:35.080037102 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#gce-cos-k8sstable2-alphafeatures&width=

[2021-05-12 09:30] cpanato commented on #1561
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-05-12 09:30:47.432489831 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-blocking#gce-device-plugin-gpu-1.20&width=30">si

[2021-05-12 09:33] cpanato commented on #1560
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2021-05-12 09:33:27.041432063 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-blocking#gce-device-plugin-gpu-1.21&width=30">si

[2021-05-12 12:31] Damans227 commented on #1526
I have granted you the access to edit.

[2021-05-16 20:42] jimangel commented on #1514
It appears this is resolved?

[2021-05-17 09:46] saschagrunert commented on #1526
This looks already really good! I added a question about the customer base/size. What do you think about this one?

[2021-05-17 13:45] Damans227 commented on #1526
Yup, this looks good already and thanks for adding that question. It is not marked as required though, is that intentional ? Also, I haven't made Github handle question required as well, what do you think about that ?

[2021-05-17 14:06] saschagrunert commented on #1526
Hm, I think we're fine having them optional.

[2021-05-17 14:10] saschagrunert commented on #1561
@cpanato @puerco let's fill out the table and close this one :upside_down_face:

[2021-05-17 14:10] saschagrunert commented on #1560
@cpanato @puerco let's fill out the table and close this one :upside_down_face:

[2021-05-17 14:10] saschagrunert commented on #1562
@cpanato @puerco let's fill out the table and close this one :upside_down_face:

[2021-05-17 14:10] saschagrunert commented on #1563
@cpanato @puerco let's fill out the table and close this one :upside_down_face:

[2021-05-17 14:17] cpanato commented on #1563
will do

[2021-05-17 14:30] cpanato commented on #1562
done! release is out
/close

[2021-05-17 14:30] #1562 closed

[2021-05-17 14:31] cpanato commented on #1561
release is out
/close

[2021-05-17 14:32] #1561 closed

[2021-05-17 14:33] cpanato commented on #1560
release is out
/close

[2021-05-17 14:34] #1560 closed

[2021-05-17 14:34] cpanato commented on #1563
release is out
/close

[2021-05-17 14:34] #1563 closed

[2021-05-17 15:02] Damans227 commented on #1526
Ok, cool. Thanks for your feedback.

[2021-05-17 15:21] saschagrunert commented on #1526
I made some edits and gave the SIG Release leads editing permissions to give them a chance to make some edits.

[2021-05-17 15:23] saschagrunert commented on #1526
/milestone v1.22

[2021-05-18 02:42] puerco opened #1571 "Cut 1.22.0-alpha.2 release"
## Scheduled to happen: Tue, 2021-05-18

## Release Blocking Issues

- [x] L7 GCE Ingress tests failing. Release was blocked until resolved: https://github.com/kubernetes/kubernetes/issues/102006

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.

[2021-05-18 03:11] puerco opened #1573 "Release Manager access for Verolop"
### GitHub Username

@Verolop

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Verónica (@Verolop  ) is a Release Manager Associate being granted temporary elevated access to cut the `v1.22.0-alpha.2` release. Access should be revoked after the 1.22.0-alpha.2 release is cut.

### Release Manager Onboarding

- [x] Update Google

[2021-05-18 03:12] puerco commented on #1573
/milestone v1.22

[2021-05-18 06:46] Verolop commented on #1571
[Master Blocking ](https://testgrid.k8s.io/sig-release-master-blocking)
![image](https://user-images.githubusercontent.com/2050904/118603235-461a8100-b779-11eb-9146-69cec34161ea.png)
![image](https://user-images.githubusercontent.com/2050904/118603294-592d5100-b779-11eb-8af5-3c50d050c277.png)

[Master Informing](https://testgrid.k8s.io/sig-release-master-informing)
![image](https://user-images.git

[2021-05-18 06:53] saschagrunert commented on #1496
I guess this is done
/close

[2021-05-18 06:53] #1496 closed

[2021-05-19 07:24] saschagrunert commented on #1372
/remove-lifecycle stale

[2021-05-19 07:46] ameukam commented on #1372
/assign @hh
Because of :

[2021-05-25 14:46] xmudrii commented on #1221
cc @xmudrii to check what's the status

[2021-05-26 11:01] saschagrunert commented on #896
Still depends on https://github.com/kubernetes/security/issues/63

[2021-05-27 15:13] saschagrunert commented on #1390
@savitharaghunathan @annajung did you have a chance to work on this one recently?

[2021-05-27 17:54] annajung commented on #1390
There is something [similar](https://miro.com/app/board/o9J_lbvQp4Y=/) that was done by the @LappleApple and the enhancements subproject team. It doesn't go through the whole process, just till code freeze, but it's something we can reuse.

@savitharaghunathan also had some graphs that she was working on, so I'll let her chime in on that.

I think just having something high-level might be helpful

[2021-05-27 17:54] annajung commented on #1390
/remove-lifecycle stale

[2021-05-29 20:21] justaugustus commented on #1483
I think we're all set with this one!
/assign
/close

[2021-05-29 20:22] #1483 closed

[2021-05-29 20:24] justaugustus commented on #1567
I think we're all set with this one!
/close

[2021-05-29 20:24] #1567 closed

[2021-05-30 11:06] mkorbi opened #1586 "Migrate CI Signal Report tool"
#### What would you like to be added:
I would like to find an official place for the CI Signal Reporting tool, to keep improving it:
https://github.com/alenkacz/ci-signal-report

Right now I fixed some issues so we can use it again, but I think we can do more with it. There was also a short chatting with @alenkacz who basically brought up the idea to bring the tool to the release team.
#### Why is

[2021-05-30 23:57] puerco commented on #1571
The release is out and all issue items are now complete. Closing..
Thanks @Verolop !
/close

[2021-05-30 23:57] #1571 closed

[2021-05-31 07:22] saschagrunert commented on #1337
/remove-lifecycle stale

[2021-06-05 13:57] eddiezane commented on #1369
/remove-lifecycle stale
/cc @hh

[2021-06-07 01:54] puerco commented on #1573
Temporary access has been dropped
/close

[2021-06-07 01:54] #1573 closed

[2021-06-07 01:56] puerco opened #1588 "Release Manager access for wilsonehusin"
### GitHub Username

@wilsonehusin

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Wilson (@wilsonehusin ) is a Release Manager Associate being granted temporary elevated access to cut the `v1.22.0-alpha.3` release. Access should be revoked after the 1.22.0-alpha.3 release is cut.

### Release Manager Onboarding

- [x] Update

[2021-06-07 15:13] saschagrunert commented on #1526
@Damans227 do you wanna put the survey into surveymonkey or should I take care of it? :)

[2021-06-08 00:44] wilsonehusin opened #1589 "Cut 1.22.0-alpha.3 release"
## Scheduled to happen:

Tuesday, 2021-06-07 09:00 GMT -7 (16:00 GMT)

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2162
  - [x] Release
- [x] Notify #release-management]: [announcement](https://kubernetes.

[2021-06-08 00:46] wilsonehusin commented on #1589
🤨

/milestone v1.22
/assign wilsonehusin

[2021-06-08 03:02] Damans227 commented on #1526
I went ahead and implemented the survey into survey monkey. PTAL, https://www.surveymonkey.com/r/HF36WH7

[2021-06-08 04:43] pmmalinov01 commented on #1589
Good luck!
/pony

[2021-06-08 06:18] saschagrunert commented on #1526
Thank you @Damans227! @kubernetes/sig-release-leads PTAL

[2021-06-08 15:49] puerco commented on #1589
Board screenshot as shared in #release-management
![image](https://user-images.githubusercontent.com/3935899/121217157-2e4d8e80-c847-11eb-887e-7256b5389891.png)

[2021-06-08 19:15] #1589 closed

[2021-06-09 16:30] kikisdeliveryservice commented on #1404
I  believe this was done, anything else that we need to do @justaugustus before closing??

[2021-06-09 16:31] kikisdeliveryservice commented on #1588
@puerco do we leave this open until access is revoked?

[2021-06-09 16:34] savitharaghunathan commented on #1404
we generally keep this issue open until the offboarding tasks are done

[2021-06-10 08:47] justaugustus opened #1590 "Technical Lead access for @cpanato and @puerco"
### GitHub Username

@cpanato @puerco

### [Chair/Technical Lead](https://git.k8s.io/sig-release/lead/onboarding.md) role

Technical Lead
ref: https://github.com/kubernetes/community/pull/5807

### Chair and Technical Lead Onboarding

**All pull requests within these checklists should be marked with an _explicit_
hold and only released once approved by a SIG Release (subproject) owner.**

- [x] Ad

[2021-06-10 08:53] justaugustus commented on #1586
Slack discussion: https://kubernetes.slack.com/archives/C2C40FMNF/p1622718810193000
Next steps, IIUC: @alenkacz to migrate into k/release.

[2021-06-10 11:10] alenkacz commented on #1586
Yes yes, I'll do it!

[2021-06-11 07:36] cpanato commented on #1590
Will prepare some PRs and other items that need a subscription or just check if we are in those lists I will sync with @puerco to double check

[2021-06-11 08:56] saschagrunert commented on #1590
Added @cpanato and @puerco to the kubernetes-release-team mailing list. :heavy_check_mark:

[2021-06-11 09:17] cpanato commented on #1590
I do hereby agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-06-11 12:53] justaugustus commented on #1590
Confirming that both Carlos and Adolfo already agree to the security embargo as part of their Release Manager roles. :)

[2021-06-11 19:43] cici37 opened #1595 "Suggest to add a presubmit checking for validating the release notes yaml files"
#### What would you like to be added:
A presubmit check to validate the release notes yaml files.

#### Why is this needed:
When I try to create the release notes PR as a release note shadow, met an issue of the existing yaml files under `sig-release/releases/release-[version]/release-notes/maps/` is not valid hence the release note script would fail directly(https://github.com/kubernetes/release/

[2021-06-11 19:54] wilsonehusin commented on #1595
yes! I like this pre-submit approach, probably something simple with [`yq`](https://github.com/mikefarah/yq) (but more robust than this oneliner) like `find . -type f -name "*.yaml" | xargs yq r` to make sure exit code is parse-able.

I think we'll need to tinker around with [`k/test-infra`](https://github.com/kubernetes/test-infra) to add Prow jobs, but I'm not exactly sure where...

@cpanato I k

[2021-06-11 20:03] cici37 commented on #1595
From my understanding, adding a separate presumit job configuration into `https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/kubernetes-builds.yaml` would do the magic? Please correct me if there is anything wrong with my understanding ^^

[2021-06-11 21:10] wilsonehusin commented on #1595
🤔 that looks right, but I wonder if there is already a boilerplate elsewhere. might be worth doing a search in the repository and/or posting on `#sig-release` to see if anyone is around to confirm 😄

[2021-06-14 06:45] saschagrunert commented on #1595
We would have to create a new config since we do not have any presubmits for k/sig-release right now. There are different images available for different purposes. For example we maintain a [`gcr.io/k8s-staging-releng/releng-ci:latest-go1.16` image](https://github.com/kubernetes/release/blob/master/images/releng/ci/Dockerfile) in `k/release`, where I could imagine that we add required tools to this

[2021-06-14 06:54] saschagrunert commented on #1343
/remove-lifecycle stale

[2021-06-14 22:23] puerco commented on #1590
I do hereby agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-06-15 00:04] puerco commented on #1588
@kikisdeliveryservice sorry, yes sorry I missed your question! I was a bit swamped with work and had not had a chance to finish this one. I've filed the PR and we can close the issue after it merges:

https://github.com/kubernetes/k8s.io/pull/2215

[2021-06-15 10:58] xmudrii opened #1596 "Cut v1.21.2 release"
## Scheduled to happen: Wed, 2021-06-16

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2232
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-06-15 10:59] xmudrii opened #1597 "Cut v1.20.8 release"
## Scheduled to happen: Wed, 2021-06-16

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2232
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-06-15 10:59] xmudrii opened #1598 "Cut v1.19.12 release"
## Scheduled to happen: Wed, 2021-06-16

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2232
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-06-15 11:00] xmudrii opened #1599 "Cut v1.18.20 release"
## Scheduled to happen: Wed, 2021-06-16

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2232
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-06-15 14:57] jeremyrickard opened #1603 "Write blog post outlining cadence changes"
Write a blog post to outline and communicate the release cadence changes.

[2021-06-16 09:48] xmudrii commented on #1599
### Testgrid dashboards for 1.18

Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2021-06-16 09:48:28.24725682 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.18-blocking#gce-device-plugin-gpu-1.18&width=30">sig

[2021-06-16 09:50] xmudrii commented on #1598
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-06-16 09:50:18.424748284 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#gce-cos-k8sstable2-alphafeatures&width=

[2021-06-16 09:51] xmudrii commented on #1597
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-06-16 09:51:28.425871655 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-blocking#gce-device-plugin-gpu-1.20&width=30">si

[2021-06-16 09:52] xmudrii commented on #1596
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-06-16 12:15] cpanato commented on #1590
all tasks are done!
/close

[2021-06-16 12:15] #1590 closed

[2021-06-17 11:41] xmudrii commented on #1599
The release is out.
/close

[2021-06-17 11:41] #1599 closed

[2021-06-18 10:06] xmudrii commented on #1596
The release is out.
/close

[2021-06-18 10:06] #1596 closed

[2021-06-18 10:07] xmudrii commented on #1597
The release is out.
/close

[2021-06-18 10:07] #1597 closed

[2021-06-18 10:09] xmudrii commented on #1598
The release is out.
/close

[2021-06-18 10:10] #1598 closed

[2021-06-19 20:13] puerco commented on #1588
Acces was dropped
/close

[2021-06-19 20:13] #1588 closed

[2021-06-19 20:17] puerco opened #1601 "Release Manager access for onlydole"
### GitHub Username

@onlydole

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Taylor (@onlydole ) is a Release Manager Associate being granted temporary elevated access to cut the v1.22.0-beta.0 release. Access should be revoked after the 1.22.0-beta.0 release is cut.

### Release Manager

- [x] Update Google Groups/GCP IAM

[2021-06-22 16:13] onlydole opened #1602 "Cut v1.22.0-beta.0 release"
## Scheduled to happen: Tue, 2021-06-22

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [X] Stage
  - [X] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2259
  - [x] Release
- [x] Notify #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1624406508023700

[2021-06-22 22:49] onlydole commented on #1602
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

# sig-release-master-blocking [1 failing]

<img width="1704" alt="Screen Shot 2021-06-22 at 3 32 42 PM" src="https://user-images.githubusercontent.com/117500/12300

[2021-06-23 00:00] onlydole commented on #1602
We are live! Thank you so much to all the following people for all your expert advice, help, and guidance:

@puerco
@justaugustus
@mrbobbytables
@ramrodo
@mkorbi

[2021-06-23 00:15] onlydole commented on #1602
/close

[2021-06-23 00:15] #1602 closed

[2021-06-23 00:15] onlydole commented on #1601
Thank you, @puerco! This is complete and I'm good to have this access removed ✅

[2021-06-23 17:54] rajula96reddy opened #1604 "Update comms role handbook on collaborating with the contribex marketing team"
Following up on the [discussion](https://docs.google.com/document/d/1KDoqbw2A6W7rLSbIRuOlqH8gkoOnp2IHHuV9KyJDD2c/edit#) in the Upstream Marketing Team call on 18/06/21, we want to enable collaboration between upstream marketing team and release comms on a couple of things

- For release related requests that marketing team is requested, release team has to be looped in and the request should be ha

[2021-06-24 22:41] annajung commented on #1390
Hi all, I have an update!

I started working with a tool called [mermaid](https://github.com/mermaid-js/mermaid) to create a visual via code. Thank you again @sladyn98 for the recommendation. It's very simple to use and they provide a [live editor](https://mermaid-js.github.io/mermaid-live-editor/) where code can be pasted as well to modify the graph.

In addition, while working on this issue, I f

[2021-06-29 12:15] harche opened #1608 "Add systemd periodic job to release-informing and systemd presubmit job release-nonblocking"
## Summary

- Make NodeConformance periodic job that uses systemd cgroup driver release-informing
- Make NodeConformance presubmit job that uses systemd cgroup driver release-nonblocking

## Motivation:
Kubelet supports ‘systemd’ cgroup driver. This part of the code needs to be thoroughly tested against incoming changes to make sure no new changes end up breaking existing supported functionality.

[2021-06-29 12:48] saschagrunert commented on #1608
@kubernetes/ci-signal what are your thoughts on adding the jobs to [`sig-release-master-informing`](https://testgrid.k8s.io/sig-release-master-informing) with keeping in mind that they should graduate to `sig-release-master-blocking`? Maybe this is a good chance to [update the docs](https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#release-blocking-jobs-and-criteria)?

[2021-06-29 12:49] saschagrunert commented on #1608
/priority important-soon

[2021-06-29 12:49] saschagrunert commented on #1608
/triage accepted

[2021-06-29 14:56] puerco commented on #1595
/assign @puerco

[2021-06-29 14:57] eddiezane commented on #1595
/cc

[2021-06-29 15:11] puerco commented on #1389
/remove-lifecycle stale

[2021-06-29 15:40] cpanato commented on #1595
@puerco let me know if you need any help

[2021-06-30 15:56] neolit123 commented on #1608
i recall discussions that CNI / CRI implementors should have periodic  or PR blocking signal that verifies if the k8s versions in scope for their releases (matrix) work on their end.

if k8s starts blocking release on interface implementors the matrix becomes complex and there is high chance for test jobs to become stale and unmaintained. some CNI plugins are already doing that. by testing the tip

[2021-06-30 17:35] savitharaghunathan commented on #1400
/remove-lifecycle stale

[2021-06-30 17:39] palnabarun commented on #1404
I have verified the offboarding tasks and checked for the absence of access to the privileged mailing lists. Hence closing this.

Please feel free to reopen this, if it is otherwise.

/assign
/close

[2021-06-30 17:39] #1404 closed

[2021-06-30 17:44] BenTheElder commented on #1608
I think the concern here is that we do not have coverage running with the systemd codepaths in kubelet today, so someone must setup CI for this. In this case they have also done so with another vendor implementation that was not in CI.

This should be going CI job => informing => blocking.
It should be proven to be stable in informing before going to blocking.

I believe this was already added to

[2021-07-01 07:34] saschagrunert opened #1611 "Update policy about promoting CI jobs to informing/blocking dashboards"
Goal is to [enhance the existing documentation](https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md) about the management (promotion and demotion) of master informing and blocking jobs in our dashboards:

- https://testgrid.k8s.io/sig-release-master-informing
- https://testgrid.k8s.io/sig-release-master-blocking

The outcome of the consensus in https://github.com/kuberne

[2021-07-03 11:29] mkorbi commented on #1586
Hey @alenkacz

to give you some support, as a c&p License you can use this one: https://github.com/kubernetes/sig-release/blob/master/LICENSE

To request the donation you have to open here a ticket: https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-repo&template=repo-create.md&title=

I prepared the submission template here: https://gist.github.com/mkorbi/c20a27ec72d07c5

[2021-07-05 10:29] wojtek-t commented on #908
/remove-lifecycle stale

[2021-07-06 07:05] saschagrunert commented on #1511
/remove-lifecycle stale

[2021-07-06 14:48] saschagrunert commented on #1337
@palnabarun raised interest in refining and working on this one. :raised_hands:

Feel free to drop your thoughts and suggestions here and we can do it together :+1:

[2021-07-06 17:57] annajung commented on #1390
Just found out that mermaid is already being used in Kubernetes doc as well.

- page: https://kubernetes.io/docs/concepts/services-networking/ingress/#what-is-ingress
- code: https://raw.githubusercontent.com/kubernetes/website/main/content/en/docs/concepts/services-networking/ingress.md

[2021-07-07 00:44] puerco commented on #1601
Temporary access was dropped.
/close

[2021-07-07 00:44] #1601 closed

[2021-07-07 00:45] puerco opened #1614 "Release Manager access for ameukam"
### GitHub Username

@ameukam

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Arnaud (@ameukam ) is a Release Manager Associate being granted temporary elevated access to cut the v1.22.0-beta.1 release. Access should be revoked after the 1.22.0-beta.1 release is cut.

### Release Manager

- Update Google Groups/GCP IAM member

[2021-07-07 16:37] pmmalinov01 opened #1615 "1.22 Kubernetes Major themes contact"
With major themes submission formalizing to use GitHub Discussions, we hope that this cycle will be the last time that the release team needs to reach out to SIGs for their response.

Having that said, since the process is new, the release notes team will be using this issue to track the work on nudging SIGs for entries on major themes for the 1.22 release cycle.

The Slack channel for each SIG is

[2021-07-07 16:38] pmmalinov01 commented on #1615
/milestone v1.22

[2021-07-08 06:48] ameukam opened #1617 "Cut v1.22.0-beta.1 release"
## Scheduled to happen: 2021-07-08

## Release Blocking Issues

## Release Steps

- [X] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [X] Stage
  - [X] Release
- NoMock Run
  - [X] Stage
  - [X] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2305
  - [X] Release
- [X] Notify #sig-release: https://kubernetes.slack.com/archives/C2C40FMNF/p1625752360454900?thread_ts=1

[2021-07-08 09:41] ameukam commented on #1617
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-07-08 18:41] cici37 commented on #1615
Have sent message out to
 ✅ API Machinery
 ✅ Apps
 ✅ Architecture
 ✅ Cloud Provider

[2021-07-09 00:47] puerco commented on #1614
Temporary access has been dropped.
/close

[2021-07-09 00:47] #1614 closed

[2021-07-12 04:57] puerco opened #1618 "Release Manager access for jimangel"
### GitHub Username

@jimangel

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Jim Angel (@jimangel ) is a Release Manager Associate being granted temporary elevated access to cut the v1.22.0-beta.2 release. Access should be revoked after the 1.22.0-beta.2 release is cut.

### Release Manager

- Update Google Groups/GCP IAM m

[2021-07-13 07:22] saschagrunert commented on #1608
@kubernetes/ci-signal I'd like to ping you again for consensus on this one.

[2021-07-13 13:06] pmmalinov01 commented on #1615
All sigs have been reached via Slack. Not it is only left to wait if they have something to contribute to the Major Themes.

[2021-07-13 13:06] #1615 closed

[2021-07-13 14:19] lambdanis commented on #1608
I see both jobs are running quickly and often, that's good.

There was a single flake of `ci-crio-cgroupv1-node-e2e-conformance` on July 10th 2021: https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-conformance&width=20 Any idea what might be the reason? I don't have major concerns against adding it to release-informing dashboard though.

`pull-kubernetes-node-crio-e2e` has multiple

[2021-07-14 05:39] guineveresaenger opened #1623 "Assemble Kubernetes 1.23 Release Team 🎉"
Hi Kubernetes fam! We've been working really hard and gearing up for the current release, so it is time to being assembling the 1.23 release team!

Please review the [Release Team Selection Process docs](https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-selection.md) for details on the process and criteria.

At this stage, we only require nominations for Role Leads. O

[2021-07-14 05:41] guineveresaenger commented on #1623
/kind documentation
/priority important-soon

[2021-07-14 18:50] savitharaghunathan commented on #1623
It was an honor to lead the 1.22 cycle. Thank you team for giving me this opportunity :)

I would like to nominate @reylejano as the 1.23 Release Team Lead! Rey has experience with various release team roles and I believe he will be a great lead! Congratulations @reylejano 🎉 ❤️

/pony party

[2021-07-14 18:56] Damans227 commented on #1623
You did a great job @savitharaghunathan  Your leadership during the turbulent times is greatly appreciated. Looking forward to continue working with you further. You are a champion!

[2021-07-14 18:56] jimangel opened #1624 "Cut v1.22.0-beta.2 release"
## Scheduled to happen: 2021-07-14

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2341
  - [x] Release
- [x] Notify #release-management: https://kubernetes.slack.com/archives/C2C40FMNF/p1626307109142500?thre

[2021-07-14 19:00] reylejano commented on #1623
Thank you for @guineveresaenger for being EA for 1.22!

Thank you @savitharaghunathan for guiding us through the 1.22 release and for nominating me as the 1.23 Release Team Lead -- I'm truly honored 🎉

[2021-07-14 19:02] Damans227 commented on #1623
Also, congratulations on your new role @reylejano keep up the good work!!👏👏👏

[2021-07-14 19:24] jimangel commented on #1624
Testgrid dashboards for master

Boards checked for FAILING:

- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)

No FAILING Jobs

(manually checked as `krel testgridshot` didn't work)

[2021-07-14 19:26] haircommander commented on #1608
@lambdanis that [failure](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-conformance/1413964708880322560) seems to be https://github.com/kubernetes/kubernetes/issues/100788 which is known and applies across the node e2e tests

[2021-07-14 19:38] jimangel commented on #1624
/assign

[2021-07-14 19:38] jimangel commented on #1624
/unassign @ameukam

[2021-07-14 22:00] ehashman commented on #1608
Agreed.

We have been working on an overall plan for promoting these jobs, and we will share in the SIG Node CI subproject next week and then with wider SIG Release/SIG Testing. (More [slack context](https://kubernetes.slack.com/archives/C2C40FMNF/p1626299372136700?thread_ts=1626286914.123500&cid=C2C40FMNF).)

That was reverted :)

[2021-07-14 23:27] JamesLaverack commented on #1623
I'm super happy to nominate @salaxander as v1.23 Enhancements Lead. 🎉 Xander has done a great job as an enhancements shadow this cycle and I'm looking forward to him as a role lead.

[2021-07-14 23:28] JamesLaverack commented on #1623
Oh sorry forgot my

/pony party

[2021-07-14 23:30] salaxander commented on #1623
Thanks @JamesLaverack! So excited to work with many of you again on 1.23! :)

[2021-07-15 00:06] savitharaghunathan commented on #1623
Congratulations @salaxander 🎊🎉

[2021-07-15 08:30] mkorbi commented on #1623
The (sometimes) hardest part of the release. I wish I could nominate a Co-Leadership for the CI Signal, the team turns from all first release team members to a very proactive team and I believe every one of you could lead the 1.23 CI Signal! Therefore, I very much hope to see you all back on the team and support each other ✌️

Back to business - I'm excited to nominate @encodeflush as the next 1.2

[2021-07-15 09:05] encodeflush commented on #1623
Thank you for your trust in me @mkorbi I am so happy and excited to continue working on my favorite project with you all :)

[2021-07-15 15:45] spiffxp commented on #850
/remove-lifecycle rotten
We got burned by `k8s-beta` again as part of https://github.com/kubernetes/kubernetes/issues/103697

- https://github.com/kubernetes/test-infra/pull/22790 removed it from gs://kubernetes-release-dev
- Nothing currently publishes it to gs://k8s-release-dev
- https://github.com/kubernetes/test-infra/pull/22840 flipped everything to look at gs://k8s-release-dev
- upgrade jobs

[2021-07-15 16:36] puerco opened #1626 "Cut v1.19.13 release"
## Scheduled to happen: Thu, 2021-07-15

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2344
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-07-15 16:37] puerco opened #1627 "Cut v1.20.9 release"
## Scheduled to happen: Thu, 2021-07-15

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2344
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-07-15 16:38] puerco commented on #1627
/assign
/milestone v1.19

[2021-07-15 16:38] puerco commented on #1627
/milestone v1.20

[2021-07-15 16:39] puerco opened #1628 "Cut v1.21.3 release"
## Scheduled to happen: Thu, 2021-07-15

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2344
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-07-15 16:42] puerco commented on #1628
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-07-15 16:44] puerco commented on #1626
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-07-15 16:44:00.11181973 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#gce-cos-k8sstable2-alphafeatures&width=3

[2021-07-15 16:44] puerco commented on #1627
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-07-15 18:55] BenTheElder commented on #1608
Thanks, the rest of what follows the excerpt quoted covers what should happen before introducing it there next time, which seems related to this thread.

I also have some questions at the end of that comment that I can't answer yet.

[2021-07-16 08:52] ameukam commented on #1617
This is done.
/close

[2021-07-16 08:52] #1617 closed

[2021-07-16 17:12] guineveresaenger commented on #1623
I am happy and excited to nominate @jeremyrickard to be Emeritus Adviser for 1.23! 🥳 Thank you for your long and continued service. I'm excited to have the next release team be in excellent hands! 👨‍🏫

[2021-07-16 17:31] reylejano commented on #1623
It's super **_rad_** to have @jeremyrickard as the 1.23 Emeritus Adviser 🎉

[2021-07-19 07:26] saschagrunert commented on #1527
@aojea are you still planning to work on this? :)

[2021-07-19 07:34] aojea commented on #1527
Sorry, I was just sharing some experience and things that worked for me in response to the KEP about the release cadence.
I really don't have time ...

[2021-07-20 06:29] puerco opened #1633 "Cut v1.22.0-rc.0 release"
## Scheduled to happen: Tue, 2021-07-20

## Release Blocking Issues
- [x] kube-apiserver for s390x is reported as having an incorrect tag (https://github.com/kubernetes/release/issues/2191)

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Notify #release-ma

[2021-07-20 19:32] xmudrii commented on #1324
/remove-lifecycle stale

[2021-07-21 13:45] pmmalinov01 commented on #1623
I am overjoyed to nominate @cici37 for the release notes lead in 1.23. Cici has improved and contributed a lot in the past release. She is proactive and engaged in working with the release team. I am happy to see her take this challenge.

/pony

[2021-07-21 14:10] Damans227 commented on #1623
Congrats @cici37 way to go!! 👏👏 Keep up the great work.

[2021-07-21 14:31] savitharaghunathan commented on #1623
Congratulations @encodeflush and @cici37 🎊🎉

[2021-07-21 16:23] salaxander commented on #1623
Big congrats @encodeflush and @cici37! Super excited to work with both of you!! 🎉

[2021-07-21 21:55] MonzElmasry commented on #1623
Im super excited to nominate @voigt as v1.23 Bug Triage Lead. :tada: :tada:

[2021-07-23 06:49] cpanato commented on #1224
/remove-lifecycle rotten

[2021-07-26 18:07] PI-Victor commented on #1623
I'm happy to nominate @jlbutler as Docs lead for v1.23. Jesse has stepped up in a time of need to become Comms lead and i think the Docs lead hat will fit just perfectly. Thank you, once again, Jesse for all the support and work in this release!

[2021-07-26 18:29] savitharaghunathan commented on #1623
Congratulations @voigt and @jlbutler 🎉
/pony party

[2021-07-26 19:57] jlbutler commented on #1623
Thanks @PI-Victor! Very happy to help out however I can, and looking forward to working on 1.23 with the team! 🚀

[2021-07-27 14:51] palnabarun commented on #1257
/remove-lifecycle stale

[2021-07-27 14:59] jeremyrickard commented on #1608
Let's solicit any additional feedback from CI Signal and use this to shape a process for #1611

[2021-07-28 14:42] jlbutler commented on #1623
I'm so happy to nominate @karenhchu as Comms lead for 1.23! Karen served as Comms Lead for 1.18 and is stepping up again, thank you Karen and looking forward to working with you!

[2021-07-28 15:29] reylejano commented on #1623
Congratulations and thank you to @cici37 @encodeflush @jlbutler  @karenhchu @salaxander @voigt !
I'm looking forward to work with everyone on 1.23!

[2021-07-28 17:33] guineveresaenger commented on #1623
This is ready to be worked on! :tada:

/assign @reylejano

[2021-08-01 14:53] nannancy opened #1646 "Release Team Lead access for <GH-handle>"
### GitHub Username(s)

- (at)example_user1
- (at)example_user2
- (at)example_user3

### Release Cycle

e.g., Kubernetes 1.18

### Prerequisites

- [ ] Ensure new Release Team Lead:
  - [ ] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-d

[2021-08-02 13:30] kaiwalyakoparkar commented on #1611
Hey, @saschagrunert will you please guide me, I would like to work on this.

[2021-08-02 13:33] kaiwalyakoparkar commented on #1628
Hey, I would like to work on this. Can anyone please guide me :slightly_smiling_face:

[2021-08-02 13:39] saschagrunert commented on #1611
Thank you for taking the opportunity here @kaiwalyakoparkar, let's wait on the resolution of the linked issue (https://github.com/kubernetes/sig-release/issues/1608) first.

[2021-08-02 13:49] kaiwalyakoparkar commented on #1611
Thank you so much for replying @saschagrunert looking forward to seeking guidance and work on this :smiley:

[2021-08-02 13:54] puerco commented on #1628
Hello @kaiwalyakoparkar, thanks for your enthusiasm! You are welcome to join us in SIG Release and eventually help us cut new releases. However, in order to cut a release, you need a certain level of access and you to be part of the Release Managers group. There are some steps you need to go through first to become an RM. I would suggest that you join our meetings each Tuesday and we would be more

[2021-08-02 14:10] kaiwalyakoparkar commented on #1628
@puerco Thank you so much for such a detailed answer. Just one more small question. In the sig channel, it says the meeting is every other Tuesday so I am a bit confused. Is the meeting every alternate Tuesday or every Tuesday? :sweat_smile:

[2021-08-02 15:15] saschagrunert commented on #1646
Hey @nannancy, thank you for the request. We usually provide this kind of access only for Release Managers (and temporarily Associates). Feel free to join the SIG Release Engineering meeting tomorrow 14:30 UTC if you think this needs further clarification:
https://docs.google.com/document/d/16GqCjnEh86w8yADcrUylNoE1y1sqjIMYNC_gdk5WPSQ/edit :blush:

Closing this one for now.

[2021-08-02 15:15] #1646 closed

[2021-08-03 15:35] puerco opened #1648 "Cut v1.22.0 release"
## Scheduled to happen:

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2463
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.slack.com/archiv

[2021-08-03 23:12] puerco commented on #1648
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-08-05 00:20] puerco commented on #1624
Release is out. Thank you @jimangel !
/close

[2021-08-05 00:20] #1624 closed

[2021-08-05 00:21] puerco commented on #1626
Release is out
/close

[2021-08-05 00:21] #1626 closed

[2021-08-05 00:26] puerco commented on #1627
Release is out
/close

[2021-08-05 00:26] #1627 closed

[2021-08-05 00:30] puerco commented on #1628
Sorry @kaiwalyakoparkar I missed your last comment there, I'm happy that you managed to join us. Looking forward to seeing you in the next ones!

[2021-08-05 00:30] puerco commented on #1628
Release is out
/close

[2021-08-05 00:30] #1628 closed

[2021-08-05 00:55] puerco opened #1649 "1.22 updates to Branch Manager handbook"
#### What would you like to be added:

Derived from the branch management activities during the v1.22 cycle, it became evident that we need to add some information to the [Branch Manager handbook](https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/branch-manager.md):

- [ ] After 1.21, Release Engineering acquired the responsibility of updating the publishing

[2021-08-05 01:09] puerco commented on #1633
Release is out
/close

[2021-08-05 01:09] #1633 closed

[2021-08-05 05:20] puerco commented on #1618
Temp access dropped.
/close

[2021-08-05 05:20] #1618 closed

[2021-08-05 05:21] puerco commented on #1648
Release is out!
/close

[2021-08-05 05:21] #1648 closed

[2021-08-05 15:54] reylejano opened #1652 "Release Team Lead access for @reylejano @jameslaverack @jrsapi @mkorbi @monzelmasry"
### GitHub Username(s)

- @reylejano
- @JamesLaverack
- @jrsapi
- @mkorbi
- @MonzElmasry

### Release Cycle

Kubernetes 1.23

### Prerequisites

- [x] Ensure new Release Team Lead:
  - [x] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-de

[2021-08-05 16:05] reylejano commented on #1652
I have completed the CNCF Inclusive Speaker Orientation training: LF-gg98o5wyjx

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-08-05 16:09] mkorbi commented on #1652
[CNCF  Inclusive Speaker Orientation](https://www.credly.com/badges/b93cb2c4-3196-488a-9c06-5ff1b703d11e/public_url)
I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-08-06 05:30] jrsapi commented on #1652
I have completed the CNCF Inclusive Speaker Orientation training cert ID: LF-c5j6kr89v5

I solemnly swear to abide by the guidelines set forth in the [Security Release Process](https://github.com/kubernetes/security/blob/master/security-release-process.md), specifically the embargo on CVE communications.

[2021-08-06 16:05] reylejano commented on #1652
/kind cleanup

[2021-08-08 02:27] JamesLaverack commented on #1652
I have completed the [CNCF Inclusive Speaker Orientation](https://training.linuxfoundation.org/training/inclusive-speaker-orientation) training. Certificate ID Number: `LF-8i8itysb26`

I solemnly swear to abide by the guidelines set forth in the [Security Release Process](https://git.k8s.io/security/security-release-process.md), specifically the embargo on CVE communications.

[2021-08-08 05:39] justaugustus commented on #1652
/assign @reylejano @justaugustus

[2021-08-11 10:38] MonzElmasry commented on #1652
I have completed the [CNCF Inclusive Speaker Orientation](https://training.linuxfoundation.org/training/inclusive-speaker-orientation) training. Certificate ID Number: `LF-vk68gykyeg`

I solemnly swear to abide by the guidelines set forth in the [Security Release Process](https://git.k8s.io/security/security-release-process.md), specifically the embargo on CVE communications.

[2021-08-11 10:59] SubhasmitaSw opened #1658 "Add note about access to milestone maintainers link in the Kubernetes Docs lead handbook"
The README.md for Kubernetes Docs Lead Handbook contains a broken link directing to 'milestone maintainers'.

where to find the issue : sig-release/release-team/role-handbooks/docs/
broken link : https://github.com/orgs/kubernetes/teams/website-milestone-maintainers/

[2021-08-11 11:24] sftim commented on #1658
I think you're saying that the hyperlink should point to https://github.com/orgs/kubernetes/teams/website-milestone-maintainers/ but I might be wrong.

If you have enough access, https://github.com/orgs/kubernetes/teams/website-milestone-maintainers/ is a valid hyperlink.

[2021-08-11 11:28] SubhasmitaSw commented on #1658
Oh, I was not aware of the access, it's valid since I don't have the access and it shows an error. Don't you think it would be better if mentioned the accessibility of this website in the docs? It might prevent someone else from doing the same thing I did.

[2021-08-11 14:08] reylejano commented on #1658
/retitle Add note about access to milestone maintainers link in the Kubernetes Docs lead handbook
/kind cleanup
/triage accepted

PR https://github.com/kubernetes/sig-release/pull/1659 fixes this issue

[2021-08-11 16:06] cpanato opened #1660 "Cut v1.21.4 release"
## Scheduled to happen: Wed, 2021-08-11

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2517
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-08-11 16:07] cpanato opened #1661 "Cut v1.20.10 release"
## Scheduled to happen: Wed, 2021-08-11

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2517
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-08-11 16:08] cpanato opened #1662 "Cut v1.19.14 release"
## Scheduled to happen: Wed, 2021-08-11

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2517
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-08-11 16:20] cpanato commented on #1660
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-08-11 16:21] cpanato commented on #1661
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

<details><summary><tt>2021-08-11 16:21:32.146382845 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.20-blocking#gce-cos-k8sstable2-alphafeatures&width=

[2021-08-11 16:22] cpanato commented on #1662
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-08-11 16:22:05.248568613 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-informing#gce-cos-k8sstable3-serial&width=30">si

[2021-08-11 17:12] BenTheElder commented on #1658
To view the team you have to be a github kubernetes org member IIRC, we've run into this in other places before : /

[2021-08-12 08:11] #1660 closed

[2021-08-12 08:11] cpanato commented on #1661
release is out
/close

[2021-08-12 08:12] #1661 closed

[2021-08-12 15:55] #1658 closed

[2021-08-13 10:30] cpanato commented on #1662
release is out
/close

[2021-08-13 10:30] #1662 closed

[2021-08-16 07:36] saschagrunert commented on #1312
Reopening, this should be done together with the release engineering docs updates.

[2021-08-16 07:51] saschagrunert commented on #1514
Yeah, it is and it's related to https://github.com/kubernetes-sigs/downloadkubernetes/issues/80

[2021-08-16 07:51] #1514 closed

[2021-08-16 15:15] puerco commented on #1324
Assigning Carlos to help with the handbook refactor
/assign @cpanato

[2021-08-16 17:02] reylejano commented on #1522
/remove-lifecycle stale

[2021-08-16 17:11] reylejano commented on #1522
- Removed from `release-team-leads` in GitHub teams [(kubernetes/org)](https://git.k8s.io/org/config/kubernetes/sig-release/teams.yaml) in https://github.com/kubernetes/org/pull/2881
- Removed from `k8s-infra-release-viewers@` and `release-managers@` Google Groups/GCP IAM membership [(kubernetes/k8s.io)](https://git.k8s.io/k8s.io/groups/groups.yaml) in https://github.com/kubernetes/k8s.io/pull/254

[2021-08-16 21:23] puerco opened #1665 "Release Manager access for palnabarun"
### GitHub Username

@palnabarun

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Nabarun Pal (@palnabarun ) is a Release Manager Associate being granted temporary elevated access to cut the v1.22.1/v1.23.0-alpha.1 releases. Access should be revoked after the releases are cut.

### Release Manager

- Update Google Groups/GCP I

[2021-08-18 18:25] justaugustus opened #1667 "Technical Lead/Release Manager offboarding for @hasheddan 😭 😭 😭"
### GitHub Username

@hasheddan (ref: https://groups.google.com/g/kubernetes-sig-release/c/tKcnAwtRYx0)

### [Chair/Technical Lead](https://git.k8s.io/sig-release/lead/onboarding.md) role

Technical Lead

### Technical Lead and Release Manager Offboarding

**All pull requests within these checklists should be marked with an _explicit_
hold and only released once approved by a SIG Release (subproje

[2021-08-19 05:55] palnabarun opened #1669 "Cut v1.23.0-alpha.1 release"
## Scheduled to happen: Thursday, 2021-08-19 13:00UTC

## Release Blocking Issues

None

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2583
  - [x] Release
- [x] Send notification: https://groups.google.com/g/kubernetes-dev/c/Vw7jdw8ch

[2021-08-19 05:56] palnabarun commented on #1669
/milestone v1.23

[2021-08-19 06:06] palnabarun opened #1670 "Cut v1.22.1 release"
## Scheduled to happen: Thursday, 2021-08-19 13:00UTC

## Release Blocking Issues

- https://github.com/kubernetes/kubernetes/issues/102676

The above is non-blocking as of the discussion on https://kubernetes.slack.com/archives/CJH2GBF7Y/p1629353341198900

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stag

[2021-08-19 06:17] palnabarun commented on #1670
As of 06:15 UTC

### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-08-19 06:18] palnabarun commented on #1669
As of 06:17UTC,

### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-08-19 06:17:30.689592961 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#node-kube

[2021-08-19 13:05] palnabarun commented on #1669
As of 13:00UTC. all clear 🎉

### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-08-19 13:36] palnabarun commented on #1670
As of 13:35 UTC, still everything clear 🎉

### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-08-19 14:17] palnabarun commented on #1669
Mock Stage Done!

[2021-08-19 14:33] palnabarun commented on #1669
Mock Release Done!

[2021-08-19 15:16] palnabarun commented on #1670
Mock Stage Done!

[2021-08-19 16:03] palnabarun commented on #1669
Stage and Image Promotion Done!

[2021-08-19 16:10] palnabarun commented on #1669
Release Done!

[2021-08-19 17:18] palnabarun commented on #1670
Mock Release Done!
Stage Done!

[2021-08-19 17:42] palnabarun commented on #1670
Image Promotion Done!

[2021-08-19 17:49] palnabarun commented on #1670
Release Done!

[2021-08-19 18:11] jberkus opened #1672 "Discussion: What is the optimal length of Code Freeze?"
Currently Code Freeze lasts around 4 weeks.  In 2019, Code Freeze length was 1 to 1.5 weeks.  The change from 1 to 4 weeks happened largely by accident and hasn't been reviewed by the community, so it's time to do so.  Note that, should we decide to change the length, that's unlikely to take effect before the 1.24 cycle.

This issue is to discuss what the optimal length of Code Freeze would be, gi

[2021-08-19 18:20] #1672 closed

[2021-08-19 21:18] palnabarun commented on #1669
The announcement is sent. 🎉

/close

[2021-08-19 21:19] #1669 closed

[2021-08-19 21:19] palnabarun commented on #1670
All done and the announcement is sent! 🎉

/close

[2021-08-19 21:19] #1670 closed

[2021-08-23 21:58] jeremyrickard commented on #1603
/close

blog post was posted https://kubernetes.io/blog/2021/07/20/new-kubernetes-release-cadence/

[2021-08-23 21:58] #1603 closed

[2021-09-06 07:31] saschagrunert commented on #1526
/remove-lifecycle stale

[2021-09-06 11:11] saschagrunert commented on #1665
I think this can be closed

[2021-09-06 11:11] #1665 closed

[2021-09-06 11:12] saschagrunert commented on #1522
@reylejano please close if this is now done :)

[2021-09-06 16:25] reylejano commented on #1522
offboarding is complete
/close

[2021-09-07 04:05] justaugustus commented on #245
/remove-lifecycle rotten
/reopen

Working on a file promotion pattern for CRI tools in  https://github.com/kubernetes/k8s.io/pull/2663 and https://github.com/kubernetes/k8s.io/issues/2624 (that I'll replicate for CNI).

[2021-09-08 13:14] squeed commented on #245
@justaugustus thanks for taking a look at this!

I'll be on parental leave for a few months, but if you have any questions, feel free to reach out (or in #cni-dev on the CNCF slack).

[2021-09-08 14:22] saschagrunert opened #1695 "Consider multiple retrospectives during the cycle rather than 3 at the end"
The idea is to move the retrospectives from the end of the cycle to the second half of it. This provides faster feedback loops to catch-up on issues and follow-ups. It also enables the team to solve possible problems directly during the cycle rather than handing them over to the next team, which they're probably not part of.

Thoughts on that @kubernetes/release-team-leads ?

[2021-09-08 14:34] jeremyrickard commented on #1695
I personally like this idea. With 1.23 especially, the retros will fall pretty late into December (considering when people start to be unavailable for holiday vacations).

Doing them earlier will allow for better course correction and problem solving during the cycle, and might make for more opportunities for RT members to contribute during the cycle and be more engaged.

[2021-09-08 15:48] justaugustus commented on #1695
How about immediately as we head into burndown?

[2021-09-08 15:49] justaugustus commented on #1695
cc: @kubernetes/sig-release-leads

[2021-09-08 15:49] #1695 closed

[2021-09-08 16:34] spiffxp commented on #1217
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-09-13 17:20] reylejano commented on #1623
The team is assembled, the issue is complete
/close

[2021-09-13 17:20] #1623 closed

[2021-09-13 17:28] puerco opened #1700 "Release Manager access for palnabarun"
### GitHub Username

@palnabarun

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Nabarun Pal (@palnabarun ) is a Release Manager Associate being granted temporary elevated access to cut the v1.23.0-alpha.2 releases. Access should be revoked after the releases are cut.

### Release Manager

- Update Google Groups/GCP IAM membe

[2021-09-14 07:36] palnabarun opened #1701 "Cut v1.23.0-alpha.2 release"
## Scheduled to happen: Tue, 2021-09-14 16:30UTC

## Release Blocking Issues

- https://github.com/kubernetes/kubernetes/issues/102676

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2721
  - [x] Release
- [x] Notify #release-management

[2021-09-14 07:57] palnabarun commented on #1701
At 08:00 UTC,

### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-09-14 07:56:42.987490283 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#node-kubele

[2021-09-14 08:03] palnabarun commented on #1701
Noticed that https://github.com/kubernetes/kubernetes/issues/102676 is still a release blocker.

[2021-09-14 16:47] palnabarun commented on #1701
At 16:47 UTC,

### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-09-14 16:47:05.155168967 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#node-kubele

[2021-09-14 23:23] puerco commented on #1701
Thanks a lot @palnabarun !

Release is out. Closing the issue:
/close

[2021-09-14 23:24] #1701 closed

[2021-09-14 23:44] #1700 closed

[2021-09-15 17:22] cpanato opened #1702 "Cut v1.22.2 release"
## Scheduled to happen: Wed, 2021-09-15

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2736
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-09-15 17:23] cpanato opened #1703 "Cut v1.21.5 release"
## Scheduled to happen: Wed, 2021-09-15

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2735
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-09-15 17:24] cpanato opened #1704 "Cut v1.20.11 release"
## Scheduled to happen: Wed, 2021-09-15

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2733
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-09-15 17:24] cpanato opened #1705 "Cut v1.19.15 release"
## Scheduled to happen: Wed, 2021-09-15

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2732
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify [#release-management](https://kubernetes.

[2021-09-15 17:38] cpanato commented on #1702
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-09-15 17:38] cpanato commented on #1703
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-09-15 17:38] cpanato commented on #1704
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-09-15 17:40] cpanato commented on #1705
### Testgrid dashboards for 1.19

Boards checked for FAILING:
- [sig-release-1.19-blocking](https://testgrid.k8s.io/sig-release-1.19-blocking)
- [sig-release-1.19-informing](https://testgrid.k8s.io/sig-release-1.19-informing)

<details><summary><tt>2021-09-15 17:40:21.506717005 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.19-blocking#Conformance - GCE - 1.19&width=30">sig-

[2021-09-16 08:28] cpanato commented on #1705
release is out!
thanks @puerco
/close

[2021-09-16 08:29] #1705 closed

[2021-09-16 08:30] cpanato commented on #1704
release is out! thanks @puerco
/close

[2021-09-16 08:31] #1704 closed

[2021-09-16 08:32] cpanato commented on #1703
release is out, thanks @puerco
/close

[2021-09-16 08:32] #1703 closed

[2021-09-16 08:33] cpanato commented on #1702
release is out! thanks @puerco

/close

[2021-09-16 08:33] #1702 closed

[2021-09-17 22:43] mkorbi commented on #1586
as the new CI Signal team is looking into improving it I would like to give another ping @alenkacz
/cc @encodeflush @leonardpahlke

[2021-09-17 23:06] justaugustus commented on #1324
/assign @Verolop

[2021-09-18 19:37] #1186 closed

[2021-09-20 21:36] justaugustus opened #1713 "Release Manager access for Verolop"
### GitHub Username

@Verolop

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

permanent: https://groups.google.com/a/kubernetes.io/g/release-managers/c/zSiEg0dUQRE

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering

[2021-09-20 22:19] justaugustus commented on #1667
Thanks again for everything, @hasheddan!
/close

[2021-09-20 22:19] #1667 closed

[2021-09-20 23:12] Verolop commented on #1713
I abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-09-22 17:22] RinkiyaKeDad commented on #1586
/cc

[2021-09-22 17:22] RinkiyaKeDad commented on #1586
/assign

[2021-09-23 13:44] jlbutler commented on #1604
/remove-lifecycle stale
/assign

[2021-09-27 18:45] ehashman commented on #1608
This does not appear to have moved...

/assign @encodeflush
current CI Signal Lead

[2021-09-27 21:20] ameukam opened #1715 "Cut v1.23.0-alpha.3 release"
## Scheduled to happen: Tue, 2021-09-28

## Release Blocking Issues

## Release Steps

- [X] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [X] Stage
  - [X] Release
- NoMock Run
  - [X] Stage
  - [X] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2840
  - [X] Release
- [ ] Notify #release-management]:
- [ ] Send notification:
- [ ] Collect metrics and add them to t

[2021-09-27 21:23] puerco commented on #1715
/assign @ameukam

[2021-09-28 02:59] puerco opened #1716 "Release Manager access for ameukam"
### GitHub Username

@ameukam

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Arnaud Meukam (@ameukam) is a Release Manager Associate being granted temporary elevated access to cut the v1.23.0-alpha.3 release. Access should be revoked after the releases are cut.

### Release Manager

- Update Google Groups/GCP IAM membership

[2021-09-28 04:02] ameukam commented on #1715
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-09-28 04:01:59.807846723 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#post-release-push-image-vu

[2021-10-04 06:45] #1716 closed

[2021-10-04 07:05] wojtek-t commented on #908
/remove-lifecycle rotten

[2021-10-05 08:55] saschagrunert opened #1720 "Add documentation to k/sig-release with 3rd party dependencies that impact building artifacts"
We should collect a list of dependencies for building the kubernetes release artifacts. This way we can eliminate network access during the release build and strive towards hermetic builds.

[2021-10-05 08:56] saschagrunert commented on #1720
/help
/priority important-soon
/kind documentation

[2021-10-05 08:57] saschagrunert opened #1721 "Add information on k/website about supported platforms"
We have multiple existing documents about supported platforms already available:
- https://github.com/kubernetes/sig-release/blob/master/release-engineering/artifacts.md
- https://github.com/kubernetes/sig-release/tree/master/release-engineering/platforms

Collecting them on k/website would spread their visibility and more official.

[2021-10-05 08:59] saschagrunert commented on #1721
/help
/kind documentation
/priority important-soon

[2021-10-05 09:00] saschagrunert commented on #1337
| Add step to krel stage / release to verify existence of artifacts for all supported platforms

I assume that this has been done within the bill of materials effort.

[2021-10-05 09:00] saschagrunert opened #1722 "Document the current test coverage for existing platforms"
Define metrics around test coverage for supported platforms (i.e. make our level of support somewhat quantifiable)

[2021-10-05 09:01] saschagrunert commented on #1722
/help
/kind documentation
/priority important-soon

[2021-10-05 09:02] saschagrunert commented on #1337
Closing this issue, created the follow-ups https://github.com/kubernetes/sig-release/issues/1720, https://github.com/kubernetes/sig-release/issues/1721 and https://github.com/kubernetes/sig-release/issues/1722.

[2021-10-05 09:02] #1337 closed

[2021-10-06 17:25] RinkiyaKeDad commented on #1224
/assign

[2021-10-07 21:48] tpepper commented on #1527
Would it make sense to title this "Define and collect input metrics about Kubernetes releases"?  Currently it feels scoped in that way.  It would be very useful to additionally have output usage metrics (eg: download counts of different artifacts during specific time spans).

[2021-10-07 22:27] tpepper commented on #1527
https://github.com/kubernetes/sig-release/issues/1372#issuecomment-767108296 represents a way to get at less game-able data perhaps.

Simple stats gaming bots are possible, but I wouldn't consider CI as inherently a problem.  I'm actually interested in seeing the bulk CI usage too.  If people are still doing a lot of CI on 1.9 that might be informative.

And I'm really interested in the zeros.  Wh

[2021-10-07 22:30] aojea commented on #1527
agree

[2021-10-08 07:24] saschagrunert opened #1723 "Define and collect output metrics about Kubernetes releases"
Counterpart to https://github.com/kubernetes/sig-release/issues/1527.

It would be very useful to obtain additionally output usage metrics of Kubernetes releases, for example the download counts of different artifacts during specific time spans. Target of this issue is to define the metrics, whereas the actual implementation can be done as follow-up in dedicated issues.

[2021-10-11 02:06] justaugustus opened #1724 "Attach relevant KEPs to roadmap/vision"
@saschagrunert repeating the question @lachie83 asked on slack here - https://kubernetes.slack.com/archives/C2C40FMNF/p1633713488372400?thread_ts=1633618860.356500&cid=C2C40FMNF

```Are you raising KEPs for these deliverables? It looks like a lot of them should require a KEP.```

Looks like @PushkarJ thinks @kubernetes/sig-security may be interested as well?

_Originally posted by @dims in https:/

[2021-10-27 07:30] cpanato opened #1727 "Cut v1.19.16 release"
## Scheduled to happen: Wed, 2021-10-27

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2991
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-10-27 07:33] cpanato opened #1728 "Cut v1.20.12 release"
## Scheduled to happen: Wed, 2021-10-27

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2991
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-10-27 07:35] cpanato opened #1729 "Cut v1.21.6 release"
## Scheduled to happen: Wed, 2021-10-27

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/2991
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.

[2021-10-27 07:36] cpanato opened #1730 "Cut v1.22.3 release"
## Scheduled to happen: Wed, 2021-10-27

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management]: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1635395443033300?

[2021-10-28 05:38] #1730 closed, assigned to cpanato

[2021-10-28 05:41] #1729 closed, assigned to puerco, cpanato

[2021-10-28 05:45] #1728 closed, assigned to puerco, cpanato

[2021-10-28 05:48] #1727 closed, assigned to puerco, cpanato

[2021-11-02 09:02] puerco opened #1733 "Release Manager access for jimangel"
### GitHub Username

@jimangel

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Jim Angel (@jimangel ) is a Release Manager Associate being granted temporary elevated access to cut the v1.23.0-alpha.4 release. Access should be revoked after the releases are cut.

### Release Manager

- Update Google Groups/GCP IAM membership [

[2021-11-02 15:52] jimangel opened #1734 "Cut v1.23.0-alpha.4 release"
## Scheduled to happen: Tue, 2021-11-02

## Release Blocking Issues

## Release Steps

- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3024
  - [x] Release
- [x] Notify #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1635914007070300

[2021-11-02 15:53] jimangel commented on #1734
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-11-02 15:39:23.499941 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial&width=3

[2021-11-03 08:00] wojtek-t commented on #908
/remove-lifecycle rotten

[2021-11-03 08:16] xmudrii commented on #1649
/remove-lifecycle stale

[2021-11-03 08:20] saschagrunert commented on #1734
@jimangel please close if this is done, great work!

[2021-11-10 14:21] #1586 closed

[2021-11-11 09:13] #1343 closed

[2021-11-15 06:52] palnabarun commented on #1400
/remove-lifecycle rotten

[2021-11-15 07:27] palnabarun commented on #1649
/assign
(I will have a look at documenting some of these gotchas before the 1.23 RC)

[2021-11-15 07:29] palnabarun commented on #1715
@ameukam -- can we close this one? :)

[2021-11-15 07:37] palnabarun commented on #1511
/remove-lifecycle rotten
/area release-engineering
/kind documentation

[2021-11-15 07:37] palnabarun commented on #1511
/area release-eng

[2021-11-15 07:38] palnabarun commented on #1389
/remove-lifecycle rotten

[2021-11-15 07:39] palnabarun commented on #1257
/remove-lifecycle stale

[2021-11-15 07:40] ameukam commented on #1715
/close

[2021-11-15 07:40] palnabarun commented on #1312
/remove-lifecycle stale

[2021-11-15 07:40] #1715 closed

[2021-11-15 10:52] palnabarun commented on #1734
/reopen
(#1741 accidentally closed it)

[2021-11-16 22:15] cici37 opened #1742 "1.23 Kubernetes Major themes contact"
With major themes submission formalizing to use GitHub Discussions, we hope that this cycle will be the last time that the release team needs to reach out to SIGs for their response.

Having that said, since the process is new, the release notes team will be using this issue to track the work on nudging SIGs for entries on major themes for the 1.23 release cycle.

The Slack channel for each SIG is

[2021-11-16 23:57] JamesLaverack commented on #1742
Happy to take a few of these. I won't send messages or tag people until *after* code freeze though. 😅

[2021-11-17 00:03] cici37 commented on #1742
Sure. We will not start unless code freeze is over^^ Thank you for jumping in  :)

[2021-11-17 03:38] Verolop opened #1744 "Release Manager access for onlydole"
### GitHub Username

@onlydole

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Taylor (@onlydole ) is a Release Manager Associate being granted temporary elevated access to cut the 1.23.0-beta.0 release. Access should be revoked after the 1.23.0-beta.0 release is cut.

### Release Manager

- [ ] Update Google Groups/GCP IAM m

[2021-11-17 03:38] Verolop commented on #1744
/hold

[2021-11-17 04:00] Verolop commented on #1744
/milestone v1.23

[2021-11-17 08:39] cpanato opened #1745 "Cut v1.20.13 release"
## Scheduled to happen:  Wed, 2021-11-17

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1637138428119300
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3078

[2021-11-17 08:41] cpanato opened #1746 "Cut v1.21.7 release"
## Scheduled to happen:  Wed, 2021-11-17

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1637138543119800
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3078

[2021-11-17 08:43] cpanato opened #1747 "Cut v1.22.4 release"
## Scheduled to happen: Wed, 2021-11-17

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1637138648120300
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3078
  -

[2021-11-17 08:55] cpanato commented on #1745
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-11-17 08:59] cpanato commented on #1746
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2021-11-17 08:59:02.716055655 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-cos-k8sstable1-serial&width=30">si

[2021-11-17 08:59] cpanato commented on #1747
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-11-17 14:51] parul5sahoo commented on #1742
I would like to take up, API Machinery, Architecture, Autoscaling, CLI, Node.

[2021-11-17 17:17] onlydole opened #1748 "Cut 1.23.0-beta.0 release"
## Scheduled to happen: Wednesday, 2021-11-17

## Release Blocking Issues
N/A

## Release Steps

- [x] Create a thread on #release-management: [link](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1637172443144900)
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: [Pull Request](https://github.co

[2021-11-17 17:23] cici37 commented on #1742
Thank you for taking it up. Please update after you have contacted those SIGs so we could mark it in description for tracking.

[2021-11-17 18:16] onlydole commented on #1748
`sig-release` Dashboard Group
<img width="942" alt="Overall" src="https://user-images.githubusercontent.com/117500/142258457-b795cabd-6a18-4f19-bd5d-6839a58544ed.png">

`sig-release-master-blocking`
<img width="2294" alt="master-blocking" src="https://user-images.githubusercontent.com/117500/142258630-ff60072c-3320-45ff-8c7f-99a28bf804b1.png">

`sig-release-master-informing`
<img width="2560" alt=

[2021-11-17 18:24] onlydole commented on #1748
CI Signal reported a Yellow status because we have [3 failures ](https://docs.google.com/document/d/15EFFbSDVhIytf2DnPZbvrpBQEcc2Yuoi5IeQMshcgV4/edit#)in master informing. The team has said things good for the beta release.

[2021-11-17 22:41] onlydole commented on #1748
Thank you, team! Success!

[2021-11-17 22:41] #1748 closed

[2021-11-18 09:43] cpanato commented on #1745
/assign @puerco @Verolop
and release is out
/close

[2021-11-18 09:43] #1745 closed

[2021-11-18 09:43] cpanato commented on #1746
/assign @puerco @Verolop
and release is out
/close

[2021-11-18 09:44] #1746 closed

[2021-11-18 09:44] cpanato commented on #1747
/assign @puerco @Verolop
and release is out
/close

[2021-11-18 09:44] #1747 closed

[2021-11-18 15:52] reylejano commented on #1652
/remove-lifecycle stale

[2021-11-19 08:25] saschagrunert commented on #1744
@Verolop can this be closed?

[2021-11-20 01:36] cici37 commented on #1742
/close
All SIGs have been contacted and will watch the Major Theme discussion in https://github.com/kubernetes/sig-release/discussions/1709

[2021-11-20 01:36] #1742 closed

[2021-11-22 23:00] puerco opened #1755 "Update CI Signal handbook to add new requirements/expectations of report tool"
#### What would you like to be added:

The release engineering repository now hosts the CI Signal reporting tool originally created by @alenkacz (https://github.com/kubernetes/release/pull/2309). As a consequence, the CI Signal subteam will now be the primary operator of the tool. Members of the subteam will now be tagged as primary reviewers for changes made to the tool. In order to clearly expre

[2021-11-22 23:00] puerco commented on #1755
/milestone v1.23

[2021-11-23 00:38] justaugustus commented on #1652
Let's take offboarding as an action for the 1.24 team.
/close

[2021-11-23 00:38] #1652 closed

[2021-11-23 17:18] justaugustus commented on #1713
@Verolop @puerco -- Just wanted to check in on this one :)

[2021-11-23 22:55] #1733 closed

[2021-11-24 00:20] Verolop opened #1757 "Cut v1.23.0-rc.0 release"
## Scheduled to happen:

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Notify #release-management:
- [x] Send notification:
- [ ] Collect metrics and add them to the `Release steps`

[2021-11-24 00:59] Verolop commented on #1744
closed! thank you, @saschagrunert

[2021-11-24 01:03] Verolop commented on #1744
/close

[2021-11-24 01:04] Verolop commented on #1744
/close

[2021-11-24 01:04] #1744 closed

[2021-11-24 01:11] Verolop opened #1758 "Release Manager access for palnabarun"
### GitHub Username

@palnabarun

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Nabarun (@palnabarun  ) is a Release Manager Associate being granted temporary elevated access to cut the v1.23.0-rc.0 release. Access should be revoked after the v1.23.0-rc.0 release is cut.

### Release Manager

- [x] Update Google Groups/GCP I

[2021-11-26 17:26] #1595 closed

[2021-11-29 08:47] xmudrii commented on #1757
@Verolop The RC is out, can we close this issue?

[2021-11-29 10:17] saschagrunert commented on #1724
The initial draft of the sining KEP is proposed in https://github.com/kubernetes/enhancements/pull/3061

[2021-11-29 18:43] Verolop commented on #1757
I still need to update some info, but I'll close it.
Thanks, @xmudrii !

/close

[2021-11-30 16:14] saschagrunert commented on #1611
/remove-lifecycle rotten

[2021-12-01 20:57] Verolop commented on #1757
/close

[2021-12-01 20:57] #1757 closed

[2021-12-03 17:38] jeremyrickard opened #1768 "Assemble Kubernetes 1.24 Release Team 🚀 🕐 🎊"
Hi Kubefolx of the Release Team!

It's hard to believe that the release is here. Your hard work and dedication are almost at an end.....but one more important duty remains.

It is time to assemble the 1.24 release team!

Please review the Release Team Selection Process docs for details on the process and criteria.

As in the past, please nominate role leads for the 1.24 team here!

Once role leads

[2021-12-03 17:45] reylejano commented on #1768
It was a privilege to lead the 1.23 release. Thank you to the community for giving me this opportunity 🙏

I nominate @JamesLaverack as the 1.24 Release Team Lead! James has been with various release team roles since 1.18 and has been the Role Lead for Release Notes and Enhancements. Recently, James is a Lead Shadow in the 1.23 release team. James will be a great lead! Congratulations @JamesLaverac

[2021-12-03 18:15] JamesLaverack commented on #1768
Thank you so much for the nomination @reylejano. Being part of the Kubernetes community and release team these past couple of years has been amazing, and I'm super excited to lead 1.24. 🎉 Thank you everyone for your work on 1.23, and I look forward to working with everyone in the next release.

[2021-12-03 18:24] jeremyrickard commented on #1768
It's a great privilege to nominate @jrsapi as the emeritus advisor for the 1.24 release! He has previously served as a lead shadow for 1.23,  a shadow on the enhancements team for 1.21 and 1.22, was lead for communications in 1.20 (❤️) and a shadow in 1.19!

Joe cares deeply about helping people be successful and I think he'll be a fantastic E.A and bring extensive experience across a number of re

[2021-12-03 18:36] jrsapi commented on #1768
I"m grateful to step into the role as EA and excited to partner with James and the broader 1.24 release team. Lets do this!!!

[2021-12-03 18:41] puerco commented on #1768
/honk

[2021-12-03 22:06] salaxander commented on #1768
HUGE congrats to you @JamesLaverack, 1.24 will be in excellent hands <3. Big congrats to you as well @jrsapi. I know you will bring so much kindness and empathy to your work as EA

I'm super happy to be able to nominate @gracenng to lead enhancements for 1.24. Grace and I shadowed together in 1.22 and she worked with me again on 1.23. I know she'll be absolutely amazing as a release lead and I'm e

[2021-12-03 23:38] Verolop opened #1769 "Cut v1.23.0-rc.1"
## Scheduled to happen:

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1638584308362300
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Notify #release-management:
- [x] Send notif

[2021-12-04 17:29] jrsapi commented on #1768
Thanks for a great Enhancement cycle during 1.23 @salaxander!  The selection of @gracenng is one that I stand behind and am excited about the impact she will bring to the role.

/HONK

[2021-12-05 00:32] justaugustus commented on #1734
/close

[2021-12-05 00:32] #1734 closed

[2021-12-05 00:56] justaugustus commented on #601
/unassign
/help

[2021-12-05 02:32] justaugustus opened #1772 "Enable Release Managers to administer publishing-bot"
#### What would you like to be added:

Enable Release Managers to administer publishing-bot.
This is an umbrella issue for onboarding Release Managers to the publishing-bot code/infra.

We'll add things to it as we do discovery.

- [x] Add Release Engineering reviewers to publishing-bot: https://github.com/kubernetes/publishing-bot/pull/271
- [x] Update publishing-bot GitHub teams to include Relea

[2021-12-06 08:03] saschagrunert commented on #1390
@jeremyrickard can we consider this as closed or should we reopen?

[2021-12-06 08:04] saschagrunert commented on #1769
@puerco can we close this one?

[2021-12-06 08:14] saschagrunert commented on #1526
/remove-lifecycle stale

[2021-12-06 14:15] Verolop commented on #1769
/close

[2021-12-06 14:16] #1769 closed

[2021-12-06 16:22] saschagrunert commented on #1526
Status update: We plan to push this survey out in the beginning of 2022

[2021-12-06 22:52] Verolop opened #1775 "Cut v1.23.0 release"
## Scheduled to happen: Tuesday, 2021-12-07

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] Notify #release-management:
- [x] Send notifi

[2021-12-06 23:21] jlbutler commented on #1768
I'm very happy to nominate @nate-double-u as Docs lead for 1.24. Nate served as one of our amazing Docs shadows on 1.23, and I know he'll do fantastically well leading the next Docs release. Thanks again Nate for all of your support and work through this release, and on to the next!

/pony party

[2021-12-07 17:25] nate-double-u commented on #1768
Thanks so much for the nomination @jlbutler! Working with you on v1.23 was great, and I'm excited about working with everyone on v1.24--should be a fun release for docs 😃

[2021-12-08 08:02] voigt commented on #1768
I'm stocked to announce @jyotimahapatra as the new Bug-Triage lead for 1.24. Jyoti did an amazing job during 1.23 and was a super reliable and thoughtful teammate. Best ingredients for a great 1.24 lead! :)

A big THANK YOU to Jyoti and the rest of the Shadow team: @nannancy , @ritpanjw , @NilimaC04, and @varshaprasad96 !! It was a pleasure to work with you!

[2021-12-08 15:43] encodeflush commented on #1768
I'm super excited to nominate @leonardpahlke as the next CI Signal lead for k8s 1.24 release. Leo did great as shadow, always reachable, reliable, and showed his great enthusiasm by refactoring/developing ci-signal reporting tool. I believe he will do great in a lead role. It was a pleasure to work with you :)

I would also like to express my highest gratitude and appreciation to the all amazing C

[2021-12-08 18:30] jimangel opened #1777 "Release Manager access for jimangel"
### GitHub Username

@jimangel

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Jim Angel (@jimangel ) is a Release Manager Associate being granted temporary elevated access to cut the v1.24.0-alpha.1 release. Access should be revoked after the releases are cut.

### Release Manager

- Update Google Groups/GCP IAM membership [

[2021-12-08 18:55] Verolop commented on #1758
/close

[2021-12-08 18:55] #1758 closed

[2021-12-08 19:40] jimangel opened #1778 "Cut v1.24.0-alpha.1 release"
## Scheduled to happen: Wed, 2021-12-08

## Release Blocking Issues
n/a

## Release Steps

- [x] Create a thread on #release-management: [link](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1639010166018600)
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/p

[2021-12-09 00:41] jimangel commented on #1778
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-12-09 00:40:45.691839 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master&width=30">

[2021-12-09 00:42] karenhchu commented on #1768
Yay @JamesLaverack for becoming the 1.24 lead and @jrsapi as EA! The next release team is already off to a strong start 👏

I'd like to nominate @mickeyboxell as the Communications Lead for 1.24. Mickey was consistently engaged throughout the cycle and constantly took initiative of his own to make sure we were all on track. I have no doubt he will do an excellent job with the comms efforts for this

[2021-12-10 18:47] cici37 commented on #1768
Congrats @JamesLaverack  for becoming the 1.24 lead and @jrsapi as EA!  👏

I'd like to nominate @AuraSinis  as the Release Notes Lead for 1.24. Lucas was consistently engaged throughout the cycle and did an awesome job while shadowing in 1.23. I believe he would be doing great in next release cycle as well! 🎉

/honk

[2021-12-10 18:52] Damans227 commented on #1768
Congrats @AuraSinis it was a pleasure to be able to work with you. Good luck in your new role.

[2021-12-13 06:27] #1777 closed

[2021-12-13 08:30] jimangel commented on #1778
This release can be closed at anytime. I have opened PRs for all my suggested tweaks. Thanks!

[2021-12-13 09:10] #1778 closed

[2021-12-13 19:56] xmudrii opened #1784 "Cut v1.22.5 release"
## Scheduled to happen: Wed, 2021-12-15

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1639567678136500
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3202
  -

[2021-12-13 19:57] xmudrii opened #1785 "Cut v1.21.8 release"
## Scheduled to happen: Wed, 2021-12-15

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1639567701137200
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3195
  -

[2021-12-13 19:59] xmudrii opened #1786 "Cut v1.20.14 release"
## Scheduled to happen: Wed, 2021-12-15

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1639567723137800
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3195
  -

[2021-12-13 21:13] justaugustus commented on #245
/remove-lifecycle stale
/lifecycle frozen
/milestone v1.24

[2021-12-14 18:11] xmudrii opened #1787 "Cut v1.23.1 release"
## Scheduled to happen: Thu, 2021-12-16

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1639642415195500
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3202
  -

[2021-12-15 11:34] xmudrii commented on #1784
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

<details><summary><tt>2021-12-15 11:34:46.248716948 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.22-blocking#gce-cos-k8sstable1-alphafeatures&width=

[2021-12-15 11:36] xmudrii commented on #1785
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2021-12-15 11:36:51.934279888 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-cos-k8sstable2-serial&width=30">si

[2021-12-15 11:39] xmudrii commented on #1785
As discussed in the release-management Slack channel (https://kubernetes.slack.com/archives/CJH2GBF7Y/p1639565964135200?thread_ts=1639559315.127300&cid=CJH2GBF7Y), we think it should be safe to ignore those failures. That job was also failing when cutting v1.21.7 (ref: #1746).

[2021-12-15 11:39] xmudrii commented on #1786
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-12-15 15:02] justaugustus commented on #1772
The critical items have been completed.
Any follow-ups will happen in https://github.com/kubernetes/publishing-bot/issues/272 and on the k/publishing-bot repo.
/close

[2021-12-15 15:02] #1772 closed

[2021-12-15 15:04] justaugustus commented on #1775
@Verolop @palnabarun -- can you update any remaining steps and close this out when you have a chance?

[2021-12-15 15:08] justaugustus opened #1789 "Release Manager access for @palnabarun"
### GitHub Username

@palnabarun

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] Addition of a new Release Manager has been di

[2021-12-15 15:09] justaugustus commented on #1789
🥇 NEW RELEASE MANAGER ALERT 🥇

[2021-12-15 15:17] justaugustus commented on #1789
@palnabarun -- As part of this, please wrap up any remaining items for @Verolop's onboarding: https://github.com/kubernetes/sig-release/issues/1713

[2021-12-15 15:19] justaugustus commented on #1755
/assign @leonardpahlke
/milestone v1.24

[2021-12-15 15:22] justaugustus commented on #1549
This got lost in the queue.
@idvoretskyi @caniszczyk -- What's the right way to proceed w/ the domain transfer?

/remove-lifecycle stale
/milestone v1.24

[2021-12-15 15:26] idvoretskyi commented on #1549
cc @amye to provide more details

[2021-12-15 15:29] palnabarun commented on #1789
I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2021-12-15 15:30] palnabarun commented on #1789
I will start the onboarding process in the morning tomorrow and also check on #1713.

[2021-12-15 15:31] palnabarun commented on #1789
Thank you again!!! ❤️

[2021-12-15 15:39] idvoretskyi commented on #1549
@justaugustus just file an issue to the CNCF ServiceDesk!

[2021-12-15 15:51] justaugustus opened #1790 "OpenSSF: The Great MFA Distribution Project"
From @lehors on https://groups.google.com/g/kubernetes-dev/c/OkHPvFuUcDE:

Hi! I work with the Developer Best Practices Working Group of the Linux Foundation's Open Source Security Foundation (OpenSSF) "Great Multi-Factor Authentication (MFA) Distribution Project".

We'd like to give your project free MFA hardware tokens from Google and GitHub, for use by your maintainers. We'd especially like to

[2021-12-15 16:03] Verolop commented on #1789
woohoo!!

On Wed, Dec 15, 2021 at 3:31 PM Nabarun Pal ***@***.***>
wrote:

[2021-12-15 16:14] idvoretskyi commented on #1790
FYI, please note that entire Ukraine is not sanctioned under US law, only the Crimea Region of Ukraine; you may find more details here - https://home.treasury.gov/system/files/126/ukraine_overview_of_sanctions.pdf.

I'd suggest updating the shipping restrictions list above.

[2021-12-15 16:34] justaugustus commented on #1790
@kubernetes/release-managers -- Please reply here with:

1. If you already have a MFA hardware token
2. If you would like a MFA hardware token
3. Indicate your preference of token: Titan or Yubikey

[2021-12-15 16:37] xmudrii commented on #1790
1. No, I never had one.
2. Yes, I would like one.
3. I don't have strong preferences, either would for me.

Thanks a lot for this great opportunity!

[2021-12-15 16:37] ameukam commented on #1790
interested to get a Google hardware key.

[2021-12-15 16:54] palnabarun commented on #1790
2. I would like to get one.
3. Yubikey. I would have preferred a Titan, but the Google Store doesn't ship Titan to India.

[2021-12-15 17:04] Verolop commented on #1790
1. I don't
2. I would like one.
3. Yubikey, please

[2021-12-15 17:06] justaugustus commented on #1790
Noting for myself:
I already have a Titan key (thanks @dlorenc!)

[2021-12-15 18:32] puerco commented on #1768
Thanks for your great work @Verolop and @palnabarun !
/pony

[2021-12-15 20:10] aojea commented on #1790
I'd like a titan o/

[2021-12-15 22:25] jrsapi commented on #1768
Thanks for your dedication and hard work during 1.23 @Verolop! 1.24 is off to a great start with all the leads and now having @palnabarun as branch manager for 1.24 will ensure a great release cycle.

[2021-12-16 03:41] palnabarun commented on #1768
Thank you @Verolop for the nomination!! ❤️

It was great to learn and work along side you in 1.23. Looking forward to 1.24! 🎉

/honk

[2021-12-16 08:03] saschagrunert commented on #1790
I already have a titan, just for the note.

[2021-12-16 08:17] xmudrii commented on #1784
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-12-16 08:18] xmudrii commented on #1787
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2021-12-16 09:02] cpanato commented on #1790
I already have a titan as well

[2021-12-16 10:17] JamesLaverack commented on #1768
Congratulations to @gracenng @leonardpahlke @jyotimahapatra @nate-double-u @AuraSinis @mickeyboxell, and @palnabarun. 🎉 I'm looking forward to working with you all in 1.24. 😃

[2021-12-16 10:18] JamesLaverack opened #1791 "Release Team Lead access for @JamesLaverack @jlbutler @salaxander @cici37 @mkorbi"
### GitHub Username(s)

- @JamesLaverack
- @jlbutler
- @salaxander
- @cici37
- @mkorbi

### Release Cycle

Kubernetes 1.24

### Prerequisites

- [x] Ensure new Release Team Lead:
  - [x] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev)

[2021-12-16 11:32] xmudrii commented on #1786
/close
The release is out.

[2021-12-16 11:33] #1786 closed

[2021-12-16 12:24] xmudrii commented on #1785
/close
The release is out.

[2021-12-16 12:24] #1785 closed

[2021-12-16 17:14] puerco commented on #1790
I have a Titan too :+1:

[2021-12-16 19:07] saschagrunert opened #1792 "Simplify the release process by removing Code Thaw"
### Background

Right now we apply **Code Freeze** with the first beta on the `master` branch. From that point in time, only PRs within the milestone can be merged. On **Test Freeze** we create the release branch and cut the first release candidate (rc). The `master` branch is still frozen until we create the final release, which is called `Thaw`.

More details about the release process can be fou

[2021-12-16 19:10] saschagrunert commented on #1792
@liggitt, would this make things easier?

[2021-12-16 19:31] xmudrii commented on #1792
I’m not sure that I like this approach at all. While it simplifies the workflow, I think it increases the risk by a large margin. I had to skip the retro, so I’m missing some context, but let’s try to get it documented here at least.

Right now, cherry-picks have to be created manually. This is error-prone, because someone might forgot the cherry-pick. This is fixed in a way that a Release Manager

[2021-12-16 19:40] liggitt commented on #1792
no, it makes it worse... in that scenario, we would not only have to manage individual cherry-picks for the 1.x.0 release (with all the risk of omitting fixes or picking them out of order and conflicting), but letting master race ahead as soon as release-1.x is created almost guarantees that any release-blocking fixes needed for 1.x.0 will get stuck in the master merge flood, and will hit conflict

[2021-12-16 20:23] xmudrii commented on #1787
/close
The release is out.

[2021-12-16 20:23] #1787 closed

[2021-12-16 20:25] xmudrii commented on #1784
/close
The release is out.

[2021-12-16 20:26] #1784 closed

[2021-12-16 21:08] JamesLaverack commented on #1792
Is it required that release-blocking fixes must merge to master and then be cherry-picked to release-1.x? Could we instead merge them directly to release-1.x and cherry-pick them to master?

[2021-12-16 21:10] liggitt commented on #1792
in my opinion, absolutely yes. we should never merge to a release branch before merging to master (unless the fix doesn't apply to master for some reason)

[2021-12-16 21:24] xmudrii commented on #1792
+1 to what @liggitt said. Otherwise, there’s a risk that something can get done on the release branch, but not on the master branch (e.g. due to an error when porting from the release to the master branch). Such situations can be very hard to catch when you have a lot of commits.

[2021-12-16 23:51] xmudrii commented on #1324
/remove-lifecycle stale

[2021-12-17 20:02] mitul3737 commented on #167
Id' like to work as a release team shadow

[2021-12-17 20:39] jberkus commented on #167
@mitul3737 you're commenting on a closed release team thread from 3 years ago.  Current thread is here: https://github.com/kubernetes/sig-release/issues/1768

[2021-12-18 14:46] mitul3737 commented on #1768
I would love to work with the release team! 😊🙌

[2021-12-19 07:00] verma-kunal commented on #1768
This would be the first time i will be applying for the Release Team Shadow program!
Hoping for the best 🙂

[2021-12-20 16:34] Verolop commented on #1775
/close

[2021-12-20 16:35] #1775 closed

[2022-01-04 02:43] harche commented on #1608
Closing it since https://github.com/kubernetes/test-infra/pull/22507 is merged.

/close

[2022-01-04 02:43] #1608 closed

[2022-01-06 00:02] JamesLaverack commented on #1791
/priority important-soon
/kind documentation

[2022-01-07 07:13] palnabarun commented on #1789
@justaugustus -- for kubernetes/kubernetes, I see that there is no `release-engineering-reviewers` alias. Did you mean `release-engineering-approvers` instead? Also, I notice that there are some aliases like `release-managers`, `build-image-approvers` and `build-image-reviewers` which have Release Managers. Should the new release managers be added to those as well?

[2022-01-08 02:15] JamesLaverack commented on #1390
/reopen
/lifecycle clear

[2022-01-08 02:16] JamesLaverack commented on #1390
/remove-lifecycle rotten

[2022-01-09 12:01] justaugustus commented on #1789
Answered via https://github.com/kubernetes/kubernetes/pull/107431 (since I needed to review the files to confirm a few things).
Once that passes reviews, please update this issue template to reflect the correct OWNERS references.

[2022-01-09 21:51] Mihir-Bhasin commented on #1722
I can help please brief me a bit.

[2022-01-09 21:53] Mihir-Bhasin opened #1807 "A better Readme"
#### What would you like to be added:
I guess the readme should be more improvised
#### Why is this needed:

[2022-01-10 06:30] mkorbi commented on #1791
I agree abide to follow the guidelines set embargo on CVE communications.
[Inclusive Speaker](https://www.credly.com/badges/b93cb2c4-3196-488a-9c06-5ff1b703d11e/public_url)

[2022-01-10 09:34] saschagrunert commented on #1724
@justaugustus when do we consider this one as done?

[2022-01-10 09:51] saschagrunert commented on #1807
Hey @Mihir-Bhasin :wave: thank you for opening this issue!

Do you mind elaborating a bit on which parts should be improved and how?

[2022-01-10 09:56] saschagrunert commented on #1722
Awesome, we would require adding this information to our existing platform documentation (which should be moved to kubernetes.io as follow-up).

Our upstream tests live in [test-infra](https://github.com/kubernetes/test-infra), which is a good starting point to search for supported platforms.

Feel free to reach out to us via slack ([#release-management](https://app.slack.com/client/T09NY5SBT/CJH2

[2022-01-10 09:57] saschagrunert commented on #1722
/remove-lifecycle stale

[2022-01-10 09:57] saschagrunert commented on #1723
/remove-lifecycle stale

[2022-01-10 09:57] saschagrunert commented on #1527
/remove-lifecycle stale

[2022-01-10 10:09] justaugustus commented on #1724
I think we should link the KEPs to the [roadmap](https://github.com/kubernetes/sig-release/blob/master/roadmap.md) to close this out.
The tracking issues are there for most, but not direct links to KEPs.

Let me know if you have time to get to that. If not, I'll put it on my list.

[2022-01-10 19:08] Mihir-Bhasin commented on #1807
I think a bit of information related to the purpose of SIG would be a great addition, moreover, we can also add how can Contribute to hassle-free issues management.

[2022-01-11 04:23] #1755 closed

[2022-01-12 12:46] JamesLaverack commented on #1791
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF-8i8itysb26

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-01-12 15:45] jeremyrickard opened #1811 "Ensure groups.google.com/g/kubernetes-release-team is properly archived"
With the introduction of the release-team@ google group, the old list should be in archived/no sending mode.

Ref: https://kubernetes.slack.com/archives/C2C40FMNF/p1642001447091100

We should:

[ ] Review all handbooks to ensure it's not referenced anywhere
[ ] Update lead handbook to reference it being deprecated and that it shouldn't be added to any document sharing
[ ] Ensure that the list is p

[2022-01-12 15:46] jeremyrickard commented on #1811
@justaugustus I'll take a look through the handbooks if you can handle the mailing list management.

[2022-01-12 16:29] JamesLaverack opened #1814 "Design 1.25 shadow application survey"
Discussion in SIG Release (meeting [11th January 2022](https://docs.google.com/document/d/1Fu6HxXQu8wl6TwloGUEOXVzZ1rwZ72IAhglnaAMCPqA/edit#heading=h.35ldyn8zvdd9)) and in #sig-contribex ([Slack thread](https://kubernetes.slack.com/archives/C1TU9EB9S/p1641941787049000)) has highlighted the need to ask applicants for permission to use their data for analytical purposes.

However, there is also disc

[2022-01-12 16:29] JamesLaverack commented on #1814
/kind documentation
/priority important-longterm

[2022-01-12 16:43] justaugustus commented on #1814
/milestone v1.24
(since we want this done ahead of the start of the v1.25 release)

[2022-01-13 13:31] JamesLaverack opened #1816 "Document the distinction between a release team lead, a release team subproject owner, and a SIG Release Chair or Tech Lead"
As per [Stephen's comment](https://github.com/kubernetes/sig-release/pull/1813#discussion_r783956416), it's not particularly clear on the distinction and overlap between the following categories of contributor:

* Release team lead (current release)
* Historial release team lead (for a still supported release)
* Historial release team lead (for a unsupported release)
* a subproject owner of the "r

[2022-01-17 16:40] palnabarun opened #1817 "Cut v1.20.15 release"
## Scheduled to happen: Wednesday, 2022-01-19

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1642579520027100
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Build & publish packag

[2022-01-17 16:41] palnabarun opened #1818 "Cut v1.21.9 release"
## Scheduled to happen: Wednesday, 2022-01-19

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1642579544027500
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/32

[2022-01-17 16:41] palnabarun opened #1819 "Cut v1.22.6 release"
## Scheduled to happen: Wednesday, 2022-01-19

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1642579560027900
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/32

[2022-01-17 16:41] palnabarun commented on #1819
/milestone v1.22

[2022-01-17 16:42] palnabarun opened #1820 "Cut v1.23.2 release"
## Scheduled to happen: Wednesday, 2022-01-19

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1642579588028500
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Build & publish packag

[2022-01-18 15:24] jlbutler commented on #1791
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF7pd08wfey1

I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-01-18 17:29] tpepper opened #1823 "Socializing SLSA level 3 and higher requirements"
We've got the [KEP-3027](https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/3027-slsa-compliance) document published with a scoping of SLSA Level 3 and initial work toward higher SLSA level compliance underway in SIG Release.  The doc also notes that level 4 is beyond reach near team.  But then we have calls for hardware tokens as in https://github.com/kubernetes/sig-release/i

[2022-01-18 17:35] #1823 closed, assigned to nobody

[2022-01-19 00:57] cici37 commented on #1791
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF3ontws1w6c
I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-01-19 09:45] palnabarun commented on #1817
### Testgrid dashboards for 1.20

Boards checked for FAILING:
- [sig-release-1.20-blocking](https://testgrid.k8s.io/sig-release-1.20-blocking)
- [sig-release-1.20-informing](https://testgrid.k8s.io/sig-release-1.20-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-01-19 10:05] palnabarun commented on #1818
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2022-01-19 10:04:33.870199 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-cos-k8sstable2-serial&width=30">sig-r

[2022-01-19 10:17] palnabarun commented on #1819
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-01-19 10:23] palnabarun commented on #1820
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-01-19 12:43] palnabarun opened #1826 "Release Manager access for @jimangel"
### GitHub Username

@jimangel

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

temporary: Jim is a Release Manager Associate being granted temporary elevated access to cut releases. Access should be revoked after the January 2022 patch releases are cut.

### Release Manager Onboarding

- Update Google Groups/GCP IAM membership

[2022-01-19 12:57] palnabarun commented on #1826
/assign
/priority critical-urgent
/kind documentation

[2022-01-19 16:41] JamesLaverack commented on #688
Discussed in 1.24 RT meeting Wednesday 19th January 2022.

We feel this is still needed, and would like to add more verbose documentation for shadows. Possibly re-arrange document, and link from shadow survey.

/assign @jeremyrickard

[2022-01-21 06:17] palnabarun commented on #1817
/assign
/close

[2022-01-21 06:17] #1817 closed

[2022-01-21 06:18] palnabarun commented on #1818
/assign
/close

[2022-01-21 06:19] #1818 closed

[2022-01-21 06:20] palnabarun commented on #1820
/assign
/close

[2022-01-21 06:21] #1820 closed

[2022-01-21 06:24] palnabarun commented on #1819
/assign
/close

[2022-01-21 06:24] #1819 closed

[2022-01-21 06:31] #1826 closed

[2022-01-21 14:18] lehors commented on #1790
Hello there,

Unfortunately the coupons we had for the Titan tokens are no longer available but I can still get Yubikey tokens to those interested in that. @ameukam short of getting a Titan token would you be interested in a Yubikey?

@justaugustus Can I just give your email to the Github folks and you can take it from there? Otherwise I'll need everybody's email address.

Thanks.

[2022-01-21 14:28] justaugustus commented on #1790
Thanks Arnaud! Sent you an email with my contact info.

[2022-01-21 14:31] aojea commented on #1790
@justaugustus please count me in, I'd like to have yubikey too

[2022-01-21 14:35] justaugustus commented on #1790
Hey Antonio, I need to finish checking in with Release Managers and Tech Leads before we can consider extending this outside of "people with a pager".

Will keep you in mind though! 💞

[2022-01-24 21:16] jimangel opened #1832 "Discuss / document the process for unplanned or out-of-band releases."
Ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1642794167092000

What do we need to do when cutting an out-of-band release?

Ideas:
- Draft a blurb about why (and email community)
- Update patch schedule
- Coordinate timing w/ build admins

Additional thoughts? Once complete, we should compile the steps into our handbook.

[2022-01-24 21:54] justaugustus commented on #1832
Thanks for opening, Jim!
cc: @kubernetes/release-engineering

[2022-01-25 08:23] saschagrunert commented on #1832
Sounds good to me, thanks for bringing it up!

[2022-01-25 15:20] justaugustus opened #1833 "Create 1password vaults for SIG Release"
#### What would you like to be added:

Create 1password vaults for SIG Release

#### Why is this needed:

...because like, sharing passwords and stuff.

/assign @mrbobbytables @justaugustus
cc: @kubernetes/sig-release-admins @kubernetes/release-managers

[2022-01-25 16:16] justaugustus commented on #1257
xref: https://github.com/kubernetes/sig-release/pull/1518

[2022-01-25 16:19] justaugustus commented on #1807
/help
cc: @kubernetes/sig-release-admins

[2022-01-25 18:10] jimangel opened #1834 "Cut v1.23.3 release"
## Scheduled to happen: Tue, 2022-01-25

## Release Blocking Issues
n/a

## Release Steps

- [x] Create a thread on #release-management: [](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1643134528112000)
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/

[2022-01-25 18:13] jimangel commented on #1834
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-01-25 18:36] jimangel opened #1835 "Release Manager access for @jimangel"
### GitHub Username

@jimangel

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

temporary: Jim is a Release Manager Associate being granted temporary elevated access to cut releases. Access should be revoked after the January 2022 patch releases are cut.

### Release Manager Onboarding

- [ ] Update Google Groups/GCP IAM member

[2022-01-31 08:37] saschagrunert commented on #896
Sill depends on https://github.com/kubernetes/committee-security-response/pull/129

[2022-01-31 08:38] saschagrunert commented on #1221
This still needs to be done.

[2022-02-01 09:06] wojtek-t commented on #908
/remove-lifecycle stale

[2022-02-01 09:18] palnabarun opened #1836 "Cut v1.24.0-alpha.2 release"
## Scheduled to happen: Tue, 2022-02-01

## Release Blocking Issues

None

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1643707117749729
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/33

[2022-02-01 09:21] palnabarun commented on #1836
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-02-01 14:29] palnabarun commented on #1836
Release is done! 🚀

/close

[2022-02-01 14:29] #1836 closed

[2022-02-02 16:18] saschagrunert commented on #1768
@JamesLaverack can this one be closed?

[2022-02-02 16:19] saschagrunert commented on #1834
I think this is done
/close

[2022-02-02 16:19] #1834 closed

[2022-02-02 16:19] saschagrunert commented on #1833
I think this is done, right?

[2022-02-03 15:54] mrbobbytables commented on #1833
Yeah, just a few release managers remaining that need to accept the invite and added to the team

[2022-02-03 15:55] saschagrunert commented on #1833
Good, let's keep it open until everyone has accepted.

[2022-02-03 17:52] justaugustus commented on #1833
Yep, let's keep this open.
Still need to confirm other invites and drop my existing creds into the new vault

[2022-02-10 13:19] mrbobbytables commented on #1833
Everyone has been invited and added to the appropriate teams 👍

[2022-02-10 13:30] #1833 closed

[2022-02-10 14:54] ameukam commented on #1372
/reopen

[2022-02-13 12:45] xmudrii commented on #1649
/remove-lifecycle stale

[2022-02-14 17:06] lehors commented on #1790
@justaugustus I've sent you a couple of email but apparently you're not receiving them. I'd like to close this now. Could you please send me the list of all the people who would like to have a yubikey?
Thanks.

[2022-02-15 14:28] palnabarun opened #1850 "Cut 1.24.0-alpha.3 release"
## Scheduled to happen: Tuesday, February 15 2022

## Release Blocking Issues

https://github.com/kubernetes/kubernetes/issues/106917 exists but this seems to be more of a final release blocker.

## Release Steps

- [ ] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image

[2022-02-15 15:42] jimangel opened #1851 "Cut v1.24.0-alpha.3 release"
## Scheduled to happen: Tuesday, February 15 2022

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1644935191236269
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pul

[2022-02-15 15:42] jimangel commented on #1850
Opened https://github.com/kubernetes/sig-release/issues/1851
/close
Thanks @palnabarun!

[2022-02-15 15:42] #1850 closed, assigned to jimangel

[2022-02-15 15:51] jimangel commented on #1851
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2022-02-15 15:51:20.539384 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress&width=30">sig-

[2022-02-15 18:31] Riaankl commented on #1369
/open

[2022-02-15 18:32] Riaankl commented on #1369
/lifecycle rotten

[2022-02-15 18:33] Riaankl commented on #1369
/re-open

[2022-02-15 18:37] Riaankl commented on #1369
/remove-lifecycle rotten

[2022-02-15 18:38] Riaankl commented on #1369
/reopen

[2022-02-15 18:41] BenTheElder commented on #1369
I believe this is about or already ready to be closed. We've largely already mirrored the images we use into k8s.gcr.io such thay we're not directly dependent on any other registery for release builds etc.

This is not to be confused with related discussions about what backs our registry and potentially using mirrors for that, there are other tracking issues for that topic.

AFAICT SIG testing and

[2022-02-16 08:17] cpanato opened #1852 "Cut v1.23.4 release"
## Scheduled to happen: Wed, 2022-02-16

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1644999809269929
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3409
  -

[2022-02-16 08:18] cpanato opened #1853 "Cut v1.22.7 release"
## Scheduled to happen: Wed, 2022-02-16

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1644999773890689
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3409
  -

[2022-02-16 08:19] cpanato opened #1854 "Cut v1.21.10 release"
## Scheduled to happen: Wed, 2022-02-16

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1644999740878619
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3409
  -

[2022-02-16 08:28] cpanato commented on #1852
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-02-16 08:29] cpanato commented on #1853
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-02-16 08:29] cpanato commented on #1854
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2022-02-16 08:29:39.790062033 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-cos-k8sstable2-serial&width=30">si

[2022-02-17 23:33] jeremyrickard commented on #1768
Release Team is assembled!

/close

[2022-02-17 23:33] #1768 closed

[2022-02-20 15:40] #1604 closed

[2022-02-22 16:34] leonardpahlke opened #1856 "ci-signal-org, record short onboarding clips"
**Summary:** Improve Ci Signal onboarding with short clips

**Current situation:** Currently the CI Signal onboarding is mainly reading the [handbook](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/ci-signal/README.md) and asking questions back to the ci signal lead

**Desired outcome:** A picture says more than 100 words - I guess short clips showcasing day to d

[2022-02-22 16:53] leonardpahlke opened #1857 "ci-signal-org, CI Signal Team onepager handbook"
**Summary:** Add a short ci signal team 'pitch-deck' next to the handbook

**Current situation:** Currently, the CI Signals Handbook is the only place that shows what the team does. It is quite extensive and not very handy if you just want to get a quick overview of what the team is doing.

**Desired outcome:** Add another markdown file next to the ci signal [handbook](https://github.com/kubernete

[2022-02-22 21:17] lauralorenz commented on #1856
/assign @lauralorenz

[2022-02-22 22:20] puerco commented on #1854
Release is out, thanks everyone! :tada:
/close

[2022-02-22 22:20] #1854 closed

[2022-02-22 22:22] puerco commented on #1853
Release is out, thanks everyone! :tada:
/close

[2022-02-22 22:22] puerco commented on #1852
Release is out, thanks everyone! :tada:
/close

[2022-02-22 22:22] #1853 closed

[2022-02-22 22:22] #1852 closed

[2022-02-28 09:53] palnabarun commented on #1789
All done! Closing.

/close

[2022-02-28 09:53] #1789 closed

[2022-02-28 09:54] palnabarun commented on #1713
All done! Closing.

/close

[2022-02-28 09:54] #1713 closed

[2022-03-03 11:52] saschagrunert commented on #1851
Done :+1:

[2022-03-03 11:52] #1851 closed

[2022-03-05 18:14] #1224 closed

[2022-03-08 08:01] saschagrunert commented on #1526
@Damans227 can you please add myself to the survey that I'm able to see the results? My account is `saschagrunert`.

[2022-03-08 08:08] saschagrunert commented on #1526
Mail sent: https://groups.google.com/a/kubernetes.io/g/dev/c/5Sj-Mk0_I1Y

[2022-03-08 13:05] Damans227 commented on #1526
Yes, of course. I am working on this now.

[2022-03-08 13:32] Damans227 commented on #1526
@saschagrunert So, it looks like I can not add you to my "team" on survey monkey and give you the access to its results without upgrading to a paid plan. The only option available to share the survey data in free tier is to generate a public link and publish the responses online.

[2022-03-08 13:51] saschagrunert commented on #1526
Sounds good, let's revisit the survey from time to time and probably close it by the end of the cycle :) Then we can evaluate the results.

[2022-03-08 19:50] jberkus commented on #1526
Hey, all, I'm going to ask you to pull the survey and use Kubernetes' official survey account for it.  Also there's a few other things missing like GDPR headers.

[2022-03-08 19:58] jberkus commented on #1526
Also --- we can have contributor-comms publicize the survey.

[2022-03-08 21:13] jberkus commented on #1526
Drafting replacement with Sascha and Damans

[2022-03-10 22:17] lauralorenz commented on #1856
Clips to cover IMHO:

- dashboards overview
- how to analyze a flake
- communication demo (slack thread, CI signal board draft for observing, turn into issue)
- release branch go/no go responsibilities walkthrough
- how to make CI signal report (@leonardpahlke)
- how to sign up for and give weekly status meeting updates

[2022-03-14 22:38] jberkus commented on #1526
Survey is running now: https://www.surveymonkey.com/r/k8s-cadence-2022

[2022-03-15 08:18] cpanato opened #1863 "Cut v1.23.5 release"
## Scheduled to happen: Wed, 2022-03-16

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1647428723419919
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3524
  -

[2022-03-15 08:19] cpanato opened #1864 "Cut v1.22.8 release"
## Scheduled to happen: Wed, 2022-03-16

## Release Blocking Issues

None

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1647428695280269
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/35

[2022-03-15 08:19] cpanato opened #1865 "Cut v1.21.11 release"
## Scheduled to happen: Wed, 2022-03-16

## Release Blocking Issues

None

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1647428652181949
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/35

[2022-03-16 08:24] cpanato commented on #1549
/remove-lifecycle stale

[2022-03-16 11:08] palnabarun commented on #1864
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-03-16 11:09] palnabarun commented on #1863
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-03-16 11:10] palnabarun commented on #1865
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2022-03-16 11:08:42.857275 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-cos-k8sstable2-serial&width=30">sig-r

[2022-03-16 13:42] leonardpahlke commented on #1857
/assign @leonardpahlke

integrate clips see: https://github.com/kubernetes/sig-release/issues/1856

[2022-03-16 14:16] leonardpahlke commented on #1856
Yes, I think these clips would help a lot. We might need to add some clips down the road since we are discussing & developing a few new tools.

- CI Signal dashboard https://github.com/kubernetes/k8s.io/issues/3071
- sippy [slack thread](https://kubernetes.slack.com/archives/CN0K3TE2C/p1647439378698369)
- CI Signal Report CLI is still work in progress

I would propose to start with these three and

[2022-03-17 12:26] xmudrii commented on #1324
/remove-lifecycle stale

[2022-03-17 18:18] eddiezane commented on #1856
cc

[2022-03-18 15:38] leonardpahlke commented on #1856
/milestone v1.24

[2022-03-22 09:02] palnabarun opened #1866 "Cut v1.24.0-alpha.4 release"
## Scheduled to happen: Tuesday, March 22, 2022

## Release Blocking Issues

- https://github.com/kubernetes/kubernetes/issues/108307 is an open blocker. However, the last test run passed. ✅

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1647939515413089
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] S

[2022-03-22 09:05] palnabarun commented on #1866
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-03-22 09:23] palnabarun commented on #1863
/close

[2022-03-22 09:23] #1863 closed

[2022-03-22 09:36] #1864 closed

[2022-03-22 09:38] palnabarun commented on #1865
/close

[2022-03-22 09:38] #1865 closed

[2022-03-22 13:26] palnabarun commented on #1866
The release is out! 🎉

/close

[2022-03-22 13:26] #1866 closed

[2022-03-23 12:26] leonardpahlke commented on #1856
In the past there were already some recordings about CI Signal deep dives

* Flake finders 1 https://youtu.be/9muoWaXZK8I?t=14
* Flake finders 2 https://youtu.be/Hqlm2h2AEvA?t=7
* CI Signal Intro / Onboarding https://youtu.be/bttEcArAjUw?t=39

See [slack thread](https://kubernetes.slack.com/archives/CN0K3TE2C/p1648037435691849)

[2022-03-28 16:07] palnabarun opened #1870 "Cut v1.24.0-beta.0 release"
## Scheduled to happen: Wednesday, March 30 2022

## Release Blocking Issues

https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-blocker

## Release Steps

- [ ] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Rel

[2022-03-30 15:02] jimangel opened #1872 "Cut v1.24.0-beta.0 release"
## Scheduled to happen: Wednesday, March 30 2022

## Release Blocking Issues
https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-blocker

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1648663162119779
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Releas

[2022-03-30 18:00] jimangel commented on #1872
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-03-30 18:19] palnabarun commented on #1870
/close
(in favor of #1872)

[2022-03-30 18:19] #1870 closed

[2022-03-30 22:49] jimangel commented on #1872
After stage failed, rebuilt after (https://github.com/kubernetes/release/pull/2481).
[code]

[2022-03-31 03:35] palnabarun commented on #1872
Rebuilt after https://github.com/kubernetes/release/pull/2483
[code]

[2022-03-31 05:05] palnabarun commented on #1872
With an update to Go1.18
[code]

[2022-03-31 13:18] palnabarun commented on #1872
Release announcement: https://groups.google.com/a/kubernetes.io/g/dev/c/yO0nwVatMCM

[2022-04-05 17:05] jrsapi commented on #1814
@JamesLaverack Have you started to draft the 1.25 shadow survey? Can you share so we can review?

[2022-04-05 17:19] jrsapi opened #1875 "Assemble Kubernetes 1.25 Release Team 🚀 🕐 🎉"
¡Hola Kubernetes fam! The current release team is doing a stellar job getting the release ready and bringing this cycle to its end. But the end of a journey is a positive thing as it marks the beginning of something new, which is the 1.25 release team!

Please review the [Release Team Selection Process docs](https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-selection.

[2022-04-05 17:34] JamesLaverack commented on #1875
It's been an enormous honour and pleasure to be the Kubernetes 1.24 release lead, and I've had the good fortune to have been supported by many excellent individuals on the release team. 🙇

Going forward into Kubernetes 1.25, I'm excited to nominate @cici37 as the next Release Lead. 🎉 Cici has been an excellent addition to the release team over the last few releases, and I'm excited to see her lead

[2022-04-05 17:42] Damans227 commented on #1875
Congratulations @cici37 Keep up the great work!

[2022-04-05 17:52] cici37 commented on #1875
Thank you @JamesLaverack for your nomination! It has been awesome to work with all of you in Kubernetes release team and thank you @JamesLaverack for your excellent work to guide us through 1.24 release! I am truly honored!

[2022-04-05 18:02] jrsapi commented on #1875
It's a great privilege to nominate @reylejano  as the next emeritus advisor for the 1.25 release!

Rey has previously served as release lead for 1.23 and is an active contributor across many K8s Sigs and is recognized for taking on any role that is needed.

I know Rey's kind and empathetic spirit will help shepherd the 1.25 team to great heights.
/honk

[2022-04-05 18:37] AuraSinis commented on #1875
I'm happy to nominate @csantanapr as the Release Notes lead for the k8s 1.25 release cycle! He's been consistently engaged and has made improvements to the release notes workflow. The 1.25 release notes team will be in good hands.

/honk

[2022-04-05 19:25] reylejano commented on #1875
Thank you @jrsapi for the nomination and kind words.
I'm honored to be nominated for the v1.25 emeritus adviser

[2022-04-05 20:50] csantanapr commented on #1875
Thank you @AuraSinis for your nomination and trust in me. It was a great experience as my first time on the release team.
I'm honored to be nominated for v1.25 release

[2022-04-05 21:01] cici37 commented on #1875
Super happy to have you in 1.25 @reylejano !!

[2022-04-05 21:06] Damans227 commented on #1875
Many congrats Rey! Keep it up 👏

[2022-04-05 22:35] jeremyrickard commented on #1875
/pony party

[2022-04-06 06:44] gracenng commented on #1875
Congrats @cici37 and @reylejano -- 1.25 looks to be stacked already!

It's been quite a learning experience being a Enhancements lead for me. I'm delighted to nominate @Priyankasaggu11929 as 1.25 Enhancements Lead 🌟 Her work ethic, organization skills and kindness are out of this world. I'm excited to learn more from her!

[2022-04-06 07:57] Priyankasaggu11929 commented on #1875
Thank you very much, @gracenng  ❤️

It was a joy working with you on the same team for the past two release cycles. 💕  I am very much looking forward to working with you on future release team initiatives. 🎊  ⭐

[2022-04-07 18:30] AuraSinis opened #1878 "Release notes workflow: add instructions on editing PR's yamls after review, edit notes"
Add instructions on editing the `pr-*.yaml` files after other team members have reviewed and left comment, such as the need to squash, etc.

/sig release
/area release-team
/kind documentation

[2022-04-10 23:34] nate-double-u commented on #1875
@kcmartin has been involved in several previous releases, and I’m happy to nominate her to the team again for the 1.25 Docs Lead role!

The 1.25 team is looking amazing!

[2022-04-11 01:33] jrsapi commented on #1875
Thank you @nate-double-u for doing a great job this release cycle! @kcmartin welcome back to the release team and grateful to have you lead docs.

[2022-04-11 07:09] saschagrunert commented on #1723
/remove-lifecycle stale

[2022-04-11 07:09] saschagrunert commented on #1527
/remove-lifecycle stale

[2022-04-11 22:29] kcmartin commented on #1875
Thank you @nate-double-u and @jrsapi !! I am super excited to be back on the Release Team for 1.25!!!

[2022-04-12 00:03] mickeyboxell commented on #1875
@katcosgrove has been a great partner during the multiple releases we worked on together. I am happy to nominate Kat to be the communications coordinator for Kubernetes 1.25!

[2022-04-12 02:49] katcosgrove commented on #1875
Thank you @mickeyboxell! I'm so excited! You've been a pleasure to work with 🥰

[2022-04-12 03:12] jrsapi commented on #1875
Thanks, @mickeyboxell for all your efforts this cycle. @katcosgrove having you lead Comms in 1.25 is epic.

[2022-04-12 08:10] cpanato opened #1879 "Cut v1.21.12 release"
## Scheduled to happen: Wed, 2022-04-13

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] Send notificati

[2022-04-12 08:11] cpanato opened #1880 "Cut v1.22.9 release"
## Scheduled to happen: Wed, 2022-04-13

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] Send notificati

[2022-04-12 08:11] cpanato opened #1881 "Cut v1.23.6 release"
## Scheduled to happen: Wed, 2022-04-13

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] Send notificati

[2022-04-12 19:30] leonardpahlke opened #1883 "Update documentation: use release-team-shadow-stats at the start of the release-cycle 1.25"
#### What would you like to be added:

1. Update the documentation ([lead handbook](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/release-team-lead/README.md#week-0)) to mention the [release-team-shadow-stats](https://github.com/kubernetes-sigs/release-team-shadow-stats) project to create applicant summaries for release-team role leads (see [output examples](htt

[2022-04-12 19:33] leonardpahlke commented on #1883
/milestone v1.24

[2022-04-13 10:12] cpanato commented on #1881
/unassign @cpanato
/assign @Verolop @palnabarun

[2022-04-13 10:13] cpanato commented on #1880
/unassign @cpanato
/assign @Verolop @palnabarun

[2022-04-13 10:13] cpanato commented on #1879
/unassign @cpanato
/assign @Verolop @palnabarun

[2022-04-13 15:10] Verolop commented on #1880
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-04-13 21:33] reylejano commented on #1814
/assign

[2022-04-13 21:40] reylejano commented on #1814
@kubernetes/sig-release-leads , @cici37, @JamesLaverack, @jrsapi , @jberkus
I've shared the draft of the v1.25 shadow application with you.
If you have not received a link, please reach out to me.
The v1.25 shadow application includes a request to opt-in or opt-out to use applicants' data

[2022-04-14 08:25] #1400 closed

[2022-04-14 09:26] #1389 closed

[2022-04-14 09:26] #1511 closed

[2022-04-14 17:03] leonardpahlke commented on #1875
Thanks @JamesLaverack and @jrsapi and everyone else on the release team, it was great working with you all!!
Special thanks also to my great shadows @lauralorenz @shuheiktgw @Nivedita-coder @voigt it was a pleasure to work with you in the team :)

I nominate @RinkiyaKeDad as the CI Signal lead for 1.25, he is an active member in several K8s sig's and part of the release team for a few cycles. :tad

[2022-04-14 17:08] RinkiyaKeDad commented on #1875
Thank you @leonardpahlke! It has been great working with you over the last two cycles. Super excited for 1.25!!

[2022-04-14 17:16] jyotimahapatra commented on #1875
All of the bug triage team members in 1.24 has done a great job at managing the blocking issues and PRs. I'd like to nominate @helayoty as the bug triage lead for 1.25 :) .

[2022-04-14 17:22] helayoty commented on #1875
Thank you @jyotimahapatra! It has been great working with you🥇. So excited for v1.25 🥳 😍

[2022-04-19 09:39] palnabarun opened #1886 "Cut v1.24.0-rc.0 release"
## Scheduled to happen: Tue, 2021-04-19

## Release Blocking Issues

None. CI Signal gave a Go Ahead (ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1650369853356279?thread_ts=1650361377.623769&cid=CJH2GBF7Y).

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1650361377623769
- [x] Screenshot unhealthy release branch testgrid b

[2022-04-19 12:37] palnabarun commented on #1886
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-04-21 02:54] csantanapr commented on #1886
Can we close this now? 1.24.rc0 is now cut

[2022-04-21 07:18] saschagrunert commented on #1886
Yes, I think most of the post release branch tasks are done as well

[2022-04-21 07:18] #1886 closed

[2022-04-25 11:39] #1857 closed

[2022-04-25 11:44] leonardpahlke commented on #1856
Tracking the progress on the ci signal onboarding clips:
1. - [ ] [testgrid] dashboards overview
2. - [ ] how to analyze a flake
3. - [x] release branch go/no go responsibilities walkthrough

[2022-04-25 11:44] leonardpahlke commented on #1856
@markyjackson-taulia (YT Admin) how can we upload the clips to YT after recording?

[2022-04-25 12:46] markyjackson-taulia commented on #1856
You can dm me the clip and I will upload

[2022-04-26 14:01] jimangel opened #1888 "Cut v1.24.0-rc.1 release"
## Scheduled to happen: Tue, 2022-04-26

## Release Blocking Issues
n/a for rc

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1650981746946779
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pu

[2022-04-26 14:20] jimangel commented on #1888
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-04-27 07:23] saschagrunert commented on #1888
@jimangel please close when this is done :)

[2022-05-01 05:43] prondubuisi opened #1893 "Documentation Clarification"
## What would you like to be added

I was looking through the onboarding guide, and I found some phrases/sentences confusing like [here](https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-onboarding.md#release-team-onboarding-guide)

I am wondering if "apart" here should read a part

I also have this confusion [here ](https://github.com/kubernetes/sig-release/blob/mast

[2022-05-02 11:09] wojtek-t commented on #908
/remove-lifecycle stale
/kind bug
/triage accepted

[2022-05-03 10:30] palnabarun opened #1895 "Cut v1.24.0 release"
## Scheduled to happen: Tue, May 3 2022

## Release Blocking Issues

None! 🎉

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1651573886344979
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish pac

[2022-05-03 10:30] #1888 closed

[2022-05-03 10:31] #1881 closed

[2022-05-03 10:31] #1880 closed

[2022-05-03 10:31] #1879 closed

[2022-05-03 10:31] #1872 closed

[2022-05-03 10:34] leonardpahlke commented on #1814
/close

[2022-05-03 10:34] #1814 closed

[2022-05-03 10:36] leonardpahlke commented on #1883
/milestone v1.25

[2022-05-03 10:37] leonardpahlke commented on #1856
/milestone v1.25

[2022-05-03 11:13] palnabarun commented on #1895
### Testgrid dashboards for 1.24

Boards checked for FAILING:
- [sig-release-1.24-blocking](https://testgrid.k8s.io/sig-release-1.24-blocking)
- [sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-05-09 17:47] cici37 opened #1902 "Release Team Lead access for @cici37 @jlbutler @salaxander @gracenng @leonardpahlke"
### GitHub Username(s)

- @cici37
- @jlbutler
- @salaxander
- @gracenng
- @leonardpahlke

### Release Cycle

Kubernetes 1.25

### Prerequisites

- [x] Ensure new Release Team Lead:
  - [x] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/a/kubernetes.io/g/dev)
  -

[2022-05-12 01:20] paravatha opened #1905 "Tracking Sheet links are broken"
#### What happened:
In the below release 1.25 README.md
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.25#tracking-docs

**These 2 below links are not working, I am getting "Page not found | 404" error**

[Feature blog Tracking Sheet](http://bit.ly/k8s125-feature-blog)
[Bug Triage Tracking Sheet](https://bit.ly/k8s125-bug-triage-tracking)

#### What you expected to happen

[2022-05-12 07:28] saschagrunert commented on #1905
Hey @paravatha, the next release cycle will start on May 23rd and we're still in the preparation phase. The tracking sheet can be found there but as time of writing is still empty: https://docs.google.com/spreadsheets/d/1Lnft8598eIQsqBp8W6X_LwaqBNZViYssQoFgGS8aJ3g/edit?usp=sharing

[2022-05-12 07:41] saschagrunert commented on #1526
The release cadence survey is now closed.

#### Summary

87 People answered the questions

![screenshot](https://user-images.githubusercontent.com/695473/168017704-986cf63b-a8b5-43c7-ae8e-c60eab1adfee.png)
![screenshot](https://user-images.githubusercontent.com/695473/168017800-0c135179-40ab-461b-bf38-2cfc2bd20b24.png)
![screenshot](https://user-images.githubusercontent.com/695473/168017871-035bb2

[2022-05-12 07:49] #1526 closed

[2022-05-12 16:44] jlbutler commented on #688
Hi all!  This came up in the context of retro and we seem to be addressing the required intent in the [various role handbooks](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks) as well as the [shadow guidance](https://github.com/kubernetes/sig-release/blob/master/release-team/shadows.md).  I think we are ok to close this one out as suggested a while ago. It can be

[2022-05-12 16:44] #688 closed

[2022-05-15 18:49] ameukam commented on #1790
@justaugustus @lehors Sorry but were we supposed to receive an email or something?

[2022-05-16 07:25] saschagrunert commented on #1895
This is done :+1:

[2022-05-16 07:25] #1895 closed

[2022-05-24 08:14] cpanato opened #1907 "Cut v1.24.1 release"
## Scheduled to happen: Tue, 2022-05-24

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1653386523220899
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3761
  -

[2022-05-24 08:58] cpanato opened #1908 "Cut v1.23.7 release"
## Scheduled to happen: Tue, 2022-05-24

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1653382772759919
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3775 / h

[2022-05-24 09:00] cpanato commented on #1907
### Testgrid dashboards for 1.24

Boards checked for FAILING:
- [sig-release-1.24-blocking](https://testgrid.k8s.io/sig-release-1.24-blocking)
- [sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-05-24 09:00] cpanato commented on #1908
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-05-24 09:51] cpanato opened #1909 "Cut v1.22.10 release"
## Scheduled to happen: Tue, 2022-05-24

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1653385940848219
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3768
  -

[2022-05-24 09:53] cpanato commented on #1909
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

<details><summary><tt>2022-05-24 09:53:03.78692949 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.22-blocking#gce-cos-k8sstable2-alphafeatures&width=3

[2022-05-24 10:01] cpanato opened #1910 "Cut v1.21.13 release"
## Scheduled to happen: Tue, 2022-05-24

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1653386523220899
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3761
  -

[2022-05-24 10:01] cpanato commented on #1910
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2022-05-24 10:01:37.959859798 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-cos-k8sstable3-serial&width=30">si

[2022-05-24 14:27] leonardpahlke opened #1911 "Update Release Team Lead Handbook to create swag for the Kubernetes release"
#### What would you like to be added:

Update the [release team lead handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/release-team-lead#release-team-lead-) to create Kubernetes release cycle merch, which is available over the CNCF merch store.

#### Why is this needed:

One of the common questions at the end of a Kubernetes release cycle is “can I get a s

[2022-05-25 17:52] xmudrii commented on #1832
/remove-lifecycle rotten

[2022-05-26 14:13] jeremyrickard opened #1912 "Update Meeting Times and Cadence"
As discussed in the [24 May Release Engineering Meeting](https://www.youtube.com/watch?v=1LWic-qogYI&t=477s), we should consider merging the SIG Release Meeting and the Release Engineering subproject meetings. Along with this, we should take a moment and consider alternate times or alternating meeting times.

Some items mentioned in the releng meeting:

* Often the SIG Release and Release Engineer

[2022-05-26 14:14] jeremyrickard commented on #1912
cc: @justaugustus @saschagrunert @puerco @cpanato

[2022-05-27 06:44] saschagrunert commented on #1912
I generally like the proposal 👍

Additionally I’d like to clarify when and under which conditions meetings get cancelled.

For example: We propose in slack to cancel the meetings if no agenda item is available around 1 day before they happen. If folks still want to meet and walk the board, or for example have a late agenda item, then we will use that conversation to negotiate.

[2022-05-27 10:28] cpanato commented on #1907
/assign @Verolop

[2022-05-27 10:43] cpanato commented on #1907
/close

[2022-05-27 10:43] #1907 closed

[2022-05-27 10:45] cpanato commented on #1908
/assign @Verolop

[2022-05-27 10:49] cpanato commented on #1908
/close

[2022-05-27 10:49] #1908 closed

[2022-05-27 10:51] cpanato commented on #1909
/assign @Verolop

[2022-05-27 10:52] #1909 closed

[2022-05-27 10:54] cpanato commented on #1910
/assign @Verolop

[2022-05-27 10:54] cpanato commented on #1910
/close

[2022-05-27 10:54] #1910 closed

[2022-05-27 15:30] jrsapi commented on #1912
I'm in agreement with the proposal.

My hope by staggering the hours we can be more time zone exclusive for those who are not able to attend the current time.

[2022-05-27 21:09] JamesLaverack commented on #1912
👍

Agree that SIG Release and Release Engineering meetings, in their current form, kind of merge together. I'm in support of this proposal.

[2022-05-30 09:40] saschagrunert opened #1916 "Offboard Lauri"
Thank you again for your hard work you invested into SIG Release, Lauri! I really hope to see you in the future again here! :pray: :sob:

cc: @kubernetes/sig-release-admins @LappleApple

### List of PRs

- https://github.com/kubernetes/community/pull/6675
- https://github.com/kubernetes/org/pull/3450
- https://github.com/kubernetes/k8s.io/pull/3789
- https://github.com/kubernetes/sig-release/pull/

[2022-05-30 10:47] #1916 closed

[2022-05-31 07:04] #1911 closed

[2022-05-31 18:17] xmudrii commented on #1221
/remove-lifecycle rotten

[2022-06-01 14:10] cici37 commented on #1902
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF3ontws1w6c
I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-06-01 14:21] leonardpahlke commented on #1902
Me too, [link to the LFC101 Certificate](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/5195509b-74c9-464e-80b5-49e60ed05eec-leonard-vincent-simon-pahlke-d70ff88e-171b-4f36-a6e0-b9b0bb4cdd99-certificate.pdf)

[2022-06-02 23:50] Verolop commented on #1835
/close

[2022-06-06 22:19] gracenng commented on #1902
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF-ocllb99cdq

I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-06-08 16:21] leonardpahlke commented on #1390
/assign

[2022-06-10 15:41] Verolop opened #1934 "Cut v1.25.0-alpha.1 release"
## Scheduled to happen:

## Release Blocking Issues

n/a

Release Process Steps:
======================

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Notify #release-management:
- [x] Send notification:
- [x]

[2022-06-10 15:44] Verolop commented on #1934
/milestone v.1.25

[2022-06-10 15:48] Verolop commented on #1934
/assign @Verolop

[2022-06-11 21:26] palnabarun commented on #1811
/reopen
/remove-lifecycle rotten

[2022-06-11 21:27] palnabarun commented on #1811
(until this is verified to be done)

[2022-06-12 13:59] palnabarun commented on #1905
Both the short links point to the correct documents. Closing this issue for now. Please feel free to re-open in case you feel otherwise.

/close

[2022-06-12 13:59] #1905 closed

[2022-06-12 15:53] #1816 closed

[2022-06-14 16:05] cpanato opened #1936 "Cut v1.21.14 release"
## Scheduled to happen: Wed, 2022-06-15

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1655222932586719
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (de

[2022-06-14 16:06] cpanato opened #1937 "Cut v1.22.11 release"
## Scheduled to happen: Wed, 2022-06-15

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1655222972619259
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (de

[2022-06-14 16:06] cpanato opened #1938 "Cut v1.23.8 release"
## Scheduled to happen: Wed, 2022-06-15

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1655222999154789
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (de

[2022-06-14 16:07] cpanato opened #1939 "Cut v1.24.2 release"
## Scheduled to happen: Wed, 2022-06-15

## Release Blocking Issues

## Release Steps

- [X] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1655223027920249
- [X] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (de

[2022-06-14 16:24] cpanato commented on #1938
/unassign @cpanato
/assign @ameukam

[2022-06-15 06:36] ameukam opened #1941 "Release Manager access for ameukam"
### GitHub Username

ameukam

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

 temporary

### Release Manager Associate

- [x] Update GitHub teams [(`kubernetes/org`)](https://git.k8s.io/org/config/kubernetes/sig-release/teams.yaml)
  - `milestone-maintainers`
  - `release-engineering`
- [x] Update Google Groups/GCP IAM members

[2022-06-15 06:51] ameukam commented on #1937
Access requested: https://github.com/kubernetes/sig-release/issues/1941

[2022-06-15 06:51] ameukam commented on #1938
Access requested: https://github.com/kubernetes/sig-release/issues/1941

[2022-06-15 06:51] ameukam commented on #1939
Access requested: https://github.com/kubernetes/sig-release/issues/1941

[2022-06-15 06:51] ameukam commented on #1936
Access requested: https://github.com/kubernetes/sig-release/issues/1941

[2022-06-15 10:45] ameukam commented on #1936
### Testgrid dashboards for 1.21

Boards checked for FAILING:
- [sig-release-1.21-blocking](https://testgrid.k8s.io/sig-release-1.21-blocking)
- [sig-release-1.21-informing](https://testgrid.k8s.io/sig-release-1.21-informing)

<details><summary><tt>2022-06-15 10:45:09.770321532 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.21-informing#gce-cos-k8sstable3-serial&width=30">si

[2022-06-15 10:46] ameukam commented on #1939
### Testgrid dashboards for 1.24

Boards checked for FAILING:
- [sig-release-1.24-blocking](https://testgrid.k8s.io/sig-release-1.24-blocking)
- [sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-06-15 17:32] jsturtevant commented on #1937
We found a bug for sig-windows that is causing failing tests: https://testgrid.k8s.io/sig-windows-1.22-release#aks-engine-windows-dockershim-1.22

I've started a thread in slack https://app.slack.com/client/T09NY5SBT/C2C40FMNF/thread/C2C40FMNF-1655251126.505489

[2022-06-15 17:32] jsturtevant commented on #1938
We found a bug for sig-windows that is causing failing tests: https://testgrid.k8s.io/sig-windows-1.23-release#aks-engine-windows-dockershim-1.23

I've started a thread in slack https://app.slack.com/client/T09NY5SBT/C2C40FMNF/thread/C2C40FMNF-1655251126.505489

[2022-06-15 21:07] Riaankl commented on #1369
/cose

[2022-06-15 21:08] Riaankl commented on #1369
/close

[2022-06-15 21:08] #1369 closed

[2022-06-17 07:27] saschagrunert commented on #1934
Can this one be closed?

[2022-06-17 07:27] saschagrunert commented on #1936
Can this one be closed?

[2022-06-17 07:28] saschagrunert commented on #1937
Can this one be closed?

[2022-06-17 07:28] saschagrunert commented on #1938
Can this one be closed?

[2022-06-17 07:28] saschagrunert commented on #1939
Can this one be closed?

[2022-06-17 07:34] ameukam commented on #1939
/close

[2022-06-17 07:34] ameukam commented on #1938
/close

[2022-06-17 07:34] ameukam commented on #1937
/close

[2022-06-17 07:34] #1939 closed

[2022-06-17 07:34] ameukam commented on #1936
/close

[2022-06-17 07:34] #1938 closed

[2022-06-17 07:34] #1937 closed

[2022-06-17 07:35] #1936 closed

[2022-06-17 07:36] cpanato commented on #1936
was missing to fill the informations, will add those

[2022-06-17 07:42] cpanato commented on #1937
was missing to fill the informations, will add those

[2022-06-17 07:44] cpanato commented on #1938
was missing to fill the informations, will add those

[2022-06-17 07:46] cpanato commented on #1939
was missing to fill the informations, will add those

[2022-06-17 22:18] Verolop commented on #1934
/close

[2022-06-17 22:18] #1934 closed

[2022-06-18 02:47] #1791 closed

[2022-06-20 08:57] ameukam commented on #1941
/close

[2022-06-20 08:57] #1941 closed

[2022-06-22 07:29] xmudrii commented on #1649
/remove-lifecycle stale

[2022-06-22 16:19] leonardpahlke commented on #1390
/close

[2022-06-23 07:05] harshitasao commented on #1893
/close

[2022-06-23 07:05] #1893 closed

[2022-06-24 18:01] #1257 closed

[2022-06-24 18:01] #1807 closed

[2022-06-27 14:56] jeremyrickard opened #1951 "Release Manager access for jeremyrickard"
### GitHub Username

@jeremyrickard

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

temporary: Jeremy will cut the 1.25.0-alpha.2 release and access should be revoked once that is completed

### Release Manager Associate

- [ ] Update GitHub teams [(`kubernetes/org`)](https://git.k8s.io/org/config/kubernetes/sig-release/teams.

[2022-06-28 15:12] jeremyrickard opened #1953 "Cut v1.25.0-alpha.2 release"
## Scheduled to happen:

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3912
  - [x] Release
- [x] Notify #release-management:
- [x] Send notification: https://gr