[2019-01-14 15:11] #416 closed

[2019-01-14 18:24] philips commented on #326
this is done.

[2019-01-14 18:24] #326 closed

[2019-01-14 18:37] marpaia commented on #411
Just to update from today's Release Team meeting, once shadows are selected, we will send a doodle out like @justaugustus said and try to find a meeting time that works for as many people as possible. There are a few role leads in Europe this release as well, so once the contact sheet is filled out we should be able to see if we can maybe make an additional meeting that is as friendly as possible

[2019-01-14 18:37] marpaia commented on #411
/milestone v1.14

[2019-01-15 00:17] spiffxp opened #447 "Cut v1.14.0-alpha.1 release"
/assign @hoegaarden

[Scheduled to happen](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14) Tue Jan 15

Any bumps or issues encountered along the way, post here.  /close when the release has been cut

[2019-01-15 01:34] spiffxp commented on #320
/milestone v1.14

[2019-01-15 01:35] spiffxp commented on #320
/kind documentation

[2019-01-15 01:45] idealhack commented on #411
@marpaia Thanks for the updates! I thought you are referring to the release team meeting? while this issue was for the SIG meetings?

[2019-01-15 10:23] hoegaarden commented on #447
1. Mock stage: https://console.cloud.google.com/gcr/builds/2f38a3c3-ca18-4de9-b33e-c124af0ab1c7?project=648026197307
2. Mock release:
3. Stage:
4. Release:
5. Notify:

[2019-01-15 13:22] k8s-release-robot opened #449 "Release v1.14.0-alpha.1 Tracking"
Kubernetes v1.14.0-alpha.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md/#v1140-alpha1>CHANGELOG-1.14.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.14.0-alpha.1>github</A>.
cc @kubernetes/sig-release-members

[2019-01-15 17:07] marpaia commented on #411
Oh yeah, nice catch @idealhack. I am in-fact talking about the 1.14 release team meetings.

[2019-01-15 17:45] hoegaarden commented on #447
/close

[2019-01-15 17:45] #447 closed

[2019-01-15 22:34] jimangel opened #450 "Backporting fixes and defining exceptions for non supported releases"
Currently the release team only supports & patches n-3 releases. Recently we came across a regression that was introduced in a post-release patch (while the version was still maintained). As discussed in the sig-release meeting on 1/15/2019, a fix will be backported to the non supported version. The specific criteria driving that decision was:

- CI was still available for the version
- The regres

[2019-01-15 22:41] liggitt commented on #450
additional criteria (which should always be true of picks, but bears repeating):
* The issue being fixed is of sufficient severity
* The fix is well understood and contained (doesn’t introduce risk of additional regressions)

[2019-01-16 18:36] spiffxp commented on #449
/close
ref: #425 (comment)

[2019-01-16 18:36] #449 closed

[2019-01-17 17:54] k8s-release-robot opened #451 "Release v1.12.5 Tracking"
Kubernetes v1.12.5 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1125>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.5>github</A>.
cc @kubernetes/sig-release-members

[2019-01-20 03:38] markyjackson-taulia commented on #372
Did the Kubernetes 1.14 Release Team shadows already form based on the questionnaire?

[2019-01-20 10:08] justaugustus commented on #372
@markyjackson-taulia -- the 1.14 Leads are working through the survey results. You should have a response this week.

[2019-01-20 10:31] justaugustus opened #454 "Release Team survey improvements"
Now that we have a survey for Release Team volunteers, I'd like to gather suggestions on how we can:
- Improve the survey
- Easily massage the survey data in future

@BenTheElder also brought up a great point: while we won't be able accept everyone on the Release Team, this seems like it could be an additional resource for seeding volunteers for other places in the project.

I'm happy to have anyo

[2019-01-21 19:12] spiffxp opened #456 "Don't use priority/critical-urgent as a gating label during code freeze"
Followup from https://bit.ly/k8s113-retro

Previous release leads and patch release managers have found that there's not a lot of clear documentation or well understood "case law" to facilitate decisions on whether a given change justifies the risk of letting it land.  We use `priority/critical-urgent` which has a description, but in reality different people seem to interpret the label in differen

[2019-01-21 19:15] spiffxp opened #457 "Try splitting release schedule out of release-lead playbook"
There is an extraordinary amount of week-by-week detail in the release-team-lead playbook.  I would like to see if we can split that out into a suggested template schedule.  I'm not sure if week-by-week makes sense, maybe something that breaks up into phases.

There is some amount of overlap with https://github.com/kubernetes/community/blob/master/contributors/devel/release.md#the-release-cycle fo

[2019-01-21 19:15] spiffxp commented on #456
/area release-team
/kind documentation

[2019-01-21 19:17] spiffxp opened #458 "Document kubernetes-release-team Google Groups membership criteria"
/kind documentation
/milestone v1.14
/sig release

My swag before I open a PR:

Who gets to be a member?
- Current release team members
- Current patch release team members

Who gets to be a manager?
- Release team lead

Who gets to be an owner?
- SIG Release leads

[2019-01-21 19:18] spiffxp commented on #458
Should shadows be in or out?

[2019-01-21 19:38] justaugustus commented on #458
+1 to membership + ACLs as you have them, @spiffxp. Pretty sure that's what I did on the last sweep.
Yes, we should add shadows, though we need to consider the whole disappearing shadow thing and prune often.

[2019-01-21 23:10] nikopen commented on #456
Great retro outcome!! This will ease the burden of issue management.

I've updated the triage handbook accordingly.

[2019-01-22 04:52] spiffxp opened #460 "Cut 1.14.0-alpha.2 release"
/assign @hoegaarden

Scheduled to happen Tue Jan 29

Any bumps or issues encountered along the way, post here. /close when the release has been cut

/milestone v1.14
/area release-team

[2019-01-22 04:58] spiffxp commented on #441
I've opened https://github.com/kubernetes/test-infra/pull/10870 to get my guesses out for review

[2019-01-22 18:30] spiffxp commented on #454
/area release-team

[2019-01-22 18:31] spiffxp commented on #451
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-22 18:31] #451 closed

[2019-01-22 18:31] spiffxp commented on #441
/area release-team

[2019-01-22 18:31] spiffxp commented on #440
/area release-team

[2019-01-22 18:45] idvoretskyi commented on #454
@justaugustus can you please share the currently used version?

[2019-01-23 16:41] mariantalla opened #465 "Document priority labels for issues related to CI failures/flakes"
The CI signal handbook [reads](https://github.com/kubernetes/sig-release/blob/9b7d93ea8f5ebec4d9831e95b4e96c35e4dc6a74/release-team/role-handbooks/ci-signal/README.md#L73) at the moment:

but does not document what priority labels are available and what the thought process is for using each of them, specifically in the context of issues created for CI failures and flakes.

[2019-01-23 16:42] mariantalla commented on #465
/assign

fyi @jberkus @spiffxp

[2019-01-24 07:19] justaugustus commented on #458
Open for an RT member who wants to take a crack at this.
/help

[2019-01-24 07:33] justaugustus commented on #440
The Kubernetes Release Team list membership has been updated.
After some discussion on Slack, it seems that the milestone-burndown serves no purpose that couldn't just as well be served by the top-level sig-release list.

That said, I'd like to get rid of it and @spiffxp is in agreement.

I'll let the other SIG Release Chairs chime in, on the off-chance I'm missing some context and then I'll put t

[2019-01-24 07:38] justaugustus commented on #432
/assign @spiffxp @jberkus @nikopen @tpepper @AishSundar
/help

[2019-01-24 07:39] justaugustus commented on #427
@tpepper @aleksandra-malinowska -- are we in a good place to close this out?

[2019-01-24 07:48] justaugustus commented on #425
/assign @hoegaarden

[2019-01-24 07:49] justaugustus commented on #425
Where did we land with this?
I know @spiffxp closed a bunch of issues recently, but are we ready to kill whatever creates the issue?

[2019-01-24 07:57] justaugustus commented on #320
Anyone interested in doc-ing this?

[2019-01-24 11:37] hoegaarden commented on #425
from @spiffxp's list above

I understand there are some issues/PRs for me to create in k/release & k/sig-release and other things to check on:

- investigate sending mail from GCB
- make GCB send mails
  - Note: what are we going to do with debs/rpms? Those are cut out of band, should we still send out a notification? Should we add a section to the mail until the deb/rpm thing is sorted stating so

[2019-01-24 16:31] nikhita commented on #369
@aleksandra-malinowska I think that's a great gist of the main concerns right now. :+1:

One more point slightly related to this - lack of shadows for patch release managers. This means we end up with lots of tribal knowledge. Having leads + shadows like other roles would be nice IMO.

[2019-01-24 21:35] k8s-release-robot opened #468 "Release v1.11.7 Tracking"
Kubernetes v1.11.7 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1117>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.7>github</A>.
cc @kubernetes/sig-release-members

[2019-01-25 03:55] idealhack commented on #468
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-25 03:55] #468 closed

[2019-01-26 05:14] jeefy opened #471 "Move `release-notes` tool under a k-sigs org repo"
Currently, the `release-notes` utility used to collate all the release notes for a given release is under a personal repo (https://github.com/marpaia/release-notes)

As it's now been used for multiple releases, and is the primary utility moving forward, it should probably live under an official k8s repo.

I propose we
- [ ] Copy code to _existing repo_ (k/release ?)
- [ ] Update release-notes/READ

[2019-01-26 06:50] idealhack commented on #471
If @marpaia agrees, we could migrate the repo by filing an [issue](https://github.com/kubernetes/org/blob/master/.github/ISSUE_TEMPLATE/repo-create.md) against k/org for step one.

[2019-01-27 03:39] marpaia commented on #471
I can file the issue to create the repo and move it over, update the imports, etc.

I wonder however if this is the kind of thing we should move to [k/sig-release/release-engineering](https://github.com/kubernetes/sig-release/tree/master/release-engineering)? Perhaps @tpepper or @aleksandra-malinowska have thoughts on this.

[2019-01-27 03:58] justaugustus commented on #471
I'm thinking here: https://github.com/kubernetes/release

[2019-01-27 05:19] marpaia commented on #471
A had a PR for that up for quite a while but I wasn't able to get any eyes on it: https://github.com/kubernetes/release/pull/575. I can copy it back over there though.

[2019-01-27 19:39] jeefy commented on #471
@marpaia That sounds like the best place, I say re-PR it and we'll make sure there's traction.

[2019-01-27 20:09] neolit123 commented on #471
cc

[2019-01-28 17:54] spiffxp opened #474 "Cut 1.14.0-alpha.3 release"
/assign @hoegaarden

Scheduled to happen Tue Feb 12

Any bumps or issues encountered along the way, post here. /close when the release has been cut

/milestone v1.14
/area release-team

[2019-01-28 20:02] marpaia commented on #471
OK, cool, the PR is up here: https://github.com/kubernetes/release/pull/661

With regards to those other tools, `toolbox/relnotes` was an attempted re-write of the bash `relnotes` tool in Go that hasn't really worked out IMO. I tried to extend it when I was working on my tool, but it's not organized in any library package structure that makes it re-usable. I think we should delete it.

As far as t

[2019-01-29 01:51] spiffxp commented on #269
/remove-help
/close

[2019-01-29 01:51] #269 closed

[2019-01-29 01:51] spiffxp commented on #269
/assign

[2019-01-29 11:23] k8s-release-robot opened #477 "Release v1.14.0-alpha.2 Tracking"
Kubernetes v1.14.0-alpha.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md/#v1140-alpha2>CHANGELOG-1.14.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.14.0-alpha.2>github</A>.
cc @kubernetes/sig-release-members

[2019-01-29 11:32] hoegaarden commented on #460
**v1.14.0-alpha.1**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | ./gcbmgr stage master --build-at-head | https://console.cloud.google.com/cloud-build/builds/92b83da4-3ac1-41d6-adde-8a0e613deaab?project=kubernetes-release-test | Tue Jan 29 9:31:26 | Tue Jan 29 10:15:21 | 43m |  
mock release | ./gcbmgr release master --buildversion=v1.14.0-

[2019-01-29 11:32] #460 closed

[2019-01-29 12:05] idealhack commented on #477
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-29 12:05] #477 closed

[2019-01-29 12:06] hoegaarden commented on #460
Issue: my mails don't show up on [kubernetes-announce@](https://groups.google.com/forum/#!forum/kubernetes-announce), thus: https://github.com/kubernetes/sig-release/pull/478

[2019-01-29 12:54] justaugustus opened #479 "Document access requirements for release team members"
It would be great to put together a top-level list of things that all RT members need to do, lists they need to join/be added to, GitHub teams, etc.

ref: #478

/area release-team
/cc: @spiffxp @BenTheElder @marpaia
/help

[2019-01-29 19:22] marpaia commented on #479
/assign

[2019-01-30 20:09] tpepper commented on #440
I'm good with this.

[2019-02-01 00:04] d-nishi opened #486 "Soliciting feedbackrelease cadence for out-of-tree features"
SIGs such as the cloud providers operate like user-groups. The SIGs are responsible for tight integrations of provider APIs with Kubernetes APIs/Interfaces such as out-of-tree cloud provider interfaces, CSI, CNI, CRI specifications etc. These integrations satisfy a Kubernetes user's needs when running Kubernetes on a cloud provider (not necessarily motivated to enhance a specific implementation of

[2019-02-01 00:06] d-nishi commented on #486
/cc @saad-ali @justaugustus @thockin @justinsb @spiffxp @tpepper

Created the issue as discussed!

[2019-02-01 00:42] d-nishi commented on #486
/assign @justaugustus

[2019-02-01 07:39] justaugustus commented on #486
Pinging @kubernetes/sig-release for input as well...

[2019-02-01 21:49] k8s-release-robot opened #488 "Release v1.13.3 Tracking"
Kubernetes v1.13.3 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1133>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.3>github</A>.
cc @kubernetes/sig-release-members

[2019-02-02 15:08] spiffxp commented on #400
/assign @neolit123
Since you had mentioned maybe working on this in #sig-release.  Please /unassign if you're not

[2019-02-04 17:31] spiffxp opened #490 "Setup european friendly release-team meeting"
In addition to the current meeting that occurs Mondays in a US friendly timezone (PT).  Previous releases have had one in a European friendly timezone on Tuesdays IIRC.  Now that we have all shadows locked in we have a better idea of our geographic distribution.

This is not something I personally have the bandwidth to support, so I've asked @marpaia to take point on scheduling and running.

ref:

[2019-02-04 20:37] nikopen commented on #490
Thanks!!

[2019-02-06 07:58] marpaia commented on #490
The doodle is up, please vote! https://doodle.com/poll/yt9d56qtf47sh49z

[2019-02-06 18:23] mariantalla commented on #486
I've written some thoughts below-please keep in mind that they are my own opinions only and that they might come with a somewhat incomplete context:)

tl;dr: My instinct would be to move as much of the ownership as possible to the owning SIGs/working groups, while making sure that the Kubernetes thing (previously built off core, now core+out-of-tree) that end users deploy and run is of high qualit

[2019-02-06 18:45] d-nishi commented on #486
@mariantalla - Thanks for the well thought out response.

[2019-02-07 20:50] spiffxp commented on #440
Here's my proposal for use of the lists as it relates to calendars and docs:
- ensure sig chairs have owner privileges to the kubernetes-release-team@ and kubernetes-milestone-burndown@ lists
- release doc ACL's should be as follows
  - release team contact info should be readable only by kubernetes-release-team@ and kubernetes-sig-release-leads@
  - all other release related docs should be commen

[2019-02-07 21:04] spiffxp commented on #440
- who gets to be on kubernetes-release-team@ ref: https://github.com/kubernetes/sig-release/issues/458
- membership on kubernetes-release-team@ would be one of the access requirements for release team members ref: https://github.com/kubernetes/sig-release/issues/479

[2019-02-07 23:43] justaugustus opened #493 "Handling the exceptions.yaml files"
Currently, the Enhancements Lead for the Release Team creates an [exceptions.yaml](https://github.com/kubernetes/sig-release/pull/492) to capture the exceptions from the current release cycle.

The idea was eventually to have a tool that could consume these and do... something?
We've never fleshed out what that something could be, so let's discuss.

/help
/cc @claurence @hoegaarden @spiffxp @BenTh

[2019-02-07 23:44] justaugustus commented on #493
/area release-team

[2019-02-07 23:50] justaugustus commented on #493
Pinging @kacole2 too!

[2019-02-07 23:53] tpepper commented on #440
I worry that the final burndown meetings aren't as discoverable as might be best.  But today that's liable to be the case just the same as if they're on the community calendar, since the community calendar itself isn't super visible.  We do at least follow normal practices around meeting minutes docs and where somebody who would need to attend should understand how to go hunt down info (same as fo

[2019-02-08 00:30] spiffxp commented on #490
In terms of how to run this, I'm not super sure, how has this been done in the past?  My gut says copying or doing a full agenda might be too much.

My suggestion: cover the previous day's agenda, and have the EU meeting's agenda consist of Open Discussion notes to capture and questions/comments/concerns that arise.

[2019-02-08 11:43] nikhita commented on #223
I have created https://github.com/kubernetes/community/pull/3231 to add the list of whitelisted licenses to k/community.

[2019-02-10 21:13] akirtou opened #494 "Running kubectl commands results in 406 errors"
Runnning commands such as get namespaces or get pods results in a "not allowed - 406" error.\
Same commands execute fine on lower kubectl versions. (i.e. 1.10.3)

[2019-02-11 19:43] claurence commented on #493
+1 to exploring something that could help automate the process.

What I did during this cycle (interested to know if it's different than what Kenny did for 1.13) was go through the exception emails and essentially copy and pasted the info from the email to the exception.yaml file - this was time-consuming and error prone in terms of formatting.

[2019-02-11 21:17] spiffxp opened #496 "Prune merged branches"
There are a lot of branches hanging off of this repo that don't need to be here
[code]

I'm cleaning them up, and figured I should log that I'm doing so

/kind cleanup
/sig release

[2019-02-11 21:22] spiffxp commented on #496
Oh branch protection, you're the best
[code]

[2019-02-11 21:27] spiffxp commented on #496
[code]
[code]

[2019-02-11 21:38] spiffxp commented on #496
Doing the same without `--merged origin/master` to pickup some unmerged PR's
- https://github.com/kubernetes/sig-release/pull/21
- https://github.com/kubernetes/sig-release/pull/278
- https://github.com/kubernetes/sig-release/pull/446

The `revert-141-1.11-release-notes` branch doesn't show up in PR's or commits.  I'm assuming it was opened to start a revert but the PR was never opened.

[code]

[2019-02-11 21:38] spiffxp commented on #496
/assign
/milestone v1.14
/close

[2019-02-11 21:38] #496 closed

[2019-02-12 11:23] k8s-release-robot opened #499 "Release v1.14.0-alpha.3 Tracking"
Kubernetes v1.14.0-alpha.3 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md/#v1140-alpha3>CHANGELOG-1.14.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.14.0-alpha.3>github</A>.
cc @kubernetes/sig-release-members

[2019-02-12 11:33] hoegaarden commented on #474
**v1.14.0-alpha.3**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | ./gcbmgr stage master --build-at-head | https://console.cloud.google.com/gcr/builds/b45a0a4e-7acc-44ca-9215-e29720c6939d?project=648026197307 | Tue Feb 12 9:56:50 | Tue Feb 12 10:41:02 | 44m |  
mock release | ./gcbmgr release  master --buildversion=v1.14.0-alpha.2.568+a15397

[2019-02-12 11:33] #474 closed

[2019-02-12 12:15] idvoretskyi commented on #353
/reopen

@kubernetes/sig-release mailing lists still exist. I can delete them after the explicit approval from at least one SIG chair.

REF: https://github.com/kubernetes/community/issues/2324#issuecomment-462736648

[2019-02-12 16:37] marpaia commented on #490
We had our first EU meeting today! We spent most of meeting talking through yesterdays minutes. When available, a representative of the role provided a summary; Otherwise, I provided a quick summary. We had a brief open discussion as well where the group spoke about v1.13.0-alpha.3, release notes and docs, and the progress of the packaging KEPs.

All in all, I thought it was a nice meeting. Please

[2019-02-12 17:03] hoegaarden opened #500 "pre-release announcments should go to k-dev-announce@ and not to k-announce@"
As per [slack discussion][discussion] `release-notify.sh` should sent mails to `k-dev-announce@` instead of `k-announce@` for alphas, betas, and rc-releases.

- [ ] change `release-notify.sh`
- [ ] update role handbooks and document how to get post permissions for that lists
  - [ ] release branch management
  - [ ] patch release management

Related:
https://github.com/kubernetes/kubernetes/issues

[2019-02-12 17:12] justaugustus commented on #500
/area release-team

[2019-02-12 17:19] calebamiles commented on #500
why are the automated emails supposed to go to `kubernetes-dev-announce@` now? That list is used by humans on the release team to give early heads up of their plans. The `kubernetes-announce@` mailing list is used by the release tooling to announce the completion of an automated build. The latter has an annoying onboarding mechanism due to the use of Google Groups but such is life. I see no reason

[2019-02-12 17:52] hoegaarden commented on #500
I might have misunderstood the slack discussion,
![image](https://user-images.githubusercontent.com/1401333/52656710-d3adfd00-2eee-11e9-95e2-a36ba93cddde.png)
but I was under the impression we want the following messages to be sent out:
- prod releases: `k-dev@` and `k-announce@`
- non prod releases: `k-dev@` and `k-dev-announce@`

[2019-02-12 17:59] justaugustus commented on #500
Yeah, I think the intent was misinterpreted.
@hoegaarden -- can you rename this issue?

The goal here is to document vs change.
When we started that thread, many of us were unsure of the responsibilities of each list.

First and foremost, let's document the current state.

[2019-02-12 18:11] hoegaarden commented on #500
Ok. I misunderstood then. Sorry about the confusion.

I think it is documented properly then:
- release branch management: https://github.com/kubernetes/sig-release/blame/master/release-team/role-handbooks/branch-manager/README.md#L36-L37
- patch release management: https://github.com/kubernetes/sig-release/blame/master/release-team/role-handbooks/patch-release-manager/README.md#L65-L67

I will cl

[2019-02-12 18:11] #500 closed

[2019-02-12 19:59] d-nishi commented on #486
@tpepper - can you please share your thoughts on this issue? Its about release cadence for out-of-tree features which is relevant to all cloudprovider features per se'

[2019-02-13 13:22] k8s-release-robot opened #501 "Release v1.10.13 Tracking"
Kubernetes v1.10.13 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v11013>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.13>github</A>.
cc @kubernetes/sig-release-members

[2019-02-13 16:47] rdodev commented on #245
Given lack of engagement on this ticket, I'm going to close it.

[2019-02-14 06:35] nikhita commented on #494
@akirtou Looks like you are hitting https://github.com/kubernetes/kubectl/issues/533 due to version skew. This should get fixed if you use a client version that is compatible with the server version.

In case the problem persists, please reopen against the kubectl repo. This repo is mainly intended for discussions related to releasing Kubernetes. :)

/close

[2019-02-14 06:35] #494 closed

[2019-02-14 16:40] mikebrow commented on #450
For consideration as an example in your tbd documentation:

The #74034 pick has been closed do to the n-3 release requirement.

Background:
There was a recent, very public, CVE associated with runc, that resulted in the newly patched runc allocating significant additional memory than it did pre-patch. Enough additional memory is being used in the patched runc to cause a regression with  k8s e2e no

[2019-02-14 18:25] BenTheElder commented on #450
I hear what you are saying but if we should support releases for longer than we state we do currently... that's a distinct discussion (See EG the LTS working group). Other than changing that policy, generally the project should actually support what we claim to support, and the CI etc. should not support more than that. We have to draw a line somewhere.

This is pretty much on the CRI teams to tes

[2019-02-14 23:26] mikebrow commented on #450
All good... thx for the discussion. Interesting topic.

Cheers, Mike

[2019-02-15 20:29] tpepper commented on #486
FYI in this week's SIG Release meeting we had a lot of discussion on this topic.

[Meeting notes](https://docs.google.com/document/d/1Fu6HxXQu8wl6TwloGUEOXVzZ1rwZ72IAhglnaAMCPqA/edit#bookmark=id.o4xvngwdrrwy) and [recording](https://youtu.be/Nb7SxI6dJrU) are online.

---

Some personal thoughts and observations:

 * Tracking & KEPs: general initial consensus seems to be forming around the idea tha

[2019-02-16 13:32] idealhack commented on #499
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-02-16 13:32] #499 closed

[2019-02-16 13:32] idealhack commented on #501
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-02-16 13:32] #501 closed

[2019-02-17 08:28] justaugustus commented on #486
/sig pm release

[2019-02-18 19:17] hoegaarden opened #506 "Cut 1.14.0-beta.0 release"
/assign @hoegaarden

Scheduled to happen Tue Feb 19

Any bumps or issues encountered along the way, post here. /close when the release has been cut.

See also
- [Role Handbook, Beta Build](https://github.com/kubernetes/sig-release/blob/74847d529f98b7ad241b7d5aa8db478127a1c4e1/release-team/role-handbooks/branch-manager/README.md#beta-build)
- [Role Handbook, Branch Creation](https://github.com/kube

[2019-02-19 16:42] hoegaarden opened #508 "`gcbmgr`'s disk is too small when cutting the first beta of a release"
The default disk, as configured in [./gcbmgr][gcbmgr-default] seems to be not enough anymore, when the first beta of a release is to be cut and therefore two releases are to be staged (`v1.$n.0-beta.0` and `v1.$((n+1)).0-alpha.0`).

We ran into this error when staging [`v1.14.0-beta.0`][issue] and ran into [this error](https://console.cloud.google.com/cloud-build/builds/81d35470-8c93-47a1-8d11-5c6

[2019-02-19 16:53] spiffxp commented on #490
/close
Closing as done

[2019-02-19 16:53] #490 closed

[2019-02-19 16:57] spiffxp commented on #508
/kind bug

[2019-02-19 16:58] nzoueidi commented on #479
@marpaia are you still working on this? If not, can I work on it. Thanks.

[2019-02-19 17:14] hoegaarden opened #509 "branch management handbook: document test job setup after `beta.0` has been cut"
After the first `beta.0` has been released, the test-infra team needs to setup the job for the newly created branch (by `anago`).
Therefore the test-infra team needs to be notified as soon as the branch has been pushed.
This should be documented in the role handbook for the branch management team.

/area release-eng
/sig release
xref: https://github.com/kubernetes/sig-release/issues/506

[2019-02-19 17:41] BenTheElder commented on #479
Is the list of things stable now? OTOH my head @nzoueidi this probably includes:
- kubernetes org membership (which includes kubernetes-dev mailinglist)
- release specific team mailing list (?)
- milestone-burndown mailing list (?)
- leads at least the milestone maintainers github team IIRC
- release lead should be in github.com/kubernetes/release OWNERS
- #sig-release on kubernetes slack?
- relea

[2019-02-20 20:08] nzoueidi commented on #479
Thanks @BenTheElder for providing this list. However, I am still waiting for the inputs of @marpaia.

[2019-02-20 20:25] justaugustus commented on #479
To be honest, with no offense intended to you @nzoueidi, but I would prefer that this documentation be handled by a current or former Release Team member (ideally the current RT Lead or RT Lead Shadows). They're the ones who will have the best context on this.

[2019-02-20 20:27] BenTheElder commented on #440
Have we decided on this yet? asking re: https://github.com/kubernetes/sig-release/issues/479

[2019-02-20 20:42] nzoueidi commented on #479
Sure @justaugustus no problem at all. I thought that this issue was opened ideally for newcomers.

[2019-02-21 03:36] marpaia commented on #479
It's not a list, but I'd love to document the distribution of the meeting owner key for the Zoom account as well.

[2019-02-21 04:18] marpaia commented on #479
Initial PR is up at #512! Definitely let me know if there's anything we've missed or should expand on.

[2019-02-21 13:24] hoegaarden commented on #506
/close

[2019-02-21 13:24] #506 closed

[2019-02-22 05:04] #192 closed

[2019-02-22 18:58] tpepper opened #516 "coordinated contact point for patch release team"
Related to #331 we need a single point of contact for the patch release branch managers or "patch release team".

I propose creating a "kubernetes-patch-release-team" Google Group for this purpose.  This group's initial membership would be @aleksandra-malinowska @feiskyer @foxish and @tpepper.

Similarly a GitHub team would enable @ mentioning the team.

Part of #331 needs to be defining the forwa

[2019-02-22 19:01] tpepper commented on #516
@kubernetes/sig-release what precedent/preferences do we have for formalizing a closed sub-project team?  There's been the release-team and milestone-burndown and some shuffling around on those.  This would need to be a closed mailing list (ie: public can send to it, only members receive) due to the security nature.

[2019-02-22 19:08] BenTheElder commented on #516
Presumably the [PST](https://kubernetes.io/docs/reference/issues-security/security/#report-a-vulnerability) has precedent for this?

[2019-02-24 01:52] #479 closed

[2019-02-24 16:30] neolit123 opened #518 "[REQUEST] remove kubeadm-gce* tests from release blocking"
**summary:**

the family of tests kubadm-gce*:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all

are a based on a deprecated and unmaintained project called kubernetes-anywhere:
https://github.com/kubernetes/kubernetes-anywhere/

to be able to test such deployments we are using a deployer in test-infra called `kubernetes-anywhere`
https://github.com/kubernetes/test-infra/blob/master/kube

[2019-02-24 16:34] neolit123 commented on #518
/kind cleanup

[2019-02-24 20:23] timothysc commented on #518
Yes please, KILL IT WITH FIRE!!!

[2019-02-25 04:42] krzyzacy commented on #518
/pony agree

[2019-02-25 11:42] hoegaarden opened #520 "Cut v1.14.0-beta.1 release"
/assign @hoegaarden

Scheduled to happen Tue, 2019-02-26

Any bumps or issues encountered along the way, post here. /close when the release has been cut.

- [x] screen shot master's (unhealthy) testgrid boards and add them as a comment
- [x] stage & release
  - [x] collect metrics, links, ... and add them as a comment
- [x] send notification mail

/milestone v1.14
/area release-team

[2019-02-25 12:26] hoegaarden commented on #520
/sig release
@spiffxp

[2019-02-25 16:04] spiffxp commented on #518
/milestone v1.14

[2019-02-25 17:11] #509 closed

[2019-02-25 19:26] spiffxp commented on #518
Discussed briefly in today's release-team meeting and sigs.k8s.io/kind meeting.  Summarizing discussion with @BenTheElder @dims @neolit123

I'm not interested in just immediately flipping things around and using that as precedent.  But I agree with the rationale.  I lean in favor of this given that it's the sole job that provides kubeadm coverage, and this ask is generally agreed up by the maintai

[2019-02-25 19:27] spiffxp commented on #518
/assign @amwat @mariantalla
test-infra and ci-signal changes for 1.14

[2019-02-25 19:31] spiffxp commented on #518
@neolit123 one outstanding question I have is:
- https://testgrid.k8s.io/sig-release-master-blocking#packages-pushed-master
- is this what you mean by periodic-packages-install-deb? are there release-branch variants that need to exist?

[2019-02-25 20:25] neolit123 commented on #518
@spiffxp

* move release-master-blocking/kubeadm-gce-stable-on-master to release-master-informing
* for release-1.y-blocking variants, move to release-1.y-all (if they aren't already there)
* add kind jobs to release-master-informing
* wait for a week to collect data
* if we find signal looks good, move kind jobs to release-master-blocking

thank you. i will start sending the PRs for this change.

[2019-02-26 10:13] hoegaarden commented on #508
/close in favour of kubernetes/release#668

[2019-02-26 10:17] #508 closed

[2019-02-26 16:09] k8s-release-robot opened #525 "Release v1.12.6 Tracking"
Kubernetes v1.12.6 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1126>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.6>github</A>.
cc @kubernetes/sig-release-members

[2019-02-26 18:01] hoegaarden commented on #520
master-blocking

![image](https://user-images.githubusercontent.com/1401333/53434117-cbc18300-39ed-11e9-9102-9255c5369c8f.png)
![image](https://user-images.githubusercontent.com/1401333/53434411-78036980-39ee-11e9-826b-0315829a8b63.png)
![image](https://user-images.githubusercontent.com/1401333/53434542-c57fd680-39ee-11e9-81f1-028b4cf05b4f.png)

master-upgrade

![image](https://user-images.githubu

[2019-02-26 18:54] tpepper commented on #520
Nice!

[2019-02-26 19:10] justaugustus commented on #516
/assign

[2019-02-26 19:32] hoegaarden commented on #520
**v1.14.0-beta.1**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.14 --build-at-head --nomock | https://console.cloud.google.com/gcr/builds/b05efc71-5f75-4fc9-8dab-c61968254e59?project=648026197307 | Tue Feb 26 18:16:18 | Feb 26 19:03:43 | 47m |  
rel

[2019-02-26 19:32] #520 closed

[2019-02-27 20:35] jeefy commented on #471
This got resolved by https://github.com/kubernetes/release/pull/661 :)

[2019-02-27 20:35] #471 closed

[2019-02-27 20:46] jeefy opened #529 "Separate Release Notes website"
There should be a better way to consume a change-log / release notes than a markdown file. I made a POC that shows one possible option, allowing users to filter based on SIGs, areas, and versions. It consumes the JSON output from the current golang `release-notes` tool in k/release (Thanks @marpaia) and does not require a database backing it.

![screen shot 2019-02-27 at 3 36 41 pm](https://user-i

[2019-02-27 22:14] spiffxp commented on #529
I would be in favor of a kubernetes-sigs/relnotes repo for this (or something with a more fun inscrutable name that makes it impossible to understand what it does because come on this is kubernetes)

[2019-02-27 22:22] BenTheElder commented on #529
kubernetes-sigs/papyros :scroll: :heavy_check_mark:

(more seriously huge +1 on this project and also a kubernetes-sigs repo!)

[2019-02-28 14:38] hoegaarden opened #530 "Cut v1.14.0-beta.2 release"
/assign @hoegaarden @SlickNik

Scheduled to happen Tue, 2018-03-12

Any bumps or issues encountered along the way, post here. /close when the release has been cut.

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)
  - [ ] collect metrics, links, ... and add them as a

[2019-02-28 14:40] hoegaarden opened #531 "Cut v1.14.0-rc.1 release"
/assign @hoegaarden @detiber

Scheduled to happen Tue, 2019-03-19

Any bumps or issues encountered along the way, post here. /close when the release has been cut.

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [ ] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)
  - [ ] collect metrics, links, ... and add them as a c

[2019-02-28 19:09] tpepper commented on #516
I feel like this group is sort of a sub-team of SIG Release and PST.   I believe we'll want member nominees to get approval from both of those bodies.

[2019-02-28 22:38] tpepper commented on #516
pull #534 includes an example of how I hope this list is useful for discoverability and ease of contact...a mailto: link :)

[2019-02-28 23:08] tpepper commented on #400
/cc

[2019-03-01 00:39] spiffxp commented on #400
/assign @dstrebel @jeefy @onyiny-ang
to make sure this is on release-notes radar

[2019-03-04 20:03] philips commented on #284
This is underway in wg-security-audit https://github.com/kubernetes/community/tree/master/wg-security-audit

[2019-03-04 20:03] #284 closed

[2019-03-05 22:26] spiffxp commented on #465
Oh snap, had I known this existed I would have commented here rather than starting in slack

[2019-03-05 22:27] spiffxp commented on #465
/sig release
/area release-team
would have helped me find this better

/milestone v1.14
(in case we address this cycle)

[2019-03-05 22:28] spiffxp commented on #465
@spiffxp in slack

 occurring super often, mostly to save critical-urgent for the constant failures or high-flake-rate flakes

@alejandrox1

@mariantalla

[2019-03-05 22:37] spiffxp commented on #465
For reference, from https://go.k8s.io/github-labels

| Name | Description | Added By | Prow Plugin |
| ---- | ----------- | -------- | --- |
| <a id="priority/awaiting-more-evidence" href="#priority/awaiting-more-evidence">`priority/awaiting-more-evidence`</a> | Lowest priority. Possibly useful, but not yet enough support to actually get it done.| anyone |  [label](https://git.k8s.io/test-infra/pr

[2019-03-05 22:56] spiffxp commented on #465
Given the above, I propose:
- `priority/critical-urgent` - this is actively impacting release-blocking signal, preventing us from cutting a release or landing code in the release, eg:
  - frequent flakes or continuous failures on release-blocking jobs (release-foo-blocking testgrid dashboards)
  - frequent flakes or continuous failures on merge-blocking jobs (kuberentes-blocking-presubmit testgrid

[2019-03-05 22:59] spiffxp commented on #465
I think what I mean by this is the practice of treating continuous failures on release-blocking boards as things to be deferred early in the release cycle, because who really cares about keeping the boards green the entire time, they cut releases anyway so it's not like it matters and anyway it's so much more fun to chase down a bunch of red at the end of the cycle when it really counts.

[2019-03-05 23:00] spiffxp commented on #465
/priority important-soon
because I think we can come out of this release cycle with something

[2019-03-07 01:23] tpepper commented on #331
/remove-lifecycle stale.

[2019-03-07 01:24] tpepper commented on #331
/remove-lifecycle stale

[2019-03-08 01:37] neolit123 opened #539 "considerations about enhancement tracking"
## introduction

each release, before feature freeze, the release team enhancement sub-team has the task to verify the status of pending features to be merged in k/kubernetes.

the team uses a google docs [spread sheet](https://docs.google.com/spreadsheets/d/116X6E-lmDJG5UZPlqDAFw8hN9vS6SNY4qRNZ9fKtsMU/edit#gid=0) that includes a lot of details like pending PRs, SIG owners, feature state and even

[2019-03-08 01:39] neolit123 commented on #539
/assign @tpepper @justaugustus
cc @timothysc @spiffxp
cc @kubernetes/sig-release
cc @kubernetes/sig-cluster-lifecycle

/kind design
/priority important-longterm

[2019-03-08 02:27] nikopen commented on #539
+1000, all are really good proposals that will ease the burden of the release team as a whole, especially the roles of bug triage and enhancements.

All of bug triage pre-freeze work can be clarified and automated with the above suggestions, and ease the ticket filtering during freeze and burndown with more organization by the feature owners and related SIGs - whether it is project boards, trackin

[2019-03-08 09:35] rosti commented on #539
The format looks suspiciously like YAML, which brings into mind a whole plethora of release team aid scripts and automation to query and verify the release readiness.

[2019-03-08 09:48] justaugustus commented on #539
@neolit123 / @nikopen / @rosti -- you're all stumbling onto what we (SIG PM) had in mind for moving Enhancements Tracking forward. I'll write something detailed up when I'm back at a computer.
/remove-priority important-longterm
/priority critical-urgent
/sig pm release
/milestone v1.15

[2019-03-08 11:52] justaugustus commented on #529
Echoing my sentiments from the SIG Release call: THIS IS REALLY AWESOME!
I think that we should try to keep the tooling in one place, so I'd suggest moving this into a directory in k/release as part of the Release Engineering subproject. Additionally, perhaps we need some workflow to periodically dump the JSON output from the relnotes tool somewhere.

Happy to have you move forward on this from a

[2019-03-08 11:56] justaugustus commented on #529
Tagging @castrojo as he may have thoughts on the Contributor Site additions (ref: https://github.com/kubernetes/community/issues/1819).

[2019-03-08 12:09] justaugustus commented on #420
@liggitt -- Could you move this issue over to https://github.com/kubernetes/security?

[2019-03-08 12:09] justaugustus commented on #419
@liggitt -- Could you move this issue over to https://github.com/kubernetes/security?

[2019-03-08 12:09] justaugustus commented on #418
@liggitt -- Could you move this issue over to https://github.com/kubernetes/security?

[2019-03-08 12:10] justaugustus commented on #417
@liggitt / @philips -- Could you move this issue over to https://github.com/kubernetes/security?

[2019-03-08 14:13] neolit123 commented on #539
@justaugustus

interesting, could you please share VOD links (optionally timestamp) of when this was discussed?

[2019-03-08 15:06] timothysc commented on #539
I'm torn, and I need to ruminate on this, b/c the purposes of keps was to get aggregate feature signal for a release, and it's clear we need to refine the process and automate the heck out of it.

Right now we have a hybrid approach that lives in an "in-between" world.  Ideally I would like KEPs to be the source of truth and contain enough meta-data so release owners can just parse.

How SIGS do t

[2019-03-08 19:37] jeefy commented on #529
Some thoughts re: Periodic JSON dumps (automate all the things)

Currently, aside from a changelog, we put the following in our Release Notes:
Security Content, Urgent Upgrade Notes, Known Issues, Deprecations, ~Major Themes~, New Features, External Dependencies

Besides `Urgent Upgrade Notes`, everything references a PR or an Issue.
The `Known Issues` references GitHub issues that also have a v1.

[2019-03-11 17:48] alejandrox1 commented on #465
I see this info being important to mention in the CI signal handbook.
What are some other places where we should document the decisions that come out of this discussion?

[2019-03-11 21:58] philips commented on #417
Moved to https://github.com/kubernetes/security/issues/9

[2019-03-11 21:58] philips commented on #417
/close

[2019-03-11 21:58] #417 closed

[2019-03-12 17:58] hoegaarden commented on #530
### Failing testgrid dashboards

<details><summary><tt>2019-03-12 17:57:17+0000</tt> sig-release-master-blocking#gce-cos-master-ingress <a href="https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-ingress&width=30">[testgrid]</a></summary><p>

![sig-release-master-blocking#gce-cos-master-ingress](https://vgy.me/kJJJas.jpg)

</p></details>

<details><summary><tt>2019-03-12 17:57:19+0

[2019-03-12 19:23] hoegaarden commented on #530
**v1.14.0-beta.2**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.14 --build-at-head --nomock | https://console.cloud.google.com/gcr/builds/b2413fef-3875-43da-aee2-851c8fc23442?project=648026197307 | Mar 12 17:56:53 | Mar 12 18:51:06 | 54m |  
release

[2019-03-12 19:23] #530 closed

[2019-03-13 11:52] mariantalla commented on #465
Yeah that's fair. I think the intention with escalating priorities was to convey the shortening amount of time. However teams know that already, don't rely on a label for that.

What are some other places where we should document the decisions that come out of this discussion?
The main risk I see is that a certain issue might be of, say, very high priority for sig-release/the release team, and of

[2019-03-13 22:17] spiffxp opened #543 "Create a scalability validation report for kubernetes v1.14"
/assign @shyamjvs @wojtek-t
as SIG scalability chairs

This was a thing SIG Scalability used to do. (ref: https://github.com/kubernetes/community/blob/master/sig-scalability/processes/scalability-validation.md#scalability-validation-of-the-release)

They created reports for [1.8](https://github.com/kubernetes/sig-release/blob/bb29a69716201a4e461e719ea7c78ad277cc0fb4/releases/release-1.8/scalabilit

[2019-03-14 17:39] spiffxp opened #545 "Assemble Kubernetes 1.15 Release Team"
This is the official issue for assembling the Kubernetes 1.15 Release Team.

Please review the [Release Team Selection Process](https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-selection.md) docs for details on the process and criteria.

tl;dr the current role chooses their successor, this should happen trasnparently

There may be refinements to the process along the

[2019-03-14 17:43] spiffxp commented on #545
/assign @spiffxp
I'll be pinging the v1.14 roles for their selections

/assign @claurence @tpepper
I've asked @claurence to take the role of Release Lead, and @tpepper to take the role of Release Lead Shadow.  This is not intended to setup Tim to take on v1.16, so I would recommend one additional Release Lead Shadow TBD by whatever process @claurence sees fit.

[2019-03-14 17:47] spiffxp commented on #545
At this point in the process, we're not looking to identify shadows, solely leads.

[2019-03-14 17:52] spiffxp commented on #545
/assign @justaugustus
You've opened the last three of these, if you have opinions or suggestions on how this should proceed.  I may be occupied with getting things out the door as we near the end of the cycle so it would be helpful to have someone not so close to the wire ensure this results in a timely release team

[2019-03-14 17:56] claurence commented on #545
I'd like to nominate @kacole2 to be enhancements lead for 1.15

[2019-03-14 18:17] justaugustus commented on #545
@spiffxp -- I'm on it! Release Team HR is my fave :heart_eyes:

[2019-03-14 18:34] alejandrox1 opened #546 "Document use of milestones for issues related to CI failures/flakes"
The [CI signal handbook](https://github.com/kubernetes/sig-release/blob/9b7d93ea8f5ebec4d9831e95b4e96c35e4dc6a74/release-team/role-handbooks/ci-signal/README.md#overview-of-tasks-across-release-timeline) mentions that pre-feature freeze, the teams needs to:

but it doesn't specifically add any guidelines about how to assign a milestone to an issue.

As mentioned in https://github.com/kubernetes/ku

[2019-03-14 18:46] nikopen commented on #432
@spiffxp After a lot of brainstorming with my 1.14 triage team I've come up with a series of proposals which will negate the need for a spreadsheet/airtable mechanism - mostly kanban/project board automation which is super easy to create + simple github queries with revamped labels. I'll present them sometime soon

[2019-03-14 18:48] nikopen commented on #546
I propose the use of a special label dedicated for CI issues that are impacting the current release - something like CI/active or similar.

[2019-03-14 19:13] nikopen commented on #465
some draft ideas:

I propose dropping the focus on using priority labels per se. They are fuzzy by definition and means different things for everyone, have been items of long discussions and caused a lot of confusion. Also they can be conflating with issues of other kinds, and CI stuff is a category on their own.

Dedicated CI labels would be more clear to use:
`CI/critical`
`CI/important`
`CI/lon

[2019-03-14 19:37] nikopen commented on #545
Happy to nominate Nick Lane @soggiest to lead bug triage for v1.15!

[2019-03-14 19:40] nikopen commented on #546
cc https://github.com/kubernetes/sig-release/issues/465#issuecomment-473018925

[2019-03-14 20:08] amwat commented on #545
As discussed in the release team meeting, we'd like to experiment with having a non-googler test infra lead with a confirmed googler co-lead/shadow (who has access to the infrastructure).
To that effect I'd like to nominate @imkin to be the test-infra lead and @Katharine for the co-lead/shadow :)

[2019-03-15 03:00] lachie83 commented on #545
I would like to express interest in the following roles:
- Release team lead shadow
- Enhancements shadow

[2019-03-15 03:03] kacole2 commented on #545
thanks @claurence. Happy to accept and help you make another successful Kubernetes release!

[2019-03-15 03:47] justaugustus commented on #545
I'd like to +1 @lachie83 as an additional Release Team Lead shadow!

[2019-03-15 12:29] mariantalla commented on #465
It could be interesting to address it that way 🤔 There are a couple of points I'd be worried about though:
* It might create some space for further confusion. Between `priority/critical-urgent` and `CI/critical` -- which one is more critical?
* In my head, CI "should"[1] not be a separate category from development/enhancement work; the stability and coverage of the code is part of the product we s

[2019-03-15 13:43] nikopen commented on #465
- The idea is to not use 'priority' at all for CI issues but specifically CI labels. The distinction becomes clear and CI/critical issues are evidently blocking release.

- I get that, however categorization is very helpful to sift through all the hundreds of issues, labels directly helping in that for github queries. Categorizing CI issues would not make them inferior in any way from other issues

[2019-03-15 14:00] nikopen commented on #545
Having been part of the release team since v1.12 and triage lead in the last two releases, I'm interested in being a Release Lead Shadow.

[2019-03-15 15:36] hoegaarden commented on #545
I'd like to nominate Cheryl Fong @Bubblemelon to be release branch management lead for `v1.15`.

[2019-03-15 15:55] tpepper commented on #546
As a project we've been back and forth on if/when milestone should be used.  It is not very consistent today across repos and SIGs.

Narrowing the discussion to the release team: We do have kind/failing-test already which is expected for CI failures.  That plus priority/critical-urgent and milestone of the appropriate v1.XX seem sufficient to mark the highest importance failures.  The other priori

[2019-03-15 17:16] nikopen commented on #546
Thanks for pointing out the mailing thread, had missed that. I will post there.

My summary is:
- What you call 'airtable' exists already, it's called the combination of Github labels + queries + project boards. Introducing an external solution is unmaintainable for the longer run.

- There needs to be no 'label explosion', merely re-designing the current workflow - which may well result in fewer

[2019-03-15 17:23] jimangel commented on #545
I'd like to nominate Barnie (@MAKOSCAFEE) to be docs lead for 1.15!

[2019-03-15 17:23] mariantalla commented on #545
I'd like to nominate @alejandrox1 to be the v1.15 CI signal lead.

[2019-03-15 23:45] jeefy commented on #529
@justaugustus Thinking on it, I'm all for keeping tooling in one place, but this is something that would be iterated on and (auto-)published onto a website. Would it make sense having that kind of build pipeline within k/release?

We also still need to work out hosting for it. Any input on where to go to figure that one out would be welcome. I'm gonna try to get some work done on this over the wee

[2019-03-16 04:23] marpaia commented on #529
With regards to hosting, I've had good experiences using Netlify's free tier for various open source project websites.

[2019-03-16 22:01] justaugustus commented on #545
The initial PR for the 1.15 Release Team is here: #548

@claurence -- please approve your shadows and that PR when you have a chance.

@dstrebel / @nwoods3 -- please nominate your successors for Release Notes and Communications Lead, respectively.

[2019-03-16 22:47] jeefy commented on #529
+100 to Netlify

Speaking of: https://mystifying-jennings-b61bed.netlify.com/

That's building out of [my repo](https://github.com/jeefy/relnotes) for now.

[2019-03-18 10:59] mariantalla commented on #465
I've opened https://github.com/kubernetes/sig-release/pull/549 to document how CI signal is using priority labels for now. I'll leave this issue open for the conversation to continue, and we can always update the playbook if/when things change.

[2019-03-18 11:02] mariantalla commented on #465
Something I noticed as I was putting https://github.com/kubernetes/sig-release/pull/549 together: CI signal is (at the moment) not actively monitoring presubmit job failures and flakes; not for 1.14 and I don't think we did for 1.13 either (@jberkus please keep me honest). I'm mentioning it as I saw quite a few references of presubmits in @spiffxp 's input. Should that be different?

[2019-03-18 15:41] #418 closed

[2019-03-18 15:41] #419 closed

[2019-03-18 15:41] #420 closed

[2019-03-18 17:03] nwoods3 commented on #545
I would like to nominate @castrojo for Communications Lead 1.15 and @onlydole @kbarnard10 and I would like to be considered for shadows.

[2019-03-18 17:49] spiffxp commented on #529
Personally dumping everything into k/release is not the direction I would want things to go.  Keeping this tool in its own repo discourages strong coupling to other parts of the release "toolchain".  It's not clear to me why we would want to encourage the opposite (if there are explicit goals to do so, I would like to see a plan).  I would if anything favor extracting the `cmd/relnotes` tool out o

[2019-03-18 17:56] tpepper commented on #529
This is nice in how it lets a viewer dynamically pick and choose their areas of interest.

I still think we have a gap in non-automatable task of curating the quarterly release's human readable summaries.  We trend towards things that are variations on 'git log' and that's not meant for normal humans, imho.  But this is orthogonal and is partly covered in highlights by the work the comm's team doe

[2019-03-18 18:33] nikopen opened #551 "Nuke 'triage' labels / replace them with 'lifecycle' or other"
Triage labels are a bit old and unused. Following discussions on https://groups.google.com/forum/#!topic/kubernetes-sig-contribex/BvGmOQ0v5f0 , the proposal is to instantiate a new workflow roughly defined at the discussion above and here https://github.com/kubernetes/test-infra/pull/11818#issue-262166709 - introduce a new label that allows SIGs to sort new issues and filter valid ones / label the

[2019-03-18 18:34] nikopen commented on #551
/assign @spiffxp @justaugustus @thockin @fejta @cjwagner @nikopen

[2019-03-18 19:00] nikopen commented on #551
re-opening in k/community

/close

[2019-03-18 19:00] #551 closed

[2019-03-18 19:15] jeefy commented on #529
I volunteer as tribute re: updating documentation, and I'm aiming to shadow release notes for a second cycle so I can see this through to completion.

[2019-03-19 03:02] spiffxp commented on #456
I think once https://github.com/kubernetes/community/pull/3463 merges we can call this done

[2019-03-19 03:13] spiffxp commented on #372
/close
I think our team has been pretty well assembled by this point

[2019-03-19 03:13] #372 closed

[2019-03-19 03:35] spiffxp commented on #428
/unassign @spiffxp @BenTheElder @mariantalla

@tpepper @aleksandra-malinowska at this point it's just down to [`patch_release.md`](https://github.com/kubernetes/sig-release/blob/master/ephemera/patch_release.md), which based on my read is inaccurate and out of date compared to [release-team/role-handbooks/patch-release-manager](https://github.com/kubernetes/sig-release/tree/master/release-team/rol

[2019-03-19 04:03] idealhack commented on #372
It seems we don't have a patch release team yet.

[2019-03-19 04:22] spiffxp commented on #369
Opened https://github.com/kubernetes/sig-release/pull/553 for v1.14

[2019-03-19 04:23] spiffxp commented on #428
https://github.com/kubernetes/sig-release/pull/553 should address the last of this

[2019-03-19 05:05] onyiny-ang commented on #529
As others have stated, this is a really promising tool that I think will be very much appreciated by the kube community. Great work and big shout out to @jeefy :tada: I also hope to be involved with the 1.15 rel-notes team (tentative lead) and hope we can find a way to address some of @tpepper's (and others')  concerns about the gap in non-automatable note curation. I think with @jeefy's tool in p

[2019-03-19 15:36] dstrebel commented on #545
Would like to nominate @onyiny-ang for Release Notes lead for 1.15.

[2019-03-19 18:13] hoegaarden commented on #531
### Failing testgrid dashboards

<details><summary><tt>2019-03-19 18:12:05+0000</tt> sig-release-master-upgrade#gce-new-master-upgrade-cluster <a href="https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster&width=30">[testgrid]</a></summary><p>

![sig-release-master-upgrade#gce-new-master-upgrade-cluster](https://vgy.me/PBmi0e.jpg)

</p></details>

[2019-03-19 19:37] hoegaarden commented on #531
**v1.14.0-rc.1**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.14 --rc --build-at-head --nomock | https://console.cloud.google.com/gcr/builds/1d5ef092-6bed-4ed1-9813-ebeaa423e4e3?project=648026197307 | Mar 19 18:18:06 | Mar 19 19:07:27 | 49m |  
rele

[2019-03-19 19:37] #531 closed

[2019-03-20 00:28] claurence commented on #545
I'd like to accept @lachie83 @nikopen and @tpepper as Release Lead shadows for 1.15

[2019-03-20 00:28] claurence commented on #545
and adding in @jberkus who has expressed interest in being a Lead for Shadows for 1.15.  This is a new role whose initial responsibilities would be to support shadows, ensure their success and help with shadow selection.

[2019-03-21 11:57] hoegaarden opened #559 "Cut 1.14.0 release"
/assign @hoegaarden

Scheduled to happen Mon, 2019-03-25

Any bumps or issues encountered along the way, post here. /close when the release has been cut.

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)
  - [x] collect metrics, links, ... and add them as a comment
-

[2019-03-22 15:42] jimangel commented on #545
After doing docs for the past 3 releases, I'm interested in pushing my comfort zone and being a CI Signal Shadow for 1.15.

[2019-03-25 15:41] hoegaarden commented on #559
### Failing testgrid dashboards
Boards checked for failing tests:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking)

<details><summary><tt>2019-03-25 15:39:22+0000</tt> sig-release-1.14-blocking#gce-cos-1.14-serial <a href="https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-serial&width=30">[testgrid]</a></summary><p>

![sig-release-1.14-blocking#gce-cos-

[2019-03-25 22:13] hoegaarden commented on #559
**v1.14.0** (+ v1.14.1-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | ./gcbmgr stage release-1.14 --official --build-at-head | https://console.cloud.google.com/gcr/builds/679ab4a1-c183-4547-a7d5-e446166b2e27?project=648026197307 | Mon Mar 25 10:09:14 | Mon Mar 25 11:41:34 | 92m |  
mock release | ./gcbmgr release --official release-1

[2019-03-25 22:13] #559 closed

[2019-03-26 01:06] spiffxp commented on #543
/remove-priority critical-urgent
/close
Didn't make it in time for this release

[2019-03-26 01:06] #543 closed

[2019-03-26 01:07] spiffxp commented on #428
/close
There is no longer a directory called ephemera

[2019-03-26 01:07] #428 closed

[2019-03-26 01:08] spiffxp commented on #400
/close
I believe this was addressed by https://github.com/kubernetes/sig-release/pull/485

[2019-03-26 01:08] #400 closed

[2019-03-26 05:21] krmayankk commented on #545
i would like to shadow for Enhancements

[2019-03-26 11:38] mariantalla commented on #545
If there's still space, I'd be interested in shadowing test-infra.

[2019-03-26 21:10] craiglpeters commented on #545
I'd like to shadow enhancements

[2019-03-26 21:30] jberkus commented on #454
Hey, I'm taking this over, and I have no access to the original survey.  Will pester people on Slack.

[2019-03-26 21:54] claurence commented on #545
Thanks for all the interest in shadowing!  We will be sending out a survey again similar to what was done in the 1.14 cycle

@spiffxp - given we're doing a survey for shadows do we need to leave this issue open until shadow selection is done or is getting the lead team enough to close this?

[2019-03-26 22:01] justaugustus commented on #545
Let's keep it open until we either close the books on shadows or post a link to the forthcoming survey.

[2019-03-27 16:46] tpepper commented on #516
We now have @kubernetes/patch-release-team in addition to the email kubernetes-patch-release-team@googlegroups.com so marking this as done.

[2019-03-27 16:46] #516 closed

[2019-03-27 20:03] simplytunde commented on #545
I am still interested in continuing my role as a doc shadow for 1.15. excited!!!

[2019-03-27 23:12] spiffxp commented on #454
/milestone v1.15

[2019-03-28 00:46] jimangel commented on #454
I solicited feedback throughout the v1.14 release cycle and summarized what I found in a [google doc ](https://docs.google.com/document/d/1tBRTh9YdGQQgy_8nUOnkIhadhssny8XkYxuB58mytaw/edit)today. I then sent that doc out to every v1.14 release lead and encouraged them to share it with their shadows. This was the net takeaway:

The survey should limit the candidate from selecting <2 roles (default f

[2019-03-28 17:24] jberkus commented on #454
Some feedback on new questions based on creating a draft survey:

I'm opposed to this question.  As an applicant, the above really feels like a "trap" question, and is unlikely to produce useful output.

Added.

I don't understand the purpose of this question.

Added.

Will add.

Will add.

[2019-03-28 17:59] jimangel commented on #454
Valid point, and agree! Agree that "Which part about the role(s) interest you least?" doesn't make a ton of sense and is somewhat "busy work"

[2019-03-28 18:09] jimangel commented on #454
It was brought up on slack about removing the "Communication preference" question.

That was my suggestion because I had issues finding all users on slack / github to contact about the release. My thought is, this question helps validate at least 1 effective way to get a hold of the person.

The counter point is that the lead should choose their communication preference regardless of candidates pr

[2019-03-28 22:25] jberkus commented on #545
The application from for Shadows is now available!  Please fill it out if you're interested in shadowing.

https://forms.gle/qgyvFABJ3RNH95TDA

@simplytunde @craiglpeters @mariantalla @krmayankk @lachie83

[2019-04-02 18:36] lachie83 opened #571 "Proposal: shadow halo process"
In an effort to build a pool of capable community members to serve on the release team and to ensure succession, the shadow role was created and implemented many release cycles ago. It occurred to me that there is no clear path for shadows to NOT serve on consistent release cycles and still be eligible for a lead role and hence I would like to discuss an idea that I refer to as "shadow haloing".

[2019-04-02 20:07] tpepper commented on #571
I think this is/was the intent, if not well worded as such in the english language document?

[2019-04-02 20:23] lachie83 commented on #571
okay thanks for the confirmation - I couldn't find wording to validate so thought I would ask the question and also put a timebox how long the acquired skills would remain relevant. Is there currently any expiry date on release team skills if a member has been out of the loop for more than a few cycles.?

[2019-04-02 21:54] qedrakmar commented on #571
As a lapsed shadow, I agree with the "last three releases" timebox.  I might have been able to serve as lead to the role I shadowed over a year ago, but not now, without shadowing again.  I think it's a fair expiration date.

[2019-04-02 23:57] jberkus commented on #571
Yeah, I think this was always the intention as well ... submit a PR update to the Role docs?

[2019-04-03 17:16] lachie83 commented on #571
Sure. I'll submit a PR. Thanks for the feedback.

[2019-04-04 17:07] audrey2424 commented on #167
I will be the features lead role.

[2019-04-08 19:05] Bubblemelon commented on #545
@SlickNik would like to continue as a branch management shadow from 1.14 :tada:

[2019-04-09 15:18] jberkus opened #573 "Branch Manager Handbook needs participation info"
The current [branch manager handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/branch-manager) contains a bunch of technical instructions about how to create a branch and how to fast forward, etc.  However, it doesn't contain any of the information we need to recruit new BMs, such as:

1. What the Branch Manager Does
2. What the position's background requir

[2019-04-09 18:14] Bubblemelon commented on #573
/assign bubblemelon

[2019-04-09 20:05] jberkus opened #574 "Tracking: All RT Role Handbooks should have participation info"
Based on #573 and #369, not all Role Handbooks have the required information in order for someone to volunteer for the role.  This information includes, at a minimum:

1. Summary of what the role does
2. Estimated time commitment for the role
3. A timeline of how that time commitment is spread out over the release period
4. Any background/experience required for the role

It may additionally inclu

[2019-04-09 20:16] jberkus commented on #574
* CI Signal: has all info
* Bug Triage: has tasks and timing, but not any experience/requirements
* Communications: has tasks, timeline and requirements, but no time commitment estimates
* Docs: has none of the things
* Enhancements: has all of the things
* Release Notes: has requirements, tasks and timeline, but no time estimates.
* Lead: has all of the things.

Next step will be filing bugs agai

[2019-04-09 21:38] imkin commented on #574
- test-infra would be working this release to update based on the new automation.
One of the responsibilities for the shadows is to suggest changes to the handbook for improvements apart from what is identified.

[2019-04-11 00:15] jberkus opened #577 "Bug Triage role handbook needs requirements info"
The Bug Triage Role Handbook currently has information about time requirements and timeline, but not what qualifications are required to shadow or lead.  Please add.

ref #574

@soggiest @nikopen

[2019-04-11 00:16] jberkus commented on #577
/kind documentation
/area release-team
/priority important-longterm

[2019-04-11 00:27] jberkus opened #578 "Communications Handbook needs time estimates"
The Communications Role Handbook currently has information about task, deadlines, and requirements, but no time estimates of the commitment to shadow or lead. Please add.

ref #574

/kind documentation
/area release-team
/priority important-longterm

[2019-04-11 00:29] jberkus opened #579 "Docs Handbook needs all the participation info"
The Docs Role Handbook currently has no information about what's needed to to shadow or lead so that people can volunteer.  At a minimum, you need:

* Summary of what the role does
* Estimated time required
* General timeline and deadlines
* Experience/skills requirements

Please add.

ref #574

/kind documentation
/area release-team
/priority important-longterm

[2019-04-11 00:30] jberkus commented on #579
cc @jimangel

/assign @MAKOSCAFEE

[2019-04-11 00:32] jberkus opened #580 "Release Notes Handbook needs time estimates"
The  Role Handbook currently has information about tasks, deadlines, and requirements , but not any time estimates to shadow or lead. Please add.

ref #574

/kind documentation
/area release-team
/priority important-longterm

/assign @onyiny-ang
cc @dstrebel @jeefy

[2019-04-11 00:35] jberkus opened #581 "Test-Infra Handbook Needs requirements, time estimates, and timeline"
The Test-Infra Role Handbook currently has one requirement, and a task list, but not time estimates, a timeline of work, or the rest of the requirements to shadow or lead. Please add.

ref #574

/kind documentation
/area release-team
/priority important-longterm

/assign @imkin
cc @amwat @BenTheElder @cjwagner

[2019-04-11 00:36] jberkus commented on #577
/assign @soggiest

[2019-04-11 00:36] jberkus commented on #578
/assign @castrojo
cc @kbarnard10 @onlydole

[2019-04-11 00:54] onyiny-ang commented on #580
Thanks for bringing this to my attention. I will add them and make a PR.

[2019-04-11 01:20] jimangel commented on #579
/cc @codyclark

[2019-04-11 01:22] jimangel commented on #579
/cc @cody-clark

[2019-04-11 20:26] kacole2 opened #585 "Add 1.15 Enhancement Shadows to kubernetes-milestone-maintainers"
Hello. Can we get @mrbobbytables and @craiglpeters added to the `kubernetes-milestone-maintainers` team? They are both members of the Kubernetes Org already. They are Enhancement shadows for the 1.15 cycle and will need the ability to change milestones and apply labels. Thanks

/sig release
/assign @tpepper

[2019-04-11 20:31] justaugustus commented on #585
/close

[2019-04-11 20:31] #585 closed

[2019-04-12 18:10] jberkus commented on #580
/close

[2019-04-12 18:10] #580 closed

[2019-04-13 11:27] nikopen commented on #456
Merged / done

/close

[2019-04-13 11:27] #456 closed

[2019-04-15 18:35] imkin commented on #581
cc: @taragu @Katharine @mariantalla

[2019-04-15 18:36] imkin commented on #574
/cc @mariantalla @taragu @Katharine

[2019-04-16 06:35] Bubblemelon opened #592 "Cut 1.15.0-alpha.1 release"
/assign @bubblemelon

Scheduled to happen Tue, 2019-04-16

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] [notify :mailbox: ](https://kubernetes.slack.com/archives/C2C40FMNF/p1555467660039100) [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)
  - [X] collect metrics, links, ... and add them as a comment
- [X] send notific

[2019-04-16 19:16] Bubblemelon commented on #592
/milestone v1.15

[2019-04-17 03:12] Bubblemelon commented on #592
one more try :sweat_smile:
/milestone v1.15

[2019-04-17 03:41] Bubblemelon commented on #592
mock stage | ./gcbmgr stage master | https://console.cloud.google.com/cloud-build/builds/52da3341-5c30-4f8e-af48-4b39570af337?project=kubernetes-release-test | 19:10:34 | 20:17:48 | 52mins 44sec
-- | -- | -- | -- | -- | --
mock release | ./gcbmgr release master --buildversion=v1.15.0-alpha.0.2355+8045a99a701fcb | https://console.cloud.google.com/gcr/builds/0a69ef96-fc96-4760-ac22-95ef67fcf51b?proj

[2019-04-17 18:47] Bubblemelon commented on #592
[sig-release-master-upgrade#gce-master-new-downgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster&width=90)

<details><img src=https://user-images.githubusercontent.com/12985181/56260080-8a169580-608a-11e9-9325-87b9ed811f74.png></details>

[sig-release-master-upgrade#gce-master-new-downgrade-cluster-parallel](https://testgrid.k8s.io/sig-release-maste

[2019-04-17 18:49] Bubblemelon commented on #592
CC: @claurence, @vivektaparia, @chrisz100, @SlickNik, @idealhack

[2019-04-17 19:02] Bubblemelon commented on #592
/close

[2019-04-17 19:02] #592 closed

[2019-04-17 21:19] denisra commented on #545
I know I might be a bit late for this release, but I'd like to shadow for the Patch Release Management Team or the Bug Triage if possible.

[2019-04-22 18:54] justaugustus commented on #378
/lifecycle frozen
/remove-lifecycle stale
/milestone v1.15

[2019-04-23 21:32] tpepper opened #601 "Release dependency management improvements umbrella"
There is an ongoing need for better managing external dependencies.

The release team regularly scrambles to collect the current preferred dependency versions.  These are inconsistently articulated in multiple files across multiple repos in non-machine-readable ways.  And some are even untracked outside of anecdotal lore.

Various prior issues have been opened, for example https://github.com/kuber

[2019-04-23 21:48] jeefy commented on #601
+1000

I'm now more sad I couldn't make the meeting today

On Tue, Apr 23, 2019, 17:32 Tim Pepper <notifications@github.com> wrote:

[2019-04-24 02:42] justaugustus commented on #245
...well this seems like something we still need to do given last cycle's kerfuffle.
/reopen
/remove-lifecycle stale
/milestone v1.15
/priority important-soon

[2019-04-29 00:36] justaugustus commented on #441
/remove-lifecycle stale

[2019-04-29 00:36] justaugustus commented on #390
/remove-lifecycle rotten
/reopen

[2019-04-29 00:37] justaugustus commented on #457
/remove-lifecycle stale

[2019-04-29 00:39] justaugustus commented on #319
/remove-lifecycle stale

[2019-04-29 00:40] justaugustus commented on #347
/remove-lifecycle stale

[2019-04-29 07:01] Bubblemelon opened #603 "Cut 1.15.0-alpha.2 release"
/assign @Bubblemelon

Scheduled to happen Mon, 2019-04-29

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)  |  [message](https://kubernetes.slack.com/archives/C2C40FMNF/p1556570639028700)
  - [x] collect metrics, links, ... and add them as a comment
- [x] send [notif

[2019-04-29 11:08] hoegaarden commented on #425
/remove-lifecycle stale

@Bubblemelon the branch manager of 1.15, for visibility

[2019-04-29 18:05] Bubblemelon commented on #603
### Failing testgrid dashboards
Boards checked for failing tests:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-upgrade](https://testgrid.k8s.io/sig-release-master-upgrade)

<details><summary><tt>2019-04-29 18:03:28+0000</tt> sig-release-master-blocking#bazel-test-master <a href="https://testgrid.k8s.io/sig-release-master-blocking#bazel-

[2019-04-29 20:40] Bubblemelon commented on #603
v1.15.0-alpha.2 | April 29 Mon |   |   |   |  
-- | -- | -- | -- | -- | --
step | command | link | start | end | duration
mock stage | ./gcbmgr stage master --build-at-head | https://console.cloud.google.com/cloud-build/builds/870f38bb-b3c2-4241-8c40-e068281d11d2?project=kubernetes-release-test | 16:26:16 | 17:14:51 | 48m
mock release | ./gcbmgr release  master --buildversion=v1.15.0-alpha.1.470+8

[2019-04-29 22:24] parispittman opened #605 "release lead rolebook addition - swag"
hi release team -

there is a process addition for the role book of the lead:

Leads can request custom release team swag funding, like a tshirt (maybe add links to previous pictures of swag?), to the CNCF ServiceDesk. This tool only has a few people with access so lead will need to work with someone on this list https://github.com/kubernetes/community/tree/master/communication/cncf-servicedesk.

[2019-04-29 23:39] Bubblemelon commented on #603
/close

cc: @vivektaparia @chrisz100 @idealhack @SlickNik

[2019-04-29 23:39] #603 closed

[2019-05-01 08:31] justaugustus commented on #458
/remove-lifecycle stale
/milestone v1.15
/priority important-soon

[2019-05-01 09:00] justaugustus commented on #440
Announcement to move forward with this on k-dev: https://groups.google.com/d/topic/kubernetes-dev/QIfxAp0xv98/discussion

[2019-05-01 09:10] justaugustus commented on #440
#606 removes the references to the burndown group.

[2019-05-01 10:37] justaugustus commented on #605
I'd like this to flow through the SIG Release Chairs, so that there are consistent points of contact across release cycles. Paris suggested I raise this with Steering, since they control who gets on this list (Caleb is already a member). We'll follow up with Steering.

/assign @calebamiles @justaugustus @tpepper
/milestone v1.15
/priority important-longterm

[2019-05-01 10:41] justaugustus commented on #601
/area release-eng
/priority important-soon

[2019-05-01 10:42] justaugustus commented on #581
What's the status on this?
/milestone v1.15

[2019-05-01 10:44] justaugustus commented on #579
What's the status on this?
/milestone v1.15

[2019-05-01 10:44] justaugustus commented on #578
What's the status on this?
/milestone v1.15

[2019-05-01 10:45] justaugustus commented on #577
What's the status on this?
/milestone v1.15

[2019-05-01 10:46] justaugustus commented on #574
/assign @claurence @lachie83 @tpepper @nikopen
/milestone v1.15

[2019-05-01 10:47] justaugustus commented on #573
What's the status on this?
/milestone v1.15
/area release-team

[2019-05-01 10:47] justaugustus commented on #571
What's the status on this?
/milestone v1.15

[2019-05-01 10:48] justaugustus commented on #571
/assign @lachie83

[2019-05-01 10:48] justaugustus commented on #571
/area release-team
/priority important-longterm

[2019-05-01 10:49] justaugustus commented on #546
/milestone v1.15

[2019-05-01 10:50] justaugustus commented on #545
This is complete! Thanks to everyone who volunteered!
/close

[2019-05-01 10:50] #545 closed

[2019-05-01 10:57] justaugustus commented on #518
Do we have some driving this forward for 1.15?
/milestone v1.15
/area release-team release-eng
/priority critical-urgent

[2019-05-01 10:58] justaugustus commented on #493
/assign @kacole2
/milestone v1.15
/priority important-longterm

[2019-05-01 10:59] justaugustus commented on #493
/remove-help

[2019-05-01 11:00] neolit123 commented on #518
@justaugustus
yes.
the problem jobs are already out of release blocking, but feel free to keep this around as the replacements are not in place yet.

[2019-05-01 11:00] justaugustus commented on #486
/milestone v1.15
/priority critical-urgent

[2019-05-01 11:02] justaugustus commented on #465
/milestone v1.15

[2019-05-01 11:03] justaugustus commented on #458
/assign

[2019-05-01 11:03] justaugustus commented on #458
/remove-help

[2019-05-01 11:04] justaugustus commented on #457
/priority important-longterm
/milestone next

[2019-05-01 11:05] justaugustus commented on #454
Are we all set to close this out?
/assign @jberkus

[2019-05-01 11:07] justaugustus commented on #450
/area release-eng release-team
/help
/priority important-soon
/milestone v1.15

[2019-05-01 11:09] justaugustus commented on #441
/milestone v1.15

[2019-05-01 11:10] justaugustus commented on #441
/priority important-soon

[2019-05-01 11:12] justaugustus commented on #440
/milestone v1.15
/priority important-soon

[2019-05-01 11:13] justaugustus commented on #432
/priority important-longterm
/milestone v1.15

[2019-05-01 11:16] justaugustus commented on #427
Closing this as the patch release schedule now exists: https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md
/close

[2019-05-01 11:16] #427 closed

[2019-05-01 11:19] justaugustus commented on #425
/area release-eng release-team
/priority important-longterm
/milestone next

[2019-05-01 11:23] justaugustus commented on #411
Apologies for not taking care of this.
I think we would need someone in a European timezone/timezone-adjacent to facilitate this.
I'm maxed out on meetings and both Tim and Caleb are on PT.

Is anyone interested in coordinating this?
/help

/priority important-longterm
/milestone v1.15

[2019-05-01 11:25] justaugustus commented on #390
/area release-eng
/help
/priority important-longterm
/milestone v1.15

[2019-05-01 11:25] justaugustus commented on #378
/priority important-soon

[2019-05-01 11:26] hoegaarden commented on #573
On the way, see: https://github.com/kubernetes/sig-release/pull/604

[2019-05-01 11:29] justaugustus commented on #369
/unassign
/priority critical-urgent
/remove-priority important-soon
/milestone v1.15
/area release-eng release-team

[2019-05-01 11:30] justaugustus commented on #353
/priority important-soon
/milestone v1.15

[2019-05-01 11:32] justaugustus commented on #353
@idvoretskyi -- which of the SIG Release lists still exist?

[2019-05-01 11:33] justaugustus commented on #347
/help
/milestone v1.15

[2019-05-01 11:35] justaugustus commented on #331
Closing in favor of #369.
/close

[2019-05-01 11:35] #331 closed

[2019-05-01 11:37] justaugustus commented on #320
/remove-lifecycle stale
/priority important-soon
/milestone v1.15

[2019-05-01 11:38] justaugustus commented on #319
/unassign @AishSundar @justaugustus
/help
/priority important-longterm
/milestone v1.15

[2019-05-01 11:41] justaugustus commented on #223
Planning to update this list and break out the relevant items into separate issues this cycle.

/area licensing
/priority important-longterm
/milestone v1.15

[2019-05-01 11:43] justaugustus commented on #193
/priority important-longterm
/milestone v1.15
/area release-team

[2019-05-01 11:45] justaugustus commented on #24
/area release-team
/milestone v1.15
/priority critical-urgent

[2019-05-01 11:45] justaugustus commented on #24
/unassign @jdumars

[2019-05-01 11:47] justaugustus commented on #10
/priority important-soon
/area release-eng
/milestone v1.15

[2019-05-01 11:53] idvoretskyi commented on #353
@justaugustus it's fine now, we can close.

/close

[2019-05-01 11:57] justaugustus commented on #353
There's still a little investigation I need to do around our Google Group moderation settings, so I'm reopening. :)
/reopen

[2019-05-01 11:58] justaugustus commented on #353
nvm, I just realized this is only for GitHub teams. :stuck_out_tongue_closed_eyes:
/close

[2019-05-01 11:58] #353 closed

[2019-05-01 12:06] justaugustus commented on #10
Closing in favor of https://github.com/kubernetes/release/issues/631
/close

[2019-05-01 12:06] #10 closed

[2019-05-01 12:31] hoegaarden opened #607 "Add release cutting issue & screenshoting to the Release Branch Management handbook"
In the 1.14 cycle we we:
- created an issue for all the release we cut in k/sig-release (example: https://github.com/kubernetes/sig-release/issues/530)
- added screenshots of failing testrgrid boards to that issue (example: https://github.com/kubernetes/sig-release/issues/530#issuecomment-472114034)

Is either of those useful or has this been useful for different people on the release team? If so,

[2019-05-01 15:27] BenTheElder commented on #24
https://github.com/kubernetes/sig-release/pull/346 did this I think?

[2019-05-01 17:04] #440 closed

[2019-05-01 17:32] jimangel commented on #454
@justaugustus @jberkus I PR'd the official deadlines, but not the agreed upon outlined process or the rejection template. The latter might not be needed, but I do think we should outline the process a little better.

I'm short on cycles at the moment, so I'll leave final direction to @jberkus

[2019-05-01 23:30] tpepper commented on #607
I definitely like this and want to see it automated as we revamp the build release pipeline. When the decision tree is auditable through consistent and easy to create (automated) tracking artifacts, then we have less guesswork, depend on less tribal lore, and end up less error prone.

[2019-05-02 08:31] hoegaarden commented on #607
FWIW, the testgrid screenshoter has a POC implementation [here](https://gist.github.com/hoegaarden/0e9aab9d29885074a0f60f8398880397), but is not integrated in any workflow or tool (prow, anago, ...) yet.

[2019-05-03 08:18] #579 closed

[2019-05-03 17:29] tpepper opened #611 "cherry pick process enhancements"
Having exercised the cherry pick approval process now for a period, I believe we're in need of some next level process enhancements.

The [SIG Arch meeting on April 25, 2019](https://docs.google.com/document/d/1BlmHq5uPyBUDlppYqAAzslVbAO8hilgjqZUTaNXUhKM/edit#) included a brief survey of patch releases and there is a general sense that the backport acceptance criteria are weak or unevenly applied.

[2019-05-06 14:07] justaugustus commented on #605
/sig release

[2019-05-06 14:08] justaugustus commented on #607
/area release-team release-eng
/priority important-longterm
/milestone v1.15
/help

[2019-05-06 14:11] justaugustus commented on #611
/priority important-soon
/milestone v1.15

[2019-05-06 17:45] Bubblemelon commented on #607
Re: @hoegaarden

Yes to adding it in the handbook.

Including screenshots from testgird in a release cut issue, logs the build states of a section in time when the cut was made. The CI signal team can use this as reference if they needed to. :smiley:

[2019-05-06 21:59] imkin commented on #518
/cc imkin

[2019-05-07 00:01] #518 closed

[2019-05-07 16:25] spiffxp commented on #347
/assign
I'm handling this in https://github.com/kubernetes/sig-release/issues/441

this is done

I would recommend someone look at https://github.com/kubernetes/test-infra/tree/master/metrics for this

[2019-05-07 16:26] spiffxp commented on #441
I'm working this in https://github.com/kubernetes/test-infra/pull/10870

[2019-05-07 16:29] Bubblemelon opened #614 "Cut 1.15.0-alpha.3 release"
/assign @Bubblemelon

Scheduled to happen Tues, 2019-05-07

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)  |  [message](https://kubernetes.slack.com/archives/C2C40FMNF/p1557265148182400)
  - [x] collect metrics, links, ... and add them as a comment
- [x] send [noti

[2019-05-07 21:31] Bubblemelon commented on #614
v1.15.0-alpha.3 |   |   |   |   |  
-- | -- | -- | -- | -- | --
step | command | link | start | end | duration
mock stage | ./gcbmgr stage master --build-at-head | https://console.cloud.google.com/cloud-build/builds/fb944333-d067-4ff7-8a45-35112c38bb1e?project=kubernetes-release-test | 16:39:44 | 17:26:53 | 47m
mock release | ./gcbmgr release  master --buildversion=v1.15.0-alpha.2.345+19ed7fa731c3

[2019-05-07 21:38] Bubblemelon commented on #614
### Failing testgrid dashboards
Boards checked for failing tests:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-upgrade](https://testgrid.k8s.io/sig-release-master-upgrade)

<details><summary><tt>2019-05-07 21:37:03+0000</tt> sig-release-master-blocking#bazel-test-master <a href="https://testgrid.k8s.io/sig-release-master-blocking#bazel-

[2019-05-07 21:42] spiffxp commented on #441
/assign
/unassign @BenTheElder

[2019-05-08 01:40] spiffxp commented on #441
https://testgrid.k8s.io/sig-release-master-blocking now has an "OWNER: sig-foo (subproject)" in its description for every job, and a description of what each job does.

sig-scalability owns:
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

sig-release release-engineering owns:
- https://testgrid.k8s.io/sig-release-master-blocking#build-master

sig-release relea

[2019-05-08 01:48] spiffxp commented on #441
[I created kuberentes-sig-testing-alerts@](https://github.com/kubernetes/test-infra/issues/7814) for sig-testing's use

I'd like to propose doing the same for any of the above SIGs that don't already have a google group dedicated to receiving alerts from testgrid.  I would add the existing sig chairs / tech leads as Owners, and they would then add in whatever staff they deem necessary to stay on t

[2019-05-08 03:52] #614 closed

[2019-05-08 14:49] justaugustus opened #617 "Add key release dates to SIG Release calendar"
ref: https://groups.google.com/d/msg/kubernetes-sig-pm/3bOMguYeN-0/uT9e8U4qAAAJ
/help
/priority important-soon
/area release-team
/milestone v1.15

[2019-05-08 16:40] spiffxp commented on #441
Sent an `[ACTION REQUIRED]` e-mail to the SIGs listed above.  If I hear no response from them before May 14th, I will be using their discussion list as the alert email address

[2019-05-08 16:41] spiffxp commented on #441
Discussed with #sig-release, consensus from two SIG chairs (@tpepper @justaugustus) and current release lead (@claurence) is to use the kuberentes-release-team@ address for their alerts

[2019-05-08 18:48] bsalamat commented on #441
https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

I don't think SIG scheduling own those tests. I don't know who the owner is though.

[2019-05-08 19:01] spiffxp commented on #441
@bsalamat The only test case involved has SIG scheduling's name in it "[sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests"

Summarizing discussion offline:
- This exact job ci-kubernetes-e2e-gce-device-plugin-gpu also lives in https://testgrid.k8s.io/wg-resource-management with an alert address setup
- WG's cannot own code, SIG's can.  So ultimately it needs to fall to o

[2019-05-08 20:08] bowei commented on #441
this (e-mail address) can be changed later?

[2019-05-08 21:17] spiffxp commented on #441
@bowei yes email address can be changed later, but we will no longer allow jobs to be release blocking without an associated email address... if you decide you don't want to own the job, and cannot find an owner, the job can no longer be release blocking

[2019-05-08 21:27] spiffxp commented on #441
@bowei sig-network already appears to have https://groups.google.com/forum/#!forum/kubernetes-sig-network-test-failures alerted to be other jobs, I can use that

[2019-05-09 17:04] #573 closed

[2019-05-09 17:24] spiffxp commented on #441
Remaining sigs/jobs:

sig-scalability owns:
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

sig-node owns:
- https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

[2019-05-12 14:40] sNathan13 commented on #617
I can take this, with some help from the sig-release team.

[2019-05-13 08:59] hoegaarden opened #623 "Cut 1.14.2 release"
/assign @hoegaarden

Scheduled to happen Tue, 2019-05-14

Any bumps or issues encountered along the way, post here. /close when the release has been cut.

- [x] screen shot 1.14's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [ ] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)
  - [ ] collect metrics, links, ... and add them as a comment
- [x

[2019-05-13 16:28] idealhack opened #624 "Cut 1.15.0-beta.0 release"
/assign

Scheduled to happen Tue, 2019-05-14

- [x] screenshot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/archives/C2C40FMNF/p1557851694269500)
  - [x] collect metrics, links, ... and add them as a comment
- [x] send [notification mail](https://groups.google.com/forum/#!topic/kubernetes-dev/5OIjMo7Dz

[2019-05-13 16:54] hoegaarden commented on #425
Update:

[Documentation](https://cloud.google.com/compute/docs/tutorials/sending-mail/#choosing_an_email_service_to_use) suggests, it should be possible to send mails from GCB, just not via the default SMTP port 25.
We can either:
- use a mass mail sending provider like SendGrid, Mailgun, or Mailjet
- use the `kubernetes.io` G Suite account and send via `smtp-relay.google.com: 587`

This still nee

[2019-05-13 20:17] spiffxp commented on #441
For sig scalability, will be using kubernetes-sig-scale@: https://groups.google.com/d/msg/kubernetes-sig-scale/IKtP9Ed3jvs/S7ZgpP38AAAJ

[2019-05-13 21:36] tpepper opened #626 "Patch release process should update kubernetes/website Kubernetes versions"
The docs folks have a file which tracks the current patch release: https://github.com/kubernetes/website/blob/cb559f13c2c6deaa5fa309660afe82ee4adf5cd8/config.toml#L69-L130

When making a new patch release, this file should get the updated patch release number automatically.

[2019-05-14 00:09] spiffxp commented on #405
ref: https://github.com/kubernetes/test-infra/issues/11977

[2019-05-14 00:27] spiffxp commented on #441
For sig-node, will be using kubernetes-sig-node@: https://groups.google.com/d/msg/kubernetes-sig-node/TxqAtFjLkuw/vb39Hn1xAgAJ

[2019-05-14 08:45] feiskyer opened #627 "Cut 1.12.9 release"
/assign

Scheduled to happen Monday, 2019-05-27

Any bumps or issues encountered along the way, post here. /close when the release has been cut.

- [ ] screen shot master's unhealthy testgrid boards and add them as a comment
- [ ] stage & release
  - [ ] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)
  - [ ] collect metrics, links, ... and add them as a comment
- [ ] build

[2019-05-14 08:45] feiskyer commented on #627
/assign

[2019-05-14 09:34] claurence commented on #601
Circling back to this item - I expressed interest in helping out here - I mostly care for the purposes of 1.15 for defining what is the list of dependencies that we need to care about

I can start a draft of a KEP for what are those dependencies

[2019-05-14 12:30] idealhack commented on #624
### Failing testgrid jobs

#### sig-release-master-blocking

<details><summary>`build-master`</summary></p>

![image](https://user-images.githubusercontent.com/408385/57697973-09e25080-7687-11e9-93c5-8f9d4bae4f7c.png)

</p></details>

[2019-05-14 14:25] idealhack commented on #624
note: the failing job above fixed by https://github.com/kubernetes/test-infra/pull/12623

[2019-05-14 16:02] idealhack commented on #624
v1.15.0-beta.0 (+ v1.16.0-alpha.0) |   |   |   |   |  
-- | -- | -- | -- | -- | --
step | command | link | start | end | duration
mock stage | ./gcbmgr stage release-1.15 --build-at-head | https://console.cloud.google.com/cloud-build/builds/5a6f6e64-ce5a-42db-a15f-c21c68a56127?project=kubernetes-release-test | 20:34:11 | 22:03:48 | 89m
mock release | ./gcbmgr release  release-1.15 --buildversion=v

[2019-05-14 16:37] #624 closed

[2019-05-14 23:24] spiffxp commented on #24
/close
Criteria are documented but not yet fully enforced (re: metrics on duration and flakiness)

Will continue to work that against #347

[2019-05-14 23:24] #24 closed

[2019-05-15 16:18] Bubblemelon commented on #624
/milestone v1.15

[2019-05-15 18:57] Katharine opened #631 "Proposal: remove the test-infra release team role going forward"
I propose that we work to eliminate the test-infra role after the 1.15 release concludes.

Historically, the test-infra role has had three responsibilities: some (very tedious) config mangling to create a new release branch and drop the oldest one, some config editing to turn code freeze on and off, and a broader "keep the test infrastructure healthy" responsibility. These responsibilities were on

[2019-05-15 19:46] justaugustus commented on #631
Echoing my sentiments from #sig-release:

The end goal should be to obviate the need for most of these Release Team roles with automation. So if we're getting close with test-infra, that's a good thing!

Thanks to everyone who had a hand in automating this away!

Dhawal/Jorge/Cheryl -- please work together to redelegate the remaining test-infra responsibilities to the CI Signal and Branch Manager

[2019-05-15 22:33] justaugustus opened #632 "Move Patch Release handbook to release-engineering directory"
Now that the Patch Release Manager/Team is no longer part of the Release Team, we should move the handbook under `k/sig-release/release-engineering` to show that this team lives under the Release Engineering subproject.

/assign @tpepper @aleksandra-malinowska @hoegaarden @feiskyer
/priority important-longterm
/milestone v1.15
/area release-eng

[2019-05-16 18:00] hoegaarden commented on #623
### Failing and flaking testgrid dashboards
Boards checked:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking)
- [sig-release-1.14-informing](https://testgrid.k8s.io/sig-release-1.14-informing)

<details><summary><tt>2019-05-16 19:00:09+0100</tt> sig-release-1.14-blocking#gce-cos-k8sstable1-default <a href="https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-k8s

[2019-05-16 18:12] hoegaarden commented on #623
From https://groups.google.com/d/msg/kubernetes-dev/FGuxhdN8NNI/Sk2uZOQIAwAJ:

[2019-05-16 18:22] hoegaarden commented on #623
**v1.14.2 (+ v1.14.3-beta.0)**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage --nomock --official release-1.14 --buildversion=v1.14.2-beta.0.85+66049e3b21efe1 | https://console.cloud.google.com/cloud-build/builds/b942d1ea-4350-441e-9b1e-89a8ee3dbc80?project=kub

[2019-05-27 14:57] feiskyer commented on #627
staging build link [here](https://console.cloud.google.com/cloud-build/builds/0a993182-2a79-4157-9c5f-ef902b126abf?project=kubernetes-release-test).

[2019-05-27 15:04] feiskyer commented on #627
Build failed:

[code]

[2019-05-27 15:08] idealhack commented on #627
@feiskyer you can try https://github.com/kubernetes/release/pull/715

[2019-05-27 15:16] alejandrox1 commented on #631
I believe the duty of monitoring and reporting on PRs can fall under the scope of CI signal. Performing such a task aids CI signal obtain more context about the work being done upstream by all contributors which is ultimately useful at the moment of “debugging” a test failure.

Additionally, the [test-infra role handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-hand

[2019-05-27 15:37] nikhita opened #636 "Mention about the Embargo Policy for the licensing subproject"
We require folks to follow the [Embargo Policy](https://github.com/kubernetes/community/tree/master/github-management#github-administration-team) if they have access to any security issues. Both members of the Product Security Committee and [GitHub mananagement team](https://github.com/kubernetes/community/tree/master/github-management#github-administration-team) are subject to this policy.

I jus

[2019-05-28 04:16] feiskyer commented on #627
Staging build success now at [here](https://console.cloud.google.com/cloud-build/builds/9e49128e-724c-4107-b5d1-22656d73f2a9?project=kubernetes-release-test).

[2019-05-28 05:07] feiskyer commented on #627
Release build succeed now at [here](https://console.cloud.google.com/cloud-build/builds/15f45fda-07e1-4b2f-a213-e0043cbb6632?project=kubernetes-release-test).

[code]

[2019-05-28 21:16] Bubblemelon commented on #631
Re:

Having read the [Configure merge automation for code freeze, and thaw](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/test-infra/README.md#configure-merge-automation-for-code-freeze-and-thaw) section of the test-infra handbook, it makes sense to include it as part of the release manager role. It gives more context of what's goes on and as stated in the [rele

[2019-05-28 21:32] Bubblemelon opened #638 "Cut 1.15.0-beta.1 release"
Scheduled to happen: [Tue, 2019-05-28 ](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.15#timeline)

- [x] screenshot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/)  | [message](https://kubernetes.slack.com/archives/C2C40FMNF/p1559102158038100)
  - [x] colle

[2019-05-29 03:41] Bubblemelon commented on #638
v1.15.0-beta.1 | May 28 Tue |   |   |   |  
-- | -- | -- | -- | -- | --
step | command | link | start | end | duration
mock stage | /gcbmgr stage release-1.15 --build-at-head | https://console.cloud.google.com/gcr/builds/ed1e8c62-fcf8-45fb-a6d9-533a3d2b2684?project=648026197307 | 23:07:09 | 23:57:19 | 50m
mock release | ./gcbmgr release release-1.15 --buildversion=v1.15.0-beta.0.425+e0677859bbcaf6

[2019-05-29 03:51] Bubblemelon commented on #638
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-upgrade](https://testgrid.k8s.io/sig-release-master-upgrade)

<details><summary><tt>2019-05-29 03:47:21+0000</tt> FAILING sig-release-master-blocking#gce-cos-master-serial <a href="https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-

[2019-05-29 03:57] #638 closed

[2019-05-29 04:04] idealhack commented on #638
for testgrid, it seems we should check [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking) instead

[2019-05-29 06:29] Katharine commented on #631
No special permissions are needed to do any of this work.

Given the files being edited, you'll need approval from someone in sig-testing in that OWNERS file, but having that is not a requirement for the current test-infra position anyway.

[2019-05-29 13:45] feiskyer commented on #627
Update: release build succeed, but there's something wrong with DEB on Xenial. @sumitranr is helping to find what's wrong.

[2019-05-29 18:49] imkin commented on #631
@alejandrox1 I agree that the configuration of the jobs could be something the CI-signal could shoulder on. As someone who got into the test-infra role first and then tried to understand the significance of the dashboards, I always was lost. And I heard from the CI signal folks that they were always lost on where these dashboards came from. May be this is something that should be baked into the CI

[2019-05-30 04:00] feiskyer commented on #627
Xenial build is finished now and release notification email has sent.

/close

[2019-05-30 04:00] #627 closed

[2019-05-30 18:27] alejandrox1 commented on #631
ah thank you for the clarification @imkin ! I wasn't aware of the process but that makes a lot of sense.
CI signal wise, we  would be definitely interested in being on top of the PR that creates the jobs for a new release.
So with that in mind, i guess we are set?

[2019-05-30 18:51] claurence commented on #631
this all sounds good to me - in terms of succession plans for 1.16 then we would dissolve the Test Infra role is what it is sounding like...

[2019-05-30 19:03] tpepper commented on #631
In general I agree with Katherine's proposal.

The one gap I see (and arguably it is a gap already):  the velocity and type of merges on k/test-infra and test-infra's overall health.  I think release team needs a liaison covering this area.  I think it's been implicit in the role.

[2019-05-30 20:09] imkin commented on #631
@tpepper this gap is currently filled by testinfra-on-call and would probably be filled by the on-call in the future.

[2019-05-31 20:50] jberkus opened #645 "Revisions to Shadow questionnaire"
We adopted a Shadow questionnaire in #368. The questionnaire we used for the 1.15 cycle [is here](https://forms.gle/LTYDgYCaseGBrLbm9).

Questions for 1.16 cycle:

1. Does anyone object to using the application process for 1.15?
2. What questions do you want to add to the questionnaire?
3. What questions would you want to remove from the questionnaire, or change?

@claurence @justaugustus @kacole2

[2019-05-31 20:55] jberkus commented on #631
+1 in general.

I'm surprised that PR reports wouldn't fall under Bug Triage, though.  Back in the 1.10 cycle, this was actually a responsibility of Bug Triage; I'm not sure when it got to be a test-infra duty.

[2019-05-31 21:21] imkin commented on #631
The test-infra reported it as a mechanism to report prow and tide health.

On Fri, May 31, 2019, 1:55 PM Josh Berkus <notifications@github.com> wrote:

[2019-06-03 16:55] Bubblemelon commented on #645
Re:

[As suggested](https://kubernetes.slack.com/archives/GH1PUAHT3/p1554488413008700) by @imkin: “Have you read through the handbook? Do you have any questions about a role? Do you have feedback on the handbook?”

This was talked about early in the 1.15 cycle. Perhaps have hints on these questions in the Comments section of the questionnaire? This would be helpful to see of how much the applicant

[2019-06-03 20:32] claurence opened #648 "Assemble Kubernetes 1.16 Release Team"
Issue for assembling the Kubernetes 1.16 Release Team.

Please review the [Release Team Selection Process docs](https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-selection.md) for details on the process and criteria.

I'll open a companion PR to go along with this issue

/sig release
/area release-team
/milestone v.1.16

[2019-06-03 20:33] claurence commented on #648
/assign @claurence @lachie83

I've asked @lachie83 to take on role of release lead for v.1.16

[2019-06-03 22:07] lachie83 commented on #648
Thank you very much for considering me for the lead role Claire. I accept your nomination and am excited to serve on the 1.16 release team.

[2019-06-03 22:08] jberkus commented on #648
+1 on Lachie

[2019-06-03 23:55] nikopen commented on #648
Hail to the new lead!

Happy to continue in the lead team from the breezy shadows during hothot summer 🌞

[2019-06-04 21:41] yastij commented on #601
/assign

[2019-06-05 14:34] claurence commented on #645
For the question: Can you commit to the time? *

I'm thinking there might be value in breaking up this question into can you do the baseline commitment then asking how much additional time do they have  - I feel like most people would say "yes" here, but it doesn't give us a good idea how much of the commitment they are willing to make.

i.e.
- Can you commit to a 1 hr a week meeting for the first

[2019-06-05 19:05] figo commented on #601
/cc

[2019-06-06 03:11] Bubblemelon opened #654 "Cut 1.15.0-beta.2 release"
Scheduled to happen: Wed, 2019-06-5

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](/https://kubernetes.slack.com/archives/C2C40FMNF/p1559792315015600)

  - [x] collect metrics, links, ... and add them as a comment

- [x] send notification [emai

[2019-06-06 03:24] Bubblemelon commented on #654
### Testgrid dashboards
Failling boards:
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)
- [sig-release-1.15-all](https://testgrid.k8s.io/sig-release-1.15-all)

<details><summary>sig-release-master-informing</summary><p>

![image](https://user-images.githubusercontent.com/12985181/59004612-1281fe80-87cf-11e9-9bdc-4e4fedb9a5ca.png)
</p></details>

<details><su

[2019-06-06 03:34] Bubblemelon commented on #654
v1.15.0-beta.2 | June 5 |  |  
-- | -- | -- | -- |
step | command | link | duration
mock stage | - |   |   |   |  
mock release | - |   |   |   |  
stage | ./gcbmgr stage release-1.15 --build-at-head --nomock | https://console.cloud.google.com/gcr/builds/e1da2c34-651a-45a7-b628-614674fcae0b?project=648026197307 | 52m
release | ./gcbmgr release --nomock release-1.15 --buildversion=v1.15.0-beta.1.44

[2019-06-06 03:57] #654 closed

[2019-06-06 15:37] alejandrox1 opened #656 "Monitoring CI jobs from previous releases"
During the Kubernetes release cycle, the CI signal team is charged with monitoring the dashboards for master and for the release we are working on, i.e., master-blocking, master-informing, 1.15-blocking, 1.15-informing.

The criteria for cutting a new release is heavily based on the health of the `*-blocking` dashboards with the `*-informing` ones providing extra context.
However, there is no grou

[2019-06-06 18:33] justaugustus commented on #539
/remove-lifecycle stale

[2019-06-06 19:46] claurence commented on #648
pinging @kacole2 @alejandrox1 @Bubblemelon @soggiest @onyiny-ang @imkin @makoscafee ping to remind y'all to nominate successors for your roles here!

[2019-06-06 19:58] kacole2 commented on #648
I'm going to continue with 1.16 Enhancement Tracking. @mrbobbytables will shadow me once again as well. @craiglpeters has expressed interest in shadowing CI Signal so I would like to put my nomination up for him to be a shadow in that role.

[2019-06-06 20:53] raelga commented on #648
I will love to get in involved as a shadow for this release (first timer!) :)

[2019-06-06 23:45] jberkus commented on #648
@raelga the Shadow application will go up probably next week.

[2019-06-07 16:21] castrojo commented on #648
I'd like to nominate @onlydole for comms lead for 1.16.

[2019-06-07 16:23] Bubblemelon commented on #648
Nominaing @idealhack as Branch Manager Lead for v1.16! :tada: :confetti_ball:

[2019-06-07 16:37] tpepper commented on #631
Would the testinfra-on-call proactively be in the regular release team meetings, proactively reporting on test-infra health regularly?  Especially at the end of the release, we don't have the luxury of time for release team to debug alone to decide maybe there's an underlying test-infra issue and then reach out to the on-call, who quite possibly then says oh yeah this is known and we're working on

[2019-06-07 16:40] jberkus commented on #631
This feels like it should be wholly automated

[2019-06-07 16:58] tpepper commented on #631
Some areas in docs we will want to update IMO:

* https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/release-team-lead#week-8  Weeks 8+ remove references to Test Infra Lead.  Also note release team lead proactively interacting with Slack #sig-testing, kubernetes-dev mailing list, and testinfo-on-call person/people for pulse of infra health.  Don't assume silence mean

[2019-06-07 17:15] justaugustus commented on #607
Good idea. What's the current status of this?

[2019-06-07 17:17] justaugustus commented on #581
What's the current status of this?

[2019-06-07 17:17] justaugustus commented on #578
What's the current status of this?

[2019-06-07 17:18] justaugustus commented on #577
What's the current status of this?

[2019-06-07 17:18] justaugustus commented on #571
What's the current status of this?

[2019-06-07 17:21] justaugustus commented on #465
What's the current status of this?

[2019-06-07 17:24] justaugustus commented on #441
@spiffxp -- looks like we're all set with this one? Can we close it?

[2019-06-07 17:26] justaugustus commented on #193
What's the current status of this?
/assign @jeefy
/unassign @marpaia @nickchase

[2019-06-07 17:29] jeefy commented on #193
The role handbook will need to be updated for 1.16 to describe doing a JSON dump as well as a Markdown dump, and then in 1.17 the Markdown dump instructions should be deprecated (and moved exclusively into the `release-notes` tool repo)

The (JSON) process is only slightly different from the Markdown process, but I want to focus finishing the last site-related updates before I address the handbook

[2019-06-07 17:30] imkin commented on #581
@justaugustus we were changing the scope and requirements of test-infra role this release and hence held back on defining them to not "double-work".
Now that the role for test-infra has been split to branch-manager, I will work with other role-leads and files issues to split the handbook too.

We should just close this issue.

[2019-06-07 17:50] makoscafee commented on #648
I would like to nominate @simplytunde for Docs Lead for 1.16

[2019-06-08 00:56] onlydole commented on #648
I graciously accept! This group rocks 🎉

[2019-06-09 17:13] soggiest commented on #577
I still need to update this, will prioritize next week

On Fri, Jun 7, 2019 at 10:18 AM Stephen Augustus <notifications@github.com>
wrote:

[2019-06-10 09:49] justaugustus commented on #245
/assign
/remove-help
/milestone v1.16

[2019-06-10 15:43] imkin opened #658 "Update Release Handbook due to dissolving test-infra lead role."
Following up on https://github.com/kubernetes/sig-release/issues/631 this issue is to track changes to the release-handbook

https://github.com/kubernetes/sig-release/issues/631#issuecomment-499961100 lists a few possible changes to the hand book that references to test-infra handbook.

/assign @claurence

[2019-06-10 15:44] justaugustus commented on #658
/cc

[2019-06-10 15:54] imkin opened #659 "Update Branch Manager Handbook due to dissolving of test-infra role."
Following up on #631 this issue is to track changes to the branch-manager-handbook needed for the transition of some of the responsiblities.

- Add config/jobs forking steps from test-infra handbook to branch manager handbook.
- Make changes to any references to test-infra lead to new appropriate roles/channel.

/assign @Bubblemelon
/cc @claurence @lachie83 @tpepper @justaugustus

[2019-06-10 16:19] imkin commented on #658
/cc @tpepper @lachie83

[2019-06-10 18:37] jberkus commented on #648
Hey, the CI Signal 1.15 shadows aren't sufficiently available for 1.16 cycle.  This means we want to open this up to any prior release shadows, or even prior CI Signal leads, from earlier releases.

@mariantalla @AishSundar @mortent @smourapina @surajnarwade

[2019-06-10 18:39] dankohn commented on #545
On closing, it would be nice to point to https://github.com/kubernetes/sig-release/blob/master/releases/release-1.15/release_team.md for the results.

[2019-06-10 18:47] soggiest commented on #648
I would love to shadow CI Signal for 1.16. I'm just about ready to nominate my replacement, as well.

[2019-06-10 18:49] surajnarwade commented on #648
@jberkus , I'm in :smile_cat:

[2019-06-10 21:14] alejandrox1 commented on #648
@surajnarwade just to clarify, you’re in for ci signal lead for v1.16?

[2019-06-11 04:07] lachie83 commented on #631
+1 to this proposal. I'm happy to commence the removal of the this role at the end of 1.15 so long as the following commitments are met (in order to ensure a smooth transition into 1.16):
* All responsibilities of the test-infra role are allocated amongst the other roles
* Appropriate handbook updates are made to reflect the change (in a timely manner)
* Leads take extra care to hand over these sp

[2019-06-11 04:20] lachie83 commented on #645
I agree with Claire's comments. We'll also need to remove the test-infra role as it's dissolving for 1.16 - https://github.com/kubernetes/sig-release/issues/631. Other than that - it looks great. Thanks

[2019-06-11 04:45] surajnarwade commented on #648
@alejandrox1 , I have very little experience so I will not be able to lead but I can be shadow and happy to help wherever possible

[2019-06-11 05:23] palnabarun commented on #648
I am eagerly waiting for the shadow applications. Excited to work in the team. :smile:

PS: I am a first timer.

[2019-06-11 11:18] alejandrox1 commented on #648
@surajnarwade ah alright, not a problem.
 just wanted to clarify @jberkus ‘s message: right now we are looking for someone to take ci signal shadow as it is discouraged for a lead to be a lead for two consecutive cycles.

[2019-06-11 11:53] justaugustus commented on #648
As a few have mentioned on the thread, we are currently staffing the role leads for the 1.16 cycle.
As soon as all lead positions are nominated and staffed AND the updated questionnaire is complete, we will notify both here and on kubernetes-dev.

Thanks everyone for your interest so far! :)

[2019-06-11 12:20] justaugustus commented on #648
/milestone v1.15
/priority important-soon

[2019-06-11 15:56] soggiest commented on #648
I nominate @xmudrii for Bug Triage lead for 1.16

[2019-06-11 16:33] tpepper commented on #656
See also https://github.com/kubernetes/sig-release/issues/369

We're working as @kubernetes/patch-release-team to build out a workflow that's open to more folks helping in monitoring branch CI health versus the incoming and merged cherry picks onto those branches.  Patch release team monitors the older releases testgrid boards.

[2019-06-11 20:05] justaugustus opened #660 "Address tpepper's review on build admins doc"
Address post-merge feedback from @tpepper.
ref: https://github.com/kubernetes/sig-release/pull/657#pullrequestreview-247820881

/assign @justaugustus @sumitranr
/priority important-soon
/kind cleanup
/milestone v1.16

[2019-06-11 20:16] justaugustus commented on #660
/area release-eng

[2019-06-11 21:57] Bubblemelon opened #661 "Cut 1.15.0-rc.1 release"
Scheduled to happen: Tue, 2019-06-11

- [x] PRs in milestone 1.15 are all merged
- [x] branchff prior to release
- [x] ensured that there's no blocking PRs
  - [x] PR https://github.com/kubernetes/kubernetes/pull/78885 merged
- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C4

[2019-06-11 23:47] Bubblemelon commented on #661
### testgrid Builds

#### sig-release-master-blocking

<details><summary><a href="https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial" />gce-cos-master-serial</summary></p>

![image](https://user-images.githubusercontent.com/12985181/59313518-43967f00-8c66-11e9-9bce-09c6123f965d.png)
</p></details>

#### [sig-release-master-informing](https://testgrid.k8s.io/sig-release-maste

[2019-06-11 23:49] Bubblemelon commented on #661
v1.15.0-rc.1 | June 11 |   |   |   |  
-- | -- | -- | -- | -- | --
step | command | link | start | end | duration
mock stage | - |   |   |   |  
mock release | - |   |   |   |  
stage | ./gcbmgr stage release-1.15 --rc --build-at-head --nomock | https://console.cloud.google.com/cloud-build/builds/28cf6dda-3d5d-453d-adfc-ea694d62431e?project=kubernetes-release-test | 22:29:24 | 23:17:53 | 48m
relea

[2019-06-12 00:30] #661 closed

[2019-06-12 05:05] onyiny-ang commented on #648
I'd like to nominate @saschagrunert for Release Notes lead--he's taken the shadow role to a whole new level this release and will be a great lead for 1.16 (in which we expect to see the release notes completel the move to a new format: https://github.com/kubernetes-sigs/release-notes)

[2019-06-12 16:24] jberkus commented on #631
Hey, I'm gonna step in and say that I am 100% opposed to any division of test-infra duties that adds workload to CI signal.

We are already having problems recruiting a CI Signal lead because of the amount of time the role requires.  Adding anything to that would be crazy.

Let's add any additional duties to Bug Triage, which is a less heavily loaded role.

[2019-06-12 22:38] jberkus commented on #648
The Release team [Shadow Questionnaire](https://forms.gle/q69PuRM8V9ByVzEA6) is now ready.

Shadows, start your applications!

@surajnarwade @palnabarun @raelga

[2019-06-13 09:23] mhamdisemah opened #663 "fix typo in role-handbooks doc"
This is a Bug Report

Problem:
Typo
importantto→important to

Proposed Solution:
Fix typo in docs.

Page to Update:
[https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/enhancements#mentoring-shadows](url)

/kind documentation
/sig release

[2019-06-13 12:06] #663 closed

[2019-06-13 21:59] justaugustus opened #665 "Update RT docs/handbooks to remove being an org member as a req for RT shadows"
[Feedback from Twitter](https://twitter.com/SethMcCombs/status/1139279455216525312?s=20) (@sethmccombs) that some handbooks list being an org member as a requirement to be a shadow for the Release Team.

While that's definitely a *_goal_* for shadows (and a requirement for Leads), we should edit the documentation to make sure to not alienate any potential contributors.

/milestone v1.15
/priority

[2019-06-13 22:23] jimangel commented on #665
Minor objection to this. If we are expecting a shadow to lead after working on 2 releases (6 months), it would be helpful if they are already an org member, at the start, in order to work towards an [approver](https://github.com/kubernetes/community/blob/master/community-membership.md#approver) during their lead cycle.

We've hit a few minor snags with @makoscafee not having full permissions this

[2019-06-13 22:40] justaugustus commented on #665
Sir, I object to your objection!
Just kidding. Although I do think an implied function of the lead role is to provide support to their shadows in bringing them to the point where they can take over the role. Guiding them through membership should be part of that.

I'm curious; today and historically, have all Docs Leads also been Docs approvers?

I'm absolutely open to workshopping the appropriate

[2019-06-13 22:50] jimangel commented on #665
I know the previous 3 (@zparnold, @tfogo, and myself) were, I'm _thinking_ others beyond that were too. I can do some digging...

I'm all for opening the process more vs. closing - so it sounds like a language change is all that is needed.

I'm currently short on bandwidth at the moment, but this might be a good PR for @sethmccombs?

[2019-06-13 22:56] justaugustus commented on #665
Great idea, Jim!

[2019-06-14 00:37] sethmccombs commented on #665
I'm on it! I'll get something together this evening or tomorrow at the latest!

[2019-06-14 03:00] justaugustus commented on #245
@rdodev -- there's a divergence between the tools we exercise in tests (https://github.com/kubernetes/kubernetes/tree/master/build) and the ones that actually build/publish packages (https://github.com/kubernetes/release/tree/master/debian, https://github.com/kubernetes/release/tree/master/rpm).

Currently, `kubernetes-cni` releases can only be built/published while cutting a Kubernetes release. I

[2019-06-14 04:51] sethmccombs commented on #665
So here's what I'm seeing, some handbooks mention requirements, some do not.

Some ([Enhancements](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/enhancements/README.md#general-requirements)) state "in addition to the requirements detailed for all Release Team Members", but that link just points to the SIG-Release README, which is just links to other reading, sho

[2019-06-14 18:27] jeefy opened #667 "Add links to relevant docs in Release Notes"
Per https://kubernetes.slack.com/archives/C2C40FMNF/p1560536323319700

It'd be awesome if, in the release notes, we link to new and/or relevant documentation on the K8s website. I think this is entirely reasonable and something that should be looked into in the next release or so.

With the website it would be relatively easy and painless to add a new (optional) field in the JSON. That way it coul

[2019-06-14 18:31] jeefy commented on #667
/kind feature
/area release-eng
/priority important-longterm

[2019-06-14 18:32] jeefy commented on #667
/assign @saschagrunert @jeefy

[2019-06-14 18:58] onyiny-ang opened #668 "Adjusting PR boilerplate and labels to improve Release Notes UX"
There was some discussion during this release cycle and in [slack](https://kubernetes.slack.com/archives/C2C40FMNF/p1560535286311000 ) about collecting more information from each PR in order to improve the user experience for release notes and ease curation for the release notes team.
This boils down to 3 main improvements:
1. Collecting `KEP` numbers associated with any PRs that work towards impl

[2019-06-14 19:04] onyiny-ang commented on #668
/cc @tpepper @justaugustus @jeefy @saschagrunert @lachie83 @jberkus
/sig release

Ideally we would like to have some (or all) of these things available starting in the 1.16 release

[2019-06-14 19:51] claurence commented on #658
https://github.com/kubernetes/sig-release/pull/669 has my edits for this

[2019-06-14 21:14] jberkus commented on #665
@sethmccombs I never knew about any general requirements session.  Such would be a good idea, since a bunch of the requirements (slack & GH logins, free time, etc.) are common to all roles.

Regarding the Org Membership, what I put in the CI signal handbook is:

I think that's good language for the requirement. We don't expect them to be an org member when they start, but we do expect them to be o

[2019-06-14 22:05] jberkus commented on #645
Questionnaire is updated & approved, so closing.

[2019-06-14 22:05] #645 closed

[2019-06-14 22:09] jberkus commented on #578
@castrojo @onlydole hey, this needs to be closed ASAP.  New shadows are applying to this role, and they don't know what the requirements are.

[2019-06-14 22:12] jberkus commented on #577
Bump.  We've now opened the shadow application, and new potential shadows have no clue what the requirements of the job are.

@soggiest @nikopen @xmudrii

[2019-06-14 22:14] onlydole commented on #578
Hey @jberkus and @justaugustus - we will take a look at this and get this gap closed 👍🏼

[2019-06-14 22:14] jberkus opened #670 "Write EA handbook"
Since the Emeritus Advisor role has continued over two releases, it's time for it to get a role handbook.

/assign jberkus

[2019-06-14 22:15] jberkus commented on #670
/milestone v1.16

[2019-06-15 02:32] nikopen commented on #577
I don't think the requirements idea aligns with this role.

'requirements' can be derived from the context of the handbook itself, and it's the candidate's job to read it in any case.

I'd even say, if the candidate is simply able to read and understand the content and context of the handbook, then s/he is eligible.

If the new leads feel that there's a need for explicit requirements feel free to

[2019-06-15 18:31] justaugustus commented on #581
Agreed.
/close

[2019-06-15 18:31] #581 closed

[2019-06-15 23:52] justaugustus commented on #665
Yep, point all handbooks to that page.

That should be the onboarding doc.

That should be covered in the umbrella issue here: https://github.com/kubernetes/sig-release/issues/574
The role leads are in the process of updating their handbooks as we wind down on 1.15, so no action required there.

Just so we don't blow scope, the only requirements here are:
- scrub any references in all handbooks th

[2019-06-16 10:46] xmudrii commented on #577
@jberkus Can this issue be closed now that #672 is merged?

[2019-06-16 11:49] nikopen commented on #577
/close

[2019-06-16 11:49] #577 closed

[2019-06-17 06:12] nikhita commented on #529
Can this be closed? We have https://relnotes.k8s.io/ now! :tada:

[2019-06-17 13:12] onyiny-ang commented on #529
@nikhita, yes I think it's safe to close it since the relnotes site is now up :tada: :smile:  We will be looking for feedback starting from this release but given that there is now a [kubernetes-sigs/release-notes](https://github.com/kubernetes-sigs/release-notes) repo, that would be the most appropriate location for  issues/feedback on the tool.

[2019-06-17 13:20] jeefy commented on #529
Definitely.

/close

[2019-06-17 13:20] #529 closed

[2019-06-17 16:28] Bubblemelon opened #675 "Cut 1.15.0 official release"
Scheduled to happen:
 ~~Mon, June 17th 2019~~
**Wed, June 19 2019**

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [X] stage & release
  - [X] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/) | [see message](https://kubernetes.slack.com/archives/C2C40FMNF/p1560970236479500)
  - [X] notify [#release-managers](https://kubernetes.slack.com/me

[2019-06-17 18:58] Bubblemelon commented on #675
It was determined that [#79096](https://github.com/kubernetes/kubernetes/pull/79096) is release blocking, hence, the official release cut is postponed until further notice from @mm4tt .

See conversation on [Slack #release-managers ](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1560796590119300)

[2019-06-17 19:13] Bubblemelon commented on #675
Mock runs for the 17th:
v1.15.0 (+ v1.15.1-beta.0) |   |   | UTC |   |  
-- | -- | -- | -- | -- | --
step | command | link | start | end | duration
mock stage | ./gcbmgr stage release-1.15 --official --build-at-head | https://console.cloud.google.com/gcr/builds/8c0cbc67-ca08-4bd5-9855-7f26067a76df?project=648026197307 | 16:22:14 | 17:52:14 | 90m
mock release | ./gcbmgr release --official release-1

[2019-06-17 19:27] zacharysarah commented on #665
@justaugustus 👋

Yes, out of necessity. For leads to merge docs PRs into the release branch requires leads to be approvers.

[2019-06-18 15:36] Bubblemelon commented on #675
Including this update here for future reference:

From this morning's burndown meeting at 08:00 PST, we were informed that we needed another day based on[ this comment](https://github.com/kubernetes/kubernetes/issues/79096#issuecomment-503177825) for confirmation and that the official cut will likely be released on Thursday (20th).

Sumi who usually does the packaging for deb/rpm files will be OOO

[2019-06-18 16:35] #656 closed

[2019-06-18 17:21] tpepper opened #680 "bot feedback on PRs for patch release branches"
When a pull request is submitted on a release branch the next steps for a submitter are less clear than for a standard PR.  Can we improve the bot messages there?

It would be nice to get feedback to the submitter around:
* if they did not use the cherry-pick automation.
* that they are responsible for getting OWNERS approval on the PR and OWNERS may misunderstand the status thinking they already

[2019-06-18 17:22] tpepper commented on #680
@kubernetes/patch-release-team what else can we do to better illustrate the workflow to PR submitters?

[2019-06-18 17:25] nikhita commented on #680
xref https://github.com/kubernetes/test-infra/pull/12968

[2019-06-19 10:09] hoegaarden commented on #607
Glancing over [release cut issues][rci] it seems:
- some people adopted the things we introduced in 1.14 (new issue template, add some metrics about the cut, add testgrid screenshots)
- some people used the [testgrid screenshoter POC][tgs], some didn't or did abandon it (in favour of manual screenshots)

I think it would be useful to get some input from people who recently cut release and get an u

[2019-06-19 12:50] saschagrunert commented on #667
How about adding an additional section to the PR template, which could be parsed by the release-notes tool afterwards:

[code]

[2019-06-19 16:42] Bubblemelon commented on #675
Re:

Since there were no newly added changes to the release-1.15 branch. The mock runs should be the same as they were Monday.

Last change to k/release (`master`):
[code]

Last change to k/k (`release-1.15`):
![image](https://user-images.githubusercontent.com/12985181/59784094-806e0180-9276-11e9-8040-0e6144c7d773.png)

[2019-06-19 16:52] Bubblemelon commented on #675
This [comment](https://github.com/kubernetes/kubernetes/issues/79096#issuecomment-503511712) on issue [#79096](https://github.com/kubernetes/kubernetes/issues/79096) mentions that it does not affect the `release-1.15` branch. Hence, it is no longer release blocking.

After today's burndown meeting, we were given the thumbs up to release v1.15 official.

[2019-06-19 16:59] jimangel commented on #626
I don't want to lose sight of this... Adding in the 1.15/1.16 doc leads:

/cc @makoscafee @simplytunde

Thanks for opening!

[2019-06-19 17:15] pswica commented on #667
@saschagrunert
I think it's a great idea.

I think we would need to parse the links to make sure that they are on the Kubernetes website. Other things to keep in mind are links changing on the website overtime. A final thing thing to address would be irrelevant links. What if people added a link to the main kubernetes website for their PR. Would that really be relevant if it appeared dispersed ove

[2019-06-19 17:21] Bubblemelon commented on #675
https://testgrid.k8s.io/sig-release-1.15-blocking
![image](https://user-images.githubusercontent.com/12985181/59786291-cc6f7500-927b-11e9-9106-0a1a65256480.png)

### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-1.15-all](https://testgrid.k8s.io/sig-release-1.15-all)

<details><summary><tt>2019-06-19 17:18:53+0000</tt> FAILING sig-release-1.15-all#gce-cos1-k8sbeta-default <a href=

[2019-06-19 19:16] Bubblemelon commented on #675
v1.15.0 (+ v1.15.1-beta.0) |   |   | UTC |   |   |  
-- | -- | -- | -- | -- | -- | --
step | command | link | start | end | duration | remarks
stage | ./gcbmgr stage release-1.15 --official --build-at-head --nomock | https://console.cloud.google.com/gcr/builds/a28cc467-cc1c-4d39-bd89-27568407e6f5?project=648026197307 | 16:27:41 | 18:00:10 | 92m |  
release | ./gcbmgr release --nomock --official re

[2019-06-20 03:33] Bubblemelon commented on #675
/close

[2019-06-20 03:33] #675 closed

[2019-06-20 06:59] saschagrunert commented on #667
Yeah I guess we have to review the PRs with keeping in mind that the documentation links will appear in the release-notes and need to  add valuable benefits to the users. Nevertheless we can parse all URLs and classify them by the location. So we would be able to separate KEP links or filter only for KEPs inside the website.

[2019-06-20 16:03] spiffxp commented on #441
/close
Yeah, this has been in place for a bit

[2019-06-20 16:03] #441 closed

[2019-06-20 17:48] tpepper commented on #631
To cover this it is important that the portions of the test-infra README.md documentation around how to contact testing folks (Slack #testing-ops, @test-infra-oncall;  http://gcsweb.k8s.io/gcs/test-infra-oncall/) and that release team CI Signal staff must proactively discuss possible issues with the broader set of test invested folks.

[2019-06-20 23:23] jberkus opened #687 "Update Release Team Selection doc"
The Release Team Selection doc contains some outdated information and draft selection criteria.  I need to update it to include only final criteria, and to have an extensive section on Shadow Selection.

[2019-06-20 23:24] jberkus opened #688 "Create a Shadowing Template for all Handbooks"
All Handbooks will need a Shadowing section, which describes specifically the main duties of shadows for that role.  A large part of this can be templated from general duties (attend meetings, contact SIGs, etc.), so first step is for me to create that template.

/kind documentation
/assign
/milestone v1.16

[2019-06-20 23:25] jberkus commented on #687
/kind documentation
/assign
/milestone v1.16

[2019-06-25 00:10] justaugustus commented on #665
Closed via #685.
/close

[2019-06-25 00:10] #665 closed

[2019-06-25 02:00] justaugustus commented on #680
ref: https://github.com/kubernetes/test-infra/pull/13148, https://github.com/kubernetes/test-infra/pull/13137

[2019-06-26 00:57] Bubblemelon opened #695 "More refined guidance for Release Manager Associates"
As mentioned in this [comment](https://github.com/kubernetes/sig-release/pull/666#discussion_r296538218):

The branch management handbook needs a more thorough section for shadows on:
- [ ] What they might learn
- [ ] Contributor ladder
- [ ] How to contribute to ongoing tasks e.g. allow shadows to run `./branchff`, run a mock build, help with release verification (or write a script for that), etc

[2019-06-26 02:39] Bubblemelon opened #696 "Branch Management Improvements List"
This is a list of **TODO** items taken out from the [branch management handbook](https://github.com/kubernetes/sig-release/blob/16f7f25f2de0621b59e9f6630337a14cb23c77b8/release-engineering/role-handbooks/branch-manager.md).

- [x] Address feedback on https://github.com/kubernetes/sig-release/pull/757
  - [x] (https://github.com/kubernetes/sig-release/pull/852) Add tombstones for Release Manager ha

[2019-06-26 07:37] SlickNik commented on #695
Thanks for creating this issue @Bubblemelon!

Here are some of my thoughts on this:
- It would be good to include a section about what one might learn as a 'Release Manager Associate' (formerly Branch Manager Shadow) - in addition to the expectations section, having this defined a bit more concretely would be helpful.
- Having a section on how to contribute would also be great; one thing that this

[2019-06-26 07:40] justaugustus commented on #601
Initial PR for discussion here: https://github.com/kubernetes/kubernetes/pull/79366

[2019-06-26 07:50] justaugustus commented on #695
@Bubblemelon @idealhack @SlickNik -- allow me to take a run at this.
I plan to take a look at the Branch Manager and Patch Release handbooks and try to distill out:
- An onboarding guide, with lists to join, access requirements, expectations/requirements for team members, common set of tools we use
- Dedupe data between the two handbooks

/assign
/area release-eng
/priority important-soon
/milesto

[2019-06-27 14:34] idealhack commented on #525
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-06-27 14:34] #525 closed

[2019-06-29 00:06] onlydole commented on #578
@jberkus and @castrojo - we can close this issue. Let me know if you need anything else done on this front!

[2019-06-29 19:19] Bubblemelon commented on #607
Some thoughts:

Re:

Under your guidance in 1.14, I agreed with your viewpoints and continued with it in 1.15. The reason being, it would be nice to have a snapshot of testgird when the release cut occurred. And if there was a problem with a release, there would be a reference to the testgrid dashboard if needed.

There are times when I didn't use the `shot.sh` script because the build fails displ

[2019-07-01 12:12] wojtek-t commented on #347
Wrt https://github.com/kubernetes/test-infra/pull/13252#issuecomment-507142109, I wanted to share couple of my thoughts around the policy for making a test job release-blocking (please redirect me to a better place if this is not the one I should be commenting on):

The motivation is that 1.15 was actually blocked for 2 days due to scalability regression, even though the gce-master-scale-performan

[2019-07-01 14:26] alejandrox1 commented on #347
/cc

[2019-07-01 17:01] Bubblemelon commented on #659
The above referenced PR resolves this issue.

[2019-07-01 17:01] #659 closed

[2019-07-01 17:57] BenTheElder commented on #347
_puts on release and testing hats_

This is because release blocking tests are expected to pass multiple times in a row before the release happens so we know the passes aren't themselves a flake.

3 hours means that 3 passes takes 9 hours (!) making this longer is going to make that a difficult proposition.

I believe this requirement is about proving that the job functions reliably and is not fla

[2019-07-01 18:06] jberkus commented on #347
This is the right place.

When the job was moved, it was a specific statement that we wouldn't block on the scalability jobs.  I think that there is a misunderstanding here about the role of "informing".  The tests in Informing are still supposed to be green, and CI signal and the SIGs should be actively working to make them green whenever they're not.  Informing does not mean "ignore these tests"

[2019-07-01 18:56] alejandrox1 commented on #347
/milestone v1.16

[2019-07-01 19:13] wojtek-t commented on #347
To answer the above:

That's why I'm saying the criteria may be different for patch vs minor release - while 9 hours is a long for patch releases, I actually don't agree it's that match when we talk about minor releases that happen once per quarter.

I completely agree with the argument about flakiness - it has to be 0% or very close it.
But in case of scalability I'm not aware of flakes in the pa

[2019-07-01 19:52] jberkus commented on #347
The problem with 1.15 wasn't the criteria.  It was that the scalability tests were failing for *weeks* and nobody did anything about it.  They didn't start failing unexpectedly 2 days before the release.  And they're failing now. I didn't actually know about the false positives; that makes things worse, not better.

[2019-07-01 21:44] BenTheElder commented on #347
responding to just a few of these that I think need more discussion in particular...

https://github.com/kubernetes/test-infra/pull/10914#event-2093100984 you were a reviewer on the PR FWIW, along with another SIG-scalability member, with no comments ...

I don't remember who all was in the discussion, but I would also point out that perhaps the charters need tweaking, the scopes would suggest tha

[2019-07-02 06:27] wojtek-t commented on #347
There were 10+ regressions in this release cycle, including very hard ones - as you may imagine it's not easy to debug and fix problem with slowed that memory allocations in Golang: https://github.com/kubernetes/kubernetes/issues/75833.
To be clear: I'm not trying to say we are in great shape and no work is needed on our side - we're not and we are already working on making situation better - see

[2019-07-02 06:33] wojtek-t commented on #347
And i would like to get back to this @jberkus point for a moment:

As I mentioned previously, I completely don't buy it and we should first answer the question:
```What is more important for us: quality or predictability of releases```

Imagine you're going to the restaurant and ordering a dinner for 6pm. And at exactly 6pm you're getting your dinner, but the meat is completely raw (it required 5

[2019-07-02 21:55] jberkus commented on #347
I'm not saying that there weren't *reasons* for the jobs to be red.  I'm saying that *putting the jobs on master-blocking wouldn't have made a difference*.  People already knew that the jobs were red.

I was not on the CI signal team this cycle, so I'm not clear on why folks on the Release Team didn't know that the red jobs related to still seriously broken stuff.  For that matter, I don't know wh

[2019-07-03 12:47] wojtek-t commented on #347
Our team was aware of release date - there wasn't much more we could do (given that some people including myselft were also on vacation at that time).
TBH - I'm not sure there was a communication issue here - the problem is that it seems to be (or at least that is my understanding of the situation) that release team wasn't treating scalability tests as something that is supposed to pass to block r

[2019-07-05 16:08] hoegaarden opened #713 "Cut 1.13.8 release"
Scheduled to happen: Monday, 2019-07-08

- [x] screen shot `release-1.13`'s unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](/link-to-slack-message)

  - [ ] collect metrics, links, ... and add them as a comment

- [ ] build & publish packages (debs & rpms)
- [ ] send notifi

[2019-07-05 16:11] hoegaarden opened #714 "Cut 1.14.4 release"
Scheduled to happen: Monday, 2019-07-08

- [x] screen shot `release-1.14`'s unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](/link-to-slack-message)

  - [ ] collect metrics, links, ... and add them as a comment

- [ ] build & publish packages (debs & rpms)
- [ ] send notifi

[2019-07-08 08:27] hoegaarden commented on #713
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.13-blocking](https://testgrid.k8s.io/sig-release-1.13-blocking)
- [sig-release-1.13-informing](https://testgrid.k8s.io/sig-release-1.13-informing)

<details><summary><tt>2019-07-08 09:25:17+0100</tt> FLAKY sig-release-1.13-blocking#gce-cos-k8sstable2-default <a href="https://testgrid.k8s.io/sig-release-1.13-blocking#gce-co

[2019-07-08 08:29] hoegaarden commented on #714
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking)
- [sig-release-1.14-informing](https://testgrid.k8s.io/sig-release-1.14-informing)

<details><summary><tt>2019-07-08 09:27:50+0100</tt> FLAKY sig-release-1.14-blocking#gce-cos-k8sstable1-default <a href="https://testgrid.k8s.io/sig-release-1.14-blocking#gce-co

[2019-07-08 11:36] hoegaarden commented on #713
**v1.13.8** (+ v1.13.9-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.13 --official --build-at-head --nomock | https://console.cloud.google.com/gcr/builds/142b126a-27ad-4f76-b6fd-9a95f668e32f?project=648026197307 | Jul 8 8:34:48 | July 8 9:52:

[2019-07-08 11:37] hoegaarden commented on #714
**v1.14.4** (+ v1.14.5-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.14 --official --build-at-head --nomock | https://console.cloud.google.com/gcr/builds/7cf6e004-82fb-4aca-98de-dfa39f279305?project=648026197307 | July 8 8:38:41 | July 8 10:1

[2019-07-08 15:58] imkin commented on #658
#669 is merged. Hence closing this one. /close

[2019-07-08 16:01] imkin commented on #631
I believe we have made the transition of the roles. During 1.16 release as we learn new gaps we should fill them. For now I believe the docs reflect the transfer of responsibilities.

[2019-07-08 16:14] jberkus commented on #347
Adding issue now.

That can't be hard requirement, because some tests are in master-informing specifically because there isn't a responsive team behind them (unlike the performance tests).  However, I think it's worth an addition to the CI signal handbook specifically about the performance tests.

[2019-07-08 16:29] jberkus opened #717 "Add notes on handling Blocking vs. Informing for CI signal"
Per discussion [here](https://github.com/kubernetes/sig-release/issues/347#issuecomment-507537974), we need to add notes on how to handle Blocking vs. Informing in the CI signal handbook.  Also, some special notes about performance tests and upgrade tests.

[2019-07-08 16:29] jberkus commented on #717
/assign
/kind documentation
/priority important-soon
/milestone v1.16

[2019-07-08 23:50] imkin commented on #648
I guess its good to close this now.

[2019-07-08 23:59] imkin commented on #658
/close

[2019-07-08 23:59] #658 closed

[2019-07-09 02:35] jeefy commented on #648
I think this should stay open till @justaugustus has sent out feedback/messages to the unselected shadows.

That's the final loop to close on this.

[2019-07-09 08:34] hoegaarden commented on #713
/close

[2019-07-09 08:34] #713 closed

[2019-07-09 12:26] yastij opened #718 "machine readable release schedule"
Currently our release planning is published a markdown. this issue tracks the move toward a more machine-friendly format (e.g. yaml) that users can use as release signal

/assign
/area release-eng
/priority important-soon
/kind cleanup

[2019-07-09 12:32] yastij commented on #718
@justaugustus - should the release handbook be updated too ? If yes, can you point me where ?

Thanks

[2019-07-10 11:15] hoegaarden commented on #714
/close

[2019-07-10 11:15] #714 closed

[2019-07-10 12:34] justaugustus commented on #718
@yastij -- I'm planning to sweep the [Branch Manager](https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/branch-manager.md) and [Patch Release Team](https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/patch-release-manager.md) now that both groups have moved under Release Engineering.

I think it would still be great to hav

[2019-07-10 12:35] justaugustus commented on #718
/milestone v1.16
/sig release

[2019-07-10 12:37] justaugustus commented on #648
This is now complete.
Thank you everyone who volunteered! :)

/close

[2019-07-10 12:37] #648 closed

[2019-07-11 21:13] justaugustus commented on #601
Notice sent to k-dev, @kubernetes/sig-release, @kubernetes/release-team, and @kubernetes/release-engineering regarding the merged changes in https://github.com/kubernetes/kubernetes/pull/79366: https://groups.google.com/d/topic/kubernetes-dev/cTaYyb1a18I/discussion

[2019-07-11 21:14] yastij commented on #601
also error message improvements here: kubernetes/kubernetes#80060

[2019-07-12 02:46] alejandrox1 commented on #611
/milestone v1.16

[2019-07-16 21:28] BenTheElder opened #723 "new issue templates"
currently the only issue template is for cutting a release, we should probably add some more templates

<img width="1035" alt="Screen Shot 2019-07-16 at 2 26 51 PM" src="https://user-images.githubusercontent.com/917931/61331078-0594f980-a7d6-11e9-8071-9ffa85228184.png">

cc @justaugustus

[2019-07-16 21:31] BenTheElder opened #724 "moving sigs.k8s.io/kind CI into release blocking"
In particular https://testgrid.k8s.io/conformance-kind#kind%20(IPv6),%20master%20(dev)&width=5 would be a candidate to be our only IPv6 release-blocking signal.

This has been pretty stable for a few quarters now, with failing jobs generally being due to actual Kubernetes breakage (which has been fixed each time!)

cc @aojea @justaugustus @spiffxp

[2019-07-16 21:35] jberkus opened #725 "Add definitional documentation for Blocking, Informing test jobs to Sig-Release development docs"
This last documentation task will close out  #347.

[2019-07-16 21:35] jberkus commented on #725
/kind documentation
/area testing
/assign
/milestone v1.16

[2019-07-17 00:16] justaugustus opened #726 "Cut 1.16.0-alpha.1 release"
Scheduled to happen: Tue, 2019-07-16

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1563307153352900)
  - [x] collect metrics, links, ... and add them as a comment
- [x] send notification [email](

[2019-07-17 00:16] justaugustus commented on #726
![Screenshot from 2019-07-16 20-15-46](https://user-images.githubusercontent.com/567897/61338259-971c5f80-a806-11e9-80ea-36b5255cdd29.png)
![Screenshot from 2019-07-16 20-15-31](https://user-images.githubusercontent.com/567897/61338260-971c5f80-a806-11e9-96f1-3567c359e9b2.png)

[2019-07-17 00:18] justaugustus commented on #726
**v1.14.0-beta.0**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   | [skipped]
mock release | - |   |   |   |   | [skipped]
stage | ./gcbmgr stage release-1.14 --build-at-head --nomock | https://console.cloud.google.com/cloud-build/builds/8bdb5d9c-8d1f-4cf6-88cf-5b29d5cb7e9f?project=kubernetes-release-test | Tue Feb 19 13:52

[2019-07-17 07:22] justaugustus commented on #726
/assign
/milestone v1.16
/priority important-soon
/close

[2019-07-17 07:22] #726 closed

[2019-07-17 14:10] justaugustus commented on #726
Videos up on YouTube...
- Kubernetes 1.16.0-alpha.1 Live Release (Part One): https://youtu.be/VYhBqBoeAVY
- Kubernetes 1.16.0-alpha.1 Live Release (Part Two): https://youtu.be/aOyZGleHGf0

[2019-07-22 17:57] guineveresaenger opened #729 "Update and clarify release notes process for k/k pull requests"
We have a lot of new processes and tools for improving our release notes, and need to make sure that someone opening a k/k pull request does not experience major stumbling blocks.

Currently, the [pull request template](https://github.com/kubernetes/kubernetes/blob/master/.github/PULL_REQUEST_TEMPLATE.md) links to the [release notes doc](https://github.com/kubernetes/kubernetes/blob/master/.github

[2019-07-22 18:09] saschagrunert commented on #729
Thanks for the issue creation @guineveresaenger 🙏 We still have to implement the display  of the new docs section in the release notes website. I will propose a PR in the next couple of days if no one else is already planning to do this.

[2019-07-23 20:52] spiffxp commented on #631
/close
Please reopen if there is any work that remains to be done here

[2019-07-23 20:52] #631 closed

[2019-07-23 20:58] spiffxp commented on #725
What docs need to be updated?

The following docs currently reference release-infoming:
- https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#release-informing-criteria
- https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/ci-signal/README.md#priority-labels

[2019-07-23 21:00] spiffxp commented on #347
https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#release-informing-criteria currently says

[2019-07-23 21:01] spiffxp commented on #724
/milestone v1.16
/sig release
/sig testing
/assign

[2019-07-23 21:01] spiffxp commented on #724
/priority important-soon

[2019-07-23 21:02] spiffxp commented on #724
The linked job is currently failing (it's running a `[Serial]` Conformance test, probably shouldn't be)

[2019-07-23 21:04] aojea commented on #724
@spiffxp the fix is here https://github.com/kubernetes/kubernetes/pull/80398

The problem was because that job was recently promoted to conformance, but due to the lack of IPv6 testing, we couldn´t detect it until it was merged

[2019-07-23 22:17] spiffxp commented on #378
Ping, I feel like recent work on release-engineering is falling into some of these gaps, WDYT about updating the charter to reflect this?

[2019-07-23 22:51] spiffxp commented on #432
/milestone clear
/assign @guineveresaenger
this sounds like what you're looking to use project board automation for

I got as far as https://github.com/spiffxp/gitable/tree/breaking-changes to use something to scrape github into airtable.  I ended up abandoning because at the time the free version of airtable wasn't amenable to charting/aggregating.  Also, either the api or golang bindings didn't

[2019-07-25 21:48] justaugustus commented on #223
Mentioned on the [Community meeting last week](https://youtu.be/RWbNg4Wjwpg?t=1337) that @nikhita will be managing the Licensing subproject to give me an opportunity to focus on building out the Release Engineering subproject.

/unassign

[2019-07-26 00:30] justaugustus opened #732 "Process and communication improvements for Release Engineering"
Some near term goals in my head:
- [ ] (https://github.com/kubernetes/sig-release/issues/897) Ensure SIG Release Chairs own all SIG Release assets
- [x] Dedupe SIG Release communication channels where possible/appropriate
- [x] Grant access to release GCP projects via Google Groups, instead of per user

So concretely, what I'd like to do:
- [x] (SIG Release) Have all SIG Release Chairs, Patch Rele

[2019-07-26 15:25] liggitt commented on #732
@tpepper and @justaugustus are added as managers of the list, and can add/manager additional members/managers

[2019-07-26 15:26] liggitt commented on #732
Given the type of communications sent to the security release team list, I think the list name should reflect it's security-sensitive or private nature.

[2019-07-26 15:49] justaugustus commented on #732
@liggitt @jonpulsifer -- sounds good.
How's:
- private: release-managers-private@kubernetes.io
- public: release-managers@kubernetes.io

[2019-07-26 16:14] liggitt commented on #732
that seems reasonable

[2019-07-26 16:14] jonpulsifer commented on #732
+1, sgtm

[2019-07-26 19:47] aojea commented on #724
@BenTheElder @spiffxp the ipv6 kind is green again, the job.is pretty stable, the failures were known issues due to a new test promoted to conformance that wasn't ready for ipv6

[2019-07-29 07:04] idealhack commented on #732
+1

Let me know which I can help with.

[2019-07-29 14:06] saschagrunert commented on #667
@jeefy do we want to close this or is there anything else which needs to be done? :)

[2019-07-29 15:01] jeefy commented on #667
🌮

/close

[2019-07-29 15:01] #667 closed

[2019-07-29 16:32] cpanato commented on #732
+1
let me know as well where i can help

[2019-07-29 17:08] justaugustus opened #734 "Travel sponsorship considerations for SIG Release members"
Several roles in SIG Release require sustained contributions to the project over multiple quarters (the Release Team in particular comes to mind here).

We should have a process in place for SIG Release Chairs and SIG Release subprojects owners e.g., Release Team Lead, to present a set of candidates to be considered for travel sponsorship for KubeCon/CloudNativeCon.

Once https://github.com/kubern

[2019-07-29 17:32] justaugustus commented on #732
@idealhack @cpanato -- Most of this will need to be handled by administrators of the relevant properties (SIG Chairs, PSC, kubernetes.io GSuite Admins), but I'll let you know if there's anything we can delegate! :)

[2019-07-29 18:59] tallclair commented on #732
+1, lgtm

[2019-07-30 03:11] justaugustus commented on #668
/area release-team
/kind design documentation
/milestone v1.16
/priority important-soon
/help

[2019-07-30 03:54] justaugustus commented on #245
/area release-eng

[2019-07-30 03:56] justaugustus commented on #320
/area release-team
/milestone v1.16

[2019-07-30 04:31] justaugustus commented on #369
/milestone v1.16

[2019-07-30 04:33] justaugustus commented on #465
/milestone v1.16

[2019-07-30 04:46] justaugustus commented on #450
/milestone v1.16

[2019-07-30 04:47] justaugustus commented on #607
/milestone v1.16

[2019-07-30 04:47] justaugustus commented on #319
/milestone v1.16

[2019-07-30 04:48] justaugustus commented on #319
/area release-team

[2019-07-30 04:49] justaugustus commented on #454
/unassign @jimangel
/assign
/milestone v1.16
/priority important-longterm

[2019-07-30 04:54] justaugustus commented on #493
/milestone v1.16
/sig pm
/kind feature

[2019-07-30 04:55] justaugustus commented on #546
/milestone v1.16
/priority important-soon

[2019-07-30 04:57] justaugustus commented on #574
Looks like we're done with this! :tada:
/close

[2019-07-30 04:57] #574 closed

[2019-07-30 04:58] justaugustus commented on #623
/close

[2019-07-30 04:58] #623 closed

[2019-07-30 05:02] justaugustus commented on #425
/kind cleanup
/remove-area release-team

[2019-07-30 05:04] justaugustus commented on #432
/milestone v1.16

Who's owning this at the moment? @mrbobbytables ?

[2019-07-30 05:06] justaugustus commented on #457
/milestone v1.16
/unassign @spiffxp @BenTheElder @marpaia
/assign @lachie83 @nikopen @jeefy @guineveresaenger
/kind cleanup

[2019-07-30 05:10] justaugustus commented on #617
This is complete with the creation of the Kubernetes Release Calendar: https://bit.ly/k8s-release-cal
/assign
/kind feature
/close

(@sNathan13 -- apologies for missing your note. This is something that would've required admin permissions on our calendars.)

[2019-07-30 05:10] #617 closed

[2019-07-30 05:12] justaugustus commented on #193
/remove-priority important-longterm
/priority important-soon

[2019-07-30 09:13] idealhack opened #735 "Cut 1.16.0-alpha.2 release"
Scheduled to happen: Tue, 2019-07-30

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1564494155067000)

  - [x] collect metrics, links, ... and add them as a comment

- [x] send notification [emai

[2019-07-30 11:55] justaugustus commented on #390
/remove-lifecycle stale

[2019-07-30 13:41] idealhack commented on #735
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)

<details><summary><tt>2019-07-30 22:31:23+0900</tt> FAILING sig-release-master-blocking#gce-cos-master-alpha-features <a href="https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features&width=30">[testgrid]</a></summary><p>

![sig-release-

[2019-07-30 20:52] spiffxp commented on #724
/assign @BenTheElder

[2019-07-30 20:57] spiffxp commented on #724
I would like to see both ipv4 and ipv6

We know kind supports Conformance tests and would like to start there.  I am interested in seeing kind run more than Conformance tests.  The options I see there are:
- do what we do for the current release-blocking jobs: allow tests to be added over time, kick them out if they're harming signal
- use canary jobs to add in tests and verify the canary jobs rem

[2019-07-30 21:07] aojea commented on #724
@spiffxp we have a PR that is running all non Slow, Disruptive,Flaky, Feature e2e tests and a Skip regex for the e2e tests that are failing in kind (some of them fail because kind doesn´t allow ssh or mounting nfs volumes inside the nodes, ...)
https://github.com/kubernetes-sigs/kind/pull/701/files

[2019-07-31 08:34] justaugustus commented on #411
Doodle poll up for meeting times: https://doodle.com/poll/z5i65er4hymr3s4h

/remove-help
/priority important-soon
/remove-priority important-longterm
/kind feature

[2019-07-31 08:55] justaugustus commented on #411
Notice sent to MLs: https://groups.google.com/d/topic/kubernetes-sig-release/jw2UV-fKjEY/discussion

[2019-07-31 09:30] justaugustus commented on #601
build/external: Move dependencies.yaml and update OWNERS - https://github.com/kubernetes/kubernetes/pull/80799

[2019-07-31 09:59] justaugustus opened #737 "Invite Doug MacEachern and Yang Li to join Patch Release Team"
Recognizing the work that @dougm and @idealhack have done over the past few cycles as Branch Managers, I'd like to invite them both to become Patch Release Team members.

@dougm to start within the 1.16 cycle, and @idealhack to join starting in the 1.17 cycle.

This will give us even more coverage for patch releases and give an opportunity to audit and document the access we enable for Patch Relea

[2019-07-31 15:12] idealhack commented on #737
@justaugustus thanks for the invitation, I'm glad to join the patch release team :)

[2019-07-31 15:24] dougm commented on #737
@justaugustus Thanks for the invite, count me in too!

[2019-07-31 21:00] jeefy commented on #193
/assign @saschagrunert

/cc @onyiny-ang

[2019-07-31 21:06] spiffxp commented on #696
I would suggest that branch management is the role that should handle "what 'channel' (beta/stable1/stable2/stable3) corresponds to which version?"
- the `beta` channel should only exist after the `release-1.y` branch is cut, and be unused after the `v1.y.0` release is cut (aka during the period that builds being cut have the word `beta` in them, and the branch manager is running `branchff` and ha

[2019-08-01 02:54] idealhack commented on #696
/sig release
/area release-eng
/priority important-longterm

cc @kubernetes/release-engineering

[2019-08-01 07:15] BenTheElder commented on #347
This is sort of the mechanism by which people review PRs ... I really hope you are not missing 75% or more of these 😕

What is the concrete ask here?

That's not really reasonable, policies should be expected to evolve, not be set in stone, and tomorrow I may introduce some unforeseen form of testing that we need to account for.

I also don't think we should be trying to handle soak testing at all

[2019-08-01 07:58] #735 closed

[2019-08-03 01:11] idealhack commented on #578
https://github.com/kubernetes/sig-release/pull/671 fixed this, looks like we can close this.

[2019-08-03 01:11] #578 closed

[2019-08-03 01:24] idealhack commented on #632
this was done in https://github.com/kubernetes/sig-release/pull/689, closing

[2019-08-03 01:24] #632 closed

[2019-08-05 08:41] hoegaarden opened #738 "Cut 1.13.9 release"
Scheduled to happen: Mon, 2019-08-05

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] collect metrics, links, ... and add them as a comment

- [ ] build & publish packages (debs & rpms)
- [ ] send notification [email](/link-to-email-on-kubernetes-announce-google-group)

/milestone v1.13
/sig release
/area release-team
/assign @listx @hoe

[2019-08-05 08:42] hoegaarden opened #739 "Cut 1.14.5 release"
Scheduled to happen: Mon, 2019-08-05

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] collect metrics, links, ... and add them as a comment

- [ ] build & publish packages (debs & rpms)
- [ ] send notification [email](/link-to-email-on-kubernetes-announce-google-group)

/milestone v1.14
/sig release
/area release-team
/assign @listx @hoe

[2019-08-05 08:43] hoegaarden opened #740 "Cut 1.15.2 release"
Scheduled to happen: Mon, 2019-08-05

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] collect metrics, links, ... and add them as a comment

- [x] build & publish packages (debs & rpms)
- [x] send notification [email](/link-to-email-on-kubernetes-announce-google-group)

/milestone v1.15
/sig release
/area release-team
/assign @listx @hoe

[2019-08-05 08:46] hoegaarden commented on #738
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.13-blocking](https://testgrid.k8s.io/sig-release-1.13-blocking)

<details><summary><tt>2019-08-05 09:45:38+0100</tt> FLAKY sig-release-1.13-blocking#gce-cos-1.13-scalability-100 <a href="https://testgrid.k8s.io/sig-release-1.13-blocking#gce-cos-1.13-scalability-100&width=30">[testgrid]</a></summary><p>

![sig-release-1.13-

[2019-08-05 08:47] hoegaarden commented on #739
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking)

<details><summary><tt>2019-08-05 09:47:18+0100</tt> FLAKY sig-release-1.14-blocking#gce-cos-k8sstable1-default <a href="https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-k8sstable1-default&width=30">[testgrid]</a></summary><p>

![sig-release-1.14-bloc

[2019-08-05 08:50] hoegaarden commented on #740
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking)

<details><summary><tt>2019-08-05 09:50:05+0100</tt> FLAKY sig-release-1.15-blocking#gce-cos-k8sbeta-default <a href="https://testgrid.k8s.io/sig-release-1.15-blocking#gce-cos-k8sbeta-default&width=30">[testgrid]</a></summary><p>

![sig-release-1.15-blocking#g

[2019-08-05 12:10] hoegaarden commented on #738
**v1.13.9** (+ v1.13.10-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.13 --official --nomock | https://console.cloud.google.com/gcr/builds/e8576589-2fb2-4411-b468-003563b6f18f?project=648026197307 | Mon Aug 5 9:10:11 | Mon Aug 5 10:32:01 | 81

[2019-08-05 12:10] hoegaarden commented on #739
**v1.14.5** (+ v.1.14.6-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.14 --buildversion=v1.14.5-beta.0.7+0e9fcb426b100a --official --nomock | https://console.cloud.google.com/gcr/builds/e47d7180-4bc6-4f62-b5fd-3f5faa43b2d5?project=64802619730

[2019-08-05 12:11] hoegaarden commented on #740
**v1.15.2** (+ v.1.15.3-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.15 --official --nomock | https://console.cloud.google.com/gcr/builds/48c239eb-1e06-47f1-848f-280fd32ff6f8?project=648026197307 | Mon Aug 5 9:10:51 | Mon Aug 5 10:42:44 | 91

[2019-08-05 12:45] jeefy commented on #605
/remove-lifecycle stale

[2019-08-05 15:00] guineveresaenger commented on #729
@saschagrunert do we have any updates on this? Thank you! 🙇‍♀

[2019-08-05 15:14] saschagrunert commented on #729
Yes, the major implementation has been done in
- https://github.com/kubernetes-sigs/release-notes/pull/76
- https://github.com/kubernetes-sigs/release-notes/pull/81

We still want to be able to filter these docs on the website, where I will start working on corresponding issue (https://github.com/kubernetes-sigs/release-notes/issues/82) in the upcoming days.

For sake of automation we have this on

[2019-08-05 15:21] imkin opened #743 "Merging the tasking of turning of jobs for 1.12 release and creating jobs for 1.16 release"
The task `release-1.12 jobs removed` in the [release 1.16 timelines](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.16#timeline) needs to be moved to week 7 ( and hence merged with `release-1.16 jobs created` task).

To do this we should do the following

- [x] fix the [readme](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.16/README.md)
- [x] fi

[2019-08-05 16:42] lachie83 commented on #743
Updated calendar - there is currently no template for the release schedule however I will look into creating one.

[2019-08-05 16:42] lachie83 commented on #743
All tasks complete - closing

[2019-08-05 16:42] #743 closed

[2019-08-06 01:30] philips commented on #732
@justaugustus what will the release-managers@kubernetes.io list be used for? Do you think we should consider using the https://github.com/kubernetes/k8s.io/blob/fc4218bdc7de25fc2fe4b7dca00d61c5bde61366/groups/groups.yaml automation?

[2019-08-06 01:32] justaugustus opened #746 "Auditing Release Managers who are responsible for upholding the security embargo"
We have a few contributors within the Release Managers group, who must agree to uphold the Kubernetes security embargo due to the sensitive communications they receive.

While some of this is assumed, I want to capture this in an issue for future auditability.

## Already agreed
### Patch Release Team
- Aleksandra Malinowska ([@aleksandra-malinowska](https://github.com/aleksandra-malinowska))
- Ha

[2019-08-06 01:40] dims commented on #732
@philips i have been thinking the same thing. though currently the automation that drives the groups.yaml has a hard coded prefix `k8s-infra-` to avoid stomping existing google groups. i have to figure out how to do better ..

[2019-08-06 01:42] idealhack commented on #746
I agree to uphold the Kubernetes security embargo.

[2019-08-06 02:17] justaugustus commented on #732
@philips -- @jbeda created the group for me earlier. I've closed out the steering issue (https://github.com/kubernetes/steering/issues/115). We'll use release-managers@kubernetes.io for general communications for all [Release Managers](https://github.com/kubernetes/sig-release/blob/master/release-managers.md) and release-managers-private@kubernetes.io for private comms (PSC + internal comms for Pa

[2019-08-06 02:20] justaugustus commented on #737
Pending agreement to Kubernetes security embargo: https://github.com/kubernetes/sig-release/issues/746

[2019-08-06 02:27] dougm commented on #746
I agree to uphold the Kubernetes security embargo.

[2019-08-06 02:39] justaugustus commented on #732
The mailing list changes have been approved in this thread.
I've issued a PR (https://github.com/kubernetes/sig-release/pull/747) to change the references to mailing lists and a lazy consensus period of Wednesday, 8/7 at 6pm ET.

I'll wait until that time passes and [all potential members of the private mailing list have agreed to uphold the security embargo](https://github.com/kubernetes/sig-rele

[2019-08-06 03:01] justaugustus commented on #732
Notified k-security-discuss, release-managers, k-release-managers-private, k-sig-release, k-release-team, steering, community of changes and lazy consensus period: https://groups.google.com/d/topic/kubernetes-sig-release/xHrHQcjwWjk/discussion

[2019-08-06 18:11] justaugustus opened #748 "Granting Carlos Panato (Release Manager Associate) temporary GCP access to cut 1.16.0-alpha.3"
We'd like to grant @cpanato temporary GCP access to cut Kubernetes 1.16.0-alpha.3.
Carlos is Release Manager Associate and has consistently been interested and active on Release Engineering issues/PRs/meetings.

Unfortunately, we currently don't have an easy/simple way to grant a minimal set of permissions for Release Managers Associates to get involved with the release process, but temporary acce

[2019-08-06 18:11] justaugustus commented on #748
cc: @idealhack

[2019-08-06 18:43] justaugustus commented on #748
I've granted @cpanato `OSS Kubernetes Release Manager` and `Viewer` roles within the `kubernetes-release-test` GCP project, which will give him the requisite access to cut the 1.16.0-alpha.3 release.

[2019-08-06 19:59] guineveresaenger commented on #748
acknowledged - thank you @justaugustus!

[2019-08-07 09:20] cpanato opened #750 "Cut 1.16.0-alpha.3 release"
Scheduled to happen: Wed, 2019-08-07

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): https://kubernetes.slack.com/archives/C2C40FMNF/p1565193737174100
  - [x] collect metrics, links, ... and add them as a comment

- [x] send notification [email](/link-to-email-on-

[2019-08-07 10:40] cpanato commented on #750
**v1.16.0-alpha.3**

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | ./gcbmgr stage master | https://console.cloud.google.com/cloud-build/builds/28aa4685-746c-4479-b65e-8b1f0ab39250?project=kubernetes-release-test  | August 7, 2019 at 11:42:17 AM UTC+2 | August 7, 2019 at  12:35:10 UTC+2 | 52 min 54 sec  |
mock release | - |   |   |   |   | [s

[2019-08-07 11:04] cpanato commented on #750
![Screenshot 2019-08-07 at 13 03 37](https://user-images.githubusercontent.com/4115580/62618153-cf015900-b913-11e9-8009-4f8c6da4adb6.png)
![Screenshot 2019-08-07 at 13 03 29](https://user-images.githubusercontent.com/4115580/62618155-cf99ef80-b913-11e9-81d1-2dd62c82b77a.png)

[2019-08-07 11:52] idealhack commented on #750
you can use the [screenshot capture tool](https://gist.github.com/hoegaarden/0e9aab9d29885074a0f60f8398880397) :)

[2019-08-07 12:03] cpanato commented on #750
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2019-08-07 14:03:18+0200</tt> FAILING sig-release-master-informing#GCE, master (dev) <a href="https://testgrid.k8s.io/sig-release-master-informing#GCE, m

[2019-08-07 16:28] hoegaarden commented on #740
/close

Thanks @listx for the packages & @tpepper for the notification and release notes follow-up

[2019-08-07 16:28] #740 closed

[2019-08-07 16:29] hoegaarden commented on #739
/close

Thanks @listx for the packages & @tpepper for the notification and release notes follow-up

[2019-08-07 16:29] #739 closed

[2019-08-07 16:33] hoegaarden commented on #738
/close

Thanks @listx for the packages & @tpepper for the notification and release notes follow-up

[2019-08-07 16:33] #738 closed

[2019-08-07 17:26] cpanato commented on #750
changelog are here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md/#v1160-alpha3

[2019-08-07 17:28] cpanato commented on #750
alpha release is done, closing this
/close

[2019-08-07 17:28] #750 closed

[2019-08-07 17:29] cpanato commented on #748
@justaugustus alpha release is cut you can revoke my access

thanks so much for the trust on me <3

[2019-08-07 17:29] cpanato commented on #750
/milestone v1.16
/priority important-soon

[2019-08-07 18:19] listx commented on #746
I agree to uphold the Kubernetes security embargo.

[2019-08-07 22:54] justaugustus commented on #732
Lazy consensus for mailing lists changes has been achieved.

@jbeda has granted me owner access to security-release-team@kubernetes.io and I've changed the list email address to release-managers-private@kubernetes.io.
Holds have been released on https://github.com/kubernetes/sig-release/pull/747 and https://github.com/kubernetes/test-infra/pull/13793.

[2019-08-08 01:56] justaugustus commented on #748
Closing the loop on this. Thanks for releasing today, @cpanato!
/close

[2019-08-08 01:56] #748 closed

[2019-08-08 02:48] justaugustus commented on #732
Documentation updates: https://github.com/kubernetes/security/pull/45, https://github.com/kubernetes/sig-release/pull/751

[2019-08-09 17:55] jberkus commented on #347
Yep, and this is exactly why the large scalability tests are back in Informing.  I just need to update some documentation and we can close this issue.

[2019-08-10 00:18] justaugustus commented on #732
Before granting release-managers-private@kubernetes.io GCP access, I'd like to clean up membership leaving only Release Managers.

Any issues with removing the following people?
- sc1 (@philips)
- @cjcullen
- @liggitt
- @tallclair

Additionally, can we create `security-release@kubernetes.io`, which would contain:
- security@kubernetes.io
- release-managers-private@kubernetes.io

Per @tallclair's s

[2019-08-12 15:28] tpepper commented on #411
/close
We are now meeting 8am Pacific Mondays for SIG Release and Release Engineering (alternating weeks).

[2019-08-12 15:28] #411 closed

[2019-08-12 15:28] jberkus opened #755 "Cross-over selected Cluster Lifecycle upgrade tests to master-informing"
Currently we only have the KIND upgrade test job in master-informing, which is too limited to constitute a full set of upgrade tests.  SIG-Cluster-Lifecycle's Kubeadm-based test jobs have become a more reliable source of signal.  As such, we need to look at which of these test to include in sig-release-master-informing, and potentially sig-release-1.x.y-informing, depending on SCL's willingness to

[2019-08-12 15:30] jberkus commented on #755
cc:

@lachie83 @alejandrox1

[2019-08-12 15:37] tpepper commented on #734
Steering is discussing this and hoping to formalize a process (like the diversity scholarship process), but that wont be ready in time for the upcoming KubeCon North America 2019.  For that conference there will be an ad-hoc process.

If you're struggling to find a way to KubeCon, bring it up with your SIG chair and ask them to bring it up with SIG Contributor Experience.

[2019-08-12 15:48] tpepper commented on #539
Since a release team hasn't implemented something, could tooling be build from somebody in Release Engineering?

Or are alternatives such that we can close this?

[2019-08-12 15:49] tpepper commented on #539
@justaugustus it seems like this is not priority critical urgent, can we demote it since there's been no work?

[2019-08-12 15:59] neolit123 commented on #539
please, note that i'm fine with closing this ticket especially after the discussion that alternative approaches can be taken. sadly, i forgot most of the details on this topic.

[2019-08-12 16:20] jeefy commented on #668
/assign @saschagrunert

[2019-08-12 16:21] jeefy commented on #347
/assign @jberkus

[2019-08-12 16:25] jeefy commented on #465
/assign @alejandrox1

Thanks!

[2019-08-12 16:27] jeefy commented on #450
/assign @jimangel

[2019-08-12 16:28] jeefy commented on #193
/close

[2019-08-12 16:28] #193 closed

[2019-08-12 16:29] jeefy commented on #458
/assign @lachie83

@justaugustus Lachie'll take this on unless you really want to :)

[2019-08-12 16:31] jeefy commented on #320
/assign

[2019-08-13 07:12] justaugustus opened #756 "Cut 1.16.0-beta.0 release"
Scheduled to happen: Tue, 2019-08-13

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1565687087120800)
  - [x] collect metrics, links, ... and add them as a comment

- [x] send notification [

[2019-08-13 07:16] wojtek-t commented on #347
I actually bet I do if people don't ping me directly. I just opened a list of those where I was reviewer and I didn't see majority of those. If something is critical and really requires my attention, I should be at the very least assigned as approver (those I'm trying to follow, but I'm also missing some percentage of those).

I disagree with that. We shouldn't create a policy that we know want wo

[2019-08-13 07:27] justaugustus commented on #756
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2019-08-13 03:26:50-0400</tt> FAILING sig-release-master-blocking#gce-cos-master-alpha-features <a href="https://testgrid.k8s.io/sig-release-master-block

[2019-08-13 09:28] justaugustus commented on #756
PR to update whitelisted branch managers: https://github.com/kubernetes/test-infra/pull/13869

[2019-08-13 12:36] justaugustus commented on #756
PR to update `K8S_RELEASE` variants: https://github.com/kubernetes/test-infra/pull/13870

[2019-08-13 12:50] justaugustus commented on #756
publishing-bot: https://github.com/kubernetes/kubernetes/issues/81354, https://github.com/kubernetes/kubernetes/pull/81287

[2019-08-13 19:01] BenTheElder commented on #347
This is a separate discussion but ... this kinda defeats the purpose of having assigned reviewers. Please consider dropping a note to contribex about why / how this doesn't work so we can fix this. :/

There has been no indication that we will have soak tests.

What we call soak tests now are easily among the longest failing tests we have and likely [to be removed](https://github.com/kubernetes/te

[2019-08-13 22:07] justaugustus commented on #756
Merged https://github.com/kubernetes/test-infra/pull/13876, which carries the commits from https://github.com/kubernetes/test-infra/pull/13870.

[2019-08-14 00:57] justaugustus commented on #756
PR to add `release-1.16` branch jobs: https://github.com/kubernetes/test-infra/pull/13882

[2019-08-14 01:12] justaugustus commented on #756
**v1.16.0-beta.0**

| Step | Command | Link | Start | Duration | Remarks |
| --- | --- | --- | --- | --- | --- |
| stage | `./gcbmgr stage release-1.16 --build-at-head --nomock` | https://console.cloud.google.com/cloud-build/builds/bcfd2a1e-87fd-4c59-9a35-2eb21567f859?project=kubernetes-release-test | 8/13/19, 4:57 AM | 1 hr 33 min | success |
| release | `./gcbmgr release --nomock release-1.16 --

[2019-08-14 01:13] justaugustus commented on #756
(I still have some write-ups to do here, before closing this issue out.)

[2019-08-14 01:13] justaugustus commented on #756
Release branch jobs have been updated: https://github.com/kubernetes/test-infra/pull/13882

[2019-08-14 04:22] nikhita commented on #756
PR to add pull-kubernetes-{dependencies,verify} jobs for 1.16: https://github.com/kubernetes/test-infra/pull/13885
Issue to ensure this don't need manual forking: https://github.com/kubernetes/test-infra/issues/13886

[2019-08-14 04:54] justaugustus commented on #756
/area release-eng
/priority important-soon

[2019-08-14 07:50] justaugustus commented on #756
Branch Manager handbook updates: https://github.com/kubernetes/sig-release/pull/757

[2019-08-14 07:57] justaugustus commented on #607
/assign @hoegaarden

Hannes, can we get this tool PRed to k/release and provide some instructions for usage in the releng docs? It seems to be providing value and I kind of had to dig around for it for [1.16.0-beta.0](https://github.com/kubernetes/sig-release/issues/756).

[2019-08-14 07:57] justaugustus commented on #607
/remove-help

[2019-08-14 08:04] justaugustus opened #758 "Update GH template for release cuts"
/assign

[2019-08-14 08:05] justaugustus commented on #756
/close

[2019-08-14 08:05] #756 closed

[2019-08-14 08:13] justaugustus commented on #756
Ahh, right. Hannes also made some fixes to the tooling, which I want to make sure to capture here:
- https://github.com/kubernetes/release/pull/841
- https://github.com/kubernetes/release/pull/842
- https://github.com/kubernetes/release/pull/843

Thanks @hoegaarden, @nikhita, @imkin, @Katharine, and @spiffxp for your help yesterday!

[2019-08-14 10:45] justaugustus commented on #756
Enable milestoneapplier for the `release-1.16` branch: https://github.com/kubernetes/test-infra/pull/13888

[2019-08-14 21:48] justaugustus opened #759 "Document current usage of kubernetes version marker files"
There exists a set of kubernetes version marker files e.g., [`stable.txt`](https://storage.googleapis.com/kubernetes-release/release/stable.txt) which are leveraged across CI jobs, but we don't have a canonical explanation of what their values are, when they should be used/changed.

See the reviews in https://github.com/kubernetes/test-infra/pull/13870 and https://github.com/kubernetes/sig-release

[2019-08-14 23:37] spiffxp opened #761 "release-engineering roles formerly on release-team lack tombstones"
I think https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/branch-manager should at least have a tombstone pointing to https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/branch-manager.md

https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/patch-release-manager and pointing to https://github.com/kub

[2019-08-14 23:37] spiffxp commented on #761
/milestone v1.16
typo

[2019-08-15 08:49] hoegaarden commented on #607
See https://github.com/kubernetes/release/pull/845

Can do that as soon as https://github.com/kubernetes/release/pull/845 is merged.

[2019-08-16 00:42] spiffxp commented on #347
I've got an initial attempt at a dashboard that displays metrics relevant to release-blocking criteria: https://github.com/kubernetes/test-infra/issues/13879#issuecomment-521044404

http://velodrome.k8s.io/dashboard/db/job-health-release-blocking

[2019-08-16 00:44] spiffxp commented on #347
I caught that the bazel jobs were postsubmits that didn't meet the "scheduled at least 3 hours" criteria so swapped them with periodics that did https://github.com/kubernetes/test-infra/pull/13907

[2019-08-16 00:46] spiffxp commented on #347
The serial job takes way too long, and is failing due to timeout.  I think we should kick out egregious offenders, and encourage a pattern of adding a feature-specific job if the feature is truly necessary to be release-blocking.

Opened issues to start this for
- kubelet resource tracking tests: https://github.com/kubernetes/kubernetes/issues/81490
- HPA tests: https://github.com/kubernetes/kuber

[2019-08-16 17:50] tpepper commented on #347
/assign @tpepper

[2019-08-16 17:54] guineveresaenger commented on #347
/assign @guineveresaenger

[2019-08-16 18:02] spiffxp commented on #347
@msau42 is looking to split out serial storage tests into another release-blocking job as well https://github.com/kubernetes/test-infra/pull/13936

I feel like splitting tests into more parallel blocking jobs is a sound approach for now.  But, it's only going to get us but so far before we run into new limits:
- we pick up additional overhead of standup/teardown of yet another cluster
- more jobs

[2019-08-19 10:07] hoegaarden opened #764 "Cut 1.13.10 release"
Scheduled to happen: Mon, 2019-08-19

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/messages/C2C40FMNF/p1566219004306400)
  - [x] collect metrics, links, ... and add them as a comment
- [x] build & publish packages (

[2019-08-19 10:09] hoegaarden opened #765 "Cut 1.14.6 release"
Scheduled to happen: Mon, 2019-08-19

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/messages/C2C40FMNF/p1566219004306400)
  - [x] collect metrics, links, ... and add them as a comment
- [x] build & publish packages (

[2019-08-19 10:10] hoegaarden opened #766 "Cut 1.15.3 release"
Scheduled to happen: Mon, 2019-08-19

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/messages/C2C40FMNF/p1566219004306400)
  - [x] collect metrics, links, ... and add them as a comment
- [x] build & publish packages (

[2019-08-19 10:15] hoegaarden commented on #766
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking)
- [sig-release-1.15-upgrade](https://testgrid.k8s.io/sig-release-1.15-upgrade)
- [sig-release-1.15-informing](https://testgrid.k8s.io/sig-release-1.15-informing)

<details><summary><tt>2019-08-19 11:15:07+0100</tt> FLAKY sig-release-1.15-blocking#gce-cos-k8sst

[2019-08-19 10:16] hoegaarden commented on #765
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking)
- [sig-release-1.14-upgrade](https://testgrid.k8s.io/sig-release-1.14-upgrade)
- [sig-release-1.14-informing](https://testgrid.k8s.io/sig-release-1.14-informing)

<details><summary><tt>2019-08-19 11:14:33+0100</tt> FLAKY sig-release-1.14-blocking#gce-cos-1.14-

[2019-08-19 10:16] hoegaarden commented on #764
### Testgrid dashboards
Boards checked for FAILING, FLAKY:
- [sig-release-1.13-blocking](https://testgrid.k8s.io/sig-release-1.13-blocking)
- [sig-release-1.13-upgrade](https://testgrid.k8s.io/sig-release-1.13-upgrade)
- [sig-release-1.13-informing](https://testgrid.k8s.io/sig-release-1.13-informing)

<details><summary><tt>2019-08-19 11:14:09+0100</tt> FAILING sig-release-1.13-blocking#gce-cos-k8s

[2019-08-19 10:42] hoegaarden commented on #764
**v1.13.10** (+ v.1.13.11-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.13 --official --nomock | https://console.cloud.google.com/gcr/builds/98225731-59d8-4e6c-968b-12d7398477b6?project=64802619730 | Mon Aug 19 10:20:27 |   |   |  
release |

[2019-08-19 10:43] hoegaarden commented on #765
**v1.14.6** (+ v.1.14.7-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.14 --official --nomock --buildversion=v1.14.6-beta.0.47+96fac5cd13a5dc | https://console.cloud.google.com/gcr/builds/ee6ad2e4-9f0a-4e39-b699-2ddce90814d4?project=6480261973

[2019-08-19 10:44] hoegaarden commented on #766
**v1.15.3** (+ v.1.15.4-beta.0)

step | command | link | start | end | duration | remarks
-- | -- | -- | -- | -- | -- | --
mock stage | - |   |   |   |   |  
mock release | - |   |   |   |   |  
stage | ./gcbmgr stage release-1.15 --official --nomock --buildversion=v1.15.3-beta.0.68+2d3c76f9091b6b | https://console.cloud.google.com/gcr/builds/9c5f70bd-56e0-4ac7-abae-2605085f8b5b?project=6480261973

[2019-08-19 12:34] hoegaarden opened #767 "@kubernetes/release-managers should be allowed to add issues to milestones"
When cutting a release we use the ["Cut a release" issue template][tmpl] which also set the milestone.

It seems @kubernetes/release-managers are not automatically part of @kubernetes/milestone-maintainers, which results in [@k8s-ci-robot shouting at us][annoyingBotIsAnnoying].

/kind cleanup
/area release-eng

[annoyingBotIsAnnoying]: //github.com/kubernetes/sig-release/issues/764#issuecomment-52

[2019-08-19 16:51] guineveresaenger commented on #320
/remove help

[2019-08-19 16:52] tpepper commented on #601
I propose we un-milestone 1.16 this umbrella issue and remove the area release team, assuming that the release notes team for 1.16 (@saschagrunert @onyiny-ang @cartyc @kcmartin @paulbouwer ) have the dependencies.yaml file documented and codified as the source of info for the dependencies section https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#dependencies

It may also be ab

[2019-08-19 16:53] guineveresaenger commented on #320
/remove-help

[2019-08-19 18:04] saschagrunert commented on #601
Thanks for the hint, I assume that we still update the release notes dependency section manually for 1.16. :)

[2019-08-19 21:42] hoegaarden commented on #764
/close

[2019-08-19 21:42] #764 closed

[2019-08-19 21:44] hoegaarden commented on #765
/close

[2019-08-19 21:44] #765 closed

[2019-08-19 21:45] hoegaarden commented on #766
/close

[2019-08-19 21:45] #766 closed

[2019-08-20 13:14] idealhack opened #768 "Cut 1.16-beta.1 release"
Scheduled to happen: Tue, 2019-08-20

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1566312046327900)
  - [x] collect metrics, links, ... and add them as a comment

- [x] send notification [email

[2019-08-20 14:17] idealhack commented on #768
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><s

[2019-08-21 08:12] #768 closed

[2019-08-21 08:25] idealhack commented on #761
/help

[2019-08-21 16:35] lachie83 commented on #601
/remove-area area/release-team

[2019-08-21 16:35] lachie83 commented on #601
/remove-area release-team

[2019-08-21 16:38] lachie83 commented on #607
/assign @justaugustus

[2019-08-21 16:39] lachie83 commented on #607
/remove-area release-team

[2019-08-21 16:40] lachie83 commented on #319
/assign @lachie83 @guineveresaenger

[2019-08-21 16:44] lachie83 commented on #493
It's worth answering who is this useful and where would we view it?

[2019-08-21 17:33] kacole2 commented on #493
IMO, just useful for tracking. that's about all. And this is basically tracked in the spreadsheet anyway.

[2019-08-21 21:27] justaugustus commented on #767
This is a easy one for a Release Manager Associate to pick up.
PR an update to the [`milestone-maintainers` team](https://github.com/kubernetes/org/blob/9611e0fd823d83020545236852379e3bad523d3d/config/kubernetes/sig-release/teams.yaml#L23-L126).

Include everyone in the following groups:
- [Patch Release Team](https://github.com/kubernetes/sig-release/blob/master/release-managers.md#members)
- [Br

[2019-08-21 21:27] justaugustus commented on #767
/milestone v1.16

[2019-08-21 21:31] justaugustus commented on #390
/remove-help
/assign
/kind cleanup
ref: https://github.com/kubernetes/sig-release/issues/759

[2019-08-22 12:07] idealhack commented on #696
As we have way more associates (shadows) in 1.16, we've been saying no to folks who volunteer to help because we can't simply give the powerful accesses to them (in 1.14 and 1.15 too); on the other hand, we are also confused when we want some folks who happen to have those accesses already to help because it's different than what our document looks like.

We need to develop an onboarding policy wh

[2019-08-22 23:26] justaugustus commented on #759
Decent write-up about version marker files in the body of this PR: https://github.com/kubernetes/test-infra/pull/14030
I'll use that as and [this doc](https://github.com/kubernetes/kubeadm/blob/master/docs/testing-pre-releases.md) as the basis for the usage doc.

[2019-08-23 06:54] saschagrunert commented on #729
Hey @guineveresaenger as an update the referencing PR (https://github.com/kubernetes/kubernetes/pull/81159) got merged. We still have these two open
- https://github.com/kubernetes/community/pull/4004
- https://github.com/kubernetes/kubernetes/pull/81278

Do you think we can drop https://github.com/kubernetes/kubernetes/pull/81278 from referencing here  from here since it's already related to http

[2019-08-26 09:18] guineveresaenger commented on #729
@saschagrunert yes, that sounds right to me. and 🎉 for getting that merged!

[2019-08-26 09:23] medmedchiheb commented on #767
/assign

[2019-08-26 10:10] nikhita commented on #636
/remove-lifecycle stale

[2019-08-26 23:28] jberkus opened #773 "Revise Blocking criteria around flakiness"
This issue is a follow-up from #752.

Currently, our criterion for "must not be flaky" in Release Blocking criteria is:

As both I and @spiffxp have pointed out, there are many problems with these criteria:

* What about when the job is failing because Kubernetes is actually broken?
* 75% of all runs over what period?
* The "past week"?  Past of what?
* We don't currently measure the above stats.

[2019-08-26 23:33] jberkus opened #774 "Decide on procedure for jobs entering (and leaving) Blocking"
Follow-up to #752

Currently, we have no established procedure for how a job gets added to Blocking (or Informing), and for that matter what happens when it's removed.  Questions we need to answer are:

1. How does a SIG propose a job for the sig-release boards?
2. Does it start on master-informing or somewhere else?
3. Where do we document why a job was included?
3. Who approves a job being added

[2019-08-26 23:38] jberkus opened #775 "Document process/criteria by which we decide that Informing failures are tolerable"
A current draft (#752) of the release-blocking critieria says:

We need to document further the process by which CI Signal is supposed to decide that failures in Informing can be tolerated and do not block.  Also, who decides (CI Signal/Release Lead/owning SIG?).

[2019-08-29 07:23] alenkacz commented on #774
I love the proposal @alejandrox1 ❤️

Overall owning common jobs/tests that are run before release is a hard problem. I know that many people are fighting this even inside their organizations. I know that we are.

I would love for the toil of CI signal to be spread more among all the SIGs since day 1 I joined the CI signal release team. Establishing a full-blown team inside every SIG for dealing wi

[2019-08-30 22:59] jberkus opened #776 "Assemble Kubernetes 1.17 Release Team"
Believe it or not, it's that time already if we want to have a complete team by week 2 of the release cycle.

Please [review the Release Team Selection Process docs](https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-selection.md) for details on the process and criteria.

Right now, we are calling strictly for nominees for Role Leads in this space.  Once we have a new