[2017-04-14 17:31] bgrant0607 opened #878 "Need a verify script / test to confirm that new vendored dependencies have acceptable OSS licenses"
Example: No LICENSE file:

https://github.com/reconquest/loreley

[2017-07-20 19:30] jdumars opened #1 "Finalize Release roles: Lead/secondary"
Release role recruitment has been underway for a few weeks, and the release lead and secondary need to be finalized.

[2017-07-20 19:33] jdumars opened #2 "Fill Patch Manager release role"
The open patch manager role needs to be filled by a Google engineer due to constraints in the CI implementation.

[2017-07-20 19:34] jdumars opened #3 "Fill Docs Manager release role"
We need to fill the documentation manager role.

[2017-07-20 19:36] jdumars opened #4 "Fill Bug Tracking release role"
We need to fill the bug tracking release role.

[2017-07-20 19:37] jdumars opened #5 "Fill Test Signal Lead release role"
We need to fill the testing lead role.

[2017-07-20 19:38] jdumars opened #6 "Define and fill "Marketing Manager release role""
This role was identified as a key missing element in the 1.7 Release retrospective.  We need to define the role, accountabilities, and activities ASAP as well as find someone to fill the role.

[2017-07-20 19:43] jdumars opened #7 "Finalize 1.8 schedule"
There is an outstanding [PR](https://github.com/kubernetes/features/pull/305) to finalize the release timeline, to be discussed and merged Friday, July 21st at 21:00 UTC.  Outstanding question is how best to move the final version into this repository.

[2017-07-20 19:45] jdumars opened #8 "Move existing documentation from community/sig-release here"
We need to ensure historical documentation is moved here for context and ease of use.  This process needs to be non-destructive since this change has not been radiated to the larger community.

[2017-07-21 23:23] jdumars commented on #4
Aaron Crickenberger (@spiffxp) has kindly volunteered.

[2017-07-21 23:23] #4 closed

[2017-07-21 23:24] jdumars commented on #5
Eric Chiang (ericchiang) has kindly volunteered.

[2017-07-21 23:24] #5 closed

[2017-07-21 23:25] jdumars opened #9 "Fill Test Infrastructure release role"
Volunteer needed from Google to fill the Test Infrastructure role.

[2017-07-21 23:26] jdumars commented on #9
Sen Lu (krzyzacy) has kindly volunteered.

[2017-07-21 23:26] #9 closed

[2017-07-21 23:29] jdumars commented on #7
Pending update to kubernetes-dev.  The schedule is set but requested modifications may be entered as issues.

[2017-07-21 23:32] jdumars commented on #1
Pending announcement to kubernetes-dev, and merging of [PR 354](https://github.com/kubernetes/features/pull/354) into the features repo.

[2017-07-24 12:51] luxas opened #10 "Automate deb/rpm publishing"
This is an action item issue to make sure anago takes care of pushing debs/rpms in v1.8
Now it's a really painful process to have to ping various Googlers to push the packages manually

The proposed way of fixing this is by making a new GCS bucket that is set up as a deb/rpm repo.
It must maintain the structure of the current `apt.kubernetes.io` repo.

Then, in the release process, packages will b

[2017-07-24 16:01] jdumars commented on #7
Completed.

[2017-07-24 16:01] #7 closed

[2017-07-24 16:02] jdumars commented on #1
Completed and merged into features repository.

[2017-07-24 16:02] #1 closed

[2017-07-24 18:29] mikedanese commented on #10
Who is going to work on this?

[2017-07-24 18:42] calebamiles opened #11 "Extract docs from `kubernetes/community`"
We should start collecting the documents sprinkled in `kubernetes/community` which should be maintained by SIG Release

[2017-07-24 18:43] calebamiles commented on #11
First [attempt][]

[attempt]: https://gist.github.com/calebamiles/24f362a28ed3596887e80c3b4e870e52

[2017-07-24 18:44] calebamiles commented on #11
dupe of https://github.com/kubernetes/sig-release/issues/8

[2017-07-24 18:44] #11 closed

[2017-07-24 18:44] calebamiles commented on #8
First [attempt][] at listing the docs. I'll try and extract later today.

[attempt]: https://gist.github.com/calebamiles/24f362a28ed3596887e80c3b4e870e52

[2017-07-24 19:20] luxas commented on #10
Any volunteers?
cc @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-release-feature-requests @kubernetes/sig-testing-feature-requests

[2017-07-24 23:29] timothysc commented on #10
So here is my conundrum, we need a couple of people to own this, with at least one person being a non-googler, and by own I mean they will maintain it across at least 2 releases to ensure the automation is better than what we do today.

[2017-07-25 01:52] calebamiles commented on #8
The extraction of the listed files is complete. All the old files remain in `kubernetes/community` and we will need to file a PR to update people to the new location. Marking the extraction done for now.

[2017-07-25 01:52] #8 closed

[2017-07-25 13:59] jdumars commented on #2
Joe Betz (@jpbetz) has graciously agreed to be the patch release manager.

[2017-07-25 13:59] #2 closed

[2017-07-25 14:44] jdumars commented on #3
Steve Perry from SIG Docs has kindly agreed to serve in this role.  SIG Docs will also be assigning a shadow so we can refine the process.

[2017-07-25 14:44] #3 closed

[2017-07-25 14:45] jdumars commented on #6
Swarna Podila has graciously volunteered to fill this new role.

[2017-07-25 14:45] #6 closed

[2017-07-25 14:55] ncdc commented on #10
`createrepo` (see e.g. http://www.rightbrainnetworks.com/blog/using-amazon-s3-as-a-hosted-yum-repository/).

[2017-07-25 18:02] jdumars opened #12 "Define and fill Release Notes Coordinator role"
This role needs to be fully defined by SIG-Release.

[2017-08-02 19:31] calebamiles opened #13 "Add initial structure to the repository"
One of the primary purposes of this SIG repository is to add more structure than previously existed in the `kubernetes/community` repo. I propose the following directory structure for the repo

[code]

where

- `release-process-documentation` stores process docs for the release team and the community
- `releases` contains historical information about previous releases such as the team list and the

[2017-08-02 20:48] jdumars commented on #13
/lgtm

[2017-08-02 23:06] #13 closed

[2017-08-09 16:10] jbeda opened #14 "Standard SIG metadata"
Who are the SIG leads?  What is the mailing list? When are meetings? Where are the notes and recordings?

This is all missing from here and the community repo.  See https://github.com/kubernetes/community/issues/891.

[2017-08-09 16:11] jbeda commented on #14
/assign @calebamiles

[2017-08-09 23:14] calebamiles commented on #14
Hey @jbeda we can add a forwarding link in the community repo. Communications information is listed in the [README](https://github.com/kubernetes/sig-release#join-us) and our [member file](https://github.com/kubernetes/sig-release/blob/master/members.md) unfortunately contains only Phil and I who are the leads but I'll be happy to migrate that membership list to some machine readable format as we

[2017-08-10 11:18] idvoretskyi opened #15 "Update [1.8 release team][] with shadow release lead."
Initially opened by @calebamiles at https://github.com/kubernetes/sig-release/projects/2

[2017-08-10 11:19] idvoretskyi commented on #15
@calebamiles isn't shadow release role equal to the secondary release one?

[2017-08-14 15:44] jdumars commented on #15
Agreed.  I was under the impression that the secondary lead is the shadow.

[2017-08-14 15:49] jdumars commented on #12
Completed.  Thank you Radhika and Jennifer.

[2017-08-14 15:49] #12 closed

[2017-08-14 15:52] jdumars opened #17 "Schedule recurring release team meetings"
We need a regular meeting cadence for the core 1.8 release team separate from SIG-Release.

[2017-08-14 16:35] jdumars commented on #10
It appears we do not have anyone stepping up on this.  What is the best way to widen the net?  These deliverables are an important part of the product we deliver during releases.

[2017-08-14 16:38] ncdc commented on #10
I can try to work on the rpm side of things.

[2017-08-14 16:51] mikedanese commented on #10
I agree with @timothysc's assesment. There's some significant unglamorous legwork that needs to get done here. I'll speak on RPMs since Debs seem to be covered.

Initially and potentially until the project stabilizes we will need to host our own apt repos. Reason for this: Debian self defines their stable channel as containing stable and well tested software, which changes only if major security o

[2017-08-14 16:52] mikedanese commented on #10
I looked at https://www.aptly.info/ once upon a time. Might be useful for debs.

[2017-08-14 17:57] timothysc commented on #10
Ideally with the maturing of atomic installation we could create a single container for *RPM installations backed this mechanism.  The idea of curating our own RPM channel on this side-jiggery is odd.

/cc @jasonbrooks

[2017-08-16 19:40] jdumars opened #18 "v1.8.0-alpha.3 release"
We are planning an alpha release on 8/23 with the following dependencies:

- Interim branch manager staffed from Google
- All master-blocking tests are green
- No release-blocking issues

I will report status on this issue as we move forward.

[2017-08-16 19:41] jdumars commented on #17
We're having a very hard time synchronizing schedules between time zones.  Release team activities may have to overlap directly with SIG-Release meetings.

[2017-08-16 19:44] jdumars opened #19 "Code freeze - Friday, September 1st"
Code freeze will be enforced by EOD September first.  Activities related to the freeze will be documented here.

[2017-08-16 19:46] jdumars commented on #10
Is there any remote chance we could test automating these artifacts in the upcoming v1.8.0-alpha.3 release on 8/23?

[2017-08-20 23:52] timothysc commented on #10
We need someone who is going to own maintenance of the packaging and I can work with them on it.

[2017-08-31 21:28] #18 closed

[2017-08-31 21:29] jdumars commented on #17
Sent out poll, and removing this from core activities.

[2017-09-01 11:12] idvoretskyi commented on #15
@jdumars we can close this now, right?

[2017-09-29 22:30] spiffxp commented on #10
A reminder that we once again had to rely on someone cutting these manually for v1.8.0

@abgworrall did .debs, @pipejakob did .rpms

[2017-09-29 23:29] spiffxp commented on #10
ref: https://github.com/kubernetes/release/issues/358

[2017-10-02 19:48] timothysc commented on #10
I planned on talking with @pipejakob in more detail on the next sig-cluster-lifecycle mtg about this.

[2017-10-16 23:18] #19 closed

[2017-10-16 23:18] #17 closed

[2017-10-16 23:18] #15 closed

[2017-10-17 15:10] jdumars commented on #10
Any chance this will get traction for 1.9?

[2017-10-17 16:59] enisoc commented on #10
I recently started getting familiar with the internal docs for this process, and it currently requires Google-internal commands. That likely means we'd have to port it to public infrastructure as a prerequisite to automating the steps in an open-source tool (anago). @pipejakob can correct me if I'm wrong.

As a middle ground, I'm going to see about automating via an internal script, and/or spreadi

[2017-10-17 17:41] enisoc commented on #12
Was the definition written down somewhere?

[2017-10-17 17:44] enisoc commented on #14
This seems to be fixed:

https://github.com/kubernetes/community/tree/master/sig-release
https://github.com/kubernetes/community/blob/master/sig-list.md

[2017-10-17 17:44] #14 closed

[2017-10-17 17:51] pipejakob commented on #10
@abgworrall and myself split the debs/rpms for the 1.8.0 release for expediency.

[2017-10-17 18:15] enisoc opened #20 "Generate hierarchical release notes"
There is an effort underway to generate release notes from PRs, grouped by SIG and area labels. As the release team, we should engage with them to help test the tool and give feedback.

https://github.com/kubernetes/release/pull/434
https://github.com/kubernetes/release/pull/435

[2017-10-17 19:11] enisoc commented on #10
@pipejakob Do you think it's too much work for one person? Or is it just that you wanted to minimize latency since it happens after the release already went out?

For 1.9, I'd like to absorb responsibility for pushing debs/rpms into the official release team (i.e. the branch manager, @dashpole) so it's under our full control, although we'll need help learning from those who've done it before. Does

[2017-10-17 20:43] xiangpengzhao commented on #20
ack. will join in the effort :)

[2017-10-17 21:41] Bradamant3 commented on #20
This effort can really help only after we get better written release notes. I'd like to start with the content that the sigs produce in the first place. Editing after the fact, as previous releases have shown, is a great deal more work.

[2017-10-17 22:37] enisoc commented on #20
@Bradamant3 That makes sense. What do you think is a good first step for improving the content? Publicizing a guide?

One way this hierarchical tool could help us improve content is by giving us a snapshot into the current relnotes, in a form that we can take to each SIG and give specific recommendations. For example, we could flag some sample relnotes as Good or Needs Improvement for each SIG, to

[2017-10-17 22:58] Bradamant3 commented on #20
cc @nickchase

[2017-10-17 23:02] nickchase commented on #20
@enisoc Editing after the fact can indeed be more work, but without this we'd need to do the writing from scratch anyway -- and without pre-sorted clues as to what's been accomplished -- so I think this can only help.  But I agree that this is a good way for us to have something to go back to the SIGs with.  It will also help us to see where we're either getting too many or too few release notes,

[2017-10-17 23:17] Bradamant3 commented on #20
@enisoc @nickchase On my TODO list is putting together a guide, with template. (Here's a larger writeup, in case y'all haven't seen it): https://docs.google.com/document/d/17af5ZkRX83ISvizml9FKPc9TCtCIp9PecXpNGh324M8/edit#heading=h.ypeaydkz068g

[2017-10-18 03:48] xiangpengzhao commented on #20
BTW, the release note process of the bot has changed, I send two PRs to update PR template and docs:
https://github.com/kubernetes/kubernetes/pull/54114
https://github.com/kubernetes/community/pull/1221

@Bradamant3 PTAL. Thanks!

[2017-10-18 15:08] timothysc commented on #10
@enisoc Ideally I want every build to look-like a release, except someone gets to push to the stable repo.  I'd like to talk about this topic if it's an agenda item for sig-release.

[2017-10-18 15:31] david-mcmahon commented on #10
@timothysc We are slowly moving toward something like that model with triggered staged releases.  Not every build, but builds that pass the "release blocking" test set being staged and ready to release.

[2017-10-18 22:47] enisoc opened #22 "v1.9.0-alpha.2"
According to the planned [timeline](http://bit.ly/k8s19), we should cut alpha.2 on Wed, Nov 1.

@dashpole Can you try a mock build with [anago](https://github.com/kubernetes/release#instructions-quick-start) to start getting your workstation set up? Let me know if you run into any trouble.

@spiffxp @detiber How far from green are we on [release-master-blocking](https://k8s-testgrid.appspot.com/si

[2017-10-18 22:56] enisoc opened #23 "[1.9] Feature Freeze"
According to the proposed schedule, feature freeze is Fri, Oct 27.

I want to send a reminder to k8s-dev soon, but I wanted to check if we're asking for anything different this cycle.

@idvoretskyi Do you require anything at feature freeze other than that the issues are populated in the features repo?

@Bradamant3 There's something in the proposed schedule about "release talking points" and "sig t

[2017-10-19 20:16] Bradamant3 commented on #23
IIRC, 1.9 is now slated to be a maintenance release? If so, we should minimize the themes, although I know that sig-apps is planning to move the workloads api wholesale to v1. @idvoretskyi ran this aspect of things for 1.8 -- can you help out here too? Am I understanding correctly? Should we be reaching out to sigs? (I need to do so in any case wrt release notes.)

[2017-10-19 21:28] dashpole commented on #22
I tried `anago master --stage`, and it got as far as:
`Unable to find a green set of test results!`

[2017-10-20 04:20] idvoretskyi commented on #23
@enisoc

No, nothing else.

@Bradamant3 yes, we need reach to SIGs. Also, on maintenance/non-maintenance releases - it seems, we would avoid using this terminology for the future, as discussed at 1.8 retro. No final agreement yet, but let's focus on release deliverability, not terminology.

[2017-10-20 23:29] enisoc commented on #22
@dashpole For now, you can skip the requirement for a green build, since we're just trying to set things up and do a mock run.

In the output before it says `Unable to find a green set..`, you should see a line containing `--buildversion=...`. Add this flag when you run `anago` again. This will tell it to use that build without checking the test results.

[2017-10-23 18:38] spiffxp commented on #22
Looking through tests today, I'll update this comment with links to issues as appropriate

https://k8s-testgrid.appspot.com/q/summary/release-master-blocking
release-master-blocking: 29 tabs
- 11 FAILING
- 10 FLAKY
- 8 PASSING

[2017-10-24 17:36] enisoc commented on #22
I forgot to mention in the meeting, but hopefully it's not controversial: I don't think we'll be ready for alpha.2 tomorrow.

As part of my proposed update to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), I moved alpha.2 to next week, Wed, Nov 1.

@dashpole Did you get a chance to retry the anago mock run with explicit `--buildversion`?

[2017-10-24 17:46] dashpole commented on #22
I ran it yesterday as I was leaving.  I got this error:
`anago::build_tree(): Building Kubernetes v1.9.0-alpha.2 on master (detached head): `
`anago::build_tree(): make release KUBE_DOCKER_IMAGE_TAG=v1.9.0-alpha.2`
`+++ [1023 17:35:45] Verifying Prerequisites....`
`+++ [1023 17:35:45] Building Docker image kube-build:build-106b116b95-5-v1.9.1-1`
`+++ [1023 17:36:47] Creating data container kube-bu

[2017-10-24 18:04] enisoc opened #24 "Define criteria for a job to be release-blocking"
This is a tracker for writing a concrete policy for deciding whether a given job should be release-blocking.

[2017-10-24 18:24] enisoc opened #25 "[1.9] Set due dates for docs/relnotes/marketing dependencies"
@zacharysarah @Bradamant3 @nwoods3

While cleaning up the [release timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), I only kept items I understand -- mostly code/build-related.

I'd like help from the docs/relnotes/marketing leads to repopulate and document deadlines for things you need from other teams (devs, SIGs, etc.).

Here are some of the thi

[2017-10-24 19:11] enisoc opened #26 "Milestone automation for PRs"
@spiffxp @marun @jberkus

This is a tracker to discuss extending some form of the milestone automation we have for [issues](https://github.com/kubernetes/community/blob/master/contributors/devel/release/issues.md) to apply to pull requests.

The milestone has a different meaning on issues and PRs during code freeze:
* For issues, it means, "This is a release-blocking bug."
* For PRs, it means, "Th

[2017-10-24 19:18] Bradamant3 commented on #25
cc @idvoretskyi who helped with themes in relnotes for 1.8. I'll ping on Slack also. cc @nickchase who's helping with relnotes especially the script for generating. I need to dig some more to find where information for "feature related relnotes" might come from. (Came from pestering individual sigs for 1.8)
Blog post and talking points come from marketing. @nwoods3 do you need help here?

[2017-10-24 20:56] spiffxp commented on #26
To make sure I understand, the GitHub queries for PR's suitable for merge would thus be:

**status quo**
[code]
**code slush** - all of the above, plus
[code]
**code freeze** - all of the above, plus
[code]

Does this look right?

/cc @kubernetes/sig-testing-misc

[2017-10-26 22:55] spiffxp commented on #22
I've seen a few jobs removed from the board, and approved at least one bugfix to help address the situation.  However, we still have a number of failing jobs and test cases.

~https://k8s-testgrid.appspot.com/q/summary/release-master-blocking~ - this seems to be in disagreement with the counts I'm seeing below

FAILING
- [gci-gke-slow](https://k8s-testgrid.appspot.com/sig-release-master-blocking#g

[2017-10-27 08:06] nwoods3 commented on #25
@Bradamant3 re: blog post and talking points - Yes, I will need the release team's help and Aparna has been a big help on these for the last several releases too. I am updating the marketing plan we used for 1.8 for 1.9 and will send that around to the release team on Monday, 10/30. The plan will have a timeline for the blog and talking points. We can discuss on the next release team call and I ca

[2017-10-27 18:28] spiffxp commented on #22
Mostly jobs flipping between PASSING/FLAKY

FAILING
- [verify](https://k8s-testgrid.appspot.com/sig-release-master-blocking#verify) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=%5Eci-kubernetes-verify-master%24))
  - kubernetes/kubernetes#54711 godeps failure
- [gci-gke](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke) ([triage](https://storage

[2017-10-30 21:32] spiffxp commented on #22
Some progress, but still more failing jobs than I would like

FAILING
- [gci-gce](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=%5Eci-kubernetes-e2e-gci-gce%24))
  - TBD
- [gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial) ([triage](https://storage.google

[2017-10-31 00:18] enisoc commented on #26
@spiffxp That looks like what I had in mind.

[2017-10-31 19:49] dashpole commented on #22
got it working.  I had to move my docker installation to the larger partition to ensure it had enough disk space.
`anago: DONE main on dashpole0 Tue Oct 31 11:31:01 PDT 2017 in 46m6s`

[2017-10-31 20:39] enisoc commented on #22
@dashpole Great, thanks! Did you go all the way through a mock run, or just `--stage`? Are you good to go for the real, `--nomock` build tomorrow (Wed Nov 1)?

[2017-10-31 20:41] dashpole commented on #22
oh, I just did `anago master --stage --buildversion=v1.9.0-alpha.1.2001+bd28e6d0eaf9d5`

[2017-10-31 21:46] enisoc commented on #22
@dashpole Just for completeness, can you run it again without `--stage`? Unless you deleted the staged files, it should skip to the push phase.

[2017-10-31 22:08] dashpole commented on #22
yep, that just finished.  I think I am all good

[2017-11-01 03:41] spiffxp commented on #22
A lot of movement from PASSING to FLAKY, but I think some of this may be due to a point in time blip in the environment across jobs, not the code

FAILING
- [gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=%5Eci-kubernetes-e2e-gci-gce-serial%24))
  - TBD [non-passing sorted-by

[2017-11-01 18:32] enisoc commented on #22
@spiffxp The fix for the DaemonSet issue (https://github.com/kubernetes/kubernetes/issues/54575) has merged, and I've verified it passed in the latest (still in progress) [gci-gce-serial build](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/2457). I considered that the most serious since it manifested as an apiserver crash.

The others are either

[2017-11-01 18:45] spiffxp commented on #22
No objections here.

We'd be cutting with the following jobs failing, which makes them candidates to be removed from the release-master-blocking list in the future:
- gci-gce-serial
- gci-gke-serial
- gci-gce-alpha-features
- gce-scale-correctness
- soak-gce-gci
- kubeadm-gce

[2017-11-01 21:44] enisoc commented on #22
@dashpole is going to start the alpha.2 cut now at the following build:

[code]

[2017-11-01 22:56] enisoc commented on #22
v1.9.0-alpha.2 is out!

https://github.com/kubernetes/kubernetes/releases/tag/v1.9.0-alpha.2

[2017-11-01 22:56] #22 closed

[2017-11-01 23:01] enisoc commented on #24
We cut [v1.9.0-alpha.2](https://github.com/kubernetes/sig-release/issues/22) with the following jobs failing out of the current master-release-blocking set:

- gci-gce-serial
- gci-gke-serial
- gci-gce-alpha-features
- gce-scale-correctness
- soak-gce-gci
- kubeadm-gce

Once we define criteria, we will be following up to evaluate these for continued blocking status.

[2017-11-01 23:03] enisoc opened #27 "v1.9.0-alpha.3"
According to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), we should cut v1.9.0-alpha.3 on Wed, Nov 15.

This is a tracker for burning down release-blocking test failures and recording release cut status.

[2017-11-04 01:13] enisoc commented on #10
I've now got a prototype for the "middle ground" automation I mentioned above in https://github.com/kubernetes/sig-release/issues/10#issuecomment-337297378.

This at least reduces the push process to one command per release, but it still relies on Google-internal tools. If you're a patch manager who's interested in trying it, let me know.

[2017-11-06 11:58] luxas commented on #10
Great, thanks @enisoc! Is that coming as a PR to kubernetes/release or is it internally only?

[2017-11-06 18:00] enisoc commented on #10
Unfortunately the script itself is also internal-only since it runs internal-only commands. This doesn't get us any closer to a process that non-Googlers can run, but it should help us get packages out more promptly in the meantime.

[2017-11-06 18:50] luxas commented on #10
@enisoc No worries, thanks for improving the internal process meanwhile, will greatly reduce the time-to-pkg-publish metric :)

[2017-11-07 01:38] spiffxp commented on #27
Swept through sig-release-master-blocking, tied open issues from 1.9.0-alpha.2 to here.  It looks like there's something GKE related going on that's masking any more specific test cases at the moment.

[2017-11-13 11:44] xiangpengzhao opened #29 "Address markdown format symbols in PR release note block?"
Some PRs' release notes have markdown format symbols (e.g., `-`, `*`), this leads to bad format in the CHANGELOG (see [1.9 changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md)).

https://github.com/kubernetes/kubernetes/pull/54175
https://github.com/kubernetes/kubernetes/pull/52792
https://github.com/kubernetes/kubernetes/pull/53043

We may not avoid PR authors to use

[2017-11-13 19:02] enisoc opened #30 "Create release-1.9 branch"
According to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), we should create the `release-1.9` branch and start setting up test infra on Thu Nov 16.

@dashpole You can create the branch with `anago`, and then we'll need you to run `branchff` every day to keep it up to date. Let me or @david-mcmahon know if you have any questions.

@BenTheEld

[2017-11-13 19:06] BenTheElder commented on #30
I have a pretty good idea what we did last go round, discussing with
@krzyzazy today what makes sense for this time.

On Nov 13, 2017 11:02, "Anthony Yeh" <notifications@github.com> wrote:

[2017-11-13 19:29] david-mcmahon commented on #30
I don't believe `--stage` will work with branching.  It should be relatively easy to add this, but it's not yet supported.  Do take advantage of the new workflow and re-entrancy functionality and do test it out with a mock run first.  Please file issues if you encounter any bumps.

[2017-11-13 21:32] david-mcmahon commented on #30
I take that back. `--stage` works fine.  Give it a try.

[2017-11-14 18:30] spiffxp commented on #27
I am inclined to suggest removing the gke jobs from release-master-blocking considering that they're all still failing.  Will have a PR out later

[2017-11-14 20:04] spiffxp commented on #24
Still working on a proposal, but here's my rough take for now:

An ideal candidate job for release-blocking:
- Finishes a run in 60 minutes or less
- Runs at least every 2 hours
- Passes 90% of all runs in the past week (regardless of underlying commit)
- Is capable of passing 3 times in a row against the same commit
- Is owned by a SIG that is responsive to @kubernetes/sig-foo-test-failures
- Fai

[2017-11-15 15:48] spiffxp commented on #27
Commentary on the jobs that are failing as of this morning:
- gce-scale-correctness looks to be legit failures or flakes
- gce-scale-performance failed due to resource exhaustion in us-east-1a, so technically speaking we don't have coverage on the latest commit; the previous run passed
- soak-gce-gci is a job I'd like to see removed from release-master-blocking

[2017-11-15 17:55] enisoc commented on #27
@spiffxp Are there any in-flight PRs that hope to fix scale, or is it still under investigation? If it won't be fixed today, I propose going forward with the alpha cut as is. Any objection?

[2017-11-15 22:43] enisoc commented on #27
@dashpole is going to start the alpha.3 cut soon.

This looks like the best recent build on master:

[code]

[2017-11-16 00:11] dashpole commented on #27
mock release went just fine.  Running with --no-mock now

[2017-11-16 00:44] dashpole commented on #27
/close
v1.9.0-alpha.3 is out!

[2017-11-16 00:44] #27 closed

[2017-11-16 12:44] porridge commented on #27
FWIW, retry of e2e-gce-scale-performance succeeded: https://github.com/kubernetes/kubernetes/issues/55777#issuecomment-344545873

[2017-11-17 00:28] enisoc opened #31 "[1.9] Code Slush"
According to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), we should start Code Slush on Mon, Nov 20 (after 3pm PST).

As far as I know, this involves the following:

* Update [submit queue config](https://github.com/kubernetes/test-infra/blob/master/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml) to set `do-not-merge-milesto

[2017-11-17 00:32] enisoc opened #32 "[1.9] Code Freeze"
According to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), we should start Code Freeze on Wed, Nov 22 (after 3pm PST).

As far as I know, this involves the following:

* Update [submit queue config](https://github.com/kubernetes/test-infra/blob/master/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml) to set `additional-required

[2017-11-17 07:04] enisoc commented on #26
Enabled in https://github.com/kubernetes/test-infra/pull/5496.

[2017-11-17 07:04] #26 closed

[2017-11-17 16:52] jberkus opened #33 "Make kind, sig labels auto-copy to PRs"
Due to the changes from PR milestone automation (#26), we now have a hard requirement that kind, sig and priority labels need to be populated for PRs.  I propose that we add to our automation to make that easy, specifically:

If a PR is linked to an issue, and the PR has no kind, sig, or priority labels, the kind, sig and priority labels from the linked issue should be copied to the PR automatical

[2017-11-17 18:32] enisoc commented on #33
I'd be in favor of an explicit command to set the associated issue, like:

/issue #33

[2017-11-17 21:13] #23 closed

[2017-11-17 21:13] enisoc commented on #23
Features are populated at http://bit.ly/k8s19-features.

[2017-11-18 07:12] BenTheElder commented on #30
Test-Infra progress is being tracked here: https://github.com/kubernetes/test-infra/issues/5558#issuecomment-345341709

Most of the important jobs have been running and the sig-release dashboards are up but not every job we'd like is done and more jobs should be added to the blocking dashboard as well as dashboards for other sigs.

I'll have the rest of the setup reviewed and in Monday.

[2017-11-20 17:47] spiffxp opened #34 "v1.9.0-beta.1"
According to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), we should cut v1.9.0-beta.1 on Wed, Nov 29

This is a tracker for burning down release-blocking test failures and recording release cut status.

[2017-11-20 18:39] marun commented on #31
lgtm

[2017-11-20 23:28] roycaihw commented on #29
PR authors use symbols like `-` and `*` for multi-line release notes (kubernetes/kubernetes#54443). It's not clear how are we going to deal with them in current CHANGELOG.
And some release note with unintended newlines (`\r\n`) can also leads to bad formatting (kubernetes/kubernetes#54177)

These might become worse after we introduce the hierarchical release note(kubernetes/release#435) which uses

[2017-11-21 01:17] enisoc commented on #31
Code slush is now in effect.

[2017-11-21 01:17] #31 closed

[2017-11-21 02:52] BenTheElder commented on #30
Federation jobs are pending sig-multicluster discussing how to handle them at their meeting, GPU jobs are out for review, all other jobs should be already up and running though not all of them are green yet.

The last PR after that I am sending out is to move more jobs into the release-1.9-blocking dashboard that are already in the release-1.9-all dashboard. I will get @spiffxp and @krzyzacy to re

[2017-11-21 03:03] xiangpengzhao commented on #29
It'd be better to take care of this case. Otherwise we should send PR to fix the format in CHANGELOG manually.

[2017-11-21 21:17] BenTheElder commented on #30
Minus the federation jobs I think we actually finished yesterday with the addition of the GPU jobs.

I'm looking into test-go and verify though which appear to be broken on the infra side.

[2017-11-22 13:45] spiffxp opened #36 "[job failure] gci-gke-serial"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-21.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing

[2017-11-22 13:45] spiffxp commented on #36
wrong repo :P

[2017-11-22 13:45] #36 closed

[2017-11-23 02:24] xiangpengzhao opened #37 "MILESTONENOTIFIER comment is not so clear"
It says: https://github.com/kubernetes/kubernetes/pull/55065#issuecomment-346504645

Example update:
ACK.  In progress
ETA: DD/MM/YYYY
Risks: Complicated fix required

For this part:
`Example update:`
[1]
[code]

What should the PR author do to update? Just commenting something as [1] shows or commenting anything would be OK?

/cc @enisoc @marun

[2017-11-27 18:36] #32 closed

[2017-11-27 19:57] enisoc opened #38 "[1.9] Issue Burndown"
This is a tracker for status updates on 1.9 issue burndown.

[2017-11-27 21:20] jberkus commented on #38
Summary for Nov. 27

A slew of issues has been opened around failing tests, including:

New Test Failures (mostly e2e tests):
#56416
#56429
#56426
#56422
#56414

Old Test Failures in Progress:
#56262
#56235
#53020
#56091

Old Test Failures Not Getting Attention:
#56244
#56155
#56052

New Bugs:
#56357
#56399
#56357
#56348 (not clear that this should be in 1.9)

Old Bugs in Progress:
#56385
#56355

[2017-11-28 17:50] jberkus commented on #38
Today's status:

Summary for Nov. 28

20 total issues, so making progress

All "not getting attention" issues have been raised with the respective SIGs on Slack.

New Test Failures (<1 day old)
#54574 (old bug, just reopened)

Test Failures in Progress:
#56429
#56416
#56414
#56262
#56052
#55194
#47820

Test Failures Not Getting Attention:
#56244 (6 days)
#56426 (1 day)

New Bugs (<1 day old):

Bug

[2017-11-28 23:45] BenTheElder commented on #30
We discussed this in the meeting today, I think we can mark this done.

[2017-11-28 23:47] #30 closed

[2017-11-29 00:30] jberkus commented on #38
So, based on today's meeting, let me give a breakdown of which issues appear to be blockers to me.  Please note that, for many of the ones not receiving enough attention, I also don't have feedback from the SIG on how critical they are, so I'm guessing based on the description & reports back.  Issues that I don't mention below are non-concerning.

## Bugs & Test Failures

### Red Tests/Bugs

Upgra

[2017-11-30 20:57] zacharysarah commented on #38
## Docs

Friday, December 1 is the [deadline for all docs PRs](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) to be reviewable.

According to the [feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0), these issues still need to [open a docs PR](https://github.com/kubernetes/features/blob/m

[2017-11-30 22:37] jberkus commented on #38
Status update for Friday, Dec 1:

Status of PRs and Bugs

I'm adding PRs to this burndown, because I'm concerned about PRs which haven't yet been merged.

The good news is that we're down to 18 issues and 10 PRs.  The bad news is that two of those 18 issues are tracking issues.  This status is updated before the extensions are due.

## Red
*bugs/failures which appear user-visible and for which no

[2017-11-30 23:06] #34 closed

[2017-11-30 23:09] enisoc opened #39 "v1.9.0-beta.2"
According to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), we should cut v1.9.0-beta.2 on Wed, Dec 6.

However, we might consider cutting on Mon, Dec 4, if the [exception requests](https://groups.google.com/forum/#!forum/kubernetes-milestone-burndown) granted until Dec 1 have merged.

[2017-12-01 18:37] spiffxp commented on #34
@enisoc is there a log of which jobs were skipped while cutting this release? I'm assuming it was:
- gce-scale-correctness
- gce-scale-performance

[2017-12-01 22:31] enisoc commented on #34
Here's the `find_green_build` output for the cut point:

[code]

* `verify` was actually passing except for https://github.com/kubernetes/release/issues/470.
* `bazel-test` was actually passing but looking at the wrong branch: https://github.com/kubernetes/test-infra/issues/5727.
* `periodic-*-kubeadm-gce-1-9` seems to have a similar problem: https://github.com/kubernetes/test-infra/issues/5769
*

[2017-12-04 20:33] jberkus commented on #38
Status of PRs and Bugs

Down to 10 issues, and 14 PRs.  Many of those PRs are random changes which happen
to be approved now and owners are hoping to get them into 1.9; none of the new
PRs look like blockers.

Remaining critical issues appear to be the Azure breakage, failure to test downgrade,
and CNI 0.6.0.

## Red
*bugs/failures which appear user-visible and for which no approved PR exists*
*PR

[2017-12-06 02:55] spiffxp commented on #39
@enisoc asked for a status check today at contributor summit

- **good news**: all sig-release-master-blocking tests are passing!
- **bad news**: sig-release-1.9-blocking#verify is failing, and all sig-release-master-upgrade tests are failing

I'm getting a little worried now.  We're moving in the wrong direction with upgrade tests.  I am doubtful we will resolve all of these failures in the week

[2017-12-06 02:59] jberkus commented on #38
Status of PRs and Bugs

Currently 13 issues (including new bugs).  There are 16 PRs, but quite a number
of these are pending PRs which do not have SIG approval for the milestone.  I've
put the unapproved PRs in "Green", because the idea is that most of them are
more likely to simply be dropped.

Remaining critical issues appear to be failure to test downgrade,
and CNI 0.6.0.

## Red
*bugs/failures

[2017-12-06 21:25] enisoc commented on #39
release-1.9 verify is still only broken due to https://github.com/kubernetes/release/issues/470. We could fix it one of two ways: revert the branch to stubs, or disable the check for stubs on the branch. I'm still looking for guidance on which is right.

The consistently failing test cases within the upgrade jobs seem to be:

* [dashboard test](https://github.com/kubernetes/kubernetes/issues/56877

[2017-12-07 04:36] enisoc commented on #39
Verify seems to be passing after https://github.com/kubernetes/kubernetes/pull/56910.

https://k8s-testgrid.appspot.com/sig-release-1.9-blocking#verify-1.9

The network partition tests had already been disabled on master, but we are now cherrypicking that to the 1.8 branch (https://github.com/kubernetes/kubernetes/pull/56900).

The dashboard test seems to be getting better since https://github.com

[2017-12-07 05:52] zacharysarah commented on #38
# Docs

Status of PRs, cribbing shamelessly from @jberkus

## Red
_PRs which do not have a docs and/or tech review, or whose opener is unresponsive_

PR | Description
---|---
https://github.com/kubernetes/website/pull/6260 | No tech reviewer assigned
https://github.com/kubernetes/website/pull/6550 | No response to docs review, no tech reviewer assigned
https://github.com/kubernetes/website/pull/65

[2017-12-07 19:50] enisoc commented on #39
Verify is green.

The CP to disable the network partition tests on the 1.8 branch is on hold due to the 1.8.5 cut planned today.

The dashboard test is passing on the upgrade job now, but a bunch of others started failing:

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-master

[2017-12-07 20:02] enisoc commented on #39
The official release-blocking list is all green for HEAD of release-1.9:

[code]

I suggest we cut beta.2 to get more mileage on the approved exceptions that have now merged. The upgrade/downgrade problems are unlikely to be worse than they were for beta.1. We just need to keep investigating.

cc @dashpole @spiffxp

[2017-12-08 04:18] spiffxp commented on #39
@enisoc agreed

[2017-12-08 17:25] dashpole commented on #39
beta.2 was cut yesterday

[2017-12-08 17:25] #39 closed

[2017-12-10 04:00] jberkus commented on #38
Status of PRs and Bugs

Currently 10 issues (including new bugs).  There are 11 PRs.

  I've
put the unapproved PRs in "Green", because the idea is that most of them are
more likely to simply be dropped.

Remaining critical issues appear to be failure to test downgrade,
and CNI 0.6.0.

(and thanks Zachary for showing that I could be using markdown tables for this!)

## Red
*bugs/failures which app

[2017-12-11 17:27] spiffxp opened #40 "v1.9.0"
According to the [timeline](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline), we should cut v1.9.0 on Wed, Dec 13

This is a tracker for burning down release-blocking test failures and recording release cut status.

[2017-12-11 17:29] #20 closed

[2017-12-11 17:29] enisoc commented on #20
Hierarchical release notes were generated and used to seed the initial draft of the hand-curated notes.

[2017-12-11 17:29] #25 closed

[2017-12-11 17:51] jberkus commented on #38
Status of PRs and Bugs

Currently 9 issues (including new bugs).  There are 15 PRs, including several partial fixes
for outstanding issues.  I've
put the unapproved PRs in "Green", because the idea is that most of them are
more likely to simply be dropped.

Remaining critical issues appear to be failure to test downgrade,
and CNI 0.6.0.

(and thanks Zachary for showing that I could be using markdo

[2017-12-12 00:44] jberkus commented on #38
R status Update

This is the Sudden Death Overtime tracking of PRs

## Red

* critical PRs fixing major breakage issues with 1.9.  Appropriate SIGs have been queried for status today.*

| PR | summary | status |
|:------- |:------- |:------ |
| https://github.com/kubernetes/kubernetes/pull/57043 | kubeadm etcd downgrade fix | new, approved but needs retest |
| https://github.com/kubernetes/kuberne

[2017-12-12 04:04] jberkus commented on #38
Ok, I should have created hard deadlines much earlier.

We're down to two PRs now:

## Red

| PR | summary | status |
|:------- |:------- |:------ |
| https://github.com/kubernetes/kubernetes/pull/57023 | kubelet CRI defined in cadvisor | new, not approved for milestone, but author says it's a must-fix |

## Yellow

None

## Green

| PR | summary | status |
|:------- |:------- |:------ |
| https:/

[2017-12-12 17:59] jberkus commented on #38
Status of PRs and Bugs

Final burndown

Remaining critical issues appear to be failure to test downgrade,
and CNI 0.6.0.

## Red
*bugs/failures which appear critical and for which no approved PR exists*
*PRs which appear required and do not have all sign-offs or are stalled*

Issues:

| issue | summary | status |
|:----- |:------- |:------ |
| https://github.com/kubernetes/kubernetes/issues/56244

[2017-12-12 18:51] enisoc opened #41 "[1.9] Lift code freeze"
I propose that we lift code freeze on Wed, Dec 13. We expect all the current [PRs in the milestone](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aopen%20milestone%3Av1.9%20sort%3Aupdated-asc%20) to merge before then.

This will involve undoing the submit queue config from https://github.com/kubernetes/sig-release/issues/32.

However, we will maintain the milestone

[2017-12-14 18:10] jberkus commented on #38
Status of PRs and Bugs

Final Final Final burndown

Yay downgrade is fixed, now it's really just CNI

Giving up on usual format, because there's really just a handful of things to fix.

## Stackdriver issue: has two PRs, both approved

| PR/issue | summary | status |
|:------- |:------- |:------ |
| https://github.com/kubernetes/kubernetes/issues/57047 | logging test failure | approved, has PR |
|

[2017-12-15 17:11] spiffxp opened #43 "Migrate the release-1.x dirs out of kubernetes/features to here"
It's been confusing to have to bounce between multiple repos to get details about the release and the release team.

If we can't outright remove the files in kubernetes/features we should at least tombstone them as links to copies that exist here.

No explicit due date or priority on this, it's a thing I'm interested in but I'd be just as happy if someone other than me got this done.

[2017-12-15 17:14] idvoretskyi commented on #43
LGTM.

I can work on this before 1.10 release cycle will start.

[2017-12-15 17:19] enisoc commented on #43
SGTM. Note that we'll need to coordinate changing any paths that the tooling looks at (e.g. `release-notes-draft.md`).

cc @david-mcmahon

[2017-12-15 17:55] spiffxp commented on #40
The gce-scale-performance job runs against master and no longer provides meaningful signal now that we've exited code freeze.  All other failures have been addressed.

[2017-12-15 21:57] spiffxp opened #44 "Setup merge automation for this repo"
Use an OWNERS file, /approve, /lgtm to allow people to merge PR's into this repo:
- If there isn't an OWNERS file, create one and populate it with people who already have write access to this repo
- Configure prow to turn on the "approval" plugin for this repo
- Configure prow/tide to include this repo in the tide query
- Remove direct write access to this repo by all but the @kubernetes/sig-relea

[2017-12-15 23:54] #40 closed

[2017-12-15 23:55] #38 closed

[2017-12-18 23:08] #41 closed

[2017-12-18 23:28] spiffxp commented on #44
/assign @calebamiles @pwittrock
OK, it's up to the members of @kubernetes/sig-release-admins to pull the trigger on restricting direct write access to this repo any further

[2017-12-19 16:31] idvoretskyi commented on #43
Did it https://github.com/kubernetes/sig-release/pull/46, it can be closed.

[2017-12-19 16:31] #43 closed

[2018-01-02 22:30] spiffxp commented on #44
/unassign

[2018-01-03 15:25] irfanurrehman opened #62 "Subproject release versioning eg. Federation!"
This issue is to pick up some debate/pointers from folks with more experience in k8s and its maintenance about the probable release versioning that is ideal for projects which have been separated out into their own github repos with the intention of independent maintenance and release.
As the project until now was maintained and released as part of k8s releases, there are 2 alternatives to use:
-

[2018-01-08 17:59] spiffxp commented on #44
/close
I have removed direct write access for @kubernetes/sig-release-members

@kubernetes/sig-release-admins have admin access
@kubernetes/kubernetes-release-managers have write access

[2018-01-08 17:59] #44 closed

[2018-01-23 18:22] jdumars commented on #24
Aaron and I worked on some definitions around this in a Google doc, and I would like to reconcile that effort with this PR.  The doc is here: https://docs.google.com/document/d/1kCDdmlpTnHPQt5z8JzODdFCc3T2D4MKR53twsDZu20c/edit We had intended to do the necessary pre-work and then submit it as a proposal, but the process for "process proposals" is not clear.  (my head just exploded)

[2018-01-23 19:22] jdumars commented on #24
Also, I don't think this should be in a KEP. These are procedural guard rails around the build ecosystem, and require a different audience and level of review.

[2018-02-15 18:49] david-mcmahon opened #85 "New release- branches with no changes have that commit double-tagged"
When the release-1.10 branch was created, we ended up in a new situation where the branch point commit was tagged with both the master branch (alpha) and release branch tags (beta).  This was due to a [recent commit to the tooling which excluded a change to the branch at branch time](https://github.com/kubernetes/release/pull/507) which provided the opportunity to then tag the branch at branch-poi

[2018-02-15 18:50] david-mcmahon commented on #85
/assign @calebamiles @david-mcmahon

[2018-02-15 18:52] calebamiles commented on #85
/assign @jdumars

[2018-02-15 18:52] calebamiles commented on #85
/sig release

[2018-02-15 18:56] jdumars commented on #85
thank you for quickly figuring this out!

[2018-02-15 18:59] calebamiles commented on #85
@david-mcmahon, do we really want to make a dummy change to the `release-1.10` branch since our ultimate goal is to be able to fast forward master into the `release-1.10` branch or do we just want to fast forward master onto the branch today and cut the build?

[2018-02-15 19:01] david-mcmahon commented on #85
Do I *want* to make a dummy change?  No.  Do we need to?  Possibly.  If we wait til the first branch fast forward, then the branch will continue to 'git describe' as v1.11.0-alpha.0 until then.  That may have unforeseen ramifications.  Also, when we finally do fast-forward, we'll want to put the tag at branch-point + 1, which is odd and fragile as well.

[2018-02-15 19:02] calebamiles commented on #85
I'm worried about having a change which exists on master but not on the `release-1.10` branch

[2018-02-15 19:06] ixdy commented on #85
another question: why are we even creating an alpha tag now? everything on master is still slated to end up in 1.10.

[2018-02-15 19:09] david-mcmahon commented on #85
@calebamiles, there have always been changes that landed on the release branch at branch time.  It would be ideal to replace the one we removed with another useful branch-specific, branch time change.

[2018-02-15 19:17] calebamiles commented on #85
I suppose I still don't understand why we have branch specific changes made when cutting the branch. In my mind the steps I should do are

1. `git checkout upstream/master`
1. `git checkout -b release-1.10`
1. `git push origin HEAD`
1. `./anago release-1.10`

[2018-02-15 19:17] david-mcmahon commented on #85
@ixdy, taking yet another step back, why are we even branching before we really want a branch?

Having gone to that model has created quite a bit of juggling ([here](https://github.com/kubernetes/release/blob/master/branchff#L119), [here](https://github.com/kubernetes/release/blob/master/branchff#L157) and [here](https://github.com/kubernetes/release/blob/master/anago#L1092)) in the tooling to gua

[2018-02-15 19:25] david-mcmahon commented on #85
@calebamiles the history of changes to the branch at branch time included updating docs and pkg/version/base.go. Those were (at the time) reasonable changes, but are no longer necessary.
WRT to your steps above, all of it is handled via anago.

[2018-02-15 19:28] calebamiles commented on #85
I suppose that was my proposal for how to reenter into a place where anago handles things again

[2018-02-15 20:04] jberkus commented on #33
Closing this because I don't see any reasonable way to accomplish it, unless the SIGs adopt some kind of tagging format.

[2018-02-15 20:04] #33 closed

[2018-02-15 20:55] enisoc commented on #85
My impression is that changing the process to move branching until later is a bigger risk than David's "Proposal 1".

In case it wasn't clear above, it has already been the case historically that the release branch has commits that master doesn't. The term "fast-forward" for `branchff` has been a misnomer for a while; it's actually a merge commit. So the dummy commit in Proposal 1, while conceptua

[2018-02-15 22:20] david-mcmahon commented on #85
@enisoc thanks for highlighting and raising that important point.  So now to figure out a good post-branch replacement commit that's at least somewhat useful.

[2018-02-21 21:54] jberkus opened #86 "1.10 Issue Burndown"
This issue is for status updates on 1.10 issues for release tracking.

[2018-02-21 21:56] jberkus commented on #86
Status as of 2/21, 1 day into Code Slush.

Detail behind this report can be found [on the tracking spreadsheet](https://docs.google.com/spreadsheets/d/1qhgPfH99Vz-rRp_yMV2YdGlijDoa24d59cuo89Ebpyg/edit?usp=sharing)

1 day after Code Slush, here is issue status.

## Bump

Recommend bumping these issues from the milestone based on inactivity and lack of responsiveness by SIGs/issue owner: 11 issues.

[2018-02-21 22:46] liggitt commented on #86
`Graduate the kubeletconfig API to beta` was completed in 1.10

[2018-02-21 22:47] liggitt commented on #86
`Support out-of-tree authentication providers` design is merged, implementing PR is under review and planned to merge this week

[2018-02-21 22:48] jdumars commented on #86
All SIG-Azure issues have been curated.

[2018-02-22 02:09] david-mcmahon commented on #85
Tag [v1.10.0-beta.0 updated on release-1.10 branch](https://github.com/kubernetes/kubernetes/releases/tag/v1.10.0-beta.0).  This should finally resolve the orphaned v1.10.0-beta.0 tag issue.

[2018-02-23 22:57] jberkus commented on #86
Status as of 2/23.  All issue owners have been reminded of the need to add status/approved-for-milestone.  11 issues were removed from the milestone or resolved.  3 new issues were added.  Total of 40 issues.

# Bump

Recommend bumping these issues from the milestone based on inactivity and lack of responsiveness by SIGs/issue owner: 8 issues

* [Document what docker image (Dockerfile) features we

[2018-02-27 01:45] jberkus commented on #86
# Burndown report as of scheduled Code Freeze 2/26

Complete issue tracker is [a spreadsheet](https://docs.google.com/spreadsheets/d/1qhgPfH99Vz-rRp_yMV2YdGlijDoa24d59cuo89Ebpyg/edit#gid=552625354).

## Red

These issues represent what look like blockers for 1.10, and do not have a PR.  One has had no attention at all.

* [[job failure] periodic-kubernetes-e2e-kubeadm-gce-selfhosting](https://gith

[2018-02-27 01:50] jdumars commented on #86
Thank you so much! This takes the organizational cake.

[2018-03-01 01:07] jberkus commented on #86
As of today, we have 27 issues open against 1.10, although some of them (4) would have been removed by automation if we hadn't run out of github tokens.  I don't have a good comparison against prior releases because I've discovered math errors in the devstats charts.  Working on that.  Closest comparison is 20 open issues 4 days after Code Freeze for 1.9.

Tracking spreadsheet is [here](https://do

[2018-03-01 19:27] #85 closed

[2018-03-02 01:18] jberkus commented on #86
# Burndown report as of 3/1 around 1pm Pacific

Complete issue tracker is [a spreadsheet](https://docs.google.com/spreadsheets/d/1qhgPfH99Vz-rRp_yMV2YdGlijDoa24d59cuo89Ebpyg/edit#gid=552625354).

We currently have around 21 "real" issues, excluding a few which will be dropped by automation as soon as the patched munger catches up.

## Red

These issues represent what look like blockers for 1.10, a

[2018-03-03 01:24] jberkus commented on #86
As of today, we have 21 issues open against the 1.10 milestone, which is the same as yesterday.  However, several of those issues have moved
from yellow to green status because of PRs being approved/fixed, so we can expect a drop in the number of issues over the weekend.

On the down side, several issues are of special concern, as they represent severe problems which may throw off the release sche

[2018-03-05 19:10] jberkus commented on #86
As of around 10am PST today, we have 25 issues open against the 1.10 milestone, which is an increase of 4 from Friday.  Most of the new issues are actually breakouts of a larger test fail issue, in order to have one issue per SIG for resolution (see test fails below).

Tracking spreadsheet is [here](https://docs.google.com/spreadsheets/d/1qhgPfH99Vz-rRp_yMV2YdGlijDoa24d59cuo89Ebpyg/edit#gid=205898

[2018-03-06 20:16] jberkus commented on #86
As of around 11am PST today, we have 26 issues open against the 1.10 milestone, which is an increase of 1 from yesterday.  Most issues are various test failures, as non-test-fail issues are getting resolved.

Tracking spreadsheet is [here](https://docs.google.com/spreadsheets/d/1qhgPfH99Vz-rRp_yMV2YdGlijDoa24d59cuo89Ebpyg/edit#gid=2058989556)
and is up to date as of this morning.

## Red

Issues w

[2018-03-07 22:19] david-mcmahon opened #88 "Add new @k8s-release-robot permissions on k/sig-release and k/kubernetes"
A new @k8s-release-robot user has been added to the project in order to facilitate the transfer of Kubernetes software release functions from Googlers (creating releases only on a desktop) to both Googler and non-Googler Kubernetes project contributors creating releases via https://cloud.google.com/container-builder.

Basic doc on functionality can be found [here](https://github.com/kubernetes/rel

[2018-03-08 01:32] #88 closed

[2018-03-09 22:37] jberkus commented on #86
As of around 4pm PST today, we have 18 issues open against the 1.10 milestone, which is a decrease of 4 from Wednesday, and a great trajectory to be on.  Most issues are various test failures, as non-test-fail issues are getting resolved, and all test fails are now getting attention.

Tracking spreadsheet is [here](https://docs.google.com/spreadsheets/d/1qhgPfH99Vz-rRp_yMV2YdGlijDoa24d59cuo89Ebpyg

[2018-03-12 21:32] jberkus commented on #86
As of around 1pm PDT today, we have 15 accepted issues open against the 1.10 milestone, and four possibles, which is a decrease of 3 from Friday.  Further, four issues are likely to close in the next 2-5 hours as fixed tests pass.

However, we have a couple of major blocker issues which look possible to delay the release, see Red below.

Tracking spreadsheet is [here](https://docs.google.com/sprea

[2018-03-13 17:02] jberkus commented on #86
Burndown report as of 10am PDT March 13

## Red

Issues which are blockers, or are status unknown and look serious, without a good PR.

* [Apiserver CPU/Mem usage bumped to 1.5-2x in big clusters](https://github.com/kubernetes/kubernetes/issues/60500)
* [[test flakes] master-scalability suites](https://github.com/kubernetes/kubernetes/issues/60589)
* [[failing test] should restart all nodes and en

[2018-03-13 19:28] jberkus commented on #86
Corrected March 13th Burndown report:

Status as of noon, PDT, March 13th.

We still have 19 issues open.  Some of these don't show up on github searches because they are not labelled correctly, which is being resolved.

We are waiting for a bunch of changes to go into 1.9 to fix downgrade tests, which should clear up some of the pending issues list.  This does point to needing a change in how we

[2018-03-14 09:12] stewart-yu commented on #86
/cc

[2018-03-14 17:24] k8s-release-robot opened #89 "Test Tracking Issue"
Kubernetes has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-alpha1>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-alpha.1>github</A>.

[2018-03-14 17:25] #89 closed

[2018-03-14 21:53] jberkus commented on #86
Status as of noon, PDT, March 14th.

We have three issues which were re-opened yesterday, because they were closed in advance of verifying the tests.

Several of the upgrade/downgrade tests have been fixed, but we are waiting on all tests to pass before we actually clear them, since several test fails have been closed and reopened. A big thanks to @liggit for pursuing those.

Overall status is "Cr

[2018-03-15 21:27] jberkus commented on #86
As of around noon PDT today, we have 12 accepted issues open against the 1.10 milestone, which is a decrease of 3 from yesterday.  Further, four issues are likely to close in the next 2-5 hours as fixed tests pass.

However, we have a couple of major blocker issues which look possible to delay the release, see Red below.

Tracking spreadsheet is [here](https://docs.google.com/spreadsheets/d/1qhgPf

[2018-03-19 20:13] jberkus commented on #86
Status as of noon, PDT, March 19th.

Overall status is "saffron" (yellow with some organge).  While the majority of bugs are either closed or have short-timeline plans for closure, we still have outstanding performance issue(s) whose cause is unknown.

## Red

Issues which are blockers, or are status unknown and look serious, without a good PR.

Performance issues in analysis/progress. With fluent

[2018-03-19 23:10] jdumars commented on #10
/remove-lifecycle rotten

[2018-03-19 23:12] jdumars commented on #10
/sig release
/sig cluster-lifecycle

[2018-03-20 19:09] jberkus commented on #86
Status as of 11am, PDT, March 20th.

Overall status is "tangerine" (trending red).  While the majority of bugs are either closed, we still have outstanding performance issue(s) whose cause is unknown and may delay the release.  We also have several other unrelated issues which need fixing.

## Red

Release Blockers without a resolution timeline of less than 24 hours.

Performance issues in analysi

[2018-03-21 17:56] jberkus commented on #86
Status as of 11am, PDT, March 21st.  Happy Nowruz!  "zardi ye man az to, sorkhi ye to az man" seems particularly appropriate here.

Overall status is "straw" (light yellow).  At this point, everthing is resolved or resolving in the next few hours except for #60589, which suffers from having to make a potentially painful tradeoff.

## Red

Release Blockers without a resolution timeline of less than

[2018-03-28 00:15] jberkus commented on #86
1.10 is out now, closing.

[2018-03-28 00:15] #86 closed

[2018-04-04 13:26] k8s-release-robot opened #115 "Release v1.7.16 Tracking"
Kubernetes v1.7.16 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.7.md/#v1716>CHANGELOG-1.7.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.7.16>github</A>.
cc @kubernetes/sig-release-members

[2018-04-10 09:12] justaugustus opened #124 "Document Features role / responsibilities"
As a Release Team member shadowing the Features Lead role, it should be my responsibility to explicitly document and / or revise documentation that corresponds to that role.

Documentation should delineate:
- Role overview
- Responsibilities
- Access requirements

Here's a [good example](https://github.com/kubernetes/sig-release/blob/master/release-process-documentation/release-team-guides/ci-sign

[2018-04-10 09:16] justaugustus commented on #124
Ohhh, looks like this repo isn't bot-ified and I don't have access to pick up issues, which I may open an issue for.
I'm picking this issue up though.

[2018-04-10 09:27] justaugustus opened #125 "Create a Release calendar"
I think it'd be pretty cool to have a Release calendar, which tracks the timeline laid out [here](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release-1.11.md).
Ideally it lives outside of the `sig-release` calendar and survives across releases.

Thoughts @jberkus ?

[2018-04-10 11:08] idvoretskyi commented on #124
/assign

[2018-04-10 11:08] idvoretskyi commented on #124
Will be happy to work with you on this, @justaugustus!

[2018-04-10 11:09] idvoretskyi commented on #125
@justaugustus are you speaking about the Google Calendar?

If yes, we may incorporate it into the Community-wide calendar. /cc @castrojo

[2018-04-10 11:30] justaugustus commented on #125
Oooo, putting in the Community calendar would work nicely!

[2018-04-10 13:03] castrojo commented on #125
I can either add someone to the release team to the main community calendar to add the events directly, or you can share individual events from your existing calendar with `cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com` to put them on the community calendar.

Let me know which you would prefer!

[2018-04-10 13:08] justaugustus commented on #125
@castrojo cool! If you add me I can populate the release events for the calendar. :)
`mylastname @ redhat.com`

[2018-04-11 13:36] justaugustus commented on #125
@castrojo Thanks for hooking up access.
I've just updated the Community calendar to include the `v1.11` [release key dates](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release-1.11.md) and will shoot out a quick note to the group.

Good point on adding the step to the release process.
I'll PR adding that step, but we need to decide who should be doing it as well.

C

[2018-04-11 21:56] jberkus commented on #125
This should probably go into the Release Lead Handbook: https://github.com/kubernetes/sig-release/blob/master/release-process-documentation/release-team-guides/release-lead.md

[2018-04-11 22:20] Random-Liu opened #126 "Kubernetes v1.10.0 release tar is missing."
We don't have release tar attached in the v1.10.0 release page https://github.com/kubernetes/kubernetes/releases/tag/v1.10.0.

[2018-04-12 18:08] k8s-release-robot opened #127 "Release v1.10.1 Tracking"
Kubernetes v1.10.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1101>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.1>github</A>.
cc @kubernetes/sig-release-members

[2018-04-16 17:51] jberkus opened #130 "need patch manager for 1.11"
We need to have a patch manager assigned to 1.11.  This person has to be a Google employee, so I'm unable to recruit them using the usual call for volunteers.  So this issue is more-or-less an appeal to our Google co-contributors to please assign someone, or to share the eligible pool of candidates with me so that I can solicit. Thanks!

cc @calebamiles @jdumars @enisoc

[2018-04-19 20:30] k8s-release-robot opened #135 "Release v1.11.0-alpha.1 Tracking"
Kubernetes v1.11.0-alpha.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-alpha1>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-alpha.1>github</A>.
cc @kubernetes/sig-release-members

[2018-04-20 05:04] #29 closed

[2018-04-22 03:50] #37 closed

[2018-04-23 19:59] justaugustus commented on #24
/remove-lifecycle stale

[2018-04-23 20:04] justaugustus commented on #24
/lifecycle frozen

[2018-04-27 11:46] k8s-release-robot opened #143 "Release v1.10.2 Tracking"
Kubernetes v1.10.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1102>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.2>github</A>.
cc @kubernetes/sig-release-members

[2018-05-02 15:57] k8s-release-robot opened #145 "Release v1.11.0-alpha.2 Tracking"
Kubernetes v1.11.0-alpha.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-alpha2>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-alpha.2>github</A>.
cc @kubernetes/sig-release-members

[2018-05-11 17:10] jberkus opened #148 "Change Timing of Burndown Meetings"
Contributors, Release Team, SIG Leads:

Previously, burndown meetings have been at 10am PST/PDT every day they are held (MWF in Slush, then every weekday in freeze).  This timeslot has two problems:

1. On Thursdays, it conflicts with the Community Meeting right when the Release Lead needs to be mobilizing the community to close last-minute bugs.
2. 10am PDT is pretty late for folks in Europe/Asia

[2018-05-11 19:53] luxas commented on #10
Has there been any progress in automating this in anago?
With https://github.com/kubernetes/kubeadm/pull/803 & https://github.com/kubernetes/test-infra/pull/8020 I'm improving an e2e test that we'll put in all branch-specific `sig-release-1.X-all` dashboards (like: https://k8s-testgrid.appspot.com/sig-release-1.10-all) and the master-blocking tab (https://k8s-testgrid.appspot.com/sig-release-maste

[2018-05-11 20:11] justaugustus commented on #148
I'm in favor of alternating the meetings to make it more [in]convenient.

[2018-05-11 22:02] BenTheElder commented on #148
10am+ PDT is definitely more convenient for me but release meetings are important IMHO, I will attend them any time.
One suggestion: whatever option is chosen we could make Thursdays special to avoid the community meeting if we aren't already.

[2018-05-15 19:50] k8s-release-robot opened #150 "Release v1.8.13 Tracking"
Kubernetes v1.8.13 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md/#v1813>CHANGELOG-1.8.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.8.13>github</A>.
cc @kubernetes/sig-release-members

[2018-05-21 11:15] k8s-release-robot opened #154 "Release v1.10.3 Tracking"
Kubernetes v1.10.3 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1103>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.3>github</A>.
cc @kubernetes/sig-release-members

[2018-05-21 18:31] tpepper commented on #148
I too am in favor of alternating the [in]convenience.  We can all do our part.

IIRC in the 1.10 cycle we had briefly done Thursdays at a different time to also avoid the community meeting.  It's really useful to be able to attend that meeting for cross-project pulse and also for broad shoutouts where we're getting to need help on things.

[2018-05-21 20:12] jberkus commented on #148
OK, proposed:

During early burndown, meetings will be:

* M: 10am PDT
* W: 8am PDT
* F: 10am PDT

... where Wednesday is the meeting we try to get all SIG leads to attend.

During later burndown (final 10 days), we'll have:

* M: 10am
* T: 8am
* W: 10am
* Th: 8am
* F: 10am

Works?

[2018-05-21 22:00] k8s-release-robot opened #155 "Release v1.9.8 Tracking"
Kubernetes v1.9.8 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md/#v198>CHANGELOG-1.9.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.9.8>github</A>.
cc @kubernetes/sig-release-members

[2018-05-22 22:45] mistyhacks opened #157 "Feature tracking spreadsheet enhancement ideas"
I'm very new to the Kubernetes release processes, and as I try to understand the state of the 1.11 release from a docs perspective, I am facing some struggles with the feature tracking spreadsheet. After a conversation with @justaugustus , he asked me to open an issue here to try to capture some of the things that seem fairly actionable.

/assign @justaugustus

1.  All the frozen rows on the top o

[2018-05-22 22:52] justaugustus commented on #157
Thanks for putting this up, @mistyhacks!
I'll start taking a look at some of this stuff tomorrow.

[2018-05-24 14:22] idvoretskyi commented on #157
@mistyhacks I'm the initial creator of the features tracking spreadsheets for the last ~8 releases of Kubernetes, including the current one (1.11); happy to respond below:

We needed to simplify the way of how the number of features is visualized (per-stage). I'm popen for suggestions how to fix it if the current way is uncomfortable.

Not sure if I understood the value of this change. Can you ple

[2018-05-24 14:43] jessfraz opened #158 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 18:04] mistyhacks commented on #157
I'll address your questions in chunks.

#1: I think you could use a single row with multiple columns to visualize alpha / beta / GA features. That would take save 3 rows. In a similar way, I'm not sure the spreadsheet maintainers really each need their own rows. :) It also seems like it would be just as easy to visualize them if the chart of alpha / beta / GA was on a different sheet in the same d

[2018-05-25 19:31] #148 closed

[2018-05-26 00:55] jberkus opened #160 "Github search fail, problematic data?"
@tpepper

I've been checking Github searches against the data in the automated reports I want to run.  I expected to find things in the reports which were out-of-date compared with search.  I wasn't expecting to find issues that were missing from Search.

Compare:

https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+milestone%3Av1.11+label%3Apriority%2Fcritical-ur

[2018-05-26 02:57] tpepper commented on #160
Your search has "is:issue" and 60478 is a pull.

[2018-05-31 08:06] justaugustus commented on #157
Hey @mistyhacks!

I made some improvements to the sheet, based on your suggestions...

* Removed the Alpha / Beta / Stable / Total area on the `Features list` (this is strictly in the `Features stats` sheet now)
* Updated the `Features stats` sheet to use the more appropriate function you suggested for `COUNTA`
* Updated the SIGs, so `Features per SIG` is now accurate
* Moved the Docs stats over,

[2018-05-31 17:04] jberkus commented on #157
So, this is some musing around the information we've needed on features this cycle.  It's not a list of specific corrections or revisions.

- Feature has a PR
- Feature's PR is approved
- Feature has tests
- Feature is linked to failing tests
- Feature has bug issues
- Feature has a Docs PR
- Feature's  has a full first draft of Docs
- Has final docs
- Already had docs from a prior release which d

[2018-05-31 18:14] jberkus commented on #157
If I was to do this as a set of database fields, they would be:

* Feature Status: Planned, Late, In Progress, In Trouble, Complete, Deferred
* PR Status: None, Partial, In Progress, In Trouble, Merged
* Needs Docs: Unknown, Yes, None Need, Needs Updating, Already Has
* Docs Status: N/A, Has PR, Draft, Late, Complete
* Exception?  (link)
* Test Status: Needs Tests, Partial, Complete.
* Failing Tes

[2018-05-31 18:17] jberkus commented on #157
Also, we should give some thought to tracking multi-PR "big" features as opposed to tracking single-PR features.

[2018-05-31 18:45] justaugustus commented on #157
@jberkus -- This is all really awesome insight; thanks!
I'll see what we can work into the sheet.

On Thu, May 31, 2018, 14:17 Josh Berkus <notifications@github.com> wrote:

[2018-05-31 21:04] mistyhacks commented on #157
This all looks great, and I agree with @jberkus assessment. Thank you so much! I've deleted my sheet now.

As an aside, I avoided re-sorting the main sheet because I've seen some people refer to items by line number in the sheet (and I have also done so), and I wasn't sure if the sorting would be visible to other viewers of the sheet. If it's "safe" to sort and filter that way, I am happy to do th

[2018-06-01 00:44] k8s-release-robot opened #165 "Release v1.11.0-beta.1 Tracking"
Kubernetes v1.11.0-beta.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-beta1>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-beta.1>github</A>.
cc @kubernetes/sig-release-members

[2018-06-02 03:58] justaugustus commented on #157
@mistyhacks -- fair point. I think as long as you're returning the filter to display all data once you're done, I'm fine with it. :)

As for this issue, I'm going to close it out. I think we've incorporated most of the suggestions you've made. Let me know if we need to reopen for any reason.

/close

[2018-06-02 03:58] #157 closed

[2018-06-02 17:09] #62 closed

[2018-06-04 21:56] justaugustus opened #167 "Assemble Kubernetes 1.12 Release Team"
There were some rumblings on #sig-release in getting a jump on assembling the Release Team for 1.12.
I'm interested in picking up the Features Lead role (PR here: #166) and @tpepper had some interest in assuming a role as well.

Opening this issue for tracking nominations and whatnot.

/assign @jberkus

[2018-06-04 21:57] kacole2 commented on #167
I'm interested in shadowing you @justaugustus for Features.

[2018-06-04 22:17] justaugustus commented on #167
@kacole2 That would be dope!
I believe we're going to be discussing the selection process at the SIG Release meeting tomorrow at 5pm EDT.
Zoom link [here](https://zoom.us/j/327142148). Stop by, if you can.

[2018-06-05 22:01] justaugustus commented on #167
From today's SIG Release meeting:
* @tpepper for RT Lead
* @AishSundar for RT Lead Shadow
* @justaugustus for Features Lead
* @kacole2 for Features Lead Shadow (mentioned above, +1 to this!)

[2018-06-05 22:37] justaugustus commented on #167
First PR up here: #168

[2018-06-05 22:52] kbarnard10 commented on #167
I'd like to volunteer for Communications again.

[2018-06-06 00:35] justaugustus commented on #167
/sig release

[2018-06-06 11:13] k8s-release-robot opened #170 "Release v1.10.4 Tracking"
Kubernetes v1.10.4 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1104>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.4>github</A>.
cc @kubernetes/sig-release-members

[2018-06-06 19:53] justaugustus commented on #167
@amwat we'd love to have you. I've added you to #168.

[2018-06-06 20:19] christianh814 commented on #167
Id' like to release team shadow

[2018-06-06 21:14] samueltauil commented on #167
I'd like to to release team shadow

[2018-06-06 21:51] amanohar commented on #167
I would like to shadow a release team member to on-board or can also participate as a member if team leads have a role fit for a new member.

[2018-06-06 22:03] justaugustus commented on #167
I've added the Docs team to #168:
* Docs Lead: @zparnold
* Docs Shadow: @samueltauil

[2018-06-06 23:37] prwitt commented on #167
I'm interested to shadow a test-infra.

[2018-06-06 23:39] dstrebel commented on #167
I’m new to the release team, but would love to jump in and get my toes wet.

[2018-06-06 23:54] justaugustus commented on #167
Adding @christianh814 to #168 as CI Signal Shadow.

[2018-06-07 00:46] justaugustus commented on #167
Hey everyone, I just wanted to say that I've seen all of the comments and am SOOOOO thrilled about how many people are ready to step up for Release Team duty!

We're going to make an open call announcement at tomorrow's Community Meeting, and continue building a bit of a pipeline before making any other decisions on roles.

Please note that for some (read: most) roles, we're happy to have multiple

[2018-06-07 05:17] rajendar38 commented on #167
I'm interested in shadowing you @justaugustus

[2018-06-07 08:32] etiennecoutaud commented on #167
I'm new and I would like to shadow Branch Manager.

[2018-06-07 14:14] kerilynndell commented on #167
I'm new, and would like to shadow communications

[2018-06-07 15:28] dstrebel commented on #167
Would like to shadow Release Notes Lead or Docs Lead.

[2018-06-07 17:11] k8s-release-robot opened #171 "Release v1.11.0-beta.2 Tracking"
Kubernetes v1.11.0-beta.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-beta2>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-beta.2>github</A>.
cc @kubernetes/sig-release-members

[2018-06-07 18:06] idealhack commented on #167
I would like to shadow Branch Manager.

[2018-06-07 21:02] jeremyrickard commented on #167
👋 also new. I'd like to shadow Communications or Bug Triage!

[2018-06-07 21:29] amanohar commented on #167
@justaugustus I am interested in shadowing the PR triage lead!

[2018-06-07 23:21] robertsandoval commented on #167
@justaugustus  I'm interested in being an additional shadow for feature lead.

Thanks!

[2018-06-08 18:13] rajendar38 commented on #167
@justaugustus I am interested in shadowing the PR triage lead!

[2018-06-08 18:17] justaugustus commented on #167
@rajendar38 instead of Features? I currently have you down as a Features shadow.

[2018-06-08 19:12] rajendar38 commented on #167
@justaugustus  thanks for update

[2018-06-08 19:38] justaugustus commented on #167
@rajendar38 Just to clarify, would you prefer to participate as a Features shadow or a PR Triage shadow?
Either is fine, I just need to know which.

[2018-06-10 15:57] rajendar38 commented on #167
@justaugustus Map me as features shadow

[2018-06-11 02:14] justaugustus commented on #167
@rajendar38 I've added you as a Features shadow.

[2018-06-11 02:31] justaugustus commented on #167
Hey everyone,

Thank you so much for volunteering for the Kubernetes 1.12 Release Team!
Anyone who posted here should have a role; please check #168 and verify that. Please also feel free to review the PR to ensure your contact info is accurate.

To participate in the Release Team, you may occassionally need magic powers, which come from being a Kubernetes GitHub organization member.

Here are a f

[2018-06-11 05:32] justaugustus commented on #158
/close

[2018-06-11 05:32] #158 closed

[2018-06-11 23:08] ravisantoshgudimetla commented on #167
Not sure if it is too late but I am interested in shadowing test-infra role.

[2018-06-13 18:11] guineveresaenger commented on #167
@justaugustus - I can be bug-triage lead. I'm unofficially shadowing @tpepper for current release.
Thank you for having me!

[2018-06-13 23:00] justaugustus commented on #167
@ravisantoshgudimetla -- I've added you as a shadow for Test Infra. Thanks for volunteering!

[2018-06-14 17:39] dogopupper commented on #167
@justaugustus interested on shadowing bug-triage

[2018-06-15 04:01] justaugustus commented on #167
@dogopupper -- we'd love to have you! Can you provide your contact info in the following format (I'm unable to glean it from your GitHub profile):

`Stephen Augustus ([@justaugustus](https://github.com/justaugustus))`

/woof

[2018-06-15 05:16] justaugustus commented on #167
@dogopupper -- I've added you as a shadow for Bug Triage. Thanks for volunteering!

[2018-06-15 12:00] surajnarwade commented on #167
/me would like to contribute (if I am not late to the party)

[2018-06-15 14:10] justaugustus commented on #167
@surajnarwade -- looks like we could use additional coverage for shadows on the following roles:
* CI Signal
* PR Triage
* Release Notes

Let me know which one of those sound interesting to you and I'll get you added.

[2018-06-18 07:15] surajnarwade commented on #167
@justaugustus thanks a lot CI signal sounds interesting ;)

[2018-06-19 11:13] justaugustus commented on #167
@surajnarwade -- thanks I've got you added as a CI Signal shadow over here: #185

[2018-06-19 14:11] justaugustus commented on #167
@onyiny-ang -- I've added you as a shadow for Release Notes. Thanks for volunteering!

[2018-06-19 15:53] onyiny-ang commented on #167
@justaugustus Thanks a lot! :smile:  Happy to be part of the team!

[2018-06-19 17:13] k8s-release-robot opened #187 "Release v1.8.14 Tracking"
Kubernetes v1.8.14 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md/#v1814>CHANGELOG-1.8.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.8.14>github</A>.
cc @kubernetes/sig-release-members

[2018-06-19 18:01] tpepper opened #188 "process docu: release team Features Lead"
The release team's Features Lead role is only minimally documented in two bullets of text in:
https://github.com/kubernetes/sig-release/blob/master/README.md
with no details in:
https://github.com/kubernetes/sig-release/tree/master/release-process-documentation/release-team-guides

This role was much more active in the 1.11 release and better coordinated with the docs role.  We should document the

[2018-06-19 18:02] tpepper commented on #188
/cc @idvoretskyi
/assign @justaugustus

[2018-06-19 18:25] tpepper opened #189 "process docu: release team CI Signal Lead updates"
The CI Signal role was much more active in the 1.11 release and better coordinated with the docs role.  We should incrementally update documentation on the role, recent process improvements, and current intended improvements:

https://github.com/kubernetes/sig-release/blob/master/README.md
https://github.com/kubernetes/sig-release/tree/master/release-process-documentation/release-team-guides

[2018-06-19 18:29] tpepper opened #190 "process docu: release team Test Infra Lead"
The release team's Test Infra Lead role is only minimally documented in one short bullet of text in:
https://github.com/kubernetes/sig-release/blob/master/README.md
with no details in:
https://github.com/kubernetes/sig-release/tree/master/release-process-documentation/release-team-guides

This role's a bit of a black box on the release team's side, even though I think a lot of information is captu

[2018-06-19 18:29] tpepper commented on #190
/assign @BenTheElder
/cc @cjwagner

[2018-06-19 18:32] tpepper opened #191 "process docu: release team Branch Manager Lead"
The release team's Branch Manager Lead role is only minimally documented in in:
https://github.com/kubernetes/sig-release/blob/master/README.md#release-branch-manager
with no details in:
https://github.com/kubernetes/sig-release/tree/master/release-process-documentation/release-team-guides

As this role moves beyond being one that is the domain of Google employees, having the processes better docu

[2018-06-19 18:32] tpepper commented on #191
/assign @calebamiles

[2018-06-19 18:34] cjwagner commented on #190
The process for this next release will be different than those of previous releases because we will be using Tide instead of the submit-queue. I'll document the process throughout this release so that we have a guide for 1.13

[2018-06-19 18:36] tpepper opened #192 "process docu: release team Docs Lead"
The release team's Docs Lead role is only minimally documented in two bullets of text in:
https://github.com/kubernetes/sig-release/blob/master/README.md#docs-lead
and there are old docs in:
https://github.com/kubernetes/sig-release/tree/master/release-process-documentation/documentation-guides

A lot has changed lately around docs generally and also specific to release, including some really good

[2018-06-19 18:37] tpepper commented on #192
/assign @mistyhacks
/cc @zparnold @zacharysarah

[2018-06-19 18:48] justaugustus commented on #188
@tpepper -- going to close this out as it's a dupe of https://github.com/kubernetes/sig-release/issues/124.
/close

[2018-06-19 18:48] #188 closed

[2018-06-19 18:49] tpepper opened #193 "process docu: release team Release Notes Lead"
We've formalized having a Release Notes lead, but both:
https://github.com/kubernetes/sig-release/blob/master/README.md
is missing a section for the role overview, and:
https://github.com/kubernetes/sig-release/tree/master/release-process-documentation/release-team-guides
is missing a detail reference on the role and associated processes.

There has been a lot of activity in this area over the pas

[2018-06-19 18:50] tpepper commented on #193
/assign @nickchase

[2018-06-19 20:13] BenTheElder commented on #190
Thanks @cjwagner.
I'd say the role is support the release by maintaining the automation as needed by the release, also including new jobs/dashbaords for the release, but we're also trying to change a lot of this. I'll take Cole up on having this documented as we go through the next release. We'll have to talk to @AishSundar about her awesome notes on CI signal :-)

[2018-06-19 20:59] AishSundar commented on #189
Ack @tpepper will finish it this week :)

[2018-06-19 21:02] AishSundar commented on #190
@BenTheElder I have https://github.com/kubernetes/sig-release/issues/189#event-1689370439 assigned to me ^^ and I promise to update it soon

[2018-06-19 23:27] zacharysarah commented on #192
@tpepper Agreed, an updated guide would be good. I'll echo my suggestion in #139 that @mistyhacks (and maybe @zparnold as he enters the docs release lead role for 1.12) continue any updates.

[2018-06-19 23:58] justaugustus commented on #167
Closing this out, as we've had so many wonderful people volunteer!
Thanks again for getting the Release Team staffed so quickly. We're looking forward to working with all of you. :)

/close

[2018-06-19 23:58] #167 closed

[2018-06-21 00:49] k8s-release-robot opened #196 "Release v1.11.0-rc.1 Tracking"
Kubernetes v1.11.0-rc.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-rc1>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-rc.1>github</A>.
cc @kubernetes/sig-release-members

[2018-06-21 13:52] k8s-release-robot opened #198 "Release v1.10.5 Tracking"
Kubernetes v1.10.5 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1105>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.5>github</A>.
cc @kubernetes/sig-release-members

[2018-06-21 21:36] mistyhacks commented on #192
Yeah I'll work on this after the smoke clears from 1.11. 👼

[2018-06-25 17:32] k8s-release-robot opened #203 "Release v1.11.0-rc.2 Tracking"
Kubernetes v1.11.0-rc.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-rc2>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-rc.2>github</A>.
cc @kubernetes/sig-release-members

[2018-06-26 10:11] mohammedzee1000 commented on #189
/lgtm

[2018-06-26 21:23] k8s-release-robot opened #205 "Release v1.11.0-rc.3 Tracking"
Kubernetes v1.11.0-rc.3 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1110-rc3>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.0-rc.3>github</A>.
cc @kubernetes/sig-release-members

[2018-06-29 06:08] k8s-release-robot opened #210 "Release v1.9.9 Tracking"
Kubernetes v1.9.9 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md/#v199>CHANGELOG-1.9.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.9.9>github</A>.
cc @kubernetes/sig-release-members

[2018-06-29 17:15] #115 closed

[2018-06-29 17:15] #127 closed

[2018-06-29 17:15] #135 closed

[2018-06-29 17:15] #143 closed

[2018-06-29 17:15] #145 closed

[2018-06-29 17:15] #150 closed

[2018-06-29 17:15] #154 closed

[2018-06-29 17:15] #155 closed

[2018-06-29 17:15] #165 closed

[2018-06-29 17:15] #170 closed

[2018-06-29 17:15] #171 closed

[2018-06-29 17:15] #187 closed

[2018-06-29 17:15] #196 closed

[2018-06-29 17:15] #198 closed

[2018-06-29 17:15] #203 closed

[2018-06-29 17:15] #205 closed

[2018-06-29 17:15] #210 closed

[2018-06-29 17:21] calebamiles commented on #126
fixed

[2018-06-29 17:21] #126 closed

[2018-07-03 04:09] justaugustus commented on #124
Draft of the Features Lead handbook can be found [here](https://docs.google.com/document/d/1WPB0N4kjVN_CY205dBEzs9KULWgkBeW1GASV4YHaK_w/edit?usp=sharing).

@idvoretskyi @jdumars @jberkus @tpepper -- still WIP, but open for early feedback. I'd like to workshop it there before putting up the PR.

[2018-07-03 07:37] idealhack commented on #191
+1 for this

[2018-07-03 16:57] #189 closed

[2018-07-11 10:37] justaugustus commented on #125
Thanks for adding this, @nikhita!

[2018-07-11 23:06] k8s-release-robot opened #221 "Release v1.8.15 Tracking"
Kubernetes v1.8.15 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md/#v1815>CHANGELOG-1.8.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.8.15>github</A>.
cc @kubernetes/sig-release-members

[2018-07-14 22:16] justaugustus opened #223 "[Umbrella] License Auditing & Remediation"
This is an umbrella issue to carry out licensing tasks requested by the CNCF and Steering Committee.

- [ ] Draft license audit policies for SIG Release
- [ ] File issues / PRs with [sub]projects to fix their licensing issues (list from @swinslow):
    - [ ] (@nikhita) The component github.com/heketi/heketi is used in four repos. Heketi uses a mix of licenses, but the main issue is that files in h

[2018-07-16 08:17] nikhita commented on #223
The typsecript client is deprecated and doesn't contain the `Unlicense` package.json file. The typescript client is replaced by the javascript client.

Created a PR against the javascript repo: https://github.com/kubernetes-client/javascript/pull/61

[2018-07-16 09:07] nikhita commented on #223
Created a PR against k/k: https://github.com/kubernetes/kubernetes/pull/66233

[2018-07-17 00:32] dougm commented on #191
+1 !

[2018-07-17 00:34] dougm commented on #191
cc @codenrhoden

[2018-07-17 22:00] k8s-release-robot opened #224 "Release v1.11.1 Tracking"
Kubernetes v1.11.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1111>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.1>github</A>.
cc @kubernetes/sig-release-members

[2018-07-23 12:22] justaugustus commented on #125
This has since been added to the RT Lead Handbook: https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/release-lead.md

/close

[2018-07-23 12:22] #125 closed

[2018-07-23 16:30] chrisohaver opened #227 "1.12.0 timeline: Dates in the milestone definitions section have wrong month"
https://github.com/kubernetes/sig-release/blob/master/releases/release-1.12/release-1.12.md

A couple dates in the milestone definitions section are off by a month (either that or the table above it is wrong). Specifically, the ones I noticed...

Code Freeze: says August 4th, 2018.... table above it says September 4th ...
Code Slush: says July 28th, 2018 ... table above it says August 28th ...

[2018-07-23 17:39] tpepper commented on #124
Also should have more description around what qualifies as a tracked feature or not, and managing any gap between k/k milestone tagged issues and k/features during the features definition phase early in the cycle.

[2018-07-23 17:44] nikhita commented on #227
@chrisohaver thanks for catching that!

I believe the table is right here. Aug 4 is too close for code freeze. :)

/cc @tpepper
to confirm this

[2018-07-23 20:14] tpepper commented on #227
Affirmative!

Thank you for reporting!

[2018-07-23 20:51] #227 closed

[2018-07-24 16:52] spiffxp commented on #24
I'm going to try and reframe this into a step by step guide on how to move a job from:
- non-blocking to release-blocking
- bring-your-own-ci to triggered-by-k8s-prow
- pr-optional to pr-non-blocking
- pr-non-blocking to pr-blocking

Criteria will include responsive humans and metrics on signal reliability that are available to us today

Then PR this into test-infra/docs

[2018-07-25 13:32] justaugustus opened #233 "Archive pre-1.12 Features Tracking spreadsheets"
Suggestion from @calebamiles: https://github.com/kubernetes/sig-release/pull/231#issuecomment-407727489

/sig pm
/sig release
/assign

[2018-07-25 14:13] justaugustus commented on #124
Features Lead Handbook PR up for review: https://github.com/kubernetes/sig-release/pull/231

[2018-07-26 13:05] k8s-release-robot opened #237 "Release v1.10.6 Tracking"
Kubernetes v1.10.6 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1106>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.6>github</A>.
cc @kubernetes/sig-release-members

[2018-07-26 20:32] justaugustus opened #238 "Consolidate Release Team README.md"
Now that we have [Role Handbooks](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks), I'd like to see the [Release Team README](https://github.com/kubernetes/sig-release/blob/master/release-team/README.md) shortened to:
- define the Release Team roles in a table
- link information about the individual roles out to the corresponding handbooks

A decent amount of the

[2018-07-28 04:48] #124 closed

[2018-07-28 21:23] justaugustus opened #241 "Prune / update `kubernetes-milestone-maintainers` GitHub team"
Once we document the process for maintaining the `milestone-maintainers` GitHub team (https://github.com/kubernetes/community/issues/2424 / https://github.com/kubernetes/sig-release/pull/239) and gather some data on who's been actively using `/milestone` commands, we should prune / update the list as necessary.

/sig release
/assign @tpepper

rel:
- #239 (comment)
- https://docs.google.com/spreads

[2018-07-30 17:53] justaugustus commented on #238
/assign @justaugustus @tpepper @AishSundar @mohammedzee1000 @cjwagner @guineveresaenger @dougm @zparnold @nickchase @kbarnard10 @feiskyer

Please take a look at any information related to your RT role in https://github.com/kubernetes/sig-release/blob/master/release-team/README.md and move it in the corresponding handbook.

[2018-07-30 22:17] spiffxp opened #243 "Revisit use of milestone-maintainer munger"
I want to get rid of all mungers and fully rid us of mungegithub (https://github.com/kubernetes/test-infra/issues/3331)

I question the utility of milestone-maintainer.  By what measure do we think it's working?  Anecdotally I feel like it's generating a lot of noise.

If I can save us a lot of work and not bother porting milestone-maintainer, I'd rather do that.  If there is functionality that is

[2018-07-30 22:17] spiffxp commented on #243
/assign
@kubernetes/sig-release-proposals

[2018-07-30 22:36] spiffxp commented on #243
Possible re-implementation using `commenter`

Here's an example of using `commenter` in periodic prowjob: https://github.com/kubernetes/test-infra/blob/75543f5d7c7ea75e190486bd55bc102abae1e4dd/config/jobs/kubernetes/test-infra/test-infra-periodics.yaml#L157-L189

Here's what that could look like enforcing that an issue in the v1.12 milestone has at least one of a set of `kind/foo` labels
[code]

C

[2018-07-30 23:57] spiffxp opened #244 "EOL policy for older release-1.y jobs"
Historically test-infra carries up to five sets of jobs to support kubernetes/kubernetes:
- k8s-dev : master
- k8s-beta : release-1.11
- k8s-stable1 : release-1.10
- k8s-stable2 : release-1.9
- k8s-stable3 : release-1.8

When we create the release-1.12 branch, this mapping will become:
- k8s-dev : master
- k8s-beta : release-1.12
- k8s-stable1 : release-1.11
- k8s-stable2 : release-1.10
- k8s-stab

[2018-07-30 23:59] spiffxp commented on #244
FYI @krzyzacy @BenTheElder @cjwagner
as previous test-infra roles

[2018-07-31 00:10] BenTheElder commented on #244
This SGTM, we should perhaps discuss with the patch managers / release leads?

[2018-07-31 00:13] krzyzacy commented on #244
it was mostly me being bumping release versions, was meant to do that after I migrate all the goodies to config/jobs first

but agree we probably should have some standards.

[2018-07-31 01:03] jberkus commented on #243
If your first comment was a proposal to remove milestone-maintainer and not replace it with anything, -1 to that.

As for replacing it with commentor, a cautious +1 if we can work out the details?  Specifics:

The answer to this is pretty clearly to go through the requirements that we *want* to have and see if they can all be expressed as search queries.

This is potentially a major blocker.  Ther

[2018-07-31 03:06] krzyzacy commented on #244
I'm also trying to accommodate gke releases as there's a fleet of gke blocking jobs, but 4 weeks sounds reasonable.

I'll add some docs, it's pretty straight forward for release blocking jobs, but there might be miscellaneous jobs that need to be managed by each individual sigs.

[2018-07-31 03:06] krzyzacy commented on #244
/assign

[2018-07-31 03:07] krzyzacy commented on #244
/assign @cjwagner

[2018-07-31 15:08] spiffxp commented on #244
a) we don't actually have a test-infra handbook, oops, but yes this should be a part of one when it exists
b) thus, I'd like it to just be a standard part of the release schedule, in the same way that we call out test-infra creating release branch jobs
c) nothing to update in community... our "three version" support policy is buried in a nested doc, and I think I'd like to ask sig-arch about bring

[2018-07-31 18:28] rdodev opened #245 "CNI plugins (kubernetes-cni) build and packaging process improvements"
Originally opened by @rdodev:

---

## Action items

### Release Engineering

- [x] (@thockin - https://github.com/kubernetes/k8s.io/pull/553) Create a GCS bucket with shared control between CNI plugin maintainers and Release Engineering
- [x] (@justaugustus - ~https://github.com/kubernetes/kubernetes/pull/87562~ https://github.com/kubernetes/kubernetes/pull/78819) Update CNI fetch URLs in k/k to

[2018-07-31 22:41] spiffxp commented on #243
To sum up the conversation we had about this during today's sig-release meeting:
- we're going to disable the milestone-maintainer munger
- ultimately most humans have been doing the munger's job already, and tend to catch things the munger doesn't catch, so we expect the keep the quality bar this way

There was much discussion of _why_ it did the things it did, or what we wanted things to look li

[2018-07-31 22:57] tpepper commented on #243
+1

Sadly, turning off milestone-maintainer munger is an acknowledgment that this specific instance of automation here did not end up replacing any particular release team manual activities.  The manual activities remain in place for risk management at the release team level.  And that toil remains as a worthy candidate for a next iteration toward automating away.

[2018-07-31 23:03] jberkus commented on #243
@spiffxp  I believe that merge requirements can be enforced via Tide in the future.  That is, we can require labels, milestones, etc. in Tide instead of needing a munger to do it.

[2018-08-01 17:14] guineveresaenger commented on #243
I honestly don't like the part where the munger removes bugs from the milestone. Bugs aren't subject to feature freeze, and when they drop off the milestone, even though they're being worked on, we have to hunt down SIG leads to put them back, which creates unnecessary housekeeping and constant vigilance.

How would users be prompted to add a milestone label currently? That's a different functiona

[2018-08-02 00:28] k8s-release-robot opened #249 "Release v1.12.0-alpha.1 Tracking"
Kubernetes v1.12.0-alpha.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1120-alpha1>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.0-alpha.1>github</A>.
cc @kubernetes/sig-release-members

[2018-08-03 01:32] k8s-release-robot opened #251 "Release v1.9.10 Tracking"
Kubernetes v1.9.10 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md/#v1910>CHANGELOG-1.9.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.9.10>github</A>.
cc @kubernetes/sig-release-members

[2018-08-04 02:27] spiffxp commented on #243
/close
milestone-maintainer was disabled earlier today https://github.com/kubernetes/test-infra/pull/8909

[2018-08-04 02:27] #243 closed

[2018-08-07 17:49] #244 closed

[2018-08-08 02:40] k8s-release-robot opened #254 "Release v1.11.2 Tracking"
Kubernetes v1.11.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1112>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.2>github</A>.
cc @kubernetes/sig-release-members

[2018-08-08 11:30] justaugustus commented on #223
Email update to steering + sig-release + sig-contribex: https://groups.google.com/d/msg/kubernetes-sig-release/6oljCwkD6HQ/sH8W-uwwAAAJ

[2018-08-08 16:48] BenTheElder commented on #223
I've taken care of this for test-infra. https://github.com/kubernetes/test-infra/pull/8979

[2018-08-09 23:44] justaugustus commented on #223
@bentheelder -- thanks for knocking another one off the list!

[2018-08-12 08:33] nikhita commented on #223
quick update on heketi: Have asked the maintainers if they could update the license (instead of us updating our code) since it could have been a side-effect of a whole sale licensing change - https://github.com/heketi/heketi/issues/1279.

This still needs to be fixed for cloud-provider-aws, federation and kops. Thanks for taking care of test-infra, @BenTheElder! :+1:

[2018-08-12 08:33] nikhita commented on #223
/assign

[2018-08-12 14:06] nikhita commented on #10
/remove-lifecycle stale

[2018-08-17 04:44] justaugustus commented on #245
Can someone pick this up?
/help
ping @kubernetes/sig-release-feature-requests

[2018-08-17 04:50] justaugustus commented on #245
/sig release

[2018-08-20 00:45] justaugustus opened #258 "(dup) Prune / update `kubernetes-milestone-maintainers` GitHub team"
/assign @tpepper

rel:
- https://github.com/kubernetes/sig-release/pull/239#issuecomment-412697985
- https://docs.google.com/spreadsheets/d/1BhKpWwAVMxhtGAd_wOTCzduj-B4SDAp6C_wcSqo7SwA

[2018-08-20 00:46] justaugustus commented on #258
/sig release

[2018-08-20 00:51] justaugustus opened #259 "Remove `status/*` labels"
Based on the conversation on https://github.com/kubernetes/sig-release/pull/239, the `status/*` labels have not proven to be useful. Additionally, with the disabling of `milestone-munger`, applying / maintaining these labels are now a manual task.

They should be removed.

rel: https://github.com/kubernetes/sig-release/pull/239

/sig release
/cc @tpepper

[2018-08-20 12:15] k8s-release-robot opened #260 "Release v1.10.7 Tracking"
Kubernetes v1.10.7 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1107>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.7>github</A>.
cc @kubernetes/sig-release-members

[2018-08-20 18:10] justaugustus commented on #259
/assign @tpepper

[2018-08-20 18:58] spiffxp commented on #259
Related: there a number of release-specific labels I want to remove from all repos but k/k https://github.com/kubernetes/test-infra/pull/9091

FYI: label application isn't yet fully manual, the [`/status` command](https://prow.k8s.io/command-help#status) is handled by the `milestonestatus` prow plugin, [currently enabled for k/k](https://github.com/kubernetes/test-infra/blob/f7939d9aa5be3d6b8ad2c5

[2018-08-21 01:58] justaugustus commented on #258
Apparently, I already opened one for this: #241
/close

[2018-08-21 01:58] #258 closed

[2018-08-31 15:03] pbarker opened #269 "Expand on slush definition"
In the 8/30 sig-arch meeting the question was raised on whether api adds could be merged in slush. The consensus was a firm no. This isn't reflected in the current docs and we should consider explicitly calling out types of changes that are restricted.

[2018-09-05 04:42] k8s-release-robot opened #276 "Release v1.12.0-beta.1 Tracking"
Kubernetes v1.12.0-beta.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1120-beta1>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.0-beta.1>github</A>.
cc @kubernetes/sig-release-members

[2018-09-06 03:38] #233 closed

[2018-09-06 04:15] justaugustus opened #280 "Assemble Kubernetes 1.13 Release Team"
This is the official issue for assembling the Kubernetes 1.13 Release Team.

Please review the [Release Team Selection](https://git.k8s.io/sig-release/release-team/README.md#release-team-selection) docs for details on the process and criteria.

We will echo our nominations here, for anyone who wants to follow the thread, instead of attending the meeting.

Additionally, we will accept volunteers fo

[2018-09-06 04:33] AishSundar commented on #280
From offline discussion, I am delighted that Aaron Crickenberger (@spiffxp) has kindly agreed to be the release lead shadow for 1.13 ! Woohoo

[2018-09-06 05:05] justaugustus opened #281 "Clean up old release OWNERS"
As we move into new release cycles, we should also seek to update OWNERS across the repo to only include release team lead roles from the past, say, N - 3 or N - 4 cycles.

There should also be instructions about this written in the Release Team Lead handbook.

/sig release
/good-first-issue
cc: @calebamiles @idvoretskyi

[2018-09-06 05:37] justaugustus commented on #280
Awesome! 1.13, now with moar SIG Beard! Added to the PR.

[2018-09-06 06:41] idvoretskyi commented on #281
@justaugustus makes sense, +1!

[2018-09-06 06:44] justaugustus commented on #280
/assign @AishSundar @justaugustus

[2018-09-06 15:38] idealhack commented on #280
@shivani1494 Thanks, fixed

[2018-09-06 17:13] wadadli commented on #280
I'd like to be a feature shadow.

[2018-09-06 17:16] shivani1494 commented on #280
I'd like to be a feature shadow! Thanks!

[2018-09-06 17:47] krzyzacy commented on #280
@amwat wanna take test-infra role for 1.13? maybe @Katharine can share some shadow fun? :-)

[2018-09-06 18:33] amwat commented on #280
Probably @cjwagner can take up the lead again for all the Tide related stuff?
I'd like to be test-infra shadow.

[2018-09-06 18:34] cjwagner commented on #280
Since 1.13 will be the first release handled from start to finish by Tide, it would probably be helpful for me to be the test-infra lead to work out any kinks and document the process in detail.

[2018-09-06 19:10] imkin commented on #280
Nominate myself for the branch manager shadow :-)

[2018-09-06 20:06] jimangel commented on #280
I formally nominate Tim Fogarty @tfogo as Docs Lead and would like to volunteer as a shadow again! Thanks!

cc: @zparnold

[2018-09-06 21:19] philips opened #282 "document CNA process for CVE"
via @liggitt

we have CNA (CVE numbering authority) for kubernetes CVEs via https://github.com/distributedweaknessfiling/DWF-Documentation

bringing another person on board to issue CVEs for k8s would be done through that. since having more than one person involved adds coordination requirements around numbering, I wasn't planning to do that unless the volume grew, but if we want redundancy, we ca

[2018-09-06 21:19] philips commented on #282
/assign @liggitt

[2018-09-07 05:17] idealhack commented on #191
Does #262 fixes this?

[2018-09-07 16:39] justaugustus opened #283 "Add Kendrick Coleman to kubernetes-milestone-maintainers"
It was noted in https://github.com/kubernetes/features/issues/367#issuecomment-419488048 that @kacole2 doesn't have milestone maintainer access and I'd like to grant that to him now.

/sig release
/assign @tpepper

[2018-09-07 16:42] justaugustus commented on #283
Although, I now realize that he's not part of the Kubernetes GH org. We'll get that fixed!
@kacole2, can you file for [membership](https://git.k8s.io/community/community-membership.md), cc me on that request and then come back here and let us know when that's complete?

[2018-09-07 18:06] guineveresaenger commented on #280
I'm proud to nominate Niko Penteridis @nikopen as Bug Triage Lead.

I also would like to volunteer as tribute for CI or Features Shadow.

[2018-09-07 20:57] justaugustus commented on #283
Kendrick has been added to the Kubernetes org: https://github.com/kubernetes/org/issues/75

[2018-09-07 20:59] kacole2 commented on #283
So that means I can to those dog and cat images on issues now?

[2018-09-07 21:01] tpepper commented on #283
added

[2018-09-07 21:01] #283 closed

[2018-09-07 21:16] marpaia commented on #280
I'd like to nominate myself to be Release Notes Lead 😸

[2018-09-07 21:17] justaugustus commented on #283
Thanks @tpepper!
/meow

[2018-09-07 21:59] sumitranr commented on #280
I nominate myself for a branch manager shadow

[2018-09-07 22:57] justaugustus commented on #280
I've added a first round of people to the PR.
If your name isn't on the sheet yet, don't fret. We just need to have the official nominations first and set all of the Lead roles, before adding new shadows.

[2018-09-07 22:58] philips opened #284 "Kubernetes Third-Party Security Audit Team Formation"
The CNCF and Kubernetes steering committee have delegated to the [Product Security Team](https://github.com/kubernetes/steering/issues/71#issuecomment-419587351) the formation of a small team of 2-3 to help kickoff a third-party security audit of Kubernetes.

This issue is for organizing that team and the audit.

xref https://github.com/kubernetes/steering/issues/71

**Suggested Vendors**
- [cure5

[2018-09-07 22:59] philips commented on #284
I think the next step is to solicit volunteers to run the audit from folks on SIG Auth and the PST. Relevant questions:

- What experience do you have with a third party security audit?
- What experience do you have with the subsystems of Kubernetes that will likely be in scope based on the [bug bounty definition draft](https://github.com/kubernetes/community/blob/4523667ee64461e5424cb8345facbe733

[2018-09-07 22:59] philips commented on #284
/assign @cjcullen @jessfraz @tallclair @liggitt

[2018-09-07 23:28] AishSundar commented on #280
Following offline discussions I would like to nominate @jberkus for the CI lead role for 1.13 !!

[2018-09-07 23:46] calebamiles commented on #280
@justaugustus please add @aleksandra-malinowska as the patch release manager

[2018-09-07 23:48] AishSundar commented on #280
I would like to nominate @dougm to stay on as the 1.13 branch manager lead. Both @tpepper and @dougm have made numerous improvements in 1.12 to pilot and update the branch manager playbook in efforts to open up the role to anyone outside Google. There are still a few loops to close and the changes need to stabilize a bit more. Having @dougm continue in the role will give enough time to test drive

[2018-09-08 00:34] philips opened #285 "duplicate sources for release managers"
https://github.com/kubernetes/sig-release/blob/master/release-managers.md and https://github.com/kubernetes/sig-release/blob/master/releases/release-1.12/release_team.md duplicate the same information in a slightly different format. This caused some confusion for me. We should delete the top level one and redirect to the release specific docs instead.

[2018-09-08 00:43] mortent commented on #280
I would like to volunteer as CI shadow

[2018-09-08 05:47] idealhack commented on #280
I would like to continue the role as a branch manager shadow in 1.13.

[2018-09-09 09:54] ameukam commented on #280
I would like to volunteer as Features Shadow.

[2018-09-09 19:50] k8s-release-robot opened #288 "Release v1.11.3 Tracking"
Kubernetes v1.11.3 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1113>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.3>github</A>.
cc @kubernetes/sig-release-members

[2018-09-09 22:10] zparnold commented on #280
@jimangel @tfogo I'd be happy to shadow/mentor if need be. 😄

[2018-09-10 09:11] thanasisk commented on #280
I would like to volunteer as Bug Triage shadow

[2018-09-10 16:32] jessfraz commented on #284
I would like to volunteer I am familiar with the audit process and will have the time to spend on this. As far as third party experience I did not lead the docker audit but I did help interact with the researchers at the time and could help guide the researchers we hire for ours to the right places/people to get information from etc.

[2018-09-10 17:32] hoegaarden commented on #280
I would like to continue as a branch manager shadow and also nominate myself for test-infra shadow.

[2018-09-10 17:32] mohammedzee1000 commented on #280
I would like to shadow the bug triage role.

[2018-09-10 17:33] shubheksha commented on #280
I'd like to shadow bug triage/features 😄

[2018-09-10 17:40] kbarnard10 commented on #280
I'd like to volunteer for Comms Lead :)

[2018-09-10 21:01] AishSundar commented on #280
Thanks all for volunteering both in this issue and in the release team call this morning. Here's a roundup of the nominations thus far. If I have missed someone please comment below.  @justaugustus has kindly agreed to roll this list into the PR later today.

Role | Lead | Shadow(s)
-- | -- | --
Lead | Aishwarya Sundar (@AishSundar) | Aaron Crickenbecker (@Spiffxp)
Enhancements | Kendrick Coleman

[2018-09-11 07:47] justaugustus commented on #280
Thanks @AishSundar for including the results of yesterday's Release Team meeting here! I've updated #279 to reflect the candidates we nominated, so that is ready to merge.

[2018-09-11 12:59] mariantalla commented on #280
I'd be very interested to shadow CI signal (and/or any other team that needs people!).

[2018-09-11 14:10] claurence commented on #280
I would be interested in shadowing the patch release manager or enhancements

[2018-09-11 21:46] AishSundar commented on #280
Thanks for the interest everyone. As per guidance from Sig Release we are capping shadows to 4 per role, except for Branch Manager which will be capped at 2. I will work with @justaugustus to process the nominations thus far and update the release team accordingly.

[2018-09-12 01:27] k8s-release-robot opened #290 "Release v1.12.0-beta.2 Tracking"
Kubernetes v1.12.0-beta.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1120-beta2>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.0-beta.2>github</A>.
cc @kubernetes/sig-release-members

[2018-09-12 18:35] justaugustus commented on #280
I've pushed a new PR which includes our additional volunteers: #291

Here are the shadows roles that we have left:
- (2) Test infra
- (1) Bug Triage
- (1) Docs
- (3) Communications

[2018-09-12 18:56] MAKOSCAFEE commented on #280
Hi, I would like to shadow docs if possible.

[2018-09-12 23:05] simplytunde commented on #280
@justaugustus I would love to shadow Test infra or Bug Triage

[2018-09-13 03:58] conradwt commented on #280
@justaugustus I would be interested in shadowing the `Test infra` role.

[2018-09-13 05:51] RahulMahale commented on #280
@justaugustus I would love to be part of *Test Infra* or *Patch Release Manager/ Team*. Let me know what is good place to start.

[2018-09-13 08:33] sahitpj commented on #280
Hi, I would like to shadow Communications

[2018-09-14 05:38] pigletfly commented on #280
I would like to shadow Test infra if possible.

[2018-09-14 20:27] boluisa commented on #280
@justaugustus I will love to shadow test infra or bug triage

[2018-09-15 08:59] k8s-release-robot opened #296 "Release v1.10.8 Tracking"
Kubernetes v1.10.8 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1108>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.8>github</A>.
cc @kubernetes/sig-release-members

[2018-09-17 03:12] justaugustus opened #299 "s/features/enhancements in all Role Handbooks"
/sig pm release
/assign

ref: https://github.com/kubernetes/sig-release/pull/298#issuecomment-421876181

[2018-09-17 18:01] castrojo commented on #280
I can shadow Release Notes and Communications if you're still looking for people!

[2018-09-17 21:11] krzyzacy commented on #190
assume this is https://github.com/kubernetes/sig-release/pull/255?

/close

[2018-09-17 22:03] cjwagner commented on #190
I'd still like to keep this open until I can add more to the document. #255 is awesome, but it doesn't include details about the Tide workflow yet.
/reopen

[2018-09-17 22:40] philips commented on #284
@jessfraz Great! I am going to create a Google Form with the [three questions](https://github.com/kubernetes/sig-release/issues/284#issuecomment-419588010) and send it to SIG Auth to solicit volunteers. Sound good?

[2018-09-17 22:43] jessfraz commented on #284
SGTM

On Mon, Sep 17, 2018 at 6:40 PM Brandon Philips <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-09-17 22:53] philips commented on #284
Any suggestions on the form?
https://docs.google.com/forms/d/e/1FAIpQLSf0oWHhq-1obY-pjG4ZpDo5pBY0HtWcOMMGyMna7Jd9d7HY6A/viewform

Brandon

On Mon, Sep 17, 2018 at 3:43 PM Jess Frazelle <notifications@github.com>
wrote:

[2018-09-17 22:54] jessfraz commented on #284
LGTM thanks for doing that

On Mon, Sep 17, 2018 at 6:53 PM Brandon Philips <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-09-18 22:06] k8s-release-robot opened #300 "Release v1.12.0-rc.1 Tracking"
Kubernetes v1.12.0-rc.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1120-rc1>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.0-rc.1>github</A>.
cc @kubernetes/sig-release-members

[2018-09-19 03:12] philips commented on #284
@jessfraz can you test it by putting in your details? :)

[2018-09-19 14:42] jessfraz commented on #284
will do :)

[2018-09-19 15:34] srajappa commented on #280
I will be delighted to shadow **_TEST-INFRA_** role.

If that's not possible then I can shadow on **_COMMUNICATIONS_** role.

[2018-09-19 22:42] justaugustus commented on #192
/remove-lifecycle stale.
/unassign @mistyhacks
/assign @zparnold

[2018-09-19 22:43] justaugustus commented on #192
/remove-lifecycle stale

[2018-09-19 22:53] tfogo commented on #280
Hi @MAKOSCAFEE, I'm excited that you'll be shadowing Docs for the 1.13 release. Can you message me on the Kubernetes slack (@tfogo)?

[2018-09-20 00:29] #285 closed

[2018-09-20 05:36] MAKOSCAFEE commented on #280
Hi @tfogo sure let me message you.

[2018-09-21 04:44] justaugustus commented on #280
@castrojo / @srajappa -- I've slotted you for Comms

@pigletfly / @boluisa -- The roles you selected already have 4 shadows, but we still have room to shadow Release Notes. Would you like to do that instead?

[2018-09-21 05:35] boluisa commented on #280
@justaugustus Yes I will like to shadow release notes.

[2018-09-21 06:04] pigletfly commented on #280
@justaugustus Sure, I'd like to.

[2018-09-21 22:54] k8s-release-robot opened #307 "Release v1.12.0-rc.2 Tracking"
Kubernetes v1.12.0-rc.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1120-rc2>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.0-rc.2>github</A>.
cc @kubernetes/sig-release-members

[2018-09-24 16:32] justaugustus commented on #280
Hey everyone,

Thank you so much for volunteering for the Kubernetes 1.13 Release Team!
Anyone who posted here should have a role; please check the [roster](https://git.k8s.io/sig-release/releases/release-1.13/release_team.md) to ensure your contact info is accurate.

To participate in the Release Team, you may occassionally need magic powers, which come from being a Kubernetes GitHub organization

[2018-09-24 16:32] #280 closed

[2018-09-24 22:44] philips commented on #284
Update: PST has ballots to vote on a small team to own this. Thanks!

[2018-09-26 04:32] AishSundar commented on #191
@tpepper @dougm is there more updates you have for the branch manager playbook? or are we good for 1.13 cycle?

[2018-09-26 04:32] AishSundar commented on #190
@cjwagner do you plan to add  more updates to the TestInfra lead handbook, specifically around Tide, before 1.13 starts?

[2018-09-26 04:42] AishSundar commented on #193
/remove lifecycle-stale

[2018-09-26 04:46] AishSundar opened #309 "process docu: release team Bug Triage Lead"
Bug triage has been super active and under went quite a bit of revamp in 1.12 cycle, mainly due to killing munger and retiring a few labels. opening this tracking bug to ensure all the changes are captured as part of the [Bug triage lead handbook](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/bug-triage/README.md) in time for 1.13 cycle. @guineveresaenger I know

[2018-09-26 05:05] dougm commented on #191
I think we're good for 1.13

[2018-09-26 07:00] AishSundar commented on #309
Thanks @guineveresaenger. I see that [/kind is a required label](https://github.com/kubernetes/community/blob/master/contributors/devel/release.md#tldr) throughout the release cycle. so I am curious what are folks assigning kind to if the PR is not for a feature? are you seeing other values like "failing-test", "flaky-test" etc?

[2018-09-26 16:44] caniszczyk commented on #284
I'd also add Trail of Bits as a suggested vendor.

@philips let me know when you're ready, we are happy to get this started.

[2018-09-26 18:32] cjwagner commented on #190
Yes, I'm going to update the role guide before I meet with the 1.13 test-infra shadows to go over the test-infra tasks.

[2018-09-27 16:56] guineveresaenger commented on #309
@AishSundar I see kind/cleanup, kind/api-change, also king/bug but also a lot of `needs-kind` which is because folks are not sure if a "bugfix" should be labeled as "kind/bug" so it makes it harder to discover.

[2018-09-27 17:04] guineveresaenger commented on #309
Basically, I'd suggest 2 things:

1. add notes to bug triage handbook to mark bug fixes as `kind-bug` early on; I can make a PR to that effect

2. some kind of education across sigs (in pr template? what does that look like? is there a PR template?) to put in kind/bug

[2018-09-27 17:45] AishSundar commented on #309
Thanks @guineveresaenger, we should definitely do #1. Also probably link to https://github.com/kubernetes/community/blob/master/contributors/devel/release.md#issue-kind-label

For #2, here's the [PR template](https://github.com/kubernetes/kubernetes/blob/master/.github/PULL_REQUEST_TEMPLATE.md) if you want to update it with some useful label etiquettes.

As discussed offline in slack, please also

[2018-09-29 00:04] filmil opened #319 "Consider linking from release notes to definitions of "code slush", "code freeze", "enhancement" etc."
For example, would be a welcome addition to say https://github.com/kubernetes/sig-release/blob/3675848def6a1829fa03925156cb22f11c5d8a72/releases/release-1.13/README.md to clarify the terminology.

[2018-09-29 22:57] justaugustus commented on #241
@tpepper -- bump. did we close the loop on this?

[2018-09-29 23:16] tpepper commented on #241
I owe a PR or two here still.

[2018-09-29 23:19] justaugustus opened #320 "Add information about what qualifies for a milestone"
/sig release
/help

rel: https://github.com/kubernetes/community/pull/2408

[2018-09-29 23:20] justaugustus opened #321 "Enforce requiring milestone on k/k for merge"
/sig release
/help

rel: kubernetes/community#2408

[2018-10-01 19:14] k8s-release-robot opened #324 "Release v1.9.11 Tracking"
Kubernetes v1.9.11 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md/#v1911>CHANGELOG-1.9.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.9.11>github</A>.
cc @kubernetes/sig-release-members

[2018-10-02 18:35] philips commented on #284
Thank you to everyone who volunteered to help with this effort! We really appreciate it.

The PST has selected Jess Frazelle @jessfraz, Joel Smith @joelsmith, and Aaron Small @aasmall to lead this effort. These leaders will have final call on vendor interview/coaching schedules, vendor selection, and the community report.

That said everyone is encouraged to participate. We expect the folks above

[2018-10-05 00:34] philips opened #326 "Security Team Google Groups refactor"
The PST needs some refactor of communication channels to help manage everything going on.

## Membership Management
**Legacy group confusion**
Problem: kubernetes-security@googlegroup and security@kubernetes exist for legacy reasons and is confusing when adding folks

Delete kubernetes-security@googlegroups.com, prefer security@kubernetes.io going forward

- [x] Update docs https://github.com/kube

[2018-10-05 00:37] philips commented on #326
The PST has already discussed these changes in a Google doc. Putting it here for visibility of the @kubernetes/steering-committee as I need to make the changes on kubernetes.io Google Groups.

[2018-10-05 00:53] philips opened #327 "Automate Security Team On-Call Rotation"
The[ security process is supposed to have a weekly rotati](https://github.com/kubernetes/sig-release/blob/master/security-release-process-documentation/security-release-process.md#roles)on for the “project manager” role. In practice this hasn’t happened because there is no automation around a rotation so no one is rotating.

To fix this Brandon will setup a weekly Pager Duty rotation for all PST m

[2018-10-05 00:53] philips commented on #327
/assign philips

[2018-10-05 00:53] philips commented on #326
/assign philips

[2018-10-05 17:44] philips commented on #327
emailed @spiffxp and @cblecker for help on where to deploy the tool.

[2018-10-05 18:51] k8s-release-robot opened #329 "Release v1.12.1 Tracking"
Kubernetes v1.12.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1121>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.1>github</A>.
cc @kubernetes/sig-release-members

[2018-10-08 23:01] tpepper opened #331 "patch release team"
We've been discussing a shift towards a patch release team instead of having one person (typically a Google employee) as the patch manager for each release currently supported.  Today we have one person whose name is next to a release for 9 months.  1.10 is @MaciekPytel , 1.11 is @foxish , and 1.12 is @feiskyer .  This leaves too much under documented, tribal knowledge, and requiring of heroics.

[2018-10-08 23:03] tpepper commented on #331
/cc @castrojo @ttousai @sumitranr

[2018-10-08 23:07] justaugustus commented on #331
Thanks for kick-starting tracking this, @tpepper!
(cc-ing @spiffxp, as I know he had interest in seeing this happen.)

[2018-10-08 23:33] philips commented on #284
The team had their first meeting: https://groups.google.com/forum/#!topic/kubernetes-sig-auth/DOHShVCW6RM

[2018-10-08 23:35] dims commented on #331
Items from a quick ad-hoc meeting:
- @sumitranr (from google) will be helping with cutting debs/rpms (Thanks!)
- @mbohlool will share some snippets from the script used today with @dims, the idea is to see how much of it can be integrated into the k/release repo
- Ideally the existing scripts (run by patch managers) are already publishing debs/rpms (if not we need to make it happen). This part can

[2018-10-09 03:35] feiskyer commented on #331
+1. Maybe the first step to automate debs/rpms cutting?

[2018-10-09 09:33] randomvariable commented on #331
I think so.

Are the broken 1.12.1-02 debs still available anywhere?

[2018-10-09 21:58] philips commented on #327
This is fully deployed on Brandon's personal infrastructure for the time being.

[2018-10-09 21:58] #327 closed

[2018-10-09 22:42] spiffxp commented on #331
One thing that came up during today's SIG release meeting: it would be ideal to have some kind of schedule for patches being cut.  Docs call out "every 2 to 4 weeks" but that's just not as predictable and leads to people having to ask when the next patch is due.  Patch release managers should still have the freedom to cut off-schedule if there are urgent/critical fixes, but otherwise I think a sch

[2018-10-09 22:59] sumitranr commented on #331
+1 for having a predictable schedule.

On Tue, Oct 9, 2018 at 3:42 PM Aaron Crickenberger <notifications@github.com>
wrote:

--
Sumitran Raghunathan
Cloud Release Engineering Manager
go/cloud-releng

[2018-10-10 12:10] MaciekPytel commented on #331
+1 for predictable schedule. I just want to point out that the number of cherry-picks and community appetite for patch releases changes during release lifecycle and the schedule should reflect that. In my experience it was closer to "every 2 weeks" for the first 6 or so patch releases and it's more "every 4 weeks" now.

[2018-10-10 23:50] jberkus opened #337 "Active spreadsheet for CI Signal"
This spec is for @nikopen

The spreadsheet should pull all issues from Kubernetes/Kubernetes with "kind/failing-test" or "kind/flake" created since 2018-10-01

Should include the following information:

- issue #
- link
- issue title
- which kind(s) it has (failing-test and/or flake)
- sig(s) tagged
- priority
- status (open/closed)

Ideally, I'd also like to have some additional human-populated c

[2018-10-11 08:00] nikopen commented on #337
You can fully control which fields are auto-populated. Each row represents an issue and new issues are concatenated on a new bottom row. I'll add two non-auto-populated columns for note taking, like the Notes column [in the prototype](http://bit.ly/k8s113-bugtriage)

/assign

[2018-10-11 17:16] jberkus commented on #337
For the issue of not being able to pull fails and flakes with the same query, maybe have two tabs?  one for fails, one for flakes?  There would be some duplication, but that's tolerable.

[2018-10-11 19:15] nikopen commented on #337
Done: https://docs.google.com/spreadsheets/d/1jBshIerjPEqFvLLW67brOLexXqeBXF3hJQWPYcJVAb8/edit#gid=1229781058

Talking with @AishSundar the idea was to have many sheets under one link - bug triage, ci signal, and a big tab having all v1.13 issues - tried it, however the big v1.13 tab hits rate limits of how many queries can google sheets do in parallel, can't fit with the others. That might be mit

[2018-10-11 21:30] AishSundar commented on #337
@nikopen thanks for pulling CI SIgnal queries into the sheet. Super helpful.

Just to clarify what we discussed earlier, I dont think I wanted a big tab of all the issues. I dont think that will be easily parsable or give us any new signal.

Instead, similar to how we have multiple tabs for CI Signal, I think for Bug triage it will be useful to have separate tabs  for"PR queries" and "Issue querie

[2018-10-11 21:30] AishSundar commented on #337
/cc @spiffxp @tpepper

[2018-10-12 10:42] nikopen commented on #337
Altered the Issue tab query and added a new tab for PRs, but started to get rate limited - fields go blank. Moved the PR tab out of the sheet for now.

It seems that G Sheets throttle when there are about 200+ fields that directly query websites.

The solution is to transfer some of the heavy loading to custom functions / javascript and scrape all fields of a link at once, then send the fetched da

[2018-10-12 17:38] AishSundar commented on #337
Thanks a lot Niko. Is there a link to the PR spreadhseet?

Also would it possible to somehow show the query each tab is running (and keep that info updated as and when we change queries)? this will help folks easily identify if there are some gaps in our searches and correct accordingly.

[2018-10-12 17:52] AishSundar commented on #337
Also could you plz give the kubernetes-release-team@googlegroups.com edit access to the sheet?

[2018-10-12 20:01] nikopen commented on #337
It's the [same bug triage sheet](http://bit.ly/k8s113-bugtriage).

So the VCS currently used for this project is my favorite VCS: notepad. I'll be soon transferring the functions [here](https://github.com/nikopen/sig-release-sheet-automation) , slowly adding some  Javascript/GAS and then maybe moving them somewhere in the sig-release repo in the following weeks with documentation. It's still WIP.

[2018-10-12 21:11] jberkus commented on #337
@nikopen it's the same sheet, but I don't have edit permissions.

[2018-10-12 21:31] nikopen commented on #337
kubernetes-release-team@googlegroups.com edit access was there for almost a week but it seems it didn't work...

Just gave the release team edit access manually, e-mails found on the contact sheet.

[2018-10-12 21:43] AishSundar commented on #337
I have edit access now thanks.

I dont see a "Bug Triage PR" tab in the same spreadsheet.

[2018-10-15 15:42] nikopen commented on #337
As said above, when the PR tab is present, it [hits usage limits](https://developers.google.com/gmail/api/v1/reference/quota), making random fields empty across the sheets, and the workaround is to transfer some queries to 'google apps'. Some work is already done, but still needs more time. 'google apps script' is like a subset of javascript with a custom library, and some of it just doesn't work.

[2018-10-15 16:49] philips commented on #326
The only thing remaining on this is the shutdown of the old lists.

[2018-10-15 17:38] nikopen commented on #337
Another workaround is be to transfer the spreadsheet on a paid Gapps account (CNCF if applicable? it has no cost but paid account has higher limits) or transfer some sheets to another google account to share the load and avoid throttling.

These are nicer solutions than apps script - it's quite time consuming and acts quite weird / some functions do not work. e.g. when it updates fields, it shifts

[2018-10-15 17:47] AishSundar commented on #337
Will it help to move out the CI Signal tabs to a separate spreadsheet? If so lets do that. If "PR Issues" needs to be in a separate one, I can lend my google account for that.

[2018-10-15 20:00] spiffxp commented on #321
As discussed during release 1.13 meeting and retro, this seems like it's undue friction to impose early in the release cycle.

ref: https://github.com/kubernetes/sig-release/issues/243#issuecomment-409391292 for a summary of the discussion we had around this in July

[2018-10-15 22:15] k8s-release-robot opened #339 "Release v1.13.0-alpha.1 Tracking"
Kubernetes v1.13.0-alpha.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1130-alpha1>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.0-alpha.1>github</A>.
cc @kubernetes/sig-release-members

[2018-10-16 00:59] guineveresaenger commented on #309
@AishSundar - opened a PR for the pull request template. ^^

[2018-10-16 05:50] justaugustus commented on #281
Fixed in #341.
/remove help
/assign

[2018-10-16 05:51] justaugustus commented on #281
/remove-help

[2018-10-16 05:55] justaugustus commented on #259
https://github.com/kubernetes/test-infra/pull/9091 and https://github.com/kubernetes/test-infra/pull/9610 have merged, so we can close this.
/close

[2018-10-16 05:55] #259 closed

[2018-10-16 05:57] justaugustus commented on #241
Bump. Also assigning current RT Lead + Shadow.
/assign @AishSundar @spiffxp

[2018-10-16 07:46] #299 closed

[2018-10-16 09:51] neolit123 commented on #241
+1 this should probably happen every 1-2 cycles.

[2018-10-16 13:59] jberkus commented on #337
@nikopen when you get to fixing this (however you do it), I'll ask you to have the spreadsheet list all failing-tests and flakes instead of just from 10/1.  I thought there would be a lot of old abandoned "noise" issues, but it's turning out there aren't many.

[2018-10-16 14:34] k8s-release-robot opened #344 "Release v1.10.9 Tracking"
Kubernetes v1.10.9 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v1109>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.9>github</A>.
cc @kubernetes/sig-release-members

[2018-10-16 14:50] nikopen commented on #337
I see there are about 20-25 flakes + failing-tests, in which case it'd be better to separate bug triage and ci signal sheets.

You can create a spreadsheet on your account, give access to the team and I'll paste the structure and scripts for consumption.

One change - currently the CI query gets both open and closed issues, if the created< is removed it will be only getting the open issues, as the

[2018-10-16 18:37] #238 closed

[2018-10-16 21:45] #281 closed

[2018-10-17 12:38] jberkus commented on #337
Oh.  Hmm, I do want to see the closed ones.

Can we search by last update date instead of created date?  Ones with last update after 10/1 should get the ones we care about

[2018-10-17 14:51] nikopen commented on #337
@jberkus Yep, last update seems to work on the GH query. I'll use that.

I need a new spreadsheet on another account to split the sheets, either @AishSundar or you can provide me with one?

[2018-10-17 14:57] AishSundar commented on #337
@nikopen here's a sheet from my account - https://docs.google.com/spreadsheets/d/1TfECf8uSVnHaaCn8KTWK-sMdG3PV7jtW7FggHIUpeUU/edit#gid=0. Feel free to use it for either CI queries or for the PR issues.

[2018-10-18 01:14] guineveresaenger commented on #309
@AishSundar - this can be closed as both tasks are (finally!) done. :)

[2018-10-18 02:54] AishSundar commented on #309
Thanks a lot for keeping at this @guineveresaenger. @nikopen as FYI.

/close

[2018-10-18 02:54] #309 closed

[2018-10-18 11:48] nikopen commented on #337
Thanks Aish.

@jberkus CI sheet is ready: https://docs.google.com/spreadsheets/d/1TfECf8uSVnHaaCn8KTWK-sMdG3PV7jtW7FggHIUpeUU/

There should be no issues with empty fields (I hope!)

How it works:

- Link-fetcher results sometimes get cached, so it might delay to retrieve new issues, from minutes to a few hours. It's a bit random.

- Priority and Status columns get updated every 2 hours statically

[2018-10-21 12:05] jberkus commented on #337
@nikopen can I add additional columns, or will that mess things up?

If you have to add them, I'll want (in addition to the two manually updated columns you have now):

* Block? (Y/N field)
* Last Followup (date)

[2018-10-21 13:06] nikopen commented on #337
Just added them.

Some auto fields are sensitive, e.g. priority script is hardcoded to put priority on column G,
but you can do anything you want after the last auto column (G - Priority).

The current issue is that some tickets shift -+1 row when the GH query catches a new ticket (either old that got updated or newly created). The workaround I'm using for this in the bugtriage sheet is to write t

[2018-10-21 16:17] nikopen commented on #337
Shifted the order of columns, so Issue# is near the manual columns. You can copy the issue# to Notes, this way the manual rows stay manually synced.

I might have found a solution for this but won't have much time for the next few days

[2018-10-21 21:44] nikopen commented on #337
Good to know that it's a priority. Is it very noticable, i.e. you were expecting an issue to pop up and didn't for many hours?

To solve it I'll have to implement it in a completely different way... Functions cache results, and GAS is a bit unreliable/random... it will have to be querying the github API outside of google sheets so it's able to run every minute or so

[2018-10-22 21:30] spiffxp opened #347 "Implement release blocking job criteria"
This is an umbrella issue for followup work to https://github.com/kubernetes/sig-release/pull/346

That PR describes aspirational release blocking job criteria.  This issue is intended to track the followup work, including:
- ~assignment of owners to all jobs~
- ~descriptions added to all release-master-blocking jobs~
- ~propose the creation of sig-foo-alerts@googlegroups.com or reuse of sig-foo-t

[2018-10-23 00:02] jberkus commented on #347
Are we consolidating all non-blocking dashboards into -informing?

I'd be in favor of that.

[2018-10-24 09:50] justaugustus commented on #321
To add more context...
While we did mention the idea during the 1.12 retro, we did not have the time to dive in. The referenced issue above also does not make any determination on this.

I do believe requiring milestone for all merges would create some additional friction, but I don't think that that friction is undue. Overall, I feel it would serve to relieve some of the triage burden for the rel

[2018-10-24 12:49] nikopen commented on #337
Priority and Status are hardcoded to update every 2 hours due to Google rate limiting problems.

Just made a few more fixes to the sheet

[2018-10-24 14:28] nikopen commented on #337
You can also trigger the priority and status scripts manually:

Tools -> Script editor

Select PriorityCI or StatusCI on the function dropdown

 cmd+r / ctrl+r / play button

[2018-10-24 15:10] k8s-release-robot opened #350 "Release v1.13.0-alpha.2 Tracking"
Kubernetes v1.13.0-alpha.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1130-alpha2>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.0-alpha.2>github</A>.
cc @kubernetes/sig-release-members

[2018-10-26 01:39] k8s-release-robot opened #351 "Release v1.11.4 Tracking"
Kubernetes v1.11.4 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1114>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.4>github</A>.
cc @kubernetes/sig-release-members

[2018-10-26 05:47] justaugustus commented on #10
/lifecycle frozen

[2018-10-26 05:48] justaugustus commented on #190
@cjwagner -- have you had a chance to update the Test Infra docs?

[2018-10-26 05:49] justaugustus commented on #192
@zparnold -- Are we all set with the Docs Handbook?

[2018-10-26 05:52] justaugustus commented on #193
@nickchase / @marpaia -- How are we doing with the Relnotes Handbook?

/assign @marpaia
/remove-lifecycle rotten
/lifecycle frozen

[2018-10-26 05:54] justaugustus commented on #241
@tpepper @AishSundar @spiffxp -- did we have a chance to take care of cleaning up the `kubernetes-milestone-maintainers` Github team?

[2018-10-26 05:59] justaugustus commented on #269
This is open for anyone who wants to write a quick blurb. @jdumars?
/help

[2018-10-26 06:02] justaugustus commented on #319
/help

[2018-10-26 07:12] justaugustus opened #353 "SIG Release Github team hygiene"
Some action items for @tpepper and I once https://github.com/kubernetes/community/pull/2778 merges.

- [x] (@calebamiles / @jdumars) Grant Tim and Stephen maintainer status for the following teams:
  - kubernetes-milestone-maintainers
  - kubernetes-release-managers
  - release-admins
  - release-maintainers
  - sig-release-admins
  - sig-release-api-reviews
  - sig-release-bugs
  - sig-release-fe

[2018-10-26 07:13] justaugustus commented on #353
/sig release
/assign @justaugustus @tpepper @calebamiles @jdumars

[2018-10-26 15:36] k8s-release-robot opened #354 "Release v1.12.2 Tracking"
Kubernetes v1.12.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1122>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.2>github</A>.
cc @kubernetes/sig-release-members

[2018-10-26 21:28] cjwagner commented on #190
Yes. #313  #333
/close

[2018-10-26 21:28] #190 closed

[2018-10-28 00:02] AishSundar commented on #241
I wasn't doing anything towards this. At a minimum we can ping folks marked so on [this spreadsheet](https://docs.google.com/spreadsheets/d/1BhKpWwAVMxhtGAd_wOTCzduj-B4SDAp6C_wcSqo7SwA/edit#gid=0) if @tpepper hasn't already.

[2018-10-28 11:07] justaugustus commented on #241
Thanks! @aishsundar or @tpepper, can you give me edit access to that sheet? I hopped comments on the relevant people, but I'll also clean the list up once I have access to munge the actual list.

[2018-10-28 23:49] AishSundar commented on #241
I dont have edit access either. Lets wait for @tpepper

[2018-10-30 17:15] justinsb commented on #223
https://github.com/kubernetes/kops/pull/6019 cleans up the license files that dep added in kops.

[2018-10-31 13:59] k8s-release-robot opened #358 "Release v1.13.0-alpha.3 Tracking"
Kubernetes v1.13.0-alpha.3 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1130-alpha3>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.0-alpha.3>github</A>.
cc @kubernetes/sig-release-members

[2018-11-08 09:28] justaugustus commented on #353
@calebamiles / @jdumars -- Can you grant Tim and I access to these groups when you have a chance?

[2018-11-13 21:40] dims commented on #223
@justaugustus please mark the `github.com/heketi/heketi` item as done

[2018-11-14 03:13] jberkus opened #368 "Proposal: selection process for Shadows"
**The Problem:**

RT Section Lead/Shadow is a mentorship relationship, but we have not been treating it as one.  Instead of having a process to select the most suitable mentees for a given cycle, we simply accept anyone who volunteers before a certain deadline, up to four shadows per lead.  This has resulted in leads having too many shadows for them to manage, and shadows not being mentored for th

[2018-11-14 03:15] jberkus commented on #368
/kind design
/priority important-soon

cc
@tpepper @justaugustus @calebamiles @spiffxp

[2018-11-14 11:57] justaugustus commented on #368
I'll take a swing at a PR for this.
/assign

[2018-11-14 12:07] justaugustus commented on #223
@dims -- we need to leave that as incomplete until the issue is also resolved for `minikube`, `autoscaler/cluster-autoscaler`, and `contrib/rescheduler`. I'll strikethrough the `k/k` one though.

[2018-11-14 12:29] justaugustus commented on #368
(For the record, I'm +1 for this!)

[2018-11-14 12:36] nikhita opened #369 "Define roles and processes for Patch Release Management Team"
The release team is moving from the role of a Patch Release Manager to a Patch Release Management _Team_: https://github.com/kubernetes/sig-release/tree/master/release-team#kubernetes-release-team-roles.

The [current handbook](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/patch-release-manager/README.md) defines processes and suggestions for a patch release man

[2018-11-14 12:37] nikhita commented on #369
/kind design
/priority important-soon

cc @spiffxp @jberkus @calebamiles

[2018-11-14 12:42] justaugustus commented on #369
As an aside the Patch Release Team and Branch Manager roles in the Release Team will become extensions of the to-be-formed Release Engineering subproject within SIG Release.

[2018-11-14 14:11] k8s-release-robot opened #370 "Release v1.10.10 Tracking"
Kubernetes v1.10.10 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v11010>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.10>github</A>.
cc @kubernetes/sig-release-members

[2018-11-15 00:40] calebamiles commented on #353
done
/close

[2018-11-15 00:48] justaugustus commented on #353
Still some cleanup to do on this one, now that Tim and I have access.
/reopen
/unassign @calebamiles @jdumars

[2018-11-15 16:10] idealhack commented on #245
/remove-lifecycle stale

[2018-11-15 16:33] justaugustus commented on #241
/assign

[2018-11-15 17:32] justaugustus opened #372 "Assemble Kubernetes 1.14 Release Team"
This is the official issue for assembling the Kubernetes 1.14 Release Team.

Please review the [Release Team Selection](https://git.k8s.io/sig-release/release-team/README.md#release-team-selection) docs for details on the process and criteria.

We are currently in discussions around improving / refining the selection process (https://github.com/kubernetes/sig-release/issues/368, https://github.com

[2018-11-15 17:33] justaugustus commented on #372
/assign @justaugustus @AishSundar @spiffxp

[2018-11-15 17:43] justaugustus commented on #372
So far, the following people have reached out to me to participate:
- @d-nishi - CI Signal shadow
- @nikhita - Patch Release Management Team
- @yue9944882 - Patch Release Management Team
- @lledru - Bug Triage shadow

[2018-11-15 18:04] jeefy commented on #372
I'd like to volunteer for Release Notes shadow! :)

[2018-11-15 18:18] idealhack commented on #372
I'd like to join the Patch Release Team.

Since I'm the Branch Manager Shadow in 1.12 and 1.13, I can continue to work with branch management if needed.

[2018-11-15 18:19] xmudrii commented on #372
Hey everyone! :wave: I'd love to join the 1.14 release team!

So far seeing by roles, if there is free space, I would love to be shadow for Patch Release or Branch Manager.

[2018-11-15 18:29] marpaia commented on #372
I'd like to nominate @dstrebel to be the 1.14 Release Notes Lead!

[2018-11-15 18:41] shubheksha commented on #372
I'd like to shadow bug triage again or CI signal!

[2018-11-15 18:47] christianh814 commented on #372
I'd like to shadow someone

[2018-11-15 19:45] hhoover commented on #372
I’d like to shadow on the communications team

[2018-11-15 20:23] sumitranr commented on #372
I would like to shadow the patch release management

[2018-11-15 21:15] AishSundar commented on #372
I would like to officially nominate @spiffxp as the 1.14 Release lead :) Go SIG-Beard !!!

[2018-11-15 21:22] justaugustus commented on #372
SIG BEARD 4EVR!
/meow space

[2018-11-15 21:23] kacole2 commented on #372
I would like to nominate @claurence as Enhancements Lead for 1.14. I will take a step back into a shadow/mentor role for 1.14 and take the opportunity to update some of the Enhancement Lead timetables/processes.

[2018-11-15 21:29] xmudrii commented on #372
/meowvie space

[2018-11-15 22:07] munnerz commented on #372
If there's more needed/space, I'd like to volunteer as a patch release shadow too 😄

[2018-11-16 00:13] nikopen commented on #337
Finally got around to fixing the 'ghosting' issue, now the rows will never go blank again 🎆

Also, added a "Kubernetes Github Commands" tab on the top:
the 'Refresh Issues/Priority' buttons do as they say on-demand.

@jberkus @AishSundar @mariantalla @mortent

[2018-11-16 02:15] tan-c commented on #372
I would like to shadow for CI signal team if there is still space :))

[2018-11-16 07:03] jiaj12 commented on #372
Have listened to the speech for your team during KubeCon Shanghai. I am so interested to be part in the patch release team. Currently I'm on the chinese i18n translation team, doc team would work for me as well. Also, the ReadMe.md for doc team is missing @justaugustus.

[2018-11-16 08:40] ameukam commented on #372
I would like to stay as Enhancements Shadow for this milestone.

[2018-11-16 08:53] idealhack commented on #372
cc @smourapina

[2018-11-16 16:58] dougm commented on #372
I would like to nominate @hoegaarden for Branch Manager lead.

And also second @idealhack for Patch Release Manager shadow.

[2018-11-16 17:03] lachie83 commented on #372
@dstrebel Thanks. I accept your nomination.

[2018-11-16 19:33] tfogo commented on #372
I'd like to nominate the fantastic @jimangel for the Docs lead

[2018-11-16 20:21] yastij commented on #372
I second the nomination of @lledru as enhancements shadow, been working with him on daily basis, he will be a great addition to the team.

[2018-11-17 05:31] ry4nz commented on #372
i'd like to be part of (or shadow) the release team

[2018-11-17 05:43] k8s-release-robot opened #374 "Release v1.13.0-beta.1 Tracking"
Kubernetes v1.13.0-beta.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1130-beta1>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.0-beta.1>github</A>.
cc @kubernetes/sig-release-members

[2018-11-19 06:33] jiaj12 commented on #372
@AishSundar Thank you

[2018-11-19 13:40] hoegaarden commented on #372
I am super happy to fulfil the role for the release branch management lead, if everybody is happy with this being done from EMEA timezones.
Thanks @dougm for the nomination!

[2018-11-19 18:32] imkin commented on #372
I had like to continue the test-infra shadow. :-)

[2018-11-20 01:34] justaugustus commented on #372
First set of leads have been added in this PR: https://github.com/kubernetes/sig-release/pull/377
Once we place the leads, I'll move on to adding the shadows.

Thank you soooooooo much to everyone who has volunteered thus far. Let's keep the volunteers coming! :)

[2018-11-20 01:51] tao12345666333 commented on #372
I would like to shadow for Test Infra team. Thanks.

[2018-11-20 01:56] kbarnard10 commented on #372
I'd like to nominate @nwoods for Communications Lead! I would also be happy to shadow and help out.

[2018-11-20 02:00] nwoods commented on #372
@kbarnard10 Wrong nwoods :-)

[2018-11-20 18:56] justaugustus commented on #368
Spoke with @idvoretskyi and we'll plan to generate a Survey monkey survey for the questionnaire. I was originally thinking Google Forms, but the SurveyMonkey route will be more inclusive.

Won't be able to tackle this until after Thanksgiving though. This week is ruff.
/woof

[2018-11-20 18:57] idvoretskyi commented on #368
/meow

[2018-11-20 18:57] idvoretskyi commented on #368
/assign

[2018-11-20 21:42] amwat commented on #372
Having shadowed for 1.12 and 1.13, I'd be willing to give a shot for test-infra lead.

[2018-11-20 22:08] spiffxp opened #378 "Charter clarifications"
I requested a number of non-blocking changes to the charter https://github.com/kubernetes/community/pull/2919

Discussed during SIG Release meeting and it was suggested I assign a follow up issue to ensure we don't lose track

/assign @tpepper @justaugustus @calebamiles
as SIG chairs

[2018-11-20 22:19] tpepper commented on #321
Discussed in Nov. 20 SIG Release meeting:  no solid recollections of justifications for going back to this.  Nobody's clamoring for it.  If something were to be implemented, all felt it must be more automated, and that would be in support of easier GitHub-based discovery of PRs in a given milestone.

[2018-11-20 22:43] tpepper commented on #372
We really need a shadow for @spiffxp as release lead...are there past role leads who are interested in doing this for 1.13?

[2018-11-20 22:47] justaugustus commented on #372
@kubernetes/sig-release -- anyone interested in stepping up as 1.14 Release Team Lead Shadow?

[2018-11-20 22:49] jberkus commented on #372
I nominate @mariantalla as CI Signal Lead for 1.14.

[2018-11-20 23:05] nikopen commented on #321
+1 - enforcing it can be a burden, but instead the bot can automatically apply the milestone to anything that merges against the upcoming release. This way anyone can use the github UI / search queries to easily see what went in.

[2018-11-21 03:09] BenTheElder commented on #372
@justaugustus I'd shadow @spiffxp

[2018-11-21 04:16] justaugustus commented on #372
Tagging @nwoods3 for Communications Lead:

[2018-11-21 04:18] justaugustus commented on #372
@BenTheElder thanks for volunteering to shadow Release Team Lead!
@spiffxp -- do you accept?

[2018-11-21 04:30] nwoods3 commented on #372
I would love to reprise my role as Communications Lead for 1.14. Thank you for the nomination @kbarnard10 :)

[2018-11-21 09:47] nikopen commented on #372
Happy to continue as Bug Triage Lead for 1.14 as discussed in Release meeting :>

[2018-11-21 12:01] idvoretskyi commented on #372
+1 (non-binding) on @nwoods3's nomination :)

[2018-11-21 13:21] yue9944882 commented on #369
how about linking this document to patch team introduction too? highlighting that patch releases are meant for fixing production-impacting bugs

[https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#patch-releases](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#patch-releases)

[2018-11-21 15:57] simplytunde commented on #372
I would love to shadow Docs or Release Notes. Thanks!

[2018-11-21 16:01] boluisa commented on #372
I  will like to shadow for release notes or Docs

[2018-11-21 22:40] justaugustus commented on #321
I caught up on yesterday's [SIG Release meeting](https://youtu.be/jmJOczWHFik).
For context, I opened this because we kind of sped through this on the 1.12 Retro and I wanted to make sure we had a firm decision around whether this was of value.

Given the discussion on the call, I'm satisfied and happy to close this now. :)
/close

[2018-11-21 22:40] #321 closed

[2018-11-23 03:08] k8s-release-robot opened #380 "Release v1.13.0-beta.2 Tracking"
Kubernetes v1.13.0-beta.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1130-beta2>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.0-beta.2>github</A>.
cc @kubernetes/sig-release-members

[2018-11-26 15:11] k8s-release-robot opened #381 "Release v1.12.3 Tracking"
Kubernetes v1.12.3 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1123>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.3>github</A>.
cc @kubernetes/sig-release-members

[2018-11-26 16:41] k8s-release-robot opened #382 "Release v1.11.5 Tracking"
Kubernetes v1.11.5 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1115>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.5>github</A>.
cc @kubernetes/sig-release-members

[2018-11-26 17:08] k8s-release-robot opened #383 "Release v1.10.11 Tracking"
Kubernetes v1.10.11 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v11011>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.11>github</A>.
cc @kubernetes/sig-release-members

[2018-11-26 20:58] spiffxp commented on #372
Chatted with Ben offline.  I do, but I am also interested in finding another (non-Google) shadow.

[2018-11-28 03:21] k8s-release-robot opened #385 "Release v1.13.0-rc.1 Tracking"
Kubernetes v1.13.0-rc.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1130-rc1>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.0-rc.1>github</A>.
cc @kubernetes/sig-release-members

[2018-11-28 14:07] castrojo commented on #372
I'd like to shadow communications again if possible!

[2018-11-29 18:59] liggitt opened #390 "Separate binary publishing from latest release marker file update"
Currently, the release process looks roughly like this:
1. tag source
2. build binaries
3. push binaries and update marker files (e.g. https://dl.k8s.io/release/stable-1.12.txt)
4. build and push rpm/deb packages
5. send release notification

Should we avoid incrementing the marker files until after the build artifacts are pushed out, so the process looks more like this:

1. tag source
2. build bi

[2018-12-01 00:31] k8s-release-robot opened #397 "Release v1.13.0-rc.2 Tracking"
Kubernetes v1.13.0-rc.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1130-rc2>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.0-rc.2>github</A>.
cc @kubernetes/sig-release-members

[2018-12-03 18:16] spiffxp opened #400 "Missing step in release notes playbook: external dependencies"
We missed updating the list of external dependencies for the release notes until the day of cutting release for v1.13.0.  We likely are missing a step in the release notes playbook to do this explicitly.

What we did today was copy the old list and as humans look at the versions of everything listed today.  What we would like is a more formal specification or manifest TBD by cluster lifecycle.

Ex

[2018-12-03 18:36] AishSundar commented on #400
@marpaia until we have a more formal and automated way to generating these, can you update the release notes lead handbook to capture this step and also list the manual workaround we followed.

[2018-12-03 18:57] marpaia commented on #400
@AishSundar for sure, will do.

[2018-12-03 20:35] timothysc commented on #400
@spiffxp I was looking through that list, and it's well beyond the scope of sig-cluster-lifecycle and treads pretty deeply into sig-apps as well.

[2018-12-03 20:41] timothysc commented on #400
/assign @timothysc

I'll try to help make this easier for the bits that we manage.

[2018-12-04 21:28] jberkus opened #405 "Decide on criteria for grouping release tests into blocking/informing/extra"
Post-1.13, we need to complete the re-organization of the sig-release test boards into a proper blocking/informing/extra setup.  These would be the general criteria:

**blocking:** jobs that must pass for a release to take place, and [meet all of the blocking criteria](https://github.com/kubernetes/sig-release/pull/346) for reliability, ownership, and frequency.

**informing**: jobs that often sup

[2018-12-04 22:35] jberkus commented on #405
This is to make working decisions for #347

[2018-12-05 01:56] spiffxp commented on #405
re: 1,4 - I think we shouldn't have "extra"

re: 2 - sure, I don't think sig-release should have stewardship of all jobs on a release branch, only those jobs they plan on using to decide whether to cut a release, and moving to follow the same blocking/informing pattern would accomplish that

I would prefer patch releases only ever have blocking/informing, rather than expand to three dashboards per

[2018-12-05 02:00] spiffxp commented on #405
re: 3 - I'm not sure what "mature" means in this context

For conformance test jobs, I'm inclined to be strict about the requirements.  None of the conformance jobs currently on release-master-blocking run frequently enough to be on there, and I would at best want them on informing.

[2018-12-05 03:32] AishSundar commented on #405
Regarding 1 and 4, I agree with the division except I dont think we need an "extra" dashboard . In my experience in 1.13 cycle, once a job was moved out of blocking, even though we noticed they periodic flake or outright failures and opened issues, we didnt pursue fixes as much as we did for the blocking ones. So while "informing" will definitely be useful (atleast until code freeze), I dont see u

[2018-12-05 06:46] murarisumit commented on #372
I'd like to shadow for Test Infra team or Patch Release Management Team

[2018-12-06 10:05] ttousai commented on #372
I'd like to shadow Patch Release Management Team

[2018-12-06 10:23] ttousai commented on #369
To summarize #408. Patch release manager should be renamed patch release management team for  1.14.

cc @spiffxp @tpepper @aleksandra-malinowska

[2018-12-06 18:17] mortent commented on #372
I'd like to shadow CI Signal again

[2018-12-07 15:15] benmoss commented on #372
If there's still any room I'd be interested in shadowing for enhancements

[2018-12-09 00:59] #221 closed

[2018-12-11 00:00] vishalraina commented on #372
I would like to shadow for CI Signal.

[2018-12-11 02:05] ameukam commented on #372
cc @onyiny-ang

[2018-12-11 16:50] alejandrox1 commented on #372
I would like to shadow for docs or release notes

[2018-12-12 17:20] julianvmodesto commented on #372
I’d like to shadow test-infra! 😊😅

[2018-12-12 18:40] taragu commented on #372
I would like to shadow test-infra! 😄

[2018-12-12 21:49] ibrasho opened #410 "Docs Handbook Broken link"
The `Docs Handbook` link in [Kubernetes Release Team](https://github.com/kubernetes/sig-release/blob/master/release-team/README.md#kubernetes-release-team-roles) is broken.

I'm not sure what it was supposed to point at since the link never was correct since it was introduced...

[2018-12-12 22:29] CsatariGergely opened #411 "Non-US TZ-friendly SIG meeting time"
Please organize a SIG meeting time more friendly for Europe.

[2018-12-12 22:46] justaugustus commented on #411
/cc

[2018-12-12 23:10] idealhack commented on #411
+1 to this

btw add a slack ref related: https://kubernetes.slack.com/archives/C2C40FMNF/p1542764004499700

[2018-12-13 00:57] ibrasho commented on #372
I'd like to shadow for either Test Infra, CI Signal (or Enhancements if both are already not available).

[2018-12-13 12:36] k8s-release-robot opened #412 "Release v1.13.1 Tracking"
Kubernetes v1.13.1 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1131>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.1>github</A>.
cc @kubernetes/sig-release-members

[2018-12-14 13:05] markyjackson-taulia commented on #372
@justaugustus I would like to shadow for this release if possible (based on our talk)

[2018-12-15 00:20] #224 closed

[2018-12-15 04:31] justaugustus commented on #411
Yep, for 2019, we'll release a Doodle to see if there's a better time we can be holding these at or if we can instead have alternating meeting times.

Just as a heads-up, a decent portion of SIG Release members are located on Pacific time, but we'll do our best to try and accommodate! :)

/assign

[2018-12-16 00:11] munnerz commented on #372
There's been a few volunteers above already, but I'd like to volunteer for test-infra shadow as well 😄

[2018-12-16 07:39] MAKOSCAFEE commented on #372
I would love to shadow the `Docs` again.

[2018-12-16 20:12] k8s-release-robot opened #414 "Release v1.11.6 Tracking"
Kubernetes v1.11.6 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md/#v1116>CHANGELOG-1.11.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.11.6>github</A>.
cc @kubernetes/sig-release-members

[2018-12-17 15:57] chkumar246 commented on #372
I have never contributed to Kubernetes, but active in OpenStack community, But love to shadow on test-infra stuff.

[2018-12-17 17:02] k8s-release-robot opened #415 "Release v1.12.4 Tracking"
Kubernetes v1.12.4 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md/#v1124>CHANGELOG-1.12.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.12.4>github</A>.
cc @kubernetes/sig-release-members

[2018-12-17 17:37] AishSundar commented on #319
/assign

[2018-12-17 17:52] liggitt opened #416 "Publish distributors announce list membership"
For transparency about membership, that membership guidelines are being followed, and to allow for vendor coordination on security response without breaking embargo

From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/assign @philips

[2018-12-17 17:54] liggitt opened #417 "Clarify how distributors should communicate during embargoed issues"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

"Is there a channel for discussion between members of the distributors list?"

Many of the members are secresponse aliases, so not all recipients of the distributors announcement emails will be members of the mailing li

[2018-12-17 19:56] recollir commented on #372
Can volunteer as shadow for docs or test-infra. Or volunteer otherwise if spots are full.

[2018-12-17 19:58] ashish-amarnath commented on #372
Hey everyone! 👋 I would love to contribute anywhere I can.. I'd love to passively participate this time as I haven't done this before. What are the roles available?  🙂

[2018-12-17 21:01] agmsb commented on #372
I would love to shadow test-infra, docs, or CI signal if possible. Are there any prerequisites to do so?

[2018-12-17 21:08] liggitt opened #418 "Add distributors pre-announcement template"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

Add distributor pre-announcement template that has placeholders for explicit “you may do X with the embargoed patch or information” statements, add instructions for how to ask for clarification (who to contact), and inc

[2018-12-17 21:09] mario-mazo commented on #372
I would like to shadow for test-infra or docs. Or anywhere where help is wanted

[2018-12-17 21:09] liggitt opened #419 "Update security announcement template"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

Update announcement template to include placeholders for concrete steps to determine if a cluster has a vulnerable version/configuration

/assign

[2018-12-17 21:10] liggitt opened #420 "Update checklist for pre-disclosure review process"
Update security release process and disclosure checklist to include fix team, release team, and PST in review of pre-disclosure announcement draft

From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/assign

[2018-12-17 21:45] andrealmar commented on #372
I’m here to serve 😊

[2018-12-17 21:55] vasrem commented on #372
I'd like to shadow for either Enhancements or Test Infra. It would a good dive for me to the Kubernetes community!

[2018-12-17 22:31] AishSundar commented on #372
Thanks for all the interest y'all. The Handbooks for each of the roles can be found @ https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks. Please read them to familiarize yourself with the role and an overview of the work involved.

[2018-12-17 23:35] denisra commented on #372
I know I might be a bit late for this release, but I'd like to shadow for the Patch Release Management Team or the Bug Triage if possible.

[2018-12-18 14:03] evillgenius75 commented on #372
I would love to shadow docs or communications.

[2018-12-18 18:43] npentrel commented on #372
I'd love to shadow docs again :)

[2018-12-18 18:58] jaredbhatti commented on #372
I too would like to shadow docs.

On Tue, Dec 18, 2018, 10:43 AM Naomi Pentrel <notifications@github.com
wrote:

[2018-12-18 19:41] kacole2 commented on #372
I know there have been a lot of requests for it, but I would like to shadow CI Signal under @mariantalla as well while doing anything needed for Enhancements assistance. I can take a far back seat to let others have the chance. I would like to familiarize myself with more aspects of the release process.

[2018-12-18 19:57] sureshpalemoni commented on #372
Hello I would like to shadow Communications/Docs/Release Notes

[2018-12-18 22:23] BenTheElder commented on #347
/cc

[2018-12-19 07:46] pontiyaraja commented on #372
I like to shadow test-infra

[2018-12-19 13:29] k8s-release-robot opened #421 "Release v1.10.12 Tracking"
Kubernetes v1.10.12 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md/#v11012>CHANGELOG-1.10.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.10.12>github</A>.
cc @kubernetes/sig-release-members

[2018-12-20 21:33] mbohlool commented on #368
Patch release duties are mostly independent of the branch and can be done by any patch release manager. I suggest we have a patch release team instead of individual managers. Each member can still be responsible for one release but all of the team would be in sync with everything on all active releases and every member of the team will also have the ability to do the release. In the case of securi

[2018-12-20 22:24] #405 closed, assigned to nobody

[2018-12-23 14:40] #237 closed

[2018-12-30 02:13] #249 closed

[2018-12-31 03:38] #251 closed

[2019-01-02 19:34] tpepper commented on #369
We need to make it explicit what is the holiday coverage plan.  Traditionally the project slows down dramatically during major holidays.  Folks should know they can continue to trust in patch managers being appropriately reachable during these periods, especially the security team in the event of needing handling on critical vulnerabilities.  This hasn't been a problem generally, but coverage expe

[2019-01-03 00:13] spiffxp opened #425 "Revisit Release Tracking issues"
https://github.com/kubernetes/sig-release/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+Release+Tracking

I'm not sure what tool creates these issues, and lack the historical context for when/why we started creating these.  They appear to be created after a build is cut.  AFAICT they have zero human interaction and aren't actually linked to.  Can we get rid of them?

That said, the use of release t

[2019-01-03 00:18] spiffxp commented on #368
@jberkus I would like for us to have shadow selection more or less wrapped up by the end of next week (Friday, Jan 11th).  Where do we stand on using this?

[2019-01-03 00:22] spiffxp commented on #269
/milestone v1.14

It's not clear to me whether code slush has served its intended purpose.  From what I can tell, it is meant to signal that we aren't accepting any major refactors, but is intended to allow for a higher velocity of code changes than code freeze.

Does it simplify things if we just get rid of it entirely?  If we keep it around, can we more tightly quantify what is and is not allowe

[2019-01-03 00:27] spiffxp opened #426 "The /milestone command isn't working in this repo"
I want the release team to be able to use /milestone in this repo without having write access to the repo.  Probably needs a prow config change in k/test-infra

/kind bug
/assign
/priority important-soon

[2019-01-03 00:30] spiffxp commented on #10
@timothysc We chatted about this in a couple of different contexts at KubeCon Seattle, does SIG Cluster Lifecycle have resources to commit to this for the v1.14 release cycle?

[2019-01-03 00:35] justaugustus commented on #368
@spiffxp -- ball is in my court on the questionnaire. Will be out well ahead of end of next week.

[2019-01-03 02:58] spiffxp commented on #426
Yup, the plugin's not enabled for k/sig-release.  I'm going to enable it, and so as not to bikeshed I'm going to use the existing default of kubernetes-milestone-maintainers as the team authorized to /milestone for this repo.  We can iterate elsewhere on whether a different or more specific team makes more sense.

[2019-01-03 03:02] spiffxp commented on #372
I would like for us to aim to have the team locked in place by the end of next week (Friday, Jan 11th)

[2019-01-03 03:07] spiffxp commented on #347
/milestone v1.14

I would like for us to implement this for the v1.14 release

[2019-01-03 03:29] #426 closed, assigned to spiffxp

[2019-01-03 03:33] spiffxp commented on #241
A modest proposal as we start off a new year: new year, new team.  Drop everyone.  Add the release team.  Add current SIG chairs or TLs.  Add back anyone who asks, have them provide rationale.

[2019-01-03 03:43] spiffxp opened #427 "Proposal: v1.13 patch release schedule"
/assign @tpepper @aleksandra-malinowska
/kind documentation

I'd like to propose that the v1.13 patch release team lay out a schedule for patch releases.  I have often seen requests for "when is the X patch release getting cut" in many slack channels.  I suspect having this information ahead of time would save some angst.

[2019-01-03 04:58] markyjackson-taulia commented on #372
If There is any room for me anywhere to help/shadow, I would love to be in

[2019-01-03 10:48] aleksandra-malinowska commented on #427
Sounds good. Where should we put it?

[2019-01-03 18:40] tpepper commented on #427
We've got separate folders per release in sig-release repo, and the release team members are listed there.  I think as we shift toward a sustaining team of sorts, it would be good to give that its own unique landing page.  The individual release team markdown docs could link to that one page.

This would make it more discoverable for folks wanting to know what are current releases, current support

[2019-01-03 22:37] justaugustus commented on #241
@spiffxp -- Great idea! I'm in favor of purging the list for the new year. :)

[2019-01-04 02:37] tpepper commented on #369
It's my intention to finish 1.14 with this well defined and with it better defined move forward spreading it into a team effort, so perfect to add to milestone.

[2019-01-04 16:56] spiffxp opened #428 "Clean out ephemera"
/milestone v1.14
/sig release
/help

The "short lived" ephemera directory has now been alive for about 18 months.  Let's finish what was started

`testing.md`
/assign @mariantalla @BenTheElder
this would be a great source for deflaking docs, and could maybe de-dupe some of the CI signal playbook (what is CI-signal specific vs. community-wide); if I have time I will try to help here (historical con

[2019-01-04 17:03] spiffxp commented on #378
/sig release

[2019-01-04 17:03] spiffxp commented on #411
/sig release

[2019-01-04 17:39] timmycarr commented on #372
I would like to shadow bug triage or comms if possible.

[2019-01-04 18:20] aleksandra-malinowska commented on #369
@justaugustus is the discussion going on somewhere about Release Engineering subproject? If so, does it make this issue obsolete?

[2019-01-04 18:39] justaugustus commented on #369
@aleksandra-malinowska -- It's on the backlog, but we haven't actively started discussing it. I was planning on using what you and Tim draft as part of the basis for that conversation.

[2019-01-04 19:39] aleksandra-malinowska commented on #369
Thanks. It sounds like we may be out of sync then. To be honest, I'm not sure if whatever is drafted based on the assumption that there'd be a PRM team will be useful if we're extrapolating it to other roles. For example, it may be a feasible option to have one patch release team manage all supported minor releases, but if we want to merge this role with branch manager, would there have to be a te

[2019-01-04 21:12] timothysc commented on #10
Yes, the tracking issue for execution is here - https://github.com/kubernetes/kubernetes/issues/71677

We will need to PR here to remove some of the behavior.

[2019-01-04 21:13] nikopen commented on #269
+1 on getting rid of code slush. In the current handbook iteration of bug-triage there's 'early release', 'pre-code-slush', 'code-slush', 'code-freeze' and 'burndown' - I'm in favor of fewer stages with clearer definitions while I'm cleaning up the handbook (https://github.com/kubernetes/sig-release/pull/430).

In its stead, there can be clearer timelines and boundaries on code freeze - freeze cou

[2019-01-05 00:42] justaugustus commented on #372
It's really wonderful to see all of the people who have volunteered for the 1.14 Release Team!

I've seen your emails, DMs, and notes here; just churning through the post-holiday backlog.

The questionnaire for Release Team shadows will be out next week. Anyone still interested in shadowing will be required to submit it to be considered for a position. I'll post it here and on k-dev, once it's rea

[2019-01-05 04:37] #254 closed

[2019-01-07 17:43] philips commented on #284
/remove-lifecycle stale

[2019-01-07 18:32] tpepper commented on #241
Is it possible to update the Prow "/milestone" command help info, if not already sufficiently clear, to have something like:  "If you believe you should be able to issue the /milestone command, please contact your SIG chairs and have them propose you as an additional delegate for this responsibility."

[2019-01-07 19:58] spiffxp commented on #269
Discussed at release team this morning.  The experience of previous release team members was that code slush was a useful "code freeze is coming" deadline.  For example, some SIGs would wait until code slush to decide whether or not a feature was going to land.  Most felt a blast across kubernetes-dev@/twitter/slack would be sufficient for this.

The actual mechanism of requiring additional labels

[2019-01-07 21:31] spiffxp commented on #425
Discussed during release team meeting

@nikhita dug up this for context: https://github.com/kubernetes/release/blob/master/lib/gitlib.sh#L329-L334
[code]

No strong opinions for or against using pre-emptive release tracking issues.  I said I would investigate in the 1.9/1.10 retros/notes why the pattern from 1.9 wasn't carried forward

[2019-01-08 02:13] spiffxp opened #432 "Investigate automation to facilitate tracking spreadsheets"
From [1.13 retro](bit.ly/k8s113-retro):

[2019-01-08 02:19] spiffxp commented on #432
/milestone v1.14
/kind design
/assign @spiffxp @jberkus  @nikopen @tpepper @AishSundar
I'm assigning everyone listed in the "Action Items" section, please feel free to unassign yourself if you don't have the bandwidth / interest for this.

I've poked a tiny little bit at scraping GitHub things into AirTable, see [this google doc](https://docs.google.com/document/d/1CwrQ1RvRt30XLCCQ3yHtC3kEzORaRN5X

[2019-01-08 07:01] krmayankk commented on #372
@justaugustus  i would like to shadow on patch release management, bug triage and enhancements. Any one is good :-)

[2019-01-09 03:31] justaugustus commented on #368
@spiffxp -- draft shadow questionnaire is ready for review here: https://github.com/kubernetes/sig-release/pull/433

[2019-01-09 04:44] justaugustus commented on #241
@tpepper -- Yep! PR here: https://github.com/kubernetes/test-infra/pull/10669

[2019-01-10 00:02] #368 closed

[2019-01-10 00:32] krmayankk commented on #372
@justaugustus when do we know what we got ? Should we attend the next sig-release ?

[2019-01-10 00:46] justaugustus commented on #372
@krmayankk -- the survey will be out tomorrow. Hang tight in the meantime.

[2019-01-10 23:07] justaugustus commented on #372
The Kubernetes 1.14 Release Team shadow questionnaire is live!
If you're interested in participating in the 1.14 Release Team, please fill it out: https://www.surveymonkey.com/r/k8s-114-rt-shadows

[2019-01-11 02:18] k8s-release-robot opened #437 "Release v1.13.2 Tracking"
Kubernetes v1.13.2 has been built and pushed.

The release notes have been updated in <A HREF=https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md/#v1132>CHANGELOG-1.13.md</A> with a pointer to it on <A HREF=https://github.com/kubernetes/kubernetes/releases/tag/v1.13.2>github</A>.
cc @kubernetes/sig-release-members

[2019-01-11 20:13] spiffxp commented on #425
Summarizing a [thread on #sig-release](https://kubernetes.slack.com/archives/C2C40FMNF/p1547138746179100) with @calebamiles and @dougm

Posting an issue was a workaround for non-Googlers being unable to send e-mail. The idea being that we could output nicely formatted HTML for them to copy into a release announcement e-mail that they would manually send.  The lifecycle of these issues would then b

[2019-01-11 20:52] calebamiles commented on #425
the summary is more or less correct, however, given that branch management will be a team effort in 1.14 perhaps it just makes the most sense for a Googler (on the team) to send the release announcement email with `release-notify` while working on moving the functionality (not code) back into GCB. Although to be honest the _easiest_ thing to do may just be for a member of the branch management tea

[2019-01-11 21:33] calebamiles commented on #425
1. Yes we can close the release tracking issues
1. I do not believe we should suggest that anyone on the branch management team do anything other than copy the email content from GCS (where it's "staged") into their email tool of choice {Outlook, Gmail, etc}
1. Fine with me to remove the issue filing code.

I do believe that collectively the branch management team should move the functionality bac

[2019-01-12 01:00] spiffxp opened #440 "Consider using kubernetes-release-team@ instead of kubernetes-milestone-burndown@"
We currently use a [kubernetes-milestone-burndown@] google group for the meeting invite for release team meetings, and in general as a google group for ACLs related to the release team.  But it's really got so many more people than just the release team on it.

It turns out there is a [kubernetes-release-team@] google group that didn't really get documented as part of the 1.12 cycle.  I noticed it

[2019-01-12 01:02] spiffxp commented on #437
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #437 closed

[2019-01-12 01:02] spiffxp commented on #421
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #421 closed

[2019-01-12 01:02] spiffxp commented on #415
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #415 closed

[2019-01-12 01:02] spiffxp commented on #414
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #414 closed

[2019-01-12 01:02] spiffxp commented on #412
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #412 closed

[2019-01-12 01:02] spiffxp commented on #397
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #397 closed

[2019-01-12 01:02] spiffxp commented on #385
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #385 closed

[2019-01-12 01:02] spiffxp commented on #383
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #383 closed

[2019-01-12 01:02] spiffxp commented on #382
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #382 closed

[2019-01-12 01:02] spiffxp commented on #381
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #381 closed

[2019-01-12 01:02] spiffxp commented on #380
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:02] #380 closed

[2019-01-12 01:03] spiffxp commented on #374
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:03] #374 closed

[2019-01-12 01:03] spiffxp commented on #370
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:03] #370 closed

[2019-01-12 01:03] spiffxp commented on #358
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:03] #358 closed

[2019-01-12 01:03] spiffxp commented on #354
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:03] #354 closed

[2019-01-12 01:03] spiffxp commented on #351
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:03] #351 closed

[2019-01-12 01:18] spiffxp commented on #372
Given that we just got the questionnaire out yesterday, doesn't seem realistic to lock in place today.  Let's aim to have the team locked in place by the end of next week (Friday, Jan 18th)

[2019-01-12 01:34] spiffxp commented on #350
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:34] #350 closed

[2019-01-12 01:34] spiffxp commented on #344
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:34] #344 closed

[2019-01-12 01:35] spiffxp commented on #339
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #339 closed

[2019-01-12 01:35] spiffxp commented on #329
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #329 closed

[2019-01-12 01:35] spiffxp commented on #307
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #307 closed

[2019-01-12 01:35] spiffxp commented on #300
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #300 closed

[2019-01-12 01:35] spiffxp commented on #296
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #296 closed

[2019-01-12 01:35] spiffxp commented on #290
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #290 closed

[2019-01-12 01:35] spiffxp commented on #288
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #288 closed

[2019-01-12 01:35] spiffxp commented on #276
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #276 closed

[2019-01-12 01:35] spiffxp commented on #260
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:35] #260 closed

[2019-01-12 01:36] spiffxp commented on #324
/close
ref: https://github.com/kubernetes/sig-release/issues/425#issuecomment-453643253

[2019-01-12 01:36] #324 closed

[2019-01-12 02:02] spiffxp commented on #440
Step 1: I'd like to purge membership of kubernetes-release-team@ to match that of the v1.14 release-team + release-team subproject owners (let's call that sig-release leads for now) + patch-release team.  Long term I feel like the patch-release team should be split into its own entity

[2019-01-12 02:38] spiffxp opened #441 "Identify and assign release-blocking job owners"
First part of #347

We'd like to ensure there are testgrid alerts setup for all jobs on the release-master-blocking dashboard (and release-master-upgrade).  Those alerts should preferably go to a publicly accessible google group, staffed by a SIG.

Would be nice if the jobs had the owner in their description, as well as what they do.

For the tricky cases like upgrades-that-sig-cluster-lifecycle-r

[2019-01-12 02:49] nikopen commented on #337
/close

[2019-01-12 02:49] #337 closed

[2019-01-12 02:59] spiffxp commented on #319
@justaugustus @AishSundar @filmil Would one of you mind taking a look at the 1.14 readme and see if that addresses the concern here?  I don't plan on retroactively going back to link the other things.

One could argue there should be a dedupe between a given release's readme, the release-team README, and https://github.com/kubernetes/community/blob/master/contributors/devel/release.md, but I'm als

[2019-01-12 03:55] justaugustus commented on #319
/assign
/remove-help

[2019-01-12 04:01] justaugustus commented on #440
As the person who created the group, I'm definitely in favor of this :)
/assign

[2019-01-12 04:07] BenTheElder commented on #441
I wish I could favourite issues :-)

TestGrid does support multiple addresses.

[2019-01-12 06:14] filmil commented on #319
Will check as soon as able. I think it is enough to set a precedent so if someone wants to backfill they know how to do so. Thanks for considering this improvement! F

[2019-01-12 07:38] idealhack commented on #425
cc @hoegaarden the branch manager of 1.14

[2019-01-12 07:41] idealhack commented on #192
cc @jimangel docs lead of 1.14

[2019-01-12 07:43] idealhack commented on #193
cc @dstrebel release notes lead of 1.14

[2019-01-12 14:09] jimangel commented on #192
@msohn I'll fix the link today.

@justaugustus (3 months later...) we have a couple handbooks out there but none are considered "complete." One of my goals this cycle is to correct that along with docs for shadow responsibilities.

Thanks for the CC @idealhack!

[2019-01-12 20:39] #241 closed

[2019-01-13 17:11] jimangel commented on #192
/unassign @zparnold
/assign @jimangel

cc @zacharysarah

[2019-01-13 21:33] justaugustus commented on #326
@philips -- I believe this is still active, right?
/remove-lifecycle stale

[2019-01-14 00:36] marpaia commented on #193
The release notes lead handbook is pretty up-to-date as of today, I last updated it on 1.13 release day to include the external dependencies bit. I'll note that while we've documented the current things that must be done and how they've been done in the past, this role is for sure ripe with areas of potential improvement in my opinion.