[2022-06-28 15:25] jeremyrickard commented on #1953
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-06-29 06:59] saschagrunert commented on #1953
Thank you!

[2022-06-29 06:59] #1953 closed

[2022-06-29 21:39] jeremyrickard commented on #1951
/close until next time!

[2022-06-29 21:39] jeremyrickard commented on #1951
until next time!

/close

[2022-06-29 21:39] #1951 closed

[2022-06-30 10:15] #896 closed

[2022-07-12 14:07] palnabarun opened #1961 "Cut v1.22.12 release"
## Scheduled to happen: Wednesday, 2021-07-13

## Release Blocking Issues

None

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1657635913906239
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/p

[2022-07-12 14:10] palnabarun opened #1962 "Cut v1.23.9 release"
## Scheduled to happen: Wednesday, 2021-07-13

## Release Blocking Issues

None

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1657636342587989
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/p

[2022-07-12 14:13] palnabarun opened #1963 "Cut v1.24.3 release"
## Scheduled to happen:

## Release Blocking Issues

## Release Steps

- [ ] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] Send notification:
- [ ] Collec

[2022-07-13 07:13] justaugustus opened #1965 "Release Manager access for @jeremyrickard and @jrsapi"
### GitHub Username

@jeremyrickard, @jrsapi

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate / 1.25 Branch Manager shadows (https://github.com/kubernetes/sig-release/pull/1964)

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once

[2022-07-13 11:48] palnabarun commented on #1961
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

<details><summary><tt>2022-07-13 11:48:02.043476 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-1.22-blocking#gce-cos-k8sstable2-alphafeatures&width=30"

[2022-07-13 11:50] palnabarun commented on #1962
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-07-13 11:53] palnabarun commented on #1963
### Testgrid dashboards for 1.24

Boards checked for FAILING:
- [sig-release-1.24-blocking](https://testgrid.k8s.io/sig-release-1.24-blocking)
- [sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-07-14 12:32] #1961 closed

[2022-07-14 12:34] #1962 closed

[2022-07-14 12:36] palnabarun commented on #1963
All done!

/close

[2022-07-14 12:36] palnabarun commented on #1875
/remove-lifecycle stale

[2022-07-14 12:37] palnabarun commented on #1611
/remove-lifecycle rotten

[2022-07-14 20:39] cici37 commented on #1875
I guess the issue could be closed now. Thanks @jrsapi and everyone here for the awesome work on assembling 1.25 release team 🥳🥳

[2022-07-14 20:39] #1875 closed

[2022-07-18 15:05] evankanderson commented on #1527
I'm not sure what statistics you get from your artifact registry, but here are a few thoughts on the usage side

- gcr.io VS k8s.io registry during the transition
- count by client used / count of unique downloads by IP or /24
- it would be really interesting to know how many are upgrading for each patch / minor vs skipping (this could feed into release cycle discussions)

For within-release manag

[2022-07-18 21:31] jeremyrickard opened #1970 "Release Manager access for jeremyrickard"
### GitHub Username

@jeremyrickard

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

temporary: Jeremy will cut the 1.25.0-alpha.3 release and access should be revoked once that is completed

### Release Manager Associate

- [x] Update GitHub teams [(`kubernetes/org`)](https://git.k8s.io/org/config/kubernetes/sig-release/teams.

[2022-07-18 21:51] jeremyrickard commented on #1970
/assign @Verolop

[2022-07-19 15:21] jeremyrickard commented on #1965
I think we've gotten all the checklist covered now. @justaugustus @Verolop did I miss anything?

[2022-07-19 15:23] jeremyrickard opened #1971 "Cut v1.25.0-alpha.3 release"
## Scheduled to happen: Tue, 2022-07-19

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/3991
  - [x] Release
- [x] Notify #release-management:  https://kubernetes

[2022-07-19 15:27] jeremyrickard commented on #1971
/milestone v1.25

[2022-07-19 15:55] jeremyrickard commented on #1971
`krel testgridshot` is not working. CI Signal team identified some issues related to the recent Ginkgo update and they were identified as non-release blocking. Proceeding with mock stages. Added an AI to track `krel testgridshot`

https://kubernetes.slack.com/archives/CJH2GBF7Y/p1658187852665699

[2022-07-19 17:04] justaugustus commented on #1965
Awesome!
For each of the checklist items, can you also provide links to the PRs, for completeness?

[2022-07-22 13:55] liggitt opened #1972 "Update go version playbook with information about creating and running canary presubmit jobs"
#### What would you like to be added:

Update https://github.com/kubernetes/sig-release/blob/master/release-engineering/handbooks/go.md to include information about bumping the go version in the canary test image and running the canary presubmit jobs

#### Why is this needed:

When bumping minor go versions, we always need to ensure CI passes on the new version before merging.

We have a canary te

[2022-07-24 22:11] RajGM commented on #1972
Hi @liggitt
Can I take this up?

[2022-07-24 22:12] RajGM commented on #1972
/assign

[2022-07-24 22:21] RajGM commented on #1720
Hi @saschagrunert
Does that mean getting the names along with a version of all of the dependencies in the config file?

[2022-07-24 22:46] liggitt commented on #1972
Sure, open for anyone to take, thanks

[2022-07-25 06:26] saschagrunert commented on #1720
Hey, to which config file are you referring?

[2022-07-25 22:05] jberkus commented on #1527
1. Number of Enhancements dropped from the release, with a reason category for why they were dropped.  Defer to enhancements team to come up with 2-6 categories for dropping enhancements (e.g. feature cancelled permanently, author incommunicado, etc.)
2. Number/percent of release team shadows who completed the release work (i.e. didn't drop out).
3. Number of issues reported based on alpha and bet

[2022-07-27 16:46] lauralorenz commented on #1856
x-posting from the DMs, got the new vids in a properly accessible [google drive folder accessible here](https://drive.google.com/drive/folders/1-2LG9s-JwCzcFYFJpyPNT4YicK4ao8XY?usp=sharing) with a [README](https://docs.google.com/document/d/13q9VR4yhV0x_7ZrEsW0fujLATdNYG4DYnW81CYXnsec/edit?usp=sharing) for suggested titles / ordering for a youtube playlist. Sent to @markyjackson-taulia on slack DM

[2022-07-27 17:27] parispittman commented on #1527
+1 to calls for metrics on # of regressions, kep status’ (current and future releases; eg how many KEPs not GA yet, how many went to GA, etc), and team shadow metrics

[2022-07-27 18:23] markyjackson-taulia commented on #1856
@lauralorenz All videos have been uploaded and reside here: https://www.youtube.com/playlist?list=PL69nYSiGNLP2Lzsjir9W7S8u0UsQeeW71

[2022-07-28 12:31] leonardpahlke commented on #1856
Thank you all so much! :) I opened a PR to add a reference to the YT playlist in the ci signal handbook.

[2022-07-29 18:54] csantanapr opened #1981 "1.25 Kubernetes Major themes contact"
With major themes submission formalizing to use GitHub Discussions, we hope this cycle will be the last time the release team needs to reach out to SIGs for their response.

Since the new process, the release notes team will use this issue to track the work on nudging SIGs for entries on major themes for the 1.25 release cycle.

The Slack channel for each SIG is usually #sig-, but accurate links a

[2022-07-29 18:58] csantanapr commented on #1981
Contacting:

API Machinery
 Apps
 Architecture
 Auth

[2022-07-29 19:53] Divya063 commented on #1981
Contacted:
- Autoscaling
- CLI
- Cloud Provider
- Cluster Lifecycle

[2022-08-01 10:44] leonardpahlke commented on #1883
/remove-lifecycle stale

[2022-08-01 15:16] DiptoChakrabarty commented on #1981
Contacted

- testing
- security
- node
- network

[2022-08-01 16:38] ramrodo commented on #1981
I'll contact:
- Contributor Experience
- Docs
- Multicluster
- Release
- Scalability
- Scheduling

[2022-08-01 20:18] #1856 closed

[2022-08-02 15:24] ramrodo commented on #1981
Contacted:

- [x] Storage
- [x] UI
- [x] Usability
- [x] Windows

Notes:
- SIG Service Catalog was archived by https://github.com/kubernetes/community/pull/6632

[2022-08-04 13:57] Verolop opened #1982 "Cut v1.25.0-beta.0 release"
## Scheduled to happen: Thu, 2022-08-04

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Notify #release-management:
- [x] Send notification:
- [x] Collect metrics and add them to the

[2022-08-04 13:58] Verolop commented on #1982
/milestone v1.25

[2022-08-04 14:01] dims commented on #1982
@Verolop would we be able to hold for https://github.com/kubernetes/kubernetes/pull/111678 to merge?

[2022-08-04 14:03] dims commented on #1982
thanks @Verolop !!

[2022-08-05 12:22] Verolop commented on #1982
/close

[2022-08-05 12:22] #1982 closed

[2022-08-09 15:06] jeremyrickard opened #1983 "Cut v1.25.0-rc.0 release"
## Scheduled to happen:  Tue, 2022-08-09

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards:  GO from CI Signal: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1660048991880919
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: : https://github.com/kuberne

[2022-08-11 00:26] jeremyrickard commented on #1983
PR for publishing bot update: https://github.com/kubernetes/kubernetes/pull/111786

[2022-08-13 01:57] csantanapr commented on #1981
All sigs were contacted and data collected
/close

[2022-08-13 01:58] #1981 closed

[2022-08-13 01:58] csantanapr opened #1986 "Add Major Themes for v1.25"
Add Major Themes for v1.25 to changelog draft

[2022-08-13 01:58] csantanapr commented on #1986
/assign

[2022-08-13 02:18] csantanapr commented on #1986
/kind documentation

[2022-08-16 11:49] cpanato opened #1989 "Cut v1.24.4 release"
## Scheduled to happen: Wed, 2022-08-17

## Release Blocking Issues

## Release Steps

- [ ] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] Send notificati

[2022-08-16 11:50] cpanato opened #1990 "Cut v1.23.10 release"
## Scheduled to happen: Wed, 2022-08-17

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1660739293803889
- [ ] Screenshot unhealthy release branch testgrid boards - not generated
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.

[2022-08-16 11:51] cpanato opened #1991 "Cut v1.22.13 release"
## Scheduled to happen: Wed, 2022-08-17

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1660739260667769
- [ ] Screenshot unhealthy release branch testgrid boards - not generated
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.

[2022-08-16 14:09] Verolop opened #1992 "Cut v1.25.0-rc.1 release"
## Scheduled to happen: Tue, 2022-08-16

## Release Blocking Issues
none

Release Process Steps:
======================

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Notify #release-management:
- [x] Send not

[2022-08-16 14:12] palnabarun commented on #1992
/milestone v1.25

[2022-08-16 15:55] #1986 closed

[2022-08-16 19:37] reylejano opened #1993 "Assemble Kubernetes 1.26 Release Team 🚀 🕐 🎊"
Hi Kubernauts!

Thank you to the 1.25 Release Team for all their hard work and dedication as we near the end of the 1.25 release cycle.
One of the last tasks is to assemble the 1.26 Release Team!

Please review the [Release Team Selection Process docs](https://github.com/kubernetes/sig-release/blob/master/release-team/release-team-selection.md) for details on the process and criteria.

At this sta

[2022-08-16 19:38] cici37 commented on #1993
It's been an absolute honor to lead the Kubernetes 1.25 release. Thanks the community for the opportunity 🙏

I am excited to nominate @leonardpahlke as the 1.26 Release Team Lead! 🎉  Leo has been an excellent addition to the release team over the last few releases and I believe he will be a great lead in Kubernetes 1.26 release. Congratulations @leonardpahlke ! 🎉 ❤️

[2022-08-16 19:47] reylejano commented on #1993
It was a great honor to have been the Emeritus Adviser on the 1.25 Release Team.
It's a privilege to honor @palnabarun as the Emeritus Adviser for the 1.26 Release Team!
Nabarun was the 1.21 Release Lead, lead shadow on 1.20, Enhancements Lead on 1.19, Enhancements Shadow on 1.18 and 1.17, Release Manager and several other community roles

Nabarun will be a great EA and will bring extensive experi

[2022-08-16 21:11] leonardpahlke commented on #1993
Thank you so much, @cici37 @reylejano and everyone else! 1.25 was awesome so far, and I can't wait to get started on 1.26!!! Thank you all :)

[2022-08-17 02:13] Verolop commented on #1992
/close

[2022-08-17 02:13] #1992 closed

[2022-08-17 07:43] RinkiyaKeDad commented on #1993
A big thanks to everyone on the 1.25 Release Team for a great experience! Huge congrats to @leonardpahlke 🎉

I'm very happy to nominate @Nivedita-coder as the next CI Signal Lead! Her efforts during the 1.25 cycle were really commendable, and I'm sure she'll continue doing great in 1.26 as well!

[2022-08-17 08:06] Nivedita-coder commented on #1993
Thank you @RinkiyaKeDad!! It has been great working with you. Super excited for 1.26! :confetti_ball:

[2022-08-17 08:24] palnabarun commented on #1991
/assign

[2022-08-17 08:24] palnabarun commented on #1990
/assign

[2022-08-17 08:24] palnabarun commented on #1989
/assign

[2022-08-17 08:43] palnabarun commented on #1965
Can we close this issue now that both @jeremyrickard and @jrsapi are onboarded?

/kind documentation
/priority important-longterm

[2022-08-17 14:29] Priyankasaggu11929 commented on #1993
Thank you Cici, Rey, and everyone on the 1.25 Release Team, for a wonderful release cycle. And congratulations @leonardpahlke 🎉

I'm very happy to nominate @rhockenbury as the Enhancements Lead for the 1.26 release cycle. As the Enhancements shadow for the previous two release cycles, he has greatly contributed to the release team and also brings a lot of project-wide experience. Congratulations R

[2022-08-17 15:35] csantanapr commented on #1993
It was a great honor to have been release notes lead for 1.25 release, but I had such a great release notes team that it was a pleasure to work with.

I would like to nominate @ramrodo as Release Notes Lead for 1.26 release cycle.
Rodolfo's attention to detail and helping everyone on the team 🙏 were invaluable. He will do a great job 🎉  as a lead

[2022-08-17 16:23] kcmartin commented on #1993
It was a great privilege and honor to serve as the Docs Lead for 1.25! ⭐ Thank you to my Docs shadows, and all the hard-working members of the 1.25 Release Team for their invaluable help! 🙏

I would like to nominate @krol3 as Docs Lead for the 1.26 release cycle.
Carol is a valued collaborator, and I know she'll continue to make solid contributions in this next step on her Kubernetes journey! 🎉

[2022-08-17 16:44] ramrodo commented on #1993
Thanks, @csantanapr! It was a great team collaboration and amazing people. I enjoyed and learned a lot with all of you. I'll do my best in 1.26 🚀

[2022-08-17 21:18] jrsapi commented on #1965
Checklist is complete. LInks to PRs added. Closing.

[2022-08-17 21:18] #1965 closed

[2022-08-19 17:32] helayoty commented on #1993
It was such an honor and an amazing time to work with everyone on the 1.25 Release Team. Great experience!
 Congratulations @leonardpahlke  for a well deserved role 🎉

I'm very happy to nominate @encodeflush as the next Bug Triage Lead for the 1.26 Release! His efforts and dedications during the 1.25 release were really remarkable. I'm sure he will continue doing an amazing impact on the release a

[2022-08-22 11:38] encodeflush commented on #1993
Thank you @helayoty for nominating and trust in me :blue_heart: It was a pleasure to work as bug triage shadow with such a great team.
For me it is a great honor and experience to be part of the amazing release team   :rocket:

[2022-08-23 01:32] katcosgrove commented on #1993
Serving as the Comms Lead for v1.25 has been an honor and a pleasure. All of my shadows have been incredible, and with their help we've managed to pull together an incredible **fifteen** feature blogs, more than any release so far! Thanks to all of you for your hard work and dedication.

I'm happy to nominate @fsmunoz as the Kubernetes v1.26 Comms Lead. Throughout the release, he consistently went

[2022-08-23 12:37] fsmunoz commented on #1993
What a ride... I'm at a loss of words, I was super happy to join in as a shadow (a great programme) and it was amazing to learn from the Comms team, and particularly from @katcosgrove . I'll try my very best to live up to your trust, and it's obviously a huge and unexpected honour that I will cherish.

[2022-08-23 14:16] jeremyrickard opened #2001 "Cut v1.25.0 release"
## Scheduled to happen:  Tue, 2022-08-23

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4128
  - [x] Release
- [x] Build & publish packages (debs & rpms)
- [x] N

[2022-08-23 14:17] jeremyrickard commented on #2001
/milestone v1.25

[2022-08-23 18:50] dims commented on #2001
Open the pod bay doors, HAL!!!

[2022-08-29 15:13] saschagrunert commented on #1983
This is done

[2022-08-29 15:13] #1983 closed

[2022-08-29 15:13] #1971 closed

[2022-08-29 15:14] #2001 closed

[2022-08-29 15:15] saschagrunert commented on #1989
@cpanato this is done, I'm just wondering why we do not have the table filled out for documentation purposes.

[2022-08-29 15:15] saschagrunert commented on #1990
@cpanato this is done, I'm just wondering why we do not have the table filled out for documentation purposes.

[2022-08-29 15:15] saschagrunert commented on #1991
@cpanato this is done, I'm just wondering why we do not have the table filled out for documentation purposes.

[2022-08-29 15:36] cpanato commented on #1989
that is part of the patch release process. @palnabarun can you fill the table or do you need some help?

[2022-08-29 15:41] jeremyrickard commented on #2001
We took an A/I to cut a new version of kpromo. @puerco  are we ready to do that now or do we want to wait for a little more of the work happening before cutting it?

[2022-08-29 15:48] jeremyrickard commented on #1912
/remove-lifecycle stale

[2022-08-29 18:52] xmudrii commented on #1221
/remove-lifecycle stale

[2022-08-30 18:26] leonardpahlke opened #2006 "Release Team Lead access for @leonardpahlke @gracenng @Priyankasaggu11929 @nate-double-u @katcosgrove"
### GitHub Username(s)

- @leonardpahlke
- @gracenng
- @nate-double-u
- @katcosgrove
- @Priyankasaggu11929

### Release Cycle

Kubernetes 1.26

### Prerequisites

- [x] Ensure new Release Team Lead:
  - [x] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/a/kuberne

[2022-08-30 18:26] leonardpahlke commented on #2006
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LFzx82j64sv1
I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-08-31 21:05] marosset opened #2009 "Use GH project for K8s 1.26 enhancement tracking"
Creating an issue to track discussions / work needed to use GH projects for enhancement tracking for K8s v1.26 release instead of Google sheets.

This has been discussed at both v1.25 release retrospectives [notes](https://docs.google.com/document/d/1XvBrK3XYZ3mLVVSOchdgFRPmbW-1V9BdZhaDAesANFs)

Open issues
- Automation
  - [ ] Is this even a blocker? Adding items to google sheets was pretty manua

[2022-08-31 21:07] marosset commented on #2009
/cc @leonardpahlke

[2022-09-01 08:57] palnabarun commented on #2009
Is 1.26 a right target for this? The tracking has to begin starting next Monday.

[2022-09-01 09:04] leonardpahlke commented on #2009
I would stick for now with the spreadsheet and make sure we get the project board for 1.27 up and running. Maybe we can use both simultaneously? @gracenng @Priyankasaggu11929 WDYT?

[2022-09-01 12:30] cpanato commented on #1991
filled the info, @palnabarun please next time fill in and add the testgrid screenshot in the issue, if have questions let us know. But please don't leave the issue empty, this is used to track the releases and have an audit document.

/close

[2022-09-01 12:31] #1991 closed

[2022-09-01 12:33] cpanato commented on #1990
filled the info, @palnabarun please next time fill in and add the testgrid screenshot in the issue, if have questions let us know. But please don't leave the issue empty, this is used to track the releases and have an audit document.

/close

[2022-09-01 12:34] #1990 closed

[2022-09-01 12:36] cpanato commented on #1989
filled the info, @palnabarun please next time fill in and add the testgrid screenshot in the issue, if have questions let us know. But please don't leave the issue empty, this is used to track the releases and have an audit document.

/close

[2022-09-01 16:27] marosset commented on #2009
In the release retro yesterday, there was a desire to not maintain state in sheets and GH projects simultaneously.

[2022-09-01 16:55] jeremyrickard commented on #1895
This was missing the entries in the table and the link to the image promo PR, I have gathered the data and added it to this image.

[2022-09-01 17:27] palnabarun commented on #1991
Thanks, @cpanato, for filling in the stats. This was the first time I missed filling in the stats. I couldn't get to this earlier because I was out sick this week and was occupied with things the previous week.

[2022-09-01 17:28] cpanato commented on #1991
no worries @palnabarun! thanks for all and I hope you are feeling better now <3

[2022-09-01 17:31] palnabarun commented on #1991
I am better now.

Here is the CI Signal snapshot for the release (xref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1660749854071969?thread_ts=1660739260.667769&cid=CJH2GBF7Y) :

I don't have a screenshot of the grid, but everything else looked green. Also, the above failure has since been fixed after almost 6 months of it failing.

[2022-09-01 17:31] palnabarun commented on #1990
Since rendertron was down, took a manual note of the jobs failing. (xref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1660749839829719?thread_ts=1660739293.803889&cid=CJH2GBF7Y)

[2022-09-01 17:32] palnabarun commented on #1989
Since rendertron was down, couldn't take an automated screenshot of the failure.

All looked 🟢 during release day for 1.24.4!

[2022-09-01 17:33] palnabarun commented on #1989
A little context on the delay in filling out the info: https://github.com/kubernetes/sig-release/issues/1991#issuecomment-1234574423

[2022-09-01 17:38] gracenng commented on #2009
For now, periodic and manual trigger is okay imo.

What @marosset said, we (including SIG-Release leads) decided in retro that we will just bite the bullet and do only project beta which means we'll need to:

- [ ] Decide which tag we are collecting on. Ideally this is a new tag because `milestone-maintainer` has been consistently misused in past releases - **how to we make a new one?**
- [ ] Blog

[2022-09-01 18:02] marosset commented on #2009
@gracenng I was able to create a new label at https://github.com/kubernetes/enhancements/labels (I think because I got elevated access to for being on the v1.25 enhancements team)
I created `release-team-approved`. I'm not sure how to restrict who can add this label to issues tho.

[2022-09-01 19:45] palnabarun commented on #2009
Copying my thoughts from Slack (https://kubernetes.slack.com/archives/C02BY55KV7E/p1662060771020379?thread_ts=1662054929.812849&cid=C02BY55KV7E):

TODOs in my POV:
1. Figure out how the restricted labels config works and set tracked/* to be only used by enhancements team members in k/enhancements.
2. Prepare a process doc for the community.
3. Prepare a process doc for the enhancements team.
4. Dr

[2022-09-02 18:04] jeremyrickard commented on #1970
Until next time!

/close

[2022-09-02 18:04] #1970 closed

[2022-09-04 19:21] #1878 closed

[2022-09-06 14:39] jeremyrickard commented on #1912
Going to close this one out, since we've updated all the things.

/close

[2022-09-06 14:39] #1912 closed

[2022-09-06 14:42] jeremyrickard commented on #1811
Verified that both the web posting and email posting are disabled.

/close

[2022-09-06 14:42] #1811 closed

[2022-09-06 14:43] jeremyrickard commented on #908
Picking this up for v1.26

/milestone v1.26

[2022-09-07 07:57] saschagrunert commented on #1723
I think we can start working on this by trying to find out if we can collect the stats from the GCS buckets for the binary artifacts, container images as well as packages.

@kubernetes/release-managers is someone interested in working on this?

[2022-09-07 08:22] saschagrunert commented on #1527
The new project board for enhancements would help us to gather the metrics in a more automated way. I think we should give the board more time to evolve while keeping the necessity for those metrics in mind.

cc @leonardpahlke

Referring discussion: https://kubernetes.slack.com/archives/C2C40FMNF/p1662537798532949?thread_ts=1662477434.202879&cid=C2C40FMNF

[2022-09-07 08:34] saschagrunert commented on #1723
As per discussion in https://kubernetes.slack.com/archives/CJH2GBF7Y/p1662539543468499?thread_ts=1662537592.107829&cid=CJH2GBF7Y:

There are currently multiple infrastructure changes ongoing in parallel:

- GCR to AR
- deb/rpm to OBS | GCS
- binaries from Google infra to community

This means w should finish those big changes before we take a look into this. It’s gonna be easier for us to get thos

[2022-09-07 11:47] leonardpahlke commented on #1902
Closing this issue. (The offboarding checkboxes are implicitly checked by the onboarding of the 1.26 team).

/close

[2022-09-07 11:47] #1902 closed

[2022-09-07 12:19] leonardpahlke commented on #2006
Onboarding of RT leads is completed :)

[2022-09-07 12:26] palnabarun commented on #2006
Please make sure that all lead shadows also complete the CNCF Inclusive Speaker Orientation training.

[2022-09-07 12:31] leonardpahlke commented on #2006
@Priyankasaggu11929 @nate-double-u @katcosgrove @gracenng, could you comment on your certificate ID number here?

[2022-09-07 15:55] gracenng commented on #2006
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF-ocllb99cdq

I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-09-07 16:10] gracenng opened #2011 "Docs for PRR Freeze Risk"
**What would you like to be added**: with the removal of the word "soft" in PRR freeze from 1.25 retro, I would like to add more clarifications about PRR Freeze risks. What happens if a KEP misses a PRR Freeze, what to do and the risks that involve.

**Why is this needed**: It has been my observation that the expectations of the PRR freeze is not well understood by the community and even the relea

[2022-09-09 11:22] Priyankasaggu11929 commented on #2006
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF-vm42e2205f

I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-09-12 16:25] palnabarun opened #2017 "Cut v1.22.14 release"
## Scheduled to happen: Wednesday, September 14, 2022

## Release Blocking Issues

## Release Steps

- [ ] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] S

[2022-09-12 16:25] palnabarun opened #2018 "Cut v1.23.11 release"
## Scheduled to happen: Wednesday, September 14, 2022

## Release Blocking Issues

## Release Steps

- [ ] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] S

[2022-09-12 16:51] palnabarun opened #2019 "Cut v1.24.5 release"
## Scheduled to happen: Wednesday, September 14, 2022

## Release Blocking Issues

## Release Steps

- [ ] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1663003714085989
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publis

[2022-09-12 16:52] palnabarun opened #2020 "Cut v1.25.1 release"
## Scheduled to happen: Wednesday, September 14, 2022

## Release Blocking Issues

## Release Steps

- [ ] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #release-management:
- [ ] S

[2022-09-14 11:33] ameukam opened #2024 "Release Manager temporary access for ameukam"
### GitHub Username

ameukam

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

Examples:
- temporary: `ameukam` is a Release Manager Associate being granted temporary elevated access to cut releases. Access should be revoked after the 1.24.5 and 1.23.11 releases are cut.

### Release Manager Associate

- [x] Update GitHub teams

[2022-09-14 15:41] jimangel commented on #2020
I don't have the ability to edit this issue, so I'll update this comment and we can copy things over after:

## Release Steps

- [x] Create a thread on #release-management:
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #r

[2022-09-14 16:41] jimangel commented on #2020
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-09-14 16:43] jimangel commented on #2017
I don't have the ability to edit this issue, so I'll update this comment and we can copy things over after:

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [ ] Stage
  - [ ] Release
- NoMock Run
  - [ ] Stage
  - [ ] Image Promotion:
  - [ ] Release
- [ ] Build & publish packages (debs & rpms)
- [ ] Notify #r

[2022-09-14 16:43] jimangel commented on #2017
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-09-16 15:22] katcosgrove commented on #2006
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF-ufmbi6ztnx

I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-09-20 07:23] xmudrii commented on #1324
/remove-lifecycle stale

[2022-09-20 08:27] xmudrii commented on #1649
/remove-lifecycle stale

[2022-09-20 12:51] jeremyrickard opened #2031 "Cut v1.26.0-alpha.1 release"
## Scheduled to happen:  Tue, 2022-09-20

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management:
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:  https://github.com/kubernetes/k8s.io/pull/4246
  - [x] Release
- [x] Notify #release-management:  https://kubernet

[2022-09-20 13:02] jeremyrickard commented on #2031
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-09-20 13:11] jeremyrickard opened #2032 "Temporary Release Manager access for @jeremyrickard"
### GitHub Username

@jeremyrickard

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager

### Tenure

temporary: Jeremy is a Release Manager Associate being granted temporary elevated access to cut releases. Access should be revoked after the 1.26.0-alpha.1 release is cut.

### Release Manager Onboarding

**All pull requests within these checklists shoul

[2022-09-20 13:30] ameukam commented on #2020
/close

[2022-09-20 13:30] #2020 closed

[2022-09-20 13:30] #2019 closed

[2022-09-20 13:30] ameukam commented on #2018
/close

[2022-09-20 13:30] ameukam commented on #2017
/close

[2022-09-20 14:32] reylejano commented on #1993
The 1.26 Release Team is assembled 🎉 🙏
/close

[2022-09-20 14:32] #1993 closed

[2022-09-20 14:54] palnabarun commented on #2018
@ameukam @jimangel -- do you happen to have the testgridshot for this release?

I have all the other information.

[2022-09-20 14:57] palnabarun commented on #2019
@ameukam @jimangel -- do you happen to have a testgridshot for the release?

I have filled all the other remaining information.

[2022-09-20 15:00] palnabarun commented on #1835
/remove-lifecycle rotten

[2022-09-20 15:04] palnabarun commented on #1835
/reopen

[2022-09-20 15:33] jeremyrickard opened #2034 "Release Manager Associate Access for @cici37 and @salaxander"
### GitHub Username

@cici37 @salaxander

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

permanent

e.g., permanent, temporary

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x]

[2022-09-20 19:33] xmudrii opened #2035 "Cut v1.22.15 release"
## Scheduled to happen: Wed, 2022-09-21

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1663751060279719
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4251
  -

[2022-09-20 19:33] xmudrii opened #2036 "Cut v1.23.12 release"
## Scheduled to happen: Wed, 2022-09-21

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1663751044192809
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4252
  -

[2022-09-20 19:33] xmudrii opened #2037 "Cut v1.24.6 release"
## Scheduled to happen: Wed, 2022-09-21

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1663751029890829
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4253
  -

[2022-09-20 19:33] xmudrii opened #2038 "Cut v1.25.2 release"
## Scheduled to happen: Wed, 2022-09-21

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1663751013773729
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4254
  -

[2022-09-21 07:07] saschagrunert commented on #2032
Can this be closed?

[2022-09-21 07:11] #1835 closed

[2022-09-21 07:11] #2024 closed

[2022-09-21 09:17] xmudrii commented on #2036
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-09-21 09:17] xmudrii commented on #2035
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-09-21 09:22] xmudrii commented on #2037
### Testgrid dashboards for 1.24

Boards checked for FAILING:
- [sig-release-1.24-blocking](https://testgrid.k8s.io/sig-release-1.24-blocking)
- [sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)
  - [capz-windows-containerd-1.24: FAILING](https://testgrid.k8s.io/sig-release-1.24-informing#capz-windows-containerd-1.24)
    ![image](https://user-images.githubuserconten

[2022-09-21 22:32] nate-double-u commented on #2006
Sorry for the delay, I'm having some login issues with my LF training portal account. I've opened a support ticket and hope to have it resolved soon.

[2022-09-22 11:36] #2038 closed

[2022-09-22 11:36] #2037 closed

[2022-09-22 11:36] #2036 closed

[2022-09-22 11:36] #2035 closed

[2022-09-22 18:49] xmudrii commented on #1832
/remove-lifecycle rotten

[2022-09-22 20:38] nate-double-u commented on #2006
I have completed the CNCF Inclusive Speaker Orientation training. Certificate ID Number: LF-pj1lrok35a

I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2022-10-05 07:29] saschagrunert commented on #2031
@jeremyrickard is this done? :)

[2022-10-05 14:47] #2032 closed

[2022-10-05 14:47] jeremyrickard commented on #2031
Closing now that we have cut the kpromo release :)

/close

[2022-10-05 14:52] #2031 closed

[2022-10-11 15:55] cici37 opened #2052 "Cut v1.26.0-alpha.2 release"
## Scheduled to happen: Tue, 2022-10-11

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1665504192812269
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4335
  -

[2022-10-11 15:56] cici37 commented on #2052
/milestone v1.26

[2022-10-11 16:03] cici37 commented on #2052
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-10-11 23:23] cici37 commented on #2052
Note: Image promotion takes 2h51m22s to pass which is too long([log](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-image-promo/1579931527184125952))

[2022-10-12 07:17] xmudrii opened #2053 "Cut v1.25.3 release"
## Scheduled to happen: Wed, 2022-10-12

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1665559245268139
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
       -  https://github.com/kubernetes/k8s.io/pul

[2022-10-12 07:18] xmudrii opened #2054 "Cut v1.24.7 release"
## Scheduled to happen: Wed, 2022-10-12

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1665559257130699
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
      -  https://github.com/kubernetes/k8s.io/pull

[2022-10-12 07:18] xmudrii opened #2055 "Cut v1.23.13 release"
## Scheduled to happen: Wed, 2022-10-12

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1665559268717859
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
        -  https://github.com/kubernetes/k8s.io/pu

[2022-10-12 07:37] saschagrunert commented on #2052
@cici37 thank you for cutting the release, I assume that everything is now done and we can close this issue.

[2022-10-12 07:37] #2052 closed

[2022-10-12 07:54] xmudrii commented on #2053
### Testgrid dashboards for 1.25

Boards checked for FAILING:
- [sig-release-1.25-blocking](https://testgrid.k8s.io/sig-release-1.25-blocking)
- [sig-release-1.25-informing](https://testgrid.k8s.io/sig-release-1.25-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-10-12 07:55] xmudrii commented on #2054
### Testgrid dashboards for 1.24

Boards checked for FAILING:
- [sig-release-1.24-blocking](https://testgrid.k8s.io/sig-release-1.24-blocking)
- [sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-10-12 07:55] xmudrii commented on #2055
### Testgrid dashboards for 1.23

Boards checked for FAILING:
- [sig-release-1.23-blocking](https://testgrid.k8s.io/sig-release-1.23-blocking)
- [sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

**No FAILING Jobs**

**comment generated by [krel](https://github.com/kubernetes/release/tree/master/docs/krel)**

[2022-10-14 10:57] xmudrii commented on #2055
The release is out.
/close

[2022-10-14 10:57] xmudrii commented on #2054
The release is out.
/close

[2022-10-14 10:57] #2055 closed

[2022-10-14 10:57] xmudrii commented on #2053
The release is out.
/close

[2022-10-14 10:57] #2054 closed

[2022-10-14 10:57] #2053 closed

[2022-10-16 19:20] rhockenbury commented on #2009
Hello everyone. Providing an update here to capture what's left to be done.  I'm separating things out into two categories - High Priority (we should get it done by v1.27) and Low Priority (can be left to future release cycles).

## High Priority

#### Communication
- [ ] Reminders to SIG leads about opt-in process changes in early v1.27 and probably v1.28

#### Script / Sync Job Changes
- [ ] Deb

[2022-10-17 17:08] Joker12244 opened #2058 "Release Manager access for <GH-handle>"
### GitHub Username

e.g., (at)example_user

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

e.g., Release Manager, Release Manager Associate

### Tenure

e.g., permanent, temporary

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject

[2022-10-17 18:13] #2058 closed

[2022-10-31 22:05] jeremyrickard commented on #2034
/close this is done!

[2022-10-31 22:19] salaxander opened #2065 "Release Manager temporary access for salaxander"
### GitHub Username

salaxander

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Xander is a Release Manager Associate being granted temporary elevated access to cut releases. Access should be revoked after the 1.26.0-alpha.3 release is cut.

### Release Manager Associate

- [X] Update GitHub teams [(`kubernetes/or

[2022-11-01 10:04] xmudrii commented on #2034
For some reason, the command didn't work.
/close

[2022-11-01 10:05] #2034 closed

[2022-11-01 15:07] salaxander opened #2066 "Cut v1.26.0-alpha.3 release"
## Scheduled to happen: Tue, 2022-11-01

## Release Blocking Issues

## Release Steps

- [X] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1667314085009659
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4406
  -

[2022-11-01 16:50] salaxander commented on #2066
`krel testgridshot` is not working at the moment

[2022-11-01 18:54] xmudrii commented on #2066
@salaxander `krel testgridshot` has been broken for a long time. Can you please screenshot boards manually if there are any failing tests otherwise just leave a comment saying that everything is okay? :slightly_smiling_face:

[2022-11-01 19:47] salaxander commented on #2066
Looks like we have 1 failure on master informing
![Screenshot 2022-11-01 at 12 47 05 PM](https://user-images.githubusercontent.com/1063495/199324902-a221b428-a793-435f-adbe-ed128594c441.png)

[2022-11-02 17:03] salaxander commented on #2066
As no issues have surfaced, I'm going to close the issue 🎉

[2022-11-02 17:03] #2066 closed

[2022-11-02 17:05] #2065 closed

[2022-11-03 23:40] ramrodo opened #2067 "1.26 Kubernetes Major Themes contact"
The release notes team will use this issue to track the work on nudging SIGs for entries on major themes for the 1.26 release cycle.

The Slack channel for each SIG is usually `#sig-`, but accurate links are available in k/community under `sig-list.md`. The plan is to ask for responses on the public Slack channel (non-disruptively).

The following is a template meant for a guide, so feel free to u

[2022-11-03 23:41] ramrodo commented on #2067
I'll start with the first 5:

- [ ] API Machinery
- [ ] Apps
- [ ] Architecture
- [ ] Auth
- [ ] Autoscaling

[2022-11-04 07:35] harshanarayana commented on #2067
I'' follow up on the following

- [ ]  Instrumentation
- [ ]  Multicluster
- [ ]  Network
- [ ]  Node
- [ ]  Release

[2022-11-08 12:24] mkorbi opened #2072 "Release Manager Associate Offboarding mkorbi"
### GitHub Username

@mkorbi

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Release Manager Associate

### Tenure

I want to step done permanently from this role due to my company duties and my new responsibilities at the CNCF TAG Environmental Sustainability I cannot find time to actively work within the release team.

### Release Manager Associate

- [ ] Update

[2022-11-09 01:25] AnaMMedina21 commented on #2067
I will be taking the next four:

- [x]  Scalability
- [x]  Scheduling
- [x] Security
- [x]  Storage

[2022-11-09 09:10] xmudrii opened #2074 "Cut v1.25.4 release"
## Scheduled to happen: Wed, 2022-11-09

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1667984963034079
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4443
  -

[2022-11-09 09:11] xmudrii opened #2075 "Cut v1.24.8 release"
## Scheduled to happen: Wed, 2022-11-09

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1667984975780109
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4442
  -

[2022-11-09 09:12] xmudrii opened #2076 "Cut v1.23.14 release"
## Scheduled to happen: Wed, 2022-11-09

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1667984983105629
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4441
  -

[2022-11-09 09:13] xmudrii opened #2077 "Cut v1.22.16 release"
## Scheduled to happen: Wed, 2022-11-09

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1667984990122309
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/4440
  -

[2022-11-09 09:16] xmudrii commented on #2074
/milestone v1.25

[2022-11-09 09:46] xmudrii commented on #2074
### Testgrid dashboards for 1.25

Boards checked for FAILING:
- [sig-release-1.25-blocking](https://testgrid.k8s.io/sig-release-1.25-blocking)
- [sig-release-1.25-informing](https://testgrid.k8s.io/sig-release-1.25-informing)
  - [capz-windows-containerd-1.25](https://testgrid.k8s.io/sig-release-1.25-informing#capz-windows-containerd-1.25)

<details>
<img src="https://user-images.githubusercontent

[2022-11-09 09:50] xmudrii commented on #2075
### Testgrid dashboards for 1.24

Boards checked for FAILING:
- [sig-release-1.24-blocking](https://testgrid.k8s.io/sig-release-1.24-blocking)
- [sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)
  - [capz-windows-containerd-1.24](https://testgrid.k8s.io/sig-release-1.24-informing#capz-windows-containerd-1.24)

<details>
<img src="https://user-images.githubusercontent

[2022-11-09 09:55] xmudrii commented on #2077
### Testgrid dashboards for 1.22

Boards checked for FAILING:
- [sig-release-1.22-blocking](https://testgrid.k8s.io/sig-release-1.22-blocking)
- [sig-release-1.22-informing](https://testgrid.k8s.io/sig-release-1.22-informing)
  - [aks-engine-windows-containerd-1.22](https://testgrid.k8s.io/sig-release-1.22-informing#aks-engine-windows-containerd-1.22)

<details>
<img src="https://user-images.githu

[2022-11-09 10:11] xmudrii commented on #2074
Update: we have a green run for capz-windows-containerd-1.25.

<details>
<img src="https://user-images.githubusercontent.com/18719127/200802835-df307544-d1f0-4a8d-a88d-4eeae037fb60.png"/>
</details>

[2022-11-09 11:37] xmudrii commented on #2074
Tracking issue for the failing test: https://github.com/kubernetes/kubernetes/issues/113479

[2022-11-09 11:37] xmudrii commented on #2075
Tracking issue for the failing test: https://github.com/kubernetes/kubernetes/issues/113782

[2022-11-09 11:37] xmudrii commented on #2076
Tracking issue for the failing test: https://github.com/kubernetes/kubernetes/issues/113784

[2022-11-09 15:10] xmudrii opened #2094 "Add support for k8s-stable4 version marker"
#### What would you like to be added:

We should add support for the `k8s-stable4` version marker because it might happen that we support 4 branches in parallel.

(Part of https://github.com/kubernetes/sig-release/issues/850.)

#### Why is this needed:

We had a problem that we supported 1.25, 1.24, 1.23, and 1.22 at the same time. In this case, both `ci-kubernetes-build-1.23` and `ci-kubernetes-b

[2022-11-09 16:24] xmudrii commented on #2077
Update: [aks-engine-windows-containerd-1.22](https://testgrid.k8s.io/sig-release-1.22-informing#aks-engine-windows-containerd-1.22) is green.

<details>
<img src="https://user-images.githubusercontent.com/18719127/200884704-504d3d6a-e33a-4e18-b7d1-5062bcbe7945.png"/>

</details>

[2022-11-10 11:04] xmudrii commented on #2074
Update: capz-windows-containerd-1.25 has been testing master instead of 1.25, so it got removed in favor of [capz-e2e-windows-containerd-1.25](https://testgrid.k8s.io/sig-release-1.25-informing#capz-e2e-windows-containerd-1.25) which is testing 1.25 and is green. Ref: https://github.com/kubernetes/test-infra/pull/27952

[2022-11-10 11:06] xmudrii commented on #2075
Update: issue with the test has been solved by mirroring `registry.k8s.io/etcd:3.5.5-0` into `k8sprow.azurecr.io/kubernetes-e2e-test-images/etcd:3.5.5-0`. The test is now green.

<details>
<img src="https://user-images.githubusercontent.com/18719127/201075393-d33802ab-8989-4e0b-b647-10e120753ae8.png"/>

</details>

[2022-11-10 11:08] xmudrii commented on #2076
Update: issue with the test has been solved by mirroring `registry.k8s.io/etcd:3.5.5-0` into `k8sprow.azurecr.io/kubernetes-e2e-test-images/etcd:3.5.5-0`. The test is now green.

<details>
<img src="https://user-images.githubusercontent.com/18719127/201075771-7b4978a6-d224-44b4-b02a-20c4784bf06d.png"/>

</details>

[2022-11-10 11:55] laxmikantbpandhare commented on #2067
I will follow up on following.

 Testing
 UI
 Usability
 Windows

[2022-11-10 18:20] jeremyrickard opened #2079 "Cut v1.26.0-beta.0 release"
## Scheduled to happen:  Thursday, 2022-11-10

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1668104552546779
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion: https://github.com/kubernetes/k8s.io/pull/44

[2022-11-10 18:21] jeremyrickard commented on #2079
/milestone v1.26

[2022-11-10 19:05] jeremyrickard commented on #2079
Testgrid dashboards for master

Boards checked for FAILING:
[sig-relase-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
* [skew-cluster-latest-kubectl-stable1-gce](https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce)

[sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)
* [cr-crio-cgroupv1-node-e2e-confor

[2022-11-10 19:33] xmudrii commented on #2075
The release is out!
/close

[2022-11-10 19:33] #2075 closed

[2022-11-10 19:33] xmudrii commented on #2076
The release is out!
/close

[2022-11-10 19:33] #2076 closed

[2022-11-10 19:33] xmudrii commented on #2077
The release is out!
/close

[2022-11-10 19:33] #2077 closed

[2022-11-10 19:34] xmudrii commented on #2074
The release is out, but I'll keep this issue open to track the remaining action items.

[2022-11-11 09:14] saschagrunert opened #2081 "Fix `release-notes` tool skipping CVEs if there are multiple CVE map files for one release"
Follow-up work on https://github.com/kubernetes/sig-release/issues/2074

[2022-11-11 14:50] jeremyrickard commented on #2079
/close

[2022-11-11 14:50] #2079 closed

[2022-11-11 15:57] jeremyrickard opened #2083 "Use Prow for Cherry Pick Approval"
#### What would you like to be added:

Move away from manually applying the cherry pick approved label and instead leverage prow to do this.

#### Why is this needed:

Currently, we rely on a manual application (or removal) of the cherry pick approval label. This requires individuals to be in a specific Github Team, which we currently restrict to full release managers. If we want release manager a

[2022-11-11 15:58] jeremyrickard commented on #2083
/cc @xmudrii

[2022-11-12 19:34] xmudrii opened #2084 "Document how to create CVE data maps using `krel cve`"
Follow up from #2074

[2022-11-12 19:35] xmudrii commented on #2074
There are now dedicated issues for each action item, so I'm going to close this issue as the release is done.
/close

[2022-11-12 19:35] #2074 closed

[2022-11-12 19:35] xmudrii commented on #2084
/priority important-soon
/kind documentation
/assign

[2022-11-12 19:53] #2081 closed

[2022-11-14 08:29] saschagrunert commented on #2083
Good point, so the plugin would check the list of current RM(A)'s and then act based on a comment for each PR? We could add some pre-condition checking, like is the PR already approved/lgtm'ed and are there any missing labels?

Later on we also have a sync feature, means if we approve one CP then we auto-approve the ones for related release branches as well.

[2022-11-14 22:58] jeremyrickard opened #2087 "Cut v1.26.0-rc.0 release"
## Scheduled to happen: Tue, 2022-11-15

## Release Blocking Issues

## Release Steps

- [x] Create a thread on #release-management: [link](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1668515860735989)
- [x] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [x] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:   https://github.com/kubernetes/k8s.io/pul

[2022-11-15 12:48] jeremyrickard commented on #2087
### Testgrid dashboards for MASTER

Boards checked for FAILING:
* [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
* [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)
  *  [ci-crio-cgroupv1-node-e2e-conformance](https://testgrid.k8s.io/sig-release-master-informing#ci-crio-cgroupv1-node-e2e-conformance)
  * [gce-cos-master-serial]

[2022-11-15 13:56] jeremyrickard commented on #2083
@saschagrunert  yeah, that's exactly what I had in mind.

Plugin will act based on comment for the PRs and do basic validation:
1. ensure it has LGTM and Approved
2. check for any other missing labels
3. check that the person giving the comment is either RM or RMA

If those checks passed, we would remove the `do-not-merge/cherrypick-not-approved` label and add the `cherry-pick-approved` label. The

[2022-11-21 12:06] justaugustus commented on #1549
/lifecycle rotten
I need to take of this, as I currently own the Netlify site

[2022-11-22 01:44] justaugustus commented on #850
/reopen
My old friend continues in https://github.com/kubernetes/test-infra/pull/28079...

[2022-11-22 01:57] justaugustus commented on #850
`k8s-beta` rears it head again in the 1.26 release.
See this unmerged PR as an example of fixes: https://github.com/kubernetes/test-infra/pull/26028

@xmudrii is on the right track by opening this issue for `k8s-stable4` marker support as a stopgap: https://github.com/kubernetes/release/issues/2752

I'm happy for someone else to attempt closing this, but it may just as well make sense for me to ta

[2022-11-22 01:59] justaugustus commented on #850
This plan in the description may be still the right path forward, but take caution and ask questions as it's been a while since I've updated it.

### Plan of record

- [x] (https://github.com/kubernetes/test-infra/pull/15564) Use explicit (`latest-x.y`) version markers in generated jobs
- [x] (https://github.com/kubernetes/test-infra/pull/18290, https://github.com/kubernetes/release/pull/1389) Pub

[2022-11-22 10:16] xmudrii commented on #850
@justaugustus -- I'd be happy to help with this! Let me take a look into the current situation and then we can sync about this if needed.

[2022-11-22 13:45] cici37 commented on #850
I would be happy to help with this work. Please let me know if help is needed :)

[2022-11-22 15:12] justaugustus commented on #850
Sounds good. Please work together on this, Cici + Marko!
/assign @cici37 @xmudrii
/unassign

[2022-11-22 21:20] justaugustus commented on #2094
(transferred this to k/sig-release)

[2022-11-22 21:21] justaugustus commented on #850
(Linking the `k8s-stable4` issue that @xmudrii opened: https://github.com/kubernetes/sig-release/issues/2094)

[2022-11-24 18:28] justaugustus commented on #2094
/assign @xmudrii

[2022-11-24 18:32] justaugustus opened #2099 "Chair/Technical Lead access for @Verolop and @jeremyrickard"
### GitHub Username

- Technical Lead: @Verolop
- Chair: @jeremyrickard

ref: https://github.com/kubernetes/community/pull/6968

### [Chair/Technical Lead](https://git.k8s.io/sig-release/lead/onboarding.md) role

Chair and Technical Lead

### Chair and Technical Lead Onboarding

**All pull requests within these checklists should be marked with an _explicit_
hold and only released once approved by

[2022-11-24 18:39] xmudrii commented on #2094
@justaugustus I would consider this done since we support the `stable4` marker and there are jobs using it. Do you think it's okay to close this issue or is there anything I forgot about?

[2022-11-29 17:15] ramrodo commented on #2067
We already reached out to all the above SIGs. Closing this issue.
/close

[2022-11-29 17:15] #2067 closed

[2022-11-29 17:59] salaxander opened #2103 "Cut v1.26.0-rc.1 release"
## Scheduled to happen: Tue, 2022-11-29

## Release Blocking Issues

## Release Steps

- [X] Create a thread on #release-management: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1669744663477699
- [ ] Screenshot unhealthy release branch testgrid boards
- Mock Run
  - [X] Stage
  - [x] Release
- NoMock Run
  - [x] Stage
  - [x] Image Promotion:
  - [x] Release
- [x] Notify #release-management:

[2022-11-30 04:01] justaugustus commented on #2099
@Verolop / @jeremyrickard -- Most/all of the access changes have been completed.
When you have a chance please review/action on the remaining items on the checklist.

/assign @Verolop @jeremyrickard

[2022-11-30 04:35] justaugustus commented on #2094
Let's wait until https://github.com/kubernetes/test-infra/pull/28119 merges. :)