[2019-08-30 23:00] jberkus commented on #776
/milestone next

[2019-09-02 06:00] mayankshah1607 commented on #776
Hello, @jberkus ! I would like to know when shall the Shadow Volunteer Forms be out, and the link for the same.
Thank you! :)

[2019-09-03 15:56] jberkus commented on #776
@mayankshah1607 after the leads are selected.  Just watch Kubernetes-Dev mailing list for an announcement.

[2019-09-03 16:30] alejandrox1 commented on #776
I would like to start this and nominate @alenkacz to be the v1.16 CI signal lead.

[2019-09-03 16:35] jimangel commented on #450
PR is WIP, planning on landing a new doc here: https://github.com/kubernetes/community/tree/master/contributors/devel/sig-release today.

Please chime in if there's any disagreements about location before I PR. Otherwise we can iterate on the PR.

[2019-09-03 16:36] saschagrunert commented on #668
I think the only related PR is https://github.com/kubernetes/kubernetes/pull/81278, which we either have to finish or postpone to the next release.

[2019-09-03 19:08] jberkus commented on #725
Closing this due to PR #752.

Unfortunately, more documentation tasks remain.

[2019-09-03 19:08] #725 closed

[2019-09-03 19:09] jberkus commented on #717
Done in #752, other PRs.

[2019-09-03 19:09] #717 closed

[2019-09-03 19:10] jberkus commented on #755
Done.  All kind upgrade tests have been copied over.  Other SCL tests are not considered ready.

[2019-09-03 19:10] #755 closed

[2019-09-03 21:47] soggiest commented on #774
I think this is a great proposal @alejandrox1

While it will increase the toil on SIG attendees, I believe this is a good path forward to help close the loop between the SIGS and the Release team.

[2019-09-04 03:13] justaugustus commented on #776
/assign @jberkus @justaugustus
/priority important-soon

[2019-09-04 03:22] justaugustus commented on #696
(assigning myself as well as I've been helping to burndown some of this.)
/assign
/milestone v1.17

[2019-09-04 16:57] idealhack opened #778 "Cut 1.16.0-beta.2 release"
Scheduled to happen: Thu, 2019-09-04

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1567617601224000)
  - [x] collect metrics, links, ... and add them as a comment

- [x] send notification [email

[2019-09-04 17:24] idealhack commented on #778
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><s

[2019-09-05 13:40] #778 closed

[2019-09-05 16:29] saschagrunert commented on #776
I'm happy to nominate @cartyc to be the v1.17 Release Notes lead. :tada:

[2019-09-05 17:30] mrbobbytables commented on #432
I've done a little bit of automation to improve the enhancements spreadsheet.  I can look at doing similar things for the others as a first pass.

/assign

[2019-09-06 07:56] idealhack commented on #746
btw, it seems we need to extend the list since we now have a new Build Admin, @ps882, welcome!

[2019-09-06 15:46] lachie83 commented on #776
I would like to nominate @guineveresaenger for 1.17 release lead. Guin has done a tremendous job serving as release lead shadow in 1.16 and I believe she would make a great lead. Thanks Guin!

[2019-09-06 16:21] simplytunde commented on #776
I will like to nominate @daminisatya to be v1.17 Docs Team Lead

[2019-09-08 22:36] onlydole commented on #776
I want to nominate @rawkode for 1.17 communications lead. We both came up on 1.15 and 1.16, and he will do great work in 1.17

[2019-09-09 15:03] frapposelli commented on #718
any updates on this?

[2019-09-09 15:13] yastij commented on #718
@frapposelli - didn't have time to get to this yet, I'll probably get to it by the end of the week

[2019-09-09 16:16] saschagrunert commented on #668
Please take a look at the two linked PRs, we decided to split up the work a bit more.

[2019-09-09 18:54] justaugustus commented on #776
/assign

[2019-09-09 18:54] justaugustus commented on #776
/assign @claurence

[2019-09-09 18:55] justaugustus commented on #454
/assign @claurence

[2019-09-09 18:55] justaugustus commented on #670
/assign @claurence
/priority important-longterm
/kind documentation

[2019-09-09 18:58] justaugustus commented on #687
/assign @claurence
/priority important-soon
/milestone v1.17

[2019-09-09 18:58] justaugustus commented on #688
/assign @claurence
/priority important-soon
/milestone v1.17

[2019-09-10 18:47] jberkus commented on #776
@justaugustus and I nominate @claurence as EA for 1.17.

[2019-09-10 22:19] cblecker commented on #680
red: https://github.com/kubernetes/test-infra/pull/14275

[2019-09-10 23:32] jberkus commented on #670
I'm still planning on doing this sometime this week.  I have about 3 pages written.

[2019-09-10 23:33] jberkus commented on #454
Is there some reason this isn't closable?

[2019-09-11 17:53] kacole2 commented on #776
Put @mrbobbytables as the Enhancement Lead for 1.17

[2019-09-11 18:48] claurence commented on #454
I belive all feedback from this was pulled into the 1.16 form (and is now in the future 1.17 form).  would we want to leave it open to solicit new feedback based on 1.16 or create a new issue for that and close this one?

[2019-09-11 21:08] cpanato commented on #776
Do i need to apply again?

[2019-09-11 21:37] justaugustus commented on #776
@cpanato -- the [Release Managers group](https://github.com/kubernetes/sig-release/blob/master/release-managers.md) is not part of the Release Team.

I'll send separate communications about what we're planning to do there for next cycle, but in the meantime, there's no action required on your part.

(All of that to say, yes, you'll still be a part of the Release Managers group. :) )

[2019-09-11 22:07] tpepper commented on #320
I've added some words via a PR in the community repo https://github.com/kubernetes/community/pull/4081 regarding how we review cherry-pick PRs for inclusion on a milestone's release-X.Y branch.

[2019-09-11 22:52] markyjackson-taulia commented on #776
I would love to shadow

[2019-09-13 08:46] idealhack commented on #369
FYI we have a new PR addressing this issue https://github.com/kubernetes/sig-release/pull/782#issuecomment-530584333

[2019-09-13 13:59] idealhack opened #787 "Cut 1.16.0-rc.2 release"
Scheduled to happen: Fri, 2019-09-13

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1568389223299000)

  - [ ] collect metrics, links, ... and add them as a comment

- [x] send notification [emai

[2019-09-13 14:06] idealhack commented on #787
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2019-09-13 23:06:11+0900</tt> FAILING sig-release-1.16-blocking#gce-cos-k8sbeta-slow <a href="https://testgrid.k8s.io/sig-release-1.16-blocking#gce-cos-k8sbeta-s

[2019-09-13 15:43] idealhack commented on #787
🤔 something is wrong with comments above, not sure what's changed

[2019-09-13 15:51] #787 closed

[2019-09-16 15:01] xmudrii commented on #776
I would like to nominate @josiahbjorgaard for 1.17 bug triage lead. Josiah did a great job this release cycle and I believe he will do great in 1.17 too! :tada:

On the other side, after 3 release cycles on the bug triage team, I would like to step down. Not sure are those roles covered by the survey, but I'd like to express interest in:
* the release team lead shadow role
* the release engineerin

[2019-09-16 15:36] justaugustus commented on #776
@guineveresaenger @claurence -- Looks like we've got all of the leads locked up!
I've opened https://github.com/kubernetes/sig-release/pull/792 which includes the 1.17 team to date.

[2019-09-16 16:13] tpepper commented on #432
Another area of spreadsheets based status tracking:
https://github.com/kubernetes/sig-release/pull/782

[2019-09-17 20:25] jimangel commented on #626
/remove-lifecycle stale

[2019-09-18 09:57] justaugustus commented on #737
OWNERS updates: https://github.com/kubernetes/sig-release/pull/793, https://github.com/kubernetes/release/pull/881

[2019-09-18 13:49] claurence commented on #776
With all the leads assembled we're ready to open up the form for shadows: If you have interest in shadowing 1.17 please fill out the form here: https://forms.gle/3rePTvKbLF96p6zMA

cc @mayankshah1607

[2019-09-18 16:43] idealhack opened #795 "Cut 1.16.0 release"
Scheduled to happen: Wed, 2019-09-18

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [sig-release slack channel](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1568852481104900)
  - [ ] collect metrics, links, ... and add them as a comment

- [x] send notific

[2019-09-18 16:43] idealhack commented on #795
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2019-09-19 01:41:52+0900</tt> FAILING sig-release-1.16-blocking#gce-cos-k8sbeta-default <a href="https://testgrid.k8s.io/sig-release-1.16-blocking#gce-cos-k8sbet

[2019-09-18 21:28] guineveresaenger commented on #776
for visibility: can all confirmed members of the 1.17 team please add their info in the following spreadsheet?
https://docs.google.com/spreadsheets/d/1FlOg__qKS4NCGZapYfo6ZsMiSf45VRjYgqwDg80Qr-M/edit?usp=sharing

[2019-09-19 00:22] #795 closed

[2019-09-19 02:43] markyjackson-taulia commented on #776
I would love to become a shadow and have filled out the form

[2019-09-19 19:14] justaugustus opened #804 "Develop a SIG Chair handbook"
We've done a great job of making handbooks popular for a large majority of the roles across the various subprojects in SIG Release, and even inspired other SIGs to create handbooks of their own (https://github.com/kubernetes/community/tree/master/sig-contributor-experience/role-handbooks).

There are lots of things that SIG Release Chairs are doing throughout the release cycles to make sure everyt

[2019-09-20 15:59] tpepper commented on #486
/remove-lifecycle rotten
/priority important-soon

[2019-09-21 06:05] justaugustus opened #806 "[Umbrella] 1.16 Release Retrospective Action Items"
Instead of only having the retro AIs in the [retro doc](https://docs.google.com/document/d/1M_D4lBvq2Hy9A1jPXECf2f2O8QohoBxZEy3p6SxDAC4/edit?usp=sharing), I thought it would be good to have an umbrella issue for these for we can more diligently track them throughout the cycle.

### 1.15 AIs

- [x] (https://github.com/kubernetes/sig-release/issues/841) Schedule at least ~3~ 2 (ideally 3; once a mon

[2019-09-21 06:25] justaugustus commented on #806
FYI @craiglpeters

[2019-09-23 04:35] justaugustus commented on #378
/milestone v1.17
/kind documentation cleanup

[2019-09-23 16:31] tpepper opened #809 "plan a short cycle stability release"
It's been proposed that we do a short (one month?) release cycle that only includes stability fixes and test enhancements.  Could a trial of this happen for 1.21 at the end of 2020?  If so that needs planned and communicated starting perhaps as early as in the 1.19 cycle.  Eg: this would mean people don't get to add features (new, different, scary?!) perhaps even if they missed readiness in 1.20,

[2019-09-24 16:39] tpepper commented on #809
See also: https://twitter.com/thockin/status/1167231836595994624

[2019-09-24 16:47] justaugustus commented on #809
My thoughts are captured here, but I'll transpose to this thread later: https://twitter.com/stephenaugustus/status/1167273011885596673?s=19

[2019-09-26 07:18] aojea commented on #724
/close
kind jobs were added as release blocking

[2019-09-26 07:18] #724 closed

[2019-09-26 14:30] justaugustus commented on #809
Some historical context: https://docs.google.com/document/d/16TTI6K-s941UnlQs5uZSWUw58erUbuYbRkKxN5kDXs0/edit?usp=drivesdk

Thanks for the share, @jdumars!

[2019-09-26 14:46] onlydole commented on #809
+1 to this! It’d be a great move for the project in my opinion 👏🏼

[2019-09-26 14:49] justaugustus commented on #809
/assign

[2019-09-26 14:50] justaugustus commented on #809
/kind feature
/priority important-longterm

[2019-09-26 17:27] liggitt commented on #809
Let me begin by saying that I strongly support fixing bugs, stabilizing components, adding/deflaking tests, improving documentation, and graduating features (and have a track record of working to make those things happen).

There seems to be an impression that the best way to move the project in that direction is to designate particular releases as "stability releases" and forbid any feature-relat

[2019-09-26 17:44] justaugustus commented on #809
On the [SIG Release agenda](https://docs.google.com/document/d/1Fu6HxXQu8wl6TwloGUEOXVzZ1rwZ72IAhglnaAMCPqA/edit?usp=sharing) for 10/7.

[2019-09-26 19:27] smarterclayton commented on #809
Yeah, ultimately the end goal is a more stable product, and given the diversity of bug / feature ratios across sigs only a metrics driven approach is likely to succeed (there is simply no rule that applies to all sigs)

[2019-09-26 21:08] mhomaid commented on #809
+1

[2019-09-27 03:10] lavalamp commented on #809
I strongly agree with @liggitt above. E.g., the request management / fairness & priority effort is both a "feature" and a desperately needed stability fix.

Additionally people who have been working super hard on something do not deserve to wait *half a year* to merge it.

Additionally, I think stability needs to be a way of life. *Every* release should be stability release, or at least, more stab

[2019-09-27 10:43] mayankshah1607 commented on #776
Hi :) . I just wanted to know when the shadows will be announced

[2019-09-27 11:04] justaugustus commented on #776
@mayankshah1607 -- We'll finalize selection for shadows tonight and notify everyone by next week. Thanks for your patience!

[2019-09-27 20:17] #670 closed

[2019-10-03 13:14] liggitt opened #819 "anago build path for tagged releases includes prior tag + commit offset, and is confusing"
When building a release, anago appears to place source in a folder named using something like `git describe`. Because builds are done prior to tagging a release, that means that the build folder has the previous tag plus some number of offset commits.

Examples:
* https://github.com/kubernetes/kubernetes/issues/82854 reported against 1.16.0, stack trace had `/workspace/anago-v1.16.0-rc.2.1+2bd9643

[2019-10-04 19:18] adambkaplan commented on #809
@lavalamp I think we an all agree that stability needs to be a way of life. Sadly that is now how we humans tend to engineer things - it's in our nature to gravitate towards new shiny things vs. maintaining the things we already have.

@liggitt brings up two great points:

1. Using metrics to drive decision-making. Establishing metrics per-SIG/component/etc. is a great idea and project in its own

[2019-10-07 16:28] tpepper commented on #319
Code slush and thaw aren't really a thing that exist as a thing anymore and should be removed from the very few places if any that mention these (eg: https://github.com/kubernetes/sig-release/pull/807).

A reasonable place to add more definitions might be:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/release.md#definitions

[2019-10-07 16:30] alejandrox1 commented on #347
/remove-help
/milestone v1.17

[2019-10-07 18:27] josiahbjorgaard commented on #432
/assign josiahbjorgaard

[2019-10-09 03:36] guineveresaenger commented on #776
As we have a fully staffed release team, I will close this issue.

Thank you all for serving on this wild ride with me - I am honored to have every one of you on board.

Regarding those who aren't on the team this time around, I am happy and grateful to see that there is so much interest and that we will have an easy time staffing future release teams as well.

The release team is an open process/

[2019-10-09 03:36] #776 closed

[2019-10-09 03:51] guineveresaenger commented on #319
@tpepper - I agree that's a good place to add shorthand definitions for contributors, but for release team purposes, we've been copypasting the top-level descriptions for each release, and I think we can create a top-level file in the `/releases` folder.

I'll go ahead and add both....

[2019-10-09 22:10] markyjackson-taulia commented on #660
@justaugustus should this get moved in to the 1.17 milestone?

[2019-10-12 17:26] liggitt commented on #819
alternately, use the -trimpath option once we get to go 1.13 that drops filesystem paths from the built binary

[2019-10-14 16:36] alejandrox1 commented on #458
ping @lachie83 do you have any updates?
/milestone v1.17

[2019-10-14 16:37] alejandrox1 commented on #571
ping @lachie83 any updates on this?
/milestone v1.17

[2019-10-14 16:39] alejandrox1 commented on #450
/milestone v1.17

[2019-10-14 16:41] alejandrox1 commented on #668
/milestone v1.17

[2019-10-14 16:42] alejandrox1 commented on #320
/milestone v1.17

[2019-10-14 16:43] alejandrox1 commented on #457
/milestone v1.17

[2019-10-14 16:44] alejandrox1 commented on #774
/milestone v1.17

[2019-10-14 16:44] alejandrox1 commented on #493
/milestone v1.17

[2019-10-14 16:46] alejandrox1 commented on #493
/assign @mrbobbytables
/unassign @justaugustus

[2019-10-14 18:12] mrbobbytables commented on #432
/milestone v1.17

[2019-10-14 18:17] BenTheElder opened #829 "block releases on non-synthetic clusters"
summarizing from [#sig-release on Slack](https://kubernetes.slack.com/archives/C2C40FMNF/p1571069417053700):

- We should block on at least one real cluster doing something at least mostly covering conformance
- Lacking alternatives, we should use what we use in blocking presubmit ([cluster/kube-up.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/kube-up.sh))
- We should seriously

[2019-10-14 19:06] justaugustus commented on #829
/priority critical-urgent
/milestone v1.17
/area release-eng release-team
/sig release
/kind bug feature

For visibility:
@kubernetes/sig-release-admins @kubernetes/release-engineering @kubernetes/release-team

[2019-10-14 19:17] alejandrox1 commented on #829
/assign @alejandrox1

[2019-10-15 03:07] alejandrox1 commented on #829
Some notes to provide the full story on this issue.

The Initial comment that brought this to the attention of sig release was the following:

Currently, this is true. master-blocking dashboard is composed of the following jobs:
* skew-cluster-latest-kubectl-stable1-gce
* gce-cos-master-alpha-features
* gce-device-plugin-gpu-master
* gci-gce-ingress
* node-kubelet-master
* build-master-fast
* gce-

[2019-10-15 03:07] alejandrox1 commented on #774
Coming back to this...
There have been some recent discussions related to this topic that, in my opinion, make it clear that we need to make "ci signal" a broader effort.
All SIGs are independent entities, there is no SIG to rule them all.
With that on mind, I would like to propose that we enact "ci signal" and contribute with other SIGs as contributors.

To answer the problem statement of this is

[2019-10-15 03:12] alejandrox1 commented on #774
Would people be willing to try that out? I can outright volunteer to do so and to help people learn all that's necessary.

[2019-10-15 03:54] hasheddan commented on #774
@alejandrox1 thanks for your work here! I am also happy to volunteer on this effort. A couple of things that stick out to me as potential questions:

- Because there are already a lot of jobs in the `sig-release` dashboards, will we start by auditing what we already have? An alternative could be building out a new set of dashboards with the process you propose, then retiring the current dashboards

[2019-10-15 08:08] cpanato opened #830 "Cut 1.17.0-alpha.2 release"
Scheduled to happen: Tue, 2019-10-15

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/archives/C2C40FMNF/p1571127974206000)

  - [x] collect metrics, links, ... and add them as a comment

- [x] send notification [email](/link-to-email-on-kubernetes-announce-google-group)

/milestone v1.

[2019-10-15 08:23] cpanato commented on #830
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

[2019-10-15 08:48] cpanato commented on #830
**v1.17.0-alpha.2**

step | command | link | start | duration | remarks
-- | -- | -- | -- | -- | --
mock stage | `./gcbmgr stage master` | https://console.cloud.google.com/cloud-build/builds/112c0279-63c0-4e50-ac12-70900231f3ef?project=648026197307  |  |  |
mock release |  |  |  |  |
stage |  |  |  |  |
release |  |  |  |  |

[2019-10-15 11:07] cpanato commented on #830
v1.17.0-alpha.2 is released

[2019-10-15 11:57] cpanato commented on #830
/close

[2019-10-15 11:57] #830 closed

[2019-10-16 20:05] jberkus commented on #829
Historically the GCE jobs haven't had anyone responsive owning them, which is one of the reasons they're not in Blocking in the first place.  Who owns the gce-conformance job now, and will the be responsive for troubleshooting?

[2019-10-16 20:09] BenTheElder commented on #829
- Feel free to assign me if cluster up / down / ... breaks in that job. This is a hypothetical problem anyhow. The only outages we've had are with the test-infra (boskos).
  - This same code for up/down is used in blocking presubmit, so it's hard to break
  - We do have other blocking CI already using this same tooling (ingress, GPU, reboot ...)
- Some of the _test cases_ break or are flaky and th

[2019-10-18 01:14] dims commented on #829
@alejandrox1 @BenTheElder
- OpenStack is back on its feet (something broke in local-up-cluster which broke them) - https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20OpenStack
- Added a CAPG job (stable versions of cap* against k8s-master ci artifacts) to release informing dashboard too - https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

[2019-10-18 19:49] aojea commented on #829
@dims just curious against what OpenStack version is running this job?
 Is it running against a real cloud or devstack?

[2019-10-18 21:47] tpepper commented on #539
/priority backlog

[2019-10-18 22:42] dims commented on #829
I believe this is running against "real" openstack run by CityNetwork:
https://github.com/theopenlab/openlab-zuul-jobs/blob/master/zuul.d/jobs.yaml#L568-L581

@kiwik @ZhengZhenyu @wangxiyuan @liusheng - can one of you please confirm?

[2019-10-19 00:17] mrbobbytables commented on #539
/assign

[2019-10-19 07:46] aojea commented on #829
https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/run.yaml#L85 :/

[2019-10-19 16:19] mrbobbytables commented on #493
Currently, without tooling to automate other components of the KEP process -- creating and managing the `exceptions.yaml` seems like more of a duplication of effort. As @kacole2 mentioned previously the information is already stored in the enhancement tracking sheet, along with the record of it being sent to the sig-release mailing list.

As far as tooling the consumption of `exceptions.yaml`, I'm

[2019-10-21 01:48] wangxiyuan commented on #829
@dims, yeah, the job uses Citynetwork cloud as `OpenStack`

https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/run.yaml#L4
https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/run.yaml#L22-L27

[2019-10-21 06:25] aojea commented on #829
Based on the playbooks it seems that the kubernetes cluster is installed using `./hack/local-up-cluster.sh ` inside one VM and use the Openstack APIs to test the openstack controller with real APIs. That's a synthetic cluster.

However, the intention is deploying the cluster as a user will do, I mean, create VMs for the kubernetes nodes and test against a cluster with multiple nodes.

@wangxiyuan

[2019-10-21 07:05] daminisatya opened #834 "Improve doc release handbook"
1. Explain why we need release-[current release], dev-[future release] branches.
2. Importance of the Integration branch and the contents to go in the issue description.
3. Example message to send to the enhancement owners to followup for docs

[2019-10-21 07:05] daminisatya commented on #834
/assign @daminisatya

[2019-10-21 07:27] justaugustus commented on #819
/assign @tpepper @justaugustus
/priority important-soon
/milestone v1.17
/kind bug cleanup

[2019-10-21 07:45] wangxiyuan commented on #829
@aojea, I'm not very familar with K8S. I can just say something from job side. The job install k8s cluster(with CPO) using `./hack/local-up-cluster.sh` and config the real cloud `Citynetwork` as the openstack part in CPO.  Citynetwork provides standard OpenStack APIs for test.
I guess @adisky and @ramineni and tell more.

[2019-10-21 08:23] ramineni commented on #829
@aojea right now, there are no multi-node jobs running , but we have one in progress for CPO migration testing which setup multinode https://github.com/theopenlab/openlab-zuul-jobs/pull/649 ,
Later, may be we could migrate other jobs as well .
/cc @adisky

[2019-10-21 16:37] guineveresaenger commented on #450
/priority important-longterm

[2019-10-21 16:41] guineveresaenger commented on #347
Closing in favor of #773, #774, #775.

Thanks everyone!

[2019-10-21 16:41] #347 closed

[2019-10-21 17:06] tpepper commented on #809
If we had feature branches and feature branch CI, could every release be a short cycle stability release in as much as only stable, proved branch content merged to master with more broad integration happening ahead of merge?

[2019-10-22 07:42] justaugustus opened #836 "Revoke Marko's temporary access to GCP after cutting 1.17.0-alpha.3"
@xmudrii will be cutting the `1.17.0-alpha.3` release, so I'm granting him temporary access to GCP to execute the stage/release process.

Opening this as a reminder to revoke the access once the release is complete.

/assign
/sig release
/area release-eng
/milestone v1.17
/priority important-soon

[2019-10-22 11:51] adisky commented on #829
cc @chrigl

[2019-10-22 13:53] xmudrii opened #837 "Cut 1.17.0-alpha.3 release"
Scheduled to happen: Tue, 2019-10-22

- [x] screen shot master's unhealthy testgrid boards and add them as a comment

- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1571756473377200)
  - [x] collect metrics, links, ... and add them as a comment
- [ ] send notification [email]

[2019-10-22 14:45] xmudrii commented on #837
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

### Failing testgrid jobs

#### sig-release-master-informing

<details><summary>`gce-cos-master-serial`</summary></p>

![sig_release_master_informing_gce_cos_master_serial](ht

[2019-10-22 18:33] alejandrox1 commented on #806
Some updates...

For 1.15 "Clean up SIG Release Testgrid dashboards", we have done the following
* "Move failing jobs to orphaned" and we also subsequently removed them. See Prune SIG GCP dashboards and orphaned jobs https://github.com/kubernetes/test-infra/pull/14241 (thank you @justaugustus !)
* "Ensure all blocking jobs are alerted on" this was put in placed around 1.14 by assign release-blocki

[2019-10-22 18:36] alejandrox1 commented on #775
/lifecycle active

[2019-10-22 18:40] xmudrii commented on #837
#### v1.17.0-alpha.3

| step | command | link | start | duration | remarks |
| ------ | ------------- | ---- | ------ | ----------- | ----------- |
mock stage | ./gcbmgr stage master --build-at-head | https://console.cloud.google.com/cloud-build/builds/0fde3d13-a554-4086-929c-8b54820fc8fe?project=648026197307 | October 22, 2019 at 4:44:14 PM UTC+2 | 1 hr 31 min | success
mock release | - | - | - |

[2019-10-22 18:53] alejandrox1 opened #838 "Document reason for inclusion of release blocking jobs"
Hello internet, in this issue I want to cover a black hole in our [release blocking criteria](https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#release-blocking-criteria-and-dashboard) :

This is a requirement for release blocking jobs that we have not addressed.
However, the existence of such record could help us detect areas where we need to improve our testing, see

[2019-10-24 07:09] justaugustus commented on #836
This was completed after the release.
/close

[2019-10-24 07:09] #836 closed

[2019-10-27 15:56] mrbobbytables commented on #432
I'll limit this to the changes made in the Enhancement tracking sheet and let @josiahbjorgaard fill in the details for the bug triage sheet.

There is room for further improvement (called out below), but it is fairly limited without some greater KEP workflow changes.

---

## Enhancement tracking across releases

Related issue: https://github.com/kubernetes/enhancements/issues/618

The [Enhancemen

[2019-10-28 04:04] markyjackson-taulia commented on #245
/remove-lifecycle stale

[2019-10-28 04:05] markyjackson-taulia commented on #245
@cpanato we maybe can add this to our documentation work

[2019-10-28 16:12] tpepper opened #840 "1.17 release team meeting calendar event has broken hyperlink"
It looks like the meeting invite "[1.17] Kubernetes Weekly Release Team Meeting" has the correct zoom url in text:

https://zoom.us/j/406805785

But the hyperlink behind that text points to a different, incorrect zoom meeting.  The invite needs updated with an edit to the link to insure the text and the link both go to:

https://zoom.us/j/406805785

[2019-10-28 16:39] #837 closed

[2019-10-28 16:44] alejandrox1 commented on #806
quick update on ai from 1.16 "Investigate dashboard for test-infra health" this is being tracked here https://github.com/kubernetes/test-infra/issues/14890

[2019-10-28 16:46] guineveresaenger commented on #493
It was determined in release team meeting on 10/28/19 that this is in fact why we track enhancement exceptions separately.

/lifecycle frozen

[2019-10-28 16:50] guineveresaenger commented on #450
/wg lts

for input for ETA on KEP, as well as information via contributor summit session

@kubernetes/wg-lts

[2019-10-28 17:12] guineveresaenger commented on #432
Asking for input from CI Signal @alenkacz, Docs @daminisatya and Bug Triage @josiahbjorgaard.

Let's get tracking sheets all onto the same workflow.

[2019-10-28 19:54] guineveresaenger opened #841 "SIG Scalability / Release Team process improvements"
Per agenda item in #806, we should schedule once-monthly f2f meetings with:
- SIG Scalability +SIG Release Chairs + 1.17 RT Leads + CI Signal team throughout the cycle.

Notes for this effort available [here](https://docs.google.com/document/d/1-zm9kuMF-j6W2ZZ6lCbBgUAdXX30lZlqdBTyLfRT0R8/edit?usp=sharing).

- [x] for 1.17 - Schedule meetings and invite folks on list above
- [x] Add this action ite

[2019-10-28 23:08] tpepper commented on #840
I went to this link:
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.17

There I clicked 'Kubernetes Release Calendar' which goes to:
https://calendar.google.com/calendar/embed?src=agst.us_b07popf7t4avmt4km7eq5tk5ao@group.calendar.google.com

There I see the weekly Monday meeting.  If I click on it a dialog box comes up showing:
"Description: https://zoom.us/j/406805785"

[2019-10-28 23:15] cpanato commented on #840
Me too. Same as tim reported and no calendar updates

[2019-10-29 07:56] daminisatya commented on #432
+1

[2019-10-29 14:26] justaugustus opened #842 "Cut 1.17.0-beta.0 release"
## Scheduled to happen: Tue, 2019-10-29

- [x] screen shot master's unhealthy testgrid boards and add them as a comment
- [x] stage & release
  - [x] notify [#sig-release](https://kubernetes.slack.com/messages/C2C40FMNF/): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1572359625481300)
  - [x] collect metrics, links, ... and add them as a comment
- [x] send notification [emai

[2019-10-29 14:40] justaugustus commented on #842
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2019-10-29 10:38:35-0400</tt> FAILING sig-release-master-blocking#node-kubelet-master <a href="https://testgrid.k8s.io/sig-release-master-blocking#node-k

[2019-10-29 14:56] justaugustus commented on #842
**v1.17.0-beta.0**

| Step | Command | Link | Start | Duration | Remarks |
| --- | --- | --- | --- | --- | --- |
| mock stage | `./gcbmgr stage release-1.17 --build-at-head` | https://console.cloud.google.com/cloud-build/builds/30c8d5e2-3c53-4948-8096-5d4125efbeca?project=kubernetes-release-test | October 29, 2019 at 10:47:28 AM UTC-4 |  | in progress |
| mock release | `./gcbmgr release --nomock

[2019-10-29 15:50] justaugustus commented on #842
Updated Slack branch whitelists: https://github.com/kubernetes/test-infra/pull/15014

[2019-10-30 06:27] josiahbjorgaard commented on #432
I'll do similar in the near future, but for what it's wirth I'm getting the feeling that sheets are not going to be scalable.

[2019-10-31 22:02] guineveresaenger commented on #840
I believe I have it fixed now.

[2019-10-31 22:02] #840 closed

[2019-11-01 04:17] nikhita commented on #223
/remove-lifecycle stale

[2019-11-04 17:59] guineveresaenger commented on #450
/remove area/release-team

[2019-11-04 19:22] guineveresaenger commented on #841
Update 11/4:

@mariantalla will attend SIG-scalability's meeting this week, and put forward some of the questions mentioned in the draft doc.

[2019-11-05 16:14] saschagrunert opened #849 "Cut 1.17.0-beta.1 release"
## Scheduled to happen: Tue, 2019-11-05

- [x] Screenshot unhealthy `release-1.17` branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1572965241143600)
- [x] Send notification [email](https://groups.google.com/d/topic/kuberne

[2019-11-05 16:51] saschagrunert commented on #849
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2019-11-05 17:51:07+0100</tt> FAILING sig-release-1.17-informing#gce-cos-k8sbeta-serial <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-cos-k8sbe

[2019-11-05 18:56] justaugustus opened #850 "Assess version markers used in release-branch job configs"
Version markers are text files stored in the root of various GCS buckets:

- CI: https://gcsweb.k8s.io/gcs/kubernetes-release-dev/ci
- Release: https://gcsweb.k8s.io/gcs/kubernetes-release/release

They represent the results of different types of Kubernetes build jobs and act as sort of a public API for accessing builds. One can see them leveraged in extraction strategies for e2e tests, release en

[2019-11-05 19:21] saschagrunert commented on #849
@justaugustus a friendly ping regarding the announcement mail. Afterwards I guess this issue can be closed. :)

[2019-11-05 20:10] justaugustus commented on #849
@saschagrunert -- there appear to be issues with granting permissions on the k-announce list (or really even searching members), so I went ahead and [sent the announcement myself](https://groups.google.com/d/topic/kubernetes-announce/nDtLmKE7ID4/discussion) and updated the issue description to include it.

Thanks for your help today!
/close
/assign @saschagrunert

[2019-11-05 20:10] #849 closed

[2019-11-05 20:17] justaugustus opened #851 "Revoke Sascha's temporary access to GCP after cutting 1.17.0-beta.1"
@saschagrunert will be cutting the 1.17.0-beta.1 release, so I'm granting him temporary access to GCP to execute the stage/release process.

Opening this as a reminder to revoke the access once the release is complete.

- [x] https://github.com/kubernetes/org/pull/1388
- [ ] https://github.com/kubernetes/k8s.io/pull/454

/assign
/sig release
/area release-eng
/milestone v1.17
/priority important-s

[2019-11-05 23:02] #851 closed

[2019-11-06 17:08] tpepper commented on #850
/cc

[2019-11-07 21:42] dims commented on #829
Now we have both CAPA and CAPG that are release informing:
- https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-stable-k8s-master
- https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

[2019-11-08 22:31] #660 closed

[2019-11-11 16:14] alejandrox1 commented on #775
/milestone v1.17
btw

[2019-11-11 16:36] alejandrox1 commented on #829
I guess a quick summary on this to track progress and see where we can land...

Firs off, thank you @dims for all the work getting capg and capa in master informing!
Other than that, we have the conformance jobs running in GCE so we have some good coverage with non-synthetic clusters.

---

The open question right now isregarding the openstack conformance jobs.
As per @aojea comment

The openstack

[2019-11-11 16:37] alejandrox1 commented on #829
/priority important-longterm

[2019-11-11 17:30] guineveresaenger commented on #829
let's keep this open for tracking the openstack progress:

Once that work is done, we can probably close this issue.

[2019-11-11 17:30] guineveresaenger commented on #806
@justaugustus - do you have updates for us? :)

[2019-11-11 17:32] guineveresaenger commented on #841
Next TODO: schedule a November meeting with CI Signal leads

[2019-11-11 17:38] sbueringer commented on #829
just fyi. This will probably take a while. I don't have a lot of time to work on this left this year and there are some blockers like getting a new GCB bucket, integrating OpenLab with the CAPO Repo, building images with Packer via OpenLab Zuul..

[2019-11-11 17:46] guineveresaenger commented on #829
thanks for the background, @sbueringer !

[2019-11-11 22:08] #775 closed

[2019-11-12 11:56] justaugustus commented on #758
Closed via https://github.com/kubernetes/sig-release/pull/847.
/remove-lifecycle stale
/close

[2019-11-12 11:56] #758 closed

[2019-11-13 18:03] jeefy opened #857 "Track enhancement slip across multiple releases"
We should look across multiple releases to check the following:
- Has an enhancement slipped across multiple releases?
- Is there a specific SIG that has statistically more slips than others?

We might be able to use these metrics to identify SIGs that need help.

/assign @jeremyrickard
/cc @mrbobbytables
/area release-team
/kind cleanup
/priority important-longterm

[2019-11-16 16:09] cpanato opened #860 "Cut 1.17.0-beta.2 release"
## Scheduled to happen: Mon, 2019-11-18

- [x] Screenshot unhealthy `master` branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/archives/C2C40FMNF/p1574092351365500)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x] Send notification [email](https://groups.google.com/forum/#!topic/k

[2019-11-18 15:39] cpanato commented on #860
### Testgrid dashboards
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-upgrade](https://testgrid.k8s.io/sig-release-master-upgrade)

[2019-11-18 15:56] cpanato commented on #842
ping @justaugustus to check if this can be closed

[2019-11-18 18:02] cpanato commented on #860
released <3

[2019-11-19 17:40] cpanato commented on #860
/close

[2019-11-19 17:40] #860 closed

[2019-11-22 16:39] cpanato opened #864 "Cut 1.17.0-rc.1 release"
## Scheduled to happen:  Fri, 2019-11-22

- [x] Screenshot unhealthy `master` branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1574441087396700)
  - [x] Collect metrics and add them to the `Release steps` table below

- [x

[2019-11-22 17:09] cpanato commented on #864
### Testgrid dashboards **1.17**
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2019-11-22 18:08:38+0100</tt> FAILING sig-release-1.17-informing#aks-engine-azure-1-17-windows <a href="https://testgrid.k8s.io/sig-release-1.17-informi

[2019-11-22 19:25] cpanato commented on #864
k8s v1.17.0-rc.1 is live!

/honk

[2019-11-24 17:36] saschagrunert commented on #729
/remove-lifecycle stale

[2019-11-24 17:37] saschagrunert commented on #636
/remove-lifecycle stale

[2019-11-25 17:19] guineveresaenger commented on #864
Yay! Congrats everyone!

[2019-11-25 17:19] #864 closed

[2019-11-25 17:33] guineveresaenger commented on #829
Moving this to 1.18 milestone so that team can continue tracking this work, as it's longterm at this point.

[2019-11-25 17:38] guineveresaenger commented on #841
Summary for 1.17 team's progress on this:

- we have a weekly written update from a SIG representative in the release team agenda doc
- we have the CI Signal Lead communiacte with SIG-scalability on the regular
- we have sent a RT representative to SIG-scalability's regular meeting and checked in on specifics. (mentioned in the doc linked in this issue).

Going forward, we should:

- send a RT rep

[2019-11-25 17:55] guineveresaenger commented on #668
We are waiting on some automation and decisions around proposed labels here.

This won't make the 1.17 milestone.

/milestone v1.18

[2019-11-25 17:57] justaugustus commented on #668
I think we can close the loop on this before 1.17 is out.
/milestone v1.17

[2019-11-25 22:48] claurence opened #871 "Assemble Kubernetes 1.18 Release Team"
It's that time to start assembling the 1.18 release team

Please review the Release Team Selection Process docs for details on the process and criteria.

Right now only looking for nominations for Role Leads.  Once role leads are nominated we will then send out a shadow application survey.

/sig release
/are release-team
/milestone v1.18

cc @guineveresaenger @justaugustus @tpepper

[2019-11-26 14:07] alenkacz commented on #871
I would like to nominate @droslean for a CI signal lead 🎉 he was a great help as a shadow and was driving a lot of innovation in the ci signal team 👏

[2019-11-27 17:11] rawkode commented on #871
I'd like to nominate and recommend @karenhchu for Communications Lead 👍

[2019-11-28 08:35] saschagrunert commented on #668
I propose that we close this issue now. If we're going to sort the notes by kind then we would not need a primary SIG at all, WDYT?

[2019-11-28 08:40] saschagrunert commented on #729
@guineveresaenger do you think we can close this issue? We're tracking multiple technical enhancements already in release engineering, whereas regarding the contributor experience we still have this one open: https://github.com/kubernetes/community/issues/484

[2019-11-28 08:41] justaugustus commented on #668
This needs to stay open until we have a community decision on kind vs SIG.
See here: https://github.com/kubernetes/release/pull/923#issuecomment-558880526

I'll send a note out next week since US folks are on holiday now.
/remove-help
/unassign
/area release-eng

[2019-11-28 08:45] justaugustus commented on #729
At this stage, I think we've sufficiently documented and improved the process to close this out.

/close

[2019-11-28 08:45] #729 closed

[2019-11-28 10:25] justaugustus commented on #605
We (SIG Chairs) now have access to CNCF Service Desk, so I just need to document this in the Release Team Lead handbook before closing this out.

/remove-lifecycle stale
/unassign @calebamiles @tpepper
/milestone v1.18

[2019-11-28 10:28] justaugustus commented on #605
/kind documentation
/area release-team

[2019-11-28 10:43] justaugustus commented on #245
We're going to be moving `kubernetes-cni` into the `kubelet` package.
I should be able to wrap this up in 1.18.

/milestone v1.18
ref: https://groups.google.com/d/topic/kubernetes-sig-release/yhf7hAqJEN0/discussion

[2019-11-28 10:49] justaugustus commented on #761
To be added as part of https://github.com/kubernetes/sig-release/pull/852.
/remove-help
/milestone v1.18

[2019-11-29 10:33] justaugustus commented on #871
Until we select the 1.18 RT Lead + Emeritus Adviser:
/assign @claurence @guineveresaenger

[2019-12-02 12:33] #761 closed

[2019-12-02 12:33] #842 closed

[2019-12-02 16:59] cartyc commented on #871
I would like to nominate @evillgenius75 for Release Notes Lead 😃

[2019-12-02 17:22] mrbobbytables commented on #432
Here is a WIP version with the separation of docs and enhancements with a dashboard for a quick 'at a glance' view
https://docs.google.com/spreadsheets/d/1Wyb6P8SVVG-LySEAYYokwkoVbgEsgyoFPW2XHxyYxFY/edit?usp=sharing

[2019-12-02 17:32] mrbobbytables commented on #871
I would like to nominate @jeremyrickard for Enhancements lead for 1.18 🎉

[2019-12-03 12:43] justaugustus opened #875 "Cut 1.17.0-rc.2 release"
## Scheduled to happen: Tue, 2019-12-03

- [x] Screenshot unhealthy `release-1.17` branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1575377213333700)
  - [x] Collect metrics and add them to the `Release steps` table below
-

[2019-12-03 12:44] justaugustus commented on #875
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2019-12-03 07:41:10-0500</tt> FAILING sig-release-1.17-informing#gce-cos-k8sbeta-serial <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-

[2019-12-03 15:40] daminisatya commented on #871
I would like to nominate @VineethReddy02 for Docs lead 1.18 ✨ 😄

[2019-12-03 17:47] claurence commented on #871
@lachie83 will be taking on the emeritus advisor position for 1.18

[2019-12-03 17:47] claurence commented on #871
/assign @lachie83

[2019-12-03 19:21] rawkode opened #877 "Async Release Team Project"
I've been on the release team since 1.15 and I've learnt a lot about the processes we have in place to deliver a version of Kubernetes. The weekly update for the release team happens consistently at 1700 GMT.

For our US team members, this is 0900 (West), 1200 (East)
For our APAC team members, this is 2300 (India), 0200 (Japan), 0400 (Australia)

Here's a breakdown of geographic distribution for 1

[2019-12-03 19:22] rawkode commented on #877
ATTN @justaugustus @tpepper @calebamiles @claurence @guineveresaenger

[2019-12-03 22:16] guineveresaenger commented on #605
hi! following this because I want to make sure I stay up to date

[2019-12-04 11:16] justaugustus commented on #878
/area licensing
/milestone v1.18
/priority important-longterm
/kind feature

[2019-12-04 11:33] justaugustus commented on #607
This became part of the release cut issue in https://github.com/kubernetes/sig-release/pull/639, was recently updated in https://github.com/kubernetes/sig-release/pull/847, and was added to the Branch Manager handbook in https://github.com/kubernetes/sig-release/pull/666.

/remove-lifecycle stale
/close

[2019-12-04 11:33] #607 closed

[2019-12-04 12:12] #875 closed

[2019-12-04 14:02] justaugustus commented on #877
/assign @rawkode
cc: @kubernetes/sig-release
/milestone v1.18
/priority important-soon
/kind feature

[2019-12-04 14:38] alenkacz commented on #877
I actually really love the face to face meetings but I as I led CI signal this iteration I can confirm, that staying 6-6:30PM every day at the end of iteration is pretty hard.

[2019-12-04 19:33] justaugustus commented on #871
/unassign @claurence @guineveresaenger

[2019-12-04 20:38] justaugustus commented on #732
Most of the non-nebulous, cross-group tasks here have been completed, so we're just about ready to close this out.

@kubernetes/product-security-committee -- How do we want to handle coordinating security releases?

### Option 1
Continue as-is, with `release-managers-private@` nested within `security@`.
Allows Patch Release Team advance heads-up on potential CVEs and minimizes list sprawl

### Opt

[2019-12-04 20:43] justaugustus commented on #732
Ping @kubernetes/release-engineering for any last-minute thoughts...

[2019-12-04 23:38] josiahbjorgaard commented on #871
I'll nominate @smourapina as bug triage lead for the next release cycle.

[2019-12-04 23:48] onlydole commented on #732
Looks good to me! 👍

[2019-12-05 04:50] nikopen commented on #877
Awesome idea and an unavoidable eventuality given the upcoming dissolution of the release team as we know it.

100% support the cause, I'd love to see async comms being the norm.

[2019-12-05 13:47] justaugustus commented on #746
/remove-lifecycle stale
/milestone v1.18

[2019-12-05 17:25] guineveresaenger commented on #432
TODO: add information on how this works to Enhancements/Docs Handbook; and then this is done!

[2019-12-05 17:31] guineveresaenger commented on #838
Could we also do a roundup of related issues here? That would be really helpful.

[2019-12-05 17:32] justaugustus commented on #458
/assign
/unassign @guineveresaenger

[2019-12-05 17:37] cartyc opened #882 "Add Action Required Release Notes Process"
Need to define the process by which we create action required release notes that do not have an associated PR or issue.

/area release-team

cc: @justaugustus

[2019-12-05 18:12] guineveresaenger commented on #458
Now that I know we're talking about mailing list memberships:

- All Role Leads and Shadows for RT
- SIG release chairs
- Emeritus Advisor

Does Release Management have a separate group? if not, everyone who is on that team too.

RT Lead should update this list at the start of the cycle

Chairs are responsible for making RT Leads managers

[2019-12-05 19:05] guineveresaenger commented on #871
It is with pleasure and confidence that I nominate @alejandrox1 as overall Lead for the Kubernetes 1.18 Release team. You're going to knock it out of the park, Jorge!

All of my shadows, which are further @jeefy and @mariantalla, have been indispensable in their help and assistance, and I'm lucky in that you would both have been awesome choices as well, since y'all are so good at this! Day jobs we

[2019-12-05 22:19] justaugustus commented on #871
PR up for the Kubernetes 1.18 Leads and Emeritus Adviser: https://github.com/kubernetes/sig-release/pull/884

[2019-12-06 10:11] hoegaarden opened #886 "Cut 1.16.4 release"
## Scheduled to happen: Wed, 2019-12-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/messages/CJH2GBF7Y/p1576065571419200)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Bu

[2019-12-06 10:12] hoegaarden opened #887 "Cut 1.15.7 release"
## Scheduled to happen: Wed, 2019-12-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/messages/CJH2GBF7Y/p1576065571419200)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Bu

[2019-12-06 10:13] hoegaarden opened #888 "Cut 1.14.10 release"
## Scheduled to happen: Wed, 2019-12-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/messages/CJH2GBF7Y/p1576065571419200)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Bu

[2019-12-06 10:28] justaugustus commented on #626
/kind feature cleanup
/milestone v1.18
/priority important-longterm

[2019-12-06 10:40] justaugustus commented on #458
/unassign
/assign @guineveresaenger

We've got our own [lists](https://github.com/kubernetes/sig-release/blob/master/release-managers.md#contact), but yes, current [Branch Managers](https://github.com/kubernetes/sig-release/blob/master/release-managers.md#branch-managers) should be on this list as well to stay abreast on Release Team communications.

Timing is important here. Some things I've noti

[2019-12-06 10:49] justaugustus commented on #369
Closed via https://github.com/kubernetes/sig-release/issues/369.
/close

[2019-12-06 10:49] #369 closed

[2019-12-06 11:00] justaugustus opened #890 "Update Patch Release Team documentation"
Perusing the [Patch Release Team handbook](https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/patch-release-team.md), there are probably a few doc updates we could make.

As an incoming Patch Release Team member, I can take a crack at this.

Update should include verbiage to address @tpepper's review comment on https://github.com/kubernetes/sig-release/pull/86

[2019-12-06 13:00] cpanato opened #892 "Release Manager access for @cpanato"
### GitHub Username

@cpanato

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Branch Manager

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] Addition of a new Release Manager has been discus

[2019-12-06 13:00] cpanato commented on #892
/assign @justaugustus

[2019-12-06 13:10] justaugustus commented on #892
@cpanato -- Can you state here that you have read through the Security Release Process mentioned above and that you agree to uphold it and the security embargo?

[2019-12-06 13:12] cpanato commented on #892
I'm reading that now :) a few more minutes @justaugustus

[2019-12-06 13:28] saschagrunert opened #893 "Release Manager access for @saschagrunert"
### GitHub Username

@saschagrunert

### [Release Manager](https://git.k8s.io/sig-release/release-managers.md) role

Branch Manager

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [X] Addition of a new Release Manager has been

[2019-12-06 13:29] saschagrunert commented on #893
/assign @justaugustus

[2019-12-06 13:30] cpanato commented on #892
I've read the [Security Release Process](https://git.k8s.io/security/security-release-process.md) and I agree to uphold it and the security embargo.

[2019-12-06 17:37] tpepper commented on #890
We sometimes actively mentor prospective participants in this flow, outside of ones accepted as an "associate" formally.  We should strive to keep our artifacts and processes accessible to these folks so they can get a little view of how things happen and be led to believe they can safely participate if they step up.

[2019-12-06 23:17] justaugustus commented on #732
PSC is trending towards option two, so I've opened https://github.com/kubernetes/k8s.io/pull/492 for discussion/review.

[2019-12-06 23:28] justaugustus opened #896 "Update documentation around the security release process"
Carrying over discussion from https://github.com/kubernetes/sig-release/issues/732#issuecomment-561828879...

To better filter the audiences for security release communications, we (@kubernetes/release-engineering + @kubernetes/product-security-committee) are proposing the use of an additional kubernetes.io group (`security-release-team@`).

Membership to `security-release-team` will be restricted

[2019-12-07 01:33] justaugustus commented on #896
https://github.com/kubernetes/k8s.io/pull/492 has merged and the mailing list updates have been applied.
I'll proceed with the doc updates after I cut 1.17.0.

[2019-12-07 01:46] justaugustus opened #897 "Ensure SIG Release Chairs own all SIG Release assets"
(Follow-up from https://github.com/kubernetes/sig-release/issues/732)

This is a bit nebulous, but SIG Release Chairs own all SIG Release assets and where necessary, delegate access to the appropriate subproject owners.

- GCP projects
- Mailing lists
- Repos
- etc.

I think we have most of this in hand, so this exists mainly to make sure it gets documented.
ref: https://github.com/kubernetes/sig-

[2019-12-07 01:51] justaugustus opened #898 "Audit and prune extraneous user and service accounts from SIG Release GCP projects"
(Follow-up from https://github.com/kubernetes/sig-release/issues/732)

There are several IAM accounts (user and service) that I'm not sure of their function.
As the current GCP projects are Google-owned, it's entirely possible that they all have valid uses.

Let's audit the current accounts and see if we can prune some permissions, and document the results.

/assign
/milestone v1.18
/sig release
/

[2019-12-07 01:57] justaugustus commented on #732
https://github.com/kubernetes/k8s.io/pull/492 has merged and I've confirmed that the `security-release-team@` list is now active: https://groups.google.com/a/kubernetes.io/d/topic/security/QzotN1Lq93U/discussion

The remaining tasks on the list have been opened as individual issues:
- Ensure SIG Release Chairs own all SIG Release assets: https://github.com/kubernetes/sig-release/issues/897
- Audit

[2019-12-07 01:57] #732 closed

[2019-12-07 18:39] justaugustus opened #899 "Cut 1.17.0 release"
## Scheduled to happen: Mon, 2019-12-09

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1575924123234800)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Bu

[2019-12-07 18:44] justaugustus commented on #899
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2019-12-07 13:40:58-0500</tt> FAILING sig-release-1.17-informing#gce-windows-1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-window

[2019-12-07 19:37] justaugustus commented on #892
Tasks have been completed and I've linked in the relevant PRs.
/close

[2019-12-07 19:37] #892 closed

[2019-12-07 19:40] justaugustus commented on #893
@saschagrunert -- Before I can close this out, I just need you to agree to the security release process in an issue comment, like this: https://github.com/kubernetes/sig-release/issues/892#issuecomment-562571918.

[2019-12-07 19:46] saschagrunert commented on #893
I've read the [Security Release Process](https://git.k8s.io/security/security-release-process.md) and I agree to uphold it and the security embargo.

[2019-12-07 19:48] saschagrunert commented on #893
All accesses to the google groups look good as well now. :)

[2019-12-07 19:54] justaugustus commented on #893
Thanks Sascha!
/close

[2019-12-07 19:54] #893 closed

[2019-12-08 19:15] justaugustus commented on #687
/remove-lifecycle stale
/lifecycle frozen
/unassign @jberkus
/assign @guineveresaenger @alejandrox1 @lachie83

[2019-12-08 19:17] justaugustus commented on #688
/remove-lifecycle stale
/lifecycle frozen
/area release-team
/milestone v1.18
/unassign @jberkus
/assign @lachie83 @alejandrox1

[2019-12-08 23:42] justaugustus commented on #841
/assign @guineveresaenger @alejandrox1 @alenkacz @droslean

[2019-12-09 01:33] justaugustus commented on #611
@tpepper -- How close are we on this one?

/remove-lifecycle rotten
/milestone v1.18

[2019-12-09 01:44] justaugustus commented on #425
Release Managers now create release cut issues pre-release.
Closed via https://github.com/kubernetes/sig-release/pull/519.
/remove-lifecycle rotten
/close

[2019-12-09 01:44] #425 closed

[2019-12-09 01:57] justaugustus commented on #773
/assign @alejandrox1 @alenkacz
/milestone v1.18
/remove-lifecycle stale

[2019-12-09 02:09] justaugustus commented on #734
Pending update on https://github.com/kubernetes/steering/pull/114.
/remove-lifecycle stale
/lifecycle frozen
/milestone v1.18

[2019-12-09 05:49] justaugustus opened #901 "How should we organize release cut commands in documentation?"
(Follow-up item from https://github.com/kubernetes/sig-release/issues/696)

Mentioned by @xmudrii in this [review comment](https://github.com/kubernetes/sig-release/pull/852#pullrequestreview-325132504), the [Release Commands Cheat Sheet link](https://github.com/kubernetes/sig-release/blame/c0fe6a291e21f07dcae77a4d08f962d5bd75f8df/release-engineering/role-handbooks/branch-manager.md#L213) is broke

[2019-12-09 06:05] justaugustus commented on #850
To respond to @spiffxp's [comment on the Branch Management issue](https://github.com/kubernetes/sig-release/issues/696#issuecomment-517021063):

Agreed. Now codified in the Branch Management handbook.

I liked this idea and actually mentioned this to @tpepper after bumping into https://github.com/kubernetes/test-infra/issues/15514.

My thought here is that creating the new release branch jobs imme

[2019-12-09 06:09] justaugustus commented on #696
With the most recent updates to the checklist and recent PRs, I think we've done enough to close this out.
Anything that wasn't specific to Branch Management has been moved to its' own issue and those are linked in the issue description.
/close

[2019-12-09 06:09] #696 closed

[2019-12-09 06:21] justaugustus commented on #806
I've linked issues for the AIs that had them, added updates to the sections I had them for, and flagged each of the items that might require an issue for tracking.

Will try to poke at a few more of these before the retro, but in the meantime, let me pass the baton.
/unassign @guineveresaenger @justaugustus
/assign @lachie83
/milestone v1.18

[2019-12-09 16:13] alejandrox1 commented on #838
getting my life in order but let me give an update on this...
so there is some ongoing work on documenting the important bits of our jobs and that is all here
https://docs.google.com/document/d/1SICz8QP_-F4SnTAsuhdErRtgCFlXc8yZFGLe8EXY6-E/edit?usp=sharing

this bit is gonna take a bit to polish so i'll move it to the next milestone
/milestone v1.18
/lifecycle active

[2019-12-09 21:36] spiffxp commented on #850
I don't think it would cause more cherry-picks? Those don't start happening until after code freeze.

I was envisioning that alpha's would get cut off of the release-1.y branch with this approach, and that master's version wouldn't bump until after code freeze.  This is different than today, where master's version bumps as soon as the release branch is cut.

We'll "lose" historical data for jobs o

[2019-12-10 04:26] justaugustus commented on #899
![5bahgaw84wu01](https://user-images.githubusercontent.com/567897/70494994-4837d500-1adb-11ea-985f-625aee78af9b.jpg)
/close

[2019-12-10 04:26] #899 closed

[2019-12-10 15:15] rawkode commented on #877
Now that the 1.17 release is out the door, I'll begin to put together my initial proposal and request for comments.

[2019-12-10 20:10] alejandrox1 opened #907 "Test infra code freeze to aid in stability for the kubernetes release"
This was brought up some time ago and was discussed during this release.
The idea is as follows: the release team relies on CI to gauge the quality of Kubernetes throughout the cycle.
CI jobs themselves are dependent on the reliability of test infra (i.e., Prow, Boskos).
During 1.16, just when we were getting ready to go into code freeze, Boskos started failing in such a way that all CI jobs began

[2019-12-10 20:12] alejandrox1 commented on #806
Another update here for 1.16
* "Consider a test-infra freeze, coordinated w/ Code Freeze" https://github.com/kubernetes/kubernetes/issues/86135

[2019-12-10 20:20] alejandrox1 opened #908 "Scalability tests for beta releases"
Current state of affairs:
We have the following jobs to gauge the quality of the current release
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

These run against the latest on the master branch of k/k.
These jobs provide critical signal during the release cycle.
However, after

[2019-12-10 20:52] justaugustus commented on #850
@spiffxp -- Good point. This was mushy brain from triaging other stuff.

I think I'm fine with losing some historical data if it leads to ease of management for the team over time.

@kubernetes/release-engineering -- What are your thoughts on this?

[2019-12-11 09:41] hoegaarden commented on #888
### Testgrid dashboards for 1.14
Boards checked for FAILING, FLAKY:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking)
- [sig-release-1.14-informing](https://testgrid.k8s.io/sig-release-1.14-informing)

<b>NO FAILING BOARDS</b>

### Testgrid dashboards for 1.14
Boards checked for FLAKY:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking)
-

[2019-12-11 09:41] hoegaarden commented on #887
### Testgrid dashboards for 1.15
Boards checked for FAILING:
- [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking)
- [sig-release-1.15-informing](https://testgrid.k8s.io/sig-release-1.15-informing)

<details><summary><tt>2019-12-11 09:41:43+0000</tt> FAILING sig-release-1.15-informing#gce-windows-stable1 <a href="https://testgrid.k8s.io/sig-release-1.15-informing#gce-win

[2019-12-11 09:42] hoegaarden commented on #886
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2019-12-11 09:42:11+0000</tt> FAILING sig-release-1.16-informing#gce-windows-beta <a href="https://testgrid.k8s.io/sig-release-1.16-informing#gce-window

[2019-12-11 17:38] alejandrox1 opened #910 "Ensure RT Lead handbook includes an item for adding the release retrospective event to the release calendar"
We need to add to the release team lead handbook a note about creating the release retrospective event in the release calendar in order to ensure all the members of the release team get an invite.

The following groups should get invites
* kubernetes-release-team@googlegroups.com
* release-managers@kubernetes.io

Calendars should get invites too:
* Community [`cgnt364vd8s86hr2phapfjc6uk@group.cale

[2019-12-11 17:39] alejandrox1 commented on #910
/area release-team

[2019-12-11 19:43] hoegaarden commented on #888
/close

[2019-12-11 19:43] #888 closed

[2019-12-11 19:44] hoegaarden commented on #887
/close

[2019-12-11 19:44] #887 closed

[2019-12-11 19:49] hoegaarden commented on #886
/close

[2019-12-11 19:49] #886 closed

[2019-12-11 23:49] justaugustus commented on #850
Some discussion in Slack here: https://kubernetes.slack.com/archives/C09QZ4DQB/p1576104279099300
...and I'm poking at the version markers and release job generation here: https://github.com/kubernetes/test-infra/pull/15564

[2019-12-12 01:15] karenhchu opened #912 "Ensure all release team handbooks include an item for holding an initial team meeting with their shadows"
We need to add to the release team lead handbook a note holding an initial team meeting with their shadows in order to introduce everyone, their collective tasks, and upcoming timeline. This will better foster a team atmosphere and allow members to help/cover for each other accordingly.

[2019-12-12 19:18] saschagrunert opened #913 "Improve final release notes draft PR timings"
The final release notes draft has to be merged on the release day right before the final build starts running. We traditionally do that so late, because we want to ensure that every change is included and the “major themes” are under embargo until the last moment.

If the timing does not get applied correctly, then we end up having an simple generated release notes document in k/k like we get for

[2019-12-12 19:18] saschagrunert commented on #913
/priority important-soon
/milestone v1.18
/sig release
/assign

[2019-12-12 19:19] saschagrunert commented on #913
/area release-eng

[2019-12-12 20:05] alejandrox1 opened #915 "Create a shadowing retrospective"
At the end of every release, the release team holds a retrospective to discuss what went well, what could have gone better, and what will be done differently in the future.

A topic that has been brought up is that new members of the release team/community or attendees may not feel completely comfortable jumping into the conversations because it takes time to get acquainted with the people, the or

[2019-12-12 20:08] mrbobbytables commented on #915
/sig contributor-experience

[2019-12-13 05:39] justaugustus commented on #912
Great idea, @karenhchu!
I think this should be listed in every handbook.

[2019-12-13 16:17] droslean commented on #915
This a great idea. +1

[2019-12-13 16:18] markyjackson-taulia commented on #915
I am  +1 on this
/honk

[2019-12-13 23:51] guineveresaenger commented on #915
I confess to being in need of convincing.

My first thought is:

"Retrospective" is not the correct term for this, or at least comparing it to the RT retrospective is not a good idea. While I can see the point in creating a space for RT shadows to share and improve/give feedback to their experiences, I would much rather have an official mid-release check-in or two, facilitated by the EA. Let's cou

[2019-12-14 00:30] alejandrox1 commented on #915
a mid-release check in would be good but getting feedback when its all done and settled is also important. The time difference enables for shadows to get more experience.
There is a steep learning curve for a lot of the work so getting feedback when shadows are more settle is crucial.

---

The intent is NOT to separate leads from shadows but to give a forum where shadows are expected to lead the

[2019-12-14 01:15] guineveresaenger commented on #910
This has been fixed I believe.

[2019-12-14 02:30] guineveresaenger commented on #841
Handbooks are being updated via #917.

[2019-12-15 03:01] alejandrox1 commented on #910
/reopen
as a remainder to double check this with https://github.com/kubernetes/sig-release/pull/917

[2019-12-15 03:11] alejandrox1 commented on #910
also, where/when was it fixed?
was there a PR to add this bit to the handbook?

[2019-12-16 04:46] guineveresaenger commented on #910
I tried to find it! I may have simply missed it and it was there all along. :(

[2019-12-17 02:06] alejandrox1 opened #918 "Update Enhancements handbook"
Friendly call for the team to revisit and update the [enhancements handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/enhancements).

It may also be useful to take a look at the topics from the [1.17 release retrospective](https://docs.google.com/document/d/1AtZ_81F3E4y_04Gx31mnG5w6AG3E0AXDOuLU7RcUIso/edit#heading=h.ukbaidczvy3r).

/milestone v1.18
/priorit

[2019-12-17 02:09] alejandrox1 commented on #918
/assign @mrbobbytables @jeremyrickard
ptal

[2019-12-17 02:12] alejandrox1 opened #919 "Update CI signal team handbook"
Friendly call for the team to revisit and update the [CI signal handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/ci-signal).

It may also be useful to take a look at the topics from the [1.17 release retrospective](https://docs.google.com/document/d/1AtZ_81F3E4y_04Gx31mnG5w6AG3E0AXDOuLU7RcUIso/edit#heading=h.ukbaidczvy3r).

/milestone v1.18
/priority impo

[2019-12-17 02:14] alejandrox1 opened #920 "Update Bug Triage handbook"
Friendly call for the team to revisit and update the [bug triage handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/bug-triage).

It may also be useful to take a look at the topics from the [1.17 release retrospective](https://docs.google.com/document/d/1AtZ_81F3E4y_04Gx31mnG5w6AG3E0AXDOuLU7RcUIso/edit#heading=h.ukbaidczvy3r).

/milestone v1.18
/priority im

[2019-12-17 02:16] alejandrox1 opened #921 "Update Docs handbook"
Friendly call for the team to revisit and update the [docs handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/docs).

It may also be useful to take a look at the topics from the [1.17 release retrospective](https://docs.google.com/document/d/1AtZ_81F3E4y_04Gx31mnG5w6AG3E0AXDOuLU7RcUIso/edit#heading=h.ukbaidczvy3r).

/milestone v1.18
/priority important-soon

[2019-12-17 02:18] alejandrox1 opened #922 "Update Release Notes handbook"
Friendly call for the team to revisit and update the [release notes handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/release-notes).

It may also be useful to take a look at the topics from the [1.17 release retrospective](https://docs.google.com/document/d/1AtZ_81F3E4y_04Gx31mnG5w6AG3E0AXDOuLU7RcUIso/edit#heading=h.ukbaidczvy3r).

/milestone v1.18
/prior

[2019-12-17 02:19] alejandrox1 opened #923 "Update Communications handbook"
Friendly call for the team to revisit and update the [communications handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/enhancements).

It may also be useful to take a look at the topics from the [1.17 release retrospective](https://docs.google.com/document/d/1AtZ_81F3E4y_04Gx31mnG5w6AG3E0AXDOuLU7RcUIso/edit#heading=h.ukbaidczvy3r).

/milestone v1.18
/prior

[2019-12-17 02:20] cartyc commented on #922
Hi @alejandrox1, Thanks for the reminder! I'm working on updating the handbook in the following PR https://github.com/kubernetes/sig-release/pull/916

[2019-12-17 02:24] alejandrox1 opened #924 "[Umbrella] Update release team handbooks"
- [x] Update Enhancements handbook https://github.com/kubernetes/sig-release/issues/918
- [x] Update CI signal team handbook https://github.com/kubernetes/sig-release/issues/919
- [x] Update Bug Triage handbook #920
- [x] Update Docs handbook #834
- [x] Update Release Notes handbook #922
- [x] Update Communications handbook #923

/milestone v1.18
/priority important-soon
/kind documentation cleanu

[2019-12-17 02:26] alejandrox1 commented on #924
/assign @justaugustus @tpepper

[2019-12-17 03:48] justaugustus commented on #924
Thanks for getting these opened, @alejandrox1!

[2019-12-17 21:40] justaugustus opened #925 "1.18 Shadow Application feedback"
Opening this issue to capture any feedback from the 1.18 Shadow Application.

/assign @lachie83
/milestone v1.18
/sig release
/area release-team
/priority important-longterm

[2019-12-17 22:12] justaugustus commented on #871
The shadow application is now live: https://forms.gle/a7B47vmxKtTJH9QE8

Note to kubernetes-dev: https://groups.google.com/d/topic/kubernetes-dev/759DW_DynrY/discussion
Tweet: https://twitter.com/stephenaugustus/status/1207059454841229313?s=20

[2019-12-17 23:13] mrbobbytables commented on #918
It was recently updated in https://github.com/kubernetes/sig-release/pull/911 👍

[2019-12-18 01:32] justaugustus opened #926 "[Umbrella] 1.17 Release Retrospective Action Items"
(Starting this off as a dump of the retro notes. @lachie83 and I will clean this up and create issues later.)

## (+) What went well in 1.17

- There was a lot of communication between sig release and sig scalability. Scalability made sure to always have an update by Monday’s meeting **[alejandrox1] [+1 guineveresaenger]**
- Seconding sig-scalability communication - we (CI signal) ended up doing *

[2019-12-18 05:39] justaugustus opened #927 "Cut 1.18.0-alpha.1 release"
## Scheduled to happen: Wed, 2019-12-18

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [ ] Send notification [email](https://li

[2019-12-18 05:41] justaugustus commented on #927
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2019-12-18 00:40:36-0500</tt> FAILING sig-release-master-blocking#Conformance - GCE - master <a href="https://testgrid.k8s.io/sig-release-mast

[2019-12-18 05:53] bg-chun opened #928 "1.18.0-alpha.1 tag cutting request."
The CRI-API got new fields to support hugepages at the container level.
(Before of this, we set hugepages limit on pod level cgroup, even though hugepages are container level resources)
This change makes container runtimes to be able to set hugepages limit on container level cgroup sandbox, we call it as container isolation of hugepages.
To make it, container runtimes(Docker, Containerd, cri-o) sh

[2019-12-18 05:59] justaugustus commented on #928
/assign
/sig release
/area release-eng
/milestone v1.18
/priority important-soon
/kind feature

[2019-12-18 08:27] saschagrunert commented on #928
Hm, I'm thinking if we should change that in general than just for this exception. :thinking:

From a container runtime perspective (speaking only of CRI-O) I see no big problem in vendoring a kubernetes master commit on the master branch of CRI-O, if the conformance tests are succeeding.

[2019-12-18 10:07] justaugustus commented on #928
As a point, for people who might check this issue out later...
We do _NOT_ make it a habit of arbitrarily cutting releases by request.

_However_, [`v1.18.0-alpha.0`](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.0-alpha.0) was cut on 10/29 and it is [1892 commits](https://github.com/kubernetes/kubernetes/compare/v1.18.0-alpha.0...master).
I don't feel that using that tag would give

[2019-12-18 17:24] rawkode commented on #923
Pending #929
Merged #914

[2019-12-18 21:07] tpepper commented on #928
I agree that a next alpha should be cut when the prior 1.Y.0 release is cut, and in the meantime doing a next 1.18.0-alpha makes sense.

(It would be nice to have these _NOT_ explicitly declared numerically versus the calendar or other actions, aside from 'alpha.0' happening at new release branch creation, and instead a tool step that is "build next alpha" were a thing, and at key points we run th

[2019-12-18 22:34] justaugustus commented on #928
@tpepper -- Agreed. Let's discuss more in the new year! :)

To close the loop on this:
- Kubernetes v1.18.0-alpha.1 has been [released](https://github.com/kubernetes/sig-release/issues/927): https://github.com/kubernetes/kubernetes/releases/tag/v1.18.0-alpha.1
- CRI-API has been released (with two tags):
  - https://github.com/kubernetes/cri-api/releases/tag/kubernetes-1.18.0-alpha.1
  - https://g

[2019-12-18 22:34] #928 closed

[2020-01-02 16:00] alejandrox1 opened #933 "Release Team Lead access for alejandrox1, mrbobbytables, and onlydole"
### GitHub Username(s)
- @alejandrox1
- @onlydole
- @mrbobbytables

### Release Cycle

Kubernetes 1.18

### Prerequisites

- [x] Ensure new Release Team Lead:
  - [x] Has joined the following mailing lists:
    - [kubernetes-sig-release](https://groups.google.com/forum/#!forum/kubernetes-sig-release)
    - [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev)
  - [x] Has joined

[2020-01-02 16:01] alejandrox1 commented on #933
/milestone v1.18
/priority critical-urgent

[2020-01-02 16:02] alejandrox1 commented on #933
I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

[2020-01-02 17:07] justaugustus commented on #933
@alejandrox1 -- Can you add your username to this list and update the issue title to include your usernames?

Also, do you want to take care of the PRs and then tag me for review?
/assign @justaugustus @alejandrox1

[2020-01-02 18:37] alejandrox1 commented on #933
@justaugustus yes (will update with usernames) and yes will take care of PRs as we speak.
Will ping you when this is ready

[2020-01-02 21:59] #841 closed

[2020-01-02 21:59] #605 closed

[2020-01-03 03:41] alejandrox1 commented on #933
As per the offboarding part of the template, I converted @guineveresaenger @jeefy and @mariantalla into members of the kubernetes-release-team google group.

[2020-01-03 03:43] alejandrox1 commented on #933
As per the onboarding section of the template, I made @daminisatya and @mrbobbytables managers of the kubernetes-sig-leads google group.

However, all 3 of us need to be added as members of kubernetes-sig-leads

[2020-01-06 12:42] alejandrox1 commented on #933
Updates on this (for the couple things that are not waiting for review)...

I added @mrbobbytables and @daminisatya as managers to kubernetes-release-team and off-boarded the previous rt lead and shadows.
Just need to add and remove people from kubernetes-sig-leads.

Also, need access to the calendar and may be host key for zoom (I have the one from previous cycle).
/cc @justaugustus @tpepper

[2020-01-08 14:37] justaugustus commented on #933
@alejandrox1 -- Looks like we've got most things squared away here, but I just want to confirm with you.

@mrbobbytables @daminisatya -- You still need to comment that you're aware of and agree to uphold the Security Release Process ([example](https://github.com/kubernetes/sig-release/issues/933#issuecomment-570252033)).

[2020-01-08 15:27] mrbobbytables commented on #933
Ah, my bad^^:;;;;

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

/pony salute

[2020-01-09 02:35] #450 closed

[2020-01-09 16:58] mrbobbytables commented on #918
I think this is safe to close now? It was updated in #911 by me and later in #936 by @jeremyrickard .

[2020-01-09 17:07] justaugustus commented on #918
Yep!
/close

[2020-01-09 17:07] #918 closed

[2020-01-10 18:56] justaugustus commented on #890
Add notes on what our process is leading up to patch release dates:
- Freezing PRs
- Announcing deadlines
- Hold context

ref: https://kubernetes.slack.com/archives/GKEA5EL67/p1578681696008400 (<--- that's from #release-private, so only Patch Release, Branch Managers, and SIG Chairs will be able to see those messages)

[2020-01-12 21:25] justaugustus opened #948 "Cut 1.17.1 release"
## Scheduled to happen: Tue, 2020-01-14

- [ ] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [ ] Send notification [email](https://l

[2020-01-12 21:25] justaugustus opened #949 "Cut 1.16.5 release"
## Scheduled to happen: Tue, 2020-01-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Build & publish packages (debs & rpms

[2020-01-12 21:25] justaugustus opened #950 "Cut 1.15.8 release"
## Scheduled to happen: Tue, 2020-01-14

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment (No failing tests on 1.15 blocking)
- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)
  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Bu

[2020-01-13 04:54] justaugustus commented on #850
Here's another instance of wrestling with version markers being a general nightmare: https://github.com/kubernetes/test-infra/pull/15875

That PR should've been at most a few commits.

This cycle I'm going to be looking at renaming the release-branch jobs that reference `beta,stable{1,2,3}` and removing the generic suffix annotations. That should be an easiest-ish way to get started.

From there,

[2020-01-13 08:09] cpanato commented on #927
so we can close this? @justaugustus

[2020-01-13 08:11] justaugustus commented on #927
@cpanato -- I need to update the handbook to complete the action item listed in the description.

[2020-01-13 08:11] cpanato opened #952 "Cut 1.18.0-alpha.2 release"
## Scheduled to happen: Tue, 2020-01-21

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1579599342027900)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-01-13 08:12] cpanato commented on #952
/milestone clear

[2020-01-13 08:12] cpanato commented on #952
/milestone v1.18

[2020-01-13 08:13] cpanato commented on #952
/reminder-me one week from now 😄

[2020-01-13 14:51] alejandrox1 commented on #933
@justaugustus seems like onboarding part is good to go pending @daminisatya going through the security releaseprocess.

Offboarding part, need to follow up on https://github.com/kubernetes/org/pull/1513#issuecomment-572080908 and manually remove previous release leads from the kubernetes-sig-leads group.

[2020-01-13 21:09] justaugustus opened #953 "Emeritus Adviser meeting notes and AIs"
@claurence, @lachie83, and myself held a meeting on 12/9/19 to discuss Emeritus Adviser handoff for 1.18 and potential improvements to the overall Release Team, some of which were brought up at the 1.17 Retro (https://github.com/kubernetes/sig-release/issues/926).

Figured it'd be good to capture the notes in an issue for doc/process improvement.

### Suggestions for 1.18
- [ ] Mid-cycle shadow su

[2020-01-14 23:15] tpepper commented on #948
Interestingly and confusingly, without changing anago (pending in https://github.com/kubernetes/release/pull/1013), the 1.17.1 did build steps out of the desired order but different way than before.

Even without the anago change, the openapi update does not happen, which is good.

But the tagging still happened in unexpected order.  Both v1.17.1 and v1.17.2-beta.0 were tagged, and then the update

[2020-01-14 23:28] tpepper commented on #948
Manually force pushed deletion of tag v1.17.2-beta.0 at commit d224476cd0730baca2b6e357d144171ed74192d6.  Recreated tag v1.17.2-beta.0 at commit 70551475854a8854cb5feb8762a9a0a5e39900a5.

Was:
[code]

After fixup is:
[code]

[2020-01-14 23:29] tpepper commented on #948
Related discussion: https://github.com/kubernetes/kubernetes/issues/86182#issuecomment-565642824

[2020-01-15 06:47] justaugustus commented on #949
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-01-15 01:46:43-0500</tt> FAILING sig-release-1.16-informing#aks-engine-azure-1-16-windows <a href="https://testgrid.k8s.io/sig-release-1.16-informi

[2020-01-16 18:23] lachie83 commented on #819
Also seeing this more recently with 1.16.5 and 1.15.8 specifically (I know the release team are working on tooling issues so just wanted to draw attention to this). The `GitVersion` field doesn't match the release version directory `kubectl` was pulled from.
[code]

[code]

[2020-01-16 18:24] justaugustus commented on #819
/area release-eng

[2020-01-16 18:32] lachie83 commented on #819
What this means is that `https://storage.googleapis.com/kubernetes-release/release/v1.15.9-beta.0/bin/darwin/amd64/kubectl` and `https://storage.googleapis.com/kubernetes-release/release/v1.15.8/bin/darwin/amd64/kubectl` have the same `GitVersion`. Which represents a change in behavior

[2020-01-16 18:39] lachie83 opened #956 "GitVersion field in 1.16.5 and 1.15.8 release binaries doesn't match patch version"
Observed the following change in behavior on Kubernetes releases 1.16.5 and 1.15.8 specifically (I know the release team are working on tooling issues so just wanted to draw attention to this). The `GitVersion` field doesn't match the release version directory `kubectl` was pulled from. I currently assume this is happening for all binaries for the release but have only checked `kubectl`
[code]

[c

[2020-01-16 18:40] lachie83 commented on #956
/sig release
/assign @justaugustus @tpepper

[2020-01-17 00:07] justaugustus opened #957 "Cut 1.15.9 release"
## Scheduled to happen: Tue, 2020-01-21

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1579216870186600)
  - [ ] ~~Collect metrics and add them to the `Release steps` table below~~ Coul

[2020-01-17 00:07] justaugustus opened #958 "Cut 1.16.6 release"
## Scheduled to happen: Tue, 2020-01-21

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1579216870186600)
  - [ ] ~~Collect metrics and add them to the `Release steps` table below~~ Coul

[2020-01-17 00:08] justaugustus commented on #958
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-01-16 18:41:49-0500</tt> FAILING #aks-engine-azure-1-16-windows <a href="https://testgrid.k8s.io/#aks-engine-azure-1-16-windows&width=30">[testgrid

[2020-01-17 00:09] justaugustus commented on #957
### Testgrid dashboards for 1.15
Boards checked for FAILING:
- [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking)
- [sig-release-1.15-informing](https://testgrid.k8s.io/sig-release-1.15-informing)

<details><summary><tt>2020-01-16 18:41:59-0500</tt> FAILING #gce-windows-1.15 <a href="https://testgrid.k8s.io/#gce-windows-1.15&width=30">[testgrid]</a></summary><p>

![#gce

[2020-01-17 02:02] justaugustus opened #959 "Cut 1.14.11 release"
## Scheduled to happen: Fri, 2020-01-17

- [ ] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1579216870186600)
  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Bu

[2020-01-19 01:54] justaugustus commented on #959
@neolit123 [reported](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1579311112023300) that the 1.15 skew tests that were failing due to [1.14 versioning issues](https://github.com/kubernetes/kubernetes/issues/86182#issuecomment-573476889) are now green as a result of us pushing a [no-op commit to the 1.14 branch](https://github.com/kubernetes/kubernetes/pull/87289) to kick off new CI builds.

T

[2020-01-19 01:54] #959 closed

[2020-01-19 01:55] justaugustus commented on #950
This release has been superseded by https://github.com/kubernetes/sig-release/issues/957.
/close

[2020-01-19 01:55] #950 closed

[2020-01-19 01:55] justaugustus commented on #949
This release has been superseded by https://github.com/kubernetes/sig-release/issues/958.
/close

[2020-01-19 01:55] #949 closed

[2020-01-19 01:57] justaugustus opened #964 "Cut 1.17.2 release"
## Scheduled to happen: Tue, 2020-01-21

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1579216870186600)
  - [ ] ~~Collect metrics and add them to the `Release steps` table below~~ Coul

[2020-01-19 02:30] justaugustus commented on #948
This release has been superseded by #964.
/close

[2020-01-19 02:30] #948 closed

[2020-01-19 23:33] justaugustus commented on #927
Opened https://github.com/kubernetes/sig-release/pull/965 to address post-release alpha.
/close

[2020-01-19 23:33] #927 closed

[2020-01-21 00:40] justaugustus commented on #539
/remove-lifecycle stale

[2020-01-21 00:48] justaugustus commented on #486
/remove-lifecycle rotten
/lifecycle frozen
/priority important-longterm
/remove-priority critical-urgent

[2020-01-21 06:14] justaugustus opened #966 "[RFC] CI Signal subproject"
@tpepper, @alejandrox1, @spiffxp, and I have discussed this in various DM configurations and this was also mentioned on recent SIG Release and Release Team calls.

I'd like to create a CI Signal subproject to ensure sustainability of the knowledge attained while participating in the @kubernetes/ci-signal role within the Release Team and continue working towards improving our overall test posture a

[2020-01-21 06:15] justaugustus commented on #966
/assign @justaugustus @tpepper @alejandrox1

[2020-01-21 09:42] alenkacz commented on #966
This is so great! I want to 💯 be involved in this!

[2020-01-21 11:57] cpanato commented on #952
Process completed

[2020-01-21 13:38] aojea commented on #966
@Katharine made a good point in slack https://kubernetes.slack.com/archives/C2C40FMNF/p1579597663033400?thread_ts=1579587378.029900&cid=C2C40FMNF

it will be good to define the intersection with SIG-testing?

[2020-01-21 17:01] cpanato commented on #952
Release done closing the issue
/close

[2020-01-21 17:01] #952 closed

[2020-01-21 18:50] droslean commented on #966
We should support a way to allow a team to rerun specific jobs. Labels can help to define the job's category and if the corresponding people can actually rerun that job or not. With the same logic, we can also have a label to forbid of reruning it.

[2020-01-21 18:53] spiffxp commented on #966
These line up with what's considered out of scope for SIG Testing https://github.com/kubernetes/community/blob/master/sig-testing/charter.md#out-of-scope.  If you'd like a dedicated meeting to discuss the state of CI signal, sounds great.

The rest are not as clear cut, and many are explicitly in scope for SIG Testing.

If we want to talk about tooling, dashboards, and making tests or test-infra e

[2020-01-21 19:35] alejandrox1 commented on #966
and

Same goes for at least some dashboards - this is the sort of tooling that sig-testing should (and, historically, did) build

I agree with these comments.
Tooling, dashboards, and the like fall more naturally within the scope of sig testing.

---

So i'd like to focus on the following point:

A CI signal sub-project would, due to the nature of the work, seem to dive into other SIGs.
It already

[2020-01-21 21:16] BenTheElder commented on #966
Just want to +1 that some (not all!) of these things sound like projects we should revamp within SIG Testing, I'd like to see that happen in 2020 ...

We cancelled the last meeting for lack of agenda, let's get some of these topics on the agenda and start tackling some of them there (namely: dashboards, job management, docs, etc..)

Charter of CI Signal and keeping the jobs healthy seems more iffy

[2020-01-21 23:35] justaugustus commented on #957
Release complete.
/close

[2020-01-21 23:35] #957 closed

[2020-01-21 23:35] justaugustus commented on #958
Release complete.
/close

[2020-01-21 23:35] #958 closed

[2020-01-21 23:35] justaugustus commented on #964
Release complete.
/close

[2020-01-21 23:35] #964 closed

[2020-01-23 18:24] alejandrox1 commented on #933
Adding @onlydole to the lead team (thank you very much for volunteering to help :heart: )

[2020-01-23 22:17] onlydole commented on #933
Thank you for the opportunity of a lifetime! I’m looking forward to it :smile:

[2020-01-24 02:43] alejandrox1 commented on #933
@onlydole i'll start sending PRs to get you set up but meanwhile,can you please comment that you're aware of and agree to uphold the Security Release Process (see the first couple comments)

[2020-01-24 02:46] onlydole commented on #933
Absolutely!

I solemnly swear to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications.

/woof

[2020-01-24 02:48] justaugustus commented on #933
Awesome! Welcome to the squad, @onlydole!

@alejandrox1 -- Please ensure that all update PRs add Taylor AND remove Damini where appropriate.

[2020-01-27 15:30] saschagrunert opened #972 "Cut 1.18.0-alpha.3 release"
## Scheduled to happen: Tue, 2020-02-04

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1580829118040000)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-01-27 16:58] alejandrox1 commented on #933
Onboarding seems to be completed.

For the off boarding process I removed the previous RT lead and shadows as manager of the kubernetes-release-team mailing list.
Everything else is yet to be done @justaugustus

[2020-01-27 17:32] saschagrunert commented on #668
@justaugustus I think we can close this issue, what do you think?

[2020-01-27 17:32] jeremyrickard commented on #857
I did a first pass of this after 1.17. I'll do a last pass after code freeze for 1.18 and present the results at a sig release meeting after!

[2020-01-27 17:34] lachie83 commented on #871
Kubernetes 1.18 release selection is complete. Roster [here](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.18/release_team.md)

[2020-01-27 17:35] lachie83 commented on #871
/close

[2020-01-27 17:35] #871 closed

[2020-01-27 17:37] alejandrox1 commented on #457
/milestone v1.18

[2020-01-27 17:44] puerco commented on #457
@alejandrox1  I can help with this one. Has anyone already defined templates for this?

[2020-01-27 17:47] alejandrox1 commented on #877
Latest update on this: with 1.18 beginning, there has been no opposition to making the video call part of the release team meetings optional - still required for shadows who can attend to gain some experience giving the updates, discuss, etc.
However, we re treating as of now the meeting notes as the single source of truth.
Any and all important information should be included in the release team m

[2020-01-27 17:52] alejandrox1 commented on #877
@rawkode any updates on this?

[2020-01-27 17:55] alejandrox1 commented on #774
Update on this: there is an rfc to a proposal to create a CI signal team (independent of the release team), xref https://github.com/kubernetes/sig-release/issues/966.
If that moves forward then there we could potentially enact the policy we proposed here

[2020-01-27 18:04] alejandrox1 commented on #966
An additional proposal of scope to this team from https://github.com/kubernetes/sig-release/issues/774. The aforementioned issue deals with deciding on procedure for jobs to enter or leave "blocking" testgrid dashboards.
One thing that is mentioned in that issue is that it could be beneficial to SIGs to have an intermediary group of people to help with communication and monitoring of tests to ensu

[2020-01-27 19:31] justaugustus commented on #933
@alejandrox1 -- Just a heads-up that the offboarding section is meant for your offboarding, not the previous Leads.

[2020-01-28 00:13] spiffxp commented on #966
Deciding what's kubernetes/kubernetes release-blocking sounds like a CI signal or release-team task to me. I'm wary of the introduction of a lot of process, but I think a documented set of steps would be useful. Informally it seems to be campaign to get to -informing, and demonstrate you meet the health criteria for -blocking. (ref: https://github.com/kubernetes/sig-release/blob/master/release-blo

[2020-01-28 02:52] alejandrox1 commented on #966
@spiffxp when you say that you're not sure if the same applies to merge-blocking, do you mean that CI signal doesn't apply to merge-blocking or that the existing campaign (ref: https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#promoting-or-demoting-jobs) doesnt apply to merge-blocking?

[2020-01-28 16:40] alejandrox1 commented on #933
In that case this is all set i guess.

[2020-01-28 16:41] alejandrox1 commented on #933
In that case this is all set i guess.
Should we close the issue or move it to the backlog?

[2020-01-28 17:53] #920 closed

[2020-01-29 03:39] alejandrox1 commented on #458
/assign
/unassign @guineveresaenger
/milestone v1.18

[2020-01-29 03:56] alejandrox1 commented on #882
/cc @evillgenius75
wdyt?

[2020-01-29 03:57] alejandrox1 commented on #915
/cc @lachie83
would love to hear your thoughts on this

[2020-01-29 06:06] justaugustus commented on #245
SIG Network (@kubernetes/sig-network-misc) --
Who are the best owners for the "CNI plugins maintainers" tasks listed in the issue description?

/assign @thockin @dcbw @caseydavenport
/remove-priority important-soon
/priority critical-urgent

[2020-01-29 17:25] jellonek commented on #245
Btw. I'm also interested in that who should be notified on kubernetes side in case of creating new release of cni plugins, as week ago I didn't had this information while I was publishing new release.

[2020-01-29 17:29] thockin commented on #245
Is there a cni-announce mailing list?

@dcbw and @squeed and @bboreham have historically bridged the worlds, but it has not been formalized in k8s-space.

[2020-01-29 17:54] aojea commented on #245
well, Github allows to subscribe to the repository and watch for "releases only", at least is how I'm doing it https://github.com/containernetworking/plugins/releases

[2020-01-29 18:24] bboreham commented on #245
There is a [cni-dev mailing list](https://groups.google.com/forum/#!forum/cni-dev) which is extremely low volume, and CNI release instructions say to announce on that.

[2020-01-29 22:14] saschagrunert commented on #245
Since it seems to be an issue we could think about bringing the _keep this up-to-date responsibility_ for those tools into SIG release (engineering). cri-tools has more or less the same problem domain like CNI.

[2020-01-30 05:12] markyjackson-taulia commented on #223
/remove-lifecycle stale

[2020-01-30 16:18] justaugustus commented on #245
FYI @huchengze @ydcool (ref: https://github.com/kubernetes/kubernetes/issues/87228#issuecomment-580330485)

[2020-01-30 16:37] justaugustus commented on #245
@kubernetes/release-engineering -- Can you please subscribe to [CNI dev mailing list](https://groups.google.com/forum/#!forum/cni-dev) to keep track of CNI plugin releases?

I personally also watch the releases on https://github.com/containernetworking/plugins and would suggest doing the same.

@dcbw @squeed @bboreham @jellonek -- Would it be possible to also do pre-announces in addition to cc-ing

[2020-01-30 17:19] justaugustus commented on #245
I've opened a corresponding issue for the CNI plugins maintainers tasks in their repo: https://github.com/containernetworking/plugins/issues/446

[2020-02-03 03:52] alejandrox1 commented on #910
Gonna work on this this week

[2020-02-03 03:53] alejandrox1 commented on #458
Will work on this this week

[2020-02-03 19:14] alejandrox1 commented on #320
/remove-lifecycle stale
/milestone v1.18
/assign @onlydole

[2020-02-03 19:16] alejandrox1 commented on #432
/milestone v1.18

[2020-02-03 19:18] alejandrox1 commented on #857
/milestone v1.18

[2020-02-03 19:20] alejandrox1 commented on #571
/milestone v1.18

[2020-02-03 19:22] alejandrox1 commented on #668
Just confirmed with @justaugustus that it is cool to close this one
/close

[2020-02-03 19:22] #668 closed

[2020-02-03 19:38] alejandrox1 commented on #877
comment to everyone (specially non-US RT members): Please feel free to add your proposals for how we can move forward

[2020-02-03 19:40] alejandrox1 commented on #921
Closing in favour of https://github.com/kubernetes/sig-release/issues/834
/close

[2020-02-03 19:40] #921 closed

[2020-02-03 19:49] alejandrox1 commented on #829
/cc @kubernetes/ci-signal
could someone please take a look at this, see if there have been any major changes?

[2020-02-03 19:52] tpepper commented on #877
I like the meta idea here.

We need more discussion around what is needed for a workable decision making process in a fully async world.

The regular release team meetings are not solely about status read outs, and that portion certainly should be more async.   The meetings' highest value IMO is in broader **conversation** around the evolving status, actively questioning "what if", having more eye

[2020-02-03 19:53] alejandrox1 commented on #688
Lets have the mid-release survey ask shadows if they their handbook has the information needed.

[2020-02-03 19:54] alejandrox1 commented on #907
For anyone wanting to do anything with this please go through wg-LTS.

Additionally, we could make a proposal for only freezing the prow version of SIG releases's jobs.

[2020-02-03 20:09] reylejano-rxm commented on #922
Hi @cartyc, were there any updates to the Release Notes handbook.
Are there any other specific sections/topics other than 'kind documentation cleanup' that needs updating?

[2020-02-03 20:11] reylejano-rxm commented on #882
@evillgenius75 can you provide details and/or background-info

[2020-02-03 21:26] xmudrii commented on #877
I like the idea and I agree that we should try to improve how we handle such stuff. I've been on the release team from 1.14 until 1.16, so my feedback is based on that experience. Also, I'm based in Europe, so my timezone is Central European (CET/CEST).

I agree that the highest value of the meetings is the conversation. We have had came up with many great ideas and IMO doing that offline, on Slac

[2020-02-03 21:54] cartyc commented on #922
Hi @reylejano-rxm :wave: I had put in a few changes to the docs in PR #916 , which should have caught most of the issues we bumped into last cycle.

Nothing jumps out at me right now for things that need additional updating, I will review the doc and if something does I will let you know.

[2020-02-04 15:16] saschagrunert commented on #972
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-02-04 16:15:42+0100</tt> FAILING sig-release-master-informing#capa-conformance-stable-k8s-master <a href="https://testgrid.k8s.io/sig-rel

[2020-02-04 18:36] cpanato commented on #972
we can close since is released 🎉
/close

[2020-02-04 18:36] #972 closed

[2020-02-04 18:37] cpanato commented on #972
thanks @saschagrunert !!

[2020-02-05 15:37] rawkode commented on #877
I was thinking we'd write a small application that allowed the release team Gmail alias members to upload a small video to a specific Google Drive folder, created for each week of the release

After a certain cut off date or signal from the release team lead, the app would merge the videos together and publish to YouTube.

[2020-02-05 18:18] justaugustus opened #978 "Release Manager access for Daniel Mangum (@hasheddan)"
### GitHub Username

@hasheddan

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

temporary Branch Manager / permanent Release Manager Associate

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] Addition of a

[2020-02-05 18:19] justaugustus commented on #978
@hasheddan has been an immense asset to the Release Engineering subproject and has expressed interest in helping to cut releases. I think he should be added to the Release Manager Associates group.

I'll proceed with onboarding tomorrow, if there are no objections.

[2020-02-05 18:20] justaugustus commented on #978
/assign
/priority important-soon
/milestone v1.18

[2020-02-05 18:45] justaugustus commented on #978
With @saschagrunert, @tpepper, and myself in favor, I think we're clear to proceed here.

[2020-02-05 20:14] saschagrunert commented on #978
Big +1 from my side 😊

[2020-02-06 09:56] justaugustus commented on #601
/lifecycle frozen
/unassign @claurence

[2020-02-06 09:59] justaugustus commented on #601
@Pluies reached out to me before the holidays with this:

What do we think about using zeitgeist?

cc: @dims @cblecker @BenTheElder @liggitt

[2020-02-06 15:35] reylejano-rxm commented on #922
Hi @cartyc, thank you for replying. Since the updates for this issue is in PR[ #916](https://github.com/kubernetes/sig-release/pull/916) which has been merged , can we close this issue.

[2020-02-06 15:40] reylejano-rxm commented on #882
Hello @cartyc, can you fill me in on this issue

[2020-02-06 23:54] BenTheElder commented on #601
Other than `vendor/` I don't think the original post makes much sense with code like kuebadm going out of tree.

etcd is not specified in tree by anything other than cluster provisioning tooling, which we have issues open about removing from the tree.

vendor/ already has an established dependency review system, and I don't think it needs any new tooling.

what other dependencies are we talking ab

[2020-02-06 23:56] BenTheElder commented on #601
I would also note that in order to maintain a tool that brings up clusters you pretty much need the freedom to update dependencies at will. We do not force all cluster tools to synchronize on some specific version of e.g. containerd today, and I would not be in favor of doing so in the future.

[2020-02-07 01:49] cartyc commented on #882
If I recall correctly it has to do with addressing the lack of a process for intaking a Release Note that the RN tool does not pick up and needs to be added manually.

[2020-02-07 01:50] cartyc commented on #922
Sounds good, sorry I should have said it was good to close in my last comment :) Thanks @reylejano-rxm!

[2020-02-07 04:13] ramineni commented on #829
@alejandrox1 we have enabled the cpo migration tests on multinode cluster deployed using kubeadm.
job name: cloud-provider-openstack-multinode-csi-migration-test
http://status.openlabtesting.org/builds?project=kubernetes%2Fcloud-provider-openstack&pipeline=periodic-14%09

[2020-02-07 08:54] saschagrunert commented on #882
Created a PR which fixed this: https://github.com/kubernetes/release/pull/1073

[2020-02-07 09:13] #882 closed

[2020-02-07 15:25] hasheddan opened #985 "Manually push 1.18.0-alpha.4 tag and cut 1.18.0-alpha.5 release"
## Scheduled to happen: ~Tue, 2020-02-11~ Wed, 2020-02-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1581532800106100)
  - [x] Collect metrics and add them to the `Release steps` ta

[2020-02-07 18:05] reylejano-rxm commented on #922
We can close since updates for this issue are in the merged PR [#916](https://github.com/kubernetes/sig-release/pull/916)
/close

[2020-02-07 18:05] #922 closed

[2020-02-07 20:21] justaugustus commented on #985
**Release is blocked on https://github.com/kubernetes/release/issues/1080.**

[2020-02-09 23:40] alejandrox1 commented on #320
@onlydole may be useful to chat with bug triage people. would be useful to sync whatever info we end up adding here with the bug triage handbook

[2020-02-10 00:07] alejandrox1 commented on #457
@puerco yes you can!

some notes on this issue...

Whatever info we end up creating from this issue should done in coordination with other teams.
It would be useful if other handbooks linked back to a doc we create to fulfill this issue.
For example, the first couple weeks is mostly enhancements-related work, we should make sure that the info we publish is linked to from the release lead handbook

[2020-02-10 00:08] alejandrox1 commented on #457
/assign @puerco

[2020-02-10 00:17] alejandrox1 commented on #908
/cc @wojtek-t @mm4tt
would love to hear your thoughts on this proposal

[2020-02-10 05:08] onlydole commented on #320
@smourapina - could I sync with you and the team this week on this issue?

[2020-02-10 07:59] smourapina commented on #320
Sure @onlydole, let's do that!

[2020-02-10 08:55] wojtek-t commented on #908
While in general I support it, currently we don't have resources to run this.
We're working on speeding up our tests (among others, we're trying to merge existing two tests into a single one: https://github.com/kubernetes/perf-tests/pull/1008). We believe, we will be able to speed up our 5k-node tests to take hopefully less than 8 hours.
Once this is done, we should be able to leave the 1-day freq

[2020-02-10 17:38] tpepper commented on #601
I agree with @BenTheElder that users (and vendors) need the ability to override project preferred defaults, if that's what was stated ;)  My primary point is we need a stronger definition of "project preferred defaults".  We do have these sprinkled around the code.  We do bring up clusters, intentionally with certain components and component versions, and run tests with intention of proving specif

[2020-02-10 18:37] neolit123 commented on #601
yes, unless something is broken.

most installers usually trail behind.

[2020-02-10 18:44] BenTheElder commented on #601
+1 @neolit123

@tpepper :

IMO project preferred defaults is a problematic topic for political rather than technical reasons.

Are we going to start advertising preferred CRI and CNI ...?

We don't provide support for external tools. Doing so is perhaps not the best idea.

Complete solutions like kops, minikube, kind etc. do package some external tools necessarily and provide their own support the

[2020-02-10 19:40] droslean commented on #919
Work that is already done: https://github.com/kubernetes/sig-release/pull/984

[2020-02-10 19:43] alejandrox1 commented on #919
This is good to go now
/close

[2020-02-10 19:43] #919 closed

[2020-02-10 19:53] alejandrox1 commented on #907
/cc @kubernetes/ci-signal
please take a look

[2020-02-10 19:58] mkorbi commented on #923
Update comms handbook
https://github.com/kubernetes/sig-release/pull/986

[2020-02-10 20:23] alejandrox1 commented on #908
Thank you @wojtek-t for your comment. The work you are doing to speed up the tests would be of great help for us.

One thing that has come up a couple times, please correct me if Im wrong, is that Google is running all scalability jobs, correct?
If possible, we would like to (at some point) move these jobs into CNCF infrastructure.

In order to do this we would need some idea of what we would need

[2020-02-10 20:34] wojtek-t commented on #908
If possible, we would like to (at some point) move these jobs into CNCF infrastructure.

I think the release-blocking ones has already been moved. But TBH I don't know how to confirm it.
They are running in `kubernetes-scale` project - do you know how to check if this was already transferred to CNCF?

[2020-02-11 03:15] tpepper commented on #601
In as much as there are classes of interfaces or providers, as an open source project with limited resources I feel like we have a few paths:
 # Treat one as a reference implementation with NVR declared programmatically and used consistently in test variations. If politics is the worry, this could be worst case.  Drop the admittedly awkward word "preferred" and with an open mind this is the easies

[2020-02-11 11:01] justaugustus opened #987 "Remove Patch Release Team access for aleksandra-malinowska"
**Removing due to extended inactivity.**

### GitHub Username

@aleksandra-malinowska

### [Release Manager](/release-managers.md) role

Patch Release Team

### Release Manager Offboarding

- [x] (https://github.com/kubernetes/sig-release/pull/1070) Update [Release Managers](https://git.k8s.io/sig-release/release-managers.md) page to remove the former Release Manager

### Patch Release Team

- [x]

[2020-02-11 11:03] justaugustus commented on #987
/kind cleanup
/priority critical-urgent
/assign @justaugustus @tpepper

[2020-02-11 20:17] justaugustus opened #988 "Cut 1.17.3 release"
## Scheduled to happen: Tue, 2020-02-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1581434434091400)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Bu

[2020-02-11 20:18] justaugustus opened #989 "Cut 1.16.7 release"
## Scheduled to happen: Tue, 2020-02-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1581434434091400)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Bu

[2020-02-11 20:18] justaugustus opened #990 "Cut 1.15.10 release"
## Scheduled to happen: Tue, 2020-02-11

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)
  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Build & publish packages (debs & rpms)

[2020-02-12 05:53] justaugustus commented on #990
### Testgrid dashboards for 1.15
Boards checked for FAILING:
- [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking)
- [sig-release-1.15-informing](https://testgrid.k8s.io/sig-release-1.15-informing)

<details><summary><tt>2020-02-11 10:16:10-0500</tt> FAILING sig-release-1.15-informing#gce-windows-1.15 <a href="https://testgrid.k8s.io/sig-release-1.15-informing#gce-window

[2020-02-12 05:54] justaugustus commented on #990
/kind feature
/priority important-soon
/assign
/close

[2020-02-12 05:54] #990 closed

[2020-02-12 06:02] justaugustus commented on #989
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-02-11 10:15:56-0500</tt> FAILING sig-release-1.16-informing#aks-engine-azure-1-16-windows <a href="https://testgrid.k8s.io/sig-release-1.16-informi

[2020-02-12 06:03] justaugustus commented on #988
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-02-11 10:15:41-0500</tt> FAILING sig-release-1.17-blocking#gce-cos-k8sbeta-reboot <a href="https://testgrid.k8s.io/sig-release-1.17-blocking#gce-co

[2020-02-12 06:11] justaugustus commented on #989
/kind feature
/priority important-soon
/assign
/close

[2020-02-12 06:11] #989 closed

[2020-02-12 06:17] justaugustus commented on #988
/kind feature
/priority important-soon
/assign
/close

[2020-02-12 06:17] #988 closed

[2020-02-13 08:15] justaugustus commented on #985
I took over this release due to the need to cut a manual tag and wanting to watch any potential issues that could've arisen from that.
/assign

[2020-02-13 08:15] justaugustus commented on #985
Didn't have a chance to snapshot the boards ahead of the release, but here's their current status:

### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-02-13 03:13:31-0500</tt> FAILING sig-

[2020-02-13 08:18] justaugustus commented on #985
Scrollback from the manual tag push of [`v1.18.0-alpha.4`](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.0-alpha.4) I did to resolve https://github.com/kubernetes/release/issues/1080:

[code]

[2020-02-14 06:09] justaugustus commented on #985
AIs are complete.
/close

[2020-02-14 06:09] #985 closed

[2020-02-14 10:12] #978 closed

[2020-02-17 11:01] mm4tt commented on #908
Sorry for not jumping in earlier, I was OOO.
FTR, we run 100 gce node and 500 kubemark node tests continuously on all active release branches - https://k8s-testgrid.appspot.com/sig-scalability-gce. Also recently we've started running the same tests as presubmits in those branches. They are not as sensitive as 5k node tests, but treating them (gce 100 node tests) as beta release blocking tests migh

[2020-02-17 16:21] mkorbi commented on #923
Updated! I think it can be closed @karenhchu
https://github.com/kubernetes/sig-release/pull/986

[2020-02-17 18:52] markyjackson-taulia commented on #320
I sent over the initial draft to @onlydole of items from a bug-triage perspective

[2020-02-18 11:03] cpanato opened #995 "Cut 1.18.0-beta.0 release"
## Scheduled to happen: Tue, 2020-02-18
- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1582034517113800)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-02-18 11:04] cpanato commented on #995
/priority important-soon

[2020-02-18 11:05] cpanato commented on #995
/milestone v1.18

[2020-02-18 13:27] jtslear commented on #877
I'd like to propose another option that does not include video calls.  Given that, the majority of the time, thus far that I've seen, is spent simply providing status updates, I propose that the release team is provided a special issue with a large template that can be filled out by any member that includes the necessary status updates.  Use the below as an example:

One GitHub issue per week (I'l

[2020-02-18 14:11] cpanato commented on #995
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-02-18 14:11:22+0000</tt> FAILING sig-release-master-informing#capa-conformance-stable-k8s-master <a href="https://testgrid.k8s.io/sig-rel

[2020-02-19 09:44] cpanato commented on #995
all done, branch and release is out
/close

[2020-02-19 09:44] #995 closed

[2020-02-21 00:32] karenhchu commented on #923
/close

[2020-02-21 00:32] #923 closed

[2020-02-22 03:06] alejandrox1 commented on #966
Another item for the CI sub-project wish-list: help monitor trends such as https://github.com/kubernetes/kubernetes/issues/74375

[2020-02-24 16:41] alejandrox1 commented on #457
@puerco any updates on this work?

[2020-02-24 16:55] cpanato opened #999 "Cut 1.18.0-beta.1 release"
## Scheduled to happen: Tue, 2020-02-25
### Reschedule to Wed, 2020-02-26 due release notes issues

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1582652353024300)

  - [x] Collect met

[2020-02-24 16:56] cpanato commented on #999
/priority important-soon

[2020-02-24 17:10] puerco commented on #457
Not yet sorry, I'm just starting to tackle this during this week

[2020-02-24 18:12] alejandrox1 commented on #924
All the listed handbook updates have been merged
/close

[2020-02-24 18:31] alejandrox1 commented on #432
@jeremyrickard  @droslean @smourapina @VineethReddy02 @evillgenius75 @karenhchu could you all please take a look at this issue and post whether your team would benefit by having some spreadsheet with enhancements-like type automation (please see discussion above).
If you don't need it then please comment that as well. Wanna see what needs to be done for this issue :smile:

[2020-02-24 18:32] alejandrox1 commented on #571
ping @lachie83 any updates on this?

[2020-02-24 18:34] alejandrox1 commented on #571
/unassign @lachie83

[2020-02-24 18:34] alejandrox1 commented on #571
/help wanted

[2020-02-24 18:34] alejandrox1 commented on #571
/help

[2020-02-24 18:42] alejandrox1 commented on #924
/reopen
missed https://github.com/kubernetes/sig-release/issues/834

[2020-02-24 18:43] alejandrox1 commented on #834
/cc @VineethReddy02 @sethmccombs @irvifa @savitharaghunathan @iheanyi1
ptal

[2020-02-24 18:44] alejandrox1 commented on #687
Will work on this this week

[2020-02-24 18:45] alejandrox1 commented on #687
/remove-lifecycle frozen

[2020-02-24 19:30] hasheddan opened #1002 "Add mention of WIP tests to Release Blocking Jobs and Criteria"
**What would you like to be added**:

Add section to https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#promoting-or-demoting-jobs that explicitly mentions the exclusion of WIP jobs.

**Why is this needed**:

Tests that consistently fail without giving any quality signal end up adding noise to CI Signal projects boards and reports. Ref: https://github.com/kubernetes/kub

[2020-02-24 19:31] hasheddan commented on #1002
/priority important-soon
/assign @hasheddan

[2020-02-24 19:44] alejandrox1 commented on #571
/assign @lachie83

[2020-02-24 19:47] markyjackson-taulia commented on #320
cc @onlydole
Per v1.18 release meeting adding the google doc here:
https://docs.google.com/document/d/1vEycLfyNDO95O6qIx1bsYaQWYCHYFgAOK6DNdBy_aPM/edit

[2020-02-24 19:50] alejandrox1 commented on #926
/assign @mrbobbytables @onlydole @alejandrox1
/unassign @justaugustus

[2020-02-24 19:51] alejandrox1 commented on #806
/assign @mrbobbytables @onlydole @alejandrox1

[2020-02-25 07:34] saschagrunert commented on #877
I like the idea of having a tracking issue in GitHub for status updates. This would also help us to search for information in GitHub rather than the Google Docs.

I still think that we need room for open discussions and other topics than just status reports. For that I would stick to the video call. Once a week should be fine in my point of view, but maybe on alternating times.

[2020-02-25 16:23] rajibmitra commented on #966
This is great, would love be involed!

[2020-02-25 17:43] cpanato commented on #999
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-02-25 17:43:15+0000</tt> FAILING sig-release-1.18-blocking#skew-cluster-latest-kubectl-beta-gce <a href="https://testgrid.k8s.io/sig-release-1.18-b

[2020-02-28 02:45] puerco commented on #457
@alejandrox1 I'm starting to split the handbook into phases. Can you take a look at the following format proposal tell what you think ? Only consider the format for now:

https://github.com/puerco/sig-release/blob/release-schedule-docs/release-team/role-handbooks/release-team-lead/release-schedule.md

[2020-03-01 09:37] justaugustus commented on #999
AIs complete.
/close

[2020-03-01 09:37] #999 closed

[2020-03-02 17:10] tpepper opened #1005 "GCB job labels for easier debug"
**What would you like to be added**:

A set of label "[tags](https://cloud.google.com/cloud-build/docs/build-config#tags)" for GCB jobs.  Eg:

 * major version in {1.18, 1.19, 1.20, ...}
 * full version in {1.18.0, 1.18.1, 1.18.2, ..., 1.19.0, 1.19.1, ...}
 * subversion in {alpha.0, alpha.1, ..., beta.0, beta.1, ..., rc.0, rc.1, ...}
 * type in {alpha, beta, rc, official}

Perhaps most all of the

[2020-03-02 17:11] tpepper commented on #1005
/area release-eng
/priority important-longterm
/help-wanted

[2020-03-02 17:15] tpepper commented on #1005
@kubernetes/release-managers
@kubernetes/release-engineering
FYI

[2020-03-04 12:38] hasheddan opened #1006 "Cut 1.18.0-beta.2 release"
## Scheduled to happen: Tue, 2019-03-10

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification]https://kubernetes.slack.com/archives/C2C40FMNF/p1583847791382600)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-03-04 12:55] cpanato opened #1007 "Release Manager access for hasheddan"
### GitHub Username
@hasheddan

### [Release Manager](/release-managers.md) role
Branch Manager

### Tenure

- temporary: Daniel is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the 1.18.0-beta.2 release is cut.

temporary

### Release Manager Onboarding

**All pull requests within these checklists should b

[2020-03-04 12:55] cpanato commented on #1007
cc @justaugustus

[2020-03-05 19:03] jtslear opened #1009 "Consider automating a portion of Bug Triage work with a bot"
**What would you like to be added**:

During the lead up to Code Freeze, the Bug Triage teams' primary responsibility is following up on issues to ensure that they do not go stale.  Specifically this section of the runbook: https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/bug-triage#mid-release-cycle

This process should be able to be automated.  Issues contain all

[2020-03-05 20:33] markyjackson-taulia opened #1010 "Adding a note to the bug-triage handbook re EOD on code freeze"
Adding a note to the bug-triage handbook re EOD on code freeze

[2020-03-06 13:45] #1010 closed

[2020-03-06 20:01] markyjackson-taulia opened #1012 "Updating bug-triage handbook re exceptions process"
**Anything else we need to know?**: Updating bug-triage handbook re exceptions process

[2020-03-09 14:28] joelsmith commented on #896
/remove-lifecycle stale

[2020-03-10 13:38] hasheddan commented on #1006
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-03-10 08:37:29-0500</tt> FAILING sig-release-1.18-blocking#skew-cluster-latest-kubectl-beta-gce <a href="https://testgrid.k8s.io/sig-release-1.18-b

[2020-03-11 06:15] cpanato commented on #1006
1.18.0-beta.2 released
/close

[2020-03-11 06:15] #1006 closed

[2020-03-11 06:16] cpanato commented on #1006
Thanks so much @hasheddan for doing this

[2020-03-11 11:00] cpanato commented on #1007
all done
/close

[2020-03-11 11:00] #1007 closed

[2020-03-12 17:36] justaugustus opened #1018 "Cut 1.17.4 release"
## Scheduled to happen: Thu, 2020-03-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1584035177029300)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Bu

[2020-03-12 17:37] justaugustus opened #1019 "Cut 1.16.8 release"
## Scheduled to happen: Thu, 2020-03-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1584035177029300)
  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Bu

[2020-03-12 17:37] justaugustus opened #1020 "Cut 1.15.11 release"
## Scheduled to happen: Thu, 2020-03-12

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1584035177029300)
  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Bu

[2020-03-12 17:40] justaugustus commented on #1018
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-03-12 13:40:31-0400</tt> FAILING sig-release-1.17-blocking#gce-cos-1.17-scalability-100 <a href="https://testgrid.k8s.io/sig-release-1.17-blocking#

[2020-03-12 17:41] justaugustus commented on #1019
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-03-12 13:41:06-0400</tt> FAILING sig-release-1.16-blocking#gce-cos-1.16-scalability-100 <a href="https://testgrid.k8s.io/sig-release-1.16-blocking#

[2020-03-12 17:41] justaugustus commented on #1020
### Testgrid dashboards for 1.15
Boards checked for FAILING:
- [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking)
- [sig-release-1.15-informing](https://testgrid.k8s.io/sig-release-1.15-informing)

<details><summary><tt>2020-03-12 13:41:41-0400</tt> FAILING sig-release-1.15-informing#gce-windows-1.15 <a href="https://testgrid.k8s.io/sig-release-1.15-informing#gce-window

[2020-03-13 19:00] jberkus commented on #773
I'm gonna close this.  If we haven't revised the criteria in 8 months, we're clearly OK with the criteria being vague.

/close

[2020-03-13 19:00] #773 closed

[2020-03-15 02:53] justaugustus commented on #1018
/kind feature
/priority important-soon
/close

[2020-03-15 02:54] #1018 closed

[2020-03-15 02:54] justaugustus commented on #1019
/kind feature
/priority important-soon
/close

[2020-03-15 02:54] #1019 closed

[2020-03-15 02:54] justaugustus commented on #1020
/kind feature
/priority important-soon
/close

[2020-03-15 02:54] #1020 closed

[2020-03-16 15:27] justaugustus commented on #829
@dims @BenTheElder -- Where did we land here? Good to close?

[2020-03-16 15:38] justaugustus commented on #746
/assign

[2020-03-16 15:42] sbueringer commented on #829
@justaugustus The OpenStack test is almost ready. Only a few failures in the Conformance tests to debug & send the results to TestGrid. But I'm not sure if you want to keep this issue open as we already have some tests via other ClusterAPI providers (afaik)

[2020-03-16 15:50] alejandrox1 commented on #829
Can we keep this open until the openstack tests are all set? Just so we know what all is out there

[2020-03-16 15:52] justaugustus commented on #913
/remove-lifecycle stale
Sascha to link handbook updates.

[2020-03-16 16:12] saschagrunert commented on #913
I think the handbooks are already up-to-date:
- Release Lead Handbook: https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/release-team-lead#week-12

- Release Notes Handbook: https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/release-notes#week-12

Closing this now, feel free to reopen if there is still anything missing.

[2020-03-16 16:12] #913 closed

[2020-03-16 16:30] cpanato opened #1023 "Cut 1.18.0-rc.1 release"
## Scheduled to happen: Tue, 2020-03-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/C2C40FMNF/p1584457240083500)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-03-16 16:34] cpanato commented on #1023
/milestone v1.18
/priority important-soon

[2020-03-17 00:50] karenhchu opened #1024 "Limited timeline around securing release/feature blog content"
Speaking from my team's experience with the Kubernetes 1.18 release, we've found that the current approach to gathering content for release blogs can result in too tight of a timeline.

As of right now, here's the order in which actions take place:

1.  Code freeze
2. Split up list of SIGs amongst team and reach out for KEPs/items of importance
3. Track items in Google sheet
4. Team evaluates all

[2020-03-17 02:15] onlydole commented on #925
/remove-lifecycle stale

[2020-03-17 15:28] cpanato commented on #1023
## Testgrid screenshot

### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-03-17 15:28:19+0000</tt> FAILING sig-release-1.18-informing#aks-engine-azure-1-18-windows <a href="https://testgrid.k8s.io/

[2020-03-17 18:39] cpanato commented on #1023
1.18.0-rc.1 is out
/close

[2020-03-17 18:39] #1023 closed

[2020-03-17 19:05] mkorbi commented on #1024
What we discussed yet: pushing the deadline back as far as possible, what we need is a good first version for a feature blog which can be finalized in the week of the release until the feature blogs getting published. How much time does the CNCF need upfront?

Other ideas:
- We could do our voting/selecting earlier, even if some enhancements are not saved yet
- As soon as we reach the freeze we op

[2020-03-19 01:53] alejandrox1 commented on #1024
@karenhchu thank you so much for creating this issue!
@mkorbi thank you for your comments as well (and thank you to all of the comms team)!

Let's get this rolling!
/sig release
/priority important-soon
/milestone v1.19
/assign @onlydole @alejandrox1

[2020-03-19 01:53] alejandrox1 commented on #1024
/kind bug

[2020-03-19 02:03] onlydole commented on #1024
+1 to that, @karenhchu - it goes from quiet to super busy, super quick. I’d really like to work with you and the comms team to improve that experience going forward.

[2020-03-19 14:49] #1012 closed

[2020-03-19 19:04] palnabarun commented on #912
/remove-lifecycle stale

[2020-03-20 03:51] lachie83 opened #1031 "Assemble Kubernetes 1.19 Release Team"
The time is upon us to start assembling the 1.19 release team.

Please review the [Release Team Selection Process](https://github.com/kubernetes/sig-release/tree/master/release-team#release-team-selection) docs for details on the process and criteria.

At this stage we only require nominations for Role Leads. Once role leads are nominated we will then send out a shadow application survey.

/sig re

[2020-03-20 11:34] alejandrox1 commented on #1031
It is with great pleasure that I officially nominate the one and @onlydole !
It has been a privilege to be able to work with you and I have no doubt you will do a fantastic job in 1.19! :rocket:

[2020-03-20 16:20] jeremyrickard commented on #1031
It was an honor to work with everyone on 1.18!

I'd also like to take this opportunity to nominate @palnabarun as the Enhancements Lead for 1.19.

[2020-03-22 13:41] alejandrox1 commented on #908
Sorry for the super delayed response on this: between release team and checking on the current state of infra I lost track of time but couple details...

They are running in kubernetes-scale project - do you know how to check if this was already transferred to CNCF?

Currently, runs in CI borrow (at least for GCP-based jobs) projects/credentials from Boskos.
I went around asking wg k8s infra and i

[2020-03-23 07:52] mm4tt commented on #908
Yeah, we should do that. I alway thought these tests were already transferred to CNCF. Let me know what I can do to help with the transfer

[2020-03-23 12:18] wojtek-t commented on #908
@alejandrox1 - are you really sure we rely on Boscos for 5k-node tests?
We don't use pool of projects - we explicitly set the project for those (there is exactly one predefined project):
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L29

[2020-03-23 15:55] tpepper commented on #966
@justaugustus any update on documenting process / plans here?

[2020-03-23 17:38] droslean commented on #1031
Thank you everyone! It was an honor to work with such a great team at 1.18!!!
As a CI-Signal Lead for 1.19 I nominate @hasheddan

[2020-03-23 17:39] karenhchu commented on #1031
Thanks for all hard work everyone~

I would like to nominate @mkorbi as the Communications Lead for 1.19! I've worked with him on the Comms team for the last 2 cycles and am excited for him to take the lead 🥇

[2020-03-23 17:40] smourapina commented on #1031
Thank you to the team for Bug Triage in 1.18.

I would like to nominate @markyjackson-taulia as Bug Triage Lead for 1.19!

[2020-03-23 17:41] VineethReddy02 commented on #1031
Thank you, everyone!

I would like to nominate @savitharaghunathan  as Docs lead for 1.19

[2020-03-23 18:17] evillgenius75 commented on #1031
Thank you all for another amazing Release!  It is with great pride that I nominate Adolfo @puerco as the Release Notes Lead for 1.19!

[2020-03-24 08:07] cpanato opened #1032 "Cut 1.18.0 release"
## Scheduled to happen:  ~Tue, 2020-03-24~ Wed, 2020-03-24

Postponed the release due and regression issue, for more context: https://kubernetes.slack.com/archives/C2C40FMNF/p1585063407333300

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notifica

[2020-03-24 10:41] mkorbi commented on #1024
@onlydole @karenhchu
First draft of changes:
https://github.com/mkorbi/sig-release/commit/a8564863bdce0c814ec123c54080247e46ef45cf

[2020-03-24 12:34] cpanato commented on #1032
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-03-24 12:34:11+0000</tt> FAILING sig-release-1.18-informing#aks-engine-azure-1-18-windows <a href="https://testgrid.k8s.io/sig-release-1.18-informi

[2020-03-24 20:01] onlydole commented on #320
Talking more with @tpepper, we need to focus on two primary paths:

1. Release team side of things (or triage or CI signal, review/approver/OWNER, etc): put guidance in the role handbooks so they can operationalize what’s expected of their role

2. PR / cherry pick submitter: put guidance in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md so they

[2020-03-25 12:01] cpanato commented on #1032
### Testgrid dashboards for 1.18 for Wed, 2020-03-24
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-03-25 12:00:08+0000</tt> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-release-

[2020-03-25 20:51] cpanato commented on #1032
/priority important-soon

[2020-03-25 20:53] palnabarun commented on #809
/remove-lifecycle stale

[2020-03-25 21:36] cpanato commented on #1032
all work done and 1.18.0 is released

/close

[2020-03-25 21:37] #1032 closed

[2020-03-26 01:30] justaugustus opened #1036 "Cut 1.19.0-alpha.1 release"
## Scheduled to happen: Wed, 2020-03-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1585186787000700)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Se

[2020-03-26 01:32] justaugustus commented on #1036
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-03-25 21:24:59-0400</tt> FAILING sig-release-master-informing#capa-conformance-stable-k8s-master <a href="https://testgrid.k8s.io/sig-rel

[2020-03-27 23:25] karenhchu commented on #1024
I'd say CNCF usually appreciates a week's notice, given they have to coordinate with press/analyst and work with an embargo.

While we're at this, we should update information around the feature blogs as well:

- Week 9: Code Freeze is usually around then so we should start feature blog drafts then.

- Week 12: Finalize feature blogs

- Week 13: Publish feature blogs

Otherwise, your changes LGTM.

[2020-03-28 10:32] mkorbi commented on #1024
definitely, added it to the draft PR

[2020-03-31 08:58] windayski opened #1039 "Broken link：Branch-based links in projects are more likely to fail"
There are some broken links in this project. Most of them are caused by links based on branches. If the branch is deleted, the links break. So I suggest the links in this project should based on specific commit.

[2020-04-02 02:13] alejandrox1 commented on #933
Time to off-board me (mostly) :crying_cat_face:

[2020-04-02 15:14] alejandrox1 opened #1040 "Playbook for communications between release team and contributors"
The last wee of the 1.18 release presented the release team with interesting scenarios that we had not completely planned for.
There were a handful of cherry picks into 1.18 that were done past the cherry-pick deadline for 1.18 and these all presented potential delays for the release of 1.18.
One of these issues was actually discovered the day of the release and led to a one day delay of the relea

[2020-04-02 17:23] justaugustus commented on #1024
Two suggestions:
- Get the Communications + Enhancements team leads in front of SIG Chairs/TLs in the SIG Leads monthly meeting about expectations
- Have the Communications team sync w/ Enhancements team close to Enhancements Freeze to get a pulse on what's hot for the release. Gives an extra month to work through this.

[2020-04-06 19:03] hasheddan opened #1041 "Release Manager access for @hasheddan"
### GitHub Username

@hasheddan

### [Release Manager](/release-managers.md) role

Branch Manager

### Tenure

permanent

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering subproject owner.**

- [x] Addition of a new Release Manager has been discussed with and approved by Rel

[2020-04-06 19:04] hasheddan commented on #1041
I've read the [Security Release Process](https://git.k8s.io/security/security-release-process.md) and I agree to uphold it and the security embargo.

[2020-04-08 15:05] justaugustus opened #1045 "Cut 1.18.1 release"
## Scheduled to happen: Wed, 2020-04-08

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [ ] Send notification [email](https://li

[2020-04-08 15:05] justaugustus commented on #1045
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-04-08 11:02:26-0400</tt> FAILING sig-release-1.18-blocking#node-kubelet-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-blocking#node-kubele

[2020-04-09 23:13] markyjackson-taulia opened #1047 "Release Manager access for @Verolop @markyjackson-taulia"
### GitHub Username

@Verolop
@markyjackson-taulia

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- permanent: @Verolop & @markyjackson-taulia will be joining the team permanetly

### Release Manager Onboarding

**All pull requests within these checklists should be marked with an _explicit_ hold and only released once approved by a Release Engineering sub

[2020-04-10 01:49] jeremyrickard commented on #1047
👏

[2020-04-10 04:24] spiffxp commented on #966
I still feel like this is an attempt to reinvent sig-testing as a sig-release subproject, and remain unconvinced that's a better idea than just coming over to sig-testing and rallying around tools that would solve some of these issues.

[2020-04-10 05:02] spiffxp commented on #486
/sig architecture
@neolit123 is picking this topic up in the context of kubeadm
- https://groups.google.com/forum/#!topic/kubernetes-sig-testing/jrqTS1BDo0g
- https://docs.google.com/presentation/d/1Utf8NgLZTrS8FmVoU6dZN3siewjGOwvTmFcsJ6vgQLI/edit#slide=id.p

[2020-04-10 08:27] cpanato commented on #1047
+1000

[2020-04-10 10:27] mkorbi commented on #1024
please see latest commit on https://github.com/kubernetes/sig-release/pull/1037

[2020-04-10 11:58] LappleApple commented on #915
Hiya, if the RT group wants some support on retrospective facilitation and meeting moderation I can either point you to some resources or even run a short retro facilitation session with some of you. If one of your goals is to make retros and similar meetings/exercises more inclusive, there are some lightweight steps you can take to achieve that. LMK if you'd either like some resources on this top

[2020-04-10 21:06] mkorbi commented on #1024
/close
https://github.com/kubernetes/sig-release/pull/1037 got merged

[2020-04-10 21:07] #1024 closed

[2020-04-11 23:08] justaugustus commented on #933
Offboarding for @alejandrox1 started here: https://github.com/kubernetes/org/pull/1785

[2020-04-12 03:39] justaugustus commented on #933
Will be closed via https://github.com/kubernetes/k8s.io/pull/742.

[2020-04-12 03:40] justaugustus commented on #933
/close

[2020-04-12 03:40] #933 closed

[2020-04-12 03:42] justaugustus commented on #1047
Will be closed via https://github.com/kubernetes/k8s.io/pull/742.
/close

[2020-04-12 03:43] #1047 closed

[2020-04-12 07:06] sbueringer commented on #829
@justaugustus @dims @alejandroEsc

OpenStack tests are mostly working now. They are run twice a day against Kubernetes master: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-openstack#capo-conformance-stable-k8s-master

The only remaining issue is that if they are executed on the wrong OpenLab cluster they don't work. There seems to be a difference in the used CPU (for more det

[2020-04-13 21:13] justaugustus opened #1050 "Private Slack channel for Release Team Lead communications"
#### What would you like to be added:

`#release-team-leads` channel in Kubernetes Slack with the following members:
- @onlydole (1.19 RT Lead)
- @mrbobbytables (1.19 RT Lead Shadow)
- @jeremyrickard (1.19 RT Lead Shadow)
- @tpepper (subproject owner)
- @justaugustus (subproject owner)

#### Why is this needed:

Throughout the release cycle, we have a feedback loop between the RT Lead(s) and SIG C

[2020-04-13 21:36] jeefy commented on #1050
-1 from a Slack Admin. After some discussion, here are our problems (of varying degrees):

1. How is the release lead team different from any other team in the release process?
2. How much discussion amongst leads is really sensitive in nature?
3. What happens when a team rotates out and a new team rotates in and can see the previous teams' technically privileged conversations?

This is a case whe

[2020-04-13 21:45] alejandrox1 commented on #1050
We discussed this with the idea that having a private channel for release lead, lead shadows, and sig chairs would replace the large group DM that is usually done.
In practice this would imply that at the beginning of a new cycle there is still work to be done adding and removing people from the private channel would be a similar amount of work as recreating group DMs.

As mentioned in the bullet

[2020-04-14 00:06] spiffxp commented on #829
They're considered stale after `num_columns_recent`

https://github.com/kubernetes/test-infra/blob/master/testgrid/config.md#what-counts-as-recent

If you're not explicitly setting that value, the defaults are here https://github.com/kubernetes/test-infra/blob/master/config/testgrids/default.yaml

So you should only have to wait 10 runs

[2020-04-14 09:00] aojea commented on #829
I'm sorry but these CAPO jobs do not seem to test non-syntethic clusters, checking at the jobs and looking at the issue https://github.com/theopenlab/openlab/issues/504

The test does everything in a fully virtualized environment, that's ok for e2e tests, but the goal of this issue is to provide a signal on real environments. In this case, the test should create clusters on the `OpenStack from Cit

[2020-04-14 16:54] sbueringer commented on #829
@aojea Oh yes you're right. I'm installing Devstack and then a OpenStack cluster inside of devstack. So basically one layer of virtualization more and only a development distro of OpenStack. I had to use devstack because CityNetwork doesn't provide the OpenStack LBaaS API.

[2020-04-14 17:32] aojea commented on #829
Just for clarification and to avoid misunderstandings, that's perfectly fine for e2e testing, ... , just that it is not the signal that this specific issue is looking for :sweat_smile:

[2020-04-14 17:33] sbueringer commented on #829
@aojea yup got it 😃

[2020-04-14 18:12] justaugustus commented on #1041
Will be closed in https://github.com/kubernetes/test-infra/pull/17204.
/close

[2020-04-14 18:12] #1041 closed

[2020-04-15 01:18] #458 closed

[2020-04-16 08:41] saschagrunert commented on #1045
@justaugustus can we close this issue?

[2020-04-16 08:44] cpanato opened #1051 "Cut 1.15.12 release"
## Scheduled to happen: Thu, 2020-04-16

- [ ] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1587026777055100)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [ ]

[2020-04-16 08:45] cpanato commented on #1051
/priority important-soon

[2020-04-16 08:48] cpanato opened #1052 "Cut 1.16.9 release"
## Scheduled to happen: Thu, 2020-04-16

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1587026910056500)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-04-16 08:49] cpanato opened #1053 "Cut 1.17.5 release"
## Scheduled to happen: Thu, 2020-04-16

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1587027010057400)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-04-16 08:50] cpanato commented on #1051
/milestone v1.15

[2020-04-16 08:51] cpanato commented on #1052
/milestone v1.16

[2020-04-16 08:51] cpanato commented on #1053
/milestone v1.17

[2020-04-16 08:52] cpanato opened #1054 "Cut 1.18.2 release"
## Scheduled to happen: Thu, 2020-04-16

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1587027177059700)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-04-16 09:11] cpanato commented on #1051
### Testgrid dashboards for 1.15
Boards checked for FAILING:
- [sig-release-1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking)
- [sig-release-1.15-informing](https://testgrid.k8s.io/sig-release-1.15-informing)

<details><summary><tt>2020-04-16 09:11:44+0000</tt> FAILING sig-release-1.15-blocking#node-kubelet-1.15 <a href="https://testgrid.k8s.io/sig-release-1.15-blocking#node-kubele

[2020-04-16 09:18] cpanato commented on #1052
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-04-16 09:17:29+0000</tt> FAILING sig-release-1.16-blocking#gce-cos-k8sstable2-alphafeatures <a href="https://testgrid.k8s.io/sig-release-1.16-block

[2020-04-16 09:21] cpanato commented on #1053
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-04-16 09:21:25+0000</tt> FAILING sig-release-1.17-blocking#node-kubelet-1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-blocking#node-kubele

[2020-04-16 09:22] cpanato commented on #1054
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-04-16 09:21:50+0000</tt> FAILING sig-release-1.18-blocking#node-kubelet-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-blocking#node-kubele

[2020-04-16 09:22] cpanato commented on #1054
/assing @hasheddan

[2020-04-16 09:22] cpanato commented on #1053
/assign @saschagrunert

[2020-04-16 09:23] cpanato commented on #1054
/assign @hasheddan

[2020-04-16 09:23] cpanato commented on #1053
/assign @saschagrunert

[2020-04-16 12:06] cpanato commented on #1051
/kind feature

[2020-04-16 12:06] cpanato commented on #1052
/kind feature

[2020-04-16 12:06] cpanato commented on #1053
/kind feature

[2020-04-16 12:06] cpanato commented on #1054
/kind feature

[2020-04-16 22:07] tpepper commented on #1051
There was a staging issue and @justaugustus is going to resolve.

[2020-04-19 02:22] alejandrox1 commented on #966
Think that is a really good concern to have as we (all community) get to discuss more on this idea.
I think a ci signal subproject should be about having a "release team" that will coordinate with other sigs around around CI.
Possibly go beyond sig-release master-blocking and informing dashboards and also help with everything in testgrid. Help ensure it is all maintained, up-to-date, being looked

[2020-04-20 07:20] cpanato commented on #1054
Kubernetes `1.18.2` released

/close

[2020-04-20 07:20] #1054 closed

[2020-04-20 07:21] cpanato commented on #1053
Kubernetes `1.17.5` released

/close

[2020-04-20 07:21] #1053 closed

[2020-04-20 07:22] cpanato commented on #1052
Kubernetes `1.16.9` released

/close

[2020-04-20 07:22] #1052 closed

[2020-04-21 17:08] hasheddan opened #1059 "Cut 1.19.0-alpha.2 release"
## Scheduled to happen: Wed, 2020-04-21

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1587488987190200)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x] Send notification [email](https://groups.google.com/forum/#!topic/kubernetes-announc

[2020-04-21 17:16] hasheddan commented on #1059
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-04-21 12:15:55-0500</tt> FAILING sig-release-master-informing#gce-windows-1909-master <a href="https://testgrid.k8s.io/sig-release-master

[2020-04-21 20:45] gianarb commented on #1009
Hello!

I am reporting here a conversation started over Slack. I like the idea to automate part of the bug triage recurrent workload but I think we have to be very careful about what and how because even if it looks repetitive to ping containers and contributors over and over an aseptic robotic message will not transmit the right message to maintainers and contributors working on their code. But I

[2020-04-22 14:52] cpanato commented on #1059
/kind feature
/priority importan-soon

[2020-04-22 14:56] saschagrunert commented on #1059
This can be closed, right?

[2020-04-22 15:14] markyjackson-taulia commented on #1059
We just went over this and I think it can be closed
/priority important-soon

[2020-04-22 15:14] cpanato commented on #1059
yes, i need to update one link that i saw is not updated, one sec @saschagrunert

/priority important-soon

[2020-04-22 15:15] hasheddan commented on #1059
Ah thanks for catching that @cpanato!

[2020-04-22 15:16] cpanato commented on #1059
ok, email link updated

we can close

/close

[2020-04-22 15:16] #1059 closed

[2020-04-25 17:09] xmudrii opened #1069 "Review of the Release Engineering backlog"
In the search for something to work on, I've gone through the [Release Engineering backlog](https://github.com/orgs/kubernetes/projects/30#column-5196854). However, I've noticed a couple of issues that:
* haven't been updated for a long time
* are stale or rotten and close to being closed by the bot

Some of those issues are potentially not relevant anymore (as things are changing quite fast nowad

[2020-04-25 17:12] xmudrii commented on #1069
I'll try to label the issue, please fix it if I make some mistake.

/sig release
/area release-eng
/kind cleanup

I'd say that priority is important-soon, but I'd leave it on @justaugustus or someone else with more experience.

[2020-04-25 23:50] justaugustus commented on #987
Closed w/ https://github.com/kubernetes/sig-release/pull/1070.
/close

[2020-04-25 23:50] #987 closed

[2020-04-26 06:13] justaugustus commented on #898
This is complete and I AM is documented here: https://github.com/kubernetes/sig-release/blob/master/release-engineering/gcp.md

/close

[2020-04-26 06:13] #898 closed

[2020-04-26 06:14] justaugustus commented on #897
This is complete and IAM is documented here: https://github.com/kubernetes/sig-release/blob/master/release-engineering/gcp.md

/close

[2020-04-26 06:15] #897 closed

[2020-04-28 15:05] markyjackson-taulia commented on #1069
Awesome work @xmudrii I will ping you to help

[2020-04-28 16:18] markyjackson-taulia opened #1073 "Continue investigating triage-party for use within the release team"
#### What would you like to be added:
Continue investigating triage-party for use within the release team
#### Why is this needed:
This tool will help with timely triaging as well and the bug-triage team during the release cycle.
@markyjackson-taulia did a presentation with @tstromberg during the release SIG meeting on 4/28/2020

[2020-04-28 16:18] markyjackson-taulia commented on #1073
/assign @markyjackson-taulia

[2020-04-29 05:50] nikhita commented on #223
/lifecycle frozen

On Wed, Apr 29, 2020 at 11:16 AM fejta-bot <notifications@github.com> wrote:

[2020-04-30 10:20] Conan-Kudo commented on #1069
From @xmudrii:

Depends on how you judge popularity. If you're judging it by contributions on GitHub, it's probably not considered very popular.

However, it is used by a fair number of projects, such as Microsoft's Linux [`procdump`](https://github.com/microsoft/ProcDump-for-Linux), Red Hat's [Spacewalk project](https://github.com/spacewalkproject/spacewalk/tree/master/client/debian), Fedora's [C

[2020-04-30 23:30] justaugustus commented on #486
As an incremental step forward, I've added a `tracked/out-of-tree` label to k/enhancements, which can be used by the @kubernetes/release-team when an enhancement is out-of-tree and doesn't need to be tracked by the team.

ref: https://github.com/kubernetes/test-infra/pull/17473

[2020-05-01 09:49] cpanato opened #1075 "Release Manager access for markyjackson-taulia"
### GitHub Username
@markyjackson-taulia

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Marky is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `1.19.0-alpha.3` release is cut.

temporary

### Release Manager Onboarding

**All pull requests within t

[2020-05-01 09:51] cpanato commented on #1075
/priority important-soon

[2020-05-01 09:51] cpanato commented on #1075
/kind feature
:)

[2020-05-01 13:57] markyjackson-taulia opened #1076 "Cut 1.19.0-alpha.3 release"
## Scheduled to happen:
Scheduled to happen: Tues, 2020-05-5

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1588688586206600)

  - [x] Collect metrics and add them to the `Release step

[2020-05-01 15:05] cpanato commented on #1076
/milestone v1.19

[2020-05-04 21:41] jberkus commented on #774
@alejandrox1 @justaugustus are we going to do anything about this?

[2020-05-05 12:18] justaugustus commented on #1051
I have fixes being tested here: https://github.com/kubernetes/release/pull/1258, https://github.com/kubernetes/kubernetes/pull/90760

[2020-05-05 14:28] markyjackson-taulia commented on #1076
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-05-05 14:27:10+0000</tt> FAILING sig-release-master-informing#gce-windows-1909-master <a href="https://testgrid.k8s.io/sig-release-master

[2020-05-05 15:40] cpanato commented on #1045
@justaugustus are you planning to update the issue? or we can close this?

[2020-05-05 15:42] justaugustus commented on #1045
Will close this today.

[2020-05-05 18:36] markyjackson-taulia commented on #1076
This has baked a few hours, going to close it

/close

[2020-05-05 18:36] #1076 closed

[2020-05-06 08:47] cpanato commented on #1075
release complete
/close

[2020-05-06 08:47] #1075 closed

[2020-05-07 02:52] #804 closed

[2020-05-07 02:52] #878 closed

[2020-05-07 02:52] #390 closed

[2020-05-07 02:52] #626 closed

[2020-05-07 02:52] #680 closed

[2020-05-07 02:52] #636 closed

[2020-05-07 02:52] #695 closed

[2020-05-07 04:54] #611 closed

[2020-05-07 07:57] #901 closed

[2020-05-07 20:52] xmudrii commented on #907
@alejandrox1 This issue is in the v1.18 milestone. Should we move it away to v1.19 or clear the milestone?

[2020-05-08 09:27] droslean commented on #907
/milestone clear
milestone v1.19

[2020-05-08 09:27] droslean commented on #907
/milestone v1.19

[2020-05-08 22:13] hasheddan opened #1082 "Assign Failing and Flaky Tests to CI Signal Team Members"
The volume of issues opened by the CI Signal team can often be quite large, especially in the later parts of a release cycle. Triaging these issues requires both a CI Signal team member investigating and a member of the appropriate SIG addressing. As a distributed team, it can be difficult for the CI Signal team to know who exactly is owning reaching out to SIGs about issues and tracking them to c

[2020-05-08 22:14] hasheddan commented on #1082
/assign

[2020-05-08 22:14] hasheddan commented on #1082
/priority important-soon

[2020-05-11 18:00] xmudrii commented on #1069
The last time I've gone through the unassigned issues in the backlog. After the positive feedback, I've decided to go through all issues in the backlog.

Right now, there are 28 issues in the backlog. Just like the last time, I've highlighted some relevant issues and proposed the action. I haven't mentioned some issues that are newly added or work-in-progress.

## Issues in the v1.18 milestone

Th

[2020-05-11 18:42] markyjackson-taulia commented on #1073
priority/important-soon

[2020-05-11 18:42] markyjackson-taulia commented on #1073
/priority important-soon

[2020-05-11 18:43] markyjackson-taulia commented on #1073
@Verolop @xmudrii We can track our work with this issue and breakout where needed

[2020-05-11 18:45] markyjackson-taulia commented on #1073
Task breakout meeting set for 5/15. Working doc is here: https://docs.google.com/document/d/1p9XYRMT2dmIYBZxM9OwINjeRAGo5BwUeqZ8VTkklb0A/edit?usp=sharing

[2020-05-11 18:56] xmudrii commented on #1069
I've noticed that the number of issues in the backlog and other columns has got decreased compared to the last week. I've gone through the project activity and collected all issues that got closed by the bot in the last couple of days. I thought this might be useful, so we don't lose potentially relevant issues.

## Backlog issues that got closed recently

### Candidates for reopening

All those i

[2020-05-12 16:05] alejandrox1 commented on #966
Alternative to this, shot the idea over to SIG contribex or steering so they can bubble the ide to SIGs.
SIG node actually just started their own version of "CI sginal for SIG Node".
/cc @dims
'cas I saw Dims at the meeting yesterday :smile:

[2020-05-13 17:44] jberkus commented on #966
I'm not sure about the pro/con for this, but do not think it's a good idea to go ahead without the support of sig-testing.

[2020-05-14 15:42] #1082 closed

[2020-05-15 03:12] alejandrox1 commented on #1040
ping @onlydole :waffle:

[2020-05-15 17:00] LappleApple commented on #486
Heya, lots of great points and perspectives made here. With that in mind, is it possible to identify what the general goals and next action items might be?

[2020-05-15 17:14] andrewsykim commented on #486
Worth noting that we have a current proposal for this topic w.r.t external cloud providers https://github.com/kubernetes/enhancements/pull/1727

[2020-05-15 19:13] LappleApple commented on #539
Hi, with this issue partially acted upon via #17473, what might be the remaining unresolved questions/to-do's on this issue?

[2020-05-18 11:42] cpanato opened #1089 "Cut 1.19.0-beta.0 release"
## Scheduled to happen: Tue, 2020-05-19

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1589887799251500)

  - [x] Collect metrics and add them to the `Release steps` table below

- [ ]

[2020-05-18 14:55] #910 closed

[2020-05-19 11:35] cpanato commented on #1089
Testgrid is reporting issues for more context: https://github.com/kubernetes/kubernetes/issues/91242

[2020-05-19 11:35] cpanato commented on #1089
### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-05-19 11:34:08+0000</tt> FAILING sig-release-master-blocking#Conformance - GCE - master <a href="https://testgrid.k8s.io/sig-release-mast

[2020-05-20 09:54] saschagrunert commented on #1089
I think this can be closed @cpanato

[2020-05-20 09:56] saschagrunert opened #1092 "Cut 1.18.3 release"
## Scheduled to happen: Wed, 2019-05-20

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)
  - [x] Collect metrics and add them to the `Release steps` table below
- [ ] Send notification [email](https://link

[2020-05-20 10:02] saschagrunert commented on #1092
/milestone v1.19

[2020-05-20 10:14] saschagrunert commented on #1092
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-05-20 12:13:43+0200</tt> FAILING sig-release-1.18-informing#aks-engine-azure-1-18-windows <a href="https://testgrid.k8s.io/sig-release-1.18-informi

[2020-05-20 10:22] cpanato commented on #1089
yes! @saschagrunert
/close

[2020-05-20 10:22] #1089 closed

[2020-05-20 10:41] cpanato opened #1093 "Cut 1.17.6 release"
## Scheduled to happen: Wed, 2019-05-20

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1589971551280700)
  - [x] Collect metrics and add them to the `Release steps` table below
  - [x]

[2020-05-20 10:48] hasheddan opened #1094 "Cut 1.16.10 release"
## Scheduled to happen:

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1589971778281700)

  - [x] Collect metrics and add them to the `Release steps` table below
  - [x] Build & publish

[2020-05-20 11:06] cpanato commented on #1093
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-05-20 11:06:27+0000</tt> FAILING sig-release-1.17-blocking#gce-cos-k8sstable1-reboot <a href="https://testgrid.k8s.io/sig-release-1.17-blocking#gce

[2020-05-20 11:32] hasheddan commented on #1094
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-05-20 06:32:06-0500</tt> FAILING sig-release-1.16-informing#gce-windows-1.16 <a href="https://testgrid.k8s.io/sig-release-1.16-informing#gce-window

[2020-05-20 15:21] cpanato commented on #718
/assign

[2020-05-20 18:59] aermakov-zalando commented on #1093
The checksums in the email announcement are different from those on GitHub. For example, `kubernetes-server-linux-amd64.tar.gz` is listed with `9bb0475d0fd577ea1885ea7e8dc04f414a63f6550acf5a5524a69ece13f7ee7d2a2b4f624cc28217e37c180e04226372b833c0ba9f9105db01d13bbf25e2edc9` in the email announcement, but the actual checksum (and the one included in the changelog on GH) is `aea400c0debb56417d113fa73

[2020-05-20 21:23] markyjackson-taulia commented on #1073
My apologies for not updating this issue in a timely manner.
@Verolop @xmudrii and I met on Monday to cover the tasks at hand. The doc here has been updated to reflect those items: https://docs.google.com/document/d/1p9XYRMT2dmIYBZxM9OwINjeRAGo5BwUeqZ8VTkklb0A/edit?usp=sharing

[2020-05-20 21:27] justaugustus commented on #1073
Keep up the great work!

[2020-05-21 09:28] saschagrunert commented on #1092
The release is now done.

[2020-05-21 09:28] #1092 closed

[2020-05-21 10:34] cpanato commented on #1093
thanks for the catch. I will take a look on that, but maybe is an issue in the announcement

[2020-05-21 11:20] cpanato commented on #1093
sent the correct one

[2020-05-21 11:20] cpanato commented on #1093
release is out
/close

[2020-05-21 11:20] #1093 closed

[2020-05-21 11:58] cpanato opened #1095 "Announcement of 1.17.6 was wrong with wrong SHAs"
#### What happened:
The announcement posted for release 1.17.6 see the [email](https://groups.google.com/d/msg/kubernetes-announce/EFxDXgiMLR0/kn8YY_AnAwAJ) was send with the wrong SHAs which mismatch the SHAs we can find in the [GitHub release](https://github.com/kubernetes/kubernetes/releases/tag/v1.17.6)

The issue was identified and post here: https://github.com/kubernetes/sig-release/issues/1

[2020-05-21 12:04] cpanato commented on #1095
After an investigation, figured out the issue:

- Instead of copy the announce from the `gs://kubernetes-release/archive/anago-v1.17.6/announcement.html` I copied by mistake from `gs://kubernetes-release-gcb/archive/anago-v1.17.6/announcement.html` and that generate a mismatch in the SHA

the SHA for `kubernetes.tar.gz` in the wrong announcement is `5cd8f0e0bb3806f975c9209657463d87f01f014c783818a3

[2020-05-21 12:08] hasheddan commented on #1095
@cpanato this seems like a very easy mistake to make and something we should help alleviate with tooling :) I know I personally do not use the `release-notify` tool and generally copy paste from the links as you do. I think the fix here is to make the notification tool a better experience such that folks running releases don't opt for copy / pasting instead of using it :+1:

[2020-05-21 12:23] justaugustus commented on #1095
Agreed that there's something to be desired in the current workflow.
I think different results are produced for `release-notify` if you use the `--nomock` flag.

Echoing @hasheddan, mistakes happen, so don't beat yourself up!
The concern here was the potential that the artifacts has had been tampered with, so I'm glad that's cleared up.

@cpanato -- Please send a follow-up email to the 1.17 announ

[2020-05-21 13:45] cpanato commented on #718
/assign

[2020-05-21 14:17] LappleApple commented on #1040
Hi, I'm wondering if diagramming this first instead of writing it out in narrative format could be simpler and user-friendlier? @saschagrunert has been working on some great diagrams, and he and I (and other RT members) have been talking about how diagramming the release team "Happy Path" could be very valuable for clarifying key processes and workflows. This issue focuses on a critical aspect of

[2020-05-21 16:14] cpanato commented on #1095
email sent out
/close

[2020-05-21 16:14] #1095 closed

[2020-05-21 17:00] jwatte commented on #1095
Does the `kubernetes-release-gcb` root really need to have a name that's so close to `kubernetes-release`?
"Next time I will try better" is not an actionable outcome, compared to making the mistake less likely to happen.

[2020-05-21 18:13] justaugustus commented on #1095
@jwatte -- I'm not sure that your feedback is especially helpful in a situation where someone made a mistake.

Here's what I've observed:
- A problem was reported
- The team responsible acknowledged the problem on a public mailing list and filed this issue to track
- We determined that the wrong announcement template was used to send the email
- A correction to the initial announcement was issued

[2020-05-22 14:56] LappleApple commented on #806
Hiya, checking in on the status of these items -- any more boxes to check?

[2020-05-23 16:45] justaugustus commented on #245
PR to bundle CNI plugins in the kubelet apt/yum packages: https://github.com/kubernetes/release/pull/1309

[2020-05-28 10:14] ameukam commented on #1073
@Verolop @xmudrii FYI: https://github.com/kubernetes/k8s.io/issues/906

[2020-05-28 15:19] LappleApple commented on #925
Hi, was there any feedback? Otherwise, can close?

[2020-06-01 16:07] cpanato commented on #1051
@justaugustus can we close this? or have any open issues?

[2020-06-01 16:12] cpanato opened #1100 "Release Manager access for Verolop"
### GitHub Username

@Verolop

### [Release Manager](/release-managers.md) role

Release Manager Associate

### Tenure

- temporary: Veronica is a Release Manager Associate being granted temporary elevated access to execute the Branch Management role. Access should be revoked after the `1.19.0-beta.1` release is cut.

temporary

### Release Manager Onboarding

**All pull requests within these chec

[2020-06-01 16:37] cpanato commented on #1100
/assign

[2020-06-02 22:59] Verolop opened #1102 "Cut 1.19.0-beta.1 release"
## Scheduled to happen: Tue, 2019-02-26

- [ ] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)
  - [ ] Collect metrics and add them to the `Release steps` table below
- [ ] Send notification [email](https://link

[2020-06-03 08:34] cpanato commented on #1102
/milestone v1.19

[2020-06-04 15:39] cpanato commented on #1100
release 1.19.0-beta.1 is out closing this issue
/close

[2020-06-04 15:39] #1100 closed

[2020-06-04 17:57] Verolop opened #1105 "Cut 1.x.y-{alpha,beta,rc}.z release"
## Scheduled to happen:

- [ ] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [ ] Stage & release
  - [ ] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://link-to-slack-message)

  - [ ] Collect metrics and add them to the `Release steps` table below

- [ ] Send notification [email](https://link-to-email-on-

[2020-06-04 17:58] #1105 closed

[2020-06-04 20:30] cpanato commented on #1094
@hasheddan can we close this or there are any open issues or actions?

[2020-06-04 20:31] hasheddan commented on #1094
@cpanato yep we can close!

/close

[2020-06-04 20:31] #1094 closed

[2020-06-08 13:29] cpanato commented on #718
/reopen because we still have one PR open

[2020-06-08 21:42] #890 closed

[2020-06-10 13:14] cpanato opened #1111 "Cut 1.19.0-beta.2 release"
## Scheduled to happen: Tue, 2020-06-09 -> 2020-06-10

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1591794999379400)

  - [x] Collect metrics and add them to the `Release steps` tabl

[2020-06-11 22:52] #953 closed

[2020-06-12 11:27] cpanato commented on #1111
#### From `2020-06-12`

### Testgrid dashboards for master
Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2020-06-12 11:27:22+0000</tt> FAILING sig-release-master-blocking#gce-device-plugin-gpu-master <a href="https://testgr

[2020-06-12 14:36] droslean commented on #1009
/cc @kubernetes/sig-testing
@spiffxp Do you think that a prow plugin can manage this?

[2020-06-13 15:45] cpanato commented on #1111
release is out
/close

[2020-06-13 15:45] #1111 closed

[2020-06-14 21:01] #819 closed

[2020-06-17 08:55] saschagrunert opened #1117 "Cut 1.16.11 release"
## Scheduled to happen: Tue, 2020-06-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1592385667452000)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-06-17 08:55] saschagrunert opened #1118 "Cut 1.17.7 release"
## Scheduled to happen: Tue, 2020-06-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1592385602450900)
  - [x] Collect metrics and add them to the `Release steps` table below
- [x] Send notification [email](https://groups.google.com/forum/#!topic/kuber

[2020-06-17 08:56] saschagrunert opened #1119 "Cut 1.18.4 release"
## Scheduled to happen: Tue, 2020-06-17

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1592385732452600)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-06-17 09:03] cpanato commented on #1117
/assign

[2020-06-17 09:04] cpanato commented on #1119
/kind feature
/priority important-soon

[2020-06-17 09:04] cpanato commented on #1118
/kind feature
/priority important-soon

[2020-06-17 09:04] cpanato commented on #1117
/kind feature
/priority important-soon

[2020-06-17 09:05] saschagrunert commented on #1118
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-06-17 11:05:38+0200</tt> FAILING sig-release-1.17-informing#aks-engine-azure-1-17-windows <a href="https://testgrid.k8s.io/sig-release-1.17-informi

[2020-06-17 09:17] saschagrunert commented on #1119
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-06-17 11:17:06+0200</tt> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-w

[2020-06-17 09:17] cpanato commented on #1119
/assign

[2020-06-17 09:20] cpanato commented on #1117
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-06-17 09:19:24+0000</tt> FAILING sig-release-1.16-informing#gce-cos-k8sstable2-serial <a href="https://testgrid.k8s.io/sig-release-1.16-informing#g

[2020-06-17 15:10] jeremyrickard commented on #857
/remove-lifecycle rotten

[2020-06-17 16:09] LappleApple commented on #857
Noting that we've been talking about this topic during the RT prioritisation sessions but I'm only now becoming aware of this particular issue. I've added it to my spreadsheet but we might be able to combine it with another enhancements-tracking issue.

[2020-06-17 16:23] tpepper commented on #1119
It looks like we had a GitHub error while doing git push (their status shows degraded right around when we were doing the release step and our git push failed), but managed to push tags.  Which then causes a re-run of anago to fail.

[2020-06-17 18:52] tpepper commented on #1119
Looks like the failure in pushing was to the mainline 1.18 changelog file.  If we kludge our way through completing the 1.18.4 release, we need to follow still with a cherry-pick from release-1.18 branch to master branch of  this commit: https://github.com/kubernetes/kubernetes/commit/2ff66c4524da7ac61bc9938e5014534c67ebda96#diff-d14219dbfcc3b857ed6c5d3ac3a17fda

[2020-06-17 19:37] tpepper commented on #1119
Turns out the master pushing portion wasn't supposed to happen earlier and did succeed just now during our hacked retries.

[2020-06-18 11:43] saschagrunert commented on #1118
/close
this is one

[2020-06-18 11:43] #1118 closed

[2020-06-18 16:10] cpanato commented on #1117
this work is done
/close

[2020-06-18 16:10] #1117 closed

[2020-06-18 17:47] vielmetti commented on #1039
@windayski can you give a specific example of a broken link in this project that's associated with a deleted branch?

[2020-06-19 09:25] cpanato commented on #1119
the `metrics section` was updated using this command that is in PR: https://github.com/kubernetes/release/pull/1369

[2020-06-19 09:31] cpanato commented on #1119
release is out
/close

[2020-06-19 09:31] #1119 closed

[2020-06-20 08:35] LappleApple commented on #1009
@droslean Might be what @sayanchowdhury was getting at during our recent release team prioritisation sessions, with this comment: "Should consider if we can have a prow plugin for this. The cost should be low and prow plugins are easy to implement."

[2020-06-20 14:53] LappleApple commented on #571
Hi, can this be closed?

[2020-06-20 15:20] LappleApple commented on #877
This topic came up as a priority during the recent RT prioritization sessions around process improvements. One breakout group expressed strong interest in having at least one session (~45 mins) to resolve this topic as well as a related one: establishing continuity of work once a RT disbands, to ensure functioning/proper handoffs (+h/t @justaugustus, who also brought this up in a chat recently.)

[2020-06-20 15:28] LappleApple commented on #877
cc @palnabarun @divya-mohan0209 @bai @mkorbi @harshanarayana, as you noted during the prioritisation breakouts that we should prioritise this item

[2020-06-21 18:51] markyjackson-taulia commented on #1031
I think this can be closed

[2020-06-21 18:51] markyjackson-taulia commented on #1031
/close

[2020-06-21 18:51] #1031 closed

[2020-06-22 06:49] wojtek-t commented on #908
/remove-lifecycle stale

I would like us to get there, but we won't in 1.19 timeframe. Hopefully 1.20...

[2020-06-24 09:02] saschagrunert commented on #1036
I think we can
/close
this one.

[2020-06-24 09:02] #1036 closed

[2020-06-25 10:56] LappleApple commented on #912
In our release team process-improvement prioritisation sessions a few folks mentioned taking a closer look at the general RT onboarding process and make some adjustments. Maybe we can try to do that broader review of onboarding, create an initiative for it, and include this item as a to-do of that initiative?

[2020-06-25 14:34] cpanato opened #1124 "Cut 1.18.5-rc.1 release"
## Scheduled to happen:  Thu, 2020-06-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1593096095069800)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x

[2020-06-25 14:35] cpanato opened #1125 "Cut 1.17.8-rc.1 release"
## Scheduled to happen: Thu, 2020-06-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification]https://kubernetes.slack.com/archives/CJH2GBF7Y/p1593096048069200)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-06-25 14:36] cpanato opened #1126 "Cut 1.16.12-rc.1 release"
## Scheduled to happen: Thu, 2020-06-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment

- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1593095981068500)

  - [x] Collect metrics and add them to the `Release steps` table below

- [x]

[2020-06-25 14:37] cpanato commented on #1124
/kind feature
/priority important-soon
/assign @hasheddan

[2020-06-25 14:37] cpanato commented on #1125
/kind feature
/priority important-soon
/assign @hasheddan

[2020-06-25 14:38] cpanato commented on #1126
/kind feature
/priority important-soon
/assign

[2020-06-25 14:50] cpanato commented on #1126
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-06-25 14:50:11+0000</tt> FAILING sig-release-1.16-informing#gce-cos-k8sstable2-serial <a href="https://testgrid.k8s.io/sig-release-1.16-informing#g

[2020-06-25 14:51] hasheddan commented on #1125
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-06-25 09:50:41-0500</tt> FAILING sig-release-1.17-informing#gce-windows-1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-window

[2020-06-25 14:52] hasheddan commented on #1124
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-06-25 09:51:47-0500</tt> FAILING sig-release-1.18-blocking#kind-ipv6-1.18-parallel <a href="https://testgrid.k8s.io/sig-release-1.18-blocking#kind-

[2020-06-25 18:11] hasheddan commented on #1125
release is out :+1:

/close

[2020-06-25 18:11] hasheddan commented on #1124
release is out :+1:

/close

[2020-06-25 18:11] #1125 closed

[2020-06-25 18:11] #1124 closed

[2020-06-26 01:08] hasheddan opened #1129 "Cut 1.16.12 release"
## Scheduled to happen: Tue, 2020-06-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1593133953088200)

  - [x] Collect metrics and add them to the `Release steps` table below
- [x] B

[2020-06-26 01:08] hasheddan opened #1130 "Cut 1.17.8 release"
## Scheduled to happen: Tue, 2020-06-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1593133968088700)

  - [x] Collect metrics and add them to the `Release steps` table below
- [x] B

[2020-06-26 01:09] hasheddan opened #1131 "Cut 1.18.5 release"
## Scheduled to happen: Tue, 2020-06-25

- [x] Screenshot unhealthy release branch testgrid boards and add them as a comment
- [x] Stage & release
  - [x] Notify [#release-management](https://kubernetes.slack.com/messages/CJH2GBF7Y): [see notification](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1593133992089300)

  - [x] Collect metrics and add them to the `Release steps` table below
- [x] B

[2020-06-26 01:11] hasheddan commented on #1129
/kind feature
/priority important-soon
/assign

[2020-06-26 01:11] hasheddan commented on #1130
/kind feature
/priority important-soon
/assign

[2020-06-26 01:11] hasheddan commented on #1131
/kind feature
/priority important-soon
/assign

[2020-06-26 01:14] hasheddan commented on #1129
### Testgrid dashboards for 1.16
Boards checked for FAILING:
- [sig-release-1.16-blocking](https://testgrid.k8s.io/sig-release-1.16-blocking)
- [sig-release-1.16-informing](https://testgrid.k8s.io/sig-release-1.16-informing)

<details><summary><tt>2020-06-25 20:14:00-0500</tt> FAILING sig-release-1.16-informing#gce-cos-k8sstable2-serial <a href="https://testgrid.k8s.io/sig-release-1.16-informing#g

[2020-06-26 01:14] hasheddan commented on #1130
### Testgrid dashboards for 1.17
Boards checked for FAILING:
- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2020-06-25 20:14:36-0500</tt> FAILING sig-release-1.17-informing#gce-windows-1.17 <a href="https://testgrid.k8s.io/sig-release-1.17-informing#gce-window

[2020-06-26 01:15] hasheddan commented on #1131
### Testgrid dashboards for 1.18
Boards checked for FAILING:
- [sig-release-1.18-blocking](https://testgrid.k8s.io/sig-release-1.18-blocking)
- [sig-release-1.18-informing](https://testgrid.k8s.io/sig-release-1.18-informing)

<details><summary><tt>2020-06-25 20:14:59-0500</tt> FAILING sig-release-1.18-informing#gce-windows-1909-1.18 <a href="https://testgrid.k8s.io/sig-release-1.18-informing#gce-w

[2020-06-26 06:26] cpanato commented on #1126
release is out
/close

[2020-06-26 06:27] #1126 closed

[2020-06-26 21:03] hasheddan commented on #1129
release is live

/close

[2020-06-26 21:03] #1129 closed

[2020-06-26 22:19] hasheddan commented on #1130
release is live

/close

[2020-06-26 22:19] #1130 closed

[2020-06-26 22:20] hasheddan commented on #1131
release is live

/close

[2020-06-26 22:20] #1131 closed

[2020-06-28 11:40] justaugustus commented on #924
/remove-lifecycle rotten
/unassign

Leaving Jorge to finish this up.
/assign @alejandrox1

[2020-06-30 18:46] cpanato commented on #1005
/remove-lifecycle rotten
/assign

[2020-06-30 18:46] cpanato commented on #1005
/remove-help

[2020-07-01 06:03] justaugustus commented on #850
PR to support uploading multiple additional version markers in push-build.sh (`ci-kubernetes-build*` jobs): https://github.com/kubernetes/release/pull/1385

[2020-07-01 11:04] cpanato commented on #1005
the current tags we have are: (can [check](https://console.cloud.google.com/cloud-build/builds/164e04db-8574-406e-b85a-c5a907033762;tab=detail?project=kubernetes-release-test) )

Tags:

[code]

phase 1:
- add some new tags like the one proposed in the Issue

phase 2:
- improve the list jobs and maybe create a subcommand to have better control, because today we can just list the last X jobs, no fil

[2020-07-01 11:35] saschagrunert commented on #1005
Sounds good to me, maybe some docs around how to filter for such tags in the Google Cloud Console would be a valuable addition, too?

[2020-07-01 12:08] savitharaghunathan commented on #834
/remove-lifecycle rotten

[2020-07-01 14:41] cpanato commented on #1005
Addendum for phase 1 :)
- add docs for filter for such tags in the Google Cloud Console

thanks @saschagrunert

[2020-07-02 00:01] tpepper commented on #1005
Aha so most of what we'd likely want are there.  Docs on querying sound really important then!